<section class="contact-2018">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/contact-us/">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <section class="contact-2018--hero">
    <section class="contact-2018--hero-wrapper container-2018">
      <h1>Contact Us</h1>
      <h4>We'd love to hear from you!</h4>
    </section>
  </section>
  <section class="contact-2018--body container-2018">
    <section class="contact-2018--body-audience ">
      <span class="contact-content-block">
        <svg>
          <use xlink:href="/assets/contact-svg-icon-defs.svg#contact-mover-icon"></use>
        </svg>
        <span class="contact-txt-block">
          <h2>User Support</h2>
          <p>For questions about your move and your Updater account.</p>
        </span>
      </span>
      <a href="https://help.updater.com" target="_blank" rel="noreferrer noopener">Access help center</a>
    </section>
    <section class="contact-2018--body-audience">
      <span class="contact-content-block">
        <svg>
          <use xlink:href="/assets/contact-svg-icon-defs.svg#contact-existing-client-icon"></use>
        </svg>
        <span class="contact-txt-block">
          <h2>Partner Support</h2>
          <p>For existing partners and clients.</p>
        </span>
      </span>
      <a href="https://updatersuccess.zendesk.com/hc/en-us/requests/new" target="_blank"
        rel="noreferrer noopener">Contact success team</a>
    </section>
    <section class="contact-2018--body-audience">
      <span class="contact-content-block">
        <svg>
          <use xlink:href="/assets/contact-svg-icon-defs.svg#contact-new-business-icon"></use>
        </svg>
        <span class="contact-txt-block">
          <h2>New Partnerships</h2>
          <p>For new business inquiries and partnership opportunities.</p>
        </span>
      </span>
      <a href="https://www.updater.com/businesses#business-products-form">Contact biz dev team</a>
    </section>
  </section>
  <section class="contact-2018--general">
    <section class="contact-2018--general-info container-2018">
      <section class="contact-2018--general-info-block">
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://linkedin.com/company/updater">
              <svg>
                <use xlink:href="/assets/social-svg-icon-defs.svg#svg-linkedin-icon"></use>
              </svg>
              @updater
            </a>
          </li>
          <li>
            <a href="https://facebook.com/updater">
              <svg>
                <use xlink:href="/assets/social-svg-icon-defs.svg#svg-facebook-icon"></use>
              </svg>
              @updater
            </a>
          </li>
          <li>
            <a href="https://twitter.com/updater">
              <svg>
                <use xlink:href="/assets/social-svg-icon-defs.svg#svg-twitter-icon"></use>
              </svg>
              @updater
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/updaterhq/">
              <svg>
                <use xlink:href="/assets/social-svg-icon-defs.svg#svg-instagram-icon"></use>
              </svg>
              @updaterHQ
            </a>
          </li>
        </ul>
      </section>
      <section class="contact-2018--general-info-block">
        <h3>New York HQ</h3>
        <p>19 Union Square West<br>
          12th Floor<br>
          New York, NY 10003<br>
          <a href="https://goo.gl/maps/p23NMzwYN8u" target="_blank" rel="noreferrer noopener">
            <img class="map-pointer"
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1546529720/website/2018-revamp-assets/icons/map-pointer.svg">
            View on the map
          </a>
        </p>

      </section>
    </section>
  </section>
</section>

<script src="/scripts/upd-b-2020-01.min.js"></script>
<script>
  function init() {
    currentNav('About'); // Set current item in top nav
    initNav('b2b'); // Initialize mobile menu on smaller viewport
  }
  window.onload = function () {
    init();
  }
</script>