// Below are from original web-font declaration from way back
//
// Light: 200, 400
// Medium: 700
// Heavy: 800

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.svgarsmaquettepro-light-webfont") format("svg");
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.svgarsmaquettepro-lightitalic-webfont") format("svg");
//   font-weight: 200;
//   font-style: italic;
// }

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-light-webfont.svgarsmaquettepro-light-webfont") format("svg");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-lightitalic-webfont.svgarsmaquettepro-lightitalic-webfont") format("svg");
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-medium-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-medium-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-medium-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-medium-webfont.svgarsmaquettepro-medium-webfont") format("svg");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "maquette";
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-mediumitalic-webfont.eot");
//   src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-mediumitalic-webfont.woff") format("font-woff"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-mediumitalic-webfont.ttf") format("truetype"), url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-mediumitalic-webfont.svgarsmaquettepro-mediumitalic-webfont") format("svg");
//   font-weight: 700;
//   font-style: italic;
// }

@font-face {
  font-family: "StateFaceRegular";
  src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/stateface-regular-webfont.eot");
  src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/stateface-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/stateface-regular-webfont.woff")
      format("woff"),
    url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/stateface-regular-webfont.ttf")
      format("truetype"),
    url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/stateface-regular-webfont.svg#StateFaceRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "maquetteblack";
// src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.eot");
// src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.eot?#iefix") format("embedded-opentype"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.woff") format("font-woff"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.ttf") format("truetype"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.svg") format("svg");
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: "maquette";
// src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.eot");
// src: url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.eot?#iefix") format("embedded-opentype"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.woff") format("font-woff"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.ttf") format("truetype"),
// url("//res.cloudinary.com/updater-marketing/raw/upload/fonts/arsmaquettepro-black-webfont.svg") format("svg");
//   font-weight: 800;
//   font-style: normal;
// }
