<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <defs>
    <symbol id="icon-absentee" viewBox="0 0 24 26">
      <g fill="none" fill-rule="evenodd">
        <path d="M23.9 25.8H0V.1H24v25.7zm-21-2.6H21V2.7H3v20.5z" fill="#FFF" fill-rule="nonzero" />
        <path fill="#FFF" fill-rule="nonzero" d="M4.7 4.9h4.2V9H4.7z" />
        <path stroke="#FFF" d="M10.5 8.7h8.9" />
        <path fill="#FFF" fill-rule="nonzero" d="M4.7 10.9h4.2V15H4.7z" />
        <path stroke="#FFF" d="M10.5 14.7h8.9" />
        <path fill="#FFF" fill-rule="nonzero" d="M4.7 16.9h4.2V21H4.7z" />
        <path stroke="#FFF" d="M10.5 20.7h8.9" />
      </g>
    </symbol>
    <symbol id="icon-register" viewBox="0 0 24 27">
      <path
        d="M6 0c-.5 0-.8.4-.8.8v.7H.9a.8.8 0 00-.8.8v23.3a.8.8 0 00.8.9h15.8c.5 0 .8-.4.8-.9v-6.5l3.5-3.5 2.7-2.7a.8.8 0 000-1.2l-2.4-2.4a.8.8 0 00-.6-.2c-.2 0-.4 0-.6.2l-2.6 2.6V2.3c0-.5-.3-.8-.8-.8h-4.2V.8c0-.4-.4-.8-.9-.8H6zm.8 1.7h4v1.2h-4V1.7zM1.8 3h3.4v.7c0 .4.4.8.8.8h5.6c.5 0 .9-.4.9-.8V3h3.4v10.4l-6.2 6.3-.2.6v2.3c0 .5.4.9.8.9h2.4c.2 0 .4 0 .6-.2l2.6-2.7v4.1H1.8V3.1zm3 5.2c-.5 0-.8.4-.8.9 0 .4.4.8.8.8h8c.3 0 .6-.2.7-.4.2-.3.2-.6 0-.9a.8.8 0 00-.7-.4h-8zm15.9 2.8l1.2 1.2-1.5 1.5-1.2-1.2 1.5-1.5zM4.8 13.5c-.2 0-.5.1-.7.4-.1.2-.1.5 0 .8.2.3.5.4.7.4h5c.3 0 .6-.1.8-.4.1-.3.1-.6 0-.8a.8.8 0 00-.8-.4h-5zm13.2.2l1.3 1.3L16 18 12.4 22H11v-1.2l6.2-6.2.7-.8z"
        fill="#FFF" fill-rule="nonzero" />
    </symbol>
    <symbol id="icon-reminder" viewBox="0 0 24 27">
      <g fill="#FFF" fill-rule="nonzero">
        <path
          d="M2.5 27h19c1.4 0 2.5-1 2.5-2.4V5c0-1.3-1.1-2.4-2.4-2.4h-4.3V1.4a1.2 1.2 0 10-2.4 0v1.3h-5V1.4a1.2 1.2 0 10-2.4 0v1.3h-5C1.2 2.7.1 3.7.1 5v19.5C0 25.9 1 27 2.5 27zm0-22h5v1.3a1.2 1.2 0 102.5 0V5.1h5v1.2a1.2 1.2 0 102.3 0V5.1h4.3v19.5H2.5V5z" />
        <path
          d="M16.8 11.2l-7 7-2.5-2.9c-.4-.5-1.2-.5-1.7 0-.5.3-.6 1.1-.1 1.6l3.3 3.9c.3.3.6.4 1 .4.3 0 .6-.1.8-.3l8-8c.4-.5.4-1.2 0-1.7-.6-.5-1.3-.5-1.8 0z" />
      </g>
    </symbol>
    <symbol id="icon-verify" viewBox="0 0 24 24">
      <path
        d="M23.1 19.7l-6.6-5.5a8.8 8.8 0 001.4-7.7h-.3l-.8.7-.4.4-.2.1v.8a6 6 0 01-.1 2.1 7.4 7.4 0 01-6.2 5.5 7.1 7.1 0 01-8-7.5 7.2 7.2 0 0112.8-3.9L9.4 9.6H9L6 6.5c-.1-.2-.3-.2-.4 0l-1 1c-.2.1-.2.3 0 .4L9 12.4h.3L20.7 2c.1-.1.1-.3 0-.4l-1-1.1a.3.3 0 00-.4 0l-3 2.7A9.4 9.4 0 0010 0 9.1 9.1 0 00.1 8a9 9 0 009 10 9 9 0 005-1.6l5.5 6.7c1 1.1 2.6 1.2 3.6.2 1.1-1 1-2.7 0-3.6z"
        fill="#FFF" fill-rule="nonzero" />
    </symbol>
  </defs>
</svg>
<style>
  .widget-modal {
    transform: translateX(-100vw);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
  }

  .widget-modal.active {
    transform: translateX(0);
    opacity: 1;
  }

  .vote-widget {
    box-sizing: border-box;
    border-radius: 15px;
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
    margin: 8px 0;
    padding: 20px 30px;
    background-color: #39b3ca;
    color: #fff;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform .2s, background-color .2s;
  }

  .vote-widget:hover {
    transform: translateY(-3px);
    background-color: #2b7499;
  }

  .vote-widget:hover svg {
    transform: scale(1.25);
  }

  .vote-widget h6 {
    margin: 0;
    text-align: left;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
  }

  .vote-widget h6 span {
    display: block;
    font-weight: 200;
    font-size: 14px;
  }

  .vote-widget svg {
    width: 24px;
    height: 30px;
    margin-right: 15px;
    transition: transform .2s;
  }

  .widget-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 100px;
    background: #fff;
    color: #202020;
    font-size: 18px;
    padding: 0;
    border: 1px solid #202020;
  }

  .btn-wrapper {
    max-width: 700px;
    margin: 0 auto;
    /* min-height: 600px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    .btn-wrapper {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }

    .vote-widget {
      flex-basis: 100%;
      width: 100%;
      max-width: 350px;
      margin: 5px 0;
    }
  }
</style>

<div class="btn-wrapper">
  <button class="vote-widget" data-target="register">
    <svg data-target="register">
      <use xlink:href="#icon-register"></use>
    </svg>
    <h6 data-target="register">
      Register to vote
      <span data-target="register">Takes 2 minutes</span>
    </h6>
  </button>
  <button class="vote-widget" data-target="absentee">
    <svg data-target="absentee">
      <use xlink:href="#icon-absentee"></use>
    </svg>
    <h6 data-target="absentee">
      Get absentee balott
      <span data-target="absentee">Takes 2 minutes</span>
    </h6>
  </button>
  <button class="vote-widget" data-target="verify">
    <svg data-target="verify">
      <use xlink:href="#icon-verify"></use>
    </svg>
    <h6 data-target="verify">
      Verify voter registration
      <span data-target="verify">Takes 30 seconds</span>
    </h6>
  </button>
  <button class="vote-widget" data-target="reminders">
    <svg data-target="reminders">
      <use xlink:href="#icon-reminder"></use>
    </svg>
    <h6 data-target="reminders">
      Set up election reminders
      <span data-target="reminders">Takes 15 seconds</span>
    </h6>
  </button>
  <!-- <button data-target="pledge">Pledge to register</button> -->
</div>

<div class="widget-modal">
  <div style="max-width: 710px; text-align: right; width: 100%;margin: 0 auto;">
    <button class="widget-close">&times;</button>
  </div>
  <div class="inner">
    <iframe src="https://register.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0"
      frameborder="0" id="register" scrollable="no"></iframe>
    <iframe src="https://absentee.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0"
      frameborder="0" id="absentee" scrollable="no"></iframe>
    <iframe src="https://verify.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0"
      frameborder="0" id="verify" scrollable="no"></iframe>
    <iframe src="https://reminders.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0"
      frameborder="0" id="reminders" scrollable="no"></iframe>
  </div>
</div>

<script src="/scripts/iframeresizer.min.js"></script>

<script>
  window.addEventListener("load", function () {
    var scrollPos;

    function toggle(e) {
      var modalView = document.querySelector(".widget-modal")
      var showing = modalView.classList.contains('active');
      var stickyFooter = document.querySelector('.cta_on_page_bottom');
      var stickyShowing = !!stickyFooter;

      if (showing) {
        modalView.classList.remove('active');
        if (stickyShowing) stickyFooter.style.display = 'block';
        window.scrollTo({
          top: scrollPos,
          // behavior: 'smooth'
        })
      } else {
        modalView.classList.add('active');
        if (stickyShowing) stickyFooter.style.display = 'none';
        var target = e.target.dataset.target;
        document
          .querySelectorAll(".widget-modal .inner iframe")
          .forEach(function (ifr) {
            if (ifr.id === target) {
              ifr.style.display = "block";
            } else {
              ifr.style.display = "none";
            }
          });
        scrollPos = window.scrollY;
        window.scrollTo({
          top: 0,
          // behavior: 'smooth'
        })
        iFrameResize({
          log: true,
          checkOrigin: false,
        });
      }
    }
    document.querySelectorAll(".vote-widget, .widget-close").forEach(function (button) {
      button.addEventListener("click", toggle);
    });
  });
</script>