<section class="gh-job-test">
  <section class="gh-job-list container-2018">
    <h3>Active job list</h3>
    <div class="gh-job-list-content"></div>
  </section>
  <section class="gh-office-list container-2018">
    <h3>Office list</h3>
    <div class="gh-office-list-content"></div>
  </section>
  <section class="gh-department-list container-2018">
    <h3>Department list</h3>
    <div class="gh-department-list-content"></div>
  </section>
</section>

<squarespace:script src="jquery-3.5.1.min.js" combo="true" />
<squarespace:script src="upd-ui-bits_20_07.min.js" combo="true" />
<script>
  function parseDepartments(departments) {
    console.log(departments);
    var departmentList = "";
    departments.departments.forEach(function (department) {
      var id = department.id;
      var name = department.name;
      var parent_id = department.parent_id || "null";
      var child_ids =
        department.child_ids.length === 0 ?
        "null" :
        department.child_ids.join(" ");
      var str =
        '<div class="department-item">' +
        "<h5>" +
        department.name +
        "</h5>" +
        '<div class="department-item-div"><span class="department-item-label">id<br></span>' +
        '<span class="department-item-data">' +
        id +
        "</span>" +
        "</div>" +
        '<div class="department-item-div"><span class="department-item-label">name<br></span>' +
        '<span class="department-item-data">' +
        name +
        "</span>" +
        "</div>" +
        '<div class="department-item-div"><span class="department-item-label">parent_id<br></span>' +
        '<span class="department-item-data">' +
        parent_id +
        "</span>" +
        "</div>" +
        '<div class="department-item-div"><span class="department-item-label">child_ids<br></span>' +
        '<span class="department-item-data">' +
        child_ids +
        "</span>" +
        "</div>" +
        "<br></div>";

      departmentList += str;
    });
    document.querySelector(
      ".gh-department-list-content"
    ).innerHTML = departmentList;
  }

  function parseJob(jobs) {
    var jobList = "";
    jobs.jobs.forEach(function (job) {
      // NOTE: metata field is skipped
      var absolute_url = job.absolute_url;
      var internal_job_id = job.internal_job_id;
      var location = job.location.name;
      var id = job.id;
      var updated_at = job.updated_at;
      var requisition_id = job.requisition_id;
      var title = job.title;

      var str =
        '<div class="job-item">' +
        "<h5>" +
        job.title +
        "</h5>" +
        '<div class="job-item-div"><span class="job-item-label">absolute_url<br></span>' +
        '<span class="job-item-data">' +
        absolute_url +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">internal_job_id<br></span>' +
        '<span class="job-item-data">' +
        internal_job_id +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">location<br></span>' +
        '<span class="job-item-data">' +
        location +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">id<br></span>' +
        '<span class="job-item-data">' +
        id +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">updated_at<br></span>' +
        '<span class="job-item-data">' +
        updated_at +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">requisition_id<br></span>' +
        '<span class="job-item-data">' +
        requisition_id +
        "</span>" +
        "</div>" +
        '<div class="job-item-div"><span class="job-item-label">title<br></span>' +
        '<span class="job-item-data">' +
        title +
        "</span>" +
        "</div></div>";
      jobList += str;
    });
    document.querySelector(".gh-job-list-content").innerHTML = jobList;
  }

  function parseOffice(offices) {
    var officeList = "";
    offices.offices.forEach(function (office) {
      var id = office.id;
      var name = office.name;
      var location = office.location || "null";
      var parent_id = office.parent_id || "null";
      // var child_ids = office.child_ids.join(" ");
      var child_ids =
        office.child_ids.length === 0 ? "null" : office.child_ids.join(" ");

      var departments = office.departments
        .map(function (department) {
          var children = undefined;
          if (department.child_ids.length === 0) {
            children = "null";
          } else {
            children = department.child_ids.join(" ");
          }
          return (
            "id: " +
            '<span class="office-item-data">' +
            department.id +
            "</span>" +
            "<br>name: " +
            '<span class="office-item-data">' +
            department.name +
            "</span>" +
            "<br>parent_id: " +
            '<span class="office-item-data">' +
            (department.parent_id || "null") +
            "</span>" +
            "<br>child_ids: " +
            '<span class="office-item-data">' +
            (department.child_ids.join(" ") || "null") +
            "</span>" +
            "<br>jobs: <hr style='margin-top: 10px; margin-bottom: 10px;'>" +
            department.jobs.join(" ")
          );
        })
        .join(" ");

      var str =
        '<div class="office-item">' +
        "<h5>" +
        name +
        "</h5>" +
        '<div class="office-item-div"><span class="office-item-label">id<br></span>' +
        '<span class="office-item-data">' +
        id +
        "</span>" +
        "</div>" +
        '<div class="office-item-div"><span class="office-item-label">name<br></span>' +
        '<span class="office-item-data">' +
        name +
        "</span>" +
        "</div>" +
        '<div class="office-item-div"><span class="office-item-label">location<br></span>' +
        '<span class="office-item-data">' +
        location +
        "</span>" +
        "</div>" +
        '<div class="office-item-div"><span class="office-item-label">parent_id<br></span>' +
        '<span class="office-item-data">' +
        parent_id +
        "</span>" +
        "</div>" +
        '<div class="office-item-div"><span class="office-item-label">child_ids<br></span>' +
        '<span class="office-item-data">' +
        child_ids +
        "</span>" +
        "</div>" +
        '<div class="office-item-div" style="margin-left: 20px;"><span class="office-item-label" style="margin-left: -20px;">departments<br></span>' +
        departments +
        "</div>" +
        "</div>";

      officeList += str;
    });
    document.querySelector(".gh-office-list-content").innerHTML = officeList;
    // console.log(offices.offices);
  }

  function makeGHRequests(option, cb) {
    $.ajax({
      url: "https://api.greenhouse.io/v1/boards/updater/" + option,
      jsonp: "callback",
      dataType: "jsonp",
      success: function success(result) {
        cb(result);
      }
    });
  }

  function getJobs() {
    makeGHRequests("jobs", parseJob);
    // $.ajax({
    //   url:
    //     "https://api.greenhouse.io/v1/boards/" +
    //     GHboardToken +
    //     "/jobs?content=true",
    //   jsonp: "callback",
    //   dataType: "jsonp",
    //   success: function success(jobs) {
    //     console.log(jobs);

    //     // var allJobs = '';

    //     // $.each(jobs.jobs, function (index, job) {
    //     //   allJobs = getJob(job, allJobs);
    //     // });

    //     // $('#jobs').append(allJobs).fadeOut(0).fadeIn();
    //     // // New listjs object
    //     // jobPosts = new _list2.default('jobs-list', options);
    //     // jobPosts.reIndex();
    //     // jobPosts.sort('job-title', { order: 'asc' });
    //   }
    // });
  }

  function getOffices() {
    makeGHRequests("offices", parseOffice);
  }

  function getDepartments() {
    makeGHRequests("departments", parseDepartments);
  }
  // function getJobPost() {
  //   makeGHRequests("jobs");
  // }

  function init() {
    initNav(); // Initialize mobile menu on smaller viewport
    // if (location.search == "") {
    //   document.querySelector('.jobs-2018--openings-breadcrumb').style.display = "none";
    // } else {
    //   document.querySelector('.job-page-title').style.display = "none";
    // }

    getJobs();
    getOffices();
    getDepartments();
  }
  window.addEventListener('DOMContentLoaded', init);;
</script>