@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i");
@import url("https://use.typekit.net/mbu7cxr.css");
body,
html {
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #404041;
  background-color: #fff;
}

#wrapper {
  text-align: center;
  padding-bottom: 110px;
}

#wrapper .company-name + a {
  display: none;
}

#wrapper #main {
  padding: 0px;
}

#wrapper #logo,
#wrapper #board_title {
  display: none;
}

#wrapper a {
  font-weight: 400;
  color: #666;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#wrapper a:hover {
  color: #39b3ca;
  text-decoration: none;
}

#wrapper .location {
  font-weight: 200;
}

#wrapper h2 {
  color: #f97179;
  font-weight: 400;
  line-height: 1.4em;
  margin-top: 0;
  color: #39b3ca;
}

#wrapper section {
  padding-bottom: 12px;
  border-bottom: solid 1px #efefef;
  margin-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

#wrapper section .opening {
  max-width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  padding: 20px;
}

#wrapper section .opening:hover {
  -webkit-box-shadow: 0 2px 8pg rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8pg rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#wrapper .button {
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0px;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-size: 14px;
  line-height: 1.8;
  outline: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  padding: 12px 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  background-color: #2b7499;
}

#wrapper .button:hover {
  background-color: #3692c1;
  color: #fff;
}

#wrapper .app-title {
  color: #f97179;
  font-weight: 400;
  line-height: 1.2;
}

#wrapper #application_confirmation h1 {
  color: #56b784;
}

#app_body {
  max-width: 100% !important;
  text-align: left;
}

#app_body #header {
  padding-bottom: 18px;
  border-bottom: solid 1px #efefef;
}

#app_body #header #apply_button {
  display: none !important;
}

#app_body #content {
  padding-top: 7px;
}

#app_body #content p:first-of-type a:first-of-type {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  background: #39b3ca;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

#app_body #content p:first-of-type a:first-of-type:hover {
  background: #2b7499;
}

#app_body #content p,
#app_body #content p span {
  font-family: Merriweather, serif;
  font-weight: 200 !important;
}

#app_body #content p strong {
  font-family: Merriweather, serif !important;
}

#app_body #content ul {
  list-style: none;
}

#app_body #content ul li::before {
  content: "\2022";
  color: #f5333f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#app_body .company-name,
#app_body .heading {
  font-weight: 400;
}

#app_body #application {
  max-width: 100%;
}

#app_body #application #application_form {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#app_body #application .link-container a {
  padding: 4px 10px;
  font-size: 12px;
  background: #ddd;
  border-radius: 5px;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

#app_body #application .link-container a:hover {
  color: #fff;
  background: #39b3ca;
}

#footer {
  margin-top: 0;
}

div > div > p > span,
ul,
ul li {
  font-family: Merriweather, serif;
  font-weight: 200;
}

section.child.level-1 {
  margin-top: 30px;
}

/* internships */
[id="6520"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-internship-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* operations */
[id="1882"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-operation-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* sales, marketing, client success */
[id="1881"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806615/website/2018-revamp-assets/icons/jobs/icon-job-sales-marketing-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* product */
[id="46982"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-product-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* tech */
[id="1883"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-eng-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* fintech fix */
[id="49987"] {
  display: none;
}

section.child.level-1 {
  margin-left: 0;
  border: none !important;
}

/* talent community */
[id="57792"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1548198068/website/2018-revamp-assets/icons/jobs/icon-job-community-circle-outline.svg") no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
  background-position: center 10px;
}
/*# sourceMappingURL=greenhouse-test.css.map */