@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i");
@import url("https://use.typekit.net/mbu7cxr.css");

body,
html {
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #404041;
  background-color: #fff;
}

// Wraps the entire job board
#wrapper {
  // padding: 0px !important;
  .company-name + a {
    display: none;
  }
  text-align: center;
  padding-bottom: 110px;
  #main {
    padding: 0px;
  }

  #logo,
  #board_title {
    display: none;
  }

  a {
    font-weight: 400;
    color: #666;
    transition: color 0.2s;
    &:hover {
      color: #39b3ca;
      text-decoration: none;
    }
  }

  .location {
    font-weight: 200;
  }

  h2 {
    color: #f97179;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 0;
    color: #39b3ca;
  }

  section {
    padding-bottom: 12px;
    border-bottom: solid 1px #efefef;

    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
    .opening {
      max-width: 350px;
      border-radius: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s, transform 0.2s;
      padding: 20px;
      &:hover {
        box-shadow: 0 2px 8pg rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
      }
    }
  }

  .button {
    font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial;

    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: 0px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    background-image: none;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 14px;
    line-height: 1.8;
    outline: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    padding: 12px 24px;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 116, 153);
    &:hover {
      background-color: #3692c1;
      color: #fff;
    }
  }

  .app-title {
    color: #f97179;
    font-weight: 400;
    line-height: 1.2;
  }

  #application_confirmation h1 {
    color: #56b784;
  }
}

// the application container
#app_body {
  max-width: 100% !important;
  text-align: left;

  #header {
    padding-bottom: 18px;
    border-bottom: solid 1px #efefef;
    #apply_button {
      display: none !important;
    }
  }

  #content {
    padding-top: 7px;
    // p:first-of-type {
    //   border-bottom: solid 1px #efefef;
    // }
    p:first-of-type a:first-of-type {
      display: inline-block;
      padding: 10px 20px;
      font-size: 12px;
      color: #fff;
      font-weight: 400;
      background: #39b3ca;
      margin-bottom: 20px;
      border-radius: 30px;
      transition: background 0.2s;
      &:hover {
        background: #2b7499;
      }
    }
    p,
    p span {
      font-family: Merriweather, serif;
      font-weight: 200 !important;
    }
    p strong {
      font-family: Merriweather, serif !important;
      // color: #000;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2022";
      color: #f5333f;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
  .company-name,
  .heading {
    font-weight: 400;
  }
  #application {
    max-width: 100%;
    #application_form {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
    }
    .link-container {
      a {
        padding: 4px 10px;
        font-size: 12px;
        background: #ddd;
        border-radius: 5px;
        transition: background 0.2s, color 0.2s;
        &:hover {
          color: #fff;
          background: #39b3ca;
        }
      }
    }
  }
}

#footer {
  margin-top: 0;
}

div > div > p > span,
ul,
ul li {
  font-family: Merriweather, serif;
  font-weight: 200;
}

section.child.level-1 {
  margin-top: 30px;
}

/// ICONS

/* internships */
[id="6520"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-internship-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* operations */
[id="1882"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-operation-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* sales, marketing, client success */
[id="1881"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806615/website/2018-revamp-assets/icons/jobs/icon-job-sales-marketing-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* product */
[id="46982"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-product-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* tech */
[id="1883"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-eng-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* fintech fix */
[id="49987"] {
  display: none;
}
section.child.level-1 {
  margin-left: 0;
  border: none !important;
}

/* talent community */
[id="57792"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1548198068/website/2018-revamp-assets/icons/jobs/icon-job-community-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
  background-position: center 10px;
}
