@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400");

@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.svgarsmaquettepro-light-webfont")
      format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.svgarsmaquettepro-lightitalic-webfont")
      format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-light-webfont.svgarsmaquettepro-light-webfont")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-lightitalic-webfont.svgarsmaquettepro-lightitalic-webfont")
      format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-medium-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-medium-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-medium-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-medium-webfont.svgarsmaquettepro-medium-webfont")
      format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "maquette";
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-mediumitalic-webfont.eot");
  src: url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-mediumitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-mediumitalic-webfont.woff")
      format("font-woff"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-mediumitalic-webfont.ttf")
      format("truetype"),
    url("//updater-partners.s3.amazonaws.com/fonts/arsmaquettepro-mediumitalic-webfont.svgarsmaquettepro-mediumitalic-webfont")
      format("svg");
  font-weight: 800;
  font-style: italic;
}

body,
html {
  font-family: "maquette", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #404041;
  background-color: #fff;
}

#app_body {
  max-width: 100% !important;
  text-align: left;
}
#app_body #header {
  padding-bottom: 18px;
  border-bottom: solid 1px #efefef;
}
#app_body #content {
  padding-top: 7px;
}
#wrapper {
  padding: 0px !important;
  text-align: center;
}
#wrapper #main {
  padding: 0px;
}
#wrapper #logo,
#wrapper #board_title {
  display: none;
}
#wrapper a {
  color: #2b7499;
}
#wrapper a:hover {
  color: #3692c1;
  text-decoration: none;
}
#wrapper h2 {
  color: #f97179;
  line-height: 1.4em;
}
#wrapper section {
  padding-bottom: 12px;
  border-bottom: solid 1px #efefef;
}
#wrapper .button {
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0px;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-size: 14px;
  line-height: 1.8;
  outline: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  padding: 12px 24px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 116, 153);
}
#wrapper .button:hover {
  background-color: #3692c1;
  color: #fff;
}
#wrapper .app-title {
  color: #f97179;
  line-height: 1.2;
}
#wrapper #application_confirmation h1 {
  color: #56b784;
}

#app_body #content p,
#app_body #content p span {
  font-family: Merriweather, serif;
  font-weight: 200 !important;
}

#app_body #content p strong {
  font-family: Merriweather, serif !important;
  color: #000;
}

#app_body #content ul {
  list-style: none;
}

#app_body #content ul li::before {
  content: "\2022";
  color: #f5333f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

div > div > p > span,
ul,
ul li {
  font-family: Merriweather, serif;
  font-weight: 200;
}

/* internships */
[id="6520"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-internship-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* operations */
[id="1882"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-operation-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* sales, marketing, client success */
[id="1881"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806615/website/2018-revamp-assets/icons/jobs/icon-job-sales-marketing-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* product */
[id="46982"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806614/website/2018-revamp-assets/icons/jobs/icon-job-product-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* tech */
[id="1883"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546806611/website/2018-revamp-assets/icons/jobs/icon-job-eng-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
}

/* fintech fix */
[id="49987"] {
  display: none;
}
section.child.level-1 {
  margin-left: 0;
  border: none !important;
}

/* talent community */
[id="57792"] {
  background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1548198068/website/2018-revamp-assets/icons/jobs/icon-job-community-circle-outline.svg")
    no-repeat center 10px;
  padding-top: 75px;
  background-size: 60px;
  background-position: center 10px;
}

/* 2019 January Addition below */

#wrapper section {
  margin-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

#wrapper section .opening {
  max-width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s;
  padding: 20px;
}

#wrapper section .opening:hover {
  box-shadow: 0 2px 8pg rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

#wrapper a {
  color: #666;
  transition: color 0.2s;
}
#wrapper a:hover {
  color: #39b3ca;
}
#wrapper h2 {
  margin-top: 0;
  color: #39b3ca;
}
section.child.level-1 {
  margin-top: 30px;
}
