* {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: "maquette", sans-serif; */
  font-family: "ars-maquette-web", sans-serif;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f04f59;
  color: #ffffff;
  height: 100px;
  font-size: 32px;
  font-weight: 200;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-line img {
  height: 42px;
  width: auto;
  padding-top: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 1000px) {
  .top-line {
    font-size: 28px;
    height: 80px;
  }
  .top-line img {
    height: 38px;
  }
}

@media screen and (max-width: 900px) {
  .top-line {
    font-size: 24px;
    height: 60px;
  }
  .top-line img {
    height: 35px;
  }
}

@media screen and (max-width: 550px) {
  .top-line {
    font-size: 20px;
    height: 50px;
  }
  .top-line img {
    height: 27px;
    padding-top: 5px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

.partner-intro .partner-logo {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  max-width: 100%;
  max-height: 70px;
  margin: 0 auto;
  margin-top: 80px;
}

.partner-intro h1 {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 36px;
  line-height: 1.19444444444;
  font-weight: 200;
  color: #989898;
  text-align: center;
  max-width: 700px;
}

.partner-intro h1 span {
  color: #f04f59;
}

.partner-intro h2 {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-weight: 200;
  color: #4a4a4a;
  font-size: 22px;
  line-height: 1.45454545454545;
  max-width: 750px;
}

.partner-intro h2 span {
  font-weight: 400;
  color: #39b3ca;
}

.partner-intro a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background: #39b3ca;
  width: 200px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 20px;
  border-bottom: 3px solid #216d7c;
}

.partner-intro a:hover {
  background: #f5333f;
  border-bottom: 3px solid #b90914;
}

@media screen and (max-width: 1000px) {
  .partner-intro .partner-logo {
    margin-top: 50px;
  }
  .partner-intro h1 {
    font-size: 32px;
    max-width: 600px;
    margin-top: 30px;
  }
  .partner-intro h2 {
    font-size: 20px;
    margin-top: 20px;
    max-width: 650px;
  }
}

@media screen and (max-width: 900px) {
  .partner-intro .partner-logo {
    margin-top: 30px;
  }
  .partner-intro h1 {
    font-size: 28px;
    max-width: 550px;
    margin-top: 20px;
  }
  .partner-intro h2 {
    font-size: 18px;
    margin-top: 15px;
    max-width: 650px;
  }
}

@media screen and (max-width: 550px) {
  .partner-intro h1 {
    font-size: 24px;
  }
  .partner-intro h2 {
    font-size: 16px;
  }
}

.partner-app-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner-app-overview section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.partner-app-overview .app-dashboard {
  margin-right: 40px;
}

.partner-app-overview .app-dashboard img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .partner-app-overview .app-dashboard {
    margin-right: 0;
  }
  .partner-app-overview .app-dashboard img {
    max-width: 500px;
  }
}

.partner-app-overview .app-features {
  font-family: "Merriweather", serif;
  font-size: 22px;
  line-height: 1.4545454545;
  color: #9b9b9b;
}

.partner-app-overview .app-features .feature-highlights {
  margin-top: 30px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-family: "ars-maquette-web";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partner-app-overview .app-features .feature-highlights h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.3;
  padding: 5px 0;
  background: #39b3ca;
  color: #fff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 400;
}

.partner-app-overview .app-features .feature-highlights .select-feature {
  text-align: center;
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  color: #39b3ca;
  margin-bottom: 35px;
}

.partner-app-overview .app-features .feature-highlights .select-feature img {
  display: block;
  margin: 0 auto;
  max-width: 90px;
  margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
  .partner-app-overview .app-features .feature-highlights {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .partner-app-overview .app-features .feature-highlights .select-feature {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  .partner-app-overview .app-features .feature-highlights h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .partner-app-overview .app-features {
    font-size: 20px;
  }
  .partner-app-overview .app-features h3 {
    font-size: 18px;
  }
  .partner-app-overview .app-features h3 .select-feature {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .partner-app-overview .app-features {
    max-width: 700px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .partner-app-overview .app-features {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .partner-app-overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#mkt-form {
  background: #334d5c;
  min-height: 50vh;
  margin-top: 50px;
  padding-top: 30px;
}

#mkt-form .mkt-form-area {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
  text-align: center;
  font-weight: 400;
  max-width: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: block;
}

#mkt-form .mkt-form-area .form-intro {
  color: #fff;
  font-size: 28px;
  line-height: 1.214285714285714;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #mkt-form .mkt-form-area .form-intro {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  #mkt-form .mkt-form-area .form-intro {
    font-size: 20px;
  }
}

#mkt-form .mkt-form-area form {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#mkt-form .mkt-form-area form input,
#mkt-form .mkt-form-area form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px !important;
  padding-left: 15px;
  font-size: 18px;
}

#mkt-form .mkt-form-area form input::-webkit-input-placeholder,
#mkt-form .mkt-form-area form textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

#mkt-form .mkt-form-area form input:-ms-input-placeholder,
#mkt-form .mkt-form-area form textarea:-ms-input-placeholder {
  opacity: 0.5;
}

#mkt-form .mkt-form-area form input::-ms-input-placeholder,
#mkt-form .mkt-form-area form textarea::-ms-input-placeholder {
  opacity: 0.5;
}

#mkt-form .mkt-form-area form input::placeholder,
#mkt-form .mkt-form-area form textarea::placeholder {
  opacity: 0.5;
}

#mkt-form .mkt-form-area form textarea {
  padding-top: 10px;
  height: 100px !important;
}

#mkt-form .mkt-form-area form select:not(#State) {
  height: 150px !important;
}

#mkt-form .mkt-form-area form .mktoButtonRow {
  width: 100% !important;
}

#mkt-form .mkt-form-area form .mktoButtonWrap {
  text-align: center !important;
  display: block !important;
}

#mkt-form .mkt-form-area form a,
#mkt-form .mkt-form-area form button.mktoButton {
  letter-spacing: normal !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 5px !important;
  margin-bottom: 30px !important;
  background: #39b3ca !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-family: "ars-maquette-web", sans-serif !important;
  color: #fff !important;
  text-align: center !important;
  padding: 10px 30px !important;
  width: 250px !important;
  height: 44px !important;
  line-height: 20px !important;
  font-size: 20px !important;
  font-weight: 200 !important;
  border-radius: 20px !important;
  border-bottom: 3px solid #89d2e0 !important;
}

#mkt-form .mkt-form-area form a:hover,
#mkt-form .mkt-form-area form button.mktoButton:hover {
  background: #f5333f !important;
  border-bottom: 3px solid #b90914 !important;
}

.for-agents {
  padding-top: 20px;
  text-align: center;
  font-size: 28px;
  line-height: 1.214285714285714;
  font-weight: 200;
  color: #4a4a4a;
  max-width: 600px;
}

.for-agents h3 {
  font-size: inherit;
  margin-bottom: 10px;
  color: #f5333f;
}

.for-agents a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #39b3ca;
  width: 250px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 20px;
  border-bottom: 3px solid #216d7c;
}

.for-agents a:hover {
  background: #f5333f;
  border-bottom: 3px solid #b90914;
}

@media screen and (max-width: 768px) {
  .for-agents {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .for-agents {
    font-size: 20px;
  }
}

footer.red-bottom {
  min-height: 33px;
  display: block;
  background: #f04f59;
}
/*# sourceMappingURL=mkt-landing-2018.css.map */
