<section class="jobs-2018--openings">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/jobs/openings/">Openings</a></li>
      </ul>
    </nav>
  </div>
  <section class="jobs-2018--openings-content container-2018">
    <a class="jobs-2018--openings-breadcrumb" href="/jobs/openings/">
      < Back to Jobs</a> <h1 class="job-page-title">Job Openings</h1>
        <div id="grnhse_app" class="container-2018"></div>

  </section>
</section>

<div class="container-2018">
  <div class="row">
    <div class="col-md-12">
      <!-- back to link -->

      <!-- job pull in -->



      <!-- logo -->
      <div class="text-center pad-all-large crains-logos">
        <a href="https://www.crainsnewyork.com/html-page/672466" target="_blank" rel="noreferrer noopener"><img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,h_100/v1538169909/website/crains-2018.svg"
            alt="Crains 2018 Best Places to Work in NYC Logo" style="margin-top: 15px;"></a>
        <a href="https://www.crainsnewyork.com/article/20160928/SMALLBIZ/160929892/crains-unveils-the-100-best-places-to-work-in-new-york-city-in-2016"
          target="_blank" rel="noreferrer noopener"><img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,h_100/v1475720282/jobs/logos/crains_badge_2016.png"
            style="margin-left: 15px; margin-top: 15px;" alt="Crains 2016 Best Places to Work in NYC Logo"></a>
        <a href="https://www.builtinnyc.com/company/updater" target="_blank" rel="noreferrer noopener"><img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,h_100/v1548196521/partners/logos/BestPlacesToWork2019_MidsizeCo_Vertical_NYC.svg"
            style="margin-left: 15px; margin-top: 15px;" alt="Built in NYC 2019 Best Places to Work in NYC Logo"></a>
      </div>

      <script src="https://boards.greenhouse.io/embed/job_board/js?for=updater">
      </script>
    </div>
  </div>
</div>

<squarespace:script src="jquery-3.5.1.min.js" combo="true" />
<squarespace:script src="upd-ui-bits_20_07.min.js" combo="true" />
<script>
  function setOGtag(title, url) {
    var ogTitle = document.createElement('meta');
    ogTitle.setAttribute('property', 'og:title');
    ogTitle.content = title;
    var ogUrl = document.createElement('meta');
    ogUrl.setAttribute('property', 'og:url');
    ogUrl.content = url;
    document.getElementsByTagName('head')[0].appendChild(ogTitle);
    document.getElementsByTagName('head')[0].appendChild(ogUrl);
    document.title = title;
  }

  function getJobInfo(result) {
    var url = location.href;
    var paramLocation = url.indexOf('_jid=');
    var jobId = url.slice(paramLocation + 5, url.length);

    var matchJob = result.jobs.filter(function (job) {
      return job.absolute_url.endsWith(jobId);
    });

    var titleShouldBe = matchJob[0].title + ' | ' + matchJob[0].location.name;
    var urlShouldBe = matchJob[0].absolute_url;
    setOGtag(titleShouldBe, urlShouldBe);
  }

  function getJobList() {
    if (location.href.indexOf('jid') === -1) {

      return;
    }
    $.ajax({
      url: "https://api.greenhouse.io/v1/boards/updater/jobs",
      jsonp: "callback",
      dataType: "jsonp",
      success: function success(result) {
        getJobInfo(result);
      }
    });
  }

  function init() {
    initNav(); // Initialize mobile menu on smaller viewport
    if (location.search == "") {
      document.querySelector('.jobs-2018--openings-breadcrumb').style.display = "none";
    } else {
      document.querySelector('.job-page-title').style.display = "none";
    }

    getJobList();
  }
  window.addEventListener('DOMContentLoaded', init);
</script>