<section class="b2b-2020 jobs">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/jobs/openings/">Openings</a></li>
      </ul>
    </nav>
  </div>
  <section class="title-area">
    <h1>Job Openings</h1>
    <div class="filter-list">
      <div class="filter-list-container container-2018">
        <div class="filter-item">
          <span class="filter-label">Division:</span>
          <div class="select">
            <select id="filter-company">
              <option value="all">All Divisions</option>
              <option disabled value="Updater">Updater</option>
              <!-- <option disabled value="Updater Home Services">Updater Home Services</option> -->
              <option disabled value="MoveHQ">MoveHQ</option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <span class="filter-label">Locations:</span>
          <div class="select">
            <select id="filter-location">
              <option value="all">All Locations</option>
              <option disabled value="Atlanta, GA">Atlanta, GA</option>
              <option disabled value="Bridgeton, MO">Bridgeton, MO</option>
              <option disabled value="Lakewood, CO">Lakewood, CO</option>
              <option disabled value="Miami, FL">Miami, FL</option>
              <option disabled value="New York, NY">New York, NY</option>
              <option disabled value="Oakland, CA">Oakland, CA</option>
              <option disabled value="Reynoldsburg, OH">Reynoldsburg, OH</option>
              <option disabled value="Remote">Remote</option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <span class="filter-label">Departments:</span>
          <div class="select">
            <select id="filter-department">
              <option value="all">All Departments</option>
              <option value="Client Management">Client Management</option>
              <option value="Data">Data</option>
              <option value="Finance">Finance</option>
              <option value="Internships">Internships</option>
              <option value="Marketing">Marketing</option>
              <option value="Operations">Operations</option>
              <option value="Product & Design">Product & Design</option>
              <option value="Sales">Sales</option>
              <option value="Technology">Technology</option>
            </select>
          </div>
        </div>
      </div>
      <button class="filter-list-reset-all reset-job-filter">Reset All Filters</button>
    </div>
  </section>
  <section class="job-cards-container container-2018">
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
    <a class="job-url">
      <article class="job-card">
        <div class="card-body">
          <span class="u-company skeleton">
            &nbsp;
          </span>
          <span class="u-location skeleton">
            &nbsp;
          </span>
          <h6 class="u-title skeleton">
            &nbsp;
          </h6>
        </div>
        <div class="department-pills">
          <span class="u-department skeleton">
            &nbsp;
          </span>
          <span class="u-department skeleton">
            &nbsp;
          </span>
        </div>
      </article>
    </a>
  </section>
  <div class="job-not-found container-2018">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
      <g transform="translate(0 -952.4)">
        <path fill="#39b3ca"
          d="M34.3 954.6a31.6 31.6 0 00-22.8 9.3 31.6 31.6 0 000 44.6 31.6 31.6 0 0044.6 0 31.6 31.6 0 000-44.6 31.6 31.6 0 00-21.8-9.3zm0 4.7a26.8 26.8 0 0118.5 8 26.8 26.8 0 010 37.9 26.8 26.8 0 01-38 0 26.8 26.8 0 010-38 26.8 26.8 0 0119.4-7.9z" />
        <rect fill="#39b3ca" transform="rotate(-45)" ry="3.6" y="748.9" x="-677" height="39.5" width="7.2" />
        <rect fill="#39b3ca" transform="rotate(-45)" ry="3.6" y="768.1" x="-681.6" height="37.5" width="16.3" />
        <rect fill="#39b3ca" transform="scale(1 -1) rotate(45)" ry="2.4" y="-733.9" x="-675.8" height="25.3"
          width="4.8" />
        <rect fill="#39b3ca" width="4.8" height="25.3" x="718.9" y="-686.1" ry="2.4"
          transform="scale(1 -1) rotate(-45)" />
      </g>
    </svg>
    <p>We don't have any roles that fit your exact criteria at the moment.</p>
    <p>
      Please adjust your criteria or
      <a href="#" class="reset-job-filter">reset the filter</a>. And, check back
      frequently for updates!
    </p>
  </div>
  <div class="below-job-posts">
    <h6>
      Don't see a job for you right now?<br> <a href="https://boards.greenhouse.io/updater/jobs/1494587">Join our talent
        community</a> for future opportunities.
    </h6>
    <section class="recognition">
      <h6>🏆 Recognized for outstanding work culture by:</h6>
      <section class="recognition-logos container-2018" style="padding-left: 0; padding-right: 0;">
        <a href="https://www.crainsnewyork.com/html-page/672466" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1538169909/website/crains-2018.svg"
            alt="Crains 2018 Best Places to Work in NYC Logo">
        </a>
        <a href="https://www.crainsnewyork.com/article/20160928/SMALLBIZ/160929892/crain-s-unveils-the-100-best-places-to-work-in-new-york-city-in-2016"
          target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1475720282/jobs/logos/crains_badge_2016.png"
            alt="Crains 2016 Best Places to Work in NYC Logo">
        </a>
        <a href="http://techinmotionevents.com/" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1545619216/website/2018-revamp-assets/logos/Timmy-Awards-Logo-e1504720897590-850x396.png"
            alt="Timmy">
        </a>
        <a href="https://www.ajc.com/business/employment/here-are-all-the-winners-ajc-2020-top-workplaces-awards/HHzWM7hmEe9Anm8CuK6YlK/"
          target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1584367483/jobs/logos/TWP_Atlanta_2020_AW_V1_Dark.png"
            alt="Timmy">
        </a>
        <a href="https://www.glassdoor.com/Overview/Working-at-Updater-EI_IE837739.11,18.htm" target="_blank"
          rel="noreferrer noopener">
          <img src="https://www.glassdoor.com/api/widget/verticalStarRating.htm?e=837739" alt="Glassdoor">
        </a>
        <a href="https://www.crunchbase.com/organization/updater" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1475721447/jobs/logos/CrunchBase2.png"
            alt="CrunchBase">
        </a>
        <a href="https://www.linkedin.com/company/updater" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,w_100/v1461706339/jobs/logos/LinkedIn_Logo.png"
            alt="LinkedIn">
        </a>
        <a href="https://www.builtinnyc.com/company/updater" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,w_108/v1548196521/partners/logos/BestPlacesToWork2019_MidsizeCo_Vertical_NYC.svg"
            alt="Built in NYC 2019 Best Places to Work in NYC Logo" style="max-height: 90px;">
        </a>
        <a href="https://www.rover.com/blog/best-dog-friendly-companies/" target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1560441321/jobs/logos/Rover_dog_badge.png"
            alt="Rover - Best Dog-Friendly Companies" style="max-height: 120px;">
        </a>
      </section>
    </section>
  </div>
</section>

<squarespace:script src="jquery-3.5.1.min.js" combo="true" />
<squarespace:script src="upd-ui-bits_20_07.min.js" combo="true" />
<script>
  function init() {
    function onlyUnique(value, index, self) {
      return self.indexOf(value) === index;
    }

    function compare(a, b) {
      var nameA = a.title.toLowerCase();
      var nameB = b.title.toLowerCase();
      return nameA < nameB ? -1 : 1;
    }

    function getJobInfo(result, company) {
      var companyName =
        company === "updater" ? "Updater" : "Updater Home Services";

      var findParent = function (id) {
        var arrayElem = departmentList.filter(function (department) {
          return department.id === id;
        });
        return arrayElem[0].name;
      };

      var fetchedJobs = result.jobs.map(function (job) {
        var hasDepartment = !!job.departments[0];
        var hasParent = hasDepartment && (job.departments[0].parent_id !== null);
        return {
          company: companyName,
          location: job.location.name,
          department: !hasParent ?
            job.departments[0].name : findParent(job.departments[0].parent_id),
          division: hasParent ? job.departments[0].name : null,
          department_id: job.departments[0].id,
          title: job.title,
          link: job.absolute_url,
          id: job.id,
        };
      });

      var jobsExcludingTalentCommunity = fetchedJobs.filter(function (job) {
        return job.department_id !== 57792 && excludeList.indexOf(job.id) === -1;
      })

      var activeLocations = fetchedJobs.map(function (job) {
        return job.location;
      }).filter(onlyUnique);

      populateFilters("locations", activeLocations);
      populateFilters("companies", companyName);
      jobList = jobList.concat(jobsExcludingTalentCommunity).sort(compare);
      renderJobs(jobList);
      showMatchingJobs('all', 'all', 'all');
    }

    function parseDepartments(result) {
      departmentList = result.departments
        .filter(function (department) {
          return (
            !department.parent_id &&
            department.id !== 0 &&
            department.id !== 57792
          );
        })
        .map(function (department) {
          var deptJobs = department.jobs.length !== 0;
          var subDeptJobs = department.child_ids.map(function (id) {
            return result.departments.find(function (dept) {
              return dept.id === id;
            })
          }).some(function (department) {
            return department.jobs.length !== 0;
          })
          return {
            name: department.name,
            id: department.id,
            jobs: deptJobs || subDeptJobs
          };
        });
      divisionList = result.departments
        .filter(function (department) {
          return department.parent_id;
        })
        .map(function (department) {
          return {
            name: department.name,
            id: department.id,
            parent_id: department.parent_id
          };
        });
      populateFilters("departments", departmentList);
      getJobList("updater");
      // getJobList("uhs");
    }

    function getDepartments() {
      var requestStr =
        "https://api.greenhouse.io/v1/boards/updater/departments";
      $.ajax({
        url: requestStr,
        jsonp: "callback",
        dataType: "jsonp",
        success: function success(result) {
          return parseDepartments(result);
        }
      });
    }

    function getJobList(company) {
      var requestJobsStr =
        "https://api.greenhouse.io/v1/boards/" + company + "/jobs?content=true";
      $.ajax({
        url: requestJobsStr,
        jsonp: "callback",
        dataType: "jsonp",
        success: function success(result) {
          return getJobInfo(result, company);
        }
      });
    }

    function renderJobs(jobList) {
      var jobContainer = document.querySelector(".job-cards-container")
      var jobCards = jobList
        .map(function (job) {
          var strMain =
            '<a class="job-url" href="' +
            job.link +
            '">' +
            '<article class="job-card" data-company="' +
            job.company +
            '" data-location="' +
            job.location +
            '" + data-department="' +
            job.department +
            '" data-division="' +
            job.division +
            '">' +
            '<div class="card-body">' +
            '<span class="u-company">' +
            job.company +
            "</span>" +
            '<span class="u-location"> ' +
            job.location +
            "</span>" +
            '<h6 class="u-title">' +
            job.title +
            "</h6></div>" +
            '<div class="department-pills">' +
            '<span class="u-department">' +
            job.department +
            "</span>";
          var strOptional =
            '<span class="u-department">' + job.division + "</span>";
          var strEnding = "</div></article></a>";
          if (job.division) {
            return strMain + strOptional + strEnding;
          } else {
            return strMain + strEnding;
          }
        })
        .join("");

      jobContainer.innerHTML = jobCards;
    }

    function populateFilters(filterType, fetchedFilters) {
      function setDepartments(filters) {
        var allDepartments = '<option value="all">All Departments</option>';
        var depFilters = filters
          .map(function (filter) {
            var isDisabled = !filter.jobs ? "disabled" : "";
            return (
              "<option " +
              isDisabled +
              ' value="' +
              filter.name +
              '">' +
              filter.name +
              "</option>"
            );
          })
          .join("");
        return document.querySelector("#filter-department").innerHTML =
          allDepartments + depFilters;
      }

      function setLocations(filters) {
        var options = document.querySelectorAll("#filter-location > option");
        return options.forEach(function (option) {
          var hasMatch = filters.some(function (filter) {
            var currentFilter = filter.toLowerCase();
            var optionValue = option.value.toLowerCase();
            return currentFilter.indexOf(optionValue) !== -1;
          })

          if (hasMatch) {
            return option.removeAttribute('disabled');
          }
        });
      }

      function setCompanies(company) {
        var options = document.querySelectorAll("#filter-company > option");
        return options.forEach(function (option) {
          var hasMatch = company.toLowerCase().indexOf(option.value.toLowerCase()) !== -1

          if (hasMatch) {
            return option.removeAttribute('disabled');
          }
        });
      }
      switch (filterType) {
        case "companies":
          setCompanies(fetchedFilters);
          break;
        case "departments":
          setDepartments(fetchedFilters);
          break;
        case "locations":
          setLocations(fetchedFilters);
          break;
        default:
          break;
      }
    }

    function showMatchingJobs(company, location, department) {
      var currentlyShowing = jobList.filter(function (job) {
        var cFilter =
          company === "all" ? true : job.company.toLowerCase() === company;
        var lFilter =
          location === "all" ?
          true :
          job.location.toLowerCase().indexOf(location) !== -1;
        var dFilter =
          department === "all" ?
          true :
          job.department.toLowerCase().indexOf(department) !== -1;
        if (cFilter && lFilter && dFilter) {
          return job;
        }
      });

      errorMessageIsVisible(currentlyShowing.length === 0);
      renderJobs(currentlyShowing);
    }

    function errorMessageIsVisible(isVisible) {
      isVisible
        ?
        document.querySelector(".job-not-found").classList.add("active") :
        document.querySelector(".job-not-found").classList.remove("active");
    }

    function resetFilters(e) {
      e.preventDefault();
      companyFilter.selectedIndex = 0;
      locationFilter.selectedIndex = 0;
      departmentFilter.selectedIndex = 0;
      errorMessageIsVisible(false);
      renderJobs(jobList);
    }

    function updateFilter(e) {
      var viewingCompany = companyFilter.options[
        companyFilter.selectedIndex
      ].value.toLowerCase();
      var viewingLocation = locationFilter.options[
        locationFilter.selectedIndex
      ].value.toLowerCase();
      var viewingDepartment = departmentFilter.options[
        departmentFilter.selectedIndex
      ].value.toLowerCase();
      showMatchingJobs(viewingCompany, viewingLocation, viewingDepartment);
    }

    function initFilters() {}

    initNav(); // Initialize mobile menu on smaller viewport

    var jobList = [];
    var excludeList = [
      2105274, // Gainsight Admin
    ]
    var departmentList = null;
    var divisionList = null;
    var companyFilter = document.querySelector("#filter-company");
    var locationFilter = document.querySelector("#filter-location");
    var departmentFilter = document.querySelector("#filter-department");
    var resetButton = document.querySelectorAll(".reset-job-filter");

    companyFilter.addEventListener("change", updateFilter);
    locationFilter.addEventListener("change", updateFilter);
    departmentFilter.addEventListener("change", updateFilter);
    resetButton.forEach(function (btn) {
      btn.addEventListener("click", resetFilters);
    });
    getDepartments();

  }
  window.addEventListener('DOMContentLoaded', init);;
</script>