// NOTE:
//
// Added: July 2018
// Purpose: Make certain elements reusable
//
// TODO:
// - Finalize color palette when ready
// - Replace web font declaration when ready

@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i&display=swap");

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: "ars-maquette-web", sans-serif;
}
body {
  position: relative;
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.display-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.merriweather {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
}
.maquette-web {
  font-family: "ars-maquette-web", sans-serif;
}

// TODO: REMOVE "aux-nav-height" and "navbar-height-adjustment" related styles"

@navbar-height: 104px;
@aux-nav-height: 30px;

@b2b-navbar-height: @navbar-height - @aux-nav-height;

// .navbar-height-adjustment {
//   margin-top: @navbar-height;
//   @media screen and (max-width: 900px) {
//     margin-top: @navbar-height - @aux-nav-height;
//   }
// }

.navbar-height-adjustment,
.b2b-navbar-height-adjustment {
  margin-top: @b2b-navbar-height;
}

@screen1200: ~"screen and (max-width: 1200px)";
@screen1024: ~"screen and (max-width: 1024px)";
@screen992: ~"screen and (max-width: 992px)";
@screen900: ~"screen and (max-width: 900px)";
@screen768: ~"screen and (max-width: 768px)";
@screen667: ~"screen and (max-width: 667px)";
@screen600: ~"screen and (max-width: 600px)";
@screen550: ~"screen and (max-width: 550px)";

@upd-pink: #f5333f;
@upd-salmon: #f84e57;
@upd-red: #8e1b26;
@upd-maroon: #510d2c;
@upd-navy: #334d5c;
@upd-blue: #2b7499;
@upd-light-blue: #39b3ca;
@upd-light-green: #81be6e;
@upd-turquoise: #45b19c;
@upd-yellow: #f2a328;
@upd-orange: #e27b3e;

a {
  color: @upd-blue;
  text-decoration: none;
}

// Bringing in Bootstrap style defaults to make sure nothing that relies on it breaks.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: inherit;
  word-wrap: break-word;
  small {
    font-weight: normal;
    line-height: 1;
  }
}
h1 small,
h2 small,
h3 small {
  font-size: 65%;
}
h4 small,
h5 small,
h6 small {
  font-size: 75%;
}
h1 {
  font-size: 36px;
  line-height: 1.48571;
}
h2 {
  font-size: 30px;
  line-height: 1.5;
}
h3 {
  font-size: 26px;
  line-height: 1.48;
  @media @screen768 {
    font-size: 20.8px;
  }
}
h4 {
  font-size: 20px;
  line-height: 1.5;
  @media @screen768 {
    font-size: 18px;
  }
}
h5 {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 800;
}
h6 {
  font-size: 16px;
  line-height: 2.07692;
  @media @screen768 {
    font-size: 12.8px;
  }
}
p {
  margin: 0 0 14px;
  word-wrap: break-word;
  font-weight: 200;
  @media @screen768 {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

// avoid old blog posts with hard-coded bootstrap classes from breaking

.mg-vertical-medium {
  margin: 20px 0;
}

.btn-primary {
  color: white;
  background-color: #2b7499;
}
.btn {
  outline: 0;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: normal;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-radius: 3px;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1.8;
  user-select: none;
  transition: all 0.3s ease;
}
