/* 

NOTE:

Part of Bootstrap remnants. Purge when the pages are removed.

*/

/* line 38, ../sass/globals/_padding.scss */
.pad-all-none {
  padding: 0;
}

/* line 42, ../sass/globals/_padding.scss */
.pad-all-tiny {
  padding: 5px;
}

/* line 46, ../sass/globals/_padding.scss */
.pad-all-small {
  padding: 10px;
}

/* line 50, ../sass/globals/_padding.scss */
.pad-all-medium {
  padding: 20px;
}

/* line 54, ../sass/globals/_padding.scss */
.pad-all-large {
  padding: 40px;
}

/* line 58, ../sass/globals/_padding.scss */
.pad-all-jumbo {
  padding: 60px;
}

/* line 38, ../sass/globals/_padding.scss */
.pad-top-none {
  padding-top: 0;
}

/* line 42, ../sass/globals/_padding.scss */
.pad-top-tiny {
  padding-top: 5px;
}

/* line 46, ../sass/globals/_padding.scss */
.pad-top-small {
  padding-top: 10px;
}

/* line 50, ../sass/globals/_padding.scss */
.pad-top-medium {
  padding-top: 20px;
}

/* line 54, ../sass/globals/_padding.scss */
.pad-top-large {
  padding-top: 40px;
}

/* line 58, ../sass/globals/_padding.scss */
.pad-top-jumbo {
  padding-top: 60px;
}

/* line 38, ../sass/globals/_padding.scss */
.pad-right-none {
  padding-right: 0;
}

/* line 42, ../sass/globals/_padding.scss */
.pad-right-tiny {
  padding-right: 5px;
}

/* line 46, ../sass/globals/_padding.scss */
.pad-right-small {
  padding-right: 10px;
}

/* line 50, ../sass/globals/_padding.scss */
.pad-right-medium {
  padding-right: 20px;
}

/* line 54, ../sass/globals/_padding.scss */
.pad-right-large {
  padding-right: 40px;
}

/* line 58, ../sass/globals/_padding.scss */
.pad-right-jumbo {
  padding-right: 60px;
}

/* line 38, ../sass/globals/_padding.scss */
.pad-bottom-none {
  padding-bottom: 0;
}

/* line 42, ../sass/globals/_padding.scss */
.pad-bottom-tiny {
  padding-bottom: 5px;
}

/* line 46, ../sass/globals/_padding.scss */
.pad-bottom-small {
  padding-bottom: 10px;
}

/* line 50, ../sass/globals/_padding.scss */
.pad-bottom-medium {
  padding-bottom: 20px;
}

/* line 54, ../sass/globals/_padding.scss */
.pad-bottom-large {
  padding-bottom: 40px;
}

/* line 58, ../sass/globals/_padding.scss */
.pad-bottom-jumbo {
  padding-bottom: 60px;
}

/* line 38, ../sass/globals/_padding.scss */
.pad-left-none {
  padding-left: 0;
}

/* line 42, ../sass/globals/_padding.scss */
.pad-left-tiny {
  padding-left: 5px;
}

/* line 46, ../sass/globals/_padding.scss */
.pad-left-small {
  padding-left: 10px;
}

/* line 50, ../sass/globals/_padding.scss */
.pad-left-medium {
  padding-left: 20px;
}

/* line 54, ../sass/globals/_padding.scss */
.pad-left-large {
  padding-left: 40px;
}

/* line 58, ../sass/globals/_padding.scss */
.pad-left-jumbo {
  padding-left: 60px;
}

/* line 67, ../sass/globals/_padding.scss */
.pad-vertical-none {
  padding: 0 0;
}

/* line 71, ../sass/globals/_padding.scss */
.pad-vertical-tiny {
  padding: 5px 0;
}

/* line 75, ../sass/globals/_padding.scss */
.pad-vertical-small {
  padding: 10px 0;
}

/* line 79, ../sass/globals/_padding.scss */
.pad-vertical-medium {
  padding: 20px 0;
}

/* line 83, ../sass/globals/_padding.scss */
.pad-vertical-large {
  padding: 40px 0;
}

/* line 87, ../sass/globals/_padding.scss */
.pad-vertical-jumbo {
  padding: 60px 0;
}

/* line 96, ../sass/globals/_padding.scss */
.pad-horizontal-none {
  padding: 0 0;
}

/* line 100, ../sass/globals/_padding.scss */
.pad-horizontal-tiny {
  padding: 0 5px;
}

/* line 104, ../sass/globals/_padding.scss */
.pad-horizontal-small {
  padding: 0 10px;
}

/* line 108, ../sass/globals/_padding.scss */
.pad-horizontal-medium {
  padding: 0 20px;
}

/* line 112, ../sass/globals/_padding.scss */
.pad-horizontal-large {
  padding: 0 40px;
}

/* line 116, ../sass/globals/_padding.scss */
.pad-horizontal-jumbo {
  padding: 0 60px;
}

/* line 39, ../sass/globals/_margins.scss */
.mg-all-none {
  margin: 0;
}

/* line 43, ../sass/globals/_margins.scss */
.mg-all-tiny {
  margin: 5px;
}

/* line 47, ../sass/globals/_margins.scss */
.mg-all-small {
  margin: 10px;
}

/* line 51, ../sass/globals/_margins.scss */
.mg-all-medium {
  margin: 20px;
}

/* line 55, ../sass/globals/_margins.scss */
.mg-all-large {
  margin: 40px;
}

/* line 59, ../sass/globals/_margins.scss */
.mg-all-jumbo {
  margin: 60px;
}

/* line 39, ../sass/globals/_margins.scss */
.mg-top-none {
  margin-top: 0;
}

/* line 43, ../sass/globals/_margins.scss */
.mg-top-tiny {
  margin-top: 5px;
}

/* line 47, ../sass/globals/_margins.scss */
.mg-top-small {
  margin-top: 10px;
}

/* line 51, ../sass/globals/_margins.scss */
.mg-top-medium {
  margin-top: 20px;
}

/* line 55, ../sass/globals/_margins.scss */
.mg-top-large {
  margin-top: 40px;
}

/* line 59, ../sass/globals/_margins.scss */
.mg-top-jumbo {
  margin-top: 60px;
}

/* line 39, ../sass/globals/_margins.scss */
.mg-right-none {
  margin-right: 0;
}

/* line 43, ../sass/globals/_margins.scss */
.mg-right-tiny {
  margin-right: 5px;
}

/* line 47, ../sass/globals/_margins.scss */
.mg-right-small {
  margin-right: 10px;
}

/* line 51, ../sass/globals/_margins.scss */
.mg-right-medium {
  margin-right: 20px;
}

/* line 55, ../sass/globals/_margins.scss */
.mg-right-large {
  margin-right: 40px;
}

/* line 59, ../sass/globals/_margins.scss */
.mg-right-jumbo {
  margin-right: 60px;
}

/* line 39, ../sass/globals/_margins.scss */
.mg-bottom-none {
  margin-bottom: 0;
}

/* line 43, ../sass/globals/_margins.scss */
.mg-bottom-tiny {
  margin-bottom: 5px;
}

/* line 47, ../sass/globals/_margins.scss */
.mg-bottom-small {
  margin-bottom: 10px;
  font-weight: 200;
}

/* line 51, ../sass/globals/_margins.scss */
.mg-bottom-medium {
  margin-bottom: 20px;
  font-weight: 200;
}

/* line 55, ../sass/globals/_margins.scss */
.mg-bottom-large {
  margin-bottom: 40px;
}

/* line 59, ../sass/globals/_margins.scss */
.mg-bottom-jumbo {
  margin-bottom: 60px;
}

/* line 39, ../sass/globals/_margins.scss */
.mg-left-none {
  margin-left: 0;
}

/* line 43, ../sass/globals/_margins.scss */
.mg-left-tiny {
  margin-left: 5px;
}

/* line 47, ../sass/globals/_margins.scss */
.mg-left-small {
  margin-left: 10px;
}

/* line 51, ../sass/globals/_margins.scss */
.mg-left-medium {
  margin-left: 20px;
}

/* line 55, ../sass/globals/_margins.scss */
.mg-left-large {
  margin-left: 40px;
}

/* line 59, ../sass/globals/_margins.scss */
.mg-left-jumbo {
  margin-left: 60px;
}

/* line 68, ../sass/globals/_margins.scss */
.mg-vertical-none {
  margin: 0 0;
}

/* line 72, ../sass/globals/_margins.scss */
.mg-vertical-tiny {
  margin: 5px 0;
}

/* line 76, ../sass/globals/_margins.scss */
.mg-vertical-small {
  margin: 10px 0;
}

/* line 80, ../sass/globals/_margins.scss */
.mg-vertical-medium {
  margin: 20px 0;
}

/* line 84, ../sass/globals/_margins.scss */
.mg-vertical-large {
  margin: 40px 0;
}

/* line 88, ../sass/globals/_margins.scss */
.mg-vertical-jumbo {
  margin: 60px 0;
}

/* line 97, ../sass/globals/_margins.scss */
.mg-horizontal-none {
  margin: 0 0;
}

/* line 101, ../sass/globals/_margins.scss */
.mg-horizontal-tiny {
  margin: 0 5px;
}

/* line 105, ../sass/globals/_margins.scss */
.mg-horizontal-small {
  margin: 0 10px;
}

/* line 109, ../sass/globals/_margins.scss */
.mg-horizontal-medium {
  margin: 0 20px;
}

/* line 113, ../sass/globals/_margins.scss */
.mg-horizontal-large {
  margin: 0 40px;
}

/* line 117, ../sass/globals/_margins.scss */
.mg-horizontal-jumbo {
  margin: 0 60px;
}
