#login-type,
#updater-products {
  background: #fff !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.subnav-2018 {
  background: #fff;
  padding: 3rem 0;
  .display-flex();
  justify-content: space-between;
  letter-spacing: normal;
  div {
    flex: 0 0 19%;
    padding-right: 2rem;
  }
  img {
    display: block;
    transition: 0.2s;
    &:hover {
      padding-left: 1rem;
    }
  }
  a,
  a:hover {
    color: inherit;
  }
  h4 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    text-transform: none !important;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 200;
  }
  button {
    font-size: 11px;
    font-weight: 400;
    padding: 5px 15px;
    color: #2b7499;
    text-transform: uppercase;
    text-decoration: none;
    border: #2b7499 1px solid;
    border-radius: 5px;
    background: #fff;
    margin-left: 1rem;
    &:hover {
      background: #2b7499;
      color: #fff;
    }
  }
  h4,
  p,
  button {
    padding-left: 1rem;
  }
}

.login-item-detail {
  text-align: center;
  img {
    margin: 0 auto;
    height: 100px;
    width: auto;
  }
  h4 {
    padding-left: 0;
  }
  button {
    margin-left: 0;
  }
}

#header-navbar ul.dropdown-menu {
  background: #fff !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  li {
    letter-spacing: normal;
    font-size: 15px !important;
    line-height: 19px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    & > a {
      color: rgb(64, 64, 65) !important;
      text-size-adjust: 100%;
      font-size: 15px !important;
    }
    a img {
      width: 50px !important;
      margin-right: 10px;
    }
    @media @screen768 {
      border-bottom: 1px dotted #999 !important;
    }
  }
}
