// NOTE:
// Styles from Lisette
//
// TODO:
// 1. organize for better readability
// 2. purge unused blocks

#blog-home {
  .postedin {
    font-size: 12px;
  }
  article.featured {
    display: none;
  }
  .featured-preview-container {
    width: 100%;
  }
  .featured-preview {
    text-align: left;
    background-color: #efefef;
    background: rgba(239, 239, 239, 0.9);
    padding: 40px;
  }
  .hero {
    display: none;
  }
  .featured-wrapper {
    display: table;
    width: 100%;
  }

  .latest {
    margin-bottom: 30px;
    .postcal {
      float: none !important;
      background-color: #fff;
    }
    .postheader {
      padding-top: 10px;
      float: none !important;
    }
  }
  .postcal {
    width: 75px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .postmonth {
    background-color: #5590ad;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }
  .postday {
    font-size: 18px;
    text-align: center;
  }
  .postheader {
    float: left;
    padding-bottom: 10px;
    width: 80%;
  }
  .postfullheader {
    padding-bottom: 12px;
  }
  h4.title {
    margin-top: 0px;
    margin-bottom: 6px;
  }
  .sqs-block-postsbycategory a {
    outline: 0;
    color: @upd-blue;
    background-color: inherit;
    border: 1px solid #aac7d6;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    white-space: normal;
    display: block;
    zoom: 1;
    border-radius: 3px;
    padding: 12px 24px;
    font-size: 13px;
    line-height: 1.8;
    transition: all 0.3s ease;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  #searchtips {
    padding-top: 20px;
  }

  @media screen and (min-width: 992px) {
    .hero {
      width: 65%;
      display: table-cell !important;
    }
    #blog-home .featured-preview-container {
      width: 35%;
      display: table-cell;
      background-image: none !important;
    }
  }
}

.btn-transparent-blue {
  color: @upd-blue;
  background-color: inherit;
  border: 1px solid @upd-blue;
}

.btn-transparent-blue:hover,
#blog-home .sqs-block-postsbycategory a:hover,
#blog-post a.tag:hover {
  background-color: #f3fcff;
}

.disabled {
  background-color: #d9d9d9 !important;
}

.zero-mg {
  margin: 0px !important;
}

#searchandlinks span {
  text-transform: uppercase;
  color: #5590ad;
  font-weight: bold;
}

#searchandlinks .ico-social-footer {
  margin: 0 8px !important;
}

@media (min-width: 768px) {
  #searchandlinks .btn {
    margin-top: 0px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  #searchandlinks .joinus {
    text-align: center;
    margin-bottom: 20px;
  }
}

.circle-fix {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.greenbg {
  background-color: #56b784 !important;
}

a.greenbg:hover {
  background-color: #75c79b !important;
}

.greetxt {
  color: #56b784 !important;
}

.btn-transparent-green,
.transparent-green,
.moving-tips a.tag,
.moving-tips .comment-controls .comment-sort,
.moving-tips .comment-controls .subscribe {
  color: #56b784 !important;
  border: 1px solid #75c79b !important;
}

.btn-transparent-green:hover,
.transparent-green:hover,
.ltgreenbg {
  background-color: #f4fbf7 !important;
}

.blog-pagination.older {
  float: right;
}

.blog-pagination.newer {
  float: left;
}

.blog-pagination .hidden-xxs {
  display: inline-block;
}

//blost post
#blog-post {
  padding: 40px 0px;
}

#blog-post .postdate {
  float: left;
  width: 7%;
  text-align: right;
  margin: 10px 0px;
}

#blog-post .pagecontent {
  float: left;
  width: 90%;
  text-align: left;
  padding-left: 30px;
}

#blog-post .postcal {
  min-width: 55px;
}

#blog-post .postmonth {
  background-color: #5590ad;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

#blog-post .postday {
  font-size: 20px;
  text-align: center;
}

#blog-post .postheader {
  padding-bottom: 5px;
}

#blog-post a.back {
  font-size: 13px;
  display: block;
  float: right;
  padding-left: 20px;
}

#blog-post h1.title {
  margin: 0px;
}

#blog-post .postedin {
  font-size: 12px;
  padding-bottom: 12px;
}

#blog-post .hero {
  margin: 20px 0px 30px;
}

#blog-post .blog-post-inner .sqs-block-content h3 {
  font-size: 21px;
}

#blog-post #comments .avatar {
  display: none;
}

#blog-post h5,
#blog-post h3.comment-count,
.blog-pull h5 {
  color: #f97179;
  border-bottom: 3px solid #efefef;
  padding-bottom: 6px;
  margin-bottom: 18px;
  margin-top: 40px;
}

.blog-pull h5 a {
  color: #f97179;
}

#blog-post h3.comment-count {
  display: block !important;
  float: none !important;
  font-size: 16px !important;
  line-height: 1.8 !important;
  font-weight: 800 !important;
  text-transform: uppercase;
  letter-spacing: normal;
}

#blog-post .bio-container {
  margin: auto;
}

#blog-post #authorinfo .avatar {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  min-width: 120px;
  padding-right: 10px;
}

#blog-post #authorinfo .bio {
  display: inline-block;
  width: 80%;
  height: auto;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 710px) {
  #blog-post #authorinfo .bio {
    width: 100%;
  }
}

#blog-post .biopic {
  width: 100px;
}

#blog-post .sharelinks {
  margin-top: 10px;
}

#blog-post .squarespace-comments .comment-btn:hover {
  background-color: #8c8c8d;
}

#blog-post .postnav {
  padding: 15px;
  background-color: #f3fcff;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

#blog-post .postnav a,
#blog-post .postnav span {
  font-size: 13px;
}

#blog-post .postnav .off {
  color: #bababb;
}

#blog-post .sqs-simple-like .like-icon:hover,
#blog-post .sqs-simple-like.clicked .like-icon {
  background-color: @upd-salmon !important;
}

#blog-post .authorblurb {
  position: relative;
  padding: 0px;
  background: #fff7db;
  border-radius: 5px;
  padding: 30px;
  font-size: 13px;
}

@media (min-width: 711px) {
  #blog-post .authorblurb:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 13px 12px 13px 0;
    border-color: transparent #fff7db;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -13px;
    left: -12px;
    top: 50%;
  }
}

#blog-post h4.title {
  margin-bottom: 0px;
}

#blog-post .squarespace-comments .comment-btn {
  background-color: #666667;
}

#blog-post .comment-header,
#blog-post .comment-body {
  padding-left: 0px !important;
}

#blog-post .comment {
  margin-bottom: 20px !important;
}

#blog-post .comment-header {
  padding-top: 30px !important;
}

#blog-post a.tag,
#blog-post .comment-controls .comment-sort,
#blog-post .comment-controls .subscribe {
  outline: 0;
  color: @upd-blue;
  background-color: inherit;
  border: 1px solid #aac7d6;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  display: block;
  zoom: 1;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.8;
  transition: all 0.3s ease;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#blog-post .share-btn.facebook {
  background-color: #3b5998;
}

#blog-post .share-btn.twitter {
  background-color: #55acee;
}

#blog-post .share-btn.linkedin {
  background-color: #0077b5;
}

#blog-post .share-btn:hover {
  opacity: 0.7;
}

#blog-post .share-btn {
  outline: 0;
  color: #fff;
  background-color: #666667;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  display: block;
  zoom: 1;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  width: 34px;
  height: 34px;
  float: left;
  margin-right: 9px;
  transition: all 0.3s ease-in-out 0s;
}

#blog-post .sharelinks span {
  float: left;
  margin-right: 12px;
  text-transform: uppercase;
  color: #8c8c8d;
  font-weight: bold;
}

#blog-post .breadcrumbs {
  font-weight: 400;
  font-size: 80%;
  padding-bottom: 10px;
  color: #8c8c8d;
}

#blog-post .authortext {
  max-height: 5.4em;
  overflow: hidden;
}

#blog-home article a img {
  transition: all 0.3s ease;
}

#blog-home article a img:hover {
  opacity: 0.7;
}

#blog-home article img.img-circle {
  max-width: 100%;
  height: auto;
}

/* v2 */

#blog-post.v2 .pagecontent {
  float: none;
  width: 100%;
  padding-left: 45px;
  letter-spacing: normal;
}

#blog-post.v2 .breadcrumbs {
  padding-left: 45px;
}

#blog-post.v2 .blog-date {
  font-size: 80%;
  color: #f97179;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#blog-post.v2 h1.title {
  line-height: 1.35;
  font-weight: 500;
}

#blog-post.v2 .postedin {
  padding-top: 0px;
}

#blog-post.v2 img.biopic {
  width: 50px;
}

#blog-post.v2 .sidebar-forms {
  background: #fff;
  border-color: #80acc2;
}

#blog-post.v2 .sidebar-forms h6 {
  background-color: #80acc2;
  margin-top: 0px;
  padding: 11px 25px 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

#blog-post.v2 .sidebar-forms h6:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #80acc2;
  border-width: 15px;
  margin-left: -15px;
  z-index: 1;
}

#blog-post.v2 .sidebar-forms form {
  padding: 10px 25px 10px;
}

#blog-post.v2 .sidebar-forms .mktoButtonRow {
  width: 100%;
}

#blog-post.v2 .sidebar-forms .mktoForm button.mktoButton {
  text-transform: uppercase !important;
  font-weight: bold !important;
  display: inline-block !important;
  transition: all 0.4s !important;
  border-radius: 0px !important;
  font-size: initial !important;
  width: 100%;
  background: #5590ad !important;
  border: 1px solid #5590ad !important;
}

#blog-post.v2 .sidebar-forms .mktoForm button.mktoButton:hover {
  background: #fff !important;
  border: 1px solid #5590ad !important;
  color: #5590ad !important;
}

#blog-post.v2 .search-movers-300 {
  width: auto;
}

#blog-post.v2 #find-mover {
  padding-top: 10px;
  margin-top: 0px;
}

#blog-post.v2 hr.short {
  width: 50%;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}

#blog-post.v2 .author strong {
  text-transform: uppercase;
  margin-bottom: 0px;
}

#blog-post.v2 .author p {
  display: inline;
}

#blog-post.v2 .postnav {
  background: none !important;
  border-top: 1px solid #efefef;
}

#blog-post.v2 .postnav a,
#blog-post.v2 .postnav span {
  color: #8c8c8d;
  font-weight: 700;
  transition: all 0.3s ease;
}

#blog-post.v2 .postnav a:hover {
  color: @upd-salmon;
}

@media (min-width: 992px) {
  #blog-post.v2 #blog-sidebar,
  #blog-post.v2 #blog-sidebar #sticky {
    width: 275px;
  }
  #blog-post.v2 .blog-post-inner {
    margin-right: 310px;
  }
  #blog-post.v2 .blog-post-outer {
    margin-right: -275px;
  }
}

@media (min-width: 768px) {
  #comments-block {
    display: block !important;
  }
}

@media screen and (min-width: 640px) {
  #blog-post .authortext {
    max-height: 14em;
  }
}

/* slide cta */

#ctaslide {
  padding: 10px 16px 10px 10px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: -475px;
  -moz-box-shadow: -2px 0 5px #aaa;
  -webkit-box-shadow: -2px 0 5px #aaa;
  box-shadow: -2px 0 5px #aaa;
  z-index: 100;
}

a.close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

#ctaslide.ebook1 img {
  float: left;
  padding-top: 5px;
}

#ctaslide.ebook1 .callouts {
  float: left;
  max-width: 260px;
}

// true mobile
@media (max-width: 480px) {
  #core-principles h3.pad-horizontal-jumbo {
    padding: 0px !important;
  }
  #ctaslide {
    width: 100%;
  }
  #ctaslide.ebook1 img,
  #ctaslide.ebook1 .callouts {
    float: none !important;
    margin: auto;
  }
  .headerbtn .btn-sm {
    font-size: 11px;
    padding: 10px 15px;
  } //img.logo.us {height: 40px;}
  .dmv-list {
    padding-left: 40px;
  }
  .hidden-xxs {
    display: none !important;
  }
  .main-section-header {
    padding: 0px;
  }
  #blog-home {
    margin-bottom: 10px;
  }
  #blog-home .petit p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  #blog-home .featured-preview-container {
    background: none !important;
  }
  #blog-home .featured-preview {
    padding: 15px 20px;
  }
  #blog-home .postheader {
    width: 100%;
  } //#blog-home .btn {font-size: 12px;}
  #blog-home .line-full {
    margin: 0px 15px;
  }
  #blog-home .main-section {
    background-color: #fff;
  }
  #blog-home .main-section #searchcats .sqs-col-12 .sqs-col-6 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #blog-home
    .main-section
    #searchcats
    .sqs-col-12
    .sqs-row
    .span-6:first-child {
    display: none;
  }
  #blog-home #searchtips {
    padding: 0px;
  }
}

@media (min-width: 481px) {
  .visible-xxs {
    display: none !important;
  }
}

// mobile/tablet only
@media (max-width: 767px) {
  #blog-post h1.title {
    font-size: 24px;
  }
  #blog-post .pagecontent {
    padding-right: 30px;
    width: 100% !important;
  }
  .mobile-blog-date {
    font-size: 80%;
    color: #8c8c8d;
  }
  #blog-post .thumb {
    max-width: 400px;
    margin: auto;
  }
  #blog-post .related .btn {
    font-size: 75%;
  }
  .visible-xs-inline {
    display: inline-block !important;
  }
  #comments-block .squarespace-comments .header-controls .controls {
    padding: 0px !important;
  }
  #comments-block .squarespace-comments {
    margin-top: 0px !important;
  }
  #comments-block h3.comment-count {
    // display: none !important;
  }
  #comments-block {
    // display: none;
  }
  #blog-home .postfullheader,
  #blog-home .postheader {
    padding-bottom: 0px;
  }
}

// teaser
#teaser-block .sqs-block {
  padding-bottom: 0px !important;
}

div.post-teaser {
  padding: 5px 20px 10px;
  text-align: center;
  background-color: #2c749a;
  margin-bottom: 5px;
}

.post-teaser h3 {
  font-size: 16px;
  font-weight: 800;
}

.post-teaser p {
  color: #d5e3eb;
}

.post-teaser .minutes {
  display: inline-block;
  margin: auto;
}

.post-teaser .minutes:after,
.post-teaser .minutes:before {
  content: "";
  float: left;
  border: 1.2em solid #54b684;
}

.post-teaser .minutes:before {
  border-left-color: transparent;
}

.post-teaser .minutes:after {
  border-right-color: transparent;
}

.post-teaser .minutes span {
  float: left;
  height: 2.4em;
  overflow: hidden;
  background-color: #54b684;
  line-height: 2.4em;
  color: #fff;
  font-weight: 800;
} // mobile phone
@media (max-width: 480px) {
  #blog-post .hero {
    max-height: 200px;
  }
  #blog-post .thumb {
    max-width: 200px;
    max-height: 135px;
  }
  #blog-post .postnav a,
  #blog-post .postnav span {
    font-size: 75%;
    font-weight: bold;
  }
  #blog-post .postnav {
    padding: 10px 0px;
  }
  div.post-teaser {
    padding: 5px 12px 7px;
  }
  .post-teaser h3 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 8px;
  }
  .post-teaser p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

//Sidebar
@media (min-width: 992px) {
  .blog-post-outer {
    float: left;
    width: 100%;
    margin-right: -300px;
  }
  .blog-post-inner {
    margin-right: 335px;
  }
  #blog-sidebar {
    float: left;
    width: 300px;
    padding-top: 20px;
  }
  #blog-sidebar #sticky {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .sb-search,
  .sb-social {
    display: none;
  }
  #blog-sidebar {
    padding-top: 30px;
  }
  #blog-sidebar #sticky {
    position: relative !important;
    top: 0 !important;
  }
}

#mktoForm_1031 div.mktoFormRow:nth-child(6) {
  display: none;
}

.sidebar-boxes {
  border: 1px solid #efefef;
  margin-bottom: 25px;
}

.sidebar-banner {
  margin-bottom: 25px;
}

.sb-forms {
  background-color: #efefef;
}

.sb-forms form {
  padding: 10px 25px 10px;
}

.sb-forms h6 {
  background-color: #d5e3eb;
  margin-top: 0px;
  padding: 11px 25px 10px;
  border-bottom: 1px solid #fff;
  color: @upd-blue;
}

.sb-search2 {
  padding: 10px 25px 25px;
}

.sb-search {
  padding: 25px 25px 10px;
}

.sb-social {
  padding: 10px 10px 20px;
}

.sb-social .inline-center-block {
  margin: 0px 50px;
}

.sidebar-forms-simple {
  border: none;
}

.sidebar-forms-simple .mktoForm input[type="text"],
.sidebar-forms-simple .mktoForm input[type="email"],
.sidebar-forms-simple .mktoForm select {
  border-color: #efefef !important;
  font-size: 14px !important;
}

.sidebar-forms-simple .mktoForm {
  padding: 0px !important;
}

.sidebar-forms-simple .mktoButton {
  background-color: #5590ad !important;
  padding: 8px 20px !important;
  font-size: 13px !important;
}

#blog-sidebar .related h6.title {
  text-transform: initial;
  letter-spacing: inherit;
  line-height: initial;
  margin-top: 0px;
  width: 100%;
}

#blog-sidebar .recommended-item {
  border-top: 1px solid #efefef;
  padding-top: 15px;
  display: table;
  padding-bottom: 15px;
}

#blog-sidebar .related .recommended-item h6.title {
  display: table-cell;
  vertical-align: middle;
}

#blog-sidebar .related a {
  transition: all 0.3s ease;
}

#blog-sidebar .related a:hover {
  opacity: 0.7;
}

.zero-sqs .sqs-block {
  padding: 0px !important;
}

a.back-blog {
  font-size: 13px;
  display: block;
  float: right;
  padding-left: 20px;
  color: @upd-blue;
}

//Trends Blog
#blog-trends-title {
  margin-bottom: 30px;
}

#blog-trends-title .main-section-header h1 {
  margin-bottom: 20px;
}

#navbar-red-simple .search-blog {
  float: right;
  margin-top: 12px;
}

#navbar-red-simple #searchtrends .sqs-block-search {
  padding-bottom: 0px;
}

#navbar-red-simple #searchtrends .search-input {
  padding: 4px 6px 6px 45px;
  opacity: 1;
  background-color: #fff;
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1484672908/website/graphics/icon-searchqueries-blue.png);
}

#navbar-red-simple #searchtrends .search-input.loading {
  background-image: none;
}

#blog-home #trends .postfullheader {
  padding-bottom: 8px;
}

#blog-home #trends h4.title {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 150%;
}

#blog-home #trends .blog-date {
  font-size: 80%;
  text-transform: uppercase;
  color: #8c8c8d;
}

#trends {
  opacity: 0;
}

.line-seperator {
  height: 2px;
  background-color: #efefef;
  margin: 20px 15px;
}

.trends-blog .yui3-searchpreviewdropdown {
  top: 53px !important;
  position: absolute !important;
}

@media (max-width: 480px) {
  #navbar-red-simple #searchtrends .search-input {
    padding: 4px 4px 6px 45px;
    max-width: 170px;
  }
}

@media (max-width: 767px) {
  .trends-blog .yui3-searchpreviewdropdown {
    top: 53px !important;
    position: absolute !important;
  }
  .line-seperator {
    margin-bottom: 0px !important;
  }
  .blog-box {
    height: auto !important;
  }
  .line-seperator:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
    z-index: 1;
  }
  #trends article:not(:first-child) {
    margin-top: 30px;
  }
  #trends article:last-child {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .trends#blog-post .blog-post-inner {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .trends#blog-post .blog-post-outer,
  .trends#blog-post .blog-post-inner {
    margin-right: 0px;
  }
}

// Blog Combination
#blogcombo-header .row {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 200;
}

#blogcombo-header .links a:not(.btn) {
  font-size: 15px;
  text-transform: uppercase;
  color: #666667;
  display: inline-block;
  margin-right: 25px;
  transition: all 0.3s ease;
}

#blogcombo-header .social a.social-btn {
  outline: 0;
  color: #fff;
  background-color: #666667;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  width: 34px;
  height: 34px;
  margin-left: 3px;
  transition: all 0.3s ease-in-out 0s;
}

#blogcombo-navbelow a.social-btn {
  outline: 0;
  color: #fff;
  background-color: #666667;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  width: 34px;
  height: 34px;
  margin-left: 0px;
  transition: all 0.3s ease-in-out 0s;
}

#blogcombo-navbelow a.btn-primary {
  font-size: 12px;
  padding: 10px 20px;
  margin-right: 5px;
}

#blogcombo-navbelow #blogcombosearch {
  padding-left: 15px;
  padding-right: 15px;
}

#blogcombo-navbelow .col-xs-12 {
  padding: 0px;
}

#blogcombo-header .links a:hover {
  color: #5590ad;
}

#blogcombo-header .links a.btn {
  color: #fff !important;
  margin: 5px;
}

#blogcombo-header .social a.social-btn:hover {
  background-color: #8c8c8d;
}

#blogcombo-header .social .btn {
  margin-right: 10px;
}

#blogcombo-header
  .sqs-layout:not(.sqs-editing)
  > .sqs-row:first-child
  > [class*="sqs-col"]:first-child
  > .sqs-block:last-child {
  padding-bottom: 0px;
}

#blogcombo-header .sqs-search-ui-button-wrapper .search-input {
  padding: 8px 8px 8px 42px;
}

#blogcombo-header .col-lg-2 {
  padding: 0px;
}

#blogcombo-header select {
  padding: 10px;
}

#blogcombo-feature h1,
#blogcombo-feature a,
#blogcombo-feature p {
  color: #fff;
}

#blogcombo-feature h1 {
  margin-bottom: 15px;
}

#blogcombo-feature2 h1,
#blogcombo-feature2 a,
#blogcombo-feature2 p {
  color: #fff;
}

#blogcombo-feature2 h1 {
  margin-bottom: 12px;
  margin-top: 0px;
}

#blogcombo-feature2 span {
  text-transform: uppercase;
  color: #e4e4e5;
  margin-top: 10px;
  display: inline-block;
}

#blogcombo-feed-top a.blog-name,
#blogcombo-feed-bottom a.blog-name {
  text-transform: uppercase;
  color: #8c8c8d;
  margin-top: 5px;
  display: inline-block;
  font-size: 90%;
}

#blogcombo-feed-top h4,
#blogcombo-feed-bottom h4 {
  margin-top: 5px;
}

#blogcombo-feed-bottom .solutions-feed div.col-sm-4 {
  display: none;
}

@media (min-width: 768px) {
  #blogcombo-feed-top .solutions-feed .col-sm-4,
  #blogcombo-feed-bottom .solutions-feed .col-sm-4 {
    width: 32% !important;
    text-align: left;
  }
}

@media (max-width: 767px) {
  #blogcombo-feature h1,
  #blogcombo-feature2 h1 {
    font-size: 24px;
    line-height: 1.3em;
  }
  #blogcombo-feed-top .solutions-feed .thumb,
  #blogcombo-feed-bottom .solutions-feed .thumb {
    max-width: 400px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  #blogcombo-header .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #blogcombo-header .links {
    text-align: center !important;
    margin: auto;
  }
  #blogcombo-header .links a:not(.btn) {
    border: 1px solid #5590ad;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 13px;
    margin: 8px 5px;
  }
  #blogcombo-header .links a.btn {
    font-size: 13px;
  }
}

/////////////////////////////
////// added 2018 //////////
////////////////////////////

b,
strong {
  // font-weight: 500;
}
.blog-post-inner p,
#blog-home p,
#blogcombo-feature p,
#blogcombo-feature2 p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .blog-post-inner p,
  #blog-home p,
  #blogcombo-feature p,
  #blogcombo-feature2 p {
    font-size: 15px;
    line-height: 150%;
  }
}

#blog-home,
#blogcombo-feed-top,
#blogcombo-feed-bottom {
  letter-spacing: normal;
}

#blogcombo-feed-top h4.title,
#blogcombo-feed-bottom h4.title {
  line-height: 130%;
}

#blogcombo-feature,
#blogcombo-feature2 {
  letter-spacing: normal;
}
