// NOTE:
//
// Added: July 2018
// Used in: the carousel appears in /about-us and /clients pages
// Dependency: Flickity
//

.sqs-block.code-block.sqs-block-code {
  padding: 0;
}
section.testimonial-carousel {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #3e7396;
  color: #fff; // background: #384C5A;
  h2 {
    text-align: center;
    opacity: 0.5;
    font-size: 23px;
    font-weight: bold;
  }
  .carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .carousel-cell {
    width: 100%;
    text-align: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 30px;
    h1 {
      font-size: 28px;
      line-height: 1.3; // font-style: italic;
      max-width: 680px;
      margin-bottom: 0; // text-align: left;
      font-weight: 100 !important;
    }
    h2 {
      font-size: 22px;
      opacity: 1;
      font-weight: normal;
    }
    @media screen and (max-width: 1200px) {
      h1 {
        font-size: 25px;
        max-width: 600px;
      }
      h2 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 991px) {
      h1 {
        font-size: 22px;
        max-width: 550px;
      }
      h2 {
        font-size: 18px;
      }
    }
    @media screen and (max-width: 680px) {
      h1 {
        font-size: 19px;
        max-width: 400px;
      }
      h2 {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 500px) {
      h1 {
        max-width: 320px;
      }
    }
  }
  .flickity-page-dots {
    box-sizing: border-box;
    padding: 0;
    bottom: 5px;
    .dot {
      background: #fff;
    }
  }
  .flickity-prev-next-button {
    opacity: 0.3 !important;
  }
  .flickity-button-icon {
    fill: #3e7396;
  }
}
