// NOTE:
//
// Added: July 2018
// Used in: /investor-summit
// Dependency: Flickity
//

body.summit-page {
  padding: 0;
  margin: 0;
  letter-spacing: normal;
  .maquette-web();
}

header.summit-2018-header {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 62px;
  width: 100%;
  background: #f04f59;
  // .display-flex();
  // align-items: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);

  .summit-n-header {
    margin: 0 auto;
    height: 62px;
    .display-flex();
    justify-content: space-between;
    align-items: center;

    .summit-logo img {
      width: 125px;
      cursor: pointer;
    }

    .summit-nav {
      .maquette-web();
      ul {
        .display-flex();
        margin: 0 auto;
        align-items: center;
        list-style: none;
        padding: 0;
        li {
          color: #ffffff;
          margin-right: 40px;
          &.summit-rsvp {
            padding: 5px 20px;
            background: #ffffff;
            color: #f04f59;
            border-radius: 20px;
            margin-right: 0;
            a {
              color: #f04f59;
              transition: all 0.2s;
              &:hover {
                opacity: 1;
              }
            }
            &:hover {
              opacity: 0.7;
            }
          }
          a {
            color: #fff;
            &:hover {
              opacity: 0.6;
            }
          }

          @media @screen768 {
            &:not(.summit-rsvp) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.summit-hero {
  mix-blend-mode: multiply;
  height: 600px;
  background: linear-gradient(135deg, #601e6c 0%, #601e6c 4%, #f84e58 100%),
    url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,w_1920/v1531164058/investor-summit/2018/shutterstock_147954134-.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  .display-flex();
  flex-direction: column;
  justify-content: center;
  h1,
  h2,
  h3 {
    .maquette-web();
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    transition: all 0.2s;
  }
  h1 {
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.2;
  }
  h2 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
  }
  .rethink-summit {
    h1 {
      font-size: 120px;
      margin-bottom: 0;
    }
    h3 {
      font-weight: 900;
      font-size: 50px;
      line-height: 1.2;
      margin-top: 0px;
      color: white;
      margin-bottom: 10px;
    }
    @media @screen1200 {
      h1 {
        font-size: 110px;
      }
      h3 {
        font-size: 44px;
      }
    }
    @media @screen992 {
      h1 {
        font-size: 90px;
      }
      h3 {
        font-size: 37px;
      }
    }
    @media @screen550 {
      h1 {
        font-size: 60px;
      }
      h3 {
        font-size: 24px;
      }
    }
  }
}
span.rsvp-reminder {
  background: #2b7499;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.3);
  display: block;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  @media @screen768 {
    font-size: 18px;
  }
}
section.summit-intro {
  margin: 0 auto;
  padding: 15px;
  max-width: 730px;
  margin-bottom: 80px;
  h1 {
    font-size: 32px;
    line-height: 1.2;
    color: #f04f59;
    font-weight: 900 !important;
    margin-top: 80px;
    font-family: "ars-maquette-web";
  }
  p {
    font-size: 22px;
    line-height: 32px;
    color: #666666;
    .merriweather();
  }
  span {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  a.summit-rsvp-main {
    .maquette-web();
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    padding: 5px 50px;
    background: #f04f59;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s;
    &:hover {
      background: #39b3ca;
    }
  }
}

section.summit-speakers,
section.summit-agenda,
section.summit-hotels,
section.summit-rsvp-form {
  .display-flex();
  flex-wrap: wrap;
  .summit-headings {
    font-size: 24px;
    line-height: 42px;
    .maquette-web();
    font-weight: 600;
    color: #2b7499;
    width: 150px;
    padding-top: 0;
    &.red {
      color: #f84e58;
    }
    @media @screen1200 {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .summit-info {
    .display-flex();
    flex: 1;
    max-width: 840px;
    flex-wrap: wrap;
    margin-bottom: 50px;

    &.headshots {
      justify-content: space-between;
      .summit-speaker-subheading {
        display: block;
        width: 100%;
        height: 42px;
        font-size: 18px;
        line-height: 42px;
        border-top: 1px solid #2b7499;
        border-bottom: 1px solid #2b7499;
        .maquette-web();
        color: #2b7499;
        font-weight: 200;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        &:last-of-type {
          margin-top: 20px;
        }
      }
      .summit-speaker {
        text-align: center;
        flex: 1 0 250px;
        margin-bottom: 30px;

        img {
          width: 160px;
          border-radius: 80px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          // border: solid 3px #39B3CA;
        }
        h3 {
          .maquette-web();
          font-weight: 500;
          font-size: 18px;
          line-height: 1.2;
          margin-top: 10px;
          margin-bottom: 5px;
          color: #2b7499;
        }
        h4 {
          .maquette-web();
          font-weight: 200;
          font-size: 16px;
          line-height: 1.3;
          color: #334d5c;
          margin-top: 0;
        }
      }
    }

    &.agenda-table {
      max-width: 1200px;
      .summit-table-heading {
        background: #39b3ca;
        .maquette-web();
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        width: 200px;
        text-align: center;
        padding-top: 17px;
        margin-right: 5px;
        margin-bottom: 5px;
        .display-flex();
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        @media @screen768 {
          width: 100%;
          padding-top: 0px;
          font-size: 17px;
        }
      }
      .summit-table-element {
        flex: 1;
        color: #4a4a4a;
        box-sizing: border-box;
        .summit-table-row {
          .display-flex();
          margin-bottom: 5px;
          .summit-schedule {
            font-size: 17px;
            line-height: 24px;
            .maquette-web();
            .display-flex();
            font-weight: 200;
            justify-content: center;
            align-items: center;
            background: #eeeeee;
            padding: 30px;
            min-height: 50px;
            flex: 0 0 220px;
            @media @screen550 {
              flex-basis: 100px;
              padding: 10px;
              text-align: center;
              font-size: 14px;
            }
          }

          .summit-agenda {
            padding: 20px;
            .merriweather();
            .display-flex();
            font-size: 17px;
            padding-left: 30px;
            line-height: 24px;
            flex-direction: column;
            justify-content: center;
            min-height: 40px;
            background: #ffffff;
            span.agenda-note {
              display: block;
              margin-top: 5px;
              font-size: 15px;
              line-height: 22px;
              color: #777777;
            }
            @media @screen768 {
              flex-basis: 400px;
            }
            @media @screen550 {
              font-size: 14px;
              line-height: 19px;
              span.agenda-note {
                font-size: 12px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
    &.hotels {
      max-width: 1200px;
      flex-wrap: wrap;
      h2 {
        .merriweather();
        color: #666666;
        font-size: 20px;
        line-height: 32px;
        margin-top: 5px;
      }
      div.hotel-details {
        position: relative;
        flex: 1;
        margin-right: 20px;
        .sold-out {
          position: absolute;
          top: 0;
          z-index: 90;
          pointer-events: none;
          width: 129px;
          height: 129px;
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1531236143/investor-summit/2018/soldout.svg");
        }
        h3 {
          color: #39b3ca;
          .maquette-web();
          font-size: 22px;
          line-height: 26px;
          margin-top: 0;
          margin-bottom: 15px;
          font-weight: 500;
        }
        p {
          .merriweather();
          color: #334d5c;
          font-size: 17px;
          line-height: 22px;
          margin-bottom: 10px;
          &.room-block {
            .maquette-web();
            color: #2b7499;
            font-weight: 600;
            span {
              font-weight: 300;
              font-style: italic;
            }
          }
        }
        .carousel.is-fullscreen .carousel-cell {
          height: 100%;
          top: 40px;
          margin: 0 auto;
        }
        .carousel {
          margin-bottom: 15px;
          background: #000;
        }
        .carousel-cell {
          height: 350px;
          width: 100%;
          min-width: 100%;
          margin-right: 50%;
          .display-flex();
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            max-height: 100%;
          }
          @media @screen768 {
            height: 300px;
          }
        }
        .flickity-page-dots {
          bottom: 10px;
          .dot {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: rgba(255, 255, 255, 0.5);
            &.is-selected {
              background: #ffffff;
            }
          }
        }
        a,
        span.is-sold-out {
          display: inline-block;
          font-size: 18px;
          padding: 5px 25px;
          .maquette-web();
          font-weight: 500;
          background: #39b3ca;
          color: #ffffff;
          border-radius: 25px;
          margin-top: 5px;
          transition: all 0.2s;
          &:hover {
            background: #f04f59;
          }
        }
        span.is-sold-out {
          background: #999999;
          &:hover {
            background: #999999;
          }
        }
        @media @screen550 {
          flex-basis: 550px;
          margin-bottom: 20px;
          margin-right: 0;
          // min-width: 500px;
        }
      }
    }
    &.rsvp-form-area {
      &.rethink-summit-rsvp {
        justify-content: flex-start;
        flex-direction: column;
        max-width: 1000px;
        // flex-grow: 0;
        h1 {
          transition: all 0.2s;
          color: #fff;
          font-weight: 900;
          font-size: 46px;
        }
        h3 {
          color: #fff;
          margin-top: 10px;
          line-height: 1.8;
          font-size: 27px;
        }
        a {
          .maquette-web();
          font-weight: 500;
          color: #fff;
          font-size: 25px;
          padding: 5px 40px;
          background: #f04f59;
          border-radius: 30px;
          display: inline-block;
          text-align: center;
          margin-left: 5px;
          transition: all 0.2s;
          &:hover {
            background: #39b3ca;
            color: #fff;
          }
        }
        @media @screen1200 {
          h1 {
            font-size: 42px;
          }
          h3 {
            font-size: 25px;
          }
        }
        @media @screen992 {
          h1 {
            font-size: 39px;
          }
          h3 {
            font-size: 22px;
          }
        }
      }
      // max-width: 1200px;
      flex: 1;
      h2,
      h3 {
        width: 100%;
        .merriweather();
        color: #666666;
        font-size: 20px;
        line-height: 32px;
        margin-top: 5px;
      }
      h3 {
        color: #9b9b9b;
        margin-top: 30px;
        margin-bottom: 10px;
        a {
          color: #39b3ca;
          transition: all 0.2s;
          &:hover {
            color: #f04f59;
          }
        }
      }
      #rethink-form-2018,
      #summit-form-2018 {
        width: 100%;
        .maquette-web();
        font-weight: 200 !important;
        input,
        label {
          font-weight: 200 !important;
        }
        input.button {
          border-radius: 40px;
          .maquette-web();
          font-weight: 600;
          background: #f04f59;
          &:hover {
            background: #39b3ca;
          }
        }
      }
    }
  }
  .flex-spacer {
    width: 100%;
    min-height: 2px;
  }
  .flickity-button.flickity-fullscreen-button.flickity-fullscreen-button-exit {
    top: 80px;
    right: 50px;
    width: 50px;
    height: 50px;
    svg {
      width: 42px;
      height: 42px;
    }
  }
}
.bottom-red-bar {
  margin-top: 50px;
  width: 100%;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background: #f04f59;
}
