// NOTE:
//
// Added: July 2018
// Used in: the carousel appears in /about-us and /clients pages
//

.fundraising-swag {
  padding-bottom: 0;
  margin-bottom: 0;
  h1,
  h3,
  h6 {
    text-align: center;
    letter-spacing: normal;
    margin: 0;
    .maquette-web();
    transition: all 0.2s;
  }
  h6 {
    .merriweather();
    font-size: 23px;
    margin: 0 auto;
    text-transform: none;
    color: #ffffff;
    line-height: 1.4;
  }
  .swag-hero {
    transition: all 0.2s;
    h1,
    h3,
    h6 {
      margin: 0 auto;
      max-width: 600px;
    }
    h1 {
      font-size: 70px;
      line-height: 1.2;
      color: #ffffff;
      font-weight: 400;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 36px;
      color: #ffffff;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @upd-light-blue;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1533695329/website/fundraising-swag/shutterstock_577647013.png"),
      url("https://res.cloudinary.com/updater-marketing/image/upload/v1533696663/website/fundraising-swag/shutterstock_774008764.png");
    background-position: right bottom, left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vh;
    @media @screen1200 {
      background-position: right bottom, left -10% bottom;
      h6 {
        max-width: 450px;
      }
    }
    @media @screen992 {
      background-position: right bottom, left -20% bottom;
      h1 {
        font-size: 48px;
        max-width: 500px;
      }
      h3 {
        font-size: 28px;
        max-width: 450px;
      }
      h6 {
        font-size: 20px;
      }
    }
    @media @screen768 {
      background-image: none;
    }
    @media @screen550 {
      h1 {
        font-size: 32px;
      }
      h3 {
        font-size: 24px;
      }
      h6 {
        font-size: 18px;
      }
    }
  }
  .proceed-msg {
    background: @upd-blue;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  }
  #swag-how {
    margin-top: 40px;
    margin-bottom: 80px;
    .display-flex();
    .maquette-web();
    font-weight: 200;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      color: @upd-pink;
      text-align: left;
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 5px solid #eee;
    }

    .swag-steps {
      margin-right: 30px;
      background: #eee;
      padding: 10px 20px;
      flex: 1;
      &:last-child {
        margin-right: 0;
      }
      span.swag-big-no {
        display: block;
        color: @upd-light-blue;
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 0;
        line-height: 1.3;
      }
      h2 {
        margin: 0;
        margin-bottom: 30px;
        color: @upd-navy;
        line-height: 1.2;
      }
      p {
        .merriweather();
        font-size: 17px;
        line-height: 1.5;
        color: #666;
      }
    }
    @media @screen992 {
      flex-direction: column;
      .swag-steps {
        margin-right: 0;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  #swag-pick {
    .display-flex();
    justify-content: space-between;

    h1 {
      width: 100%;
      color: @upd-pink;
      text-align: left;
      padding-bottom: 10px;
      border-bottom: 5px solid #eee;
    }
    h4 {
      color: @upd-blue;
      margin-bottom: 10px;
    }
    span.bonfire-shirt-types {
      width: 100%;
      color: @upd-light-blue;
      .merriweather();
      margin-bottom: 40px;
      img {
        height: 30px;
      }
    }
    flex-wrap: wrap;
    div {
      .display-flex();
      justify-content: center;
      align-items: center;
      flex: 0 1 33%;
      img {
        width: 100%;
        display: block;
        height: 100%;
        transition: all 0.2s;
        &:hover {
          width: 95%;
        }
      }
      a {
        .display-flex();
        justify-content: center;
      }
      @media @screen992 {
        flex-basis: 49%;
      }
      @media @screen550 {
        flex-basis: 100%;
      }
    }
  }
  .red-strip-foot {
    margin-top: 100px;
    height: 20px;
    background: @upd-pink;
  }
}
