//general
.text-bold {
  font-weight: 500;
}

.text-bold-em {
  font-weight: 500;
  font-style: italic;
}

.text-red {
  color: @upd-salmon;
}

.btn-large {
  font-size: 24px !important;
  padding: 12px 54px !important;
}

.img-border {
  border: 1px solid #dedede;
}

.ltblue {
  color: #d5e3eb !important;
}

.mdblue {
  color: #80acc2 !important;
}

.ltyellow {
  color: #ffefad !important;
}

.yellow {
  color: #ffe98f !important;
}

.ltred {
  color: #fb959a;
}

.green-mid {
  color: #75c79b !important;
}

.red-mid {
  color: #f97179 !important;
}

.blue-mid {
  color: #5590ad !important;
}

.text-small {
  font-size: 12px !important;
}

.text-large20 {
  font-size: 20px !important;
}

.text-large18 {
  font-size: 18px !important;
}

.zero-padding {
  padding: 0px !important;
}

.zero-margin {
  margin: 0px !important;
}

.account-nav a {
  padding-top: 7px !important;
  line-height: 35px !important;
}

.footer-link-highlight {
  color: #76c69b !important;
  text-decoration: underline !important;
}

.footer-link-highlight span {
  color: #666667 !important;
  text-decoration: none !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zero-border {
  border: none !important;
}

.text-white a:hover {
  opacity: 0.7;
}

.btn-white {
  color: #404041;
  background-color: #fff;
}

.btn-white:active,
.btn-white:focus,
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: #404041;
}

.btn-purple {
  background-color: #8273a8 !important;
}

.btn-purple:hover {
  background-color: #998cbf !important;
}

.btn-trans-blue-mini {
  color: #2b7499;
  background-color: inherit;
  border: 1px solid #aac7d6;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.8;
  transition: all 0.3s ease;
  margin-top: 8px;
}

.btn-trans-blue-mini:hover {
  background-color: #f3fcff;
}

.ico-xsmall {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
}

.polaroid {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 10px solid #fff;
}

h4.ltblue img {
  padding: 13px;
}

iframe {
  border: none;
}

h1 .black {
  font-family: "ars-maquette-web";
  font-weight: 800;
}

.mg-bottom-none {
  margin-bottom: 0px !important;
}

.sqs-block-top-fix {
  margin-top: -17px !important;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 992px) {
  .flex-md {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .flex-sm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .col-mobile {
    width: 100%;
  }
}

.btn-bloc {
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  transition: all 0.4s;
}

.btn-bloc.red {
  background: @upd-salmon;
  color: #fff;
  border: 1px solid @upd-salmon;
}

.btn-bloc.red:hover {
  background: #fff;
  color: @upd-salmon;
}

.btn-bloc.jumbo {
  font-size: 26px;
  padding: 15px 27px;
}

.btn-bloc.small {
  font-size: 14px;
  padding: 10px 20px;
}

.btn-bloc.xsmall {
  font-size: 12px;
  padding: 8px 12px;
}

.btn-bloc.red-inverse {
  background: #fff;
  color: @upd-salmon;
  border: 1px solid @upd-salmon;
}

.btn-bloc.red-inverse:hover {
  background: @upd-salmon;
  color: #fff;
}
