//splash
.insurance-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,o_20,w_2000/v1521550225/heroes/shutterstock_591160463.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-insurance-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,o_40,w_2000/v1520373032/team%20photos/group/team-1017-1-hires.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

.find-mover-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/b_black,c_scale,f_auto,o_40,w_2000/v1429064286/heroes/splash-solutions-moving.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

.hiring-process-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/o_17/v1489590310/new%20office%20move/Updater_union_square_lounge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.moving-search-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/o_50/v1429064286/heroes/splash-solutions-moving.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.investors-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,o_20,w_2000/v1491964599/heroes/shutterstock_203058166.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.internships-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1497964986/team%20photos/IMG_7064.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.consumer-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1499291219/heroes/shutterstock_583437694.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-demo-multifam {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1497982041/heroes/Property_Management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-demo-brokerage {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1497982042/heroes/Real_Estate_and_Brokerage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-demo-mortgage {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1497982042/heroes/Mortgage___Title.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-demo-moving {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_15,q_70,w_2000/v1497982040/heroes/Moving_Companies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contactus-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_20/v1485296603/new%20office%20move/19unionsquare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutus-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_20/v1488319100/heroes/static-about-splash-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.core-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_15/v1444755533/team%20photos/group/Updater_Team_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-jobs-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_15/v1488321443/heroes/splash-team-jobs-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jobs-tech-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_12/v1488322428/heroes/splash-team-tech-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-press-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_18/v1488323336/heroes/splash-about-press.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.office-move-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,o_20,w_2500/v1484926886/heroes/splash-newoffice-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-multifamily-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_30/v1479229507/heroes/splash_multifam_6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.solutions-why-splash-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_15/v1488327560/heroes/splash-solutions-why-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-features-splash-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_30/v1488328360/heroes/splash-solutions-features-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-clients-splash-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_20/v1488404265/heroes/splash-solutions-clients-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-integrations-splash-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1488328727/heroes/splash-solutions-integrations-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-implemenation-splash-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1459278900/heroes/splash-thumbsup2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-mortgagetitle-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1481069882/heroes/splash_solutions_mortgagetitle1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.solutions-moving-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-solutions-moving.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.solutions-movingcouple1-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/movingcouple1_splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 767px) {
  .solutions-movingcouple1-splash .btn-transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .solutions-movingcouple1-splash {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_30/v1429063711/heroes/movingcouple1_splash.jpg") !important;
  }
  .solutions-mortgagetitle-splash {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_15/v1481069882/heroes/splash_solutions_mortgagetitle1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .solutions-moving-splash {
    background-position: top left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .solutions-mortgagetitle-splash {
    background-position: -450px 0px;
  }
}

.about-splash-top-2 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload//f_auto/v1485290525/heroes/static-about-splash-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sales-individual-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1479247975/heroes/splash-sales-individual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.stats-hero-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,o_25,w_2500/v1471996257/heroes/shutterstock_320529281.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.solutions-team-multifam {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1496784585/team%20photos/updater-multifam3b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #fff;
}

.solutions-team-moving {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1496808276/team%20photos/updater-mov-hoa2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #fff;
}

@media (max-width: 750px) {
  .solutions-team-moving {
    min-height: 300px;
    height: 100% !important;
  }
  .solutions-team-multifam {
    min-height: 300px;
    height: 100% !important;
  }
}

.solutions-team-brokerage {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1496808276/team%20photos/updater-mov-hoa2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #fff;
}

@media (max-width: 750px) {
  .solutions-team-brokerage {
    min-height: 300px;
    height: 100% !important;
  }
}

.solutions-team-splash {
  height: 420px;
  padding-top: 120px;
}

@media (max-width: 767px) {
  .solutions-team-splash {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.solutions-team-landing2 {
  background-image: url("//updater-partners.s3.amazonaws.com/updater_new/marketing/teamphoto1214.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: #fff;
}

@media (min-width: 1700px) {
  .solutions-team-landing2 {
    background-position: center top;
  }
}

@media (max-width: 1100px) {
  .solutions-team-landing2 {
    background-image: url("//updater-partners.s3.amazonaws.com/updater_new/marketing/teamphoto1214b.jpg");
  }
}

@media (max-width: 767px) {
  .solutions-team-landing2 {
    background-image: url("//updater-partners.s3.amazonaws.com/updater_new/marketing/teamphoto1214.jpg");
  }
}

@media (max-width: 500px) {
  .solutions-team-landing2 {
    background-image: url("//updater-partners.s3.amazonaws.com/updater_new/marketing/teamphoto1214b.jpg");
  }
}

.solutions-team-landing {
  background-image: url("//updater-partners.s3.amazonaws.com/updater_new/marketing/team1c.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
}

.solutions-team-demo-row {
  background-color: #d5e3eb;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.solutions-team-demo-box {
  padding: 20px 50px 50px;
}

.careers-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1439932086/heroes/static-careers-splash-2b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tech-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1475001961/heroes/static-tech-splash-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1478016851/team%20photos/group/splash-team-1016-silly2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.team-home-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto/v1478014473/team%20photos/group/splash-team-1016-reg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.pricing-splash-image {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_70/v1482857125/heroes/splash-pricing.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.about-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/static-about-splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.press-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-press.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sync-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-sync.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.integrations-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-integrations.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-features-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/fetch/q_70,f_auto/https://updater-partners.s3.amazonaws.com/updater_new/marketing/splash-features.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-business-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-business-solutions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.static-contact-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/heroes/splash-contact2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.investors-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1447200743/heroes/splash-investors1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.solutions-title-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1429060509/heroes/splash-business-solutions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-boxes-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1441048560/heroes/splash-movingboxes-1-green.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solutions-home-splash-2 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1444796964/heroes/splash-solutions-home-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media (max-width: 767px) {
  .solutions-title-splash {
    background-image: none;
    border-top: 1px solid #e4e4e5;
  }
  .solutions-home-splash-2 {
    background-image: none;
    border-bottom: 1px solid #e4e4e5;
  }
}
