// HOME 17'
.home #navbar-red:not(.scrolled) {
  background: none;
}

.home .wow {
  visibility: hidden;
}

.home #navbar-red img.logo,
.home #funnel h2 {
  transition: all 0.4s;
}

.home #navbar-red:not(.scrolled) img.logo {
  opacity: 0;
}

#home-hero {
  position: relative;
  width: 100%;
  min-height: 500px;
  background: #404041;
  overflow: hidden;
  margin-top: -101px;
  padding-top: 101px;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

#home-hero .splash {
  opacity: 0.5;
}

#home-hero .crossfade {
  opacity: 0.4;
}

#home-hero .splash img.bgfade {
  top: 0;
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}

#home-hero .headliner {
  position: relative;
  z-index: 10;
  margin: auto;
}

#home-hero .headliner img {
  max-width: 725px;
}

#home-hero h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

#home-hero .btn-bloc {
  margin: 20px 12px 0px;
  font-weight: 400;
}

#home-hero .scrolldown {
  position: relative;
}

#home-hero .scrolldown a:hover {
  opacity: 0.7;
}

#home-hero .scrolldown a {
  position: absolute;
  transition: all 0.3s ease;
  -webkit-animation: scrollbounce 2s infinite;
  animation: scrollbounce 2s infinite;
}

@-webkit-keyframes scrollbounce {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  40% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes scrollbounce {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  40% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#home-split-hero {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1499804161/heroes/shutterstock_377817931.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#home-split-hero .overlay {
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.75) 49.9%,
    rgba(248, 78, 87, 0.75) 50%
  );
}

#home-split-hero .text-white h1 {
  color: #fff !important;
}

.home h1.super {
  font-family: "ars-maquette-web";
  font-weight: 800;
  text-transform: uppercase;
  color: #666667;
  font-size: 38px;
  line-height: 1.4em;
}

.home h2.super {
  font-family: "ars-maquette-web";
  font-weight: 800;
  text-transform: uppercase;
  color: #666667;
  font-size: 34px;
  line-height: 1.4em;
}

.home h2.super.underline {
  border-bottom: solid 1px #fcb8bc;
  margin-left: 30px;
  margin-right: 30px;
}

.home h2.sub {
  text-transform: uppercase;
  font-size: 34px;
  padding-bottom: 9px;
  line-height: 1.2em;
  border-bottom: solid 1px #e4e4e5;
  margin-left: 30px;
  margin-right: 30px;
  color: #2b7499;
}

.home #intro.container {
  position: relative;
  overflow: hidden;
  margin-top: -34px;
}

.home #funnel {
  position: relative;
  padding: 60px 0;
  background: @upd-salmon;
}

.home #funnel .col-sm-6 {
  padding: 0px;
}

.home #funnel a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.home #funnel .left a,
.home #funnel .right a {
  border: 1px solid #fff;
  border-radius: 10px;
}

.home #funnel a .arrow {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #f97179;
  font-size: 36px;
  transition: all 0.7s;
  opacity: 0;
}

.home #funnel a:hover {
  background-color: #fff;
}

.home #funnel a:hover h2,
.home #funnel a:hover h4 {
  color: @upd-salmon;
}

.home #funnel h4 {
  color: #fff;
}

.home #funnel h2.underline {
  border: none;
  color: #fff;
  line-height: 1.2em;
}

.home #funnel img {
  transition: all 0.7s ease;
}

.home #funnel a:hover .arrow {
  opacity: 1;
}

.home #bestclients .carousel .row {
  display: block;
}

.home #bestclients .carousel .col-xs-4 {
  width: 32.5%;
}

.home #bestclients .carousel img {
  padding: 10px 0px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.home #asseenin .logos img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 150px;
}

.home #asseenin .logos img.padadjust-sm {
  padding: 0px 10px;
}

.home #asseenin .logos img.padadjust-md {
  padding: 0px 15px;
}

.home #friendship a.btn-bloc {
  margin: 0px 5px 10px;
}

.home .line-vertical-open {
  position: absolute;
  top: 0;
  left: 0px;
}

.home .line-vertical-open img {
  height: 250px;
  margin-top: -34px;
}

.arrow-divider {
  position: relative;
  background: #fff;
  border-bottom: 4px solid #f5f5f5;
}

.arrow-divider:after,
.arrow-divider:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-divider:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.arrow-divider:before {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
  border-width: 26px;
  margin-left: -26px;
}

.home #clients-logo-carousel.carousel {
  margin-left: 25px;
  margin-right: 25px;
}

.home #smarterway .row ul,
.home #bestclients .row ul,
.home #fortune500 .row ul {
  display: inline-block;
  text-align: left;
}

.crossfade > figure {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 0;
  opacity: 0;
  animation: fade-out 24s infinite both;
  -webkit-animation: fade-out 24s infinite both;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto/v1499804161/heroes/shutterstock_564626791.jpg");
}

.crossfade > figure:nth-child(2) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto/v1499804161/heroes/shutterstock_628141577.jpg");
}

.crossfade > figure:nth-child(3) {
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto,c_scale,w_1500/v1530634131/heroes/shutterstock_1028774143.jpg");
}

.crossfade > figure:nth-child(4) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto,c_scale,w_1500/v1513713848/heroes/shutterstock_598949936.jpg");
}

.crossfade > figure:nth-child(5) {
  animation-delay: 16s;
  -webkit-animation-delay: 16s;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto/v1499804161/heroes/shutterstock_377817931.jpg");
}

.crossfade > figure:nth-child(6) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/q_auto,f_auto/v1499804161/heroes/shutterstock_564626791.jpg");
}

@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .home #funnel .left {
    margin-right: 15px;
  }
  .home #funnel .right {
    margin-left: 15px;
  }
  .home #funnel .row {
    display: flex;
  }
  .home #smarterway .row,
  .home #bestclients .row,
  .home #fortune500 .row {
    display: flex;
    align-items: center;
  }
  .home #smarterway .row,
  .home #fortune500 .row {
    flex-direction: row-reverse;
  }
}

@media (max-width: 767px) {
  .home #funnel .left {
    margin-bottom: 30px;
  }
  #home-hero .headliner img {
    max-width: 85%;
  }
  .home .line-vertical-open {
    display: none;
  }
  .btn-bloc.jumbo {
    font-size: 18px;
    padding: 15px 27px;
  }
  .home #clients-logo-carousel {
    margin-top: 20px;
  }
  #home-split-hero .overlay {
    background: linear-gradient(
      0deg,
      rgba(248, 78, 87, 0.75) 49.9%,
      rgba(255, 255, 255, 0.75) 50%
    );
  }
  #home-split-hero .overlay .container.pad-vertical-jumbo {
    padding: 30px 0px;
  }
}

@media (max-width: 600px) {
  #home-hero h1 {
    font-size: 30px;
  }
  .home #intro .pad-vertical-jumbo {
    padding: 20px 0;
  }
  .home #smarterway h2 {
    margin-top: 0px;
  }
  .home #smarterway img {
    max-height: 525px;
  }
  .home #funnel h2.underline {
    font-size: 24px;
    margin: 10px;
  }
  .home #funnel img {
    max-width: 70px;
  }
  .home #funnel h4 {
    font-size: 16px;
  }
  .home .pad-horizontal-large {
    padding: 20px 0 0;
  }
  .home #asseenin .logos img {
    max-width: 100px;
  }
}
