// New Solutions Landing 17'
.new-solutions h2.super {
  font-family: "ars-maquette-web";
  font-weight: 800;
  text-transform: uppercase;
  color: #666667;
  font-size: 34px;
}

.new-solutions .wow {
  visibility: hidden;
}

.new-solutions h2.super.underline {
  border-bottom: solid 1px #fcb8bc;
  margin-left: 30px;
  margin-right: 30px;
}

.new-solutions#intro {
  position: relative;
  overflow: hidden;
  margin-top: -34px;
}

.new-solutions .line-vertical-open {
  position: absolute;
  top: 0;
  left: 0px;
}

.new-solutions .line-vertical-open img {
  height: 250px;
  margin-top: -34px;
}

.new-solutions #funnel {
  padding-bottom: 20px;
}

.new-solutions #funnel img {
  margin-top: 20px;
}

.new-solutions #funnel .box .super {
  font-size: 24px;
}

.new-solutions #funnel a {
  border-radius: 10px;
  background: #fff;
  color: #f97179;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  border: 1px solid @upd-salmon;
  text-align: center;
  position: relative;
}

.new-solutions #funnel a .box {
  margin: auto;
  padding-bottom: 5px;
}

.new-solutions #funnel a h2 {
  color: #404041;
  line-height: 1.4em;
  font-family: inherit;
  text-transform: inherit;
  margin-bottom: 36px;
  margin-top: 15px;
}

.new-solutions #funnel i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s;
  padding-bottom: 5px;
}

.new-solutions #funnel a:hover i {
  opacity: 1;
}

.new-solutions #funnel a:hover {
  background: #f5f5f5;
}

.main-section-red-leading.outline {
  border-top: solid 1px @upd-salmon;
}

.main-section-white-leading.inline {
  margin-top: -1px;
}

@media (min-width: 992px) {
  .new-solutions #funnel .row {
    display: flex;
  }
}

@media (max-width: 1199px) {
  .new-solutions #funnel a {
    min-height: 280px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .new-solutions .line-vertical-open {
    display: none;
  }
}

@media (max-width: 620px) {
  .new-solutions .line-vertical-open {
    display: none;
  }
  .new-solutions #funnel .col-xs-6 {
    width: 100%;
    float: none;
  }
  .new-solutions #funnel a {
    height: auto;
    min-height: inherit;
  }
}

@media (max-width: 600px) {
  .new-solutions h2.super.underline {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 32px;
  }
  .new-solutions#intro h4 {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .new-solutions #funnel i {
    bottom: -11px;
    left: inherit;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
    right: -5px;
  }
  .new-solutions #funnel a h2 {
    margin-bottom: 20px;
  }
  .new-solutions #funnel img {
    max-width: 80px;
    margin-top: 0px;
  }
  .btn-bloc.jumbo {
    margin-top: 10px;
  }
}

// Hero Sub Nav
.hero-subnav {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 22px;
  padding-bottom: 10px;
}

.hero-subnav .account-nav a {
  font-size: 15px;
  margin: 15px;
  transition: all 0.3s ease;
  color: #666667;
  font-weight: 200;
}

.hero-subnav .account-nav a:hover {
  color: #56b784;
}

.hero-subnav .account-nav a.active {
  border-top: 4px solid #75c79b;
  color: #56b784;
}

.hero-subnav .account-nav a.active:after {
  border-top-color: #75c79b;
}

select.tinynav,
#blogcombo-header select {
  box-shadow: none !important;
  font-size: 16px;
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  line-height: 1.8 !important;
  color: #404041;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_pad,w_50/v1508778691/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
  background-size: 15px;
  padding: 10px 38px 10px 12px !important;
}

.hero-subnav .account-nav ul.dropdown-menu {
  border: 1px solid #e3f4eb;
  text-transform: initial;
  background-color: #fff;
  border-radius: 3px;
}

.hero-subnav .account-nav ul.dropdown-menu > li {
  border-bottom: 1px solid #e3f4eb;
}

.hero-subnav .account-nav ul.dropdown-menu a {
  color: #8c8c8d;
  font-size: 14px;
  transition: all 0.2s linear;
  font-weight: 500;
  padding: 10px 50px 10px 10px;
  margin: 0px;
  text-transform: initial;
}

.hero-subnav .account-nav ul.dropdown-menu a:hover {
  background-color: #f5f5f5;
  color: #56b784;
  opacity: 1;
}

.hero-subnav .account-nav ul.dropdown-menu a:focus {
  background-color: #f5f5f5;
}

.hero-subnav .account-nav ul.dropdown-menu a img {
  width: 40px;
  padding-right: 5px;
  max-height: 30px;
}

@media (max-width: 768px) {
  .hero-subnav .account-nav ul.dropdown-menu {
    right: 0;
    left: auto;
  }
}
