// New Demo Request 17'
.demo-request h1 {
  font-family: "ars-maquette-web";
  font-weight: 800;
  text-transform: uppercase;
  color: #666667;
  font-size: 34px;
  border-bottom: solid 1px #fcb8bc;
  line-height: 1.4;
}

.demo-request #clients-logo-carousel.carousel {
  margin-left: 45px;
  margin-right: 45px;
}

.demo-request #clients-logo-carousel.carousel img {
  padding: 10px 0px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.demo-request h4 {
  font-family: "ars-maquette-web";
  font-weight: 800;
  color: #8c8c8d;
  text-transform: uppercase;
}

.demo-request hr {
  margin-top: 35px;
  margin-bottom: 35px;
}

.demo-request .clients-carousel-wrapper {
  position: relative;
}

.demo-request .demo-form-new {
  box-shadow: 0 0 3px 0px @upd-salmon inset;
  border-radius: 10px;
  overflow: hidden;
}

.demo-request .demo-form-new form {
  padding: 0px 30px 25px;
}

.demo-request .demo-form-new h3 {
  background: @upd-salmon;
  margin: 0px 0px 26px;
  font-family: "ars-maquette-web";
  font-weight: 800;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.demo-request .demo-form-new h3:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: @upd-salmon;
  border-width: 15px;
  margin-left: -15px;
  z-index: 1;
}

.demo-request .demo-form-new .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  padding: 15px 25px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  display: inline-block !important;
  transition: all 0.4s !important;
  border-radius: 0px !important;
  font-size: initial !important;
  width: 100%;
  background: #5590ad !important;
  border: 1px solid #5590ad !important;
}

.demo-request
  .demo-form-new
  .mktoForm
  .mktoButtonWrap.mktoSimple
  .mktoButton:hover {
  background: #fff !important;
  border: 1px solid #5590ad !important;
  color: #5590ad !important;
  opacity: 1 !important;
}

.demo-request .demo-form-new p {
  padding: 10px 30px;
}

@media (max-width: 767px) {
  .demo-request h1 {
    font-size: 26px !important;
    padding-bottom: 5px !important;
  }
  .demo-request .demo-form-new {
    margin-top: 15px;
  }
}
