// Team
.tech-photo-fun {
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  width: 75%;
  margin-top: 12px;
  margin-bottom: 10px;
}

.core-values .row {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

#team-photos a {
  transition: all 0.3s ease;
}

#team-photos img {
  transition: all 0.4s ease;
}

#team-photos p.small {
  line-height: 1.4;
  margin-top: 8px;
}

//#team-photos a:hover img {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
#team-photos a:hover img {
  opacity: 0.7;
}

// talk bubble addon
#team-photos a .member:before {
  font-family: FontAwesome;
  position: absolute;
  display: inline-block;
  z-index: 100;
  opacity: 0.6;
  content: "\f075";
  font-size: 22px;
  right: 17%;
  top: -5px;
  color: #5590ad;
}

#pupdater-carousel .carousel-inner {
  overflow: visible !important;
}

//#pupdater-carousel {overflow-x: hidden!important;}
#pupdater-carousel .team-person-name h6 {
  line-height: 1.2em !important;
}

#solutions-feed.team h4.title {
  font-size: 16px;
}

#solutions-feed.team a.thumb {
  transition: all 0.3s ease;
}

#solutions-feed.team a.thumb:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  #pupdater-carousel .col-centered {
    width: 16% !important;
  }
  #solutions-feed.team .col-sm-2 {
    width: 32%;
  }
}

@media (min-width: 992px) {
  #team-photos .col-md-3 {
    width: 16%;
  }
  #solutions-feed.team .col-sm-2 {
    width: 16%;
  }
  #team-photos .col-md-2 {
    width: 16.1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #team-photos .col-sm-4 {
    width: 24%;
  }
}

@media (max-width: 767px) {
  #pupdater-carousel .col-centered {
    width: 35% !important;
  }
  #team-photos .col-xs-6 {
    width: 32.5%;
  }
  #solutions-feed.team h4.title {
    max-width: 350px;
    margin: 5px auto;
  }
  #solutions-feed.team .col-sm-2.pad-bottom-large {
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  #team-photos .col-xs-6 {
    width: 49%;
  }
}

#pupdater-carousel.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#pupdater-carousel.carousel-fade .carousel-inner .active {
  opacity: 1;
}

#pupdater-carousel.carousel-fade .carousel-inner .active.left,
#pupdater-carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

#pupdater-carousel.carousel-fade .carousel-inner .next.left,
#pupdater-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

#pupdater-carousel.carousel-fade .carousel-control {
  z-index: 2;
}

#happyhalloween {
  font-family: "ars-maquette-web" !important;
  font-weight: 800;
  font-size: 300%;
  color: @upd-salmon;
  line-height: 1.3em;
}
