// Hiring Process
#hiring-awesome .photostrip img {
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

#hiring-lunch {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,o_100,q_70,w_2000/v1519084872/heroes/shutterstock_69636244.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hiring-lunch .menu {
  background-color: rgba(255, 255, 255, 0.85);
  width: 80%;
  margin: auto;
}

#hiring-lunch .item {
  padding: 4px;
}

#hiring-lunch .type {
  color: #56b784;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  text-align: right;
  width: 45%;
  padding-right: 15px;
}

#hiring-lunch .food {
  text-align: left;
  float: left;
  width: 55%;
}

.main-section-blue-mid {
  background-color: #5590ad;
  position: relative;
}

.main-section-blue-mid-leading {
  background-color: #5590ad;
  position: relative;
}

.main-section-blue-mid-leading:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #5590ad;
  border-width: 20px;
  margin-left: -20px;
  z-index: 1;
}

// Sync
#questions h5 {
  color: #56b784;
  padding-bottom: 15px;
}

#sync {
  padding: 30px 0px 0px;
  margin: auto;
}

#sync .form-control {
  width: 40%;
  margin: 0px 10px 30px;
  display: inline-block;
}

// Video
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Core Values
#core-values .row {
  border-bottom: 1px solid #efefef;
  padding-top: 40px;
  padding-bottom: 25px;
  transition: all 0.3s ease;
}

#core-values .row .icon {
  float: left;
  padding-right: 15px;
  width: 30%;
  text-align: right;
}

#core-values .row img {
  transition: all 0.7s ease;
}

#core-values .row h3 {
  margin-top: 0px;
  float: left;
  width: 70%;
  text-transform: uppercase;
  color: #666667;
} //#core-values .row:nth-child(odd):hover h3.red2 {color: #F97179;}
#core-values .row:hover h3.red2 {
  color: #f97179;
}

#core-values .row:hover h3.green2 {
  color: #75c79b;
}

#core-values .row:hover h3.blue2 {
  color: #5590ad;
}
#core-values .row:hover img {
  transform: rotate(360deg);
}

@media (max-width: 767px) {
  #core-values .row .icon,
  #core-values .row h3 {
    float: none;
    width: 100%;
    text-align: center;
  }
  #core-values .row .icon {
    padding-bottom: 15px;
  }
}

// Jobs
#jobs-video-hero.hero-video-container {
  height: 550px;
  max-height: 550px !important;
}

#jobs-video-hero.hero-video-container .overlay {
  background: rgba(0, 0, 0, 0.65);
  display: block;
}

#jobs-video-hero.hero-video-container .btn-transparent {
  color: #fff;
  border-color: #fff;
}

#jobs-video-hero.hero-video-container .hero-subnav {
  background-color: rgba(255, 255, 255, 0.9);
}

#jobs-video-hero.hero-video-container video {
  opacity: 1;
}

@media (min-width: 850px) {
  #jobs-video-hero.hero-video-container {
    height: 475px !important;
  }
}

@media (max-width: 800px) {
  #jobs-video-hero.hero-video-container video {
    height: 100%;
    width: auto;
  }
}

#jobshero .sqs-block {
  padding-bottom: 0px;
}

#benefits .ico-small {
  transition: all 0.6s ease;
  border-radius: 50%;
}

#benefits .jobs-feature-ico span {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1509470807/icons/ico-play-red.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0.7;
  transition: all 0.2s ease;
}

#benefits a.fresco:hover .jobs-feature-ico span {
  background-size: 35%;
}

.main-section .employee-testimonial-box {
  background: #fff;
}

.employee-testimonial-box {
  border: 1px solid #dedede;
  text-align: center;
  margin-top: 60px;
}

.employee-testimonial-box .profile-picture {
  margin-top: -50px;
  text-align: center;
}

.employee-testimonial-box .profile-picture img {
  margin: auto;
}

.employee-testimonial-box hr {
  margin-top: 20px;
  margin-bottom: 17px;
}

.slick-slider .carousel-control {
  z-index: 2;
}

.meet-updater {
  opacity: 0;
}

//.meet-updater a {transition: all .3s ease;}
//.meet-updater a:hover {opacity: .7;}
.meet-updater .slick-slide a .text-overlay {
  opacity: 0;
  height: 100%;
  text-decoration: none;
  width: 100%;
  z-index: 100;
  padding: 20px;
  background: #f97179;
  background: rgba(249, 113, 121, 0.8);
  transition: all 0.4s;
}

.meet-updater .slick-slide a:hover .text-overlay {
  opacity: 1;
}

.meet-updater .slick-slide a .text-overlay .read-more {
  text-align: center;
  top: 50%;
  width: 100%;
  left: 0;
  position: relative;
  margin-top: -11px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}

.crains-ribbon {
  width: 100px;
  margin: 0px 20px;
}

// Jobs feeds
.two-col-feed-gray .row.related {
  background: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.two-col-feed-gray h4:not(.title) {
  color: #f97179;
  border-bottom: 3px solid #efefef;
  padding-bottom: 6px;
  margin-bottom: 18px;
}

.two-col-feed-gray .row.related img {
  width: 100%;
  transition: all 0.3s ease;
}

.two-col-feed-gray .row.related img:hover {
  opacity: 0.7;
}

// embed video
#videoembed-jobs .col-sm-6 .twotoone {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

#videoembed-jobs iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#jobs-logos img {
  width: 250px;
}

#jobs-logos2 img {
  max-width: 180px;
  padding: 20px;
}

.jobs-features .row {
  margin-left: -12px !important;
  margin-right: -12px !important;
}

#jobsfooter2 .sqs-video-icon,
#multifam-implementation-video .sqs-video-icon,
#moving-implementation-video .sqs-video-icon {
  display: none;
}

#jobsfooter2 .sqs-video-wrapper {
  max-width: 750px;
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 10px solid #fff;
}

#multifam-implementation-video .sqs-video-wrapper,
#moving-implementation-video .sqs-video-wrapper {
  max-width: 750px;
  margin: auto;
  cursor: pointer;
}

.footer-new .tooltip-inner {
  border: 1px solid #56b784;
  background-color: #56b784;
}

.footer-new .tooltip.top .tooltip-arrow {
  border-top-color: #56b784;
}

.backtojobs {
  max-width: 980px;
  margin: auto;
  padding-left: 20px;
}

// Crains Banner
a.crainsbanner {
  position: fixed;
  padding: 5px 45px;
  width: 705px;
  bottom: -230px;
  right: -250px;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  box-shadow: 0 0 0 3px #54b684, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  background-color: #54b684;
  color: #ffffff;
  font-size: 15px;
  border: 2px dotted #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  letter-spacing: normal;
  text-align: center;
  z-index: 99;
}

a.crainsbannericon {
  position: fixed;
  width: 80px;
  bottom: -170px;
  right: 155px;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  backface-visibility: hidden;
  z-index: 100;
}

a.crainsbannericon img {
  height: 78px;
}

@media (min-width: 992px) {
  .employee-testimonials .slick-track {
    left: 0px !important;
  }
}

@media (max-width: 768px) {
  a.crainsbanner,
  a.crainsbannericon {
    display: none;
  }
}

@media (max-width: 767px) {
  .jobs-feature-ico {
    text-align: right;
  }
  .jobs-feature-text {
    text-align: left;
  }
}

@media (min-width: 480px) {
  .slick-slider .carousel-control {
    width: 25px;
    margin: -15px;
  }
}

@media (max-width: 479px) {
  .slick-slider .slick-slide {
    text-align: center;
  }
  #jobs-logos img {
    max-width: 200px;
  }
  .crains-logos img {
    height: 85px;
    width: auto;
  }
  .jobs-features.pad-vertical-medium {
    padding: 10px 0;
  }
  .jobs-feature-ico .ico-small {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
  #benefits a.fresco:hover .ico-small:before {
    top: 15px;
  }
  .two-col-feed-gray .row.related .col-xs-3 {
    padding-right: 5px;
  }
  .two-col-feed-gray .row.related h4.title {
    font-size: 14px;
  }
  .two-col-feed-gray .row.related {
    padding: 10px 0;
  }
}

// Internships
#internships-video .sqs-block-video {
  padding-bottom: 0px !important;
}

#internship-logos img {
  width: 300px;
  margin: auto;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#internship-logos a:hover img {
  opacity: 0.7;
}

#intern-logos .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
