// SEARCH RESULTS
#storepoint-container
  #storepoint-panel
  #storepoint-results
  .storepoint-no-results {
  font-size: 24px !important;
  font-weight: 800 !important;
  line-height: 1.1em !important;
  letter-spacing: normal !important;
}

#storepoint-get-notified-btn {
  margin: 10px 0px;
  padding: 9px 10px;
  font-size: 15px !important;
  line-height: 15px !important;
  height: 32px !important;
  width: 40%;
  outline: none;
  font-weight: 400;
  letter-spacing: normal !important;
  color: #fff;
  background-color: #75c79b !important;
  font-family: inherit;
}

#storepoint-container
  #storepoint-panel
  #storepoint-results
  #storepoint-get-notified-label {
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
  font-family: inherit;
  font-size: 16px !important;
  color: #777;
  box-sizing: border-box;
  visibility: hidden;
}

#storepoint-container
  #storepoint-panel
  #storepoint-results
  .storepoint-no-results
  .storepoint-cta {
  padding: 10px 0;
  color: @upd-salmon;
  font-size: 20px !important;
  cursor: pointer;
  letter-spacing: normal;
  text-transform: none;
  box-sizing: border-box;
}

#storepoint-search-bar-container:after {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  font-size: 17px;
  color: #80acc2;
  top: 2px;
  left: 8px;
  z-index: 100;
}

#storepoint-container #storepoint-search #storepoint-searchbar {
  padding-left: 27px !important;
}

#storepoint-search a.uvmlink {
  color: #5590ad;
  position: absolute;
  right: 15px;
  top: 30px;
}

#storepoint-search a.uvmlink:hover {
  color: #80acc2;
  text-decoration: none;
}

.sqs-block-content #storepoint-container #storepoint-panel {
  height: 730px;
}

@media (min-width: 768px) {
  .sqs-block-content #storepoint-container #storepoint-map {
    height: 730px;
    float: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
  }
  .sqs-block-content #storepoint-container #storepoint-panel {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .sqs-block-content #storepoint-container #storepoint-panel {
    height: auto;
    padding-top: 400px !important;
    width: 100% !important;
    background-color: rgb(255, 255, 255);
    font-family: inherit;
  }
  .sqs-block-content #storepoint-container #storepoint-map {
    height: 400px !important;
    display: block !important;
    position: absolute !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #storepoint-search a.uvmlink {
    display: none;
  }
}

@media (max-width: 550px) {
  .sqs-block-content #storepoint-container #storepoint-panel {
    padding-top: 250px !important;
  }
  .sqs-block-content #storepoint-container #storepoint-map {
    height: 250px !important;
  }
}

#storepoint-container .storepoint-location .storepoint-description,
#storepoint-container .storepoint-location .storepoint-address,
#storepoint-container
  .storepoint-location
  .storepoint-contact
  a.storepoint-sidebar-phone,
.sqs-block-content
  #storepoint-container
  #storepoint-panel
  #storepoint-results
  div.storepoint-btn {
  padding-left: 0px !important;
}

.sqs-block-content #storepoint-container .storepoint-name {
  padding-left: 2px !important;
}

@media (min-width: 991px) {
  .sqs-block-content #storepoint-container .storepoint-location,
  .sqs-block-content #storepoint-container .storepoint-location:hover {
    padding-left: 165px !important;
  }
}

@media (max-width: 990px) {
  .sqs-block-content #storepoint-container .storepoint-location,
  .sqs-block-content #storepoint-container .storepoint-location:hover {
    padding-left: 33% !important;
  } // .sqs-block-content #storepoint-container {margin-left: 15px; margin-right: 15px; width: auto;}
  .row.moving-search-features .col-md-4.box {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sqs-block-content #storepoint-container {
  border: solid 1px #d9d9d9 !important;
}

.sqs-block-content #storepoint-container #storepoint-search {
  height: auto;
  padding: 25px;
  border-bottom: solid 1px #d9d9d9;
}

.sqs-block-content
  #storepoint-container
  #storepoint-search
  #storepoint-searchbar,
.sqs-block-content
  #storepoint-container
  #storepoint-search
  .storepoint-dropdown {
  font-family: inherit;
}

.sqs-block-content #storepoint-container #storepoint-panel {
  border-right: 1px solid #d9d9d9;
}

.sqs-block-content #storepoint-container .storepoint-location .storepoint-name,
.sqs-block-content
  #storepoint-container
  #storepoint-map
  div.storepoint-location-popup
  b {
  font-size: 22px;
}

.sqs-block-content #storepoint-container .storepoint-location .storepoint-name {
  color: #2b7499;
}

.sqs-block-content
  #storepoint-container
  #storepoint-panel
  #storepoint-results
  a.storepoint-btn {
  border-radius: 3px;
  padding: 8px 15px !important;
  font-size: 13px !important;
  line-height: 1.5;
  margin: 0px 10px 5px 0px !important;
}

.sqs-block-content
  #storepoint-container
  #storepoint-panel
  #storepoint-results
  div.storepoint-btn {
  text-align: left !important;
}

.sqs-block-content
  #storepoint-container
  #storepoint-map
  div.storepoint-location-popup
  a.storepoint-popup-directions {
  background-color: #fff !important;
  color: #5590ad !important;
  border: 1px solid #5590ad;
  transition: all 0.3s ease;
}

.sqs-block-content
  #storepoint-container
  #storepoint-map
  div.storepoint-location-popup
  a.storepoint-popup-directions:hover {
  text-decoration: none !important;
  color: #75c79b !important;
  border: 1px solid #75c79b;
}

.sqs-block-content #storepoint-container a:after {
  content: initial !important;
}

.sqs-block-content
  .container
  #storepoint-container
  .storepoint-location
  .storepoint-name {
  height: auto !important;
}

.sqs-block-content #storepoint-container .storepoint-message {
  color: #404041;
  font-weight: 200;
}

//.sqs-block-content #storepoint-container #storepoint-search #storepoint-searchbar {height: 38px;}
.moving-search-features .feature-content {
  border: 1px solid #d9d9d9;
  text-align: center;
  height: 100%;
}

.moving-search-features .feature-content h4 {
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-family: "ars-maquette-web";
  font-weight: 800;
}

.moving-search-features .feature-content h4.blue {
  background: #5590ad;
}

.moving-search-features .feature-content h4.red {
  background: #f97179;
}

.moving-search-features .feature-content h4.green {
  background: #75c79b;
}

.moving-search-features .feature-content .featured-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  background-repeat: no-repeat;
}

.moving-search-features .feature-content .featured-image.verifiedmoving {
  background-color: #d5e3eb;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1493821673/updater%20badges/Updater_Verified_Moving_Company_Badge.svg");
  background-size: 150px;
}

.moving-search-features .feature-content .featured-image.booking {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/fetch/c_scale,q_75,w_800/f_jpg/https://static1.squarespace.com/static/53d53c64e4b076e5e3fd36fe/55366d7de4b0c28e9e2a2b98/58f8c2c2e4fcb545912792f3/1494857843958/shutterstock_191387282.jpg");
  background-size: cover;
}

.moving-search-features .feature-content .featured-image.tips {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/fetch/c_scale,q_75,w_800/f_jpg/https://static1.squarespace.com/static/53d53c64e4b076e5e3fd36fe/55366d7de4b0c28e9e2a2b98/58f8c0ee9f74561265f21f19/1494892145719/shutterstock_567850477.jpg");
  background-size: cover;
}

.moving-search-features .feature-content p {
  padding: 20px 20px 0px;
}

@media (min-width: 992px) {
  .moving-search-features {
    display: flex;
  }
}

@media (max-width: 991px) {
  .moving-search-features .feature-content {
    margin-bottom: 20px;
  }
}
