// Certified
form#certified-form-header #searchMoverField {
  padding: 9px 12px;
  width: 400px;
  margin-right: 6px;
  margin-left: 6px;
}

form#certified-form-header input[type="submit"] {
  border-radius: 8px;
  text-transform: initial;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: normal;
  margin-right: 6px;
  margin-left: 6px;
}

.certified-badge {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1518189464/updater%20badges/certified-2018-ko.svg);
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: right 50px;
  height: 200px;
  display: block;
}

.certified-badge-header {
  margin-top: -100px;
}

#certified-howitworks .row h4 {
  margin: 0px 0px 5px;
  font-weight: bold;
  color: #f97179;
}

#certified-howitworks .icon-list-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#certified-howitworks .icon-list-box .icon-list-image {
  float: left;
  width: 85px;
  padding-right: 20px;
}

#certified-howitworks .icon-list-box .icon-list-text {
  font-size: 22px;
  font-weight: bold;
  color: #f97179;
  text-align: left;
}

#certified-whatisit .attributes-list-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

#certified-whatisit .attributes-list-image img {
  max-width: 90%;
}

#certified-whatisit .attributes-list-box {
  padding-right: 40px;
  padding-left: 40px;
}

#certified-whatisit .attributes-list-box.reverse {
  background: #efefef;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 0px 20px #fff;
}

#certified-topmarkets {
  margin-bottom: 25px;
}

#certified-topmarkets h5 {
  margin-top: 0px;
}

#certified-topmarkets ul {
  margin-bottom: 0px;
  line-height: 1.3em;
}

#certified-topmarkets li {
  padding-bottom: 5px;
}

#find-moving-results {
  display: none;
}

@media (max-width: 1199px) {
  form#certified-form-header input[type="submit"] {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .certified-badge {
    background-size: 170px;
  }
  #certified-howitworks .icon-list-box .icon-list-image {
    width: 20%;
  }
  #certified-howitworks .icon-list-box .icon-list-text {
    width: 80%;
  }
  #certified-howitworks .icon-list-lg div.col-md-4 {
    text-align: center;
    max-width: 165px;
    margin: auto;
  }
  #certified-howitworks .icon-list-lg {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #certified-whatisit .attributes-list-box.reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 767px) {
  .certified-badge {
    background-position-x: center;
  }
  .certified-badge-header {
    margin-top: -60px;
  }
  #certified-whatisit .attributes-list-image img {
    max-width: 120px;
  }
  #certified-whatisit .attributes-list-text {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #certified-whatisit .attributes-list-box {
    margin-top: 25px;
  }
  #certified-whatisit .attributes-list-box.reverse {
    box-shadow: none;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #certified-howitworks .icon-list-box {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  form#certified-form-header #searchMoverField {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  #certified-topmarkets div {
    width: 100%;
  }
  #certified-topmarkets ul {
    text-align: center;
  }
}
