// Technology
.core-values .tech-values {
  overflow: hidden;
}

.tech-values ul li span.text-muted {
  color: #2b7499;
}

#tech-building .fa-li {
  color: #56b784;
}

#tech-building .callout {
  font-size: 28px;
  color: #2b7499;
}

#tech-building .callout span {
  margin: auto;
}

.tech-team .carousel-control {
  color: #56b784;
  transition: all 0.4s;
}

.tech-team .carousel-control.left {
  margin-left: -15px;
}

.tech-team .carousel-control.right {
  margin-right: -15px;
}

.photostrip img {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 10px solid #fff;
}

@media (min-width: 768px) {
  .tech-values {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .tech-values ul {
    padding-left: 17px;
  }
}
