// Sales Individual Landing
a.calendar-schedule {
  background-color: transparent;
  color: #fff;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 40px;
  border: 2px solid #efefef;
  text-align: left;
  transition: all 0.2s linear;
  padding-left: 10px;
  padding-top: 2px;
  overflow: hidden;
  border-radius: 999px;
}

a.calendar-schedule:hover {
  width: 200px;
}

.sales-individual-splash .text-white a {
  color: #fff;
}

.sales-individual-splash .ico-social-footer {
  background-color: transparent;
  color: #fff;
  margin: 0 5px;
}

.sales-individual-splash .ico-social-footer:hover {
  border-color: #fff;
  opacity: 0.7;
}

.sales-individual-splash .ico-social-footer:before {
  color: inherit;
}

.sales-individual-splash .ico-social-footer:before:hover {
  color: #fff;
  opacity: 0.7;
}

#solutions-feed.sales-landing p.title,
#solutions-feed.sales-landing-static p.title {
  position: absolute;
  bottom: 0px;
  color: #f5f5f5;
  line-height: 1.3em;
  padding: 10px;
  margin-bottom: 0px;
  width: 100%;
  background: rgba(63, 63, 64, 0.65);
  font-size: 90%;
  letter-spacing: normal;
  transition: all 0.3s ease;
}

#solutions-feed.sales-landing a.thumb:hover > p.title,
#solutions-feed.sales-landing-static a.thumb:hover > p.title {
  background: rgba(249, 113, 121, 0.85);
}

#solutions-feed.sales-landing a.thumb:hover,
#solutions-feed.sales-landing-static a.thumb:hover {
  opacity: 0.9;
}

#solutions-feed.sales-landing-static .col-xs-6 a.thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
}

#solutions-feed.sales-landing-static #industry-news-form {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #e4e4e5;
  background-color: #f5f5f5;
  padding: 0px 15px 15px;
}

#solutions-feed.sales-landing-static #industry-news-form h6 {
  margin-bottom: 0px;
  margin-top: 7px;
}

@media (max-width: 767px) {
  #solutions-feed.sales-landing .col-xs-6,
  #solutions-feed.sales-landing-static .col-xs-6 {
    width: 49%;
  }
  #sticky-footers {
    display: none;
  }
}

@media (max-width: 480px) {
  #solutions-feed.sales-landing p.title,
  #solutions-feed.sales-landing-static p.title {
    font-size: 70%;
  }
  a.calendar-schedule,
  a.calendar-schedule:hover {
    width: 94px !important;
  }
}

@media (max-width: 500px) {
  #solutions-feed.sales-landing-static .col-xs-6 {
    width: 100%;
  }
  #solutions-feed.sales-landing-static #industry-news-form {
    margin-top: 15px;
  }
  #solutions-feed.sales-landing-static a.thumb {
    max-width: 100%;
    max-height: 200px;
  }
}
