// From Lisette

#contactform form {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

#contactform form label {
  display: none;
}

#contactform form .field-element {
  margin: 0px !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  line-height: 1.8 !important;
  color: #404041 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}

#contactform form .button {
  color: #fff !important;
  background-color: #2b7499 !important;
  text-transform: uppercase !important;
  letter-spacing: normal !important;
  margin-bottom: 0 !important;
  font-weight: 200 !important;
  text-align: center !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
  white-space: normal !important;
  display: inline-block !important;
  vertical-align: middle !important;
  zoom: 1 !important;
  border-radius: 3px !important;
  padding: 12px 24px !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  transition: all 0.3s ease !important;
}

#contactform form .button:hover {
  background-color: #3692c1 !important;
}

#contactform form .field-error {
  display: none;
}

#location .map-block {
  max-width: 900px;
  margin: auto;
  width: 90%;
}

#location-one .map-block,
#location-two .map-block {
  padding: 0px !important;
}

#contact .col-sm-6 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#contact iframe {
  width: 100%;
  max-width: 500px;
}

@media (min-width: 768px) {
  #contact .col-form {
    border-right: 1px #d9d9d9 solid;
  }
}
