/* new new */

#navbar-red,
#navbar-red-simple {
  border: none;
  background-color: @upd-salmon;
}

#navbar-white {
  background-color: #fff;
}

#header-navbar .dropdown-menu a img {
  width: 30px;
  padding-right: 5px;
}

#navbar-white.scrolled img.logo {
  height: 45px;
  margin: 10px 0;
  width: auto;
}

#navbar-red.scrolled img.logo {
  height: 38px;
  margin: 15px 0 10px;
  width: auto;
}

@media (min-width: 992px) {
  #navbar-white img.logo {
    height: 65px;
    margin-top: 18px;
  }
  #navbar-red img.logo {
    height: 55px;
    margin-top: 22px;
  }
}

#navbar-red ul,
#navbar-white ul {
  transition: all 0.3s ease;
}

#navbar-red.scrolled ul,
#navbar-white.scrolled ul {
  margin-top: 0px;
}

#navbar-red li a {
  color: #fff;
  font-weight: 500;
  font-size: 110%;
  transition: all 0.3s ease;
  letter-spacing: 0.3px;
}

#navbar-white li a {
  color: @upd-salmon;
  font-weight: 400;
  font-size: 120%;
  transition: all 0.3s ease;
}

#navbar-red li a:hover,
#navbar-white li a:hover {
  opacity: 0.7;
}

#navbar-red button,
#navbar-white button {
  font-weight: 400;
  // font-size: 120%;
}

#navbar-red .dropdown-menu {
  text-transform: none !important;
  border-color: #fff;
  background-color: #fff;
  border-radius: 3px;
}

#navbar-white .dropdown-menu {
  text-transform: none !important;
  border-color: #e3f4eb;
  background-color: #fff;
  border-radius: 3px;
}

#navbar-red .dropdown-menu a,
#navbar-white .dropdown-menu a {
  color: #8c8c8d;
  font-size: 14px;
  transition: all 0.2s linear;
}

#navbar-red .dropdown-menu > li > a:hover,
#navbar-red .dropdown-menu > li > a:focus,
#navbar-white .dropdown-menu > li > a:hover,
#navbar-white .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
  color: #56b784;
  opacity: 1;
}

#navbar-red .dropdown-menu > li,
#navbar-white .dropdown-menu > li {
  border-bottom: 1px solid #e3f4eb;
}

#navbar-red .icon-bar {
  background-color: #fff;
}

#navbar-white .icon-bar {
  background-color: @upd-salmon;
}

#navbar-red .btn-transparent {
  color: #fff;
  border: 1px solid #fff;
}

#header-navbar a.btn.demorequest {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 16px;
  font-size: 110%;
  margin-top: 10px;
}

#navbar-red #header-navbar a.btn.demorequest {
  color: @upd-salmon;
}

#navbar-white #header-navbar a.btn.demorequest {
  color: @upd-salmon;
  border: 1px solid @upd-salmon;
}

#header-navbar {
  max-height: 600px !important;
}

#header-navbar .dropdown-menu.animated {
  /* Speed up animations */
  -webkit-animation-duration: 0.55s;
  animation-duration: 0.55s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.dropdown-menu.animated.fadeIn {
  /* Example of further customisation for the "fadeIn" effect Can be used for all effects ie. .dropdown-menu.animated.EFFECTNAME */
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.icon-bar {
  transition: all 0.2s;
}

.top-bar {
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.middle-bar {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.bottom-bar {
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.demo-select {
  width: 280px;
  left: 50%;
  margin-left: -140px;
}

.demo-select-home {
  width: 330px;
  left: 50%;
  margin-left: -165px;
}

.back-to-top {
  display: none;
}

.navbar.scrolled #products-panel {
  margin-top: 0px;
}

#upd-scene-hero-1 {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1476818568/heroes/home_scene_lg-1016.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -100px;
}

@media (min-width: 768px) {
  #products-panel {
    margin-top: 8px;
  }
}

#products-panel .sqs-block {
  padding: 0px !important;
}

// important
@media (min-width: 992px) {
  #upd-scene-hero-1 {
    margin-top: -40px;
  }
}

@media (max-width: 991px) {
  #navbar-red img.logo {
    height: 38px;
    margin: 15px 0 10px;
    width: auto;
  }
}

#upd-scene-hero-1 .marquee {
  overflow: hidden;
  max-height: 50px;
  font-weight: bold;
}

#upd-scene-hero-1 .horizontal-list i {
  padding-left: 5px;
  padding-right: 5px;
}

#upd-scene-hero-1 .horizontal-list {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 10px 22px;
  background-color: rgba(0, 0, 0, 0.1);
}

#upd-scene-hero-1 .hero-emphasis {
  font-family: "ars-maquette-web";
  font-weight: 800;
  font-size: 120%;
}

#upd-scene-hero-1.text-white a {
  color: #fff;
}

#upd-scene-hero-1 a.btn-default {
  color: #2b7499;
}

#updater-products h4 {
  text-transform: uppercase;
}

#updater-products .ico-small {
  margin-top: 30px;
}

#updater-products {
  font-size: 90%;
}

#brand-customize {
  overflow: hidden;
}

#brand-customize ul {
  list-style-type: none;
  margin-left: 20px;
}

#brand-customize li {
  padding-bottom: 20px;
  font-size: 125%;
  position: relative;
  padding-left: 10px;
  font-weight: bold;
  line-height: 1.6em;
}

#brand-customize li:before {
  content: "\f046";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #e3f4eb;
  font-size: 26px;
  padding-right: 0.5em;
  position: absolute;
  left: -25px;
  top: 0px;
}

#brand-customize img {
  max-height: 375px;
}

.carousel-friends .slick-slide {
  padding: 10px;
}

.carousel-friends .slick-slide img {
  padding: 20px;
}

.carousel-friends .carousel-control {
  z-index: 2;
}

#software-partners .marquee {
  overflow: hidden;
  max-height: 140px;
}

#software-partners .marquee img {
  padding: 20px;
}

#software-partners .logo-slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#software-partners .logo-slides li {
  float: left;
  list-style-type: none;
}

#software-partners .logo-slides li img {
  padding: 20px;
}

#company-clients p.quote {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
  color: #56b784;
}

#company-clients .quoter .name {
  font-weight: bold;
  font-style: italic;
}

#company-clients .quoter {
  color: #666667;
}

#company-clients.text-white a {
  color: #e6fff1;
}

@media (min-width: 1300px) {
  #upd-scene-hero-1 {
    background-position: center -130px;
  }
}

@media (min-width: 1400px) {
  #upd-scene-hero-1 {
    background-position: center -150px;
  }
}

@media (min-width: 1500px) {
  #upd-scene-hero-1 {
    background-position: center -170px;
  }
}

@media (min-width: 1600px) {
  // ticker #upd-scene-hero-1 {background-position: center -140px;}
  #upd-scene-hero-1 {
    background-position: center -200px;
  }
}

@media (min-width: 1700px) {
  // ticker #upd-scene-hero-1 {background-position: center -170px;}
  #upd-scene-hero-1 {
    background-position: center -220px;
  }
}

@media (min-width: 1800px) {
  // ticker  #upd-scene-hero-1 {background-position: center -220px;}
  #upd-scene-hero-1 {
    background-position: center -280px;
  }
}

@media (max-width: 767px) {
  #navbar-red .navbar-collapse,
  #navbar-white .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
  #navbar-red .nav,
  #navbar-white .nav {
    background-color: #fff;
    border-bottom: 1px solid #fee8e9;
  }
  #navbar-red .nav a,
  #navbar-red .btn-transparent,
  #navbar-white .nav a,
  #navbar-white .btn-transparent {
    color: @upd-salmon;
    border-color: #f84357;
  }
  #header-navbar a.btn.demorequest {
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #f84357;
  }
  #navbar-red .dropdown-menu a,
  #navbar-white .dropdown-menu a {
    color: #8c8c8d;
  }
  #header-navbar.navbar-collapse li {
    text-align: center;
  }
  #header-navbar .navbar-nav > li {
    border-bottom: 1px solid #fee8e9;
    padding: 5px 0px;
  }
  #header-navbar .navbar-nav .open .dropdown-menu > li > a {
    text-transform: initial;
    font-size: 80%;
    padding: 5px 15px;
  }
  #header-navbar button {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  // ticker #upd-scene-hero-1 {background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1475023855/heroes/home_scene-2b-ctest-mobile.jpg");}
  #upd-scene-hero-1 {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1476818568/heroes/home_scene_mobile-1016.jpg");
  }
  #upd-scene-hero-1 .dropdown {
    margin-top: -18px;
  }
  //#software-partners .marquee img {width: 150px; padding: 20px 10px;}
  .clients-hero-splash {
    background-position: center center !important;
  }
  .dmv-list a.btn {
    display: none;
  }
}

@media (max-width: 400px) {
  // ticker #upd-scene-hero-1 {background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1475023855/heroes/home_scene-2b-ctest-mobile-sm.jpg");}
  #upd-scene-hero-1 {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1486515287/heroes/home_scene_mobile_sm-0217.jpg");
  }
}

@media (max-width: 350px) {
  #upd-scene-hero-1 {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1486515287/heroes/home_scene_mobile_sm-0217.jpg");
  }
}

@media (min-width: 992px) {
  #navbar-red ul,
  #navbar-white ul {
    margin-top: 18px;
  }
  #header-navbar .navbar-nav ul.dropdown-menu.context {
    width: 750px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header-navbar .navbar-nav > li,
  #header-navbar a.btn.demorequest {
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  #header-navbar .navbar-nav .open > .dropdown-menu.context {
    display: flex;
  }
  #header-navbar .navbar-nav .dropdown button {
    margin-top: 10px;
  }
  #header-navbar .navbar-nav > li > a {
    margin-top: 18px;
    margin-right: 25px;
  }
  #header-navbar .navbar-nav ul.dropdown-menu {
    margin-top: 12px;
    border: 1px solid #efefef;
    margin-right: 23px;
  }
  #header-navbar .navbar-nav ul.dropdown-menu.context {
    width: 600px;
  }
  #header-navbar .navbar-nav ul.dropdown-menu.context li.center-item {
    border-left: 1px solid #e3f4eb;
    border-right: 1px solid #e3f4eb;
  }
  #header-navbar .navbar-nav ul.dropdown-menu.context > li {
    border-bottom: none;
    float: left;
    width: 33.33%;
    text-align: center;
    flex: 1;
  }
  #header-navbar .navbar-nav ul.dropdown-menu.context a {
    white-space: initial;
    height: 100%;
    text-transform: uppercase;
  }
}

@media (max-width: 1199px) {
  #upd-scene-hero-1 .horizontal-list {
    width: 85%;
  }
  #upd-scene-hero-1 {
    background-position: center bottom;
  }
}

@media (max-width: 991px) {
  #upd-scene-hero-1 .horizontal-list {
    width: 65%;
  }
}

@media (max-width: 665px) {
  #upd-scene-hero-1 .horizontal-list {
    width: 72%;
  }
}

@media (max-width: 605px) {
  #upd-scene-hero-1 .horizontal-list {
    display: none;
  }
  #upd-scene-hero-1 h1 {
    margin-bottom: 0px;
  }
}

@media (max-width: 350px) {
  #upd-scene-hero-1 h1 {
    font-size: 25px;
  }
}
