.investors-2018 {
  .navbar-height-adjustment();
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  &--hero {
    border: 1px solid transparent;
    background: @upd-navy;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,w_2000/v1491964599/heroes/shutterstock_203058166.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }
  .email-alert-signup {
    font-size: 15px;
    line-height: 1;
    border: none;
    font-weight: 800;
    color: #fff;
    background: @upd-light-green;
    padding: 15px 35px;
    border-radius: 30px;
    transition: box-shadow 0.2s, transform 0.2s;
    span {
      display: block;
      padding-top: 5px;
      font-size: 10px;
      font-weight: 400;
      color: #fff;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
  }
  .investor-sign-up-mkto {
    transform: translateX(-100vw);
    position: fixed;
    top: calc(20px + @navbar-height);
    left: 20px;
    right: 20px;
    bottom: 20px;
    .display-flex();
    pointer-events: none;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    h5,
    p {
      text-align: center;
      // padding: 0 10px;
      margin: 0;
    }
    h5 {
      font-size: 24px;
      line-height: 1.4;
    }
    p {
      font-size: 18px;
      margin: 10px auto 20px auto;
      line-height: 1.4;
      max-width: 320px;
    }
    @media @screen550 {
      h5 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
    @media screen and (max-width: 400px) {
      h5 {
        font-size: 21px;
      }
      p {
        font-size: 18px;
      }
    }
    transition: opacity 0.2s, transform 0.2s;
    &.is-on {
      transform: translateX(0);
      opacity: 1;
    }
    &-container {
      pointer-events: all;
      background: rgba(255, 255, 255, 0.95);
      border-radius: 20px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
      max-width: 550px;
      padding: 60px 30px 30px;
      position: relative;
      form.mktoForm .mktoButtonWrap button.mktoButton {
        color: #fff;
      }
      .sign-up-modal-close {
        .display-flex();
        position: absolute;
        right: 10px;
        top: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        align-items: center;
        svg {
          margin-right: 10px;
        }
        @media @screen550 {
          span {
            display: none;
          }
        }
      }
      #submission_msg {
        max-width: 400px;
        padding: 30px;
        background: @upd-light-green;
        margin: 0 auto;
        border-radius: 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 1.7;
        .merriweather();
        span {
          .maquette-web();
          cursor: pointer;
          color: @upd-light-green;
          background: #fff;
          padding: 15px 30px;
          display: inline-block;
          line-height: 1;
          margin-top: 30px;
          border-radius: 25px;
        }
      }
    }
  }
  &--pda-list,
  &--asxa-list {
    background: lighten(@upd-navy, 67%);
    margin-top: 0;
    border: 1px solid transparent;
  }
  &--pda-list,
  &--asxd-list,
  &--asxa-list {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--item-wrapper {
    margin: 0 auto;
    max-width: 800px;
  }
  &--item {
    .display-flex();
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 30px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 200;
    transition: box-shadow 0.2s, transform 0.2s;
    &:hover {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
      transform: scale(1.013);
    }
    .investor-article-date {
      width: 180px;
      font-size: 15px;
      color: #999;
    }
    .investor-article-title {
      a {
        color: @upd-light-blue;
        transition: color 0.2s;
        &:hover {
          color: @upd-blue;
        }
      }
    }
    @media @screen768 {
      flex-direction: column;
      align-items: flex-start;
      .investor-article-date {
        margin-bottom: 5px;
      }
    }
  }
}

.investor-sign-up-mkto-container form {
  legend.title,
  label.title {
    font-size: 12px;
    font-weight: 400;
    .required {
      color: red;
    }
  }
  div.field.last-name,
  div.field.first-name {
    margin-bottom: 15px !important;
  }
  input.button.sqs-system-button.sqs-editable-button {
    background-color: @upd-light-blue;
    text-transform: capitalize;
    border-radius: 30px;
    font-weight: 400;
    padding: 12px 28px;
  }
}
