.resources-2018 {
  .navbar-height-adjustment();
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    border: 1px solid transparent;
    background: #ddd;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1545512689/website/2018-revamp-assets/photos/shutterstock_251280265.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }

  &--read-more {
    display: block;
    font-size: 13px;
    color: @upd-light-blue;
    margin: 0 15px;
    font-weight: 200;
    a {
      color: @upd-light-blue;
    }
  }
  &--thumbnail-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    height: 23px;
    background: @upd-light-blue;
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    line-height: 23px;
    display: inline-block;
    padding: 0 10px;
    &.tips {
      background: @upd-blue;
    }
    &.navy {
      background: @upd-navy;
    }
  }

  &--industry-insights,
  &--moving-tips,
  &--trends {
    background: lighten(@upd-navy, 67%);
    margin-top: 0;
    padding-top: 10px;
    border: 1px solid transparent;
  }
  &--trends {
    background: #fff;
  }
  &--ebooks-webinars {
    margin-bottom: 50px;
    .blog-list--item {
      position: relative;
    }
    h3.blog-list-title {
      margin-top: 15px;
    }
  }
  &--cta {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 45px;
    a {
      color: @upd-light-blue;
    }
    span {
      border: 1px solid @upd-light-blue;
      transition: transform 0.2s, box-shadow 0.1s;
      display: inline-block;
      background: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 5px 25px;
      border-radius: 20px;
      &:hover {
        transform: scale(1.025);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
