.pm_bmt_sticky_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: transform 0.2s;
  z-index: 3;
  & > .container-2018 {
    padding-top: 15px;
    border-radius: 15px 15px 0 0;
    max-width: 350px;
    padding-bottom: 15px;
    background: @upd-pink;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-right: 20px;
    padding-left: 30px;
  }
  a {
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    padding-right: 20px;
  }
  img {
    width: 20px;
    height: 20px;
  }

  .close-pm_bmt_sticky_footer {
    position: absolute;
    color: #fff;
    top: 5px;
    right: 10px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
  }
  @media @screen550 {
    padding-top: 10px;
    // padding-bottom: 10px;
    a {
      font-size: 15px;
      line-height: 15px;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.business-re {
  .navbar-height-adjustment();
  &--hero {
    position: relative;
    height: 250px;
    background: #eee;
    box-sizing: border-box;
    padding-bottom: 30px;
    .display-flex();
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: @upd-blue;
    background-size: cover;
    background-position: center;
    & > div {
      width: 100%;
    }
    h6 {
      .merriweather();
      font-size: 18px;
      margin: 0;
      color: #666666;
      letter-spacing: 0;
      text-transform: none;
      transition: font-size 0.2s;
    }

    h1 {
      font-weight: 900;
      font-size: 38px;
      line-height: 1.2;
      color: #fff;
      margin: 0;
      transition: font-size 0.2s;
      &.moving-2018 {
        font-size: 32px;
        @media @screen768 {
          font-size: 28px;
        }
        @media @screen550 {
          font-size: 22px;
        }
        @media screen and (max-width: 450px) {
          font-size: 17px;
        }
      }
    }
    a {
      background: @upd-light-blue;
      padding: 5px 30px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      border-radius: 30px;
      margin-top: 20px;
      display: inline-block;
      transition: background 0.2s, color 0.2s;
      &:hover {
        background: @upd-blue;
      }

      &.bmt-hero-video,
      &.pm-hero-video {
        background: transparent;
        border: 2px solid #fff;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 10px;
        color: #fff;
        svg {
          width: 13px;
          fill: #fff;
          margin-right: 10px;
          transition: fill 0.2s;
        }
        &:hover {
          background: #fff;
          color: @upd-light-blue;
          svg {
            fill: @upd-light-blue;
          }
        }
      }
      &.bmt-demo-brokerage,
      &.bmt-demo-mortgage {
        background: #fff;
        color: @upd-light-blue;
        font-size: 15px;
        margin-left: 10px;
        opacity: 0;
        pointer-events: none;
        transition: transform 0.2s, color 0.2s, font-size 0.2s, opacity 0.2s;
        &:hover {
          color: @upd-navy;
        }
        &.active {
          opacity: 1;
          pointer-events: all;
          transform: translateX(0);
        }
        @media @screen550 {
          font-size: 12px;
        }
        @media screen and (max-width: 450px) {
          font-size: 10px;
          padding: 5px;
          margin-left: 5px;
        }
        @media screen and (max-width: 350px) {
          padding: 0px;
          font-size: 9px;
          margin-left: 5px;
          background: transparent;
          color: #fff;
          text-decoration: underline;
          font-weight: 900;
          &:hover {
            color: #fff;
          }
        }
      }
      &.bmt-demo-brokerage {
        transform: translateX(-100px);
      }
      &.bmt-demo-mortgage {
        transform: translateX(-200px);
      }
    }
    &-pm {
      background-blend-mode: multiply;
      background-image: linear-gradient(
          -42deg,
          #81be6e 0%,
          #53a0fd 68%,
          #2b7499 100%
        ),
        url("https://res.cloudinary.com/updater-marketing/image/upload/v1545068806/website/2018-revamp-assets/photos/shutterstock_404825329_bw.jpg");
    }
    &-bmt {
      background-blend-mode: multiply;
      background-color: #ccc;
      background-image: linear-gradient(
          -42deg,
          #81be6e 0%,
          #53a0fd 68%,
          #2b7499 100%
        ),
        url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1545878199/website/2018-revamp-assets/photos/shutterstock_176387354.jpg");
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1558389389/website/2019-d2c-direction/heros/shutterstock_1367392544_cropped.jpg");
      h1 {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        max-width: 600px;
        @media @screen768 {
          max-width: 450px;
        }
        @media screen and (max-width: 350px) {
          font-size: 18px !important;
        }
      }
    }
    &-moving {
      background-blend-mode: multiply;
      background-image: linear-gradient(
          -42deg,
          #81be6e 0%,
          #53a0fd 68%,
          #2b7499 100%
        ),
        url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1545878987/website/2018-revamp-assets/photos/shutterstock_762783778.jpg");
    }
    @media @screen992 {
      h1 {
        font-size: 32px;
      }
      h6 {
        font-size: 16px;
      }
    }
    @media @screen550 {
      height: 180px;
      h1 {
        font-size: 24px;
      }
      h6 {
        font-size: 12px;
      }
      a {
        padding: 3px 20px;
        font-size: 14px;
      }
    }
  }
  &--intro {
    padding-top: 35px;
    padding-bottom: 12px;
    .display-flex();
    align-items: flex-start;
    h2,
    p {
      margin: 0;
    }
    h2 {
      font-weight: 900;
      font-size: 19px;
      line-height: 1.2;
      flex: 2;
      padding-right: 20px;
    }
    p {
      .merriweather();
      font-size: 17px;
      line-height: 1.705882352941176;
      flex: 3;
      color: #333;
    }
    @media @screen768 {
      flex-direction: column;
      h2 {
        text-align: center;
        align-self: center;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
      }
    }
    @media @screen550 {
      margin-bottom: 40px;
    }

    &.moving {
      align-items: center;
      img {
        max-width: 50%;
        margin-right: 20px;
      }
      h2 {
        margin-bottom: 10px;
      }
      @media @screen768 {
        img {
          max-width: 80%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
  &--clients {
    padding-top: 40px;
    background: lighten(@upd-navy, 67%);
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;

    .home-2018--carousel-inner div img {
      width: 100%;
    }
    .flickity-page-dots .dot {
      background: #333;
    }
    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 25px;
      line-height: 1.1;
      color: @upd-navy;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    .left-side {
      align-items: center;
      position: relative;
    }
    .read-client-story {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      .display-flex();
      justify-content: center;
      align-items: center;
      a {
        display: inline-block;
        font-size: 12px;
        background: @upd-light-blue;
        padding: 5px 15px;
        border-radius: 20px;
        color: #fff;
        &:hover {
          background: @upd-navy;
        }
      }
      @media @screen992 {
        bottom: 20px;
      }
    }
  }
  &--users {
    padding-top: 40px;
    padding-bottom: 70px;
    background: lighten(@upd-navy, 67%);
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 25px;
      line-height: 1.1;
      transition: font-size 0.2s;
      color: @upd-navy;
      margin-top: 10px;
      margin-bottom: 40px;
      @media @screen992 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 40px;
      }
      @media @screen550 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
    &-grid {
      .display-flex();
      max-width: 888px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      width: 100%;
      border-radius: 20px;
      background: #fff;
      padding-top: 30px;
      padding-bottom: 40px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      &-item {
        flex-basis: 33%;
        flex-grow: 0;
        flex-shrink: 0;
        .display-flex();
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        padding-top: 20px;
        // padding-bottom: 20px;

        // DONUT CHART STYLING FROM https://codepen.io/baadaa/pen/MMGQwj
        @chartSize: 140px;
        @chartStroke: 10px;
        @chartColor: @upd-light-blue;
        @chartNumSize: 35px;
        @chartNumColor: @upd-light-blue;

        .donut-chart {
          flex-shrink: 0;
          flex-basis: @chartSize;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          width: @chartSize;
          height: @chartSize;
          .slice {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .chart-center {
            position: absolute;
            border-radius: 50%;
            top: @chartStroke;
            left: @chartStroke;
            width: @chartSize - (@chartStroke * 2);
            height: @chartSize - (@chartStroke * 2);
            background: #fff;
            span {
              line-height: @chartSize - (@chartStroke * 2);
              display: block;
              text-align: center;
              font-size: @chartNumSize;
              font-weight: 900;
              color: @chartNumColor;
            }
          }
          .slice.one {
            clip: rect(0 @chartSize @chartSize / 2 0);
          }
          .slice.two {
            clip: rect(0 @chartSize / 2 @chartSize 0);
          }

          &.chart1 {
            .display-flex();
            border-radius: 0;
            justify-content: space-around;
            align-content: flex-start;
            flex-wrap: wrap;
            width: @chartSize * 0.8;
            .slices {
              margin-top: 10px;
              position: relative;
              width: @chartSize * 0.15;
              height: @chartSize * 0.15;
              border-radius: 100px;
              background: #e1e1e1;
              &::after {
                content: "";
                background: #e1e1e1;
                border-radius: 100px;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: @chartSize * 0.17;
                height: @chartSize * 0.4;
              }
              &:first-of-type {
                background: @upd-light-blue;
                &::after {
                  background: @upd-light-blue;
                }
              }
            }
            .num {
              width: 100%;
              line-height: 1;
              z-index: 8;
              margin-top: @chartSize * 0.45;
              text-align: center;
              font-size: @chartNumSize;
              color: @chartColor;
              font-weight: 900;
            }
          }
          &.chart2 {
            background: #e1e1e1;
            .slice.one {
              background: @chartColor;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
            .slice.two {
              background: @chartColor;
              -webkit-transform: rotate(259.2deg);
              transform: rotate(259.2deg);
            }
            .chart-center span::after {
              content: "72%";
            }
          }
          &.chart3 {
            background: #e1e1e1;
            .slice.one {
              background: @chartColor;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
            .slice.two {
              background: @chartColor;
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
            .chart-center span::after {
              content: "5X";
            }
          }
          &.chart4 {
            background: #e1e1e1;
            .slice.one {
              background: @chartColor;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
            .slice.two {
              background: @chartColor;
              -webkit-transform: rotate(331.2deg);
              transform: rotate(331.2deg);
            }
            .chart-center span::after {
              content: "92%";
            }
          }
        }
        .chart-description {
          max-width: 250px;
          padding-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 17px;
          width: 100%;
          text-align: center;
          h6 {
            text-transform: none;
            line-height: 1.5;
            font-weight: 900;
            margin: 0;
            font-size: 1em;
            color: @chartColor;
            // margin-bottom: 0.4em;
          }
          p {
            margin: 0;
            padding: 0;
            line-height: 1.4;
            .merriweather();
            font-size: 0.8em;
            span {
              .maquette-web();
              font-weight: 900;
              color: @upd-light-blue;
              font-size: 1.1em;
            }
          }
        }
        @media @screen768 {
          margin-top: 10px;
          flex-basis: 100%;
          padding-top: 0;
          padding-bottom: 0;
          flex-direction: row;
          justify-content: center;
          .donut-chart {
            @chartSizeSmall: @chartSize*.8;
            @chartStrokeSmall: @chartStroke*.8;
            @chartNumSizeSmall: @chartNumSize*.8;
            flex-basis: @chartSizeSmall;
            width: @chartSizeSmall;
            height: @chartSizeSmall;
            .slice {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            .chart-center {
              position: absolute;
              border-radius: 50%;
              top: @chartStrokeSmall;
              left: @chartStrokeSmall;
              width: @chartSizeSmall - (@chartStrokeSmall * 2);
              height: @chartSizeSmall - (@chartStrokeSmall * 2);
              background: #fff;
              span {
                line-height: @chartSizeSmall - (@chartStrokeSmall * 2);
                display: block;
                text-align: center;
                font-size: @chartNumSizeSmall;
                font-weight: 900;
                color: @chartNumColor;
              }
            }
            .slice.one {
              clip: rect(0 @chartSizeSmall @chartSizeSmall / 2 0);
            }
            .slice.two {
              clip: rect(0 @chartSizeSmall / 2 @chartSizeSmall 0);
            }
            &.chart1 {
              justify-content: center;
              width: @chartSizeSmall * 0.35;
              .slices {
                width: @chartSizeSmall * 0.15;
                height: @chartSizeSmall * 0.15;
                margin-right: @chartSizeSmall * 0.05;
                &:last-of-type {
                  margin-right: 0;
                }
                &::after {
                  background: #e1e1e1;
                  left: 0;
                  right: 0;
                  top: @chartSizeSmall * 0.17;
                  height: @chartSizeSmall * 0.4;
                }
              }
              .num {
                margin-top: @chartSizeSmall * 0.45;
                font-size: @chartNumSizeSmall;
              }
            }
          }
          .chart-description {
            text-align: left;
          }
        }
        @media @screen550 {
          .chart-description {
            padding-left: 10px;
            padding-right: 0;
            h6 {
              font-size: 0.85em;
            }
            p {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
  &--features {
    padding-top: 40px;
    background: lighten(@upd-navy, 67%);
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    .cta-moving-wrapper {
      text-align: center;
      margin: 30px 0 10px 0;
    }
    .cta-moving {
      color: #fff;
      background: @upd-light-blue;
      padding: 15px 40px;
      font-size: 22px;
      font-weight: 500;
      border-radius: 30px;
      transition: background 0.2s;
      &:hover {
        background: @upd-navy;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 25px;
      line-height: 1.1;
      transition: font-size 0.2s;
      color: @upd-navy;
      margin-top: 10px;
      margin-bottom: 60px;
      &.moving-intro {
        margin-bottom: 30px;
        @media @screen992 {
          margin-bottom: 15px;
        }
      }
      @media @screen992 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 40px;
      }
      @media @screen550 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
    &-list {
      &.moving-2018 {
        margin-bottom: 30px;
        h6 {
          font-size: 20px;
        }
        span.feature-details {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      transition: height 0.2s;
      .business-re--features-content {
        justify-content: flex-start;
      }
      box-sizing: border-box;
      width: 100%;
      border-radius: 20px;
      background: #fff;
      padding-top: 30px;
      padding-bottom: 40px;
      margin-bottom: 80px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      ul {
        .display-flex();
        list-style: none;
        width: 100%;
        justify-content: center;
        border-bottom: 2px solid #ddd;
        margin-bottom: 30px;
        padding: 0;
        // padding-bottom: 8px;
      }
      li {
        font-size: 18px;
        font-weight: 500;
        color: #9b9b9b;
        line-height: 1.11111111111;
        margin-right: 30px;
        padding-bottom: 12px;
        cursor: pointer;
        &.active {
          color: @upd-blue;
          border-bottom: 4px solid @upd-blue;
        }
        &:last-of-type {
          margin-right: 0;
        }
        @media @screen992 {
          font-size: 16px;
        }
        @media @screen550 {
          font-size: 14px;
        }
      }
    }
    &-content {
      max-width: 900px;
      margin: 0 auto;
      padding-left: 60px;
      transition: padding-left 0.2s;
      .display-flex();
      display: none;
      // border: 1px solid red;
      flex-wrap: wrap;
      justify-content: flex-start;
      &.active {
        .display-flex();
      }
      &.b2c {
        svg,
        img {
          width: 80px;
          height: 80px;
          margin-right: 20px;
          transition: width 0.2s;
        }
        @media @screen550 {
          svg,
          img {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 400px) {
          svg,
          img {
            display: none;
          }
        }
      }
      &.b2b {
        svg,
        img {
          width: 45px;
          height: 45px;
          margin-bottom: 10px;
        }
        & > div {
          flex-direction: column;
          align-items: flex-start;
        }
        .feature-details {
          max-width: 80%;
          margin-top: 10px;
          display: block;
          .merriweather();
          font-size: 12px;
          color: #666666;
          line-height: 1.333333333333333;
        }
        @media @screen550 {
          & > div {
            width: 100%;
          }
          svg,
          img {
            display: none;
          }
        }
      }
      &-item {
        padding-top: 10px;
        padding-bottom: 20px;
        width: 33%;
        h6 {
          font-weight: 900;
          margin: 0;
        }
        .display-flex();
        align-items: center;
        color: #333;
        font-size: 14px;
        line-height: 1.214285714285714;
        @media @screen768 {
          width: 49%;
        }
      }
      @media @screen992 {
        padding-left: 20px;
      }
    }
  }

  &--get-started {
    padding-bottom: 50px;
    h2 {
      margin-bottom: 30px !important;
    }
    .options-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      @media @screen768 {
        display: block;
      }
    }
    .options {
      width: 50%;
      text-align: center;
      padding: 10px 20px 30px;
      transition: box-shadow 0.2s, transform 0.2s;
      background: #fff;
      margin-bottom: 20px;
      margin-right: 10px;
      border-radius: 10px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      color: #666;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      line-height: 1.214285714285714;
      margin-left: 10px;
      @media @screen768 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    h5 {
      color: #39b3ca;
      font-size: 21px;
      @media @screen768 {
        font-size: 18px;
      }
    }
    a {
      margin-top: 10px;
    }
  }

  &--how {
    padding-top: 60px;
    background: #fff;
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    &.moving-intro {
      padding-top: 30px;
      padding-bottom: 20px;

      .m-intro-block {
        .display-flex();
        justify-content: space-between;
        align-items: center;
        img {
          height: 80px;
          width: auto;
          margin-right: 30px;
        }
        @media @screen992 {
          flex-direction: column;
          img {
            width: 350px;
            height: auto;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }
        @media @screen550 {
          img {
            display: none;
          }
        }
      }

      @media @screen992 {
        padding-top: 10px;
        padding-bottom: 0;
      }
      @media @screen768 {
        padding-top: 0px;
      }
    }
    p.moving-intro {
      max-width: 600px;
      margin-bottom: 10px;
      font-size: 16px;
      .merriweather();

      &:first-of-type {
        margin-top: 20px;
      }
    }
    h2 {
      margin-bottom: 10px;
      font-weight: 900;
      text-align: center;
      font-size: 25px;
      line-height: 1.1;
      color: @upd-navy;
      margin-top: 30px;
      &.moving-intro {
        font-size: 30px;
        max-width: 650px !important;
        margin-left: auto;
        margin-right: auto;
        .merriweather();
        font-weight: 200;
        line-height: 1.6;
        padding-bottom: 0;
        margin-bottom: 0;
        @media @screen992 {
          font-size: 26px;
        }
        @media @screen768 {
          font-size: 22px;
        }
        @media @screen550 {
          font-size: 18px;
        }
      }
    }
    h6 {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 200;
      font-size: 18px;
      line-height: 1.4;
      color: @upd-navy;
      text-transform: none;
      text-align: center;
      a {
        color: @upd-light-blue;
        text-decoration: underline;
        &:hover {
          color: @upd-blue;
        }
      }
    }
    @media @screen992 {
      padding-top: 30px;
      h2 {
        font-size: 22px;
      }
    }
    @media @screen768 {
      padding-top: 20px;
    }
    &-steps {
      .display-flex();
      justify-content: space-between;
      @media @screen768 {
        flex-direction: column;
      }
    }
    &-card {
      box-sizing: border-box;
      position: relative;
      width: 30%;
      border-radius: 20px;
      background: #fff;
      padding: 20px 30px;
      margin-bottom: 60px;
      min-height: 340px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      h3 {
        color: @upd-light-blue;
        font-weight: 900;
        font-size: 21px;
        line-height: 1.285714285714286;
        margin: 0;
        @media @screen768 {
          font-size: 18px;
        }
      }
      p {
        margin-top: 15px;
        margin-bottom: 15px;
        .merriweather();
        font-size: 15px;
        line-height: 1.5;
        color: #666;
        @media @screen768 {
          margin-bottom: 0;
        }
      }

      &-images {
        .display-flex();
        width: 100%;
        justify-content: center;
        align-items: center;
        &.logos {
          flex-wrap: wrap;
          justify-content: space-between;
          justify-content: space-around;
          img {
            padding-bottom: 5px;
          }
        }
        &.customize {
          margin-top: 40px;
          @media @screen768 {
            display: none;
          }
        }
        &.invite {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        img {
          display: block;
          transition: transform 0.2s;
          // max-width: 40%;
          &:hover {
            transform: scale(1.05);
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: -38px;
        display: block;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;

        border-left: 20px solid #d8d8d8;
        @media @screen992 {
          right: -30px;
        }
        @media @screen768 {
          display: none;
        }
      }
      &:last-of-type::after {
        border: none;
      }
      @media @screen768 {
        width: 100%;
        margin-bottom: 10px;
        min-height: auto;
        img {
          display: none;
        }
      }
      @media @screen550 {
        img {
          display: none;
        }
      }
    }
  }
  &--clients {
    padding-top: 50px;
    background: lighten(@upd-navy, 67%);
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      margin-bottom: 20px;
      font-weight: 900;
      text-align: center;
      font-size: 25px;
      line-height: 1.1;
      color: @upd-navy;
      margin-top: 20px;
    }
    h6 {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 200;
      font-size: 18px;
      line-height: 1.4;
      color: @upd-navy;
      text-transform: none;
      text-align: center;
    }
    .left-side {
      background: #fff !important;
      padding-left: 20px;
      padding-right: 20px;
      img {
        max-width: 300px;
        object-fit: contain;
      }
    }
    .right-side {
      background: rgba(0, 0, 0, 0.04);
    }
    .testimonial-by {
      margin-right: 50px;
    }
    .blue-btn-outline-2018 {
      margin-top: 20px;
    }
    @media @screen768 {
      .left-side,
      .right-side {
        height: 250px !important;
      }
    }
  }
  &--form {
    padding-top: 50px;
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    h2 {
      margin-bottom: 10px;
      font-weight: 900;
      text-align: center;
      font-size: 36px;
      line-height: 1.1;
      color: @upd-blue;
      margin-top: 20px;
    }
    h6 {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 900;
      font-size: 21px;
      line-height: 1.4;
      color: @upd-light-blue;
      text-transform: none;
      text-align: center;
    }
    @media @screen768 {
      h2 {
        font-size: 26px;
      }
      h6 {
        font-size: 17px;
      }
    }
  }
  &--partners {
    margin-top: 50px;
    background: @upd-blue;
    padding-top: 30px;
    padding-bottom: 20px;
    h5 {
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px;
      text-align: center;
      color: #fff;
    }
    &-logo {
      .display-flex();
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // width: auto;
      // margin: 0 auto;
      img {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        max-width: 300px;
      }
    }
  }
  .blog-preview-items {
    .under4 {
      ol.flickity-page-dots {
        border: 1px solid red;
        display: none !important;
      }
    }
    h4.title.ebook::after {
      content: "Get the eBook \00bb";
    }
    h4.title.webinar::after {
      content: "View the Webinar \00bb";
    }
  }
}

// NOTE: May 2019: BMT feature hover added

.business-re--features-content {
  &.b2c.with_details > &-item {
    position: relative;
  }
  &.b2c.with_details > &-item::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(-30px);
    .merriweather();
    pointer-events: none;
    line-height: 1.6;
    color: #fff;
    content: attr(data-description);
    position: absolute;
    top: 80px;
    padding: 20px 30px;
    left: 10px;
    right: 10px;
    background: rgba(51, 77, 92, 0.85);
    z-index: 2;
    border-radius: 10px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
    @media @screen550 {
      top: 60px;
    }
  }
  &.b2c.with_details > &-item::before {
    border: solid transparent;
    border-bottom-color: rgba(51, 77, 92, 0.85);
    border-width: 6px;
    margin-left: -6px;
    content: "d";
    top: 65px;
    left: 50%;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(-30px);
  }
  &.b2c.with_details > &-item:hover {
    color: @upd-navy;
  }
  &.b2c.with_details > &-item:hover::after,
  &.b2c.with_details > &-item:hover::before {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
