.thank-you {
  margin-top: 74px;
  margin-bottom: 50px;
  .sqs-block {
    padding-bottom: 0px !important;
  }
  img {
    max-width: 100%;
  }
  .thank-you--hero {
    padding-top: 50px;
    @media @screen768 {
      padding-top: 0px;
    }
  }
  .thank-you--hero-split-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media @screen768 {
      flex-direction: column-reverse;
      padding-top: 20px;
    }

    h1 {
      transition: font-size 0.2s;
      font-family: "ars-maquette-web", sans-serif;
      font-weight: 900;
      font-size: 48px;
      line-height: 1;
      text-align: left;
      color: @upd-navy;
    }
  }
  .split-left,
  .split-right {
    width: 50%;
    padding: 20px;
    @media @screen768 {
      width: 100%;
      padding: 10px 20px;
    }
  }

  p {
    font-family: "Merriweather", Georgia, serif;
    font-size: 17px;
    line-height: 1.705882352941176;
    flex: 3;
    color: #333;
  }

  .thank-you--more-content-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 28px;
      color: @upd-navy;
      margin-top: 30px;
      width: 100%;
      margin-bottom: 30px;
    }

    .thank-you--more-content-item {
      width: 32%;
      background: #fff;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      padding-bottom: 15px;
      transition: transform 0.2s, box-shadow 0.2s;
      margin-bottom: 20px;

      @media @screen768 {
        width: 48.5%;
        margin-left: auto;
        margin-right: auto;
      }
      @media @screen550 {
        width: 100%;
        margin-left: auto;
      }

      img {
        width: 100%;
      }

      .thank-you--more-content-title {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 200;
        color: #000;
        margin: 20px 15px;
        transition: font-size 0.2s;
      }

      .thank-you--more-content-blurb {
        margin-left: 15px;
        font-size: 16px;
        color: #666667;
        font-family: inherit;
        line-height: 1.3;
      }

      .thank-you--more-content-read-more {
        margin-left: 15px;

        a {
          margin: 10px 0px;
          font-size: initial;
        }
      }
    }
  }
}
