//
// TODO: remove .revamp-2018-header, .revamp-2018-nav classes.
// When ready with the new nav bar
// TODO: Remove .revamp-2018-header references from JS.

.revamp-2018-header,
.d2c-2019-header {
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  height: @navbar-height;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.d2c-2019--mobile-menu {
  .display-flex();
  justify-content: center;
  z-index: 9;
  transform: translateX(-100vw);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  position: fixed;
  top: @navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 2px solid #ddd;
  opacity: 0;
  overflow: auto;
  &.is-on {
    transform: translateX(0);
    opacity: 1;
  }
  &-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    .display-flex();
    // flex-wrap: wrap;
    flex-direction: column;
    // height: 100%;
    justify-content: stretch;
    color: @upd-navy;
    a {
      color: @upd-navy;
    }
    li {
      width: 100%;
      flex: 3;
      .display-flex();
      align-items: center;
      justify-content: center;
      border-top: 1px solid #ddd;
      font-size: 18px;
      & > a {
        .display-flex();
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          color: @upd-light-blue;
        }
      }
      &:first-of-type {
        border-top: none;
      }
      &:last-of-type {
        // border-top: none;
      }
      &.d2c-mobile-login {
        flex-direction: column;
        div.d2c-mobile-login-options {
          display: none;
          width: 100%;
          transform: translateY(-20px);
          height: 100%;
          font-size: 14px;
          line-height: 1;
          text-align: center;
          a {
            background: @upd-light-blue;
            color: #fff;
            padding: 10px;
            margin-right: 10px;
            border-radius: 15px;
            transition: transform 0.2s, background 0.2s;
            &:hover {
              transform: scale(1.05);
              background: @upd-navy;
            }
            &:last-of-type {
              margin-right: none;
            }
          }
          &.is-on {
            .display-flex();
            justify-content: center;
            align-items: center;
          }
        }
      }
      &.mobile-secondary {
        background: #333;
        flex: 2;
        justify-content: space-around;
        a {
          .display-flex();
          justify-content: center;
          align-items: center;
          text-align: center;
          flex: 1;
          height: 100%;
          border-right: 2px solid #fff;
          &:last-of-type {
            border: none;
          }
          &:hover {
            background: #333;
            color: #fff;
            transform: scale(1.03);
          }
        }
      }
    }
  }
}

.d2c-2019--get-started-menu {
  .display-flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
  transform: translateY(-1200px);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  position: fixed;
  top: @navbar-height;
  left: 0;
  right: 0;
  // bottom: 0;
  // background: @upd-navy;
  // background:rgba(255,255,255,.95);
  background: rgba(51, 77, 92, 0.9);
  opacity: 0;
  overflow: auto;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  .get-started-close-modal {
    position: absolute;
    font-weight: 200;
    font-size: 15px;
    top: 5px;
    right: -100px;
    color: #fff;
    .display-flex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    img {
      pointer-events: none;
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
    @media @screen768 {
      right: 0;
      top: -30px;
    }
  }
  h4 {
    position: relative;
    color: #fff;
    // color:@upd-navy;
    pointer-events: none;
    font-size: 33px;
    line-height: 1.212121212121212;
    font-weight: 800;
    text-align: center;
    @media @screen550 {
      font-size: 28px;
    }
    @media screen and (max-width: 370px) {
      font-size: 22px;
    }
  }
  .d2c-invite-tooltip {
    margin-bottom: 40px;
    color: #fff;
    // color:@upd-blue;
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    .merriweather();
    &:hover::after {
      // display: block;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      // pointer-events: all;
    }
    &::after {
      // display: none;
      transition: transform 0.2s, opacity 0.2s;
      // visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100px);
      position: absolute;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 7px;
      top: 30px;
      left: -100px;
      width: 300px;
      font-size: 14px;
      line-height: 1.6428571429;
      color: #4a4a4a;
      background: #fff;

      content: "Updater is available through exclusive partnerships with brokerages, property managers, and moving companies. You may have received an invite from one of our partners. If not, don’t sweat it. We have tons of free resources to make your move easier.";
    }
    @media @screen768 {
      margin-bottom: 20px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .display-flex();
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    @media @screen768 {
      flex-direction: column;
      max-width: 400px;
    }
  }
  li {
    width: 48%;
    .display-flex();
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 20px;
    h5,
    h6 {
      pointer-events: none;
      color: #fff;
      width: 100%;
      margin: 0;
      text-align: center;
      font-weight: 800;
      text-transform: none;
    }
    h5 {
      font-size: 32px;
      line-height: 1.1875;
      margin-bottom: 15px;
    }
    h6 {
      font-size: 19px;
      line-height: 1.2105;
      margin-bottom: 20px;
    }
    a {
      background: #fff;
      border-radius: 25px;
      padding: 15px 20px;
      font-size: 14px;
      line-height: 1;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.0001);
      transition: box-shadow 0.2s, transform 0.2s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
    &.get-started-no-invite {
      background: @upd-light-blue;
      a {
        color: @upd-light-blue;
        min-width: 50%;
        text-align: center;
      }
    }
    &.get-started-invite {
      background: @upd-light-green;
      a {
        color: @upd-light-green;
        min-width: 50%;
        // margin-right: 10px;
        text-align: center;
        // &:last-of-type {
        //   margin-right: 0;
        //   background: @upd-light-green;
        //   color:#FFF;
        //   border: 1px solid #FFF;
        // }
      }
    }
    @media @screen768 {
      width: 100%;
      padding: 20px;
      margin-bottom: 15px;
    }
    @media @screen550 {
      h5 {
        font-size: 27px;
      }
      h6 {
        font-size: 16px;
      }
    }
  }
  &.is-on {
    transform: translateY(0);
    opacity: 1;
  }
  @media screen and (max-width: 900px) {
    transform: translateY(0) translateX(100vw);
    bottom: 0;
    // background: #FFF;
    padding-bottom: 30px;
    &.is-on {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media @screen768 {
  }
}

.mobile-menu-2018 {
  .display-flex();
  justify-content: center;
  z-index: 9;
  transform: translateX(-100vw);
  transition: transform 0.2s, opacity 0.2s;
  width: 100%;
  // min-height: 100vh;
  position: fixed;
  top: @navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: @upd-navy;
  overflow: auto;
  // background-blend-mode: multiply;
  // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1536948106/website/2018-revamp-assets/photos/random_grey_variations.png');
  border-top: 1px solid #ddd;

  &.is-on {
    transform: translateX(0);
    opacity: 1;
  }

  &--top-level {
    width: 100%;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    .maquette-web();
    font-weight: 200;
    overflow: auto;
    .display-flex();
    flex-wrap: wrap;
    align-items: stretch;
    a {
      color: inherit;
      transition: color 0.2s;
      &:hover {
        color: @upd-pink;
      }
    }

    li {
      height: auto;
      width: 50%;
      font-weight: 900;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      color: #fff;
      .display-flex();
      justify-content: center;
      align-items: center;
      &:hover {
        background: darken(@upd-navy, 15%);
      }
    }
    .m-about {
      order: 5;
      // background:lighten(@upd-navy, 10%);
      height: 15%;
    }

    .m-tools {
      border-top: 1px solid @upd-blue;
      order: 3;
      width: 100%;
      // background:lighten(@upd-navy, 10%);
      height: 15%;
    }

    .m-how {
      flex-direction: column;
      order: 2;
      width: 100%;
      background: @upd-navy;
      height: 23.33333333333333333333%;
    }
    .m-resources {
      order: 6;
      // background:lighten(@upd-navy, 20%);
      height: 15%;
      border-left: 1px solid @upd-blue;
    }
    .m-login {
      flex-direction: column;
      order: 3;
      width: 100%;
      border-top: 1px solid @upd-blue;
      // background: @upd-blue;
      height: 23.33333333333333333333%;
    }
    .m-get {
      flex-direction: column;
      order: 4;
      width: 100%;
      border-top: 1px solid @upd-blue;
      border-bottom: 1px solid @upd-blue;
      // background: @upd-light-blue;
      height: 23.33333333333333333333%;
      a {
        text-decoration: underline;
      }
    }
  }

  &--second-level {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    .display-flex();
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: underline;
      &:hover {
        color: @upd-pink;
      }
    }
    li {
      .display-flex();
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.2;
      font-weight: 400;
      margin-top: 0px;
      color: #eee;
      padding-bottom: 0;
      font-size: 15px;
      padding: 10px;
      // background:rgba(255,255,255,.2);
      border-radius: 15px;
    }
    .three-items {
      width: 32%;
    }
    .two-items {
      width: 49%;
    }
  }
}

.revamp-2018-nav {
  &--wrapper {
    .display-flex();
    height: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    img#mobile-menu {
      display: none;
      width: 40px;
      margin-right: 5px;
      margin-bottom: -5px;
      cursor: pointer;
      @media @screen992 {
        display: block;
      }
    }
  }
  &--logo {
    width: 141px;
  }
}
.d2c-2019-nav {
  &--wrapper {
    .display-flex();
    z-index: 10;
    height: 100%;
    background: #fff;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    img#mobile-menu {
      display: none;
      width: 24px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        display: block;
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: space-between;
    }
  }
  &--logo {
    width: 141px;
    &-circle {
      display: none;
      width: 35px;
      height: 35px;
    }
    @media @screen550 {
      display: none;
      &-circle {
        display: block;
      }
    }
  }
  &--desktop {
    .display-flex();
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .nav-items {
      .display-flex();
      margin-left: 72px;
      font-size: 14px;
      line-height: 1.2142857143;
      & > li {
        padding: 23px 4px;
        margin-right: 32px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: inherit;
        }
        &.active,
        &:hover {
          color: @upd-pink;
          border-bottom: 5px solid @upd-pink;
        }
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .top-ctas {
      .display-flex();
      position: absolute;
      right: 10px;
      height: 100%;
      align-items: center;
      font-size: 14px;
      line-height: 1.2142857143;
      &--login {
        z-index: 1;
        color: @upd-pink;
        box-sizing: border-box;
        position: relative;
        padding: 23px 0px;
        padding-left: 100px;
        cursor: pointer;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        span {
          padding-left: 4px;
          padding-right: 4px;
        }
        &:hover {
          span {
            box-sizing: border-box;
            padding-bottom: 23px;
            border-bottom: 5px solid @upd-pink;
          }
          // outline: 2px solid @upd-pink;
          & > ul {
            transform: translateY(0);
            z-index: 0;
            opacity: 1;
            visibility: visible;
          }
        }
        a {
          color: #555;
        }
        &-sub {
          border-radius: 0 0 15px 15px;
          z-index: 1;
          display: block;
          .display-flex();
          flex-direction: column;
          top: 0;
          right: 0;
          margin-top: 68px;
          position: absolute;
          width: 200px;
          font-weight: 400;
          transition: opacity 0.2s, transform 0.2s;
          color: #333;
          background: #fff;
          box-sizing: border-box;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
            0 3px 3px rgba(0, 0, 0, 0.4);
          overflow: hidden;
          transition: transform 0.2s, opacity 0.2s;
          transform: translateY(-50px);
          opacity: 0;
          visibility: hidden;
          li {
            .display-flex();
            border: none;
            align-items: center;
            a {
              padding: 15px;
              .display-flex();
              justify-content: stretch;
              width: 100%;
              align-items: center;
            }
            &:hover {
              border: none;
              background: #eee;
              margin-bottom: 0;
              a {
                color: #000;
              }
            }
            &:nth-of-type(2) {
              box-sizing: border-box;
              border-top: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
            }
          }
        }
        div {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          &.user-icon-2018 {
            width: @login-icon-size;
            height: @login-icon-size;
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-moving.svg");
          }

          &.agent-icon-2018 {
            width: @login-icon-size;
            height: @login-icon-size;
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-agent.svg");
          }

          &.enterprise-icon-2018 {
            width: @login-icon-size;
            height: @login-icon-size;
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-enterprise.svg");
          }
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
      &--start {
        padding: 14px 25px;
        margin-left: 32px;
        background: @upd-pink;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background 0.2s;
        &:hover {
          background: @upd-light-blue;
        }
      }
      @media screen and (max-width: 900px) {
        position: relative;
        transform: translateX(-55px);
      }
      @media @screen550 {
        transform: translateX(-5px);
      }
    }
  }
}
.desktop-nav-2018 {
  @media @screen992 {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &--first-level {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    a {
      color: inherit;
    }
    li {
      transition: color 0.2s, border-color 0.2s;
      box-sizing: border-box;
      display: block;
      color: #4a4a4a;
      font-size: 18px;
      line-height: 1;
      padding: 23px 4px;
      margin-right: 25px;
      position: relative;
      border-top: 5px solid transparent;
      border-bottom: 5px solid white;

      &.active,
      &:hover {
        color: @upd-pink;
        border-bottom: 5px solid @upd-pink;
      }

      &.topnav-btn-2018 {
        transition: background 0.2s;
        display: block;
        background: @upd-pink;
        border: none;
        border-radius: 20px;
        padding: 9px 32px;
        margin-right: 0;
        height: 40px;
        color: #fff;

        &:hover {
          border: none;
          background: @upd-light-blue;
          margin-bottom: 0;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
      }

      &:hover > ul {
        visibility: visible;
        opacity: 1;
        display: block;
        transform: translateY(0);
      }
    }
  }
  &--second-level {
    border-radius: 0 0 15px 15px;

    z-index: 2;
    visibility: hidden;
    display: block;
    transform: translateY(-50px);
    opacity: 0;
    top: 68px;
    left: 0;
    position: absolute;
    // margin-top: 28px;
    margin-left: -5px;
    transition: opacity 0.2s, transform 0.2s;
    color: #333;
    background: #fff;
    box-sizing: border-box;
    box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.3),
      0 3px 3px rgba(0, 0, 0, 0.4);

    li {
      display: block;
      border: none;
      padding: 20px;

      &:hover {
        border: none;
        margin-bottom: 0;
      }
    }

    &.how {
      width: 260px;

      li {
        font-size: 14px !important;
        display: flex;
        align-items: center;
      }
    }

    &.who {
      width: 280px;
      left: auto;
      right: 0;
      li {
        font-size: 14px !important;
        display: flex;
        align-items: center;
      }
    }

    &.button-drop {
      margin-top: -30px;
      margin-left: 0px;
      background: transparent;
      box-shadow: none;
      // width: 160px;
      padding-top: 12px;

      li {
        font-size: 16px !important;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 9px;
        border: 2px solid white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

        border-radius: 30px;
        text-align: center;
        background: @upd-navy;
        color: #fff;

        &:hover {
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          border: 2px solid white;
          background: @upd-blue;
          margin-bottom: 10px;
        }
      }
    }

    &.biz-button-drop {
      .display-flex();
      box-sizing: border-box;
      flex-wrap: wrap;
      justify-content: flex-start;

      &::before {
        content: "Quick Links:";
        font-weight: 900;
        display: block;
        margin-bottom: 10px;
        width: 100%;
        font-size: 10px;
      }

      margin-top: 0px !important;
      margin-left: 30px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 20px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      width: 350px;
      padding: 20px !important;

      li {
        font-size: 12px !important;
        margin-bottom: 10px !important;
        margin-right: 10px !important;
        display: inline-block !important;
        padding: 0;
        color: @upd-navy;

        a {
          color: @upd-light-blue;
          text-decoration: underline;
          &:hover {
            color: @upd-navy;
          }
        }
      }
    }

    div {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &.people-icon-2018 {
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1535487026/website/2018-revamp-assets/icons/people-moving.svg");
      }

      &.biz-icon-2018 {
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1535487026/website/2018-revamp-assets/icons/businesses.svg");
      }

      &.user-icon-2018 {
        width: @login-icon-size;
        height: @login-icon-size;
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-moving.svg");
      }

      &.agent-icon-2018 {
        width: @login-icon-size;
        height: @login-icon-size;
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-agent.svg");
      }

      &.enterprise-icon-2018 {
        width: @login-icon-size;
        height: @login-icon-size;
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1523990718/icons/subnav-2018/i-am-enterprise.svg");
      }
    }
  }
}
