body.revamp-2018 {
  margin: 0 !important;
  padding: 0;
  .maquette-web();
  font-weight: 400;
  min-height: 100vh;
}

.container-2018 {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

main {
  min-height: 100vh;
  // height: 100%;
}
