.clients-2018 {
  .navbar-height-adjustment();

  &--hero {
    height: 250px;
    background-blend-mode: multiply;
    background-color: @upd-blue;
    background-image: linear-gradient(85deg, @upd-navy, @upd-light-blue),
      url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,e_grayscale,f_auto,q_auto,w_1280/v1546150721/website/2018-revamp-assets/photos/shutterstock_36740302.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-bottom: 30px;
    .display-flex();
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    & > div {
      width: 100%;
    }
    h6 {
      color: #fff;
      .merriweather();
      font-size: 18px;
      margin: 0;
      // color: #666666;
      letter-spacing: 0;
      text-transform: none;
    }
    h1 {
      color: #fff;
      font-weight: 900;
      font-size: 38px;
      line-height: 1.2;
      // color: @upd-navy;
      margin: 0;
    }
  }

  &--items {
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      flex-basis: 32%;
      @media @screen992 {
        flex-basis: 49%;
      }
      @media @screen550 {
        flex-basis: 100%;
      }
    }
  }
  &--item {
    width: 32%;
    flex-basis: 32%;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
    img {
      width: 100%;
    }
    @media @screen992 {
      width: 49%;
      flex-basis: 49%;
    }
    @media @screen550 {
      width: 100%;
      flex-basis: 100%;
    }
  }
  &--quote {
    .merriweather();
    font-size: 13px;
    line-height: 1.615384615384615;
    color: #888;
    margin: 15px 15px 10px 15px;
    display: block;
    &::before {
      content: "\201C";
    }
    &::after {
      content: "\201D";
    }
    &-by {
      font-weight: 200;
      font-size: 13px;
      color: #333;
      letter-spacing: 0;
      line-height: 1.5;
      margin: 0 0 15px 15px;
      &::before {
        content: "\2014";
      }
    }
    &-read {
      margin-top: 0;
      margin-left: 15px;
      font-size: 13px;
      font-weight: 500;
      color: @upd-light-blue;
    }
  }
}
