.revamp-2018-footer {
  position: relative;
  background: @upd-navy;
  z-index: 12;
}

.foot-box-2018 {
  .maquette-web();
  .display-flex();
  padding: 50px 10px;
  color: #fff;
  justify-content: space-between;
  .foot-blocks {
    .display-flex();
    flex-direction: column;
    justify-content: space-between;
  }
  img.logo-footer {
    width: 94px;
    display: block;
    margin-bottom: 20px;
  }
  img.foot-social,
  svg.foot-social {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    // display: inline;
    margin-right: 3px;
    opacity: 0.7;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .img-block {
    margin-bottom: 80px;
  }
  ul.foot-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 900;
    justify-content: center;
    li {
      margin-left: 70px;
      font-size: 15px;
      &:first-of-type {
        margin-left: 0;
      }
      ul.foot-nav-sub {
        list-style: none;
        padding: 0;
        margin-top: 10px;
      }
      li {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: normal;
        margin: 0;
        margin-bottom: 7px;
        a {
          opacity: 0.95;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    ul.foot-nav-third-level {
      margin-top: 8px;
      margin-left: 0;
      padding-top: 3px;
      padding-bottom: 50x;
      padding-left: 12px;
      border-left: 3px solid rgba(255, 255, 255, 0.4);
      li {
        list-style: none;
      }
    }
  }
  @media @screen992 {
    .foot-blocks {
      order: 3;
      margin-top: 30px;
      margin-left: -66px;
    }
    flex-direction: column;
    .img-block {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 300px;
      text-align: center;
      img.logo-footer {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
  @media @screen768 {
    ul.foot-nav {
      .display-flex();
      flex-direction: column;
      margin: 0 auto !important;

      li {
        ul.foot-nav-sub {
          margin-top: 0;
          width: auto;
          width: 160px;
        }
        .display-flex();
        margin: 0;
        flex-wrap: wrap;
        &.foot-nav-cat {
          padding-top: 20px;
          & > span {
            width: 140px;
            line-height: 1;
          }
        }
      }

      display: flex;
      margin-left: 0;
    }
  }
  @media screen and (max-width: 320px) {
    ul.foot-nav {
      li {
        ul.foot-nav-sub {
          margin-top: 20px;
          width: auto;
          width: 160px;
        }
      }
    }
  }
}

// Secondary links on the bottom of footer

ul.links-block {
  display: flex;
  margin-top: 150px;
  font-family: inherit;
  font-weight: 200;
  font-size: 13px;
  line-height: 1.4;

  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    margin-right: 10px;
    &:nth-of-type(3) {
      &::after {
        content: "";
      }
    }
    &:last-of-type {
      margin-right: 0;
      padding-top: 10px;
      font-style: italic;
      flex-basis: 100%;
      text-align: center;
      &::after {
        content: "";
      }
    }
    &::after {
      margin-left: 10px;
      content: " \2022 ";
    }
  }
  li.foot-copyright {
    font-weight: 400;
  }
  @media @screen768 {
    li.foot-copyright {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;
      &::after {
        content: "";
      }
    }
  }
}
