.team-2018 {
  .navbar-height-adjustment();;

  &--hero {
    height: 230px;
    background-color: #777;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1546466040/website/2018-revamp-assets/photos/team-composite.jpg");
    background-size: cover;
    // background-position: center;
    background-repeat: repeat-x;
    box-sizing: border-box;
    padding-bottom: 30px;
    .display-flex();
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    animation: team-hero 600s infinite linear;
    & > div {
      width: 100%;
    }
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    h1 {
      font-weight: 900;
      font-size: 38px;
      line-height: 1.2;
      color: #fff;
      margin: 0;
      margin-bottom: 20px;
      transition: font-size 0.2s;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
      @media @screen768 {
        font-size: 32px;
      }
      @media @screen550 {
        font-size: 28px;
      }
      @media screen and (max-width: 420px) {
        font-size: 22px;
      }
    }
    a {
      border: 1px solid transparent;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      padding: 5px 20px;
      background: @upd-light-blue;
      color: #fff;
      border-radius: 30px;
      transition: background 0.2s, border 0.2s, color 0.2s;
      &:hover {
        background: #fff;
        color: @upd-light-blue;
        border: 1px solid @upd-light-blue;
      }
    }
  }
  &--members {
    .display-flex();
    flex-wrap: wrap;
    justify-content: center;
  }
  &--member {
    &.pup {
      background: transparent;
    }

    width: 163px;
    // background: #FFF;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    img {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
      width: 100%;
      border-radius: 50%;
      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
    a {
      color: inherit;
      & > img {
        border: 1px solid white;
        // border: 1px solid lighten(@upd-light-blue, 17%);
        animation: border-pulse 5s infinite;
      }
    }
    @media @screen768 {
      width: 150px;
    }
    @media @screen550 {
      width: 110px;
    }
  }
  &--name {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 200;
  }
  &--title {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.1666666666667;
    text-align: center;
    margin-top: 7px;
  }
  @media @screen768 {
    &--name {
      font-size: 14px;
    }
    &--title {
      font-size: 10px;
    }
  }
  &--quote::before {
    content: attr(data-quote);
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
  &--pupdater {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
    background: lighten(@upd-navy, 67%);
    h4 {
      font-weight: 900;
      font-size: 24px;
      line-height: 1.208333333333;
      color: @upd-navy;
      text-align: center;
    }
    h6 {
      text-align: center;
      text-transform: none;
      font-weight: 900;
      font-size: 18px;
      line-height: 1.222222222;
      color: @upd-blue;
    }
    .pupdater-flkty {
      margin: 0 auto;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      .flickity-styling-2018();
    }
  }
  &--blog {
    text-align: center;
  }
}

.tippy-tooltip {
  font-size: 16px;
  line-height: 1.6;
  width: 200px;
  .merriweather();
  padding: 20px;
  background: @upd-navy!important;
  text-align: left;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  @media @screen768 {
    font-size: 14px;
  }
  @media @screen550 {
    font-size: 12px;
  }
}

.tippy-backdrop {
  background: @upd-navy!important;
}

@keyframes border-pulse {
  0% {
    border: 1px solid white;
  }
  50% {
    border: 1px solid lighten(@upd-light-blue, 30%);
  }
}

@keyframes team-hero {
  0% {
    background-position: 1000vw center;
  }

  100% {
    background-position: -1000vw center;
  }
}

.preloader-2018 {
  width: 100%;
  min-height: 500px;
  .display-flex();
  justify-content: center;
  align-items: center;
  // background: red;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
