.business-mm {
  .navbar-height-adjustment();
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    & > .container-2018 {
      width: 100%;
      position: relative;
    }
    padding-top: 50px;
    height: 450px;
    background: #eee;
    box-sizing: border-box;
    padding-bottom: 30px;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: @upd-blue;
    background-color: #888;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: linear-gradient(
        136deg,
        @upd-blue 0%,
        @upd-light-blue 48%,
        @upd-navy 100%
      ),
      url("https://res.cloudinary.com/updater-marketing/image/upload/v1545679525/website/2018-revamp-assets/photos/shutterstock_1160605696.jpg");
    background-image: linear-gradient(
        136deg,
        @upd-pink 0%,
        @upd-light-blue 48%,
        @upd-yellow 100%
      ),
      url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1280/v1546148763/website/2018-revamp-assets/photos/shutterstock_795112300.jpg");
    // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545839845/website/2018-revamp-assets/photos/fpo.jpg');
    h1 {
      margin-top: 0;
      font-size: 48px;
      color: #fff;
      margin-bottom: 40px;
      line-height: 1.2;
      text-align: left;
      @media @screen992 {
        font-size: 42px;
      }
      @media @screen768 {
        font-size: 36px;
      }
      @media @screen550 {
        font-size: 28px;
      }
    }
    h4 {
      .merriweather();
      font-size: 22px;
      color: @upd-navy;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0;
    }
    .mm-partner-with-us,
    .mm-video {
      border: 2px solid white;
      padding: 12px 25px;
      display: inline-block;
      // margin-bottom: 20px;
      line-height: 1;
      border-radius: 20px;
      font-size: 20px;
      color: #fff;
      font-weight: 900;
      @media @screen992 {
        font-size: 17px;
      }
      @media @screen768 {
        font-size: 15px;
        padding: 10px 20px;
      }
      @media @screen550 {
        font-size: 12px;
        padding: 8px 16px;
      }
    }
    .mm-partner-with-us {
      margin-right: 20px;
      background: #fff;
      color: @upd-navy;
      transition: border 0.2s, background 0.2s, color 0.2s;
      &:hover {
        color: #fff;
        background: @upd-light-blue;
        border: 2px solid @upd-light-blue;
      }
      @media @screen550 {
        margin-right: 10px;
      }
    }
    .mm-video {
      transition: border 0.2s, color 0.2s;
      .triangle {
        width: 13px;
        fill: #fff;
        margin-right: 10px;
        transition: fill 0.2s;
      }

      &:hover {
        border: 2px solid @upd-light-blue;
        color: @upd-light-blue;
        .triangle {
          fill: @upd-light-blue;
        }
      }
      @media @screen550 {
        .triangle {
          width: 7px;
          margin-right: 5px;
        }
      }
    }
    .circle-triangle {
      fill: #fff;
      opacity: 0.3;
      width: 230px;
      position: absolute;
      right: 20%;
      top: 0px;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
      @media @screen992 {
        width: 200px;
        right: 15%;
      }
      @media @screen768 {
        width: 180px;
      }
      @media screen and (max-width: 680px) {
        width: 150px;
        right: 10%;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  &--intro {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
    background-blend-mode: multiply;
    background-color: @upd-light-blue;
    // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1546150456/website/2018-revamp-assets/diagrams/mm.png');
    // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545680517/website/2018-revamp-assets/photos/dots.jpg');
    // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545839845/website/2018-revamp-assets/photos/fpo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    // background-repeat: repeat!important;
    h3 {
      padding: 30px 0;
      font-size: 42px;
      .merriweather();
      line-height: 1.6;
      color: @upd-navy;
      color: #fff;
      font-weight: 500;
      // text-shadow: 1px 2px 9px rgba(0,0,0,.85);
      // text-shadow: 3px 3px white, 2px 2px white, -3px -3px white, 1px 5px 10px white;
      @media screen and (max-width: 1200px) {
        font-size: 38px;
      }
      @media @screen992 {
        font-size: 32px;
      }
      @media @screen768 {
        font-size: 28px;
      }
      @media screen and (max-width: 650px) {
        font-size: 24px;
      }
      @media screen and (max-width: 550px) {
        font-size: 20px;
      }
      @media screen and (max-width: 460px) {
        font-size: 18px;
      }
    }
  }
  &--ebook {
    position: relative;
    padding-top: 50px;
    h4 {
      font-size: 20px;
      margin: 0;
      text-align: left;
      font-weight: 900;
      color: @upd-blue;
    }
    h2 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 20px;
    }
    &-wrapper {
      min-height: 400px;
      padding-top: 20px;
      padding-bottom: 0px;
      &.container-2018 {
        position: static;
      }
      .display-flex();
      .book-illo,
      .book-intro {
        width: 50%;
      }
      .book-illo {
        background-size: contain;
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_crop,h_727,w_414/v1545682244/website/2018-revamp-assets/photos/how-to-hit.jpg");
        background-position: center;
        background-repeat: no-repeat;
      }
      .book-intro {
        .display-flex();
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;

        p {
          .merriweather();
          font-size: 17px;
          line-height: 1.7;
        }
        ul {
          .merriweather();
          font-weight: 200;
          margin-top: 0;
        }
        button {
          background: @upd-light-blue;
          padding: 10px 30px;
          color: #fff;
          font-weight: 500;
          border-radius: 30px;
          cursor: pointer;
          border: none;
          transition: background 0.2s;
          &:hover {
            background: @upd-navy;
          }
          &:disabled {
            background: #ccc;
          }
        }
        @media @screen992 {
          p {
            font-size: 15px;
          }
        }
      }
      @media @screen768 {
        .book-illo {
          display: none;
        }
        .book-intro {
          width: 100%;
        }
      }
    }
    &-request {
      // display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translateX(-100vw);
      transition: transform 0.5s, background 0.5s;
      background: transparent;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        transform: translateX(0);
        z-index: 13;
        background: rgba(0, 0, 0, 0.85);
      }
      .modal-close {
        margin-top: 15px;
        font-weight: 200;
        color: @upd-light-blue;
        cursor: pointer;
      }
    }
  }
  &--great-for {
    background-color: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
      margin-bottom: 30px;
    }
    &-grid {
      .display-flex();
      flex-wrap: wrap;
      justify-content: flex-start;
      .grid-item {
        margin-bottom: 18px;
        width: 23%;
        margin-right: 2%;
        .display-flex();
        align-items: center;
        font-size: 18px;
        font-weight: 200;
        line-height: 1.4;
        color: @upd-navy;
        img {
          border-radius: 50%;
          width: 90px;
          margin-right: 10px;
        }
        @media @screen992 {
          width: 31%;
          margin-right: 2%;
        }
        @media @screen768 {
          width: 48%;
          margin-right: 2%;
        }
        @media @screen550 {
          width: 100%;
          // justify-content: center;
          margin-right: 0;
          margin-left: 20vw;
        }
        @media screen and (max-width: 350px) {
          margin-left: 10vw;
          font-size: 15px;
          img {
            width: 50px;
          }
        }
      }
      @media @screen550 {
        justify-content: center;
      }
    }
  }
}
