.jobs-2018 {
  .navbar-height-adjustment();
  overflow: hidden;
  h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    color: @upd-navy;
    line-height: 1.2;
    @media @screen768 {
      font-size: 20px;
    }
    @media @screen550 {
      font-size: 18px;
    }
  }

  &--intro {
    padding: 30px 10px;
    .jobs-video-thumb {
      width: 100%;
      margin-bottom: 5px;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      }
    }
    .display-flex();
    justify-content: space-between;
    &-video {
      width: 48%;
      a {
        font-size: 14px;
        line-height: 1;
        color: @upd-light-blue;
        text-decoration: underline;
        &:hover {
          color: @upd-blue;
        }
      }
    }

    &-copy {
      width: 48%;
      .display-flex();
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .sqs-block.code-block.sqs-block-code {
        padding-bottom: 0 !important;
      }
      h1,
      h6,
      a {
        transition: font-size 0.2s;
      }
      h1 {
        font-size: 36px;
        font-weight: 900;
        color: @upd-navy;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 10px;
      }
      h6 {
        font-size: 22px;
        max-width: 500px;
        font-weight: 200;
        margin: 5px 0 10px;
        line-height: 1.3;
        text-transform: none;
        color: #666;
      }
      a {
        background: @upd-light-blue;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        margin-top: 5px;
        padding: 12px 30px;
        border-radius: 30px;
        transition: background 0.2s;
        &:hover {
          background: @upd-navy;
        }
      }
      @media @screen992 {
        h1 {
          font-size: 32px;
        }
        h6 {
          font-size: 20px;
        }
        a {
          font-size: 16px;
          // padding: 5px 20px;
        }
      }
      @media @screen768 {
        align-items: center;
        h1 {
          font-size: 28px;
        }
        h6 {
          font-size: 18px;
        }
        a {
          font-size: 14px;
          padding: 10px 18px;
        }
      }
    }
    @media @screen768 {
      flex-direction: column;
      &-video,
      &-copy {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  &--recognition {
    background: lighten(@upd-navy, 67%);
    margin-top: 0;
    // padding-top: 10px;
    padding: 20px 0;
    border: 1px solid transparent;
    a {
      color: inherit;
    }
    h2 {
      margin-top: 30px;
    }
    h6 {
      font-weight: 900;
      font-size: 18px;
      line-height: 1.3;
      color: @upd-navy;
      text-align: center;
      text-transform: none;
    }
    &-logos {
      .display-flex();
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &.intern {
        justify-content: space-around;
        max-width: 1000px;
        img {
          max-width: 100px;
          max-height: 50px;
        }
        @media @screen768 {
          max-width: 400px;
          img {
            margin: 10px 20px;
          }
        }
      }
      a {
        display: block;
        margin-right: 30px;
        margin-bottom: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }
      img {
        max-height: 70px;
        max-width: 120px;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.02);
        }
      }
      .big-logo {
        max-height: 100px;
        max-width: 200px;
        margin-bottom: 0px;
        display: block;
      }
      .big-logo-container {
        margin-right: 50px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .featured-in-media {
      .display-flex();
      margin-top: 30px;
      justify-content: space-between;
      flex-wrap: wrap;
      .media-card {
        background: #fff;
        padding: 15px;
        margin-bottom: 23px;
        width: 23%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        transition: transform 0.2s, box-shadow 0.2s;
        img {
          max-width: 100%;
          width: auto;
        }
        h5 {
          font-weight: 200;
          line-height: 1.3;
          font-size: 17px;
        }
        .blog-list--read-more {
          margin-left: 0;
        }
        &:hover {
          transform: scale(1.02);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        }
        @media @screen768 {
          width: 48%;
        }
        @media @screen550 {
          width: 100%;
        }
      }
    }
  }
  &--featured {
    padding: 50px 10px;
    &-cards {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      .display-flex();
      justify-content: space-between;
      .feature-card {
        position: relative;
        width: 48%;
        background: #fff;
        padding-bottom: 20px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.2s, transform 0.2s;
        .display-flex();
        flex-direction: column;
        .sqs-block.code-block.sqs-block-code {
          padding-bottom: 0 !important;
        }
        h4 {
          font-weight: 900;
          margin: 0;
          margin-bottom: 10px;
          color: @upd-blue;
          font-size: 18px;
          line-height: 1.2;
          padding: 0 20px;
        }
        p {
          .merriweather();
          font-size: 15px;
          line-height: 1.5;
          margin: 0;
          padding: 0 20px;
          color: #666;
        }
        .blog-list--read-more {
          padding: 10px 20px 0;
          margin-left: 0;
        }
        .feature-image {
          width: 100%;
          margin-bottom: 20px;
        }
        &:hover {
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          transform: scale(1.01);
        }
        @media @screen768 {
          width: 100%;
          padding-bottom: 0;
          margin-bottom: 20px;
          flex-direction: row;
          align-items: center;
          .feature-image {
            // width: 48%;
            margin: 0;
          }
          h4 {
            font-size: 15px;
          }
          p {
            font-size: 12px;
          }
        }
        @media @screen550 {
          // padding: 10px;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 20px;
          width: 48%;
          .feature-image {
            // width: 100px;
            // margin-top: 20px;
            // margin-left: 20px;
            margin-bottom: 20px;
          }
        }
      }
      @media @screen768 {
        flex-direction: column;
      }
      @media @screen550 {
        flex-direction: row;
      }
    }
  }

  &--perks {
    background: lighten(@upd-navy, 67%);
    padding: 50px 10px;
    &-grid {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 40px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .grid-item {
      width: 33%;
      margin-bottom: 30px;
      .display-flex();
      align-items: center;
      transition: transform 0.2s;
      &-icon,
      svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
      }
      h6 {
        font-weight: 500;
        text-transform: none;
        color: @upd-blue;
        font-size: 15px;
        display: inline;
        line-height: 1;
        margin: 0;
        &::after {
          content: "Watch video >";
          font-weight: 200;
          display: block;
          line-height: 1;
          font-size: 12px;
          margin-top: 0px;
          color: @upd-light-blue;
        }
      }
      &:hover {
        transform: scale(1.03);
      }
      @media @screen768 {
        width: 48%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        margin-left: 15vw;
      }
      @media screen and (max-width: 350px) {
        width: 100%;
        margin-left: 5vw;
      }
    }
  }
  .blog-preview-items {
    background: #fff;
  }
  &--culture-videos {
    padding-top: 60px;
    padding-bottom: 60px;
    .display-flex();
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media @screen550 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    a {
      width: 48%;
      @media @screen550 {
        width: 100%;
      }
    }
    img {
      transition: transform 0.2s, box-shadow 0.2s;
      width: 100%;
      max-width: 640px;
      margin-bottom: 23px;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      }
      @media @screen550 {
        width: 100%;
      }
    }
  }
  &--instagram-feed {
    // background: lighten(@upd-navy, 67%);
    padding-top: 60px;
    padding-bottom: 60px;
    p {
      text-align: center;
      a {
        color: @upd-light-blue;
      }
    }
    #jobs-instafeed {
      h4,
      small {
        display: none;
      }
    }
    .insta-view-more {
      // display: block;
      margin-left: auto;
      margin-right: auto;
      color: @upd-light-blue;
      border: 1px solid @upd-light-blue;
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 30px;
    }
  }
  &--elements {
    background: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-bottom: 50px;
    &-grid {
      margin-top: 30px;
      .display-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: stretch;
      h6,
      h3,
      p,
      span {
        pointer-events: none;
      }
      h6 {
        font-size: 60px;
        font-weight: 900;
        margin: 0;
        text-transform: none;
        color: lighten(@upd-navy, 50%);
        line-height: 1.2;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 18px;
        font-weight: 900;
        color: @upd-blue;
        margin: 0;
        line-height: 1.2;
        margin-bottom: 10px;
      }
      p {
        .merriweather();
        font-size: 15px;
        line-height: 1.6;
      }
      .blog-list--read-more {
        margin-left: 0;
        position: absolute;
        bottom: 15px;
      }
      .who-said-it {
        display: block;
        color: #fff;
        font-style: italic;
        margin-top: 5px;
        &:before {
          content: "\2014  ";
        }
      }
      .flipcard-item {
        height: 350px;
        width: 23.5%;
        @media @screen992 {
          width: 49%;
          height: 270px;
        }
        @media @screen768 {
          .flipcard-back h3 {
            display: none;
          }
        }
        @media @screen550 {
          width: 100%;
          height: 230px;
          .flipcard-back h3 {
            display: block;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  &--built-in-nyc {
    .display-flex();
    flex-wrap: wrap;
    transition: all 0.2s;
    margin-top: 60px;
    margin-bottom: 60px;
    .f-heading {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 20px;
      width: 100%;
      background: #334d5c;
      color: #fff;
      font-weight: bold;
      text-align: right;
      a {
        color: #fff;
      }
      img {
        width: 110px;
      }
    }
    .f-l-col,
    .f-r-col {
      transition: all 0.2s;
      .display-flex();
      flex-wrap: wrap;
      width: 50%;
      @media @screen992 {
        width: 100%;
      }
    }
    .f-quart {
      transition: all 0.2s;
      width: 50%;
      height: 200px;
    }
    .f-half-cta {
      transition: all 0.2s;
      padding: 30px 50px;
      width: 100%;
      height: 200px;
      background: #2b7499;
      color: #ffffff;
      font-weight: 900 !important;
      font-size: 32px;
      line-height: 1.1;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      a {
        transition: background 0.2s, font-size 0.2s;
        color: #fff;
        font-size: 16px;
        display: inline-block;
        padding: 10px 30px;
        background: #f84e57;
        margin-top: 20px;
        border-radius: 20px;
        &:hover {
          background: @upd-navy;
        }
      }
      @media screen and (max-width: 1200px) {
        padding: 20px 40px;
        font-size: 28px;
        a {
          color: #fff;
          // font-size: 18px;
        }
      }
      @media @screen992 {
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        font-size: 18px;
        height: 100px;
        a {
          color: #fff;
          font-size: 14px;
          margin-top: 15px;
          padding: 10px 15px;
        }
      }
    }
    .f-r-col {
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1530910348/website/employee-photos/HBC24148_WEB.jpg");
      background-size: cover;
      background-position: center;
      height: 400px;
      @media @screen992 {
        height: 200px;
        background-position: top;
      }
    }
    .f-01-img {
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1530910410/website/employee-photos/HBC24593_WEB.jpg");
      background-size: cover;
      background-position: center;
    }
    .f-02-img {
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/s--upwmUz5_--/c_crop,g_custom:adv_faces/v1530910410/website/employee-photos/HBC24556_WEB.jpg");
      background-size: cover;
      background-position: center;
    }

    @media @screen992 {
      flex-direction: column;
    }
  }
  &--we-build {
    background: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-bottom: 50px;
    &-grid {
      margin-top: 30px;
      .display-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: stretch;
      .grid-item {
        width: 32%;
        margin-bottom: 20px;
        background: #fff;
        transition: transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        padding: 40px 20px;
        .display-flex();
        flex-direction: column;
        &:hover {
          transform: scale(1.015);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        }
        h3 {
          color: @upd-blue;
          font-weight: 900;
          line-height: 1.2;
          margin: 0;
          margin-bottom: 20px;
        }
        p {
          .merriweather();
          font-size: 15px;
          line-height: 1.5;
        }
      }
      @media @screen768 {
        flex-direction: column;
        .grid-item {
          width: 100%;
          padding: 20px;
          flex-direction: row;
          h3 {
            width: 150px;
            font-size: 20px;
            margin-right: 20px;
          }
          p {
            flex: 1;
          }
        }
      }
      @media @screen550 {
        .grid-item {
          flex-direction: column;
          h3,
          p {
            width: 100%;
          }
          h3 {
            font-size: 17px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
  &--tech-stack {
    padding-top: 50px;
    padding-bottom: 50px;
    p {
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      max-width: 550px;
      font-size: 15px;
      line-height: 1.4;
    }
    .tech-logos {
      .display-flex();
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 800px;
      margin-top: 20px;
      img {
        height: auto;
        max-width: 180px;
        max-height: 80px;
        margin-right: 40px;
        @media @screen992 {
          max-width: 120px;
          max-height: 70px;
        }
      }
    }
  }
  &--team-leads {
    background: lighten(@upd-navy, 67%) !important;
    padding-top: 50px;
    padding-bottom: 50px;
    .blog-preview-item-2018 {
      text-align: left;
      height: 400px;
      box-shadow: none !important;
      background: transparent;
      .flipcard-item {
        perspective: 2000px;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 0;
      }
      .leader-info {
        .display-flex();
      }
      .leader-headshot {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        &-small {
          width: 60px;
          height: 60px;
          border-radius: 50px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          @media @screen550 {
            display: none;
          }
        }
      }
      .leader-txt-block {
        .display-flex();
        margin-left: 15px;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
      .leader-name {
        font-weight: 900;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 10px;
        &-small {
          margin-bottom: 10px;
          font-weight: 900;
          font-size: 18px;
          line-height: 1.2;
          font-size: 16px;
          @media @screen550 {
            display: none;
          }
        }
      }
      a {
        color: #fff;
        text-decoration: underline;
        font-style: italic;
      }
      .leader-title {
        font-size: 14px;
        font-weight: 200;
        line-height: 1.2;
        &-small {
          line-height: 1.2;
          font-weight: 200;
          font-size: 12px;
          @media @screen550 {
            display: none;
          }
        }
      }
      .leader-bio {
        .merriweather();
        margin-top: 20px;
        line-height: 1.5;
        font-size: 16px;
        color: #999;
      }
      h6 {
        margin-top: 20px;
        font-size: 14px;
        color: #fff;
        line-height: 1;
        font-weight: 900;
        text-transform: none;
      }
      .blog-list--read-more {
        position: absolute;
        bottom: 20px;
        margin-left: 0;
        left: 20px;
      }
    }
  }
  &--tech-photos {
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
      margin-bottom: 20px;
    }
  }

  &--openings {
    .navbar-height-adjustment();
    h1 {
      font-size: 36px;
      font-weight: 900;
      color: @upd-navy;
      line-height: 1.2;
      margin: 0;
      margin-top: 30px;
      text-align: center;
      margin-bottom: 10px;
    }
    &-content {
      margin-top: 20px;
    }
    &-breadcrumb {
      color: @upd-light-blue;
      &:hover {
        color: @upd-blue;
      }
    }
    #grnhse_app {
      margin-top: 30px;
      iframe,
      iframe > * {
        .maquette-web();
      }
      #grnhse_iframe {
        .app_body {
          .maquette-web();
          h1.app-title {
            font-weight: 900;
          }
        }
      }
    }
  }
}

.internship-2018 {
  &--two-cards {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    &-wrapper {
      .display-flex();
      justify-content: space-between;
      max-width: 900px;
      margin-top: 30px;
      margin-bottom: 30px;
      @media @screen768 {
        flex-direction: column;
      }
    }
    .intern-card {
      text-align: left;
      .display-flex();
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      width: 48%;
      background: #fff;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.2s, box-shadow 0.2s;
      .sqs-block.code-block.sqs-block-code {
        padding-bottom: 0 !important;
      }
      h3,
      h5,
      p {
        margin: 0;
        line-height: 1.2;
      }
      h3 {
        text-align: center;
        font-weight: 900;
        color: @upd-blue;
        font-size: 20px;
        margin-bottom: 30px;
      }
      h5 {
        font-weight: 900;
        color: @upd-navy;
        font-size: 17px;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        line-height: 1.6;
        .merriweather();
        margin-bottom: 10px;
        color: #666;
      }

      &:hover {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.01);
      }
      @media @screen768 {
        width: 100%;
        flex-direction: row;
        margin-bottom: 20px;
        h3 {
          text-align: left;
          font-size: 18px;
          width: 180px;
        }
        .intern-card-copy {
          flex: 1;
        }
      }
      @media @screen550 {
        flex-direction: column;
      }
    }
    .card-cta {
      padding: 15px 30px;
      background: @upd-light-blue;
      color: #fff;
      border-radius: 30px;
      font-size: 17px;
      transition: background 0.2s;
      &:hover {
        background: @upd-navy;
      }
    }
  }
  &--testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
    &-wrapper {
      margin-top: 30px;
      .display-flex();
      justify-content: space-between;
      @media @screen768 {
        flex-direction: column;
      }
    }
    &-card {
      padding: 30px 20px;
      width: 32%;
      .display-flex();
      flex-direction: column;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      transition: transform 0.2s, box-shadow 0.2s;
      &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.015);
      }
      @media @screen768 {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: row;
      }
      @media @screen550 {
        flex-direction: column;
      }
      .intern-info {
        .display-flex();
        @media @screen768 {
          width: 150px;
          flex-direction: column;
        }
        @media @screen550 {
          width: 100%;
          flex-direction: row;
        }
      }
      .intern-headshot {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        @media @screen768 {
          margin-bottom: 10px;
        }
      }
      .intern-txt-block {
        .display-flex();
        margin-left: 15px;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        @media @screen768 {
          justify-content: flex-start;
        }
        @media @screen550 {
          justify-content: center;
        }
      }
      .intern-name {
        font-weight: 900;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 10px;
        @media @screen768 {
          font-size: 16px;
        }
      }

      .intern-title {
        font-size: 14px;
        font-weight: 200;
        line-height: 1.2;
        @media @screen768 {
          display: none;
        }
        @media @screen550 {
          display: block;
        }
      }
      .intern-testimonial {
        .merriweather();
        margin-top: 20px;
        line-height: 1.5;
        font-size: 16px;
        color: #999;
        flex: 1;
      }
    }
  }
  &--photo-feed {
    background: lighten(@upd-navy, 67%);
    padding-top: 60px;
    padding-bottom: 60px;
    p {
      text-align: center;
      a {
        color: @upd-light-blue;
      }
    }
  }
}

.flipcard-item {
  margin-bottom: 20px;
  perspective: 1500px;
  position: relative;
  cursor: pointer;

  &.hover .flipcard-flipper {
    transform: rotateY(180deg);
  }
}
.flipcard-front,
.flipcard-back {
  width: 100%;
  background: #fff;

  height: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.flipcard-front {
  padding: 20px;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  .display-flex();
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.015);
  }
}

.flipcard-back {
  z-index: 1;
  transform: rotateY(180deg);

  background: @upd-navy;
  color: #fff;
  h3 {
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
  }
  h4 {
    color: #fff;
    text-align: left;
    font-size: 22px;
    line-height: 1.2;
    span {
      padding: 0;
      margin: 0;
      display: inline;
      font-size: 15px;
      color: #fff;
    }
  }
  p {
    .merriweather();
    font-size: 13px;
    line-height: 1.5;
  }
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg) scale(1.015);
  }
}
.flipcard-flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  // padding: 20px;
}

.flipcard-close {
  position: absolute;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  .display-flex();
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid white;
}
