.mktoForm input[type="url"],
.mktoForm input[type="text"],
.mktoForm input[type="date"],
.mktoForm input[type="tel"],
.mktoForm input[type="email"],
.mktoForm input[type="number"],
.mktoForm select,
.mktoForm textarea {
  .maquette-web() !important;
}

form.mktoForm {
  .maquette-web() !important;

  & > * {
    .maquette-web() !important;
  }

  font-weight: 200;
  font-size: 19px !important;
  margin: 0 auto;
  width: auto !important;
  max-width: 550px;
  div.mktoFormCol {
    width: 100%;
    position: relative;
    .display-flex();
  }
  div.mktoFormRow {
    width: 100%;
  }
  div.mktoOffset {
    display: none;
  }
  label.mktoLabel {
    width: 5% !important;
    display: none;
  }
  input.mktoField {
    width: 100% !important;
    height: auto !important;
    padding: 10px 20px;
    border: 1px solid black;
    border: 1px solid #ddd !important;
  }
  div.mktoFieldWrap {
    width: 100% !important;
  }
  .mktoGutter {
    display: none;
  }
  select.mktoField {
    width: 100% !important;
    height: auto !important;
    height: 50px !important;
    padding: 10px 20px !important;
    border: 1px solid #ddd !important;
  }
  div.mktoButtonRow {
    margin-top: 20px !important;
    width: 100%;
  }
  div.mktoError {
    bottom: -40px !important;
    left: 0 !important;
    right: auto !important;
  }
  div.mktoErrorMsg {
    font-size: 15px !important;
    background: lighten(@upd-pink, 40%) !important;
    color: @upd-pink!important;
    text-shadow: none !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !important;
  }
  .mktoButtonWrap {
    text-align: center;
    display: block;
    width: 100% !important;
    margin: 0 !important;
    button.mktoButton {
      background: @upd-light-blue!important;
      border-radius: 20px !important;
      padding: 5px 50px !important;
      transition: background 0.2s;
      &:hover {
        background: @upd-navy!important;
      }
    }
  }
  .mktoButton {
    text-transform: none !important;
    font-weight: 500 !important;
    border: none !important;
    background-image: none;
    background-color: @upd-light-blue;
  }
}
