// NOTE:
//
// Legacy code forces margin-top: 60px on body.
// Here we forces it back to none.
// When site is complete, make sure to purge unnecessary !important declarations.

// TODO:
//
// Break out into modular files
html.revamp-2018,
body.revamp-2018 {
  // min-height: 100vh;
}

.breadcrumb-2018 {
  height: 30px;
  background: @upd-salmon;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    &::after {
      content: " > ";
    }
    &:last-of-type::after {
      content: "";
    }
  }

  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
  @media @screen550 {
    display: none;
  }
}
.mixitup-filters {
  padding: 30px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .display-flex();
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    font-weight: 200;
    font-size: 16px;
    line-height: 1;
    color: #666666;
    cursor: pointer;
    & > span {
      padding: 5px 15px;
      border: 1px solid transparent;
      border-radius: 20px;
      display: block;
    }
    & > span.mixitup-control-active {
      border: 1px solid @upd-light-blue;
      color: @upd-light-blue;
    }
    @media @screen768 {
      font-size: 14px;
    }
    @media @screen550 {
      font-size: 11px;
      & > span {
        padding: 3px 5px;
      }
    }
  }
}
.revamp-2018--sticky-wrapper {
  height: 54px;
  background: @upd-light-blue;
  transition: height 0.2s;
  margin: 35px 0 0 0;
  .display-flex();
  align-items: center;
  @media @screen992 {
    height: 35px;
  }
  @media @screen550 {
    // display: none;
  }
}
.revamp-2018--sticky {
  width: 100%;
  height: 100%;
  ul {
    .display-flex();
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    list-style: none;
    align-items: center;
    position: relative;
    li {
      align-items: center;
      justify-content: center;
      .display-flex();
      flex: 1;
      transition: font-size 0.2s;
      line-height: 1;
      text-align: center;
      font-size: 18px;
      font-weight: 900;
      height: 100%;
      color: #fff;
      border-left: 1px solid #fff;
      padding-left: 10px;
      padding-right: 10px;
      a {
        .display-flex();
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
      }
      &:hover {
        background: @upd-navy;
      }
      &:first-of-type {
        border-left: none;
      }
      @media @screen992 {
        font-size: 15px;
      }
      @media @screen768 {
        font-size: 13px;
      }
      @media @screen550 {
        font-size: 11px;
      }
    }
  }
}
.hero_h2 {
  transition: font-size 0.2s;
  text-align: center;
  font-size: 32px;
  line-height: 1;
  @media @screen992 {
    font-size: 24px;
  }
  @media @screen768 {
    font-size: 20px;
  }
  @media @screen550 {
    font-size: 15px;
  }
}
.section_h2 {
  font-weight: 900;
  color: @upd-navy;
  font-size: 28px;
  line-height: 1.214285714;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  span {
    font-weight: 200;
  }
}

.section_h1 {
  font-size: 36px;
  transition: font-size 0.2s;
  line-height: 1.1944444444;
  color: @upd-blue;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  @media @screen768 {
    font-size: 30px;
  }
}
.section_h3 {
  transition: font-size 0.2s;
  text-align: center;
  font-size: 21px;
  line-height: 1;
  font-weight: 900;
  color: @upd-light-blue;
  margin-top: 5px;
  margin-bottom: 20px;
  @media @screen768 {
    font-size: 18px;
  }
}

.section_padding_top {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section_padding_sides {
  padding-left: 10px;
  padding-right: 10px;
}
.flickity-styling-2018 {
  .flickity-button.flickity-prev-next-button.previous {
    margin-left: -80px;
  }
  .flickity-button.flickity-prev-next-button.next {
    margin-right: -80px;
  }
  /* no circle */
  .flickity-button {
    background: transparent;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 90px;
    height: 90px;
  }
  /* icon color */
  .flickity-button-icon {
    transition: transform 0.2s;
    fill: white;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    &:hover {
      transform: scale(1.1);
    }
  }
}

.blog-preview-items {
  background: lighten(@upd-navy, 65%);
  position: relative;
  .section_padding_top();
  padding-left: 50px;
  padding-right: 50px;
  h2 {
    .section_h2();
  }
  overflow: hidden;
  .blog-preview-2018 {
    margin-top: 40px;
    .flickity-styling-2018();
  }
  .blog-preview-item-2018 {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 31.5%;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }
    @media @screen992 {
      width: 50%;
      margin-right: 30px;
    }
    @media @screen550 {
      width: 90%;
    }
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.222222222222;
    color: #000000;
    display: block;
    padding: 20px;
    height: 5em;
    margin-top: 0;
    text-align: left;
    &::after {
      display: block;
      content: "Read more \00bb";
      padding-top: 10px;
      font-size: 14px;
      color: @upd-light-blue;
    }
  }
  a {
    color: #000000;
  }
}

.in-the-news-2018 {
  .section_padding_top();
  h2 {
    .section_h2();
  }
  .press-icons {
    margin-top: 50px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div {
      margin-bottom: 30px;
    }
    img {
      transition: transform 0.2s;
      margin: 0 20px;
      &:hover {
        transform: scale(1.05);
      }
      @media @screen550 {
        transform: scale(0.8);
        margin: 0 5px;
        &:hover {
          transform: scale(0.85);
        }
      }
    }
  }
  a.blue-btn-outline-2018 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.cta_above_top_nav,
.cta_on_page_bottom {
  transition: all 0.2s;
  position: fixed;
  color: #fff;
  text-align: center;
  font-size: 15px;
  left: 0;
  right: 0;

  a {
    color: #fff;
    text-decoration: underline;
    font-weight: 800;
  }
  @media @screen550 {
    font-size: 12px;
  }
}

.cta_above_top_nav {
  display: none;
  top: 0;
  background: @upd-light-blue;
}
.cta_on_page_bottom {
  display: none;
  z-index: 11;
  background: @upd-pink;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inline-block;
  }
  @media screen and (max-width: 980px) {
    transform: translateY(-43px);
  }
  @media @screen550 {
    max-width: 300px;
    .mobile-only {
      display: inline-block;
    }
    .desktop-only {
      display: none;
    }
  }
}

// Search list fix

.sqs-search-page.sqs-search-page-content {
  margin-top: 74px;
  padding-left: 0;
  padding-right: 0;
}

.search-results {
  overflow: auto;
  .display-flex();
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-result {
  width: 31%;
  border-top: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  @media screen and (max-width: 900px) {
    width: 45%;
  }
  @media @screen550 {
    width: 90%;
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.sqs-search-container-item {
  border-top: none;
}

.sqs-search-page-item {
  padding-top: 0;
}

.search-result .sqs-search-container-item .sqs-content > div.sqs-content {
  display: none;
}

.sqs-search-container-item.sqs-search-page-item {
  .display-flex();
  flex-direction: column;
}

.sqs-search-page-item .sqs-main-content {
  width: 100%;
  & > div.sqs-content {
    display: none;
  }
}
.sqs-search-page-item .sqs-main-image-container {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}

.sqs-search-container-list .search-results {
  border: none;
}

.sqs-search-page .sqs-main-image {
  border-radius: 0;
  border: none;
}

.sqs-search-page .sqs-main-image > img {
  width: auto !important;
}

.sqs-search-page-item .sqs-main-image-intrinsic {
  padding-right: 0;
  padding-bottom: 65%;
}

.sqs-search-container-list.sqs-search-page-list {
  overflow-x: visible !important;
  overflow: visible !important;
}

.sqs-search-page-more-wrapper {
  // display: none;
}

.sqs-search-page .sqs-title {
  color: #000;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 200;
  margin: 13px 15px 10px;
  transition: font-size 0.2;
}

.sqs-search-page .sqs-title::after {
  content: "Read more >";
  color: #39b3ca;
  margin-top: 15px;
  display: block;
  font-size: 12px !important;
}

.adjust-top-nav-padding {
  .navbar-height-adjustment();
}
