.blue-btn-big-2018 {
  display: block;
  background: @upd-light-blue;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 10px 50px;
  transition: background 0.2s, color 0.2s, padding 0.2s;
  &:hover {
    background: #fff;
    color: @upd-light-blue;
  }
  @media @screen992 {
    font-size: 20px;
    padding: 8px 40px;
  }
  @media @screen768 {
    font-size: 16px;
    padding: 5px 30px;
  }
}
.blue-btn-2018 {
  display: inline-block;
  margin-top: 20px;
  background: @upd-light-blue;
  // text-transform: uppercase;
  color: #fff;
  padding: 5px 30px;
  font-size: 18px;
  border-radius: 20px;
  width: auto;
  transition: background 0.2s, color 0.2s, padding 0.2s;
  &:hover,
  &:active {
    background: @upd-navy;
    color: #fff !important;
  }
}

.red-btn-2018 {
  display: inline-block;
  margin-top: 20px;
  background: @upd-pink;
  // text-transform: uppercase;
  color: #fff;
  padding: 5px 30px;
  font-size: 18px;
  border-radius: 20px;
  width: auto;
  transition: background 0.2s, color 0.2s, padding 0.2s;
  &:hover,
  &:active {
    background: @upd-light-blue;
    color: #fff !important;
  }
}

.blue-btn-outline-2018 {
  color: @upd-light-blue!important;
  display: inline-block;
  font-weight: 400;
  margin-top: 60px;
  background: #fff;
  border: 1px solid @upd-light-blue;
  border-radius: 20px;
  padding: 6px 25px;
  transition: color 0.2s, background 0.2s;
  &:hover {
    background: @upd-light-blue;
    color: #fff !important;
  }
}
