.business-products {
  .navbar-height-adjustment();

  &--heading {
    position: relative;
    background: @upd-navy;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1280/v1546148105/website/2018-revamp-assets/photos/shutterstock_357107174.jpg");
    // background-image: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545839845/website/2018-revamp-assets/photos/fpo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    z-index: 4;
    height: 200px;
    & > div {
      position: relative;
      padding-top: 15px;
      padding-bottom: 35px;
      width: 100%;
      height: 100%;
      // height: 120px;
      .display-flex();
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    h3,
    h6 {
      color: @upd-navy;
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      font-weight: 900;
      margin: 0;
      line-height: 1.2;
    }
    h3 {
      font-size: 32px;
    }
    h6 {
      font-size: 18px;
      text-transform: none;
    }
    @media @screen992 {
      height: 180px;
      h3 {
        font-size: 28px;
      }
      h6 {
        font-size: 16px;
      }
    }
    @media @screen768 {
      height: 150px;
      h3 {
        font-size: 22px;
      }
      h6 {
        font-size: 14px;
      }
    }
    @media @screen550 {
      // height: 130px;
      h3 {
        font-size: 20px;
      }
      h6 {
        font-size: 12px;
      }
    }
    &-cta {
      color: #fff;
      background: @upd-light-blue;
      padding: 10px 30px;
      border-radius: 20px;
      margin-top: 15px;
      font-size: 17px;
      line-height: 1;
      transition: background 0.2s;
      &:hover,
      &:active,
      &:focus {
        background: @upd-pink;
        color: #fff;
      }
      @media @screen992 {
        font-size: 15px;
        padding: 8px 25px;
      }
    }
  }
  &--overview {
    position: relative;
    padding-top: 10vw;
    padding-bottom: 10vw;
    height: 100%;
    .display-flex();
    &-modal-bg {
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s;
      top: 00px;
      bottom: 000px;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 3;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: multiply;
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/a_hflip/a_0/v1545514253/website/2018-revamp-assets/photos/shutterstock_663895165_bw.jpg"),
        url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1545514841/website/2018-revamp-assets/photos/shutterstock_159873380_bw.jpg"),
        url("https://res.cloudinary.com/updater-marketing/image/upload/v1545068806/website/2018-revamp-assets/photos/shutterstock_404825329_bw.jpg");
      background-size: 1px, 1px, 1px;
      background-position: center, center, center;
      background-repeat: no-repeat, no-repeat, no-repeat;
      &.isFocused {
        opacity: 1;
      }
    }
  }
  &--overview > div.container-2018 {
    .display-flex();
    @media @screen768 {
      flex-direction: column;
    }
  }
  &--triangle,
  &--content {
    box-sizing: border-box;
    width: 50%;
  }

  &--triangle {
    .display-flex();
    justify-content: flex-start;
    align-items: center;
    z-index: 4;
    svg {
      width: 90%;
      transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      circle {
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
        stroke: #ffffff;
        stroke-width: 4px;
      }
      .bp-lines,
      text,
      .bp-texts {
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }
      .bp-texts {
        pointer-events: none;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }
      .bp-lines.isFocused {
        stroke: #ffffff;
      }
    }
    @media @screen768 {
      align-items: center;
      width: 100%;
      padding: 0 0 30px 0;
      svg {
        width: 250px;
        height: 200px;
      }
    }
    @media @screen550 {
      flex-direction: column;
      svg {
        height: 150px;
      }
    }
  }
  &--content {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    // overflow:hidden;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media @screen768 {
      justify-content: flex-start;
      max-width: 500px;
      width: 100%;
      flex: 1;
    }
    h1,
    h2,
    p {
      transition: font-size 0.2s;
    }
    h1,
    h2 {
      font-weight: 900;
      margin: 0;
    }
    h1 {
      font-size: 33px;
      line-height: 1.2;
      color: @upd-navy;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 21px;
      line-height: 1.3333333333;
      color: @upd-light-blue;
      margin-bottom: 15px;
    }
    p {
      font-size: 17px;
      .merriweather();
      line-height: 1.588235294117647;
      color: #666666;
    }
    @media @screen992 {
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }

    @media @screen550 {
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }

    &-realestate,
    &-businesses,
    &-movers {
      box-sizing: border-box;
      z-index: 4;
      opacity: 0;
      padding: 25px 40px;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      transition: opacity 0.2s, transform 0.2s;
      transform: translateY(-100vh);
      background: #fff;
      pointer-events: none;
      position: absolute;
      height: auto;
      // top: 10px;
      // bottom: 10px;
      left: 10px;
      right: 10px;
      border-radius: 20px;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
      h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
        &.bp-re {
          color: @upd-light-blue;
        }
        &.bp-biz {
          color: @upd-navy;
        }
        &.bp-mover {
          color: @upd-blue;
        }
      }
      p {
        font-size: 17px;
        line-height: 1.588235294117647;
        margin-bottom: 0;
      }
      h5 {
        font-weight: 900;
        font-size: 14px;
        line-height: 1.571428571428571;
        color: @upd-blue;
      }
      h6 {
        font-weight: 500;
        line-height: 1;
        font-size: 16px;
        margin-top: 10px;
        color: #000;
        text-transform: none;
      }
      div.bp-biz,
      div.bp-mover {
        margin-top: 20px;
      }
      a {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 8px;
        line-height: 1;
        padding: 15px 20px;
        border: 1px solid @upd-light-blue;
        color: @upd-light-blue;
        background: #fff;
        width: auto;
        transition: color 0.2s, background 0.2s;
        border-radius: 20px;
        &:hover {
          background: @upd-light-blue;
          color: #fff;
        }
      }
      @media @screen992 {
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 15px;
        }
        a {
          padding: 12px 18px;
          font-size: 0.9em;
        }
        h6 {
          font-size: 13px;
        }
      }
      @media @screen768 {
        h2 {
          font-size: 24px;
          margin-bottom: 12px;
        }
        p {
          font-size: 13px;
        }
        a {
          padding: 12px 18px;
          font-size: 0.8em;
        }
        h6 {
          font-size: 12px;
        }
        h5 {
          margin-top: 0;
        }
      }
      @media @screen550 {
        h2 {
          font-size: 20px;
        }
      }
      &.isActive {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        @media @screen550 {
          margin-top: -100px;
        }
      }
    }
  }
  &--cta {
    // display: inline-block;
    .display-flex();
    box-sizing: content-box;
    position: relative;
    align-items: center;
    // flex: 0;
    align-self: flex-start;
    background: #fff;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 200;
    padding: 10px 30px;
    margin-top: 10px;
    border: 1px solid @upd-light-blue;
    color: @upd-light-blue;
    animation: bp-pulse 2s infinite;
    transition: font-size 0.2s, padding 0.2s;
    span.pointer-cursor-graphic {
      width: 35px;
      min-width: 20px;
      margin-right: 10px;
    }
    .upward.pointer-cursor-graphic > img {
      transform: rotate(90deg);
    }
    span {
      display: block;
      margin-right: 10px;
    }
    @media @screen992 {
      font-size: 18px;
      padding: 8px 25px;
    }
    @media @screen768 {
      display: none;
    }
    &.by-drawing {
      display: none;
      padding: 10px 15px;
      align-self: center;
      .upward {
        display: none;
      }
      @media @screen768 {
        // display: block;
        .display-flex();
        margin-left: 30px;
        font-size: 14px;
      }
      @media @screen550 {
        .upward {
          display: block;
        }
        .leftward {
          display: none;
        }
        animation: bp-up-pulse 2s infinite;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  &--modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    .display-flex();
    justify-content: center;
    align-items: center;
  }
  &--great-for {
    .display-flex();
  }
  &--industry {
    .display-flex();
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      border-radius: 50%;
      width: 40px;
      margin-right: 5px;
    }
    span {
      display: inline-block;
      font-weight: 200;
      color: #000;
      font-size: 12px;
      line-height: 1.333333333333333;
    }
    @media @screen992 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &--form-area {
    h2 {
      font-weight: 900;
      margin-bottom: 10px;
    }
    h6 {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 900;
      font-size: 21px;
      line-height: 1.4;
      color: @upd-light-blue;
      text-transform: none;
      text-align: center;
    }
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    background: #fff;
    border: 1px solid transparent;
  }

  &--clients {
    background: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;

    h2 {
      color: @upd-navy;
      font-size: 25px;
    }

    .left-side {
      background: #fff !important;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;
      position: relative;

      img {
        max-width: 300px;
        object-fit: contain;
      }
    }
    .right-side {
      background: rgba(0, 0, 0, 0.04);
    }

    .flickity-page-dots .dot {
      background: #333;
    }

    .blue-btn-outline-2018 {
      margin-top: 20px;
    }

    .read-client-story {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: inline-block;
        font-size: 12px;
        background: @upd-light-blue;
        padding: 5px 15px;
        border-radius: 20px;
        color: #fff;
        &:hover {
          background: @upd-navy;
        }
      }
    }
  }
}
@keyframes bp-pulse {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-8px);
  }
  10% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bp-up-pulse {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-8px);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
