.terms-2018-new {
  .navbar-height-adjustment();;
  margin-bottom: 60px;
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  &--hero {
    border: 1px solid transparent;
    background-color: @upd-blue;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1280/v1546222248/website/2018-revamp-assets/photos/shutterstock_374055577.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }
  &--body {
    .terms-tab-nav {
      width: 100%;
      ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        .display-flex();
        li {
          box-sizing: border-box;
          flex: 1;
          .display-flex();
          flex-direction: column;
          justify-content: space-between;
          font-weight: 200;
          font-size: 20px;
          line-height: 1;
          text-align: center;
          padding: 20px 10px;
          background: #eee;
          cursor: pointer;
          border: 2px solid #eee;
          border-bottom: none;
          transition: background 0.2s, color 0.2s;
          color: #999;
          & svg {
            fill: #999;
            pointer-events: none;
            margin-bottom: 10px;
            width: 100%;
          }
          &.active {
            background: #fff;
            color: #38b3ca;
            svg {
              fill: #38b3ca;
            }
          }
          &:hover {
            color: @upd-pink;
            text-decoration: underline;
          }
          @media @screen992 {
            font-size: 18px;
          }
          @media @screen768 {
            font-size: 16px;
          }
          @media @screen550 {
            font-size: 14px;
          }
        }
      }
    }
    .is-hidden {
      display: none;
    }
    .terms-content-area {
      box-sizing: border-box;
      border: 2px solid #eee;
      border-top: none;
      padding: 20px;
      color: #888;
      p {
        .merriweather();
        font-size: 14px;
        line-height: 1.6;
      }
      h2 {
        padding-top: 20px;
        color: #000;
        line-height: 1;
        @media @screen992 {
          font-size: 26px;
        }
        @media @screen768 {
          font-size: 22px;
        }
        @media @screen550 {
          font-size: 20px;
        }
      }
      h3 {
        margin-bottom: 10px;
        font-size: 18px;
        color: #333;
      }
    }
    #terms-re-update-date,
    #terms-bp-update-date {
      color: #888;
      margin-bottom: 20px;
    }
  }
}
.terms-h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1;
  margin-bottom: 0;
  font-size: 30px;
  @media @screen992 {
    font-size: 28px;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  @media @screen768 {
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  @media @screen550 {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
}

.terms-2018 {
  .terms-tab-nav {
    width: 100%;
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      .display-flex();
      li {
        box-sizing: border-box;
        flex: 1;
        .display-flex();
        flex-direction: column;
        justify-content: space-between;
        font-weight: 200;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        padding: 20px 10px;
        background: #eee;
        cursor: pointer;
        border: 2px solid #eee;
        border-bottom: none;
        transition: background 0.2s, color 0.2s;
        color: #999;
        & svg {
          fill: #999;
          pointer-events: none;
          margin-bottom: 10px;
          width: 100%;
        }
        &.active {
          background: #fff;
          color: #38b3ca;
          svg {
            fill: #38b3ca;
          }
        }
        &:hover {
          color: @upd-pink;
          text-decoration: underline;
        }
        @media @screen992 {
          font-size: 18px;
        }
        @media @screen768 {
          font-size: 16px;
        }
        @media @screen550 {
          font-size: 14px;
        }
      }
    }
  }
  .is-hidden {
    display: none;
  }
  .terms-content-area {
    box-sizing: border-box;
    border: 2px solid #eee;
    border-top: none;
    padding: 20px;
    color: #888;
    p {
      line-height: 1.4;
    }
    h2 {
      padding-top: 20px;
      color: #000;
      line-height: 1;
      @media @screen992 {
        font-size: 26px;
      }
      @media @screen768 {
        font-size: 22px;
      }
      @media @screen550 {
        font-size: 20px;
      }
    }
    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #333;
    }
  }
  #terms-re-update-date,
  #terms-bp-update-date {
    color: #888;
    margin-bottom: 20px;
  }
}
