.kandela-lp {
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-bottom: 0;
    @media @screen992 {
      font-size: 24px;
    }
    @media screen and (max-width: 650px) {
      font-size: 20px;
    }
  }
  &--provider-example {
    .display-flex();
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    img {
      max-height: 20px;
      margin-right: 20px;
      &:last-of-type {
        margin-right: none;
      }
    }
    &.alt {
      animation: team-hero 600s infinite linear;
      img {
        margin: 5px 15px;
        max-height: 40px;
        @media screen and (max-width: 1250px) {
          max-width: 80px;
          height: auto !important;
        }
      }
    }
  }

  &--hero {
    min-height: 300px;
    .navbar-height-adjustment();
    background-blend-mode: multiply;
    background-image: linear-gradient(85deg, @upd-blue, @upd-pink),
      url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,e_grayscale,f_auto,q_auto,w_1280/v1546895496/website/2018-revamp-assets/photos/shutterstock_601930607.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .kandela-lp--pricing-tag {
      background: rgba(255, 255, 255, 0.3);
      display: inline-block;
      padding: 3px 20px;
      margin-bottom: 10px;
      font-size: 15px;
      color: #fff;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    }
    .kandela-lp--call-tag {
      display: block;
      text-align: right;
      color: #fff;
      font-size: 110%;
      a[href^="tel"] {
        color: inherit;
        text-decoration: none;
        background: inherit;
        padding: inherit;
      }
      @media @screen768 {
        text-align: left;
        padding-bottom: 10px;
        font-size: 100%;
      }
    }
    &-info-block {
      .kandela-lp--in-your-area--wrapper {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
        @media screen and (max-width: 650px) {
          font-size: 16px;
        }
      }
      .kandela-lp--provider-disclaimer {
        font-size: 14px;
        margin: 5px 0;
        font-style: italic;
      }
      width: 100%;
      background: @upd-light-blue;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 200;
      line-height: 1;
      .container-2018 {
        padding-top: 10px;
        padding-bottom: 10px;
        .display-flex();
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    & > div {
      width: 100%;
    }
    h6,
    h1 {
      max-width: 700px;
    }
    h6 {
      color: #fff;
      .merriweather();
      font-size: 20px;
      margin: 0;
      line-height: 1.5;
      // color: #666666;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: 20px;
      em {
        margin-top: 10px;
        display: inline-block;
      }
    }
    h1 {
      color: #fff;
      font-weight: 900;
      font-size: 38px;
      line-height: 1.2;
      // color: @upd-navy;
      margin: 0;
      margin-bottom: 20px;
    }
    a {
      background: #fff;
      color: @upd-light-blue;
      padding: 10px 30px;
      border-radius: 20px;
      transition: background 0.2s, box-shadow 0.2s, color 0.2s;
      &:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        background: @upd-light-blue;
        color: #fff;
      }
    }
    @media @screen992 {
      h1 {
        font-size: 36px;
      }
      h6 {
        font-size: 18px;
      }
    }
    @media @screen768 {
      h1 {
        font-size: 32px;
      }
      h6 {
        font-size: 16px;
        max-width: 550px;
      }
    }
    @media screen and (max-width: 650px) {
      h1 {
        font-size: 28px;
      }
      h6 {
        font-size: 15px;
      }
    }
    &.alt {
      background-image: linear-gradient(85deg, #2b7499, #f5333f),
        url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,e_grayscale,f_auto,q_auto,w_1400/v1548803558/website/2018-revamp-assets/photos/shutterstock_1070766059.jpg");
      background-position: 50% 30%;
      min-height: 350px;
    }
  }

  &--two-cards {
    padding-top: 20px;
    padding-bottom: 20px;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    .home-2018--cards-wrapper {
      margin-top: 10px;
    }
    .home-2018--card {
      height: 250px;
      .front {
        h4 {
          margin-bottom: 20px;
        }
        justify-content: center;
        align-items: center;
        .home-2018--card-cta {
          flex-shrink: 1;
        }
      }
      .back {
        .kandela-success-msg {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 20px;
          opacity: 0;
          background: @upd-maroon;
          .display-flex();
          justify-content: center;
          align-items: center;
          color: #fff;
          transition: opacity 0.2s;
          pointer-events: none;
          &.active {
            opacity: 1;
          }
        }
        padding: 20px;
        a#kandela-lp--we-call-you--form-submit-btn {
          padding: 8px 25px;
          font-size: 18px;
          color: #fff;
          transition: color 0.2s, background 0.2s;
          &:hover {
            background: #fff;
            color: @upd-light-blue;
          }
        }
      }
      &-call-btn {
        padding: 8px 25px;
        font-size: 18px;
        color: #fff;
        transition: background 0.2s;
        &:hover {
          background: @upd-navy;
        }
      }
    }
    .home-2018--card-form {
      div {
        .display-flex();
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        color: #fff;
        &:last-of-type {
          margin-bottom: 0;
        }
        label {
          width: 70px;
          font-size: 17px;
          text-transform: none;
          color: #fff;
        }
        input {
          flex: 1;
          .merriweather();
          padding: 5px;
          color: #333;
        }
      }
    }

    #kandela-tv-call-form {
      margin-top: 5px;
    }
    #kandela-tv-call-form .field-list {
      div {
        .display-flex();
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        color: #fff;
        &:last-of-type {
          margin-bottom: 0;
        }
        label {
          width: 70px;
          font-size: 17px;
          text-transform: none;
          color: #fff;
        }
        input {
          flex: 1;
          .merriweather();
          padding: 10px;
          color: #333;
          background: #fff;
          font-size: inherit;
          border-radius: unset;
          margin: 3px 0px;
        }

        span.required {
          display: none;
        }
      }
    }

    #kandela-tv-call-form {
      .button {
        padding: 8px 25px;
        font-size: 18px;
        color: #fff;
        transition: color 0.2s, background 0.2s;
        margin-top: 20px;
        background: #39b3ca;
        text-align: center;
        border-radius: 30px;
        display: block;
        font-family: "ars-maquette-web", sans-serif;
        font-weight: 400;
        text-transform: none;
        width: 100%;
      }

      .button:hover {
        color: #39b3ca;
        background: #fff;
      }

      .sqs-block-form {
        padding-bottom: 0px;
      }
      .field-error {
        display: none !important;
      }
      .form-item.error input {
        border: 2px solid red;
      }
      .form-submission-text {
        text-align: center;
      }
    }
  }
  &--benefits {
    background: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-bottom: 50px;
    h4 {
      max-width: 700px;
      margin: 0 auto;
      margin-top: 10px;
      font-weight: 200;
      font-size: 18px;
      color: @upd-navy;
      text-align: center;
      margin-bottom: 10px;
      @media @screen992 {
        font-size: 16px;
      }
      @media @screen550 {
        line-height: 1.4;
        padding: 0px 20px;
      }
    }
    &-grid {
      .display-flex();
      margin-top: 30px;
      max-width: 1000px;
      justify-content: space-between;
      &-item {
        width: 32%;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        padding: 20px;
        .display-flex();
        flex-direction: column;
        img {
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        h5 {
          text-align: center;
          color: @upd-light-blue;
          margin: 0;
          line-height: 1.2;
          padding: 0;
          margin-bottom: 20px;
          font-size: 21px;
        }
        p {
          .merriweather();
          font-size: 15px;
          line-height: 1.5;
          color: #555;
        }
        @media @screen768 {
          width: 100%;
          flex-direction: row;
          align-items: center;
          margin-bottom: 15px;
          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
          h5 {
            text-align: left;
            width: 120px;
            margin-right: 15px;
            font-size: 18px;
          }
          p {
            flex: 1;
          }
        }
        @media screen and (max-width: 470px) {
          width: 95%;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;
          img {
            margin: 0;
          }
          h5 {
            text-align: center;
            margin: 10px 0px 20px;
            width: 100%;
          }
          p {
            font-size: 14px;
            text-align: center;
            margin-bottom: 2px;
          }
        }
      }
      @media @screen768 {
        flex-direction: column;
      }
      @media screen and (max-width: 470px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }
  }
  &--secondary-cta {
    // min-height: 500px;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    h2 {
      margin-top: 0;
      max-width: 500px;
      line-height: 1.4;
      margin-bottom: 30px;
    }
    a {
      font-size: 24px;
      font-weight: 200;
      padding: 10px 35px;
      background: @upd-light-blue;
      color: #fff;
      border-radius: 40px;
      transition: background 0.2s;
      &:hover {
        background: @upd-navy;
      }
      @media @screen992 {
        font-size: 22px;
      }
      @media @screen768 {
        font-size: 20px;
      }
      @media @screen550 {
        font-size: 16px;
      }
    }
  }
  &--testimonial {
    background: lighten(@upd-navy, 67%);

    overflow: hidden;
    .container-2018 {
      max-width: 600px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .mover-app--carousel {
      .flickity-styling-2018();
      .flickity-button.flickity-prev-next-button.previous {
        margin-left: -40px;
      }
      .flickity-button.flickity-prev-next-button.next {
        margin-right: -40px;
      }
    }
    .mover-app--carousel-inner div.right-side .testimonial-by {
      justify-content: center;
    }
  }
  &--moving-tips {
    background: #fff;
    .blog-list--item-date {
      text-align: left;
      margin-left: 20px;
    }
    h4 {
      padding-top: 0px;
    }
  }
}

.container-wide {
  padding: 20px;
}
.head-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
}
span.head-with-lines:after,
span.head-with-lines:before {
  content: "";
  width: 30%;
  height: 1px;
  background: #fff;
  margin: 0 20px;
  max-width: 395px;
  opacity: 0.5;
}
