.find-mover-2018 {
  .navbar-height-adjustment();;
  h1,
  h5 {
    color: #fff;
    margin: 0;
    line-height: 1.4;
  }
  h1 {
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  h5 {
    font-weight: 200;
  }
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    line-height: 1.3;
    color: @upd-navy;
    margin-top: 0px;
    margin-bottom: 10px;
    @media @screen992 {
      font-size: 24px;
    }
    @media @screen768 {
      font-size: 20px;
    }
    @media @screen550 {
      font-size: 18px;
    }
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    height: 300px;
    background-blend-mode: multiply;
    background-color: @upd-blue;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1545846860/website/2018-revamp-assets/photos/shutterstock_158330768-1980.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-wrapper {
      position: relative;
      .display-flex();
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      h5 {
        max-width: 600px;
        margin-bottom: 30px;
        font-size: 20px;
      }
    }
    @media @screen768 {
      h1 {
        font-size: 32px;
      }
      h5 {
        font-size: 18px;
      }
    }
    @media screen and (max-width: 620px) {
      h1 {
        font-size: 27px;
      }
      height: 250px;
    }
    @media @screen550 {
      height: 200px;
      h1 {
        font-size: 24px;
      }
      h5 {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }
  &--form {
    .display-flex();
    width: 100%;
    max-width: 650px;
    margin-bottom: 50px;
    &-search {
      width: 100%;
      padding-left: 20px;
      font-size: 18px;
      font-weight: 200;
      border: none;
    }
    &-button {
      background: @upd-light-blue;
      border: none;
      padding: 10px 30px;
      color: #fff;
      transition: background 0.2s;
      &:hover {
        background: @upd-pink;
      }
    }
    @media @screen550 {
      &-search {
        font-size: 14px;
      }
      &-button {
        font-size: 14px;
        padding: 5px 15px;
      }
    }
    @media @screen550 {
      margin-bottom: 20px;
    }
  }
  &--certify-seal {
    width: 150px;
    position: absolute;
    top: 20px;
    right: 10px;
    img {
      cursor: pointer;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
  &--how {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e8eff2;
    &-wrapper {
      margin-top: 20px;
      .display-flex();
      justify-content: space-between;
      flex-wrap: wrap;
      @media @screen550 {
        flex-direction: column;
      }
    }
    &-card {
      width: 23%;
      padding: 20px;
      background: #fff;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
      h3,
      p {
        margin: 0;
      }
      h3 {
        color: @upd-light-blue;
        font-weight: 900;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.2;
        span {
          display: block;
          font-weight: 200;
          font-size: 30px;
        }
      }
      p {
        .merriweather();
        font-size: 16px;
        line-height: 1.6;
        color: #666;
      }
      img {
        border-radius: 50%;
        margin-bottom: 10px;
        display: block;
        width: 100px;
        height: 100px;
      }
      @media @screen992 {
        h3 {
          font-size: 18px;
          span {
            font-size: 25px;
          }
        }
        p {
          font-size: 14px;
        }
        img {
          width: 80px;
          height: 80px;
        }
      }
      @media @screen768 {
        width: 49%;
        margin-bottom: 20px;
        h3 span {
          display: inline;
        }
      }
      @media @screen550 {
        width: 100%;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  &--updater-certified {
    padding-top: 50px;
    padding-bottom: 50px;
    .find-mover-2018--how-card {
      h3 {
        color: @upd-blue;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.5;
      }
    }
  }
  &--moving-tips {
    text-align: center;
    .blog-preview-items-2018 {
      text-align: left;
    }
    h4.title {
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .find-mover-2018--storepoint-results {
    display: none;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: lighten(@upd-navy, 67%);
    padding-left: 15px;
    padding-right: 15px;
    #storepoint-container #storepoint-panel,
    #storepoint-container #storepoint-map {
      height: 730px;
    }
    .storepoint-address,
    .storepoint-contact {
      padding-left: 160px;
    }
  }

  &--testimonial {
    padding-top: 40px;
    margin: 0;
    background: #e8eff2;
    border: 1px solid transparent;
  }
  &--testimonial-carousel {
    h3 {
      // position: absolute;
      line-height: 1.3;
      // top: -20px;
      font-size: 28px;
      z-index: 2;
      font-weight: 800;
      width: 100%;
      text-align: center;
      color: @upd-navy;
      @media @screen992 {
        top: 50px;
      }
      @media @screen550 {
        font-size: 20px;
        max-width: 95%;
      }
    }
  }
  &--carousel {
    &-container {
      height: 400px;
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      .flickity-button.flickity-prev-next-button.previous,
      .flickity-button.flickity-prev-next-button.next {
        background: transparent !important;
        top: 40%;
        svg.flickity-button-icon {
          transform: scale(2);
          fill: #ffffff;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
          @media @screen992 {
            transform: scale(1.6);
          }
        }
      }
      ol.flickity-page-dots {
        transform: translateY(-60px);
      }
    }
    &-inner {
      .display-flex();
      width: 100%;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    &-quote {
      height: 300px;
      padding-left: 50px;
      padding-right: 50px;
      width: calc(100% - 25px);
      margin: 0 auto;
      box-sizing: border-box;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      line-height: 1.8;
      font-size: 18px;
      .merriweather();
      font-style: italic;
      z-index: 1;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      span {
        display: block;
        margin-top: 10px;
      }
      .moving-to {
        margin-top: 5px;
        font-size: 16px;
        padding-left: 25px;
      }
      &::before {
        content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545437502/website/2018-revamp-assets/icons/quote-marks.svg");
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        transform: scale(0.85);
        // transform: translateX(200px) translateY(-10px) scale(1);
        // filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
      }
    }
    &-photo {
      width: 50%;
      .display-flex();
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    @media @screen992 {
      &-quote {
        font-size: 16px;
        .moving-to {
          margin-top: 0;
          font-size: 12px;
        }
      }

      &-photo {
        width: 40%;
        img {
          transform: scale(0.9);
          transform-origin: bottom;
        }
      }
    }
    @media screen and (max-width: 900px) {
      &-photo {
        img {
          transform: scale(0.7) translateX(-60px);
          transform-origin: bottom;
        }
      }
    }
    @media @screen768 {
      &-quote {
        // width: 60%;
        // font-size: 16px;
        // .moving-to {
        //   font-size: 12px;
        // }
      }
      &-photo {
        img {
          transform: scale(0.6) translateX(-60px);
        }
      }
    }
    @media screen and (max-width: 650px) {
      &-inner {
        flex-direction: column;
      }
      &-quote,
      &-photo {
        // width: 60%;
      }

      &-photo {
        transform: translateX(120px) translateY(-200px);
        img {
          transform: scale(0.5) translateY(100px);
        }
      }
    }
    @media @screen550 {
      &-quote {
        line-height: 1.5;
        // width: 70%;
        &::before {
          // transform: translateX(100px) translateY(-10px) scale(1);
        }
      }
      &-photo {
        transform: translateX(0px) translateY(-180px);
        img {
          transform: scale(0.55) translateY(100px);
        }
      }
    }
  }
}
