.press-2018 {
  .navbar-height-adjustment();;
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    border: 1px solid transparent;
    background-color: @upd-navy;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1280/v1546242664/website/2018-revamp-assets/photos/shutterstock_652051432-big.jpg");
    // background-image: url('http://placehold.it/1200x400');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }
  &--latest,
  &--press-release {
    background: lighten(@upd-navy, 67%);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid transparent;
  }
  &--latest-grid {
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      padding: 15px;
      margin-bottom: 20px;
      width: 23.6%;
      transition: transform 0.2s, box-shadow 0.2s;
      .grid-medialogo {
        margin-bottom: 15px;
        display: block;
        max-height: 100px;
        max-width: 200px;
      }
      .grid-item-title {
        text-transform: none;
        font-size: 18px;
        line-height: 1.2;
        margin: 0;
        font-weight: 200;
        color: #000;
        transition: font-size 0.2s;
      }
      .grid-item-channel {
        font-size: 15px;
        font-weight: 200;
        line-height: 1;
        margin: 0;
        margin-top: 15px;
        color: #999;
        display: block;
      }
      .blog-list--item-date {
        margin-left: 0;
      }
      .blog-list--read-more {
        margin-left: 0;
        margin-top: 10px;
      }
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }
      @media @screen992 {
        width: 32%;
      }
      @media @screen768 {
        width: 48.5%;
      }
      @media @screen550 {
        width: 100%;
      }
    }
  }
  &--mediakit {
    padding-top: 30px;
    padding-bottom: 60px;
    &-grid {
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        p {
          .merriweather();
          color: #666;
          line-height: 1.5;
        }
        background: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin-bottom: 20px;
        width: 23.6%;
        transition: transform 0.2s, box-shadow 0.2s;
        h5 {
          text-transform: none;
          font-size: 16px;
          line-height: 1.2;
          margin: 0;
          font-weight: 900;
          color: @upd-blue;
          transition: font-size 0.2s;
          margin-bottom: 20px;
        }
        .media-button {
          display: block;
          background: #fff;
          border: 1px solid @upd-light-blue;
          padding: 10px 30px;
          margin-bottom: 10px;
          border-radius: 30px;
          text-align: center;
          font-weight: 200;
          line-height: 1.2;
          transition: transform 0.2s, box-shadow 0.2s;
          a {
            color: @upd-light-blue;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          &:hover {
            transform: scale(1.02);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          }
        }
        @media @screen768 {
          width: 48.5%;
        }
        @media @screen550 {
          width: 100%;
        }
      }
    }
  }
}
