.about-2018 {
  &.hero {
    .navbar-height-adjustment();
    height: 380px;
    transition: height 0.2s;
    background-blend-mode: multiply;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    color: #fff;
    .section_padding_sides();
    background: linear-gradient(135deg, @upd-yellow 0%, #f5333f 100%),
      url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto:good/v1537371961/website/2018-revamp-assets/photos/shutterstock_663895165.jpg");
    background-size: cover;
    background-position: center;
    .container-2018 {
      width: 100%;
    }
    h1,
    h5 {
      text-align: center;
    }
    h1 {
      transition: font-size 0.2s;
      .maquette-web();
      font-weight: 900;
      font-size: 48px;
      line-height: 1.1;
      margin: 0;
      span {
        font-style: italic;
      }
    }
    h5 {
      .merriweather();
      font-weight: light;
      font-size: 22px;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @media @screen768 {
      height: 300px;
      h1 {
        font-size: 42px;
        br {
          display: none;
        }
      }
      h5 {
        font-size: 18px;
      }
      // font-size: 7vw;
    }
    @media @screen550 {
      height: 250px;
      h1 {
        font-size: 32px;
      }
      h5 {
        font-size: 15px;
      }
    }
    @media screen and (max-width: 420px) {
      height: 200px;
      h1 {
        font-size: 24px;
      }
      h5 {
        font-size: 13px;
      }
    }
  }
  &.origin-story {
    .display-flex();
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    // background:#AAA;
    // background: linear-gradient(-225deg, @upd-light-blue 0%, @upd-blue 100%);
    @media @screen992 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .headshot {
      // flex: 1;
      width: 50%;
      min-height: 200px;
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_700/v1546142045/website/2018-revamp-assets/photos/David_Greenberg_2018.jpg");
      background-size: cover;
      background-position: center 20%;
      @media screen and (max-width: 720px) {
        width: 100%;
        height: 40vw;
      }
    }
    .wrapper {
      justify-content: center;
      padding: 0;
      background: #fff;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      max-width: 750px;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      .display-flex();
      @media screen and (max-width: 720px) {
        flex-direction: column;
      }
    }
    .story-text {
      box-sizing: border-box;
      // flex: 1;
      width: 50%;
      background: #fff;
      background: @upd-light-blue;
      color: #666;
      color: #fff;
      padding: 40px;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sqs-block.code-block.sqs-block-code {
        padding-bottom: 0 !important;
      }
      h3 {
        color: @upd-blue;
        color: #fff;
        max-width: 400px;
        margin-top: 0;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.1944444444;
        &::before {
          content: "\201C";
        }
        &::after {
          content: "\201D";
        }
      }
      p {
        max-width: 400px;
        line-height: 1.61111;
        font-size: 15px;
        .merriweather();
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      span {
        display: block;
        margin-top: 20px;
        .maquette-web();
        font-weight: 400;
      }
      @media @screen992 {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 13px;
        }
      }
      @media screen and (max-width: 720px) {
        width: 100%;
        padding: 20px;
        h3,
        p {
          max-width: 500px;
        }
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }

  &.ecosystem {
    background: lighten(@upd-navy, 65%);
    .section_padding_top();
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    position: relative;
    h2 {
      .section_h1();
    }
    h3 {
      .section_h3();
    }
    h4 {
      margin: 0 0 0.5em;
      color: #202020;
      font-size: 18px;
    }
    p {
      .merriweather();
      max-width: 750px;
      font-size: 14px;
      line-height: 1.7;
      margin: 0 auto 15px;
      @media @screen768 {
        font-size: 13px;
      }
    }
    .ecosystem-explained {
      margin-top: 40px;
      .display-flex();
      align-items: center;
      justify-content: center;
      &.text-only {
        align-items: flex-end;
        margin-top: 40px !important;
      }
    }
    .ecosystem-explained + .ecosystem-explained {
      margin-top: 15px;
    }
    .image-block {
      margin-left: 40px;
      &.left {
        margin-left: 0;
        margin-right: 40px;
      }
      img {
        width: 100%;
        max-width: 340px;
        border-radius: 15px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      }
    }
    .text-block {
      max-width: 400px;
    }
    .text-block + .text-block {
      padding-left: 20px;
    }
    @media @screen768 {
      .ecosystem-explained {
        flex-direction: column;
      }
      .image-block {
        margin-left: 0;
        // margin-top: 20px;
        &.left {
          margin-right: 0;
          order: 2;
        }
      }
      .ecosystem-explained.text-only {
        align-items: center;
        .text-block + .text-block {
          padding-left: 0;
        }
      }
    }
  }
  &.businesses {
    padding: 60px 15px 80px;
    text-align: center;
    h2,
    h6 {
      margin: 0;
    }
    h2 {
      font-size: 36px;
      font-weight: 800;
      color: @upd-blue;
      margin-bottom: 12px;
    }
    h6 {
      font-size: 16px;
      color: @upd-navy;
      max-width: 570px;
      text-transform: none;
      margin: 0 auto;
      line-height: 1.5;
      .merriweather();
    }
    .biz-grid {
      background: #ffffff;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      margin: 0 auto;
      margin-top: 30px;
      max-width: 960px;
      padding: 50px 10px;
      .display-flex();
      justify-content: space-around;
    }
    .company {
      width: 25%;
    }
    img {
      margin-bottom: 25px;
      width: 140px;
      height: 40px;
      object-fit: contain;
      &.bv {
        width: 140px;
        height: 45px;
      }
    }
    p {
      font-size: 12px;
      line-height: 1.6;
      color: #202020;
      margin: 0;
      .merriweather();
      a {
        display: block;
        font-weight: 400;
        margin-top: 10px;
        color: @upd-light-blue;
        &:hover {
          color: @upd-blue;
        }
      }
    }
    @media @screen768 {
      .biz-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .company {
        .display-flex();
        align-items: center;
        width: 100%;
        max-width: 500px;
      }
      img {
        margin-bottom: 0;
      }
      p {
        text-align: left;
        margin: 20px 20px;
      }
    }
    @media @screen550 {
      .company {
        flex-direction: column;
        &:last-of-type {
          p {
            margin-bottom: 0;
          }
        }
      }
      p {
        margin-top: 10px;
        text-align: center;
        max-width: 350px;
        margin-bottom: 40px;
      }
    }
  }
  &.investors {
    padding: 80px 15px;
    background: lighten(@upd-navy, 65%);
    h2 {
      .section_h2();
      margin-bottom: 30px;
      margin-top: 0;
    }
    .investor-logos {
      padding: 50px 100px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
      max-width: 960px;
      .display-flex();
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
      img {
        width: 26%;
        height: 70px;
        margin-bottom: 40px;
        object-fit: contain;
        &:nth-of-type(4),
        &:nth-of-type(5) {
          margin-bottom: 0;
        }
      }
      @media @screen768 {
        img {
          width: 40%;
        }
      }
      @media @screen550 {
        padding: 50px;
        justify-content: space-around;
        img {
          width: 40%;
          margin-bottom: 30px;
        }
      }
      @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        img {
          margin-bottom: 30px !important;
          &:last-of-type {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  &--partnership-msg {
    font-size: 22px !important;
    @media @screen1024 {
      font-size: 20px !important;
    }
    @media @screen768 {
      font-size: 16px !important;
    }
    & + div {
      margin-top: 0 !important;
    }
  }

  &.get-to-know-us {
    .section_padding_top();
    .section_padding_sides();
    h2 {
      .section_h2();
    }
    .about-us-grid {
      .display-flex();
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 40px;
      // max-width: 1100px;
      justify-content: space-between;
      .item {
        transition: transform 0.2s, box-shadow 0.2s;
        background: #fff;
        // flex: 1 1 240px;
        // min-height: 300px;
        width: 24%;
        margin-bottom: 20px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        &:hover {
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
          transform: scale(1.01);
        }
        @media @screen992 {
          width: 32%;
          margin-right: 2%;
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
        @media screen and (max-width: 750px) {
          width: 48%;
          margin-right: 0;
        }
      }
      @media @screen992 {
        justify-content: flex-start;
      }
      @media screen and (max-width: 750px) {
        justify-content: space-between;
      }
      .thumb {
        height: 180px;
        width: 100%;
        background: #eee;
        background-position: center;
        background-size: cover;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        @media @screen550 {
          height: 120px;
        }
        &.relo {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394003/website/2018-revamp-assets/photos/shutterstock_476474056.jpg");
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546036189/website/2018-revamp-assets/photos/woman-using-updater_updater-user-comments.jpg");
        }
        &.investment {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394004/website/2018-revamp-assets/photos/shutterstock_774376357.jpg");
        }
        &.how {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394003/website/2018-revamp-assets/photos/app-teaser.jpg");
        }
        &.team {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394002/website/2018-revamp-assets/photos/team-teaser.jpg");
        }
        &.press {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394003/website/2018-revamp-assets/photos/shutterstock_652051432.jpg");
        }
        &.clients {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394002/website/2018-revamp-assets/photos/client-teaser.jpg");
        }
        &.updater-life {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394002/website/2018-revamp-assets/photos/office-teaser.jpg");
        }
        &.jobs {
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537394002/website/2018-revamp-assets/photos/jobs-teaser.jpg");
        }
      }
      .item-text {
        box-sizing: border-box;
        padding: 15px;
      }
      h6 {
        font-size: 18px;
        line-height: 1.222222222222;
        color: @upd-navy;
        .maquette-web();
        font-weight: 200;
        margin: 0;
        margin-bottom: 10px;
        text-transform: none;
        @media @screen550 {
          font-size: 15px;
        }
      }
      p {
        .merriweather();
        font-size: 13px;
        line-height: 1.57;
        color: #989898;
        font-weight: 200;
        margin: 0;
        margin-bottom: 0px;
        @media @screen550 {
          font-size: 11px;
        }
      }
      p.news::after {
        content: "View press \00bb";
      }
      p.partnering::after {
        content: "Learn more \00bb";
      }
      p.client-stories::after {
        content: "Browse client stories \00bb";
      }
      p.company-blog::after {
        content: "View company blog \00bb";
      }
      p.job-board::after {
        content: "Explore open positions \00bb";
      }
      p::after {
        .maquette-web();
        content: "Read more \00bb";
        display: block;
        margin-top: 15px;
        color: @upd-light-blue;
      }
      p:hover {
        color: #666;
      }
      p:hover::after {
        color: @upd-pink;
      }
    }
  }
  &.cta-area {
    background: lighten(@upd-navy, 65%);
    h2 {
      .section_h1();
    }
    .section_padding_sides();
    .section_padding_top();
    .cta-buttons {
      margin: 30px auto;
      max-width: 1000px;
      .display-flex();
      justify-content: center;

      a {
        flex: 1;
        text-align: center;
        margin-right: 15px;
        padding: 25px;
        padding-top: 40px;
        color: inherit;
        background: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        line-height: 1;
        .display-flex();
        border-radius: 20px;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        line-height: 1.5;
        font-size: 14px;
        transition: box-shadow 0.2s, transform 0.2s;
        .merriweather();
        h5 {
          font-size: 20px;
          margin: 0;
          margin-bottom: 20px;
          line-height: 1;
          .maquette-web();
          color: @upd-blue;
        }
        svg,
        img {
          border-radius: 50%;
          margin-bottom: 20px;
          width: 100px !important;
          height: 100px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          transform: scale(1.01);
        }
        @media @screen550 {
          margin-right: 0;
          margin-bottom: 20px;
          flex-direction: row;
          justify-content: flex-start;
          svg,
          img {
            margin-right: 20px;
            margin-bottom: 0;
            flex-shrink: 0;
          }
          span {
            text-align: left;
            display: block;
          }
        }
      }
      @media @screen550 {
        flex-direction: column;
      }
    }
  }
}

.contact-2018 {
  .navbar-height-adjustment();
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    border: 1px solid transparent;
    background: #ddd;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1546222071/website/2018-revamp-assets/photos/shutterstock_1112945939.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }
  &--body {
    padding-top: 60px;
    padding-bottom: 60px;
    .display-flex();
    justify-content: center;
    &-audience {
      margin-top: 20px;
      width: 30%;
      padding: 40px 20px;
      margin-right: 20px;
      text-align: center;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      .display-flex();
      flex-direction: column;
      align-items: center;
      &:last-of-type {
        margin-right: 0;
      }
      h2 {
        font-size: 22px;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 20px;
      }
      svg,
      img {
        border-radius: 50%;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
      }
      p {
        .merriweather();
        margin: 0 auto;
        line-height: 1.7;
        font-size: 15px;
        max-width: 250px;
        margin-bottom: 20px;
      }
      a {
        padding: 10px 20px;
        font-size: 15px;
        background: @upd-light-blue;
        border-radius: 40px;
        color: #fff;
        transition: background 0.2s;
        &:hover {
          background: @upd-blue;
        }
      }
      @media @screen992 {
        h2 {
          font-size: 20px;
        }
        a {
          font-size: 12px;
        }
      }
      @media @screen768 {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contact-content-block {
          width: 100%;
          .display-flex();
          justify-content: center;
          align-items: center;
        }
        .contact-txt-block {
          margin-left: 15px;
          h2 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 5px;
          }
          text-align: left;
        }
      }
      @media @screen550 {
        img {
          width: 70px;
        }
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
        }
        padding: 20px;
      }
    }
    @media @screen768 {
      flex-direction: column;
      align-items: center;
    }
  }
  &--general {
    padding-top: 50px;
    padding-bottom: 50px;
    background: lighten(@upd-navy, 65%);
    &-info {
      max-width: 900px;
      .display-flex();
      // justify-content: flex-start;
      @media @screen768 {
        justify-content: center;
      }
    }
    &-info-block {
      .display-flex();
      flex: 1;
      h3 {
        font-weight: 900;
        font-size: 15px;
        margin: 0;
        margin-right: 20px;
        display: block;
        margin-bottom: 20px;
        color: @upd-navy;
        line-height: 1.4;
      }
      p {
        font-size: 14px;
        .merriweather();
        a {
          display: inline-block;
          margin-top: 10px;
          .maquette-web();
          font-weight: 500;
          text-decoration: underline;
        }
        .map-pointer {
          width: 12px;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        svg,
        img {
          width: 20px;
          height: 20px;
        }
      }
      a {
        color: @upd-light-blue;
        svg,
        img {
          vertical-align: middle;
          opacity: 0.8;
        }
        &:hover {
          color: @upd-blue;
          svg,
          img {
            opacity: 1;
          }
        }
      }
      @media @screen768 {
        flex-direction: column;
        max-width: 40%;
      }
    }
  }
}
