.mover-app {
  &--cards-area {
    background: lighten(@upd-navy, 65%);
    .home-2018--card {
      background: transparent;
      .front {
        background: #fff;
        border-radius: 20px;
      }
    }
  }
  .navbar-height-adjustment();;
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    .container-2018 {
      width: 100%;
    }
    h1 {
      margin-top: 0;
      font-size: 48px;
      margin-bottom: 40px;
      line-height: 1.2;
    }
    h4 {
      .merriweather();
      font-size: 22px;
      color: @upd-navy;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0;
    }
    .display-flex();
    justify-content: flex-start;
    align-items: flex-end;
    background-blend-mode: multiply;
    background-image: linear-gradient(
        -220deg,
        @upd-pink 0%,
        @upd-blue 48%,
        @upd-yellow 100%
      ),
      url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1280/v1546231388/website/2018-revamp-assets/photos/shutterstock_1016199763.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
    }
  }
  &--intro {
    background: lighten(@upd-navy, 65%);
    padding: 10px;
    padding-bottom: 50px;
    h4 {
      margin-bottom: 10px;
      transition: font-size 0.2s;
      text-align: center;
      font-size: 21px;
      line-height: 1;
      font-weight: 900;
      color: @upd-light-blue;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    p {
      .merriweather();
      margin: 0 auto;
      max-width: 700px;
      margin-top: 10px;
    }
    &-benefits {
      text-align: center;
      padding: 20px 0;
      background: @upd-light-blue;
      border-radius: 25px;
      max-width: 700px;
      color: #fff;
      margin-top: 20px;
      h5 {
        margin-top: 10px;
        margin-bottom: 30px;
        background: #fff;
        color: @upd-light-blue;
        font-size: 24px;
      }
    }
    &-grid {
      .display-flex();
      margin: 0 auto;
      justify-content: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      position: relative;
      &-item {
        display: block;
        flex: 1;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 500;
        img {
          width: 100px;
          margin-bottom: 15px;
        }
        h4 {
          color: @upd-blue;
          margin-top: 0;
          margin-bottom: 10px;
        }
        h6 {
          font-weight: 900;
          font-size: 42px;
          line-height: 1;
          margin: 0;
          margin-bottom: 10px;
          color: #fff;
        }
        @media @screen768 {
          width: 33%;
        }
      }
    }
  }
  &--features {
    text-align: center;
    // background: lighten(@upd-navy, 67%);
    padding-top: 50px;
    padding-bottom: 50px;
    &-list {
      box-sizing: border-box;
      width: 100%;
      padding-top: 30px;
      margin-bottom: 30px;
      ul {
        .display-flex();
        padding: 0;
        list-style: none;
        width: 100%;
        justify-content: center;
        border-bottom: 3px solid #eee;
        margin-bottom: 30px;
        // padding-bottom: 8px;
      }
      li {
        font-size: 18px;
        font-weight: 500;
        color: #9b9b9b;
        line-height: 1.11111111111;
        text-align: center;
        margin-right: 30px;
        padding-bottom: 12px;
        cursor: pointer;
        &.active {
          color: @upd-light-blue;
          border-bottom: 4px solid @upd-light-blue;
        }
        &:last-of-type {
          margin-right: 0;
        }
        @media @screen992 {
          font-size: 16px;
        }
        @media @screen550 {
          font-size: 14px;
        }
      }
    }
    &-content {
      max-width: 900px;
      margin: 0 auto;
      .display-flex();
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      &.active {
        .display-flex();
      }
      &-item {
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          transform: scale(1.02);
        }
        transition: box-shadow 0.2s, transform 0.2s;
        padding-top: 30px;
        padding-bottom: 20px;
        width: 140px;
        background: #fff;
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        color: #666;
        .display-flex();
        flex-direction: column;
        align-items: center;
        text-align: center;
        .feature-mover {
          margin-bottom: 20px;
          width: 70px;
          padding-top: 15px;
        }
        .feature-diy {
          margin-bottom: 10px;
          width: 70px;
          padding-top: 0px;
        }
        .feature-mail {
          margin-bottom: 14px;
          width: 65px;
          padding-top: 0px;
        }
        .feature-account {
          margin-bottom: 14px;
          width: 60px;
          padding-top: 0px;
        }
        .feature-address {
          margin-bottom: 20px;
          width: 57px;
          padding-top: 0px;
        }
        .feature-tv {
          margin-bottom: 20px;
          width: 65px;
          padding-top: 5px;
        }
        .feature-insurance {
          margin-bottom: 15px;
          width: 50px;
          padding-top: 0px;
        }
        .feature-portal {
          margin-bottom: 15px;
          width: 50px;
          padding-top: 0px;
        }
        .feature-utility {
          margin-bottom: 5px;
          width: 55px;
          padding-top: 0px;
        }
        .feature-security {
          margin-bottom: 15px;
          width: 58px;
          padding-top: 0px;
        }
        .feature-deals {
          margin-bottom: 10px;
          width: 45px;
          padding-top: 0px;
        }
        .feature-preferred {
          margin-bottom: 10px;
          width: 42px;
          padding-top: 0px;
        }
        color: #333;
        font-size: 14px;
        line-height: 1.214285714285714;
      }
      @media @screen550 {
        padding: 0;
        img {
          transform: scale(0.8);
        }
      }
    }
  }
  &--testimonial {
    padding-top: 50px;

    .display-flex();
    &-slider {
      width: 60%;
      .display-flex();
      flex-direction: column;
      align-items: flex-start;
      h2 {
        width: 100%;
      }
    }
    &-sneakpeek {
      width: 40%;
      .display-flex();
      justify-content: center;
      align-items: flex-end;
    }
    @media @screen768 {
      &-sneakpeek {
        img {
          width: 200px;
        }
      }
    }
    @media @screen550 {
      justify-content: center;
      padding-top: 0;
      &-sneakpeek {
        display: none;
      }
      &-slider {
        width: 80%;
      }
    }
  }
  &--carousel {
    width: 100%;
    .flickity-styling-2018();
    .flickity-button.flickity-prev-next-button.previous {
      margin-left: -40px;
    }
    .flickity-button.flickity-prev-next-button.next {
      margin-right: -40px;
    }
    &-inner {
      width: 100%;
      height: 393px;
      .display-flex();

      div {
        .display-flex();
        flex-direction: column;
        justify-content: center;
        img {
          width: 100%;
          margin: 0 auto;
        }
        &.right-side {
          width: 100%;

          .merriweather();
          box-sizing: border-box;
          font-style: italic;
          .testimonial-headshot {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            margin: 0;
            margin-right: 20px;
          }
          .testimonial-words {
            color: #4a4a4a;
            margin-left: 50px;
            margin-right: 50px;
            text-align: left;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1.555555555;
            &::before {
              content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545437502/website/2018-revamp-assets/icons/quote-marks.svg");
              margin: 0 auto;
              display: block;
              width: 60px;
              margin-bottom: 20px;
            }
          }
          .testimonial-by {
            margin-left: 50px;
            margin-right: 50px;
            color: #666;
            .display-flex();
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
          }
          .testimonial-name {
            font-size: 18px;
          }
          .testimonial-location {
            font-size: 15px;
            line-height: 1.2;
          }
        }
      }
    }
  }
  .blog-preview-items.app-page {
    span.blog-list--item-date {
      text-align: left;
      margin-left: 20px;
      margin-bottom: 0;
    }
    h4.title {
      padding-top: 5px;
      text-align: left;
    }
  }
  .home-2018--card h4 {
    font-weight: 900;
    font-size: 25px;
    color: #888;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    transition: font-size 0.2s;
  }

  .home-2018--card .back h4 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }
  &--big-cta {
    background: @upd-blue;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    a {
      font-size: 20px;
      background: #fff;
      padding: 15px 35px;
      text-transform: none;
      font-weight: 900;
      // color:#FFF;
      border-radius: 35px;
      transition: background 0.2s, color 0.2s;
      &:hover {
        background: @upd-pink;
        color: #fff;
      }
    }
  }
}
