// @article-indentation: 130px;
@article-indentation: 0px;

.blog-list {
  .navbar-height-adjustment();
  @media @screen550 {
    padding-top: 1px;
    // To accommodate top spacing when breadcrumb is hidden
  }
  h1 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  &--read-more {
    display: block;
    font-size: 13px;
    color: @upd-light-blue;
    margin: 0 15px;
    font-weight: 200;

    a {
      color: @upd-light-blue;
    }
  }

  &--most-recent {
    .display-flex();
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--recent-item {
    width: 48.5%;
    position: relative;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: scale(1.0075);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

    h3 {
      font-size: 20px;
      line-height: 1.2;
      margin: 0;
      font-weight: 200;
      color: #000000;
      margin: 0px 15px 10px;
      transition: font-size 0.2s;

      &.tips {
        margin-top: 15px;
      }
      a {
        color: #000;
      }
    }

    @media @screen768 {
      h3 {
        font-size: 18px;
      }
    }

    @media @screen550 {
      width: 100%;
    }
  }
  &--find-a-mover {
    background-blend-mode: multiply;
    background-color: @upd-blue;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1545843715/website/2018-revamp-assets/photos/shutterstock_158330768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .display-flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    @media @screen550 {
      margin-bottom: 20px;
    }
    h3,
    h6 {
      margin: 0;
      text-align: center;
      line-height: 1.2;
    }
    h3 {
      font-weight: 900;
      color: #fff;
      margin: 0;
      font-size: 24px;
      margin-bottom: 0.2em;
    }
    h6 {
      color: #fff;
      text-transform: none;
      margin: 0;
      font-size: 18px;
      transition: font-size 0.2s;
    }
    &-form {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      .display-flex();
    }
    .blog-list-mover-search {
      width: 100%;
      border: none;
      margin-right: 10px;
      padding-left: 20px;
      font-weight: 200;
      &-button {
        text-transform: uppercase;
        background: @upd-light-blue;
        color: #fff;
        border: @upd-light-blue;
        padding: 5px 10px;
        margin: 0;
        font-weight: 900;
        font-size: 15px;
      }
    }
    @media @screen992 {
      h3 {
        font-size: 20px;
      }
      h6 {
        font-size: 15px;
      }
    }
  }
  &--recent-thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 280px;
    display: block;
  }

  &--recent-item-date,
  &--item-date {
    font-size: 13px;
    font-weight: 200;
    line-height: 1;
    margin: 0;
    color: #999999;
    margin: 15px 0 10px 15px;
    display: block;
  }

  &--secondary-action-wrapper {
    background: #eee;
    position: relative;
    .display-flex();
    justify-content: center;
    margin: 30px 0;
  }

  &--secondary-actions {
    height: 75px;
    width: 100%;
    .display-flex();
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media @screen768 {
      flex-direction: column;
      height: 150px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &--social,
  &--search {
    .display-flex();
    align-items: center;
    // border: 1px solid red;
    #searchtips,
    #trendsearch,
    #blogsearch,
    #insights-search,
    #companyblogsearch,
    #productnewssearch {
      width: 100%;
    }

    #searchtips input,
    #trendsearch input,
    #blogsearch input,
    #insights-search input,
    #companyblogsearch input,
    #productnewssearch input {
      background-color: #fff;
      .display-flex();
      align-items: center;
      width: 100%;
      height: auto;
      // div.sqs-block.search-block .sqs-block-search {
      //   padding: 0!important;
      // }
    }

    .sqs-block {
      padding: 0 !important;
    }
  }
  &--social {
    flex: 3;
    // width:60%;
    font-size: 18px;
    font-weight: 200;
    &-icon {
      width: 25px;
      height: 25px;
      // margin-left: 5px;
    }
    a.blog-list--social-link {
      .display-flex();
      align-items: center;
      width: auto;
      // height: 25px;
      margin-left: 5px;
      transition: transform 0.2s;
      &:first-of-type {
        margin-left: 20px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    a.blog-list--cta {
      display: inline-block;
      background: @upd-light-blue;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.4;
      text-align: center;
      padding: 10px 25px;
      border-radius: 30px;
      color: #fff;
      margin-left: 30px;
      transition: background 0.2s;
      &:hover {
        background: @upd-blue;
      }
    }
    @media @screen992 {
      span {
        display: none;
      }
      &-icon:first-of-type {
        margin-left: 0;
      }
    }
    @media @screen768 {
      a {
        font-size: 13px;
        // margin-left: 20px;
        // padding: 5px 15px;
      }
      span {
        display: inline;
      }
      flex: 1;
      justify-content: center;
    }
    @media @screen600 {
      a.blog-list--cta {
        font-size: 12px;
      }
    }
    @media @screen550 {
      flex: 1;
      justify-content: center;
      span {
        display: none;
      }
      a.blog-list--social-link:first-of-type {
        margin-left: 0;
      }
      a {
        display: none;
      }
    }
  }
  &--search {
    flex: 2;
    // width: 30%;
    @media @screen768 {
      flex: 1;
      width: 100%;
    }
    @media @screen550 {
      flex: 1;
    }
  }

  &--filtered {
    padding: 0 0 30px 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    img {
      width: 40px;
      height: auto;
      border-radius: 25px;
    }
  }

  &--filter-option {
    font-weight: 500;
  }

  &--article-list {
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      width: 32%;
      display: block;
      @media @screen768 {
        width: 48.5%;
      }
    }
  }

  &--item {
    width: 32%;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
    }

    h3.blog-list-title {
      font-size: 18px;
      line-height: 1.2;
      margin: 0;
      font-weight: 200;
      color: #000000;
      margin: 0px 15px 10px;
      transition: font-size 0.2s;

      &.tips {
        margin-top: 15px;
      }

      a {
        color: #000;
      }
    }

    @media @screen768 {
      width: 48.5%;
    }

    @media @screen550 {
      width: 100%;
    }
  }

  &--pagination {
    margin-bottom: 30px;
    padding: 20px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .display-flex();
      justify-content: center;
    }

    li {
      border: 1px solid @upd-light-blue;
      padding: 5px 20px;
      border-radius: 30px;
      font-size: 13px;
      line-height: 1.4;
      text-align: center;

      &.newer-post {
        margin-right: 20px;
      }
    }

    a {
      color: @upd-light-blue;

      &:hover {
        color: @upd-blue;
      }
    }
    &-browse-more {
      display: block;
      width: 240px;
      margin: 0 auto;
      color: @upd-light-blue;
      font-weight: 400;
      text-align: center;
      border: 1px solid @upd-light-blue;
      padding: 12px 20px;
      border-radius: 30px;
      transition: background 0.2s, color 0.2s;
      &:hover {
        background: @upd-light-blue;
        color: #fff;
      }
    }
  }
}

.blog-article {
  .navbar-height-adjustment();
  @media @screen550 {
    padding-top: 1px;
    // To accommodate top padding when breadcrumb is hidden
  }
  a.blog-in-post-cta {
    background: @upd-light-blue;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
  }

  &--content-area {
    .display-flex();
    margin-top: 25px;
    justify-content: space-around;
    flex-wrap: wrap;

    @media @screen992 {
      flex-direction: column;
      align-items: center;
    }
  }

  &--main-content {
    // * > * {
    //   border: 1px solid red;
    // }
    &.flip-order-2019 {
      order: 1;
      margin-right: 0;
    }
    margin-right: 30px;
    flex: 1;
    max-width: 700px;
    transition: padding 0.2s;
    overflow: hidden;
    &.trends {
      margin-right: 0;
    }
    .like-count {
      font-weight: 900;
      color: #333;
      font-size: 13px;
    }

    p {
      .merriweather();
      color: #666;
      font-size: 16px;
      line-height: 1.6875;
      transition: margin-left 0.2s;
      margin-top: 0;
      margin-left: @article-indentation;
      margin-bottom: 15px;
    }

    a {
      color: @upd-light-blue;
    }
    a.btn {
      color: #fff;
      .maquette-web();
      font-weight: 400;
    }
    h2 {
      font-weight: 900;
      font-size: 24px;
      line-height: 1.166666666667;
      color: @upd-navy;
      margin: 40px 0;
    }

    h3 {
      font-weight: 900;
      font-size: 20px;
      color: @upd-light-blue;
      transition: margin-left 0.2s;
      line-height: 1.2;
      margin-left: @article-indentation;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 3rem;
    }

    li > *:first-child::before {
      color: @upd-pink;
    }
    ul[data-rte-list] li > *:first-child::before,
    ol[data-rte-list] li > *:first-child::before {
      margin-left: -40px; // override bullet list margin-left glitch
    }
    blockquote {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 50px;
      border-left: 10px solid #eee;
      padding: 15px 15px 15px 50px;
      // padding-left: calc(@article-indentation - 50px);
      box-sizing: border-box;
      background: #fff;
      white-space: pre-wrap;
      .merriweather();
      font-size: 1.12em;
      font-style: italic;
      line-height: 1.7;
      margin-bottom: 0.5em;
      p {
        white-space: pre-wrap;
        margin: 0;
        font-size: 1.12em;
        font-style: italic;
        line-height: 1.6;
        margin-bottom: 0.5em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &::before {
        content: "";
      }

      @media @screen768 {
        margin-left: 0;
        padding-left: 50px;
      }
    }

    // @media screen and (min-width: 1141px) and (max-width: 1240px) {
    //   padding-left: 40px;
    // }

    // @media screen and (min-width: 980px) and (max-width: 1140px) {
    //   padding-left: 60px;
    // }

    @media only screen and (max-width: 1100px) {
      p,
      h3 {
        margin-left: 0;
      }
    }

    @media @screen992 {
      margin-right: 0;

      p,
      h3 {
        margin-left: @article-indentation;
      }
    }

    @media @screen768 {
      p,
      h3 {
        margin-left: 0;
      }
    }
  }

  &--sidebar {
    position: relative;
    flex-shrink: 0;
    width: 275px;
    align-items: flex-start;

    &.flip-order-2019 {
      order: 0;
      margin-right: 50px;
      @media @screen992 {
        display: none;
      }
    }
    // height: auto;
    &-search {
      margin-top: 20px;
    }
    &-blank {
      background: transparent;
    }
    &-form {
      padding: 20px;
      background: #eeeeee;
      border-radius: 10px;

      .mktoButtonRow {
        width: 100%;
      }

      button.mktoButton {
        // TODO: Fix marketo form styling specificity
        font-size: 13px !important;
        font-weight: 500 !important;
        border-radius: 20px !important;
        color: #fff !important;
        // background: #FFF !important;
        border: 1px solid @upd-light-blue !important;
        width: 100%;
        letter-spacing: normal !important;
        text-transform: none !important;
        padding: 6px !important;
      }
    }

    &-related {
      margin-top: 30px;

      h5 {
        font-weight: 500;
        font-size: 16px;
        color: @upd-navy;
        line-height: 1.5;
      }

      @media @screen992 {
        display: none;
      }
    }

    &-related-item {
      .display-flex();
      margin-bottom: 10px;
      align-items: center;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 85px;
        height: auto;
        margin-right: 10px;
      }

      h6 {
        font-weight: 200;
        font-size: 13px;
        line-height: 1.230769230769;
        text-transform: none;
        margin-top: 0;
        margin-bottom: 0;
        color: @upd-blue;

        a {
          color: @upd-blue;
        }
      }
    }

    @media @screen992 {
      order: 3;
      width: 100%;
      &.hide-on-mobile {
        display: none;
      }
      &-search {
        display: none;
      }
    }
  }
  &--meta-info {
    position: relative;
    .display-flex();
    width: 100%;
  }
  &--post-meta {
    font-weight: 200;
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
    color: #555;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    time,
    .key-info {
      letter-spacing: normal;
      font-size: 12px;
      color: @upd-light-blue;
    }
    & + & {
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #ddd;
    }
    @media @screen550 {
      &[data-secondary="true"] {
        display: none;
      }
    }
  }
  &--reading-time {
    margin-bottom: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 13px;
    position: absolute;
    font-weight: 400;
    padding: 5px 15px;
    color: @upd-navy;
    background: #e8eff2;
    .display-flex();
    align-items: center;
  }

  &--post-title {
    font-weight: 200;
    font-size: 36px;
    line-height: 1.166666666667;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    @media @screen550 {
      font-size: 27px;
    }
  }

  &--main-image {
    width: 100%;
    &.moving-tips-image {
      margin-bottom: 30px;
    }
  }

  &--author-byline {
    margin-top: 15px;
    margin-bottom: 15px;
    .display-flex();
    align-items: center;
    justify-content: flex-start;
    color: #999;
    font-size: 13px;
    font-weight: 200;

    img {
      width: 55px;
      height: 55px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    a {
      color: @upd-blue;
      margin-left: 5px;
      display: inline-block;
    }
  }

  &--tags {
    margin-top: 30px;

    // margin-left: @article-indentation;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .display-flex();
      flex-wrap: wrap;
    }

    li {
      display: inline-block;
      padding: 5px 15px;
      margin-right: 10px;
      margin-bottom: 15px;
      font-size: 11px;
      background: #eee;
      color: #333;
      border-radius: 30px;
      transition: background 0.2s;

      a {
        color: #333;
      }

      &:hover {
        background: #333;

        a {
          color: #fff;
        }
      }
    }
  }

  hr {
    border-width: 2px;
  }

  &--author-bio {
    margin-top: 20px;
    background: #ededed;
    .display-flex();
    align-items: center;
    height: 150px;

    &.moving-tips-fix {
      height: 0 !important;
      overflow: hidden !important;
    }

    img {
      width: 150px;
      height: 150px;
      margin-right: 15px;
      object-fit: cover;
      @media @screen550 {
        width: 80px;
        height: 80px;
      }

      @media only screen and (max-width: 400px) {
        width: 50px;
        height: 50px;
      }
    }

    &-text {
      .display-flex();
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;
        margin-top: 10px;
        line-height: 1.4;
        font-size: 14px;
        padding-right: 30px;

        @media @screen768 {
          font-size: 12px;
          margin-top: 4px;
        }
      }

      @media @screen768 {
        font-size: 12px;
      }
    }

    @media @screen550 {
      // flex-direction: column;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }

  &--footer-related {
    border-top: 2px solid #eee;
    margin-top: 40px;
    padding: 20px 0 40px;
    width: 100%;
    &.flip-order-2019 {
      order: 2;
    }
    h3 {
      font-size: 20px;
      line-height: 1.2;
      color: #666;
      margin: 0;
      font-weight: 900;
      margin-bottom: 25px;

      @media @screen768 {
        font-size: 17px;
      }
    }

    .blog-list--item {
      @media @screen768 {
        width: 32%;

        h3 {
          font-size: 15px;
        }
      }

      @media @screen550 {
        width: 100%;
      }
    }

    @media @screen768 {
      border-bottom: 2px solid #eee;
      margin-bottom: 20px;
    }
  }

  &--comments {
    order: 4;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    h3.comment-count {
      display: block;
      position: relative;
      font-size: 20px;
      line-height: 1.2;
      color: #666;
      margin: 0;
      font-weight: 900;

      @media @screen768 {
        font-size: 17px;
        margin-bottom: 10px !important;
      }
    }

    .squarespace-comments {
      margin-top: 0px;
    }

    .header-controls .comment-controls {
      display: none;
    }

    .btn-text.preview-comment {
      font-size: 12px;
      line-height: 1;
      color: @upd-light-blue;
      font-weight: 500;
    }

    .comment-btn.sqs-system-button.sqs-editable-button-font.sqs-editable-button-shape {
      font-size: 12px;
      line-height: 1;
      color: @upd-light-blue;
      font-weight: 500;
      border: 1px solid @upd-light-blue;
      padding: 7px 20px;
      background: #fff;
      border-radius: 20px;
    }
    div.comment {
      margin-top: 10px !important;
      margin-bottom: 2px !important;
      // border-top: none!important;
    }

    .user-info {
      // border: 1px solid red;
      .author {
        font-size: 20px !important;
        line-height: 1.2 !important;
        color: #666;
      }

      .date,
      .posting-text,
      .likes {
        color: #333;
        font-weight: 200;
      }

      a {
        .author {
          color: @upd-light-blue;
        }

        &:hover {
          .author {
            color: @upd-blue;
          }
        }
      }

      @media @screen768 {
        .author {
          font-size: 18px !important;
        }
      }
    }

    .comment-body p {
      .merriweather();
      font-size: 16px;
      line-height: 1.6875;
      color: #666;

      @media @screen768 {
        font-size: 14px;
      }
    }

    textarea.comment-input,
    textarea.reply-input {
      .merriweather();
    }

    @media screen and (min-width: 1141px) and (max-width: 1240px) {
      padding-left: 40px;
    }

    @media screen and (min-width: 980px) and (max-width: 1140px) {
      padding-left: 60px;
    }
  }
}

.blog-article--in-text-banner--mobile-only {
  background: #eee;
  display: none;
  line-height: 1.35;
  padding: 5px 10px;
  margin-bottom: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  @media @screen992 {
    display: block;
  }
}

.updater-life--social {
  .display-flex();
  align-items: center;
  justify-content: center;
  padding: 20px;
  svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    transition: opacity 0.2s, transform 0.2s;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.sqs-gallery-thumbnails.sqs-gallery-design-strip {
  // overflowing content fix
  max-width: 991px;
  margin-left: auto;
  margin-right: auto;
  @media @screen992 {
    max-width: 600px;
  }
  @media screen and (max-width: 692px) {
    max-width: 400px;
    height: 60px !important;
  }
  @media screen and (max-width: 470px) {
    max-width: 300px;
    height: 40px !important;
  }
}

.ii--lead-capture {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  &-cta {
    text-align: center;
    color: #fff;
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 0;
    span {
      border-radius: 15px 15px 0 0;
      background: @upd-pink;
      display: block;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      max-width: 600px;
    }
  }
  &-form {
    border-radius: 15px 15px 0 0;
    background: #fff;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 20px;
    transform: translateY(600px);
    transition: transform 0.2s;
    position: relative;
    .confirm_msg {
      display: none;
      box-sizing: border-box;
      padding: 30px;
      background: #eee;
      font-weight: 200;
      font-size: 18px;
      line-height: 1.3;
      h6 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
      }
    }
    h6 {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      text-transform: none;
      font-size: 18px;
      line-height: 1.3;
      margin-top: 20px;
      margin-bottom: 24px;
    }
    form button {
      color: #fff !important;
    }
    &-close {
      border: 1px solid #202020;
      border-radius: 20px;
      .display-flex();
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background: #fff;
      font-size: 20px;
      color: #202020 !important;
      font-weight: 200;
      position: absolute;
      top: 10px;
      right: 10px;
      line-height: 1;
    }
    &.on {
      transform: translateY(0);
    }
  }
  @media @screen992 {
    display: block;
  }
}

.penske_banner {
  position: relative;
  img {
    transition: transform 0.2s, filter 0.2s;
  }
  &:hover img {
    transform: translateY(-5px);
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.4));
  }
}

.moving-tips--see-also {
  background: #eee;
  padding: 20px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: @article-indentation;
  color: #000;
  .display-flex();
  span {
    flex-basis: 100px;
    flex-shrink: 0;
    display: block;
  }
  a {
    .merriweather();
    display: block;
    text-decoration: underline;
    &:hover {
      color: @upd-blue;
    }
  }
  @media only screen and (max-width: 1100px) {
    margin-left: 0;
  }
  @media @screen992 {
    margin-left: @article-indentation;
  }
  @media @screen768 {
    margin-left: 0;
  }
  @media @screen550 {
    flex-direction: column;
    span {
      flex-basis: auto;
    }
  }
}

.display-links {
  .display-flex();
  justify-content: space-between;
}

.display-item {
  min-height: 100px;
  img,
  span {
    transition: transform 0.2s;
  }
  .display-product,
  .display-price {
    display: block;
  }
  .display-price {
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
  }
  &:hover {
    img {
      transform: translateY(-3px);
    }
    span {
      transform: translateY(-3px);
      transform: scale(1.05);
      text-decoration: underline;
    }
  }
}
