.home-2018 {
  &--feature-highlights {
    .blue-btn-2018.dark-bg {
      background: @upd-navy;
    }
    text-align: center;
    background: rgba(51, 77, 92, 0.1);
    background: @upd-navy;
    overflow: hidden;
    &-light-bg {
      background: lighten(@upd-navy, 60%);
      background: #fff;
      h2 {
        color: @upd-navy!important;
      }
      .flickity-styling-2018();
      .flickity-page-dots .dot {
        background: #999 !important;
      }
    }
    .section_padding_top();
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      .section_h2();
      color: #fff;
    }

    .note {
      font-size: 12px;
      line-height: 1.16666667;
      color: #666;
      font-weight: 200;
      display: block;
      width: 100%;
      text-align: center;
    }

    .flickity-styling-2018();
    .flickity-page-dots .dot {
      background: #fff;
    }
    .blue-btn-2018:hover {
      background: @upd-pink;
    }
  }

  &--feature-carousel {
    margin: 30px auto;
    max-width: 888px;
    height: 393px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    @media @screen768 {
      max-width: 600px;
      height: 500px;
    }
  }

  &--carousel {
    position: absolute;
    width: 100%;
    height: 100%;

    &-inner {
      width: 100%;
      height: 393px;
      .display-flex();

      div {
        .display-flex();
        flex-direction: column;
        justify-content: center;
        img {
          width: 100%;
          margin: 0 auto;
        }
        &.left-side {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.04);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          &.mf {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546463919/website/2018-revamp-assets/diagrams/feature-forward-mail-2.png");
          }
          &.moving {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-moving.png");
          }
          &.internet {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545858442/website/2018-revamp-assets/diagrams/feature-tv-internet.png");
          }
          &.account {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-account.png");
          }
          &.utility {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-utilities.png");
          }
          &.insurance {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546464565/website/2018-revamp-assets/diagrams/feature-home-insurance.png");
          }
          @media @screen768 {
            height: 350px;
          }
          @media screen and (max-width: 450px) {
            height: 250px;
          }
        }
        &.right-side {
          width: 100%;

          .merriweather();
          box-sizing: border-box;
          font-style: italic;
          .testimonial-headshot {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            margin: 0;
            margin-right: 20px;
          }
          .testimonial-words {
            color: #4a4a4a;
            margin-left: 50px;
            margin-right: 50px;
            text-align: left;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1.555555555;
            &::before {
              content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545437502/website/2018-revamp-assets/icons/quote-marks.svg");
              margin: 0 auto;
              display: block;
              width: 60px;
              margin-bottom: 20px;
            }
          }
          .testimonial-by {
            margin-left: 50px;
            margin-right: 50px;
            color: #666;
            .display-flex();
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
          }
          .testimonial-name {
            font-size: 18px;
          }
          .testimonial-location {
            font-size: 15px;
            line-height: 1.2;
          }
          @media @screen992 {
            .testimonial-headshot {
              width: 60px;
              height: 60px;
            }
            .testimonial-name {
              font-size: 15px;
              width: 100%;
            }
            .testimonial-words {
              font-size: 15px;
            }
            .testimonial-location {
              font-size: 12px;
            }
          }
          @media @screen768 {
            height: 150px;
            .testimonial-headshot {
              width: 60px;
              height: 60px;
              display: none;
            }
            .testimonial-by {
              margin-right: 50px;
              justify-content: center;
            }
            .testimonial-name {
              font-size: 15px;
              text-align: center;
              width: 100%;
              &::before {
                content: "\2014 ";
              }
            }
            .testimonial-words {
              font-size: 15px;
              margin-bottom: 0;
              &::before {
                content: "\201C";
                display: inline;
              }
              &::after {
                content: "\201D";
                display: inline;
              }
            }
            .testimonial-location {
              font-size: 12px;
              text-align: center;
            }
          }
          @media @screen550 {
            .testimonial-words {
              font-size: 12px;
              margin-bottom: 10px;
              margin-left: 20px;
              margin-right: 20px;
            }
            .testimonial-name {
              font-size: 12px;
            }
            .testimonial-location {
              font-size: 10px;
            }
            .testimonial-by {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
          @media screen and (max-width: 450px) {
            height: 250px;
          }
        }
      }

      @media @screen768 {
        flex-direction: column;
        height: 500px;
        div.right {
          height: 250px;
          border: 1px solid red;
        }
      }
    }
  }
}
