.free-tools-alt {
  .navbar-height-adjustment();
  background-color: #e8eff2;

  &--hero {
    background: none;
    color: @upd-navy;
    min-height: 100px;
    padding: 2em;
    overflow: hidden;

    h1 {
      margin-bottom: 0.5em;
      color: @upd-navy;
      line-height: 1.3;
      font-weight: 700;
      font-size: 34px;
      text-align: center;
    }
    p {
      .merriweather();
      font-weight: 300;
      font-size: 24px;
      line-height: 1.6em;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }
    img:nth-of-type(1) {
      transform: scaleX(-1);
      position: absolute;
    }
    &-wrapper {
      margin: 2% auto;
    }
    &-content {
      display: block;
      width: 45%;
      margin: auto;
    }
    @media screen and (max-width: 1000px) {
      margin: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      min-height: auto;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
      &-wrapper {
        width: 85%;
      }
      &-content {
        width: 100%;
        margin: 0 0 0 0;
      }
    }
    @media screen and (max-width: 560px) {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  &--full {
    padding: 0 10px;
    button {
      /* Style Reset */
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
      overflow: visible;
      text-transform: none;
    }
    h1 {
      font-weight: 700;
      font-size: 34px;
      color: @upd-navy;
    }
    h3 {
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: 700;
      margin-block-end: 0;
    }
    h4 {
      font-weight: 300;
      font-size: 18px;
    }
    span {
      .merriweather();
      font-weight: 300;
      font-size: 0.9em;
      display: block;
      line-height: 1;
    }
    a.button {
      box-sizing: border-box;
      display: inline-block;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
      z-index: 1;
      transition: transform 0.2s;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;

      padding: 12px 25px;
      border-radius: 35px;
      background: #fff;

      &:hover {
        transform: scale(1.08);
      }
    }
    @media screen and (max-width: 1000px) {
      width: 93%;
    }
  }
  &--grid-wrapper {
    .display-flex();
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-stretch;
    justify-content: space-between;
    margin-bottom: 64px;
    h3 {
      margin-top: 0;
    }

    .free-tools-alt--subgrid-item h4 {
      line-height: 1.2em;
      margin-bottom: 0.4em;
    }

    &.step-setup {
      .free-tools-alt--tool-main {
        background: #45b19c;
      }
      a.button {
        color: #45b19c;
      }
      img {
        bottom: 6px;
        right: 8px;
      }
      .free-tools-alt--subgrid-item span {
        color: #28685b;
      }
    }
    &.step-planning {
      .free-tools-alt--tool-main {
        background: #81be62;
      }
      #moving-company_free-tools-page-v2 {
        color: #81be62;
      }

      a.button {
        color: #45b19c;
      }
      img {
        transform: scale(0.9);
        transform-origin: bottom right;
      }
      .free-tools-alt--subgrid-item span {
        color: #4f893d;
      }
      @media screen and (max-width: 595px) {
        .free-tools-alt--tool-main h3 {
          margin-bottom: 12px;
        }
      }
    }
    &.step-updating {
      .free-tools-alt--tool-main {
        background: @upd-blue;
      }
      button {
        color: @upd-blue;
      }
      .free-tools-alt--subgrid-item span {
        color: @upd-blue;
      }
      img {
        transform: scale(0.9);
        transform-origin: bottom right;
        bottom: -5px;
        right: -30px;
      }
    }
    &.step-packing {
      .free-tools-alt--tool-main {
        background: @upd-light-blue;
      }
      a.button {
        color: @upd-light-blue;
      }
      img {
        bottom: -50px;
        right: -3px;
      }
      .free-tools-alt--subgrid-item span {
        color: #429cad;
      }
      @media screen and (max-width: 560px) {
        .free-tools-alt--tool-main img {
          bottom: -70px;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  &--tool-header {
    width: 13%;
    color: @upd-navy;
    span {
      color: #2b7499;
      line-height: 1.5em;
    }
    @media screen and (max-width: 1000px) {
      flex-grow: 1;
      padding-left: 16px;
    }
    @media screen and (max-width: 560px) {
      width: 80%;
    }
  }
  &--tool-main,
  &--subgrid-item {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }
  &--tool-main {
    color: #fff;
    width: 27%;
    height: 210px;
    box-sizing: border-box;
    padding: 1.5em 1em 1em 1.5em;
    position: relative;
    overflow: hidden;
    h3 {
      margin-bottom: 1.2em;
      width: 90%;
      position: relative;
      z-index: 1;
      font-size: 1.4em;
    }
    img {
      width: 120px;
      height: auto;
      position: absolute;
      bottom: -15px;
      right: -15px;
      z-index: 0;
    }
    @media screen and (max-width: 1000px) {
      width: 100%;
      height: 160px;
      margin: 30px 0;
      br {
        display: none;
      }
    }
    @media screen and (max-width: 560px) {
      h3 {
        width: 100%;
      }
    }
  }
  &--tool-subgrid {
    width: 50%;
    .display-flex();
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    @media screen and (max-width: 1000px) {
      width: 100%;
      height: 220px;
    }
    @media screen and (max-width: 560px) {
      flex-direction: column;
      flex-wrap: nowrap;
      height: 350px;
    }
  }
  &--subgrid-item {
    width: 49.25%;
    height: 48%;
    padding: 1em;
    background: #fff;
    box-sizing: border-box;
    transition: transform 0.3s;
    h4 {
      width: 80%;
      line-height: 1.2em;
      margin-top: 0px;
      margin-bottom: 0em;
      color: #333;
    }
    a {
      display: block;
      height: 100%;
    }
    span {
      .maquette-web();
    }
    &:hover {
      transform: scale(1.05);
    }
    @media screen and (max-width: 1000px) {
      width: 49.5%;
      a {
        width: 100%;
      }
    }
    @media screen and (max-width: 560px) {
      width: 100%;
      height: 23%;
      h4 {
        width: 100%;
      }
    }
  }
  &--timeline-icon {
    width: 5%;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      background: #fff;
      top: 20px;
      left: 0;
      z-index: -1;
      height: 455px;
      width: 20%;
      margin: 0 40%;
    }
    div {
      width: 100%;
      height: 28%;
      background: #fff;
      border-radius: 50%;
    }
    @media screen and (max-width: 1000px) {
      order: -1;
      width: 50px;
      &::after {
        display: none;
      }
    }
  }
  &--concierge-cta {
    &-wrapper {
      background: #fff;
      height: 50vh;
      min-height: 450px;
      height: 40vh;
      overflow-x: hidden;
    }

    .display-flex();
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;

    h3 {
      position: absolute;
      top: 50px;
      width: 275px;
      color: @upd-navy;
    }
    &-text {
      margin: auto 0;
      width: 50%;
      h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 1.1em;
        margin-bottom: 0.5em;
        color: @upd-navy;
      }
      h4 {
        .maquette-web();
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 1em;
        color: @upd-blue;

        margin-block-end: 0;
        margin-block-start: 0;
      }
      p {
        .merriweather();
        font-weight: 300;
        font-size: 20px;
        line-height: 1.4em;
        margin-bottom: 2em;
        width: 80%;
      }
    }
    img {
      width: 35%;
      transform: translateX(100px) translateY(0px) scale(0.9);
      transform-origin: bottom center;
      align-self: flex-end;
    }
    a.button {
      border-radius: 35px;
      background: #fff;
      font-size: 0.8em;
      background: @upd-light-blue;
      color: #fff;
      padding: 16px 25px;
      font-size: 1.2em;

      transition-property: background;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      &:hover {
        background: @upd-navy;
      }
    }
    @media screen and (max-width: 1000px) {
      &-wrapper {
        height: 50vh;
      }
      width: 85%;
      overflow: visible;
      h3 {
        display: none;
      }
      img {
        width: 40%;
        position: relative;
        transform: translateX(-10px) scale(1);
        transform-origin: bottom center;
      }
      &-text {
        width: 55%;
        position: relative;
        z-index: 2;
        padding: 2em 0;
      }
    }
    @media screen and (max-width: 714px) {
      display: block;
      position: relative;
      &-text {
        padding-top: 50px;
        width: 90%;
        h2 {
          font-size: 2em;
        }
        h4 {
          font-size: 1em;
        }
        p {
          font-size: 1em;
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(100px) scale(1.3);
        transform-origin: bottom right;
      }
    }
    @media @screen550 {
      display: block;
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(50px) scale(1.3);
        transform-origin: bottom right;
      }
      &-text {
        padding-top: 50px;
        width: 90%;
        h2 {
          font-size: 2em;
        }
        h4 {
          font-size: 1em;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
  &--moving-questions {
    margin: 0 auto 1em auto;
    width: 90%;
    text-align: center;
    color: @upd-navy;

    font-size: 1.9em;
    line-height: 1.2em;
    font-weight: 700;

    @media screen and (max-width: 1000px) {
      display: block;
      width: 80%;
      margin: 0 auto 30px auto;
      text-align: center;
      font-size: 2em;
    }
    @media @screen550 {
      font-size: 1.6em;
      width: 75%;
    }
  }

  &--moving-help {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;

    &-wrapper {
      max-width: 600px;
      margin: auto;

      box-sizing: border-box;
      padding: 0.9em 1em;

      border-radius: 10px 10px 0px 0px;

      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4em;
      color: #fff;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);

      background: @upd-pink;

      position: relative;

      @media @screen550 {
        width: 98%;
        font-size: 9px;
        line-height: 1.3;
      }
    }

    p {
      width: 100%;
      margin: 0 0 0 0;
      margin-block-end: 0;
      margin-block-start: 0;
      font-weight: 400;
    }
    a.cta_ctc {
      font-weight: 700;
      font-style: normal;
      text-decoration: underline;
      color: #fff;
    }
  }

  select,
  input {
    height: 40px;
  }
}

.free-tools-mover-search {
  width: 170px;
  padding-left: 10px;
}

.free-tools-mover-search,
#free-tools--license-select-state {
  .merriweather();
  font-weight: 300;
  font-size: 12px;
  color: #000;
  margin-right: 5px;

  background: #fff;
  border-width: 0;
  border-color: transparent;
  border-radius: 5px;

  position: relative;
  z-index: 3;
}

#free-tools-page_driver-license-button,
#moving-company_free-tools-page-v2 {
  transform: translateY(1px);
  height: 40px;

  font-weight: 400;

  padding: 8px 10px;
  width: 54px;
  background: #fff;

  .maquette-web();
  font-size: 14px;

  border-radius: 50px;
  border-width: 0;
  border-color: transparent;

  position: relative;
  z-index: 3;
}

/* Free tools */

.free-tools--svg-icons {
  transform: scale(0.65);
  transform-origin: center center;
}

/* Concierge CTA */

#down-arrow {
  display: block;
  width: 50px;
  margin: 0 auto 2em auto;
}

.test-section {
  height: 20vh;
}

/* Popup */

#free-tools--close-button {
  position: absolute;
  top: 7px;
  right: 9px;

  font-weight: 400;
  cursor: pointer;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close-popup-panel {
  display: none;
}

/* in betweens */
@media screen and (max-width: 1069px) and (min-width: 1001px) {
  .free-tools-mover-search {
    padding-left: 2px;
    width: 158px;
  }
}
