.button-clear {
  font: inherit;
  color: inherit;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
@faq-padding-adjustment: 100px;

.dmv-redux {
  .navbar-height-adjustment();
  * {
    box-sizing: border-box;
  }

  p {
    .merriweather();
    font-weight: 300;
    color: #696969;
    em {
      font-weight: 700;
    }
  }

  &--hero {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_1140/v1433445406/state%20images/florida.jpg");
    background-size: cover;
    background-position-y: 73%;
    height: 190px;
    position: relative;

    @media @screen768 {
      margin-bottom: 20px;
    }

    button {
      all: unset !important;
    }

    &-state-select {
      display: block;
      width: auto;
      text-align: center;

      height: 34px;

      position: absolute;
      bottom: 20px;
      right: 20px;

      @media screen and (max-width: 550px) {
        right: auto;
        left: 43px;
        height: 34px;
      }

      select {
        background: #fff;
        height: 100%;
        font-family: "ars-maquette-web";
        font-weight: 300;
        font-size: 12px;
        color: #666;

        border-color: transparent;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      }

      a {
        display: inline-block;
        background-color: #fff;
        border: 2px solid @upd-navy;
        color: @upd-navy;
        height: 100%;
        padding: 12px;
        border-radius: 30px;
        width: 80px;
        line-height: 0.4;
        transform: translateY(2px);

        cursor: pointer;

        transition: background-color 0.2s, color 0.2s, border-color 0.2s;

        &:hover {
          background-color: @upd-navy;
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }

  &--header {
    padding-top: 38px;
    padding-left: 43px;

    min-width: 100px;
    height: 100%;
    margin: 0 auto;
    // background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    &-text {
      border-left: 4px solid #fff;
      padding-left: 28px;
    }
    h1,
    h2 {
      margin: 0;
      color: #fff;
    }
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 1;
      span {
        font-size: 0.86em;
      }
      &::after {
        display: inline;
        content: " DMV";
        font-size: 0.86em;
      }
    }

    h2 {
      font-weight: 300;
      font-size: 22px;
      margin-bottom: 10px;
    }

    @media @screen768 {
      h1 {
        font-size: 38px;
      }
      h2 {
        font-size: 16px;
      }
    }

    @media @screen550 {
      h1 {
        font-size: 27px;
      }
      h2 {
        font-size: 14px;
      }
    }
  }

  &--desktop-intro {
    .display-flex();
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 20px 40px;

    margin: 20px 0 10px 0;

    &-text {
      width: 58%;
      h3 {
        color: @upd-light-blue;
        font-weight: 700;
        font-size: 24px;
        margin: 0;
        margin-bottom: 25px;
      }

      p {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 20px;
        color: #888;
      }
    }
    &-contact {
      &-container {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        width: 36%;
        padding: 26px;
        min-height: 210px;

        border-radius: 8px;

        align-self: center;
      }

      .display-flex();
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      h5 {
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
        color: #999;
        font-size: 13px;
        padding-top: 5px;
        font-weight: 800;
        text-align: right;
        width: 24%;
      }

      span {
        width: 65%;
        .merriweather();
        font-weight: 300;
        font-size: 15px;
        line-height: 1.3;
        color: #696969;
        padding-bottom: 16px;
        &:nth-last-child(1) {
          padding-bottom: 0;
        }
      }

      a {
        color: @upd-light-blue;
        text-decoration: none;
      }

      @media @screen992 {
        flex-direction: column;
        flex-wrap: nowrap;

        h5,
        span {
          width: 100%;
        }

        h5 {
          text-align: left;
          padding-top: 5px;
          padding-bottom: 8px;
          &:nth-child(1) {
            padding-top: 0;
          }
        }
      }
    }
    @media @screen768 {
      display: none;
    }
  }

  &--mobile-contact {
    &-content {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      margin-bottom: 30px;
      // margin-left: @faq-padding-adjustment - 32px;
      margin-left: auto;
      margin-right: auto;
      display: none;
      div {
        padding: 26px;
      }

      a {
        color: @upd-light-blue;
        text-decoration: none;
      }

      h5 {
        margin: 0;
        text-transform: uppercase;
        color: #999;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
      }

      span {
        display: block;
        width: 100%;
        .merriweather();
        font-weight: 300;
        font-size: 15px;
        line-height: 1.3;
        color: #696969;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      @media @screen768 {
        display: block;
      }
      @media @screen550 {
        // margin-left: 0;
      }
    }
  }
  &--main {
    background: #fff;
    &-tabs {
      width: 100%;
      box-sizing: content-box;
      padding-right: 40px;
      h3 {
        font-weight: 200;
        font-size: 28px;
        text-align: center;
        margin-bottom: 22px;
        margin-top: 0;
        width: 100%;
        color: @upd-blue;
        padding-top: 10px;
        transform: translateX(20px);
        @media screen and (max-width: 630px) {
          font-size: 20px;
        }
      }
      ul {
        border-bottom: 1px solid #eee;
        background: #fff;
        width: 100%;
        .display-flex();
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        margin-left: 20px;
        // border: 1px solid #000;
        li {
          flex-basis: 32.5%;
          .display-flex();
          align-items: stretch;
        }
      }

      // TODO: position sticky polyfill
      position: -webkit-sticky;
      position: sticky;
      top: 70px;
      @media @screen900 {
        top: 70px;
      }
      background: #fff;
      margin-left: -20px;
      // margin-right: -20px;
      z-index: 1;

      button {
        border-width: 0px;
        border-color: transparent;
        border-radius: 10px 10px 0 0;
        background: #dddddd;
        color: rgb(87, 87, 87);
        font-weight: 700;
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        text-align: center;
        cursor: pointer;

        transition: background 0.2s ease-in-out;

        &:hover {
          background: #c2c2c2;
        }
        &:focus {
          outline: none;
        }

        &.active-tab {
          background: @upd-blue;
          color: #fff;
          &:hover {
            background: darken(@upd-blue, 8%);
          }
        }
      }

      @media @screen768 {
        button {
          box-sizing: border-box;
          font-size: 15px;
          padding-left: 8px;
          padding-right: 8px;
        }

        z-index: 2;
      }

      @media @screen550 {
        button {
          line-height: 1.12;
        }
      }
    }

    &-frame {
      padding: 40px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      h2 {
        font-weight: 700;
        font-size: 28px;
        color: @upd-light-blue;
        margin: 0;
        @media @screen768 {
          margin-bottom: 0px;
          font-size: 24px;
        }
      }

      @media @screen550 {
        padding: 20px;
      }
    }

    &-content {
      &-intro {
        span.intro--moving-direction {
          flex-shrink: 0;
          // flex-grow: 1;
          font-size: 24px;
        }
        span.intro--text {
          font-size: 17px;
          max-width: 680px;
          display: block;
          line-height: 1.7;
          @media @screen768 {
            // width: 100%;
            font-size: 14px;
          }
        }
        padding-left: @faq-padding-adjustment + 5px;
        margin-bottom: 0px;
        @media @screen900 {
          padding-left: @faq-padding-adjustment - 32px;
        }
        @media @screen768 {
          span.intro--moving-direction {
            color: #000;
            font-size: 20px;
          }
        }
        @media @screen550 {
          line-height: 1.5;
          span.intro--moving-direction {
            font-size: 14px;
          }
          span.intro--text {
            display: inline;
            font-size: 14px;
          }
          padding: 15px;
        }
      }
      .faq-area {
        h2 {
          .display-flex();
          width: 100%;
          align-items: center;
          margin-bottom: 1em;
          line-height: 1.2;
          padding-left: @faq-padding-adjustment - 60px;
          margin-top: 0.75em;
          img,
          svg {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 16px;
            z-index: 0;
          }
          @media @screen900 {
            padding-left: 0;
          }
          @media @screen768 {
            margin-bottom: 0;
          }
          @media @screen550 {
            font-size: 20px;
            img,
            svg {
              width: 30px;
              height: 30px;
              margin-right: 8px;
            }
          }
        }
        &:last-of-type {
          h2 {
            margin-top: 2em;
          }
        }
      }
      .question {
        .button-clear();
        font-size: 18px;
        line-height: 1.4;
        color: inherit;
        text-align: left;
        color: #555;
        width: 38%;
        font-weight: 200;
        align-self: flex-start;
        padding-top: 8px;
        .display-flex();
        span {
          cursor: pointer;
          pointer-events: none;
        }
        margin-bottom: 30px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        @media @screen768 {
          width: 100%;
          margin-bottom: 0;
          padding: 22px 0 10px 0;

          cursor: pointer;
          &::before {
            content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1508778691/icons/select-arrow.svg");
            width: 12px;
            flex-basis: 12px;
            flex-shrink: 0;
            margin-right: 8px;

            display: inline-block;
            transition: transform 0.2s ease-out;
            transform: rotate(-90deg);
            position: relative;
            z-index: 0;
          }

          &.active::before {
            transform: rotate(0deg);
          }
        }
        @media @screen550 {
          font-size: 16px;
        }
      }

      .answer {
        width: 60%;
        background: #f4f4f4;

        color: #202020;

        .sqs-layout:not(.sqs-editing)
          > .sqs-row:first-child
          > [class*="sqs-col"]:first-child
          > .sqs-block:last-child {
          padding-bottom: 0;
        }
        margin-bottom: 30px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        @media @screen768 {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          width: 100%;
          margin-bottom: 0;
        }

        .answer-block {
          padding: 18px;
          padding-left: 22px;
          margin: 0 0 0 0 !important;
        }

        p,
        ul {
          color: #555;
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 10px;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }

        p.special-info {
          box-sizing: border-box;
          margin-left: 18px;
          padding-left: 18px;

          border-left: 1px solid @upd-blue;
        }

        li {
          font-weight: 300;

          margin-bottom: 6px;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
    }
    &-faq {
      .display-flex();
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: @faq-padding-adjustment;
      @media @screen900 {
        padding-left: 60px;
      }
      @media @screen550 {
        padding-left: 0;
      }
      ul {
        list-style-type: disc;
        list-style-position: inside;
        .merriweather();
        font-size: 15px;
        line-height: 1.7;
        padding-left: 18px;
      }

      a {
        color: @upd-light-blue;
        text-decoration: none;
      }
    }
  }
  #sect-moving-within,
  #sect-entering-state,
  #sect-leaving-state {
    display: none;
    &.is-on {
      display: block;
    }
  }
  &--next-steps {
    &-wrapper {
      background: #e8eff2;
      padding-top: 10px;
      margin-top: 60px;
      padding-bottom: 30px;
    }
    margin-top: 40px;

    &-text {
      max-width: 800px;
      margin-bottom: 60px;
      margin-left: 50px;
      position: relative;
      @media @screen768 {
        margin-left: 0px;
        padding: 0 20px;
      }

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        color: @upd-light-blue;
        margin: 0;
        margin-bottom: 24px;

        &::after {
          display: block;
          background: @upd-light-blue;
          width: 80px;
          height: 6px;
          content: "";
          margin: 30px 0;
        }
      }

      p {
        font-size: 15px;
        line-height: 1.8;
        // max-width: 600px;
        color: #666;
      }

      svg {
        position: absolute;
        top: 5%;
        left: -5%;
        width: 20px;
        height: 25px;

        @media @screen768 {
          display: none;
        }
      }
    }

    &-list {
      .display-flex();
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      @media screen and (max-width: 880px) {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 10%;
      }

      @media screen and (max-width: 660px) {
        margin: 3%;
      }

      @media screen and (max-width: 562px) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }
    &-tile {
      // width: 23%;
      flex-basis: 250px;
      flex: 1;
      height: 352px;

      padding: 38px 28px 28px 28px;
      border-radius: 8px;

      margin-bottom: 40px;
      background: #fff;
      box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);

      .display-flex();
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;

      position: relative;
      overflow: hidden;

      margin-right: 15px;

      &:nth-last-child(1) {
        margin-right: 0px;
      }

      h3 {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 16px;
        max-width: 90%;
      }

      span {
        color: #fff;
        font-weight: 300;
        .merriweather();
        font-size: 14px;
        display: block;
        line-height: 1.3;
        width: 82%;
      }

      a {
        font-size: 14px;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;

        background: #fff;

        border-radius: 30px;
        z-index: 1;
        position: relative;

        text-decoration: none;

        transition: transform 0.2s;

        &:hover {
          transform: scale(1.06);
        }

        z-index: 1;
      }

      svg,
      img {
        position: absolute;
        bottom: -5px;
        right: -5px;
        z-index: 0;
        display: block;

        max-width: 200px;
        // max-height: 160px;

        &.calculate {
          right: 10px;
          width: 200px;
          height: 180px;
          bottom: -10px;
        }
        &.truck {
          right: 30px;
          height: 220px;
          bottom: -30px;
        }
        &.boxes {
          height: 200px;
          right: -30px;
          bottom: -20px;
        }
        &.internet {
          height: 200px;
          bottom: -20px;
          right: -40px;
        }
        @media screen and (max-width: 450px) {
          transform: translateX(20px);
        }
        @media screen and (max-width: 360px) {
          display: none;
        }
      }

      @media screen and (max-width: 880px) {
        flex-basis: 40%;
        margin-bottom: 20px;
        &:nth-child(2) {
          margin-right: 0px;
        }
      }

      @media screen and (max-width: 562px) {
        width: 100%;
        height: 200px;
        margin-bottom: 16px;

        span {
          width: 60%;
        }

        a {
          width: 50%;
        }
      }

      @media screen and (max-width: 425px) {
        a {
          width: 70%;
        }
      }

      @media screen and (max-width: 430px) {
        padding: 24px;
      }
      @media screen and (max-width: 360px) {
        span {
          width: 95%;
        }
        a {
          width: 100%;
        }
      }

      // Card distinctions
      &:nth-child(1) {
        background: @upd-navy;
        a {
          color: @upd-navy;
        }

        img {
          bottom: -60px;
          right: -5px;
          max-width: 140px;
          max-height: none;

          @media screen and (max-width: 420px) {
            bottom: -90px;
            right: -20px;
            max-width: 110px;
          }
        }
      }

      &:nth-child(2) {
        background: @upd-blue;
        a {
          color: @upd-blue;
        }

        img {
          right: -30px;

          @media screen and (max-width: 420px) {
            max-width: 130px;
          }
        }
      }

      &:nth-child(3) {
        background: @upd-turquoise;
        a {
          color: @upd-turquoise;
        }

        img {
          width: 240px;
          height: 280px;

          max-height: none;
          max-width: none;
          bottom: -90px;
          right: 20px;

          @media screen and (max-width: 515px) {
            bottom: -110px;
            width: 210px;
            height: 220px;
          }

          @media screen and (max-width: 420px) {
            right: -10px;
          }
        }
      }

      &:nth-child(4) {
        background: @upd-light-green;
        a {
          color: @upd-light-green;
        }

        img {
          max-width: 240px;
          max-height: 220px;
          bottom: -42px;
          right: 10px;

          @media screen and (max-width: 490px) {
            right: -40px;
          }
        }
      }
    }
    &-tile-text {
      z-index: 1;
    }
  }
  &--learn-more {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    color: #fff;
    // height: 1px;
    font-size: 15px;
    max-width: 100%;
    z-index: 2;
    line-height: 1;
    h5 {
      margin: 0;
      font-weight: 400;
    }
    div {
      // transform: translateY(-46px);
      background: @upd-pink;
      max-width: 450px;
      margin: 0 auto;
      padding: 16px 26px;
      border-radius: 10px 10px 0 0;

      text-align: center;

      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    }

    a {
      text-decoration: underline;
      cursor: pointer;
      color: #fff;
    }

    @media @screen550 {
      font-size: 12px;
      padding: 0 5px;

      div {
        padding: 12px 3px;
      }
    }
  }
  &--feedback {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    h6 {
      text-transform: none;
      font-size: 21px;
      margin: 0;
      margin-bottom: 10px;
    }
    button {
      width: 80px;
      background: #fff;
      border: none;
      border: 1px solid #ccc;
      border-radius: 10px;
      align-items: center;
      margin-right: 5px;
      justify-content: center;
      outline: none;
      transition: transform 0.2s, background 0.2s;
      font-size: 15px;
      font-weight: 200;
      color: #555;
      .display-inline-flex();
      align-items: center;
      padding: 5px 10px;
      &.feedback-yes.active {
        background: @upd-light-green;
        color: #fff;
        svg {
          display: none;
          &.ko {
            display: block;
          }
        }
      }
      &.feedback-no.active {
        background: #ab242a;
        color: #fff;
        svg {
          display: none;
          &.ko {
            display: block;
          }
        }
      }
      svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        pointer-events: none;
        &.ko {
          display: none;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }
  }
}
