.free-tools {
  .navbar-height-adjustment();;

  &--hero {
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1553534914/website/2018-revamp-assets/photos/shutterstock_1081250972.jpg");
    background-size: cover;
    background-position: center right;
    height: 222px;
  }
  &--hero-heading {
    .display-flex();
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h1,
    h4 {
      margin: 0;
      color: @upd-navy;
      transition: font-size 0.2s, max-width 0.2s;
    }
    h1 {
      font-weight: 900;
      font-size: 36px;
      line-height: 1.1111111111111;
      margin-bottom: 20px;
    }
    h4 {
      .merriweather();
      font-size: 18px;
      line-height: 1.882352941176417;
      max-width: 480px;
    }
    @media @screen768 {
      h1 {
        font-size: 32px;
      }
      h4 {
        font-size: 16px;
        max-width: 420px;
      }
    }
    @media screen and (max-width: 660px) {
      h1 {
        font-size: 30px;
      }
      h4 {
        font-size: 14px;
      }
    }
    @media @screen550 {
      h4 {
        background: rgba(255, 255, 255, 0.7);
        max-width: 320px;
        padding: 5px 10px;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
  &--call-number {
    background: @upd-light-blue;
    text-align: center;
    font-weight: 200;
    color: #fff;
    line-height: 1.2;
    padding: 10px 0;
    a {
      color: #fff;
      text-decoration: underline;
      font-weight: 400;
    }
  }
  &--two-up {
    padding: 60px 0;
    &:nth-of-type(2n + 1) {
      background: lighten(@upd-navy, 67%);
    }
    @media @screen992 {
      padding-bottom: 5px;
    }
  }

  &--grid-wrapper {
    .display-flex();
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &--grid {
    .display-flex();
    justify-content: space-between;
    width: 48%;
    @media @screen992 {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      width: 600px;
    }
    @media @screen550 {
      width: 100%;
    }
    &-item {
      width: 100%;
    }
    &-item-heading {
      font-weight: 900;
      .display-flex();
      &-timeline {
        color: #fff;
        background: @upd-light-blue;
        .display-flex();
        align-items: center;
        padding: 5px 25px 8px;
      }
      &-timeline-number {
        font-size: 41px;
        line-height: 1;
        padding-right: 10px;
      }
      &-timeline-notes {
        .display-flex();
        line-height: 1;
        flex-direction: column;
        font-size: 12px;
        span:first-of-type {
          font-size: 20px;
        }
      }
      &-text {
        background: #fff;
        flex: 1;
        .display-flex();
        font-size: 21px;
        color: @upd-light-blue;
        padding-left: 25px;
        line-height: 1;
        align-items: center;
      }
      @media @screen550 {
        flex-direction: column;
        &-timeline {
          color: @upd-light-blue;
          // height: 30px;
          background: #fff !important;
          padding-top: 10px;
          padding-bottom: 0;
          border-top: 5px solid @upd-light-blue;
        }
        &-timeline-number {
          font-size: 17px;
          padding-right: 0;
          margin-right: 5px;
        }
        &-timeline-notes {
          font-size: 12px;
          flex-direction: row;
          span:first-of-type {
            font-size: 12px;
            margin-right: 5px;
          }
          span:last-of-type::after {
            content: ":";
          }
        }
        &-text {
          padding-top: 5px;
          padding-bottom: 25px;
        }
      }
    }
    &-subgrid {
      margin-top: 25px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        .display-flex();
        flex-direction: column;
        padding: 20px;
        background: #fff;
        width: 48.5%;
        margin-bottom: 15px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        &:hover {
          transform: scale(1.02);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
        @media @screen550 {
          width: 100%;
        }
      }
      &-item-title {
        .display-flex();
        flex-direction: column;
        margin-bottom: 13px;
        .freetool-icon {
          .display-flex();
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          margin-bottom: 16px;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
          background: lighten(@upd-navy, 67%);
          svg {
            width: 30px;
            height: 30px;
            fill: @upd-light-blue;
          }
        }
        h5 {
          line-height: 1.388888888888888888889;
          font-size: 18px;
          color: #000;
          font-weight: 200;
          margin: 0;
        }
        @media @screen550 {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          .freetool-icon {
            margin-bottom: 0;
            margin-right: 16px;
            flex-basis: 50px;
            flex-shrink: 0;
          }
          h5 {
            padding-top: 10px;
            padding-bottom: 10px;
          }
          br {
            display: none;
          }
        }
      }
      &-item-cta.text,
      &-item-cta a {
        color: @upd-light-blue;
        margin: 0;
        font-size: 13px;
        line-height: 1;
        font-weight: 200;
        height: 35px;
        display: block;
      }
      &-item-cta.text,
      &-item-cta {
        @media @screen550 {
          margin-left: 65px;
          margin-bottom: 10px;
          height: auto;
        }
      }
    }
  }

  &--setup {
    .free-tools--grid-item-heading-timeline {
      background: @upd-turquoise;
      @media @screen550 {
        color: lighten(@upd-turquoise, 10%);
        border-top-color: @upd-turquoise;
      }
    }
    #free-tools--internet_pulldown {
      border-radius: 0;
      font-weight: 200;
      font-size: 14px;
      height: 31px;
      border: 1px solid #ddd;
      color: #000;
      .merriweather();
      width: calc(100% - 30px);
      // max-width: 350px;
      option {
        font-weight: 200;
        font-size: 14px;
      }
      @media @screen550 {
        // width: calc(100% - 40px);
        max-width: 350px;
      }
    }
    button.tv-internet_select {
      margin-left: 5px;
      font-weight: 900;
      background: @upd-turquoise;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 31px;
    }
    .free-tools--grid-item-heading-text {
      color: @upd-turquoise;
    }
    .free-tools--grid-subgrid-item-cta.text {
      color: darken(@upd-turquoise, 20%);
    }
    .freetool-icon svg {
      fill: @upd-turquoise;
    }
  }
  &--moving-plan {
    .free-tools--grid-item-heading-timeline {
      background: @upd-light-green;
      @media @screen550 {
        color: lighten(@upd-light-green, 10%);
        border-top-color: @upd-light-green;
      }
    }
    .free-tools--grid-item-heading-text {
      color: @upd-light-green;
    }
    .freetool-icon svg {
      fill: @upd-light-green;
    }
    .free-tools--grid-subgrid-item-cta.text {
      color: darken(@upd-light-green, 20%);
    }
    .free-tools--find-a-mover-form {
      .display-flex();
      width: 100%;
      max-width: 300px;
      @media @screen550 {
        max-width: 350px;
      }
    }
    .free-tools-mover-search {
      border: 1px solid #ddd;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
      width: 100%;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 5px;
      font-weight: 200;
      border-radius: 0 !important;
    }
    .free-tools-mover-search-button {
      font-weight: 900;
      color: #fff;
      margin: 0;
      background: @upd-light-green;
      border: none;
      border-radius: 0 !important;
    }
  }
  &--packing {
    .free-tools--grid-item-heading-timeline {
      background: @upd-yellow;
      @media @screen550 {
        color: lighten(@upd-yellow, 10%);
        border-top-color: @upd-yellow;
        background: lighten(@upd-navy, 67%) !important;
      }
    }
    .free-tools--grid-item-heading-text {
      color: @upd-yellow;
    }
    .free-tools--grid-subgrid-item-cta.text {
      color: @upd-orange;
    }
    .freetool-icon svg {
      fill: @upd-yellow;
    }

    .free-tools--grid-item-heading {
      &-text {
        background: lighten(@upd-navy, 67%);
      }
    }
    .account-update {
      &-text {
        background: lighten(@upd-navy, 67%);
      }
    }
  }
  &--account-update {
    .free-tools--grid-item-heading {
      &-timeline {
        background: @upd-blue;
        @media @screen550 {
          font-size: 12px;
          color: lighten(@upd-blue, 10%);
          border-top-color: @upd-blue;
          background: lighten(@upd-navy, 67%) !important;
          span {
            font-size: 12px;
          }
        }
      }
      &-text {
        color: @upd-blue;
      }
      &-timeline-notes {
        font-size: 20px;
      }
      &-text {
        background: lighten(@upd-navy, 67%);
      }
    }
    .freetool-icon svg {
      fill: @upd-blue;
    }
    .free-tools--grid-subgrid-item-cta {
      .display-flex();
      color: @upd-blue;
      width: 100%;
      @media @screen550 {
        width: auto;
      }
    }
    #free-tools--license-select-state {
      border-radius: 0;
      font-weight: 200;
      font-size: 14px;
      height: 31px;
      border: 1px solid #ddd;
      option {
        font-weight: 200;
        font-size: 14px;
      }
      @media @screen550 {
        width: 100%;
        max-width: 250px;
      }
    }
    .free-tools--select-state-btn {
      font-weight: 900;
      background: @upd-blue;
      border: none;
      color: #fff;
      // font-size: 15px;
    }
  }
  &--concierge {
    .free-tools--grid-item-heading {
      &-timeline {
        padding-left: 3px;
        padding-right: 3px;
        @media @screen550 {
          padding: 0;
        }
      }
    }
    .free-tools--grid-subgrid-item {
      width: 100%;
      .freetool-icon {
        margin-bottom: 0;
        margin-right: 20px;
      }

      &-title {
        flex-direction: row;
        align-items: center;
      }
      &-cta {
        margin-left: 70px;
        font-size: 15px;
        line-height: 1.6666666666666666667;
        max-width: 382px;
        h6 {
          color: @upd-light-blue;
          font-weight: 400;
          margin: 0;
          text-transform: none;
          margin-bottom: 10px;
        }
        p {
          color: #000;
          font-weight: 200;
        }
        a {
          font-size: 19px;
          line-height: 1.6;
          box-sizing: content-box;
          border: none;
          color: #fff;
          background: @upd-light-blue;
          padding: 10px 25px;
          border-radius: 10px;
          display: inline-block;
          transition: background 0.2s;
          &:hover {
            background: @upd-pink;
          }
        }
      }
    }
    @media @screen992 {
      padding-bottom: 40px;
    }
  }
  .blog-preview-items {
    background: #fff;
  }
}
