.no-nav-header {
  background: transparent;
  box-shadow: none;
  position: relative;
  margin-bottom: -@navbar-height;
}

.d2c-internet-2019 {
  overflow: hidden;
  // margin-top: @navbar-height;
  &--hero {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    height: 100%;
    // border: 1px solid red;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1554999875/website/2019-d2c-direction/heros/shutterstock_403523578_for-web_person.jpg")
        no-repeat 70%,
      url("https://res.cloudinary.com/updater-marketing/image/upload/v1554999875/website/2019-d2c-direction/heros/shutterstock_403523578_for-web_boxes.jpg")
        no-repeat 20%;
    background-size: cover;
    position: relative;
    &-heading {
      // padding-top: calc(@navbar-height + 80px);
      padding-top: 20vmin;
      position: static;
      height: 100%;
      // position: relative;
      h1,
      h2,
      ul {
        margin: 0;
        padding: 0;
      }
      h1,
      h2 {
        font-weight: 900;
        line-height: 1.4;
      }
      h1 {
        color: @upd-navy;
        font-size: 43px;
      }
      h2 {
        margin-top: 15px;
        font-size: 25px;
        color: @upd-light-blue;
      }
      ul {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      li {
        color: #000;
        font-size: 18px;
        font-weight: 200;
        &::before {
          content: "";
          display: inline-block;
          margin-top: 10px;
          height: 15px;
          width: 15px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1555002298/website/2019-d2c-direction/icons/yes.svg");
          margin-right: 10px;
        }
      }
      a {
        padding: 15px 30px;
        background: @upd-light-blue;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        font-weight: 200;
        border-radius: 30px;
        line-height: 1;
        transition: background 0.2s, transform 0.2s;
        span {
          font-weight: 400;
        }
        &:hover {
          background: @upd-navy;
          transform: scale(1.02);
        }
      }
      .scroll-prompt {
        animation: pulse-scale 1.5s infinite;
        position: absolute;
        cursor: pointer;
        bottom: 20px;
        left: 50%;
        transform: translateX(-60px);
        text-transform: uppercase;
        font-weight: 900;
        color: @upd-navy;
        text-align: center;
        transition: color 0.2s;
        img {
          width: 20px;
        }
        &:hover {
          color: @upd-pink;
        }
        @media @screen768 {
          margin-left: -40px;
        }
      }
      @media screen and (max-width: 1500px) {
        padding-left: 20vmin;
      }
      @media @screen992 {
        h1 {
          font-size: 36px;
        }
        h2 {
          font-size: 22px;
        }
        li {
          font-size: 16px;
        }
      }
      @media @screen768 {
        padding-left: 10vmin;
      }
      @media screen and (max-width: 600px) {
        padding-left: 5vmin;
      }
      @media @screen550 {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 19px;
        }
        li {
          font-size: 14px;
        }
      }
    }
  }
  &--providers {
    border-bottom: 3px solid @upd-yellow;
    cursor: pointer;
    &-list {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      top: @navbar-height;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      .display-flex();
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: opacity 0.2s, visibility 0.2s;
      &.is-on {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      h5 {
        margin: 0;
        font-size: 19px;
        color: #fff;
        line-height: 1;
      }
      ul {
        position: relative;
        width: 100%;
        // columns: 3 auto;
        .display-flex();
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 640px;
        max-height: 400px;
        background: #fff;
        border-radius: 15px;
        padding: 25px;
        li {
          width: 33%;
          font-size: 15px;
          line-height: 1;
          padding: 7px 0;
          display: block;
          &.close-provider-list {
            position: absolute;
            top: -50px;
            right: 0;
            color: #fff;
            text-align: right;
            border: none;
            cursor: pointer;
          }
          &::before {
            display: none;
          }
        }
      }
      @media screen and (max-width: 670px) {
        ul li {
          font-size: 13px;
        }
      }
      @media @screen550 {
        ul {
          max-height: 450px;
        }
        ul li {
          font-size: 12px;
          width: 48%;
          padding: 5px 0;
        }
      }
      @media screen and (max-width: 370px) {
        ul {
          padding-top: 10px;
          padding-bottom: 10px;
          max-height: 330px;
          li {
            padding: 2px 0;
          }
        }
      }
    }
  }
  &--how-it-works {
    padding: 100px 10px;
    text-align: center;
    h2 {
      font-weight: 900;
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
      line-height: 1.2;
      font-size: 33px;
      color: @upd-light-blue;
    }
    h5 {
      color: @upd-navy;
      margin: 0 auto;
      margin-top: 30px;
      font-weight: 200;
      text-align: center;
      font-size: 21px;
      line-height: 1.45;
      margin-bottom: 30px;
    }
    a {
      margin: 0 auto;
      background: @upd-light-blue;
      padding: 15px 40px;
      color: #fff;
      line-height: 1;
      font-weight: 200;
      font-size: 20px;
      display: inline-block;
      border-radius: 30px;
      transition: transform 0.2s, background 0.2s;
      &:hover {
        background: @upd-navy;
        transform: scale(1.02);
      }
    }
    @media @screen768 {
      h2 {
        font-size: 28px;
        margin-bottom: 25px;
      }
      padding: 60px 10px;
    }
    @media @screen550 {
      h5 {
        font-size: 17px;
      }
    }
  }
  &--grid {
    .display-flex();
    // max-width: 1024px;

    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      text-align: left;
      .display-flex();
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 24%;
      min-height: 120px;
      border-radius: 20px;
      padding: 20px;
      color: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s, transform 0.2s;
      &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.015);
      }
      h3,
      h4 {
        margin: 0;
        line-height: 1.1;
      }
      h3 {
        font-size: 50px;
        color: #fff;
        opacity: 0.7;
      }
      h4 {
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
          font-weight: 200;
        }
      }
      p {
        font-size: 17px;
        line-height: 1.2941176471;
        margin: 0;
      }
      svg {
        align-self: center;
      }
      @media screen and (max-width: 905px) {
        width: 49%;
        margin-bottom: 20px;
        p {
          font-size: 20px;
        }
      }
      @media @screen768 {
        h3 {
          font-size: 40px;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        p {
          font-size: 17px;
        }
      }
      @media @screen550 {
        width: 100%;
        min-height: 180px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        div {
          max-width: 300px;
          transform: translateY(-15px);
        }
        svg {
          transform: scale(1);
        }
      }
    }
    .step1 {
      background: @upd-turquoise;
      svg {
        width: 120px;
        height: 164px;
        position: absolute;
        bottom: 0;
        @media @screen550 {
          position: static;
          bottom: 50px;
        }
      }
    }
    .step2 {
      background: @upd-light-green;
      svg {
        width: 96px;
        height: 96px;
        margin-top: 30px;
      }
    }
    .step3 {
      background: @upd-light-blue;
      svg {
        width: 129px;
        height: 123p;
        margin-top: 20px;
      }
    }
    .step4 {
      background: @upd-yellow;
      color: #000;
      h4 {
        color: #000;
      }
      svg {
        width: 156px;
        height: 134px;
        margin-top: 30px;
      }
    }
    @media @screen768 {
      svg {
        transform: scale(0.9);
      }
      .step1 svg {
        transform: scale(0.8);
        transform-origin: bottom;
      }
    }
  }
  &--testimonial {
    background: lighten(@upd-navy, 67%);
    padding: 60px 60px 90px;
    h2 {
      font-weight: 900;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
      line-height: 1.2;
      font-size: 28px;
      color: @upd-navy;
    }
    .container-2018 {
      max-width: 550px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      padding: 0;
    }
    .mover-app--carousel-inner {
      background: #fff;
    }
    .flickity-prev-next-button .flickity-button-icon {
      left: -30px;
    }
    .flickity-button.flickity-prev-next-button.next {
      right: -80px;
    }
    .flickity-page-dots {
      bottom: -40px !important;
    }
    @media @screen550 {
      .testimonial-words {
        font-size: 15px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        &::before {
          transform: scale(0.5);
          margin-bottom: 5px !important;
        }
      }
      .testimonial-by {
        margin-left: 20px !important;
        margin-right: 20px !important;
      }
      .testimonial-headshot {
        width: 60px !important;
        height: 60px !important;
      }
      .testimonial-name {
        font-size: 15px !important;
      }
      .testimonial-location {
        font-size: 12px !important;
      }
    }
  }
  &--moving-tips {
    background: #fff;
    .blog-list--item-date {
      text-align: left;
      margin-left: 20px;
    }
    h4 {
      padding-top: 0px;
    }
    padding-bottom: 60px;
  }
  .d2c-2019--home-testimonial-carousel h3 {
    max-width: 500px;
  }
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.075);
  }
  100% {
    transform: scale(1);
  }
}
