.d2c-2019--how {
  .navbar-height-adjustment();
  box-sizing: border-box;

  &-hero {
    position: relative;
  }
  &-hero-content {
    .display-flex();
    // height: 100%;
    // min-height: 530px;
    color: @upd-navy;
    justify-content: space-around;
    justify-content: flex-start; // work without image section
    padding-top: 50px;
  }
  &-hero-cta {
    padding: 15px 35px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; // work without image section
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    transition: color 0.2s, background 0.2s;
    border: none;
    background: @upd-light-blue;
    &:hover {
      background: @upd-blue;
    }
    &:focus {
      outline: 0;
      box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4);
    }
    @media screen and (max-width: 720px) {
      font-size: 15px;
      padding: 15px 30px;
    }
    @media @screen550 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-hero-text {
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto; // work without image to side
    margin-right: auto; // work without image to side
    h1,
    h3 {
      margin: 0;
      text-align: center; // work without image to side
      width: 100%;
      max-width: 344px;
    }
    h1 {
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 50px;
      line-height: 1.3;
    }
    h3 {
      margin-bottom: 0px;
      font-size: 20px;
      line-height: 1.4;
    }
    &::after {
      display: block;
      margin: 50px auto 0;
      width: 80px;
      height: 6px;
      background: #eee;
      content: "";
    }
    @media @screen992 {
      h1 {
        font-size: 42px;
      }
      h3 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 720px) {
      padding-right: 15px;
      h1 {
        font-size: 36px;
      }
      h3 {
        font-size: 18px;
        // max-width: 400px;
      }
    }
    @media @screen550 {
      text-align: center;
      padding: 50px 0;
      h1,
      h3 {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-step {
    &-detail {
      .display-flex();
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      @media screen and (max-width: 720px) {
        flex-direction: column;
      }
    }
    &-text {
      .display-flex();
      max-width: 450px;

      text-align: left;
      .step-number {
        .merriweather();
        font-size: 100px;
        color: #ccc;
        margin-right: 30px;
        line-height: 1;
      }
      h3 {
        font-size: 37px;
        color: #9b9b9b;
        line-height: 1.1;
        margin: 0;
        margin-top: 0.25em;
        font-weight: 200;
        span {
          color: @upd-light-blue;
          font-weight: 900;
          display: block;
        }
        &::after {
          display: block;
          margin: 30px 0;
          width: 80px;
          height: 6px;
          background: @upd-light-blue;
          content: "";
        }
      }
      p {
        font-size: 15px;
        line-height: 1.8;
        .merriweather();
        color: #666;
        margin: 0;
      }
      @media @screen992 {
        h3 {
          font-size: 32px;
        }
      }
      @media @screen550 {
        flex-direction: column;
        width: 100%;
        .step-number {
          font-size: 50px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
        h3 {
          margin-left: auto;
          margin-right: auto;
          font-size: 27px;
          text-align: center;
          span {
            display: inline;
          }
          &::after {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    &-img {
      order: 1;
      padding-right: 0px;
      padding-left: 20px;
      &.on-left {
        order: -1;
        padding-left: 0;
        padding-right: 20px;
        @media screen and (max-width: 720px) {
          order: 2 !important;
          padding-left: 0;
          padding-right: 0;
          margin-top: 40px;
        }
      }
      @media screen and (max-width: 720px) {
        order: 2;
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
        img {
          max-width: 320px !important;
        }
      }
    }
    &-1 {
      padding: 80px 0 40px;
      padding: 60px 0 40px; // work without hero image
      background: #fff;
      h2 {
        margin: 0;
        margin-bottom: 40px; // work without hero image
        font-size: 50px;
        font-size: 40px; // work without hero image
        margin-left: auto; // work without hero image
        margin-right: auto; // work without hero image
        text-align: center; // work without hero image
        line-height: 1;
        color: @upd-navy;
        font-weight: 900;
      }
      img {
        width: 100%;
        max-width: 434px;
      }
      @media @screen992 {
        padding: 60px 0 20px;
        padding: 30px 0 20px; // work without hero image
        h2 {
          font-size: 40px;
          margin-top: 10px; // work without hero image
          margin-bottom: 30px; // work without hero image
        }
      }
      @media screen and (max-width: 720px) {
        h2 {
          text-align: center;
          margin-top: 40px;
          font-size: 42px;
        }
      }
      @media @screen550 {
        padding-top: 0;
        h2 {
          margin-top: 0px;
          font-size: 36px;
        }
      }
    }
    &-2 {
      padding: 40px 0 0;
      background: lighten(@upd-navy, 65%);

      .d2c-2019--how-step-detail {
        padding-bottom: 0;
      }
      img {
        max-width: 305px;
        @media @screen550 {
          max-width: 240px !important;
        }
      }
      h3 {
        max-width: 300px;
      }
    }
    &-3 {
      text-align: center;
      padding: 40px 0;
      background: #fff;
      img {
        max-width: 401px;
      }
    }
  }
  &-features {
    display: inline-block;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px 40px;
    line-height: 1;
    background: @upd-light-blue;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    transition: background 0.2s;
    &:hover {
      background: @upd-navy;
      color: #fff;
    }
    @media screen and (max-width: 720px) {
      font-size: 15px;
      padding: 15px 30px;
    }
  }
}

.get-started-split--in-body {
  background: lighten(@upd-navy, 65%);

  &.colored-bg {
    background: lighten(@upd-navy, 65%);
  }
  .display-flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 80px;
  h4 {
    position: relative;
    color: @upd-blue;
    font-size: 33px;
    line-height: 1.212121212121212;
    font-weight: 800;
    text-align: center;
    span {
      color: @upd-navy;
      font-size: 1.21212121em;
      display: block;
      margin-bottom: 5px;
    }
    @media @screen550 {
      font-size: 28px;
    }
    @media screen and (max-width: 370px) {
      font-size: 22px;
    }
  }
  .d2c-invite-tooltip {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    color: @upd-navy;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    .merriweather();
    &:hover::after {
      // display: block;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      // pointer-events: all;
    }
    &::after {
      // display: none;
      transition: transform 0.2s, opacity 0.2s;
      // visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100px);
      position: absolute;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 7px;
      top: 30px;
      left: 120px;
      width: 300px;
      right: auto;
      font-size: 14px;
      line-height: 1.6428571429;
      color: #4a4a4a;
      background: #fff;

      content: "Updater is available through exclusive partnerships with brokerages, property managers, and moving companies. You may have received an invite from one of our partners. If not, don’t sweat it. We have tons of free resources to make your move easier.";
    }
    @media @screen768 {
      margin-bottom: 20px;
      &::after {
        left: 30px;
      }
    }
    @media @screen550 {
      &::after {
        font-size: 12px;
        left: 10px;
        right: 10px;
        width: auto;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .display-flex();
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    @media @screen768 {
      flex-direction: column;
      max-width: 400px;
    }
  }
  li {
    width: 48%;
    .display-flex();
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 20px;
    h5,
    h6 {
      pointer-events: none;
      color: #fff;
      width: 100%;
      margin: 0;
      text-align: center;
      font-weight: 800;
      text-transform: none;
    }
    h5 {
      font-size: 32px;
      line-height: 1.1875;
      margin-bottom: 15px;
    }
    h6 {
      font-size: 19px;
      line-height: 1.2105;
      margin-bottom: 20px;
    }
    a {
      background: #fff;
      border-radius: 25px;
      padding: 15px 20px;
      font-size: 14px;
      line-height: 1;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.0001);
      transition: box-shadow 0.2s, transform 0.2s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
    &.get-started-no-invite {
      background: @upd-light-blue;
      a {
        color: @upd-light-blue;
        min-width: 50%;
        text-align: center;
      }
    }
    &.get-started-invite {
      background: @upd-light-green;
      a {
        color: @upd-light-green;
        min-width: 50%;
        text-align: center;
      }
    }
    @media @screen768 {
      width: 100%;
      padding: 20px;
      margin-bottom: 15px;
    }
    @media @screen550 {
      h5 {
        font-size: 27px;
      }
      h6 {
        font-size: 16px;
      }
    }
  }
}

.get-started--to-claim {
  .display-flex();
  background: lighten(@upd-navy, 65%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  h4 {
    font-weight: 800;
    color: @upd-navy;
    text-align: center;
    font-size: 32px;
    margin: 0;
    margin-bottom: 15px;
  }
  h6 {
    margin: 0;
    .merriweather();
    max-width: 550px;
    text-transform: none;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
  }
  a {
    padding: 10px 27px;
    background: #fff;
    border: 2px solid @upd-light-blue;
    color: @upd-light-blue;
    border-radius: 30px;
    transition: background 0.2s, color 0.2s;
    &:hover {
      background: @upd-light-blue;
      color: #fff;
    }
  }
  @media @screen550 {
    h4 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    h6 {
      font-size: 16px;
    }
    a {
      border-width: 1px;
    }
  }
}
