body,
html {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh;
}
.maintenance-mode {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #ee7752,
    @upd-pink,
    @upd-light-blue,
    @upd-blue
  );
  .display-flex();
  background-size: 400% 400%;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  &-logo {
    width: 500px;
    margin-bottom: 20px;
  }
  h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
  }
  h4 {
    .merriweather();
    font-size: 20px;
    max-width: 550px;
    text-align: center;
  }
  &-social {
    margin-top: 20px;
    width: 140px;
    .display-flex();
    justify-content: space-between;

    &-logo {
      width: 30px;
      opacity: 0.6;
      transition: opacity 0.2s, transform 0.2s;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
  @media @screen768 {
    &-logo {
      width: 300px;
    }
    h1 {
      font-size: 32px;
    }
    h4 {
      font-size: 16px;
      width: 320px;
    }
  }
  @media @screen550 {
    &-logo {
      width: 200px;
    }
    h1 {
      font-size: 24px;
    }
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
