.claim-updater {
  min-height: ~"calc(100vh - 375px)";
  .display-flex();
  flex-direction: column;
  &--form-section {
    // .navbar-height-adjustment();
    .display-flex();
    flex: 1;
    width: 100%;
  }
  &--form-area,
  &--app-screen {
    width: 50%;
  }
  &--app-screen {
    .display-flex();
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    img {
      // max-width: 100%;
      margin-top: 26px;
      height: auto;
      max-width: 430px;
    }
    @media @screen992 {
      width: 80%;
      margin-left: 30px;
    }
    @media screen and (max-width: 880px) {
      display: none !important;
    }
  }

  &--testimonial {
    width: 100%;
    margin-top: 46px;
    min-height: 140px;
  }
  &--carousel {
    &-container {
      height: 100%;
      width: 100%;

      .flickity-button.flickity-prev-next-button.previous,
      .flickity-button.flickity-prev-next-button.next {
        background: transparent !important;
        display: none;
        top: 40%;
        svg.flickity-button-icon {
          transform: scale(2);
          fill: #ffffff;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
          @media @screen992 {
            transform: scale(1.6);
          }
        }
      }
      ol.flickity-page-dots {
        transform: translateY(-60px);
        display: none;
      }
    }

    &-inner {
      .display-flex();
      width: 100%;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    &-quote {
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      width: calc(100% - 25px);
      margin: 0 auto;
      box-sizing: border-box;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      line-height: 1.8;
      font-size: 15px;
      .merriweather();
      font-style: italic;
      z-index: 1;
      color: #868686;
      // background: #fff;
      border-radius: 15px;
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      span {
        display: block;
        margin-top: 10px;
      }
      .moving-to {
        margin-top: 5px;
        font-size: 16px;
        padding-left: 25px;
      }
      &::before {
        content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545437502/website/2018-revamp-assets/icons/quote-marks.svg");
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        transform: scale(0.85);
        // transform: translateX(200px) translateY(-10px) scale(1);
        // filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
      }
    }

    @media @screen992 {
      &-quote {
        font-size: 16px;
        .moving-to {
          margin-top: 0;
          font-size: 12px;
        }
      }

      &-photo {
        width: 40%;
        img {
          transform: scale(0.9);
          transform-origin: bottom;
        }
      }
    }
    @media screen and (max-width: 900px) {
      &-photo {
        img {
          transform: scale(0.7) translateX(-60px);
          transform-origin: bottom;
        }
      }
    }
    @media @screen768 {
      &-quote {
        // width: 60%;
        // font-size: 16px;
        // .moving-to {
        //   font-size: 12px;
        // }
      }
      &-photo {
        img {
          transform: scale(0.6) translateX(-60px);
        }
      }
    }
    @media screen and (max-width: 650px) {
      &-inner {
        flex-direction: column;
      }
      &-quote,
      &-photo {
        // width: 60%;
      }

      &-photo {
        transform: translateX(120px) translateY(-200px);
        img {
          transform: scale(0.5) translateY(100px);
        }
      }
    }
    @media @screen550 {
      &-quote {
        line-height: 1.5;
        // width: 70%;
        &::before {
          // transform: translateX(100px) translateY(-10px) scale(1);
        }
      }
      &-photo {
        transform: translateX(0px) translateY(-180px);
        img {
          transform: scale(0.55) translateY(100px);
        }
      }
    }
  }

  &--form-area {
    // padding-top: 40px;
    // padding-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 110px;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0;
      margin-bottom: 20px;
      max-width: 450px;
      font-size: 33px;
      line-height: 1.2727272727272727;
      color: @upd-light-blue;
      font-weight: 200;
      @media @screen992 {
        font-size: 27px;
        max-width: 480px;
      }
      @media screen and (max-width: 920px) {
        // font-size: 24px;
        // max-width: 490px;
      }
      @media screen and (max-width: 880px) {
        font-weight: 800;
        max-width: 520px;
      }
    }
    h3 {
      margin: 0;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 1.4;
      color: #777;
      max-width: 500px;
      @media @screen992 {
        font-size: 15px;
      }
      @media screen and (max-width: 880px) {
        margin: 0 auto 20px;
      }
    }
    &-ss-form {
      max-width: 450px;
      width: 100%;
    }
    &-clarification {
      display: block;
      max-width: 450px;
      margin-top: 10px;

      color: #777;
      text-align: left;
      font-weight: 200;
      font-style: italic;
      font-size: 14px;
      line-height: 1.3;
      position: relative;
      div {
        display: inline;
        position: relative;
      }
      a {
        text-decoration: underline;
        display: inline-block;
        color: @upd-light-blue;
        cursor: pointer;
        position: relative;
      }
      &-tooltip {
        display: none;
        width: 380px;

        border-radius: 12px;
        background: #e8eff2;
        padding: 20px;
        box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.25);

        position: absolute;
        bottom: 260%;
        left: -140px;

        color: #777;
        font-style: normal;
        text-align: left;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;

          margin-left: -15px;
          border-width: 10px;
          border-style: solid;
          border-color: #e8eff2 transparent transparent transparent;
        }

        img {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 16px;
          display: block;
          cursor: pointer;

          @media screen and (max-width: 560px) {
            top: 3px;
            right: 3px;
          }
        }

        &.tooltip-active {
          display: block;
          @media screen and (max-width: 901px) and (min-width: 881px) {
            transform: translateX(150px);
          }
        }

        &.mobile-only {
          position: absolute;
          top: -158px;
          width: 94%;
          left: 3%;
          z-index: 13;

          padding: 24px 20px;

          bottom: none;
          display: none;

          &.tooltip-active {
            height: 140px;
            display: block;
            @media screen and (max-width: 427px) {
              height: 160px;
              top: -180px;
            }
            @media screen and (max-width: 325px) {
              height: 200px;
              top: -220px;
            }
          }

          img {
            box-sizing: content-box;
            width: 20px;
            padding: 6px;
          }

          @media screen and (min-width: 561px) {
            display: none !important;
          }
        }

        &.desktop-only {
          @media screen and (max-width: 560px) {
            display: none !important;
          }
        }
      }
    }
    &-contact-msg {
      display: block;
      max-width: 450px;

      margin-top: 20px;
      .merriweather();
      font-size: 13px;
      line-height: 1.3;
      color: #aaaaaa;
      text-align: center;
      a {
        color: @upd-blue;
        text-decoration: none;
        &:hover {
          color: @upd-pink;
        }
      }
    }
    @media screen and (max-width: 880px) {
      width: 100%;
      & > *,
      h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  &--success-message {
    padding-top: 150px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    h2,
    h4 {
      text-align: center;
    }
    h2 {
      color: @upd-light-blue;
      font-size: 45px;
      line-height: 1.4;
      @media @screen768 {
        font-size: 42px;
      }
    }
    h4 {
      display: block;
      margin: 0 auto;
      font-size: 22px;
      .merriweather();
      line-height: 1.75;
      color: @upd-navy;
      max-width: 550px;
      @media @screen768 {
        font-size: 17px;
      }
    }
  }

  &--next-steps {
    padding-top: 20px;
    padding-bottom: 60px;
    background: @upd-navy;
    h2 {
      color: #fff;
      text-align: center;
      font-weight: 800;
      color: #fff;
      font-size: 28px;
      line-height: 1.214285714;
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    &-grid {
      .display-flex();
      justify-content: space-between;
      margin-top: 25px;
      &-item {
        width: 32%;
        background: #fff;
        min-height: 220px;
        position: relative;
        transition: box-shadow 0.2s, transform 0.2s;
        &:hover {
          transform: scale(1.015);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        }
        svg {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
        h4 {
          margin-top: 50px;
          margin-left: 20px;
          font-weight: 800;
          font-size: 19px;
          line-height: 1.294117647058824;
          position: relative;
        }
        @media @screen992 {
          min-height: 200px;
          h4 {
            margin-top: 20px;
          }
        }
        @media @screen768 {
          width: 100%;
          margin-bottom: 15px;
          min-height: 170px;
          h4 {
            margin-top: 50px;
          }
        }
      }
      @media @screen768 {
        max-width: 500px;
        flex-direction: column;
      }
      .tool-type {
        position: absolute;
        top: 0;
        left: 0;
        padding: 7px 10px;
        font-size: 12px;
        line-height: 1;
        color: #fff;
        font-weight: 800;
      }
      .select-state-btn {
        font-size: 13px;
        border: none;
        height: 30px;
        line-height: 30px;
        font-weight: 800;
        color: #fff;
        background: @upd-light-blue;
        transition: background 0.2s;
        box-sizing: border-box;
        position: relative;
        &:hover {
          background: @upd-pink;
          transform: scale(1.05);
        }
      }
      #tools-select-state {
        margin-left: 20px;
        font-size: 13px;
        height: 30px;
        box-sizing: border-box;
        position: relative;
        background: #fff;
      }

      a {
        font-weight: 800;
        margin-left: 20px;
        margin-top: 10px;
        padding: 8px 15px;
        border-radius: 30px;
        font-size: 13px;
        background: @upd-light-blue;
        color: #fff;
        position: relative;
        transition: background 0.2s, color 0.2s;
        &:hover {
          background: @upd-navy!important;
          color: #fff !important;
        }
      }
      .m-checklist {
        background: #ffdf5b;
        svg {
          width: 90px;
          height: 120px;
        }
        .tool-type {
          background: @upd-light-blue;
        }
      }
      .m-mover {
        background: @upd-light-blue;
        svg {
          width: 110px;
          height: 110px;
        }
        h4 {
          color: #fff;
        }
        a {
          background: #fff;
          color: @upd-light-blue;
        }
        .tool-type {
          background: @upd-light-blue;
        }
      }
      .m-internet {
        background: @upd-turquoise;
        h4 {
          color: #fff;
        }
        svg {
          width: 100px;
          height: 110px;
          margin-right: 10px;
        }
        a {
          background: #fff;
          color: @upd-turquoise;
          &:hover {
            background: @upd-navy!important;
          }
        }
        .tool-type {
          background: @upd-light-blue;
        }
      }
      .m-boxguide {
        background: @upd-light-blue;
        svg {
          width: 130px;
          height: 100px;
        }
        .tool-type {
          background: @upd-blue;
        }
        a {
          background: #fff;
          color: @upd-light-blue;
        }
      }
      .m-license {
        background: @upd-blue;
        svg {
          width: 130px;
          height: 110px;
          bottom: 0;
          z-index: 0;
        }
        .tool-type {
          color: @upd-blue;
          background: #fff;
        }
        h4 {
          color: #fff;
        }
      }
    }
  }

  // Nav item styles below
  &--desktop {
    .display-flex();
  }
  &--mobile {
    display: none !important;
  }
  @media @screen992 {
    &--desktop {
      display: none !important;
    }
    &--mobile {
      opacity: 1;
      .display-flex() !important;
    }
  }
  &--navbar-heading {
    color: @upd-pink;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.2;
    text-align: right;
    @media @screen550 {
      display: none;
    }
  }
  &--footbox {
    max-width: 600px;
    .img-block {
      margin-bottom: 0;
    }
    @media @screen992 {
      .foot-blocks {
        margin-left: 0;
      }
    }
  }
  &--foot-nav {
    li {
      text-align: center;
    }
  }
  &--foot-items {
    .display-flex();
    height: 105px;
    flex-direction: column;
    justify-content: space-between;
    @media @screen992 {
      height: auto;
    }
  }
  &--post-submission {
    display: none;
  }
  &--find-a-mover-form {
    margin-left: 20px;
    width: 200px;
    .display-flex();
    box-sizing: border-box;
  }
  &-mover-search {
    width: 150px;
    font-size: 15px;
    box-sizing: border-box;
    padding: 5px 10px;
    &-button {
      width: 50px;
      border: 0;
      background: @upd-navy;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
    }
  }
}

#claim-updater--form-block-field {
  text-align: left !important;
  .title {
    font-weight: 200;
    color: #000;
  }
  .form-item.email::after {
    // content: "Please use the same email you provided to your new community.";
    color: #999999;
    font-size: 14px;
    font-weight: 200;
  }
  .field {
    margin-bottom: 15px;
  }
  .button.sqs-system-button.sqs-editable-button {
    width: 100%;
    background: @upd-light-blue;
    text-transform: none;
    margin-top: 15px;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 0;
    padding: 10px;
    transition: background 0.2s;
    &:hover {
      background: @upd-navy;
    }
  }
  .sqs-block.form-block.sqs-block-form {
    padding-bottom: 5px !important;
  }
}
