.moving-tips--cicada-sidebar-banner-area {
  height: 400px;
  width: 275px;
  height: 250px;
  // background: #EEE;
  position: relative;
  // background: url('https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1555342574/website/banners/shutterstock_145609072_cicada.jpg');
  background-size: cover;
  box-sizing: border-box;
  // border: 10px solid @upd-light-blue;
  background: @upd-light-blue;
  background: linear-gradient(45deg, @upd-light-blue, #5e3791);
  background-size: 200% 200%;
  padding: 20px;
  color: #fff;
  animation: bg-gradient-flow 20s infinite;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  &:hover {
    transform: scale(1.025);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  h5 {
    z-index: 1;
    // text-align: center;
    font-size: 18px;
    line-height: 1.4;
    margin: 30px auto 0;
    width: 190px;
    em {
      animation: h5-pulse infinite 10s;
    }
  }
  h6 {
    width: 200px;
    margin: 15px auto 0;
    margin-top: 15px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    text-transform: none;
  }
  .cicada-btn {
    display: block;
    width: 200px;
    padding: 10px 0;
    line-height: 1;
    margin: 160px auto 0;
    text-align: center;
    background: @upd-light-blue;
    border-radius: 30px;
    color: #fff;
    animation: btn-color-change 20s infinite;
  }
}

.moving-tips--cicada-sidebar-banner,
.moving-tips--cicada-footer-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.no-border-top {
  border-top: none;
  padding-top: none;
}
.moving-tips--cicada-footer-banner-area {
  width: 100%;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1555425570/website/banners/shutterstock_1109358494-cicada-footer.jpg");
  border: 10px solid @upd-light-blue;
  .display-flex();
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 40px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  &:hover {
    transform: scale(1.025);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  @media @screen768 {
    flex-direction: column;
    height: 400px;
    background-color: #f1efe6;
    background-size: 800px;
    background-position: bottom left;
  }
}
.moving-tips--cicada-footer-banner-content {
  transform: scale(1.05) translateX(40px);
  margin-left: 500px;
  max-width: 400px;
  h5,
  p,
  a {
    margin: 0;
  }
  h5 {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
  }
  p {
    .merriweather();
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  span {
    display: inline-block;
    width: 260px;
    padding: 10px 0;
    line-height: 1;
    text-align: center;
    background: @upd-light-blue;
    border-radius: 30px;
    color: #fff;
    animation: btn-color-change 20s infinite;
  }
  @media screen and (max-width: 1200px) {
    transform: scale(1) translateX(20px);
  }
  @media screen and (max-width: 1140px) {
    transform: translateX(-40px);
  }
  @media screen and (max-width: 1024px) {
    transform: translateX(-60px);
    h5 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  @media @screen768 {
    margin-left: 0;
    margin-top: 30px;
    transform: translateX(0);
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  @media @screen550 {
    h5 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    span {
      font-size: 12px;
    }
  }
}

.moving-tips--in-text-banner-area {
  div.cicada {
    padding: 50px 30px;
    margin: 30px 0;
    box-sizing: border-box;
    background: @upd-light-blue;
    background: linear-gradient(135deg, @upd-light-blue, #5e3791);
    background-size: 200% 200%;
    animation: bg-gradient-flow 20s infinite;
    h5,
    h6,
    a {
      color: #fff;
      margin: 0;
      text-transform: none;
      text-align: center;
    }
    h5,
    h6 {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 5px;
    }
    a {
      display: block;
      margin: 0 auto;
      width: 200px;
      background: #fff;
      color: @upd-light-blue;
      padding: 15px;
      line-height: 1;
      border-radius: 20px;
      margin-top: 20px;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      &:hover {
        background: @upd-yellow;
        color: #000;
      }
    }
  }
}

@keyframes h5-pulse {
  0% {
    color: @upd-navy;
  }
  25% {
    color: @upd-blue;
  }
  50% {
    color: @upd-light-blue;
  }
  75% {
    color: @upd-blue;
  }
  100% {
    color: @upd-navy;
  }
}

@keyframes btn-color-change {
  0% {
    background: @upd-light-blue;
  }
  33% {
    background: @upd-navy;
  }
  67% {
    background: @upd-blue;
  }
  100% {
    background: @upd-light-blue;
  }
}

@keyframes bg-gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
