.crm-match {
  .navbar-height-adjustment();

  @sectionPadding: 80px;
  @sectionWidthMidsize: 520px;

  font-size: 17px;
  h3 {
    font-size: 2.1em;
    margin: 0;
    font-weight: 800;
    color: @upd-light-blue;
    line-height: 1.2;
    &::after {
      display: block;
      width: 80px;
      height: 6px;
      background: @upd-light-blue;
      margin-top: 40px;
      margin-bottom: 40px;
      content: "";
    }
  }
  h4 {
    font-size: 1.234em;
    color: @upd-navy;
  }
  @media @screen900 {
    h3 {
      font-size: 1.8em;
    }
    h4 {
      font-size: 1.2em;
    }
  }

  @media @screen768 {
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.1em;
    }
  }
  @media @screen550 {
    h3,
    h4 {
      text-align: center;
    }
    h3 {
      font-size: 1.3em;
      &::after {
        margin: 30px auto;
      }
    }
    h4 {
      font-size: 0.85em;
    }
  }
  &--hero {
    background: @upd-navy;
    &-container {
      .display-flex();
      align-items: center;
      justify-content: space-around;
    }
    &-diagram {
      flex-basis: 441px;
      img {
        max-width: 441px;
      }
    }
    &-text {
      background: #fff;
      max-width: 517px;
      box-sizing: border-box;
      padding: 2.94em 4.75em;
      font-size: 17px;
      border-radius: 15px;
    }
    h1,
    h2 {
      margin: 0;
      line-height: 1.3333333333;
    }
    h1 {
      font-size: 2.68em;
      color: @upd-light-blue;
      margin-bottom: 0.4em;
    }
    h2 {
      font-size: 1.4117647059em;
      margin-bottom: 1.2em;
    }
    a {
      padding: 0.58em 1.46em;
      border-radius: 2em;
      display: inline-block;
      transition: transform 0.2s, box-shadow 0.2s, color 0.2s, background 0.2s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
      }
      &.crm-match--partner-cta {
        color: #fff;
        background: @upd-light-blue;
        margin-right: 0.5em;
        &:hover {
          background: @upd-blue;
        }
      }
      &.crm-match--video-cta {
        color: @upd-light-blue;
        border: 1px solid @upd-light-blue;
        &:hover {
          background: @upd-light-blue;
          color: #fff;
        }
      }
    }
    @media @screen992 {
      &-text {
        padding: 2em 3.5em;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.2em;
      }
      a {
        font-size: 0.94em;
        padding: 0.3em 1.2em;
      }
    }
    @media @screen900 {
      &-text {
        padding: 1.5em 2.5em;
      }
      h1 {
        font-size: 1.8em;
      }
      h2 {
        font-size: 1em;
      }
      a {
        font-size: 0.94em;
        padding: 0.3em 1.2em;
      }
      &-diagram {
        flex-basis: 340px;
        img {
          max-width: 340px;
        }
      }
    }
    @media @screen768 {
      &-container {
        flex-direction: column;
      }
      &-diagram {
        order: 3;
      }
      &-text {
        margin-top: @sectionPadding / 2;
        margin-bottom: @sectionPadding / 3;
        text-align: center;
      }
    }
  }

  &--timing {
    font-size: inherit;
    font-size: 19px;
    padding-top: @sectionPadding;
    h3::after {
      display: none;
    }
    &-text {
      .display-flex();
      justify-content: space-around;
      align-items: center;
    }
    &-headings {
      max-width: 430px;
    }
    &-body {
      max-width: 520px;
      margin-left: 20px;
      .merriweather();
      font-size: 0.92em;
      color: @upd-navy;
      line-height: 1.65;
    }
    &-chart {
      margin-top: 30px;
      text-align: center;
      img {
        width: 100%;
        max-width: 1000px;
      }
    }
    &::after {
      width: 80px;
      height: 6px;
      display: block;
      margin: @sectionPadding*0.75 auto 0px;
      background: #eee;
      content: "";
    }
    @media @screen900 {
      &-body {
        font-size: 0.88em;
      }
    }
    @media @screen768 {
      padding-top: @sectionPadding*.75;
      padding-bottom: @sectionPadding*.75;
      &-text {
        flex-direction: column;
      }
      &-headings {
        max-width: @sectionWidthMidsize;
        width: 100%;
      }
      h4::after {
        display: block;
        width: 80px;
        height: 6px;
        background: @upd-light-blue;
        margin-top: 40px;
        margin-bottom: 40px;
        content: "";
      }
      &-body {
        max-width: @sectionWidthMidsize;
        margin-left: 0;
      }
      &::after {
        display: none;
      }
    }
    @media @screen550 {
      h4::after {
        margin: 30px auto;
      }
    }
  }
  &--benefits {
    padding-top: @sectionPadding;
    padding-bottom: @sectionPadding;
    position: relative;
    .display-flex();
    justify-content: space-around;
    align-items: center;
    &-text {
      max-width: 500px;
      width: 50%;
      font-size: 19px;
      margin-right: 20px;
      ul {
        padding: 0;
      }
      li {
        list-style: none;
        position: relative;
        margin-left: 2em;
        margin-bottom: 0.5263em;
        &::before {
          color: @upd-pink;
          content: "\2022";
          position: absolute;
          left: -1.5em;
          top: 0;
        }
      }
      h5 {
        font-weight: 200;
        color: #000;
        font-size: 1em;
        margin: 0;
      }
      p {
        margin: 0;
        .merriweather();
        font-size: 0.684em;
        color: #4a4a4a;
      }
    }
    &-img {
      width: 48%;
      img {
        width: 100%;
      }
    }
    &::after {
      width: 80px;
      height: 6px;
      position: absolute;
      display: block;
      bottom: 0;
      margin: @sectionPadding*.75 auto 0px;
      background: #eee;
      content: "";
    }
    @media @screen900 {
      &-img {
        width: 45%;
      }
    }
    @media @screen768 {
      padding-top: @sectionPadding*.75;
      flex-direction: column;
      &-text {
        max-width: @sectionWidthMidsize;
        width: 100%;
        margin-right: 0;
      }
      &-img {
        width: 100%;
        max-width: 400px;
        margin-top: @sectionPadding*.35;
      }
      background: lighten(@upd-navy, 68%);
      &::after {
        display: none;
      }
    }
    @media @screen550 {
      &-text {
        h5 {
          font-size: 0.9em;
        }
        p {
          font-size: 0.65em;
        }
      }
    }
  }
  &--data {
    padding-top: @sectionPadding;
    padding-bottom: @sectionPadding;
    position: relative;
    .display-flex();
    align-items: center;
    justify-content: space-around;
    font-size: 19px;
    &-img {
      width: 45%;
      margin-right: 20px;
      img {
        width: 100%;
      }
    }
    &-text {
      width: 50%;
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      line-height: 1.2;
      position: relative;
      margin-left: 2em;
      margin-bottom: 0.85em;
      font-weight: 200;
      color: #000;
      &::before {
        color: @upd-pink;
        content: "\2022";
        position: absolute;
        left: -1.5em;
        top: 0;
      }
    }
    @media @screen768 {
      padding-top: @sectionPadding*.75;
      flex-direction: column;
      &-img {
        width: 100%;
        max-width: 360px;
        margin-right: 0;
        order: 3;
        margin-top: @sectionPadding*.35;
      }
      &-text {
        width: 100%;
        max-width: @sectionWidthMidsize;
        li {
          font-size: 0.95em;
        }
      }
    }
    @media @screen550 {
      &-text li {
        font-size: 0.85em;
      }
    }
  }
  &--studies {
    padding: @sectionPadding 60px;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1564519726/website/2019-b2b-expansion/photos/shutterstock_543096070.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-carousel {
      &-container {
        .flickity-viewport {
          background: #fff;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        }
        height: 500px;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        .flickity-button.flickity-prev-next-button.previous,
        .flickity-button.flickity-prev-next-button.next {
          background: transparent !important;
          svg.flickity-button-icon {
            transform: scale(2);
            fill: #ffffff;
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
            @media @screen992 {
              transform: scale(1.6);
            }
          }
        }
        .flickity-button.flickity-prev-next-button.previous {
          transform: translateX(-60px);
        }
        .flickity-button.flickity-prev-next-button.next {
          transform: translateX(60px);
        }
        ol.flickity-page-dots {
          li.dot {
            background: #fff;
          }
          // transform: translateY(-60px);
        }
      }
      &-inner {
        // background: #fff;
        height: 500px;
        width: 100%;
        .study-request {
          padding: 10px 20px;
          font-size: 13px;
          color: @upd-light-blue;
          border: 1px solid @upd-light-blue;
          border-radius: 30px;
          display: inline-block;
          transition: transform 0.2s, box-shadow 0.2s;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          }
        }
        .study-title {
          background: @upd-light-blue;
          color: #fff;
          font-weight: 800;
          padding: 20px 30px;
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 30px;
          span {
            font-weight: 200;
          }
          @media @screen900 {
            padding: 15px 20px;
            font-size: 16px;
            margin-bottom: 20px;
          }
          @media @screen768 {
            font-size: 14px;
          }
          @media @screen550 {
            font-size: 12px;
          }
        }
        .study-content {
          .display-flex();
          margin-bottom: 20px;
          h5 {
            color: @upd-blue;
            font-weight: 200;
            font-size: 26px;
            line-height: 1;
            margin: 0;
            @media @screen550 {
              font-size: 20px;
            }
          }
          &-label {
            padding-top: 15px;
            padding-bottom: 10px;
            padding-right: 20px;
            width: 140px;
            flex-basis: 140px;
            flex-shrink: 0;
            min-height: 50px;
            text-align: right;
            font-size: 14px;
            font-weight: 800;
            line-height: 1;
            color: @upd-blue;
          }
          &-detail {
            flex: 1;
            padding-top: 10px;
            padding-left: 30px;
            border-left: 5px solid #eee;
          }
          .bb-chart-container {
            .display-flex();
            justify-content: flex-start;
            margin-right: 30px;
            @media @screen550 {
              flex-direction: column;
            }
          }
          .bb-chart {
            flex-basis: 33%;
            flex-grow: 0;
            flex-shrink: 0;
            .display-flex();
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            .bb-number {
              display: none;
            }
            // DONUT CHART STYLING FROM https://codepen.io/baadaa/pen/MMGQwj
            @bbChartSize: 140px;
            @bbChartStroke: 15px;
            @bbChartColor: @upd-light-blue;
            @bbChartNumSize: 35px;
            @bbChartNumColor: @upd-light-blue;

            .donut-chart {
              flex-shrink: 0;
              flex-basis: @bbChartSize;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              width: @bbChartSize;
              height: @bbChartSize;
              .slice {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              .chart-center {
                position: absolute;
                border-radius: 50%;
                top: @bbChartStroke;
                left: @bbChartStroke;
                width: @bbChartSize - (@bbChartStroke * 2);
                height: @bbChartSize - (@bbChartStroke * 2);
                background: #fff;
                span {
                  line-height: @bbChartSize - (@bbChartStroke * 2);
                  display: block;
                  text-align: center;
                  font-size: @bbChartNumSize;
                  font-weight: 900;
                  color: @bbChartNumColor;
                }
              }
              .slice.one {
                clip: rect(0 @bbChartSize @bbChartSize / 2 0);
              }
              .slice.two {
                clip: rect(0 @bbChartSize / 2 @bbChartSize 0);
              }

              &.chart1 {
                background: #e1e1e1;
                .slice.one {
                  background: @bbChartColor;
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
                .slice.two {
                  background: @bbChartColor;
                  -webkit-transform: rotate(298.8deg);
                  transform: rotate(298.8deg);
                }
                .chart-center span::after {
                  content: "83%";
                }
              }
              &.chart2 {
                background: #e1e1e1;
                .slice.one {
                  background: @bbChartColor;
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
                .slice.two {
                  background: @bbChartColor;
                  -webkit-transform: rotate(223.2deg);
                  transform: rotate(223.2deg);
                }
                .chart-center span::after {
                  content: "62%";
                }
              }
              &.chart3 {
                background: #e1e1e1;
                .slice.one {
                  background: @bbChartColor;
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
                .slice.two {
                  background: @bbChartColor;
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
                .chart-center span::before {
                  content: "61";
                  display: block;
                  transform: translateY(-5px);
                }
                .chart-center span::after {
                  content: "DAYS EARLIER";
                  font-size: 10px;
                  display: block;
                  transform: translateY(-40px);
                  line-height: 1;
                  @media @screen768 {
                    transform: translateY(-35px);
                  }
                }
              }
            }
            .chart-description {
              max-width: 180px;
              padding-top: 10px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: 13px;
              line-height: 1.3;
              width: 100%;
              text-align: center;
              p {
                color: @upd-navy;
                margin: 0;
                padding: 0;
                @media @screen768 {
                  font-size: 12px;
                  line-height: 1;
                }
              }
            }
            @media @screen768 {
              margin-top: 10px;
              // flex-basis: 100%;
              padding-top: 0;
              padding-bottom: 0;
              // flex-direction: row;
              // justify-content: center;
              .donut-chart {
                @bbChartSizeSmall: @bbChartSize*.8;
                @bbChartStrokeSmall: @bbChartStroke*.8;
                @bbChartNumSizeSmall: @bbChartNumSize*.8;
                flex-basis: @bbChartSizeSmall;
                width: @bbChartSizeSmall;
                height: @bbChartSizeSmall;
                .slice {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
                .chart-center {
                  position: absolute;
                  border-radius: 50%;
                  top: @bbChartStrokeSmall;
                  left: @bbChartStrokeSmall;
                  width: @bbChartSizeSmall - (@bbChartStrokeSmall * 2);
                  height: @bbChartSizeSmall - (@bbChartStrokeSmall * 2);
                  background: #fff;
                  span {
                    line-height: @bbChartSizeSmall - (@bbChartStrokeSmall * 2);
                    display: block;
                    text-align: center;
                    font-size: @bbChartNumSizeSmall;
                    font-weight: 900;
                    color: @bbChartNumColor;
                  }
                }
                .slice.one {
                  clip: rect(0 @bbChartSizeSmall @bbChartSizeSmall / 2 0);
                }
                .slice.two {
                  clip: rect(0 @bbChartSizeSmall / 2 @bbChartSizeSmall 0);
                }
                &.chart1 {
                  // justify-content: center;
                  // width: @bbChartSizeSmall * 0.35;
                  .slices {
                    width: @bbChartSizeSmall * 0.15;
                    height: @bbChartSizeSmall * 0.15;
                    margin-right: @bbChartSizeSmall * 0.05;
                    &:last-of-type {
                      margin-right: 0;
                    }
                    &::after {
                      background: #e1e1e1;
                      left: 0;
                      right: 0;
                      top: @bbChartSizeSmall * 0.17;
                      height: @bbChartSizeSmall * 0.4;
                    }
                  }
                  .num {
                    margin-top: @bbChartSizeSmall * 0.45;
                    font-size: @bbChartNumSizeSmall;
                  }
                }
              }
            }
            @media @screen550 {
              flex-direction: row;
              justify-content: space-between;
              margin-top: 5px;
              &:first-of-type {
                margin-top: 0 !important;
              }
              .donut-chart {
                display: none;
              }
              .bb-number {
                display: block;
                flex-basis: 80px;
                width: 80px;
                font-size: 30px;
                color: @upd-light-blue;
                font-weight: 800;
                line-height: 1;
                span {
                  display: block;
                  font-size: 11px;
                  line-height: 1;
                }
              }
              .donut-chart,
              .donut-chart .slice.one,
              .donut-chart .slice.two {
                background: transparent !important;
              }
              .chart-description {
                // padding-left: 10px;
                text-align: left;
                padding-right: 0;
                padding-top: 0;
                max-width: 300px;
              }
            }
          }
          .thd-chart-container {
            margin-right: 30px;
          }
          .thd-chart {
            .display-flex();
            align-items: center;
            &-label {
              flex-basis: 60px;
              flex-shrink: 0;
              font-size: 13px;
              font-weight: 800;
              color: #9b9b9b;
              text-align: right;
            }
            &-bars {
              .display-flex();
              margin-left: 20px;
              height: 55px;
              align-items: center;
              flex: 1;
              width: 100%;
              border-left: 1px solid #ccc;
              .bar1,
              .bar2,
              .bar3 {
                height: 36px;
                font-size: 18px;
                line-height: 1;
                padding-left: 10px;
                color: #fff;
                .display-flex();
                align-items: center;
                font-weight: 800;
              }
              .bar1 {
                background: @upd-navy;
              }
              .bar2 {
                background: @upd-light-blue;
              }
              .bar3 {
                background: #ddd;
                color: #666;
              }
            }
            &.chart1 {
              .bar1 {
                flex: 74;
              }
              .bar2 {
                flex: 26;
              }
            }
            &.chart2 {
              .bar1 {
                flex: 15;
              }
              .bar2 {
                flex: 52;
              }
              .bar3 {
                flex: 33;
              }
            }
            &-legend {
              .display-flex();
              margin-top: 20px;
              margin-left: 80px;
              align-items: center;
              .legend-item {
                .display-flex();
                align-items: center;
                margin-right: 30px;
                &:last-of-type {
                  margin-right: 0;
                }
                &-color {
                  width: 20px;
                  height: 20px;
                  margin-right: 8px;
                  &.navy {
                    background: @upd-navy;
                  }
                  &.blue {
                    background: @upd-light-blue;
                  }
                  &.gray {
                    background: #ddd;
                  }
                }
                &-desc {
                  font-size: 13px;
                  line-height: 1.1538;
                  font-weight: 200;
                  color: #4a4a4a;
                  span {
                    font-weight: 800;
                    &.navy {
                      color: @upd-navy;
                    }
                    &.blue {
                      color: @upd-light-blue;
                    }
                    &.gray {
                      color: #ddd;
                    }
                  }
                }
              }
            }
            &-summary {
              margin: 20px 30px 10px 80px;
              font-weight: 200;
              color: #4a4a4a;
              font-size: 15px;
              line-height: 1.5;
              span {
                font-weight: 800;
                color: @upd-light-blue;
              }
            }
            @media screen and (max-width: 700px) {
              flex-direction: column;
              align-items: flex-start;
              &-label {
                flex-basis: auto;
              }
              &-bars {
                margin-left: 0;
                margin-bottom: 5px;
                height: 40px;
                .bar1,
                .bar2,
                .bar3 {
                  font-size: 15px;
                  height: 30px;
                }
              }
              &-legend {
                margin-left: 0;
                margin-top: 10px;
              }
              &-summary {
                margin-left: 0;
                margin-bottom: 0;
                font-size: 13px;
              }
            }
            @media @screen550 {
              &-bars {
                height: 30px;
                .bar1,
                .bar2,
                .bar3 {
                  height: 25px;
                  font-size: 12px;
                }
              }
              &-legend .legend-item-desc {
                font-size: 11px;
              }
              &-legend {
                flex-direction: column;
                margin: 0;
                margin-top: 5px;
                align-items: flex-start;
                .legend-item-color {
                  width: 10px;
                  height: 10px;
                }
                br {
                  display: none;
                }
              }
              &-summary {
                font-size: 13px;
                line-height: 1.2;
              }
            }
          }
          @media @screen900 {
            flex-direction: column;
            margin-bottom: 30px;
            &:last-of-type {
              margin-bottom: 20px;
            }
            &-label {
              min-height: auto;
              flex-basis: auto;
              text-align: left;
              padding-top: 0;
              padding-bottom: 10px;
              padding-left: 40px;
              margin-top: 0;
              flex-grow: 0;
              color: @upd-navy;
            }
            &-detail {
              padding-top: 0;
              flex: 0;
              padding-left: 40px;
              border-left: none;
            }
          }
          @media @screen550 {
            margin-bottom: 20px;
            &-label,
            &-detail {
              padding-left: 20px;
            }
          }
          @media screen and (max-width: 440px) {
            &:last-of-type {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  &--app-shot {
    padding-top: @sectionPadding*.8;
    .display-flex();
    justify-content: space-around;
    align-items: center;
    &-img {
      max-width: 425px;
      align-self: flex-end;
    }
    &-text {
      margin-left: 20px;
    }
    h4,
    h5 {
      margin: 0;
      font-weight: 800;
      line-height: 1.3;
    }
    h4 {
      font-size: 3.2em;
      color: @upd-navy;
      margin-bottom: 0.5em;
    }
    h5 {
      font-size: 1.5em;
      color: @upd-blue;
      line-height: 1.5;
    }
    @media @screen900 {
      &-img {
        width: 50%;
      }
      h4 {
        font-size: 2.4em;
      }
      h5 {
        font-size: 1.2em;
      }
    }
    @media @screen768 {
      padding-top: @sectionPadding*.75;
      h4 > br,
      h5 > br {
        display: none;
      }
      h4 {
        font-size: 2em;
      }
      h5 {
        font-size: 1.1em;
      }
    }
    @media @screen550 {
      padding-top: @sectionPadding*.55;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      h4,
      h5 {
        text-align: center;
      }
      h4 {
        font-size: 1.5em;
      }
      &-text {
        margin-left: 0;
      }
      &-img {
        order: 3;
        width: 280px;
        margin: 20px auto 0;
      }
    }
  }
  &--form-area {
    padding-top: @sectionPadding*.75;
    padding-bottom: @sectionPadding*.75;
    background: lighten(@upd-navy, 68%);
    text-align: center;
    font-size: 18px;
    h2,
    h6 {
      margin: 0;
      line-height: 1.2;
    }
    h2 {
      font-weight: 800;
      color: @upd-navy;
      font-size: 2em;
    }
    h6 {
      font-weight: 800;
      color: @upd-blue;
      text-transform: none;
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }
    @media @screen900 {
      padding-top: @sectionPadding*.5;
      padding-bottom: @sectionPadding*.5;
    }
    @media @screen768 {
      font-size: 15px;
    }
  }
}
