.d2c-r-optout {
  .navbar-height-adjustment();
  // min-height: 100vh;
  .display-flex();
  flex-direction: column;
  &--heading {
    .display-flex();
    max-width: 540px;
    margin: 0 auto;
    padding: 60px 10px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    svg {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    h1,
    h2 {
      margin: 0;
      text-align: left;
    }
    h1 {
      .display-flex();
      align-items: center;
      justify-content: flex-start;
      font-size: 48px;
      font-weight: 800;
      margin-bottom: 15px;
      color: @upd-light-green;
    }
    h2 {
      padding-left: 70px;
      font-size: 32px;
      line-height: 1.25;
      color: #404041;
    }
    @media @screen900 {
      align-items: center;
      max-width: 480px;
      h1,
      h2 {
        text-align: center;
        padding-left: 0;
      }
    }
    @media @screen550 {
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: 350px;
      svg {
        margin-right: 0;
        width: 30px;
        height: 30px;
      }
      h1 {
        flex-direction: column;
        font-size: 36px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
  &--bottom {
    flex: 1;
    background: #eee;
    .display-flex();
    padding: 50px 10px;
    img {
      width: 100%;
      max-width: 380px;
    }
    &-img {
      width: 50%;
      text-align: right;
    }
    &-txt {
      width: 50%;
      padding-top: 17px;
      padding-left: 40px;
      p {
        margin: 0;
        .merriweather();
        font-weight: 200;
        font-size: 20px;
        line-height: 1.5;
        color: #404041;
        max-width: 420px;
        margin-bottom: 1em;
      }
      a {
        display: inline-block;
        padding: 10px 30px;
        color: #fff;
        background: @upd-light-blue;
        border-radius: 30px;
        font-weight: 200;
        font-size: 19px;
        transition: background 0.2s;
        &:hover {
          background: @upd-navy;
        }
      }
      @media @screen900 {
        p {
          font-size: 18px;
        }
        a {
          font-size: 17px;
        }
      }
    }
    @media @screen550 {
      align-items: center;
      flex-direction: column;
      &-img,
      &-txt {
        width: 100%;
        text-align: center;
      }
      &-txt {
        padding-left: 0;
        padding-top: 10px;
        max-width: 320px;
        p {
          text-align: left;
        }
      }
      img {
        max-width: 300px;
      }
    }
  }
}
