// When ready with the new nav bar
// TODO: Remove .revamp-2018-header references from JS.

.d2c-2019-header {
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  height: @navbar-height;
  z-index: 999;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  @media screen and (max-width: 900px) {
    height: @navbar-height - @aux-nav-height;
    margin-bottom: -@aux-nav-height;
  }
}

.d2c-2019--mobile-menu {
  .display-flex();
  justify-content: center;
  z-index: 9;
  transform: translateX(-100vw);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  position: fixed;
  top: @navbar-height - @aux-nav-height;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 2px solid #ddd;
  opacity: 0;
  overflow: auto;
  &.is-on {
    transform: translateX(0);
    opacity: 1;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    .display-flex();
    flex-direction: column;
    justify-content: stretch;
    color: @upd-navy;
  }
  li {
    width: 100%;
    flex: 3;
    .display-flex();
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    font-size: 18px;
    & > a {
      color: @upd-navy;
      .display-flex();
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
        color: @upd-light-blue;
      }
    }
    &:first-of-type {
      border-top: none;
    }
    &.d2c-mobile-login {
      flex-direction: column;
      div.d2c-mobile-login-options {
        display: none;
        width: 100%;
        transform: translateY(-20px);
        height: 100%;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        a {
          background: @upd-light-blue;
          color: #fff;
          padding: 10px;
          margin-right: 10px;
          border-radius: 15px;
          transition: transform 0.2s, background 0.2s;
          &:hover {
            transform: scale(1.05);
            background: @upd-navy;
          }
          &:last-of-type {
            margin-right: none;
          }
        }
        &.is-on {
          .display-flex();
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.d2c-2019--get-started-menu {
  .display-flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
  transform: translateY(-1200px);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  position: fixed;
  top: @navbar-height;
  left: 0;
  right: 0;
  background: rgba(51, 77, 92, 0.9);
  opacity: 0;
  overflow: auto;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  .get-started-close-modal {
    position: absolute;
    font-weight: 200;
    font-size: 15px;
    top: 5px;
    right: -100px;
    color: #fff;
    .display-flex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    img {
      pointer-events: none;
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
    @media @screen768 {
      right: 0;
      top: -30px;
    }
  }
  h4 {
    position: relative;
    color: #fff;
    pointer-events: none;
    font-size: 33px;
    line-height: 1.212121212121212;
    font-weight: 800;
    text-align: center;
    @media @screen550 {
      font-size: 28px;
    }
    @media screen and (max-width: 370px) {
      font-size: 22px;
    }
  }
  .d2c-invite-tooltip {
    margin-bottom: 40px;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    .merriweather();
    &:hover::after {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    &::after {
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100px);
      position: absolute;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 7px;
      top: 30px;
      left: -100px;
      width: 300px;
      font-size: 14px;
      line-height: 1.6428571429;
      color: #4a4a4a;
      background: #fff;

      content: "Updater is available through exclusive partnerships with brokerages, property managers, and moving companies. You may have received an invite from one of our partners. If not, don’t sweat it. We have tons of free resources to make your move easier.";
    }
    @media @screen768 {
      margin-bottom: 20px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .display-flex();
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    @media @screen768 {
      flex-direction: column;
      max-width: 400px;
    }
  }
  li {
    width: 48%;
    .display-flex();
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 20px;
    h5,
    h6 {
      pointer-events: none;
      color: #fff;
      width: 100%;
      margin: 0;
      text-align: center;
      font-weight: 800;
      text-transform: none;
    }
    h5 {
      font-size: 32px;
      line-height: 1.1875;
      margin-bottom: 15px;
    }
    h6 {
      font-size: 19px;
      line-height: 1.2105;
      margin-bottom: 20px;
    }
    a {
      background: #fff;
      border-radius: 25px;
      padding: 15px 20px;
      font-size: 14px;
      line-height: 1;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.0001);
      transition: box-shadow 0.2s, transform 0.2s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
    &.get-started-no-invite {
      background: @upd-light-blue;
      a {
        color: @upd-light-blue;
        min-width: 50%;
        text-align: center;
      }
    }
    &.get-started-invite {
      background: @upd-light-green;
      a {
        color: @upd-light-green;
        min-width: 50%;
        text-align: center;
      }
    }
    @media @screen768 {
      width: 100%;
      padding: 20px;
      margin-bottom: 15px;
    }
    @media @screen550 {
      h5 {
        font-size: 27px;
      }
      h6 {
        font-size: 16px;
      }
    }
  }
  &.is-on {
    transform: translateY(0);
    opacity: 1;
  }
  @media screen and (max-width: 900px) {
    transform: translateY(0) translateX(100vw);
    bottom: 0;
    top: @navbar-height - @aux-nav-height;
    // background: #FFF;
    padding-bottom: 30px;
    &.is-on {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media @screen768 {
  }
}

.d2c-2019-nav {
  &--wrapper {
    position: relative;
    .display-flex();
    z-index: 10;
    height: @navbar-height - (@aux-nav-height + 1px);
    height: @navbar-height - @aux-nav-height;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    img#mobile-menu {
      display: none;
      width: 24px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        display: block;
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: space-between;
    }
  }
  &--logo {
    width: 141px;
    // &-circle {
    //   display: none;
    //   width: 35px;
    //   height: 35px;
    // }
    // @media @screen550 {
    //   display: none;
    //   &-circle {
    //     display: block;
    //   }
    // }
  }
  &--desktop {
    .display-flex();
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .nav-items {
      .display-flex();
      margin-left: 72px;
      font-size: 14px;
      line-height: 1.2142857143;
      & > li {
        padding: 23px 4px;
        margin-right: 32px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: inherit;
        }
        &.active,
        &:hover {
          color: @upd-pink;
          border-bottom: 5px solid @upd-pink;
        }
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .top-ctas {
      .display-flex();
      position: absolute;
      right: 10px;
      height: 100%;
      align-items: center;
      font-size: 14px;
      line-height: 1.2142857143;
      &--login {
        z-index: 1;
        color: @upd-pink;
        color: #404041;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        padding: 14px 25px;
        margin-left: 32px;
        border: 1px solid @upd-pink;
        color: @upd-pink;
        border-radius: 30px;
        // box-shadow: inset 0 0 1px @upd-pink;
        transition: transform 0.2s;
        a {
          color: inherit;
        }
        span {
          transition: color 0.2s;
        }
        &.is-on,
        &:hover {
          transform: scale(1.05);
          // border-color: @upd-navy;
          // background: @upd-navy;
          // color: @upd-navy;

          span {
            // color: #fff;
            color: @upd-pink;
          }
        }
        &-sub {
          z-index: 1;
          display: block;
          .display-flex();
          flex-direction: column;
          top: 0;
          padding: 2px;
          right: 0;
          margin-top: 72px;
          position: absolute;
          width: 200px;
          font-weight: 400;
          transition: opacity 0.2s, transform 0.2s;
          color: #333;
          box-sizing: border-box;
          overflow: hidden;
          transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
          transform: translateY(-50px);
          opacity: 0;
          visibility: hidden;
          &.is-on {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          li {
            .display-flex();
            align-items: center;
            background: #fff;
            text-align: center;
            border-radius: 30px;
            border: 1px solid @upd-light-blue;
            margin-bottom: 10px;
            justify-content: center;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            a {
              color: @upd-light-blue;
              padding: 15px 0;
              .display-flex();
              justify-content: stretch;
              text-align: center;
              align-items: center;
            }
            &:hover {
              border: 1px solid @upd-navy;
              a {
                color: @upd-navy;
              }
            }
          }
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
      &--start {
        cursor: pointer;
        .display-flex();
        align-items: stretch;
        justify-content: center;
        a {
          transition: background 0.2s;
          padding: 14px 25px;
          margin-left: 22px;
          background: @upd-pink;
          color: #fff;
          border-radius: 30px;
          // margin: 0;
          // padding: 0;
          color: #fff;
          // display: block;
          width: 100%;
          height: 100%;
          &:hover {
            background: @upd-light-blue;
          }
        }
      }
      @media screen and (max-width: 900px) {
        position: relative;
        transform: translateX(-55px);
      }
      @media @screen550 {
        transform: translateX(-5px);
      }
    }
  }
}

#aux-nav-bar {
  border-bottom: 1px solid #ddd;
  ul {
    height: @aux-nav-height;
    .display-flex();
    justify-content: flex-end;
    margin-left: auto;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  li {
    font-size: 11px;
    height: 100%;
    line-height: 1;
    color: #666;
    font-weight: 200;
    border-left: 1px solid #ddd;
    a {
      .display-flex();
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      color: inherit;
      height: 100%;
      &:hover {
        color: #202020;
        background: #eee;
      }
    }
    &:last-of-type {
      border-right: 1px solid #ddd;
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.toast-notification {
  .display-flex();
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 90px;
  right: 10px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 200;
  color: #202020;
  max-width: 460px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
  transform: translateX(100px);
  transition: transform 0.3s, opacity 0.1s;
  .notice-icon {
    flex: 0 0 50px;
    width: 50px;
    align-self: stretch;
    .display-flex();
    justify-content: center;
    align-items: center;
    background: @upd-light-green;
    border-radius: 8px 0 0 8px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .notice-text {
    padding: 10px 15px;
  }
  .notice-cta {
    border: 0;
    border-radius: 3px;
    background: @upd-light-green;
    .display-flex();
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-right: 15px;
    transition: background 0.2s;
    &:hover {
      background: darken(@upd-light-green, 15%);
    }
    svg {
      width: 12px;
      height: 11px;
      margin-right: 10px;
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
