.isp-aff {
  .navbar-height-adjustment();

  &--hero {
    background: #ddd;
    position: relative;
    &-container {
      .display-flex();
      @media @screen667 {
        flex-direction: column;
      }
    }

    &-image {
      flex: 1 1 50%;
      align-self: flex-end;
      width: 50%;
      img {
        width: 100%;
      }
      @media @screen768 {
        flex-basis: 45%;
        width: 45%;
      }
      @media @screen667 {
        align-self: center;
        order: 3;
        // flex-basis: 300px;
        width: 300px;
        padding-bottom: 40px;
        img {
          display: none;
        }
        .display-flex();
        align-items: flex-end;
      }
    }
    &-text {
      flex: 1 1 50%;
      align-self: center;
      padding-left: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      h1,
      h3,
      h6 {
        margin: 0;
        transition: font-size 0.2s;
      }
      h1 {
        color: @upd-light-blue;
        font-weight: 800;
        font-size: 42px;
        line-height: 1.19;
        margin-bottom: 20px;
      }
      h3 {
        .merriweather();
        max-width: 350px;
        color: @upd-navy;
        font-size: 24px;
        line-height: 1.6;
      }
      h6 {
        color: #202020;
        font-size: 14px;
        line-height: 1.43;
        text-transform: none;
      }
      @media @screen992 {
        h1 {
          font-size: 38px;
        }
        h3 {
          font-size: 17px;
          max-width: 340px;
        }
      }
      @media @screen900 {
        h1 {
          font-size: 32px;
        }
        h3 {
          font-size: 15px;
          max-width: 300px;
        }
      }
      @media @screen768 {
        br {
          display: none;
        }
        h1 {
          font-size: 27px;
        }
        h3 {
          max-width: 100%;
        }
        h6 {
          font-size: 12px;
        }
        padding-left: 10px;
        flex-basis: 55%;
        width: 55%;
      }
      @media @screen667 {
        h1 {
          padding-top: 20px;
          font-weight: 800;
          font-size: 24px;
        }
        h3 {
          font-size: 17px;
        }
        width: 90%;
        padding-left: 0;
        padding-bottom: 0;
      }
    }
    &-form {
      margin: 20px 0 10px;
      position: relative;
      & > * {
        box-sizing: border-box;
      }
      &-input {
        border: 1px solid #999;
        height: 50px;
        font-size: 18px;
        font-weight: 200;
        padding: 0 10px;
        width: 300px;
      }
      &-result {
        z-index: 3;
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0;
        background: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        width: 300px;
      }
      li {
        color: #666;
        line-height: 1.5;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        color: @upd-blue;
        a {
          color: inherit;
          &:hover {
            color: @upd-navy;
          }
        }
        strong {
          pointer-events: none;
        }
        + .label {
          margin-top: 1rem;
        }
        &.label {
          color: #ccc;
          text-transform: uppercase;
          font-size: 0.8em;
          letter-spacing: 0.0125em;
          margin-bottom: 0.25rem;
        }
        &:last-of-type {
          padding-bottom: 12px;
        }
      }
      button {
        line-height: 1;
        background: @upd-light-green;
        height: 50px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
      }
      @media @screen900 {
        margin: 15px 0 8px;
        &-input {
          height: 40px;
          font-size: 15px;
        }
        button {
          height: 40px;
          font-size: 15px;
        }
      }
    }
    &-scroll {
      width: 45px;
      height: 45px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-22px) translateY(22px);
      @media @screen768 {
        transform: translateX(-22px) translateY(22px) scale(0.8);
      }
    }
  }

  &--providers {
    padding-top: 50px;
    padding-bottom: 50px;
    h4 {
      font-weight: 800;
      font-size: 20px;
      color: @upd-navy;
      text-align: center;
      display: block;
      margin: 0;
      margin-bottom: 20px;
    }
    @media @screen667 {
      padding-top: 30px;
      h4 {
        margin-bottom: 10px;
        font-size: 17px;
      }
    }
  }
  &--grid {
    .display-flex();
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
    &-item {
      width: 200px;
      height: 200px;
      margin: 15px;
      .display-flex();
      justify-content: center;
      align-items: center;

      @media @screen550 {
        width: 150px;
        height: 150px;
        margin: 10px;
      }
      @media screen and (max-width: 375px) {
        width: 140px;
        height: 140px;
      }
    }

    .flip-container {
      perspective: 1000px;
      &.trigger .flipper {
        transform: rotateY(180deg);
      }
      &.noflip a {
        .display-flex();
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    .flipper {
      width: 100%;
      height: 100%;
      transition: transform 0.2s;
      transform-style: preserve-3d;
      position: relative;
    }
    .front,
    .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .front {
      z-index: 2;
      cursor: pointer;
      transform: rotateY(0deg);
      .display-flex();
      justify-content: center;
      align-items: center;
      @media @screen550 {
        img {
          transform: scale(0.7);
        }
      }
      @media screen and (max-width: 375px) {
        img {
          transform: scale(0.6);
        }
      }
    }
    .back {
      transform: rotateY(180deg);
      background: @upd-light-blue;
      color: #fff;
      h4 {
        width: 100%;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
        color: #fff;
        font-weight: 800;
        font-size: 16px;
        line-height: 1.2;
        margin-top: 50px;
        span {
          font-weight: 400;
          font-size: 12px;
          @media screen and (max-width: 375px) {
            display: none;
          }
        }
        @media @screen550 {
          font-size: 14px;
          margin-top: 30px;
        }
      }
      .isp-button-block {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }
      a {
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        width: 80%;
        padding: 10px;
        background: #fff;
        color: @upd-blue;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        margin-bottom: 10px;
        transition: transform 0.2s;
        &:last-of-type {
          margin-bottom: 0;
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        }
        @media @screen550 {
          padding: 5px;
          margin-bottom: 5px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      .isp-close-flipper {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
      }
    }
  }
}
