.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.freetools-v3 {
  .navbar-height-adjustment();
  background: #e8eff2;
  box-sizing: border-box;
  position: relative;

  &--full {
    * {
      box-sizing: border-box;
    }

    .display-flex();
    flex-direction: row;
    flex-wrap: nowrap;

    min-height: 600px;
    width: 100%;
    max-width: 1140px;

    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px;
    padding-bottom: 60px;

    @media @screen550 {
      height: auto;
      display: block;
      padding: 20px 0px;
    }

    & section:nth-of-type(2n) {
      @media @screen550 {
        .freetools-v3--body {
          background: #e8eff2;
        }
      }
    }
  }

  // NAVIGATION SIDEBAR ***********************
  &--nav-full {
    width: 256px;

    .display-flex();
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media screen and (max-width: 810px) {
      justify-content: flex-start;
    }

    @media @screen550 {
      width: 100%;

      position: fixed;
      top: @navbar-height - @aux-nav-height;
      z-index: 3;

      background: fade(@upd-navy, 90%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;

      &.nav-active {
        .display-flex();
      }
    }
  }

  &--nav-tabs {
    padding-inline-start: 0px;

    li {
      list-style: none;

      &:nth-of-type(1) a.active {
        background: @upd-light-blue;
      }

      &:nth-of-type(2) a.active {
        background: @upd-blue;
      }

      &:nth-of-type(4) a.active {
        background: @upd-turquoise;
      }

      &:nth-of-type(3) a.active {
        background: @upd-light-blue;
      }
    }
    a {
      .display-flex();

      height: 80px;
      padding-left: 20px;
      align-items: center;
      line-height: 1.3;
      border-radius: 5px 0 0 5px;

      color: @upd-navy;

      &:hover {
        color: @upd-blue;
      }

      &.active {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }

      @media @screen550 {
        color: #fff;
        border-radius: 5px 5px 5px 5px;

        &:hover,
        &.active,
        &.active:hover {
          color: #fff;
        }
      }
    }
  }
  &--nav-search {
    padding-left: 20px;
    padding-right: 20px;
    color: @upd-navy;
    h5 {
      font-size: 14px;
      line-height: 1.3;
      margin: 0;
    }
    span {
      font-size: 12px;
      line-height: 1.3;
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 6px;
    }
    #searchtips,
    #searchtips input {
      background-color: #fff;
      .sqs-block.search-block.sqs-block-search {
        padding-bottom: 0;
      }
    }
    @media screen and (max-width: 810px) {
      margin-top: 50px;
    }
    @media @screen550 {
      h5,
      span {
        color: #fff;
      }
    }
  }

  // MAIN
  &--main-wrapper {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    &.is-on {
      .display-flex();
    }
    @media @screen550 {
      display: block !important;
      width: 100%;
    }

    border-left: 5px solid @upd-light-blue;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 20px 20px 0;
  }

  // BODY ************

  &--body {
    background: #fff;
    flex-grow: 1;

    @media @screen550 {
      padding: 20px 10px;
    }
  }

  &--card-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 26px;

    width: 80%;
    margin: 5% auto;

    height: 85%;

    @media screen and (max-width: 900px) {
      width: 90%;
    }

    @media screen and (max-width: 810px) {
      display: block;

      br {
        display: none;
      }
    }

    @media @screen550 {
      display: block;
      height: auto;
      width: 100%;
      margin: 0% auto;
    }
  }

  &--card {
    background: #fff;

    border-radius: 20px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);

    .display-flex();
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 26px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 810px) {
      margin-bottom: 22px;
      padding: 22px;
    }

    @media @screen550 {
      margin-bottom: 20px;
      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }

    h2 {
      .maquette-web();
      font-weight: 700;
      font-size: 23px;
      line-height: 1.16;

      margin: 0;
      margin-bottom: 10px;
    }
    p {
      .merriweather();
      font-size: 13px;
      line-height: 1.5;
      color: #666;
    }

    &-cta {
      a {
        color: #fff;
        text-align: center;
        font-size: 14px;

        width: 147px;
        border-radius: 30px;
        padding: 4px 8px;
        display: block;
      }

      position: relative;
    }

    &-text,
    &-cta {
      z-index: 1;
    }

    svg {
      opacity: 0.4;
      position: absolute;
      bottom: -10px;
      right: -20px;
      max-width: 120px;
      max-height: 90px;
      z-index: 0;
    }
  }

  // SIDEBAR *********
  &--sidebar {
    border-radius: 0 20px 20px 0;

    width: 110px;
    flex-shrink: 0;
    position: relative;

    @media screen and (max-width: 900px) {
      width: 30px;
      span {
        display: none;
      }
    }

    @media screen and (max-width: 860px) {
      width: 10px;
      *,
      &::before,
      &::after {
        display: none;
      }
    }

    span {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;

      width: 260px;
      text-align: center;
      transform: rotate(-90deg);
      position: absolute;
      top: 47%;
      right: -66px;
    }

    &::before {
      // Background graphic
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0.3;
      position: absolute;
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1563209348/website/2019-d2c-direction/free-tools/icons/checklist_1.svg");
      background-repeat: no-repeat;
      background-position: -138px 40px;
      background-size: 500px;
    }

    &::after {
      // White accent on side
      content: "";
      height: 60%;
      width: 7px;

      position: absolute;
      top: 20%;
      bottom: 20%;
      right: 0;
      background: #fff;

      border-radius: 10px 0 0 10px;
      opacity: 0.9;
    }

    svg {
      position: absolute;
      width: 22px;
      height: 31px;
      top: 30px;
      right: 34px !important;
    }
  }
  &--desktop-only {
    @media @screen550 {
      display: none;
    }
  }

  &--mobile-only {
    display: none;
    @media @screen550 {
      display: block;
    }
  }

  &--tab-header {
    display: none;
    @media @screen550 {
      display: block;
      .sticky();
      z-index: 2;
      top: @navbar-height - @aux-nav-height;

      width: 100%;
      height: 40px;

      padding: 8px 10px;

      background: @upd-light-blue;
      font-weight: 700;
      text-align: center;
      color: #fff;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    }
  }

  // MOBILE NAV

  &--mobile-nav-btn {
    position: fixed;

    background: @upd-navy;
    width: 50px;
    height: 50px;

    bottom: 20px;
    right: 20px;

    border-radius: 50%;

    z-index: 3;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

    svg {
      // width: 64%;
      width: 32px;
      height: 40px;
      margin-left: 18%;
      margin-right: 18%;
      margin-top: 9px;
    }
    #freetools-v3--hamburger {
      display: block;
    }
    #freetools-v3--close {
      display: none;
    }
    &.is-on {
      #freetools-v3--hamburger {
        display: none;
      }
      #freetools-v3--close {
        display: block;
      }
    }
  }
  .blog-preview-items {
    background: #fff;
    padding-top: 20px;
  }
}

// Cart CTA Button hover styling
.freetools-v3--card-cta a,
#get-a-quote-moving-company_free-moving-tools {
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}
.freetools-v3--card-cta a:hover,
#get-a-quote-moving-company_free-moving-tools:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
#get-a-quote-moving-company_free-moving-tools {
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}
// Tab-Specific Styling
#freetools-v3--tab {
  &-tackle {
    border-left-color: @upd-light-blue;
    .freetools-v3--sidebar,
    .freetools-v3--card-cta a,
    .freetools-v3--tab-header {
      background: @upd-light-blue;
    }
    .freetools-v3--card-cta a:hover,
    #get-a-quote-moving-company_free-moving-tools:hover {
      background: darken(@upd-light-blue, 20%);
    }

    .freetools-v3--card h2 {
      color: @upd-light-blue;
    }
  }

  &-packing {
    border-left-color: @upd-blue;

    .freetools-v3--sidebar,
    .freetools-v3--card-cta a,
    .freetools-v3--tab-header {
      background: @upd-blue;
    }
    .freetools-v3--card-cta a:hover {
      background: @upd-navy;
    }
    .freetools-v3--card h2 {
      color: @upd-blue;
    }
  }

  &-homeadvisor {
    border-left-color: @upd-light-blue;

    .freetools-v3--sidebar,
    .freetools-v3--card-cta a,
    .freetools-v3--tab-header {
      background: @upd-light-blue;
    }
    .freetools-v3--card-cta a:hover {
      background: @upd-blue;
    }
    .freetools-v3--card h2 {
      color: @upd-light-blue;
    }
    svg {
      opacity: 1;
      right: 15px;
      bottom: 15px;
      &.ha-cleaning {
        width: 72px !important;
        height: 76px !important;
      }
      &.ha-furniture {
        width: 73px !important;
        height: 73px !important;
      }
      &.ha-painting {
        width: 89px !important;
        height: 89px !important;
      }
      &.ha-tv-mounting {
        width: 88px !important;
        height: 69px !important;
      }
    }
  }

  &-updating {
    border-left-color: @upd-turquoise;

    .freetools-v3--sidebar,
    .freetools-v3--card-cta a,
    .freetools-v3--tab-header {
      background: @upd-turquoise;
    }
    .freetools-v3--card-cta a:hover {
      background: darken(@upd-turquoise, 20%);
    }
    .freetools-v3--card h2 {
      color: @upd-turquoise;
    }

    // ICON TWEAKS

    .freetools-v3--card:nth-child(1) svg {
      bottom: -40px;
      right: -40px;
      transform: rotate(15deg) scale(0.8);
      z-index: -1;
    }
  }

  // DEACTIVATED CONTACT SECTION
  // &-contact {
  //   border-left-color: @upd-light-blue;
  //   .freetools-v3--sidebar,
  //   .freetools-v3--card-cta a,
  //   .freetools-v3--tab-header {
  //     background: @upd-light-blue;
  //   }

  //   .freetools-v3--card h2 {
  //     color: @upd-light-blue;
  //   }

  //   .ctc-freetools-v3 {
  //     transition: transform 0.2s, background 0.2s;
  //     &:hover {
  //       transform: scale(1.05);
  //       background: @upd-blue;
  //     }
  //   }
  //   .freetools-v3--body {
  //     background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1560372973/website/2019-d2c-direction/free-tools/concierge--free-moving-tools.png);
  //     background-repeat: no-repeat;
  //     background-position: 100% 100%;
  //     background-size: 250px;
  //     padding: 46px 52px;

  //     @media screen and (min-width: 1120px) {
  //       background-size: 300px;
  //     }

  //     @media @screen992 {
  //       background-size: 250px;
  //       background-position-x: 120%;
  //     }

  //     @media screen and (max-width: 700px) {
  //       background-size: 220px;
  //       background-position-x: 125%;
  //     }

  //     @media screen and (max-width: 460px) {
  //       background-size: 200px;
  //       background-position-x: 125%;
  //       background-position-y: 105%;
  //     }
  //   }

  //   .maquette-web();

  //   h4 {
  //     font-weight: 700;
  //     font-size: 16px;
  //     color: @upd-blue;
  //   }

  //   h1 {
  //     font-weight: 700;
  //     font-size: 33px;
  //     line-height: 1.3;
  //     color: @upd-navy;
  //   }

  //   ul {
  //     padding-inline-start: 24px;
  //     font-weight: 300;
  //     font-size: 19px;
  //     color: @upd-blue;
  //     line-height: 1.4;
  //     max-width: 400px;
  //     &:nth-child(1) li {
  //       margin-top: 0px;
  //     }
  //     li {
  //       margin-top: 16px;
  //     }
  //     @media @screen768 {
  //       margin-right: 50px;
  //     }
  //     @media screen and (max-width: 370px) {
  //       margin-right: 0;
  //     }
  //   }

  //   a {
  //     display: block;
  //     background: @upd-light-blue;
  //     color: #fff;
  //     text-align: center;
  //     font-weight: 300;
  //     font-size: 22px;
  //     width: 300px;

  //     padding: 4px 10px;
  //     border-radius: 30px;

  //     margin-top: 60px;

  //     em {
  //       font-style: normal;
  //       font-weight: 400;
  //     }
  //   }
  // }
}

// State select

#freetools-v3--state-select-field {
  background-color: #fff;
  border-color: #666;

  .maquette-web();
  font-size: 12px;

  height: 34px;
  display: inline-block;
}

#freetools-v3--state-select-btn {
  display: inline-block;
  max-width: 60px;
  transform: translateY(2px);
}

// Mover Search

#freetools-v3--mover-search {
  font-size: 12px;
  height: 33px;
  &-field {
    font-weight: 300;
    height: 100%;
    width: 100px;
    margin-right: 2px;
    padding-left: 6px;
  }

  #get-a-quote-moving-company_free-moving-tools {
    background: @upd-light-blue;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
    border: none;
    box-shadow: none;
    height: 100%;
    width: 100px;
    line-height: 1;
  }
}

#freetools-v3--close {
  display: none;
}

#freetools-v3--internet_pulldown {
  height: 33px;
  font-size: 12px;
  font-weight: 300;
  border-color: rgb(207, 207, 207);
  background: #fff;
  border-radius: 0px;
  color: rgb(102, 102, 102);
}

.freetools-v3--card-cta #go-tv-internet_free-moving-tools {
  background: @upd-light-blue;
  color: #fff;

  border: none;
  border-radius: 30px;

  // transform: translateY(2px);

  padding: 4px 14px;
  font-size: 14px;
  &:hover {
    transform: scale(1.05);
  }
}
