.d2c-2019--features {
  .navbar-height-adjustment();
  box-sizing: border-box;

  &-hero {
    min-height: ~"calc(546px - @{navbar-height})";
    position: relative;
    background-color: @upd-turquoise;
    background-image: linear-gradient(
      -58deg,
      @upd-light-blue 30%,
      darken(@upd-light-blue, 5%) 80%
    );
    // background-image: linear-gradient(31deg, #24c6dc 0%, #514a9d 100%);
    @media @screen768 {
      min-height: auto;
    }
  }
  &-hero-content {
    .display-flex();
    height: 100%;
    color: #fff;
    justify-content: space-between;
  }
  &-hero-text {
    .display-flex();
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    h1,
    h3 {
      margin: 0;
      max-width: 600px;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
    h1 {
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 50px;
      line-height: 1.3;
    }
    h3 {
      .merriweather();
      font-size: 24px;
      line-height: 1.6;
    }
    svg {
      position: absolute;
      bottom: 40px;
      width: 36px;
      height: 21px;
      left: 50%;
      transform: translateX(-18px);
      @media @screen768 {
        transform: scale(0.8) translateX(-30px);
        bottom: 20px;
      }
    }
    @media @screen992 {
      h1 {
        font-size: 42px;
      }
      h3 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 720px) {
      h1 {
        font-size: 32px;
      }
      h3 {
        font-size: 18px;
        max-width: 400px;
      }
    }
    @media @screen550 {
      text-align: center;
      padding: 50px 0;
      margin-left: auto;
      margin-right: auto;
      h1,
      h3 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &-hero-img {
    .display-flex();
    align-items: flex-end;
    img {
      margin-top: 50px;
      max-width: 400px;
      @media @screen992 {
        padding-right: 20px;
      }
      @media @screen768 {
        max-width: 300px;
        // transform: translateY(60px);
      }
    }
    @media @screen550 {
      display: none;
    }
  }
  &-category {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    .display-flex();
    justify-content: space-around;
    align-items: center;
    &.prepare {
      img {
        max-width: 520px;
      }
    }
    &.setup {
      img {
        max-width: 520px;
      }
    }
    &.pack {
      img {
        max-width: 520px;
      }
    }
    &.update {
      img {
        max-width: 520px;
      }
    }
    &.personalize {
      img {
        max-width: 520px;
      }
    }
    &.save-money {
      img {
        max-width: 447px;
      }
    }
    &.custom-needs {
      img {
        max-width: 520px;
      }
    }
    .fliporder {
      order: -1;
    }
    &::after {
      background: #eee;
      width: 80px;
      height: 6px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-40px) translateY(3px);
      content: "";
    }
    &:last-of-type::after {
      display: none;
    }
    @media @screen1024 {
      img {
        transform: scale(0.95);
      }
    }
    @media @screen992 {
      img {
        max-width: 380px !important;
        transform: scale(1);
      }
    }
    @media @screen768 {
      flex-direction: column;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      .fliporder {
        order: 2;
      }
      &::after {
        display: none;
      }
      &:nth-of-type(2n + 1) {
        background: #f4f4f4;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      }
    }
    @media @screen550 {
      padding-top: 50px;
      img {
        max-width: 320px !important;
      }
    }
  }
  &-highlight {
    max-width: 500px;
    padding-right: 20px;
    padding-left: 20px;
    h2 {
      color: @upd-light-blue;
      font-size: 36px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 1.3;
    }
    p {
      .merriweather();
      line-height: 1.8;
      font-size: 15px;
      color: #202020;
      margin-top: 0;
      margin-bottom: 40px;
      &::after {
        background: @upd-light-blue;
        display: block;
        width: 80px;
        height: 6px;
        content: "";
        margin-top: 30px;
      }
    }
    @media @screen1024 {
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 14px;
      }
    }
    @media @screen550 {
      h2 {
        font-size: 24px;
      }
    }
    .feature-list {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 19px;
        color: @upd-blue;
        font-weight: 200;
        .display-flex();
        margin-bottom: 15px;
        align-items: center;
        &:last-of-type {
          margin-bottom: 0;
        }
        span {
          width: 30px;
          margin-right: 10px;
          .display-flex();
          align-items: center;
          justify-content: center;
        }
        svg {
          fill: @upd-light-blue;
          &.schedule-online {
            width: 20px;
            height: 22px;
          }
          &.estimate {
            width: 20px;
            height: 20px;
          }
          &.truck {
            width: 20px;
            height: 19px;
          }
          &.hire-labor {
            width: 20px;
            height: 20px;
          }
          &.ship-car {
            width: 20px;
            height: 20px;
          }
          &.trash {
            width: 15px;
            height: 19px;
          }
          &.tv-internet {
            width: 25px;
            height: 20px;
          }
          &.insurance {
            width: 19px;
            height: 23px;
          }
          &.home-security {
            width: 22px;
            height: 22px;
          }
          &.electricity {
            width: 20px;
            height: 26px;
          }
          &.water {
            width: 23px;
            height: 20px;
          }
          &.gas {
            width: 15px;
            height: 20px;
          }
          &.buy-boxes {
            width: 22px;
            height: 22px;
          }
          &.box-guide {
            width: 22px;
            height: 22px;
          }
          &.checklist {
            width: 20px;
            height: 18px;
          }
          &.calculator {
            width: 20px;
            height: 20px;
          }
          &.mailforwarding {
            width: 20px;
            height: 20px;
            transform-origin: 50% 50%;
            transform: scale(-1, 1);
          }
          &.address-update {
            width: 20px;
            height: 21px;
          }
          &.driver-license {
            width: 20px;
            height: 20px;
          }
          &.voter-registration {
            width: 20px;
            height: 20px;
          }
          &.home-improvement {
            width: 23px;
            height: 23px;
          }
          &.furniture {
            width: 24px;
            height: 18px;
          }
          &.decor {
            width: 22px;
            height: 22px;
          }
          &.appliance {
            width: 18px;
            height: 21px;
          }
          &.smart-home {
            width: 22px;
            height: 22px;
          }
          &.retail {
            width: 18px;
            height: 23px;
          }
          &.cleaning-services {
            width: 22px;
            height: 22px;
          }
          &.groceries {
            width: 17px;
            height: 22px;
          }
          &.local-guide {
            width: 22px;
            height: 22px;
          }
          &.school-info {
            width: 26px;
            height: 24px;
          }
          &.pet {
            width: 25px;
            height: 21px;
          }
          &.freight-elevator {
            width: 22px;
            height: 23px;
          }
          &.handbook {
            width: 18px;
            height: 22px;
          }
          &.events {
            width: 22px;
            height: 22px;
          }
        }
        @media @screen1024 {
          font-size: 17px;
          margin-bottom: 10px;
          span {
            transform: scale(0.9);
          }
        }
        @media @screen550 {
          font-size: 15px;
          margin-bottom: 6px;
          span {
            transform: scale(0.75);
          }
        }
      }
    }
  }
  &-image {
    text-align: center;
    position: relative;
    &.fpo::after {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 100px;
      font-weight: 900;
      content: "FPO";
      transform: rotate(-30deg) translateX(-50px) translateY(-120px);
      line-height: 1;
      color: rgba(255, 255, 255, 0.5);
      border: 10px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
        inset 0 10px 10px rgba(0, 0, 0, 0.2);
      text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
    @media @screen768 {
      margin-top: 50px;
      // padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
  }
}
// https://res.cloudinary.com/updater-marketing/image/upload/v1559597505/website/2019-d2c-direction/app-shots/app-dashboard-interaction_2x.png
