.b2b-2020--home {
  .b2b-navbar-height-adjustment();
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  .hero-area {
    height: 700px;
    position: relative;
    background-color: #eceeec;
    background-size: auto;
    background-position: bottom;
    background-repeat: repeat-x;
    overflow: hidden;
    background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/v1559919520/website/2019-d2c-direction/heros/hero-floor-pattern_1.jpg);
    @media @screen992 {
      height: 600px;
      background-image: none;
    }

    img {
      position: absolute;
      bottom: 0;
      right: -100px;
      z-index: 0;
      @media screen and (min-width: 1920px) {
        right: 0;
      }
      @media screen and (max-width: 1540px) {
        right: -270px;
      }
      @media @screen992 {
        transform: scale(0.75);
        transform-origin: bottom right;
        bottom: -30px;
        right: -225px;
      }
      @media screen and (max-width: 640px) {
        width: 250%;
        right: -30%;
        transform: scale(1);
      }
    }
  }
  .hero-content {
    .display-flex();
    transform: translateY(-60px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    h1,
    h2 {
      margin: 0;
      z-index: 1;
      color: @upd-navy;
      text-shadow: none;
    }
    h1 {
      font-size: 59px;
      font-weight: 800;
      line-height: 1.3;
      margin-bottom: 15px;
    }
    h2 {
      .merriweather();
      font-size: 30px;
      line-height: 1.666666666666667;
      margin-bottom: 30px;
    }
    span {
      z-index: 2;
    }
    button {
      padding: 16px 28px;
      font-size: 18px;
      line-height: 1;
      border-radius: 30px;
      box-sizing: border-box;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
      }
      &:focus {
        outline: 0;
        box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4);
      }
      @media screen and (max-width: 1140px) {
        // margin-bottom: 100px;
      }
      @media @screen550 {
        padding: 10px 20px;
        font-size: 15px;
      }
    }

    @media @screen992 {
      h1 {
        font-size: 52px;
      }
      h2 {
        font-size: 28px;
      }
      img {
        height: 600px;
      }
    }
    @media @screen768 {
      h1 {
        // margin-top: 20px;
        font-size: 46px;
      }
      h2 {
        font-size: 24px;
      }
      img {
        height: 550px;
      }
    }
    @media screen and (max-width: 640px) {
      justify-content: flex-start;
      align-items: center;
      transform: translateY(0);
      h1,
      h2 {
        text-align: center;
      }
      h1 {
        margin-top: 40px;
      }
      img {
        right: auto;
        height: 350px;
      }
    }
    @media @screen550 {
      h1 {
        font-size: 36px;
        margin-top: 70px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .home-d2c-cta {
    color: #fff;
    background-color: @upd-light-blue;
    border: 1px solid @upd-light-blue;
    padding: 0;
  }
  .home-b2b-cta {
    margin-left: 0.65em;
    color: @upd-light-blue;
    background-color: #fff;
    border: 1px solid @upd-light-blue;
    padding: 0;
  }
  .app-preview {
    .display-flex;
    padding-top: 50px;
    flex-wrap: wrap;
  }
  .app-screen {
    width: 50%;
    .display-flex();
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    // border: 1px solid red;
    img {
      height: 100%;
      width: 100%;
      max-width: 450px;
    }

    @media @screen992 {
      width: 40%;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      order: 2;
      img {
        max-width: 300px;
      }
    }
  }
  .app-text {
    .display-flex();
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    width: 50%;
    h2,
    h3 {
      margin: 0;
      color: @upd-navy;
    }
    h2 {
      font-weight: 800;
      font-size: 42px;
      line-height: 1.35;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      line-height: 1.7;
      margin-bottom: 25px;
      .merriweather();
      max-width: 540px;
    }
    a {
      padding: 20px 30px;
      border-radius: 35px;
      line-height: 1;
      border: 2px solid @upd-light-blue;
      font-size: 17px;
      display: inline-block;
      color: #fff;
      transition: background 0.2s, border 0.2s;
      &:nth-of-type(1) {
        background: @upd-light-blue;
      }
      &:hover {
        background: @upd-blue;
        border-color: @upd-blue;
      }
    }

    div {
      width: 100%;
      margin-top: 20px;
      @media screen and (max-width: 640px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
    @media screen and (max-width: 1024px) {
      h2 {
        font-size: 36px;
      }
      h3 {
        font-size: 22px;
      }
    }
    @media @screen992 {
      width: 60%;
      padding-left: 30px;
      h3 {
        max-width: 480px;
      }
    }
    @media @screen768 {
      h2 {
        font-size: 32px;
        line-height: 1.25;
      }
      h3 {
        font-size: 20px;
        line-height: 1.56;
      }
      a {
        font-size: 15px;
        padding: 16px 26px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      padding-left: 0;
      margin-bottom: 30px;
      h2,
      h3 {
        // margin-left: auto;
        // margin-right:auto;
        text-align: center;
      }
      align-items: center;
    }
  }
  .key-stat {
    background: @upd-blue;
    text-align: center;
    box-sizing: border-box;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,h_500/v1558467991/website/2019-d2c-direction/people-shot/people-grid-vertical_r1.jpg");
    background-size: contain;
    height: 500px;
    .container-2018 {
      .display-flex();
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      border-top: 25px @upd-light-blue solid;
      border-bottom: 25px @upd-light-blue solid;
      background: rgba(255, 255, 255, 0.95);
      // background: rgba(20,66,75,.95);
      height: 100%;
      box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 600px) {
        padding-top: 30px;
      }
      @media @screen550 {
        border-top: 15px @upd-light-blue solid;
        border-bottom: 15px @upd-light-blue solid;
      }
    }
    h2 {
      color: @upd-blue;
      font-weight: 800;
      margin: 0 auto;
      font-size: 38px;
      margin-bottom: 20px;
      line-height: 1.3;
      max-width: 630px;
      span {
        // display: block;
        font-size: 32px;
      }
    }
    @media @screen768 {
      h2 {
        max-width: 600px;
        font-size: 36px;
        span {
          font-size: 30px;
        }
      }
    }
    @media screen and (max-width: 700px) {
      h2 {
        font-size: 32px;
        max-width: 530px;
        span {
          font-size: 28px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      h2 {
        max-width: 470px;
        font-size: 28px;
        margin-bottom: 15px;
        span {
          font-size: 24px;
        }
      }
      height: auto;
    }
    @media @screen550 {
      h2 {
        font-size: 24px;
      }
    }
    &-container {
      .display-flex();
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      flex-wrap: wrap;
      // align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
        padding-bottom: 30px;
      }
    }
    .stat-elem {
      width: 30%;
      text-align: center;
      .display-flex();
      flex-direction: column;
      svg {
        width: 30px;
        height: 30px;
        fill: @upd-light-blue;
        margin-right: 5px;
      }
      .graphic {
        color: @upd-blue;
        .display-flex();
        display: none;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 13px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 75px;
        margin: 0;
        line-height: 1;
        // .merriweather();
        font-weight: 200;
        color: @upd-light-blue;
      }
      .description {
        display: inline-block;
        color: #666;
        max-width: 210px;
        font-size: 14px;
        margin: 10px auto 0;
        text-align: center;
        line-height: 1.4;
      }
      @media @screen768 {
        h3 {
          font-size: 60px;
        }
      }
      @media screen and (max-width: 650px) {
        h3 {
          font-size: 55px;
        }
      }
      @media screen and (max-width: 600px) {
        width: 340px;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
        .graphic {
          width: 90px;
          width: 100%;
          justify-content: center;
        }
        h3 {
          width: 140px;
          font-size: 45px;
          margin: 0 auto;
        }
        .description {
          padding-top: 10px;
          margin: 0 auto;
          width: 400px;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  .testimonial {
    padding-top: 40px;
    margin: 0;
    background: #e4ecf0;
    border: 1px solid transparent;
  }
  .testimonial-carousel {
    h3 {
      position: absolute;
      line-height: 1.3;
      top: 30px;
      left: 95px;
      font-size: 32px;
      z-index: 2;
      font-weight: 800;
      max-width: 400px;
      color: @upd-navy;
      @media @screen992 {
        top: 80px;
      }
      @media @screen550 {
        font-size: 24px;
        max-width: 350px;
      }
      @media screen and (max-width: 450px) {
        left: 60px;
      }
    }
  }
  .home-carousel {
    &-container {
      height: 640px;
      width: 100%;
      .flickity-button.flickity-prev-next-button.previous,
      .flickity-button.flickity-prev-next-button.next {
        background: transparent !important;
        svg.flickity-button-icon {
          transform: scale(2);
          fill: #ffffff;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
          @media @screen992 {
            transform: scale(1.6);
          }
        }
      }
      ol.flickity-page-dots {
        transform: translateY(-60px);
      }
    }
    &-inner {
      .display-flex();
      width: 100%;
    }
    &-quote {
      padding-left: 80px;
      padding-right: 50px;
      width: 50%;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      line-height: 1.8;
      font-size: 20px;
      .merriweather();
      font-style: italic;
      z-index: 1;
      span {
        display: block;
        margin-top: 10px;
      }
      .moving-to {
        margin-top: 5px;
        font-size: 16px;
        padding-left: 25px;
      }
      &::before {
        content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1558476366/website/2019-d2c-direction/icons/quote.svg");
        display: block;
        transform: translateX(180px) translateY(-10px) scale(1.2);
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
      }
    }
    &-photo {
      width: 50%;
      .display-flex();
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    @media @screen992 {
      &-container {
        margin-top: -80px;
      }
      &-quote {
        padding-left: 60px;
        width: 60%;
        font-size: 18px;
        .moving-to {
          margin-top: 0;
          font-size: 14px;
        }
      }
      &-photo {
        width: 40%;
        img {
          transform: scale(0.9);
          transform-origin: bottom;
        }
      }
    }
    @media screen and (max-width: 900px) {
      &-photo {
        img {
          transform: scale(0.7) translateX(-60px);
          transform-origin: bottom;
        }
      }
    }
    @media @screen768 {
      &-quote {
        padding-left: 80px;
        width: 60%;
        font-size: 16px;
        .moving-to {
          font-size: 12px;
        }
      }
      &-photo {
        img {
          transform: scale(0.6) translateX(-60px);
        }
      }
    }
    @media screen and (max-width: 650px) {
      &-inner {
        flex-direction: column;
      }
      &-quote,
      &-photo {
        width: 100%;
        transform: translateY(200px);
      }

      &-photo {
        transform: translateX(120px) translateY(-200px);
        img {
          transform: scale(0.5) translateY(100px);
        }
      }
    }
    @media @screen550 {
      &-quote {
        line-height: 1.5;
        transform: translateY(170px);
        padding-left: 50px;
        &::before {
          transform: translateX(100px) translateY(-10px) scale(1);
        }
      }
      &-photo {
        transform: translateX(0px) translateY(-180px);
        img {
          transform: scale(0.55) translateY(100px);
        }
      }
    }
  }
  .press-coverage {
    padding: 60px 10px;
    text-align: center;
    background: #fff;
    z-index: 2;
    position: relative;
    h3 {
      font-size: 28px;
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      font-weight: 800;
      color: @upd-navy;
      text-align: center;
    }
    .logo-container {
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 30px;
      .display-flex();
      flex-wrap: wrap;
      div {
        width: 33.3333333333%;
        .display-flex();
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        & > a:hover {
          transform: scale(1.1);
          transition: transform 0.2s;
        }
        @media @screen768 {
          padding: 20px;
          svg {
            max-width: 100%;
            max-height: 90px;
          }
        }
      }
    }
    a.blue-btn-outline-2018 {
      margin-top: 5px;
    }
    .media-wsj {
      width: 144px;
      height: 100px;
    }
    .media-wp {
      width: 164px;
      height: 114px;
    }
    .media-cheddar {
      width: 133px;
      height: 82px;
    }
    .media-entrepreneur {
      width: 179px;
      height: 36px;
    }
    .media-forbes {
      width: 103px;
      height: 27px;
    }
    .media-inman {
      width: 114px;
      height: 35px;
    }
  }
  .blog-preview-items {
    h2 {
      @media @screen550 {
        font-size: 24px;
      }
      @media screen and (max-width: 350px) {
        font-size: 20px;
      }
    }
  }
}
