.b2b-2020.call-center {
  .navbar-height-adjustment();
  position: relative;
  box-sizing: border-box;
  .hero-area {
    background-color: #0a0f1c;
    box-sizing: border-box;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1588179748/website/2020-b2b-relaunch/hero-images/call-center-hero-shutterstock_669170680.jpg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 440px;
    .display-flex();
    align-items: center;
    @media screen and (max-width: 800px) {
      background-size: cover;
      background-position: center;
    }
  }
  .hero-content-wrapper {
    box-sizing: border-box;
    width: 100%;

    .text-element {
      box-sizing: border-box;
      font-size: 10px;
      margin-left: 5vw;
      h1,
      h2 {
        margin: 0;
        color: #fff;
      }
      h1 {
        font-weight: 800;
        font-size: 3.6em;
        line-height: 1.25;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 2em;
        font-weight: 200;
        line-height: 1.4;
        margin-bottom: 1.5em;
      }
      button {
        font-size: 1.4em;
        line-height: 1;
        padding: 1em 2em;
        color: #fff;
        background: @upd-light-blue;
        border-radius: 2em;
        border: none;
      }
    }

    @media @screen1024 {
      .text-element {
        font-size: 9px;
      }
    }
    @media @screen900 {
      .text-element {
        max-width: 430px;
        margin: 0 auto;
        text-align: center;
        // margin-top: 40px;
        background: rgba(0, 0, 0, 0.5);
        padding: 30px 20px;
      }
    }
    @media @screen550 {
      .text-element {
        font-size: 8px;
        h2 {
          font-size: 2.2em;
        }
        button {
          font-size: 1.8em;
        }
      }
    }
  }
  .lead-in-takeaway {
    box-sizing: border-box;
    background: @upd-blue;
    font-size: 27px;
    padding: 1.5em 15px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    text-align: center;
    @media @screen992 {
      font-size: 24px;
    }
    @media @screen900 {
      font-size: 20px;
    }
    @media @screen667 {
      font-size: 18px;
    }
    @media @screen550 {
      br {
        display: none;
      }
    }
  }
  .our-proven-record {
    background: #eff7f9;
    box-sizing: border-box;
    padding: 50px 15px;

    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    p {
      text-align: center;
      .merriweather();
      max-width: 610px;
      margin: 10px auto 20px;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 1.5;
    }
    .card-grid {
      max-width: 800px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
    }
    .record-card {
      flex-basis: 31.5%;
      padding: 0 0 25px 0;
      background: #ffffff;
      box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      margin-bottom: 25px;
      h5 {
        border-radius: 13px 13px 0 0;
        margin: 0 0 20px;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        background: @upd-light-blue;
        color: #fff;
        font-weight: 800;
      }
      .record-entry {
        flex: 1;
        padding: 0 15px 0;
        text-align: center;
        h6 {
          font-weight: 200;
          text-transform: none;
          color: @upd-blue;
          font-size: 40px;
          margin: 0;
          line-height: 1.3333333;
          span {
            font-size: 0.5em;
            font-weight: 400;
          }
        }
        p {
          .maquette-web();
          font-size: 12px;
          line-height: 1.2;
          color: @upd-navy;
          font-weight: 400;
          margin: 0;
        }
      }
      @media @screen768 {
        flex-basis: 48.5%;
        margin-bottom: 15px;
        h5 {
          margin-bottom: 20px;
        }
        .record-entry h6 {
          font-size: 32px;
        }
      }
      @media @screen550 {
        h5 {
          margin-bottom: 10px;
        }
        flex-basis: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .global-operation {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 15px;
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 21px;
      line-height: 1.2;
      font-weight: 20;
      margin: 8px 0 0;

      text-align: center;
      @media @screen550 {
        font-size: 18px;
      }
    }
    .ops-summary {
      margin-top: 30px;
      min-height: 392px;
      .display-flex();
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1588186107/website/2020-b2b-relaunch/hero-images/call-center-map.png");
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
      @media @screen900 {
        background-position: -5vw;
      }
      @media screen and (max-width: 860px) {
        background: none;
        justify-content: center;
        min-height: auto;
      }
    }
    .divTable {
      display: table;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      background-color: #e7f8f9;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      &Row {
        display: table-row;
        &:nth-child(even) {
          background: #cff1f4;
        }
      }
      &Heading {
        display: table-header-group;
        background: #39b3ca;
        color: #ffffff;
      }
      &Cell,
      &Head {
        display: table-cell;
        padding: 10px 30px;
        font-weight: 200;
      }
      &Body {
        display: table-row-group;
      }
      @media @screen1024 {
        &Cell,
        &Head {
          padding: 10px 20px;
        }
      }
    }
  }
  .reporting-metrics {
    background: #eff7f9;
    box-sizing: border-box;
    .metric-wrapper {
      max-width: 900px;
      margin: 0 auto;
      padding: 50px 15px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
    }
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 30px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .highlight-card {
      box-sizing: border-box;
      flex-basis: 32%;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      padding: 20px 30px 30px;
      font-size: 10px;

      @media @screen768 {
        flex-basis: 100%;
        .display-flex();
        align-items: center;
        margin-bottom: 15px;
        h5 {
          flex-basis: 200px;
          align-self: flex-start;
          flex-shrink: 0;
          margin-right: 30px !important;
        }
        ul {
          flex: 1;
        }
      }
      @media @screen550 {
        flex-wrap: wrap;
        h5 {
          max-width: 100%;
          .display-flex();
          align-items: center;
          margin: 0;
        }
        ul {
          flex-basis: 100%;
          margin-left: 30px !important;
        }
      }

      &.small {
        flex-basis: 23.5%;
        @media @screen768 {
          flex-basis: 49%;
          h5 {
            max-width: 100%;
            .display-flex();
            align-items: center;
            margin: 0;
          }
          &:last-of-type {
            margin-bottom: 15px;
          }
        }
        @media screen and (max-width: 490px) {
          flex-basis: 100%;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      .image-block {
        .display-flex();
        height: 60px;
        align-items: center;
      }
      h5 {
        font-weight: 800;
        font-size: 1.5em;
        line-height: 1.3333333333;
        margin: 0 0 1em;
        color: @upd-light-blue;
        max-width: 180px;
      }
      ul {
        .merriweather();
        font-size: 1.2em;
        line-height: 1.5;
        color: #4a4a4a;
        margin: 0;
        // list-style-position: outside;
        list-style: none;
        padding-left: 15px;
        li + li {
          margin-top: 3px;
        }
        li span {
          font-style: italic;
        }
        li::before {
          content: "•";
          margin-right: 10px;
          margin-left: -17px;
          color: @upd-pink;
          font-weight: 400;
        }
      }
      img {
        // transform: scale(0.8);
        transform-origin: left center;
      }
      img.productivity {
        width: 35px;
        height: 45px;
      }
      img.telephony {
        width: 35px;
        height: 35px;
      }
      img.quality {
        width: 33px;
        height: 40px;
      }
      img.csat {
        width: 44px;
        height: 40px;
      }
      img.q-transfer {
        width: 30px;
        height: 35px;
      }
      img.nps {
        width: 38px;
        height: 40px;
      }
      img.sales {
        width: 38px;
        height: 35px;
      }
      @media @screen550 {
        font-size: 9px;
        flex-basis: 100%;
        .display-flex();
        padding: 20px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
        flex-wrap: wrap;
        .image-block {
          width: 40px;
          justify-content: center;
          margin-right: 10px;
          height: 50px;
          img {
            transform: scale(0.6);
          }
        }
        h5 {
          max-width: 100%;
          .display-flex();
          align-items: center;
          margin: 0;
        }
        p {
          max-width: 100%;
          flex-basis: 100%;
          margin: 5px 0 0 50px;
        }
      }
    }
  }
  .training-incentives {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 15px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 25px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    h5 {
      font-size: 17px;
      color: @upd-light-blue;
      margin: 0 0 5px;
      line-height: 1.6;
    }
    p {
      .merriweather();
      font-size: 14px;
      color: #4a4a4a;
      line-height: 1.5;
    }
    p + h5 {
      margin-top: 12px;
    }
    .training-img {
      flex-basis: 48%;
      img {
        max-width: 100%;
      }
    }
    .training-txt {
      flex-basis: 48%;
    }
    @media @screen1024 {
      h5 {
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }
    @media @screen768 {
      .training-img {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
      .training-txt {
        flex-basis: 100%;
      }
    }
  }

  .business-products--form-area {
    background: @upd-blue;
    h2,
    h6 {
      color: #fff;
    }
    form,
    form *,
    form > * {
      font-family: ars-maquette-web !important;
    }
    button.mktoButton {
      background: #fff !important;
      color: @upd-blue!important;
      transition: color 0.2s, background 0.2s;
      &:hover {
        background: @upd-light-blue!important;
        color: #fff !important;
      }
    }
  }
  .schedule-widget {
    position: fixed;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    right: 0;
    bottom: 30px;
    max-width: 260px;
    background: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 13px 0 0 13px;
    padding: 0 0 20px;
    transition: opacity 0.5s, visibility 0.5s, transform 0.15s,
      border-radius 0.15s;
    transform-origin: top right;
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    &.untriggered {
      opacity: 0;
      visibility: hidden;
    }
    &.collapsed {
      height: 300px;
      transform: rotate(-90deg) translateY(-35px);
      padding-bottom: 0;
      border-radius: 13px 13px 0 0;
      h5 {
        margin-bottom: 0;
        text-align: center;
        &::after {
          content: " \25b4";
        }
      }
    }
    h5,
    h6,
    p {
      margin: 0;
      padding: 0 30px;
    }
    h5 {
      cursor: pointer;
      width: 100%;
      padding: 10px 30px;
      font-weight: 800;
      font-size: 15px;
      line-height: 1;
      margin-bottom: 20px;
      background: @upd-navy;
      color: #fff;
      &::after {
        content: " \25be";
      }
    }
    h6,
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    h6 {
      text-transform: none;
      font-weight: 800;
      color: @upd-blue;
    }
    p {
      font-weight: 200;
      color: #202020;
    }
    p + h6 {
      margin-top: 10px;
    }
    button {
      margin-left: 30px;
      margin-top: 15px;
      border: 1px solid @upd-blue;
      border-radius: 30px;
      color: @upd-blue;
      background: #fff;
      padding: 0.4em 1em;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
