.att-pilot {
  &.heading {
    border-top: 8px solid @upd-pink;
    padding-top: 15px;
    h1 {
      font-size: 18px;
      font-weight: 200;
      margin: 1.5em 0 0;
      text-align: center;
      img {
        display: block;
        max-width: 300px;
        margin: 0 auto 0.75em;
      }
    }
    .upd-logo {
      max-width: 135px;
    }
    @media @screen768 {
      text-align: center;
      .upd-logo {
        max-width: 105px;
      }
      h1 {
        font-size: 14px;
        img {
          max-width: 200px;
        }
      }
    }
  }
  &.table-area {
    padding-top: 50px;
    padding-bottom: 50px;

    .properties {
      width: 100%;
      font-size: 16px;
      line-height: 1.4;
    }
    th {
      background: @upd-light-blue;
      font-weight: 400;
      color: #fff;
      padding: 0.5em 1em;
    }
    tfoot tr {
      font-size: 6px;
      padding: 0;
      height: 10px;
      background: @upd-light-blue;
    }
    tbody {
      tr {
        background: #f0f0f0;
        &:nth-of-type(2n) {
          background: #e0e0e0;
        }
      }
      td {
        padding: 1em;
      }
      .mobile {
        display: none;
      }
      .mobile-hidden {
        pointer-events: none;
      }
    }
    .page-link,
    .copy-url {
      font-size: 12px;
      padding: 0.5em 1em;
      border-radius: 50px;
      background: @upd-light-blue;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      margin: 0.25em;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      }
    }
    .copy-url {
      border: 1px solid @upd-light-blue;
      background: #fff;
      color: @upd-light-blue;
    }
    @media @screen768 {
      padding-top: 20px;
      .properties {
        font-size: 12px;
      }
      .state {
        display: none;
      }
      .page-link,
      .copy-url {
        width: 100%;
        text-align: center;
        padding: 0.25em 0.5em;
      }
      tbody .mobile {
        display: inline;
      }
      .mobile-hidden {
        display: none;
      }
    }
  }
  &.copy-confirm {
    pointer-events: none;
    .display-flex();
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
    .message {
      font-size: 20px;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      line-height: 1;
      padding: 30px;
      color: @upd-light-blue;
    }
    .url {
      display: block;
      font-size: 14px;
      color: @upd-navy;
      background: rgba(0, 0, 0, 0.1);
      padding: 5px;
      margin-top: 15px;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
    }
  }
}
