form.sfwl_form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  .note {
    text-align: right;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
    span {
      color: @upd-pink;
    }
  }
}

.sfwl_h3 {
  text-align: center;
  margin: 0;
  font-weight: 800;
  color: @upd-navy;
  padding-top: 60px;
  margin-bottom: 20px;
}

.sfwl_row {
  .display-flex();
  justify-content: center;
  align-items: center;
  .multi-note {
    margin-top: -5px;
    margin-bottom: 3px;
    margin-left: 130px;
    font-size: 10px;
    width: 100%;
    color: #666;
    span {
      display: inline-block;
      background: #eee;
      box-sizing: border-box;
      padding: 0px 5px;
      font-size: 8px;
      font-weight: 400;
      color: #333;
      border-radius: 4px;
      border: 1px solid #999;
    }
  }
  label {
    flex-basis: 120px;
    text-align: right;
    margin: 0;
    margin-right: 6px;
    text-transform: none;
    &.required::after {
      content: "*";
      color: red;
    }
  }
  input,
  textarea,
  select {
    flex: 1;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 200;
  }
  input,
  textarea {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ddd;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #ddd;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #ddd;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #ddd;
    }
    &::placeholder {
      color: #ddd;
    }
  }
  select option {
    font-weight: 200;
  }
  @media @screen550 {
    flex-direction: column;
    label {
      flex-basis: 20px;
      text-align: left;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      padding-left: 5px;
    }
    input,
    textarea,
    select {
      flex-basis: auto;
      width: 100%;
    }
    textarea {
      flex-basis: 150px;
    }
    .multi-note {
      margin-left: 0;
    }
  }
}

.sfwl_row + .sfwl_row {
  margin-top: 10px;
}

.sfwl_submit {
  background: @upd-light-blue;
  border: none;
  font-size: 14px;
  color: #fff;
  padding: 12px 50px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  width: calc(~"100% - 130px");
  transition: background 0.2s;
  &:hover {
    background: @upd-navy;
  }
  @media @screen550 {
    margin-right: auto;
    width: auto;
  }
}
