.guides {
  &.hero {
    background: @upd-light-blue;
    padding-top: 30px;
    padding-bottom: 30px;
    .hero-wrapper {
      .display-flex();
      align-items: center;
      justify-content: space-around;
    }
    .text-elem {
      max-width: 400px;
      color: #fff;
      h1 {
        font-weight: 800;
        margin: 0 0 20px;
        font-size: 36px;
      }
      p {
        margin: 0;
        max-width: 350px;
        .merriweather();
        font-size: 14px;
        line-height: 1.6;
      }
    }
    img {
      max-width: 500px;
    }
    @media @screen900 {
      .hero-wrapper {
        flex-direction: column;
      }
      .text-elem {
        text-align: center;
        p {
          margin: 0 auto;
        }
      }
      img {
        margin-top: 30px;
        max-width: 350px;
        width: 100%;
      }
    }
    @media @screen550 {
      .text-elem h1 {
        font-size: 24px;
      }
      .text-elem p {
        font-size: 12px;
      }
    }
  }
  &.grid {
    .display-flex();
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    h2 {
      flex-basis: 100%;
      font-size: 20px;
      padding: 5px 15px;
      color: @upd-navy;
      font-weight: 800;
      background: lighten(@upd-navy, 65%);
      margin: 0 0 20px;
      border-bottom: 5px solid lighten(@upd-navy, 65%);
    }
    @media @screen550 {
      justify-content: center;
    }
  }
  &.grid + &.grid {
    margin-top: 0;
  }
  &.item {
    flex-basis: 32%;
    margin-bottom: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    .text-elem {
      padding: 15px;
    }
    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      height: 200px;
    }
    h3 {
      margin: 0;
      line-height: 1.4;
      font-weight: 200;
      color: #202020;
      font-size: 18px;
      small {
        font-size: 10px;
        color: #555;
        display: inline-block;
        background: @upd-light-green;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 5px 10px;
        // font-style: italic;
      }
    }
    .blue-btn-outline-2018 {
      font-size: small;
      margin-top: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
      transform: translateY(-1px);
    }
    @media @screen900 {
      h3 {
        font-size: 16px;
      }
    }
    @media @screen768 {
      flex-basis: 49%;
      &:nth-of-type(3n) {
        margin-right: 2%;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media @screen550 {
      max-width: 400px;
      flex-basis: 100%;
      margin-bottom: 20px;
      margin-right: 0;
      &:nth-of-type(2n),
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
  &.jumpToSections {
    background: @upd-blue;
    z-index: 9;
    a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      .display-flex();
      align-items: center;
      justify-content: center;
    }
    ul {
      .display-flex();
      margin: 0 auto;
      padding: 0;
      list-style: none;
      width: 100%;
    }
    li {
      flex: 1;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      transition: background 0.2s;
      .display-flex();
      align-items: center;
      &:hover {
        background: @upd-navy;
      }
      @media @screen550 {
        font-size: 14px;
      }
    }
  }
}
