.utt {
  .big-cta {
    background: @upd-pink;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 800;
    .display-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 1;
    padding: 15px 30px;
    transition: transform 0.3s;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
    svg {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    }
  }
  .small-cta {
    background: #fff;
    border: 1px solid @upd-light-blue;
    color: @upd-light-blue;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px 20px;
    transition: color 0.2s, background 0.2s;
    &:hover {
      background: @upd-light-blue;
      color: #fff;
    }
  }
  &.hero {
    background: #b1def5;
    .display-flex();
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    .presented-by {
      text-transform: uppercase;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
      line-height: 1;
    }
    .upd-logo {
      width: 112px;
      margin-left: 5px;
      vertical-align: middle;
    }
    h1,
    h2 {
      line-height: 1.5;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    h1 {
      font-weight: 800;
      font-size: 56px;
      color: @upd-navy;
      margin: 20px 0 0;
      svg {
        height: 1.2em;
        width: 1.2em;
        transform: translateY(0.2em);
      }
    }
    h2 {
      font-weight: 800;
      font-size: 24px;
      margin: 10px 0 0;
      color: @upd-navy;
      text-transform: uppercase;
    }
    p {
      .merriweather();
      font-weight: 200;
      font-size: 18px;
      line-height: 1.7;
      color: #202020;
      max-width: 650px;
      text-align: center;
      margin: 20px 0 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    .schedule {
      font-size: 20px;
      color: #202020;
      margin: 20px 0 40px;
      text-align: center;
      line-height: 1.5;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 30px;
      span {
        display: inline-block;
      }
    }

    .hero-img {
      max-width: 100%;
      margin-top: 10px;
    }
    @media @screen900 {
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
        max-width: 550px;
      }
      .schedule {
        font-size: 17px;
      }
    }
    @media @screen550 {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 15px;
        max-width: 430px;
      }
      .schedule {
        font-size: 15px;
      }
      .presented-by {
        font-size: 12px;
      }
      .upd-logo {
        width: 100px;
      }
    }
  }
  &.content {
    max-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
    .display-flex();
    justify-content: space-between;
    .text-elem,
    .image-elem {
      width: 49%;
      flex: 0 0 49%;
    }
    .text-elem,
    .image-elem {
      .display-flex();
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 15px;
    }
    h3,
    p {
      margin: 0;
    }
    h3 {
      color: @upd-light-blue;
      font-weight: 800;
      font-size: 36px;
      line-height: 1;
      margin-bottom: 1em;
    }
    p {
      .merriweather();
      font-size: 16px;
      line-height: 1.7;
      color: #666;
      max-width: 400px;
      .highlight {
        color: #202020;
      }
      .note {
        color: @upd-pink;
        font-size: small;
      }
      &.note-detail {
        font-size: 10px;
        margin-top: 1.2em;
      }
    }
    p + p {
      margin-top: 1em;
    }
    .charts {
      border-radius: 15px;
      background: #e9f7ff;
      padding: 40px 20px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: center;
      svg {
        width: 152px;
        height: 152px;
      }
      svg + svg {
        margin-left: 25px;
      }
      p {
        font-size: 12px;
        margin-top: 20px;
        line-height: 1.5;
        color: @upd-navy;
        font-weight: 400;
        max-width: 330px;
      }
    }
    .app-concept {
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      max-width: 375px;
      border-radius: 15px;
      overflow: hidden;
      img {
        max-width: 100%;
        cursor: pointer;
      }
    }
    .small-cta {
      margin: 15px 0 50px;
    }
    .big-cta {
      background: @upd-light-blue;
      margin: 15px 0 0;
    }
    @media @screen900 {
      h3 {
        font-size: 32px;
      }
      p {
        font-size: 15px;
      }
      .charts {
        padding: 40px 20px;
        margin-top: 30px;
        svg {
          width: 130px;
          height: 130px;
        }
        svg + svg {
          margin-left: 25px;
        }
        p {
          font-size: 12px;
          max-width: 300px;
        }
      }
    }
    @media @screen768 {
      flex-wrap: wrap;
      justify-content: center;
      .text-elem,
      .image-elem {
        flex-basis: 100%;
        max-width: 500px;
      }
      .app-concept {
        display: none;
      }
      p {
        max-width: 500px;
      }
    }
    @media @screen550 {
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      .charts {
        padding: 30px 20px;
        margin-top: 30px;
        svg {
          width: 110px;
          height: 110px;
        }
        svg + svg {
          margin-left: 25px;
        }
        p {
          font-size: 12px;
          max-width: 300px;
        }
      }
    }
  }
  &.supplementary {
    max-width: 1140px;
    margin: 50px auto 0;
    .display-flex();
    flex-wrap: wrap;
    .presenter,
    .resources {
      width: 50%;
      flex: 0 0 50%;
      padding: 50px 50px 20px 50px;
    }
    h4,
    h5,
    h6 {
      margin: 0;
      color: @upd-navy;
      line-height: 1;
    }
    h4,
    h5 {
      font-weight: 800;
    }
    h4 {
      font-size: 22px;
      margin-bottom: 30px;
    }
    h5 {
      font-size: 18px;
      margin-bottom: 7px;
    }
    h6 {
      font-weight: 400;
      text-transform: none;
      line-height: 1.2;
      font-size: 15px;
    }
    .presenter {
      background: #e9f7ff;
      .title {
        .display-flex();
        align-items: flex-end;
        margin-bottom: 20px;
      }
      img {
        max-width: 150px;
        margin-right: 20px;
      }
      p {
        .merriweather();
        font-size: 14px;
        line-height: 1.6;
        color: #333;
        max-width: 400px;
      }
    }
    .resources {
      background: @upd-blue;
      h4,
      h5,
      h6,
      p {
        color: #fff;
      }
      .grid-wrap {
        .display-flex();
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .grid-item {
        flex-basis: 48%;
        img {
          max-width: 100%;
        }
        &:hover {
          .image {
            transform: scale(1.05);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          }
          .text-link {
            text-decoration: underline;
          }
        }
      }
      .text-link {
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        display: block;
        margin: 8px 0 24px;
      }
      .image {
        transition: transform 0.3s;
        position: relative;
      }
      .tag {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        font-weight: 800;
        color: #fff;
        padding: 5px;
        line-height: 1;
        text-transform: uppercase;
        transform: translateY(7px) translateX(-7px);
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          transform: translateY(7px);
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7px 7px 0;
          border-color: transparent;
        }
        &.article {
          background: @upd-light-green;
          &::after {
            border-color: transparent #1e4c0f transparent transparent;
          }
        }
        &.webinar {
          background: @upd-orange;
          &::after {
            border-color: transparent #72340f transparent transparent;
          }
        }
        &.ebook {
          background: @upd-turquoise;
          &::after {
            border-color: transparent #0e463b transparent transparent;
          }
        }
      }
    }
    .form {
      flex-basis: 100%;
      background: @upd-navy;
      padding: 50px 15px;
      h3,
      h6 {
        margin: 0;
        color: #fff;
        font-weight: 800;
        text-transform: none;
        text-align: center;
        line-height: 1;
      }
      h3 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      h6 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .basic-info {
        .display-flex();
        span {
          display: block;
          line-height: 1.5;
        }
        margin-bottom: 20px;
      }
      .date-time {
        flex: 0 0 66%;
      }
      .price {
        flex: 0 0 33%;
      }
      .form-label,
      legend.title,
      label.title {
        font-size: 15px;
        font-weight: 400;
        color: #202020;
        margin-bottom: 0;
      }
      span.required {
        color: @upd-pink;
      }
      input.button[type="submit"] {
        background: @upd-light-blue;
        font-size: 17px;
        padding: 15px 30px;
        border-radius: 30px;
        &:hover {
          background: @upd-blue;
        }
      }
      .details {
        font-weight: 200;
        font-size: 24px;
        color: @upd-light-blue;
      }
      .form-container {
        max-width: 570px;
        background: #fff;
        border-radius: 15px;
        padding: 30px;
        margin: 0 auto;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      }
    }
    @media @screen900 {
      flex-direction: column;
      .presenter,
      .resources,
      .form {
        flex-basis: 100%;
        width: 100%;
      }
      .resources {
        order: 3;
      }
      .form {
        h3 {
          font-size: 28px;
        }
        h6 {
          font-size: 20px;
        }
      }
      .wrapper {
        max-width: 400px;
        margin: 0 auto;
      }
    }
    @media @screen550 {
      h4 {
        font-size: 18px;
      }
      h5 {
        font-size: 14px;
      }
      h6 {
        font-size: 13px;
      }
      .title img {
        max-width: 120px;
      }
      .presenter {
        p {
          font-size: 12px;
        }
      }
      .form {
        h3 {
          font-size: 24px;
        }
        h6 {
          font-size: 15px;
        }
        .form-label,
        legend.title,
        label.title {
          font-size: 13px;
        }
        input.button[type="submit"] {
          font-size: 15px;
        }
        .details {
          font-size: 18px;
        }
        .form-container {
          padding: 15px;
        }
      }
      .resources {
        .grid-item {
          flex-basis: 100%;
        }
      }
    }
  }
  &.ux-mockup-overlay {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 15px;
    overflow-y: auto;
    transform: translateX(-100vw);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
    .prototypes {
      position: relative;
    }
    .close-modal {
      border: none;
      position: absolute;
      top: -40px;
      right: -10px;
      background: transparent;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    h2,
    h6 {
      margin: 0;
      line-height: 1.2;
      text-align: center;
    }
    h2 {
      color: @upd-light-blue;
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 0.25em;
    }
    ul {
      .display-flex();
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 30px 0 0;
    }
    h6 {
      font-size: 16px;
      font-weight: 800;
      line-height: 1;
      text-transform: none;
      color: inherit;
    }
    li {
      display: block;
      padding: 15px 10px;
      text-align: center;
      flex: 1;
      cursor: pointer;
      background: #f0f0f0;
      border: 1px solid #f0f0f0;
      border-bottom-color: #333;
      color: #888;
      &.active {
        background: #fff;
        border-color: #333;
        border-bottom-color: transparent;
        color: #202020;
      }
      p {
        font-size: 12px;
        line-height: 1.5;
        margin: 5px 0 0;
      }
    }
    p {
      text-align: center;
      line-height: 1.3;
    }
    &.active {
      opacity: 1;
      transform: translateX(0);
    }
    .s01,
    .s02,
    .s03 {
      border: 1px solid #333;
      border-top: none;
      padding: 30px 15px;
      display: none;
      justify-content: center;
      align-items: flex-start;
      &.active {
        .display-flex();
      }
    }
    .anim {
      max-width: 375px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    .context {
      max-width: 500px;
      flex-basis: 375px;
      margin-left: 30px;
      h5,
      p {
        text-align: left;
        margin: 0;
      }
    }
    .thumbs {
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      &::before {
        content: "Click thumbnails to view details";
        padding-top: 8px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: @upd-light-blue;
        border-top: 1px solid #ddd;
        width: 100%;
        display: block;
      }
      a {
        width: 31%;
        flex: 0 0 31%;
      }
      img {
        width: 100%;
        margin-bottom: 15px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
    @media @screen768 {
      h2 {
        font-size: 28px;
      }
    }
    @media @screen550 {
      h2 {
        font-size: 24px;
      }
      h6 {
        font-size: 14px;
      }
      li p {
        display: none;
      }
      .s01,
      .s02,
      .s03 {
        flex-direction: column;
        align-items: center;
        .anim {
          order: 2;
        }
        .context {
          flex-basis: auto;
          width: 100%;
          margin-left: 0;
          margin-bottom: 25px;
          max-width: 375px;
        }
      }
    }
  }
}

img.slbImage {
  padding-bottom: 4em !important;
}
div.slbCaption {
  white-space: normal !important;
  overflow: visible !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}
