.b2b-2020.jobs {
  // .b2b-navbar-height-adjustment();
  .navbar-height-adjustment();
  // overflow: hidden;
  .workplace-recognitions {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
  }
  .below-job-posts {
    background: lighten(@upd-light-blue, 45%);
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;

    h6 {
      color: @upd-navy;
      font-size: 22px;
      text-transform: none;
      text-align: center;
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 30px;
      line-height: 1.7;
      .merriweather();
      a {
        color: @upd-pink;
        &:hover {
          color: @upd-light-blue;
        }
      }
      @media @screen550 {
        font-size: 16px;
      }
    }
  }
  .title-area {
    h1 {
      font-size: 36px;
      font-weight: 900;
      color: #334d5c;
      line-height: 1.2;
      margin: 0;
      padding-top: 30px;
      text-align: center;
      margin-bottom: 10px;
      margin-bottom: 1em;
      @media @screen667 {
        font-size: 24px;
      }
    }
    .filter-list {
      background: lighten(@upd-light-blue, 45%);
      padding-top: 20px;
      padding-bottom: 20px;
      &-container {
        width: 100%;
        .display-flex();
        justify-content: center;
        flex-wrap: wrap;
        @media @screen667 {
          flex-direction: column;
        }
      }
      &-reset-all {
        display: block;
        margin: 0 auto;
        outline: none;
        border-radius: 20px;
        font-size: 14px;
        color: @upd-light-blue;
        border: 1px solid @upd-light-blue;
        background: #fff;
        padding: 5px 10px;
      }
    }
    .filter-item {
      padding: 20px 10px;
      flex: 0 0 33%;
      width: 33%;
      font-size: 14px;
      @media @screen667 {
        flex-basis: 100%;
        width: 100%;
        padding: 10px 10px 0;
        &:last-of-type {
          padding-bottom: 10px;
        }
      }
      span {
        display: block;
        font-size: 1em;
        line-height: 1;
        padding-bottom: 0.5em;
        font-weight: 400;
      }
      /* Reset Select */
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: lighten(@upd-light-blue, 45%);
        background: #fff;
        background-image: none;

        /* Remove IE arrow */
        &::-ms-expand {
          display: none;
        }

        flex: 1;
        // width: 30%;
        padding: 0 0.5em;
        color: #202020;
        cursor: pointer;
      }
      /* Custom Select */
      .select {
        position: relative;
        display: flex;
        // width: 30%;
        height: 2.5em;
        line-height: 2.5;
        background: #fff;
        overflow: hidden;
        border-radius: 0.25em;
        border: 1px solid @upd-light-blue;
        font-weight: 200;
        font-size: 1.2em;

        &::after {
          content: "\25BC";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 0.75em;
          background: @upd-light-blue;
          color: #fff;
          cursor: pointer;
          pointer-events: none;
          transition: background 0.25s;
          .display-flex();
          align-items: center;
          justify-items: center;
        }
        &:hover::after {
          background: @upd-blue;
        }
        @media @screen667 {
          line-height: 1.5;
          height: 2em;
          &::fater {
            font-size: 0.5em;
            padding: 0 0.5em;
          }
        }
      }
    }
  }
  .job-cards-container {
    margin-top: 50px;
    margin-bottom: 50px;
    .display-flex();
    flex-wrap: wrap;
    align-items: stretch;
  }
  .job-not-found {
    width: 100%;
    flex: 0 0 100%;
    max-width: 500px;
    padding: 100px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
    transform: translateY(-40px);
    a {
      color: @upd-light-blue;
      text-decoration: underline;
    }
    p {
      margin: 0;
      max-width: 375px;
      line-height: 1.4;
      & + p {
        margin-top: 0.5em;
      }
    }
    svg {
      width: 100px;
      height: 125px;
    }
    display: none;
    &.active {
      .display-flex();
    }
    @media @screen550 {
      box-shadow: none;
    }
  }
  .job-url {
    .display-flex();
    align-items: stretch;
    flex: 0 0 31%;
    display: block;
    margin: 0 1.16666666666666667% 20px;
    @media @screen900 {
      flex: 0 0 47%;
      margin: 0 1.333333333333% 20px;
    }
    @media @screen667 {
      flex: 0 0 100%;
      margin: 0 0 20px;
    }
  }
  .job-card {
    height: 100%;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    .display-flex();
    justify-content: space-between;
    flex-direction: column;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      .u-title {
        color: @upd-light-blue;
      }
      .u-department {
        color: #aaa;
        border-color: #aaa;
      }
    }
    .card-body {
      color: #202020;
    }
    .u-company,
    .u-department,
    .u-location {
      font-size: 12px;
      line-height: 1;
      color: #999;
      &.skeleton {
        background: #ddd;
        width: 60px;
        display: inline-block;
        border-color: #ddd;
        animation: skeleton-blink 1s infinite;
        &::after {
          content: "";
        }
      }
    }
    .u-company {
      color: #333;
      &::after {
        content: " \2022 ";
        color: #999;
      }
    }
    .u-title {
      // padding: 0 20px;
      margin: 0;
      font-size: 24px;
      text-transform: none;
      line-height: 1.3;
      transition: color 0.2s;
      color: @upd-light-blue;
      color: #202020;
      font-weight: 200;
      margin-top: 8px;
      margin-bottom: 24px;
      &.skeleton {
        width: 200px;
        display: inline-block;
        background: #ddd;
        animation: skeleton-blink 1s infinite;
      }
      @media @screen1024 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      @media @screen667 {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    .u-department {
      color: @upd-light-blue;
      display: inline-block;
      // background-color: @upd-light-blue;
      // color: #fff;
      font-size: 10px;
      padding: 4px 8px;
      border: 1px solid @upd-light-blue;
      // letter-spacing: 0.6px;
      // text-transform: uppercase;
      border-radius: 20px;
      font-weight: 400;
      transition: color 0.2s, border 0.2s;
      margin-right: 5px;
    }
    @keyframes skeleton-blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .recognition {
    margin-top: 50px;
    padding-bottom: 30px;
    // padding-top: 10px;
    // background: #fff;
    border: 1px solid transparent;
    a {
      color: inherit;
    }
    h2 {
      margin-top: 30px;
    }
    h6 {
      .maquette-web();
      font-weight: 800;
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 1.3;
      color: @upd-blue;
      text-align: center;
      text-transform: none;
      &::before {
        display: block;
        content: "";
        margin: 0 auto 40px;
        width: 40px;
        height: 5px;
        background: lighten(@upd-light-blue, 30%);
      }
    }
    &-logos {
      .display-flex();
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // max-width: 550px;
      // transform: scale(0.8);
      transform-origin: top center;
      a {
        display: block;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      img {
        max-height: 70px;
        max-width: 120px;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
