.b2b-api.util {
  .navbar-height-adjustment();
  position: relative;
  box-sizing: border-box;
  .hero-area {
    background: @upd-light-blue;
    box-sizing: border-box;
  }
  .hero-content-wrapper {
    .display-flex();
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    .text-element {
      box-sizing: border-box;
      flex: 0 0 37%;
      font-size: 10px;
      h1,
      h2 {
        margin: 0;
        color: #fff;
      }
      h1 {
        font-weight: 800;
        font-size: 3.6em;
        line-height: 1.25;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 2em;
        font-weight: 200;
        line-height: 1.4;
        margin-bottom: 1.5em;
      }
      button {
        font-size: 1.4em;
        line-height: 1;
        padding: 1em 2em;
        color: @upd-light-blue;
        background: #fff;
        border-radius: 2em;
        border: none;
      }
    }
    .image-element {
      box-sizing: border-box;
      flex-basis: 60%;
      max-width: 650px;
      position: relative;
      img {
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    @media @screen1024 {
      .text-element {
        font-size: 9px;
      }
    }
    @media @screen900 {
      flex-direction: column;

      .text-element,
      .image-element {
        flex: 1;
      }
      .text-element {
        max-width: 400px;
        text-align: center;
        margin-top: 40px;
      }
      .image-element {
        max-width: 350px;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    @media @screen550 {
      .text-element {
        font-size: 8px;
        h2 {
          font-size: 2.2em;
        }
        button {
          font-size: 1.8em;
        }
      }
    }
  }
  .lead-in-takeaway {
    box-sizing: border-box;
    background: @upd-blue;
    font-size: 27px;
    padding: 1.5em 15px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    text-align: center;
    @media @screen992 {
      font-size: 24px;
    }
    @media @screen900 {
      font-size: 20px;
    }
    @media @screen667 {
      font-size: 18px;
    }
    @media @screen550 {
      br {
        display: none;
      }
    }
  }
  .solutions-suite {
    background: #eff7f9;
    .wrapper {
      max-width: 900px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 50px 15px;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (max-width: 640px) {
        justify-content: center;
      }
    }
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 30px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .solution-card {
      box-sizing: border-box;
      flex-basis: 48.5%;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      padding: 30px;
      font-size: 10px;
      .display-flex();
      .icon-elem {
        width: 60px;
        height: 80px;
        margin-right: 25px;
        text-align: center;
        transform-origin: top;
        img {
          width: 55px;
          &.utilities {
            width: 55px;
          }
          &.deals {
            width: 45px;
          }
        }
        @media @screen900 {
          transform: scale(0.8);
          padding-top: 10px;
        }
        @media @screen768 {
          .display-flex();
          height: 60px;
          align-items: center;
          justify-content: center;
        }
      }
      h5 {
        font-size: 2em;
        line-height: 1.5;
        margin: 0;
        color: #202020;
        font-weight: 200;
      }
      ul {
        font-weight: 400;
        color: @upd-blue;
        font-size: 1.1em;
        text-transform: none;
        line-height: 1.5;
        margin: 10px 0 15px;
        padding: 0;
        list-style: none;
        .display-flex();
        flex-wrap: wrap;
      }
      li {
        display: inline-block;
        background: lighten(@upd-blue, 55%);
        padding: 5px 10px;
        line-height: 1;
        margin: 0 5px 5px 0;
        border-radius: 10px;
        box-sizing: border-box;
        border: 1px solid @upd-light-blue;
      }
      p {
        .merriweather();
        font-size: 1.2em;
        line-height: 1.5;
        color: #4a4a4a;
        max-width: 250px;
        margin: 0;
      }
      @media @screen768 {
        flex-direction: column;
      }
      @media screen and (max-width: 640px) {
        font-size: 9px;
        flex-basis: 320px;
        // max-width: 320px;
        padding: 20px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .use-cases {
    max-width: 950px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 15px;
    .flickity-button.flickity-prev-next-button.next,
    .flickity-button.flickity-prev-next-button.previous {
      background: transparent;
    }
    .flickity-button.flickity-prev-next-button.next {
      transform: translateX(30px);
    }
    .flickity-button.flickity-prev-next-button.previous {
      transform: translateX(-30px);
    }
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 10px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .use-case-card {
      box-sizing: border-box;
      margin: 25px 25px 10px;
      background: #fff;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      padding: 0px;
      width: calc(100% - 5px);
      height: 400px;
      font-size: 10px;
      .display-flex();
      .text-elem,
      .image-block {
        width: 50%;
        flex-basis: 50%;
      }
      .text-elem {
        background: #f6f7f8;
        padding: 50px 80px;
        .display-flex();
        flex-direction: column;
        justify-content: center;
        img {
          width: 35px;
          height: 40px;
        }
        h5 {
          font-size: 2.2em;
          line-height: 1.3;
          margin-bottom: 1em;
          color: @upd-light-blue;
        }
        p {
          margin: 0;
          .merriweather();
          font-size: 1.5em;
          line-height: 1.7;
          color: #555;
        }
        h5,
        p {
          max-width: 250px;
        }
        @media @screen900 {
          padding: 30px 50px;
        }
      }
      .image-block {
        overflow: hidden;
        text-align: center;
        position: relative;
        .display-flex();
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 400px;
          margin-top: 30px;
        }
      }
      @media screen and (max-width: 900px) {
        flex-direction: column;
        // max-width: 320px;
        // margin-left: auto;
        // margin-right: auto;
        overflow: hidden;
        height: 500px;

        .text-elem,
        .image-block {
          width: 100%;
          br {
            display: none;
          }
          h5,
          p {
            max-width: 100%;
          }
          h5 {
            font-size: 1.5em;
          }
          p {
            font-size: 1.3em;
          }
        }
        .text-elem {
          order: 2;
          flex-basis: auto;
          flex-direction: row;
          align-items: center;
          img {
            margin-right: 15px;
            transform: scale(0.9);
          }
        }
        .image-block {
          box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.2);
          flex-basis: 80%;
        }
      }
    }
    @media @screen900 {
      max-width: 550px;
    }
  }
  .business-products--form-area {
    background: @upd-blue;
    h2,
    h6 {
      color: #fff;
    }
    form,
    form *,
    form > * {
      font-family: ars-maquette-web !important;
    }
    button.mktoButton {
      background: #fff !important;
      color: @upd-blue!important;
      transition: color 0.2s, background 0.2s;
      &:hover {
        background: @upd-light-blue!important;
        color: #fff !important;
      }
    }
  }
}
