.sf-lp {
  .navbar-height-adjustment();
  &--MOBILE-ONLY {
    display: none;
    @media @screen768 {
      display: block;
    }
  }
  &--partner-logo {
    max-width: 140px;
    max-height: 90px;
    object-fit: contain;
    margin-left: 20px;
  }
  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 800;
    text-transform: none;
  }
  h1 {
    color: @upd-navy;
    font-size: 34px;
    line-height: 1.1;
    margin-bottom: 30px;
  }
  h2 {
    color: @upd-blue;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 18px;
  }
  h3 {
    color: @upd-light-blue;
    font-size: 26px;
    margin-bottom: 18px;
  }
  h4 {
    font-weight: 300;
    color: @upd-blue;
    font-size: 17px;
    line-height: 1.4;
  }
  h5 {
    font-size: 22px;
    color: @upd-navy;
  }
  p {
    .merriweather();
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    color: #202020;
  }
  a {
    text-decoration: none;
  }

  &--header-banner {
    background: @upd-light-blue;
    display: block;
    line-height: 1;
    span {
      display: block;
      padding: 12px 10px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      z-index: 0;
      text-align: center;
    }
  }
  &--hero {
    width: 100%;
    height: 500px;
    background: #696969;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,w_1280/v1561490778/marketo/heroes/box-hero-1.jpg");
    background-size: cover;
    background-position: center;
    &-wrapper {
      .display-flex();
      justify-content: space-between;
    }
    &-text {
      max-width: 380px;
      padding: 50px 20px;
      h1,
      h2 {
        width: 84%;
      }
    }
    @media @screen768 {
      min-height: 480px;
      position: relative;
      height: auto;
      padding-bottom: 20px;
      background-position: 20% 50%;
      &-wrapper {
        display: block;
      }
      &-text {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 15px;
        h1,
        h2,
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &--form {
    &-wrapper {
      width: 55%;
      background: #fff;
      border-radius: 0 0 20px 20px;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 3;
      h3 {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 20x;
        margin-bottom: 5px;
      }
      h4 {
        margin-top: 0;
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 5px;
      }
      @media @screen768 {
        margin-right: 0;
      }
    }
    @media @screen768 {
      &-wrapper {
        margin-top: 20px;
        border-radius: 20px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        h3,
        h4 {
          text-align: center;
        }
        h3 {
          font-size: 18px;
        }
        h4 {
          font-size: 13px;
        }
      }
      h3 {
        margin-top: 6px;
      }
    }
  }
  form.sfwl_form {
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    .note {
      width: 100%;
    }
    .sfwl_row {
      flex: 0 0 49%;
      width: 48%;
      flex-direction: column;
      align-items: flex-start;
      label {
        flex-basis: auto;
        text-align: left;
      }
      input,
      select,
      textarea {
        width: 100%;
      }
      margin-top: 0;
      .multi-note {
        margin: 0;
      }
      &:last-of-type {
        flex-basis: 100%;
        width: 100%;
      }
    }
    .sfwl_submit {
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
  }
  &--stripe {
    background: @upd-light-blue;
    height: 16px;
    width: 100%;
    position: relative;
    z-index: 4;
  }
  &--about {
    .display-flex();
    margin-top: 70px !important;
    justify-content: space-between;
    @media @screen768 {
      margin-top: 40px !important;
    }
    &-text {
      max-width: 380px;
      margin-top: 0px;
      padding: 0 20px 20px 20px;
      p {
        margin: 0;
        margin-bottom: 40px;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      h4 {
        width: 330px;
        margin-left: 10px;
      }
      li {
        .display-flex();
        margin-bottom: 16px;
        justify-content: flex-start;
        span {
          .display-flex();
          align-items: center;
          justify-content: center;
          width: 50px;
          flex: 0 0 50px;
        }
      }
      svg {
        width: 22px;
        height: 30px;
      }
      @media @screen550 {
        max-width: 90%;
      }
    }
    &-img {
      max-width: 600px;
      align-self: flex-end;
      text-align: center;
      img {
        transform: translateY(15px);
        width: 80%;
        margin: 0;
      }
      @media screen and (max-width: 776px) and (min-width: 551px) {
        max-width: 100%; // img {
        //   transform: scale(1.35) translateX(-36px) translateY(2px);
        //   transform-origin: bottom left;
        // }
      }
      @media @screen768 {
        align-self: center;
      }
    }
    @media @screen768 {
      flex-direction: column;
      align-items: center;
      &-text {
        max-width: 550px;
        margin-right: 0;
      }
      &-img {
        max-width: 500px;
      }
    }
    @media @screen550 {
      &-text h4 {
        width: auto;
      }
    }
  }
  &--updater-stats {
    z-index: 4;
    position: relative;
    background: #eff3f6;
    padding: 50px 10px;
    &-wrapper {
      max-width: 888px;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      padding: 20px;
      h5 {
        margin: 10px auto;
        line-height: 1.3;
        text-align: center;
      }
    }
  }
  &--stats {
    .display-flex();
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-item {
      .display-flex();
      flex: 0 0 33%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      padding-top: 20px;
      .donut-chart {
        flex-shrink: 0;
        flex-basis: 140px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        height: 140px;
        width: 140px;
        &.chart1 {
          display: flex;
          border-radius: 0;
          justify-content: space-around;
          align-content: flex-start;
          flex-wrap: wrap;
          width: 112px;
          .num {
            width: 100%;
            line-height: 1;
            z-index: 8;
            margin-top: 63px;
            text-align: center;
            font-size: 35px;
            color: @upd-light-blue;
            font-weight: 900;
          }
          .slices {
            margin-top: 10px;
            position: relative;
            width: 21px;
            height: 21px;
            border-radius: 100px;
            background: #e1e1e1;
            &:first-of-type,
            &:first-of-type::after {
              background: @upd-light-blue;
            }
            &::after {
              content: "";
              background: #e1e1e1;
              border-radius: 100px;
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              top: 23.8px;
              height: 56px;
            }
          }
        }
        &.chart2,
        &.chart3 {
          background: @upd-light-blue;
        }
        &.chart2 .chart-center span::after {
          content: "2,000+";
        }
        &.chart3 .chart-center span::after {
          content: "$100M";
        }
        .chart-center {
          position: absolute;
          border-radius: 50%;
          top: 10px;
          left: 10px;
          width: 120px;
          height: 120px;
          background: #fff;
          span {
            line-height: 120px;
            display: block;
            text-align: center;
            font-size: 35px;
            font-weight: 900;
            color: @upd-light-blue;
            &::after {
              color: @upd-light-blue;
              font-size: 30px;
            }
          }
        }
        h6 {
          color: @upd-light-blue;
        }
        @media @screen768 {
          flex-basis: 112px;
          width: 112px;
          height: 112px;
          .chart-center {
            position: absolute;
            border-radius: 50%;
            top: 8px;
            left: 8px;
            width: 96px;
            height: 96px;
            background: #fff;
            span {
              line-height: 96px;
              display: block;
              text-align: center;
              font-size: 28px;
              font-weight: 900;
              color: @upd-light-blue;
              &::after {
                font-size: 24px;
              }
            }
          }
          &.chart1 {
            justify-content: center;
            width: 39.2px;
            .num {
              margin-top: 50.4px;
              font-size: 28px;
            }
            .slices {
              width: 16.8px;
              height: 16.8px;
              margin-right: 5.6px;
              &::after {
                top: 19px;
                height: 44.8px;
              }
            }
          }
        }
      }
    }
    .chart-description {
      max-width: 250px;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 17px;
      width: 100%;
      text-align: center;
      h6 {
        line-height: 1.2;
        font-weight: 900;
        margin: 0;
        font-size: 17px;
        margin-bottom: 4px;
        color: @upd-light-blue;
      }
      p {
        .merriweather();
        font-weight: 200;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #404041;
      }
    }
    @media @screen768 {
      flex-direction: column;
      max-width: 400px !important;
      margin-left: auto;
      margin-right: auto;
      &-item {
        flex-direction: row !important;
      }
      .chart-description {
        text-align: left !important;
      }
    }
  }
  &--backed-by {
    hr {
      color: #ddd;
      width: 80%;
      margin: 30px auto 30px;
    }
    h5 {
      text-align: center;
      margin-bottom: 12px;
      font-size: 16px;
    }
    &-logos {
      .display-flex();
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 120px;
        height: auto;
        margin: 0 20px 20px 20px;
        align-self: center;
      }
      img {
        width: 100%;
      }
    }
  }
  &--right-for-you {
    width: 100%;
    padding: 60px 0;
    z-index: 4;
    position: relative;
    h2 {
      color: @upd-navy;
      font-size: 28px;
      line-height: 1.3;
      margin-bottom: 40px;
    }
    .right-wrapper {
      max-width: 480px;
      margin: 0 auto;
      text-align: center;
    }
    @media @screen550 {
      h2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
      }
    }
  }
  &--button {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: @upd-light-blue;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    transition: background 0.3s ease;
    &:hover {
      background: @upd-navy;
    }
  }
  .business-re--clients {
    padding-bottom: 10px;
    h2 {
      font-size: 25px;
      line-height: 1.1;
      color: @upd-navy;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    .left-side img {
      max-height: 150px;
    }
    .flickity-page-dots .dot {
      background: #333;
    }
    .right-side {
      font-weight: 200;
    }
  }
  &--integration {
    margin-top: 50px;
    h5 {
      text-align: center;
      margin-bottom: 36px;
      line-height: 1.3;
    }
    &-logos {
      .display-flex();
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 40px;
      list-style: none;
      align-items: center;
    }
    li {
      width: 130px;
      height: auto;
      margin: 0 40px 20px;
      text-align: center;
      img {
        width: 100%;
      }
    }
    @media @screen550 {
      li {
        width: 120px;
        margin: 0 12px 20px;
      }
    }
  }
  &--arrow {
    width: 40px;
    margin: 0 auto;
  }
  &--partner-logo-btm {
    width: 100%;
    &-wrapper {
      max-width: 100px;
      margin: 0 auto 20px auto;
    }
  }
  &--disclaimer {
    margin-bottom: 40px;
    h5 {
      font-weight: 400;
      text-align: center;
      font-size: 14px;
      margin-bottom: 6px;
    }
    p {
      font-weight: 300;
      font-size: 11px;
      color: #9e9e9e;
      line-height: 1.2;
    }
  }
}
