// When ready with the new nav bar
// TODO: Remove .revamp-2018-header references from JS.

.aug-2020 {
  a.mainBtn {
    transition: background 0.2s;
    padding: 14px 25px !important;
    margin-left: 22px;
    background: @upd-pink;
    border-radius: 30px !important;
    color: #fff !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &:hover {
      background: @upd-light-blue;
    }
  }

  &.header {
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: @navbar-height - @aux-nav-height;
    margin-bottom: -@aux-nav-height;
  }

  &.logo {
    width: 141px;
    &-circle {
      display: none;
      width: 35px;
      height: 35px;
    }
    @media @screen550 {
      display: none;
      &-circle {
        display: block;
      }
    }
  }

  &.nav-wrapper {
    .display-flex();
    z-index: 10;
    height: @navbar-height - (@aux-nav-height + 1px);
    height: @navbar-height - @aux-nav-height;
    align-items: center;
    box-sizing: border-box;
    position: static;
    padding: 0 10px;
    img#mobile-menu {
      display: none;
      width: 24px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        display: block;
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: space-between;
    }
  }
  &.nav-desktop {
    .display-flex();
    width: 100%;
    justify-content: space-between;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .nav-items {
      .display-flex();
      margin-left: 72px;
      font-size: 14px;
      line-height: 1.2142857143;
      & > li {
        padding: 23px 4px;
        cursor: pointer;
        margin-right: 32px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        svg {
          margin-left: 5px;
          transition: transform 0.2s;
        }
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: inherit;
        }
        &.active,
        &:hover {
          color: @upd-pink;
          border-bottom: 5px solid @upd-pink;
          svg.caret {
            transform: rotate(180deg) translateY((3px));
          }
        }
        &:hover {
          .caret-stroke {
            stroke: red;
          }
        }
        &:hover .nav-items-sub {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
      h5 {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: #999;
        margin: 10px 0 15px;
      }
      h6 {
        .display-flex();
        color: #202020;
        font-size: 14px;
        margin: 0;
        align-items: center;
      }
      .inner {
        .display-flex();
        padding: 0;
        &.no-heading {
          padding-top: 20px;
          padding-bottom: 20px;
          a + a {
            margin-top: 10px;
          }
        }
      }
      .block {
        padding: 20px 30px;
        position: relative;
        box-sizing: border-box;
        &.half {
          flex-basis: 50%;
          width: 50%;
        }
        &.third {
          flex-basis: 33.33333%;
          width: 33.33333%;
        }
        &.quarter {
          flex-basis: 25%;
          width: 25%;
        }

        &.dark {
          background: #f0f0f0;
          border-left: 1px solid #ddd;
          padding-bottom: 30px;
          a:hover {
            background: #fff;
          }
        }
        a {
          box-sizing: border-box;
          padding: 5px 15px;
          transform: translateX(-15px);
          display: block;
          border-radius: 5px;
          &:hover {
            background: #f6f7f8;
          }
          &.productVideo {
            background: transparent !important;
            padding: 0;
            transform: none;
            img {
              transition: transform 0.2s, box-shadow 0.2s;
            }
            &:hover {
              img {
                background: transparent !important;
                transform: translateY(-3px);
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
              }
            }
          }
          &.mainCta {
            background: @upd-light-blue;
            justify-self: flex-end;
            position: absolute;
            bottom: 20px;
            left: 30px;
            margin-left: 0;
            transform: none;
            width: auto;
            height: auto;
            &:hover {
              background: @upd-navy;
            }
          }
        }
        svg {
          width: 20px;
          height: 25px;
          margin: 0 10px 0 0;
        }
        p {
          .merriweather();
          margin: 5px 0 0px 30px;
          color: #666;
          font-size: 12px;
          line-height: 1.5;
        }
      }
      img {
        max-width: 270px;
      }
      &-sub {
        z-index: -1;
        background: #fff;
        position: absolute;
        top: 74px;
        left: 0;
        right: 0;
        font-weight: 400;
        transition: opacity 0.2s, transform 0.2s;
        color: #333;
        border: 1px solid #ddd;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05),
          inset 0 20px 20px rgba(155, 155, 155, 0.05);

        transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
        transform: translateY(-30px);
        opacity: 0;
        visibility: hidden;
        &.is-on {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .top-ctas {
      .display-flex();
      align-items: center;
      font-size: 14px;
      line-height: 1.2142857143;
      &--login {
        z-index: 1;
        color: @upd-pink;
        color: #404041;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        padding: 14px 25px;
        margin-left: 32px;
        border: 1px solid transparent;
        color: @upd-pink;
        border-radius: 30px;
        // box-shadow: inset 0 0 1px @upd-pink;
        transition: transform 0.2s;
        a {
          color: inherit;
        }
        span {
          transition: color 0.2s;
        }
        &.is-on,
        &:hover {
          transform: scale(1.05);
          // border-color: @upd-navy;
          // background: @upd-navy;
          // color: @upd-navy;

          span {
            // color: #fff;
            color: @upd-pink;
          }
        }
        &-sub {
          z-index: 1;
          display: block;
          .display-flex();
          flex-direction: column;
          top: 0;
          left: 0;
          padding: 2px;
          right: 0;
          margin-top: 72px;
          position: absolute;
          width: 200px;
          font-weight: 400;
          transition: opacity 0.2s, transform 0.2s;
          color: #333;
          box-sizing: border-box;
          overflow: hidden;
          transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
          transform: translateY(-50px);
          opacity: 0;
          visibility: hidden;
          // background-color: #eee;
          &.is-on {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          li {
            .display-flex();
            align-items: center;
            background: #fff;
            text-align: center;
            border-radius: 30px;
            border: 1px solid @upd-light-blue;
            margin-bottom: 10px;
            justify-content: center;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            a {
              color: @upd-light-blue;
              padding: 15px 0;
              .display-flex();
              flex: 1;
              justify-content: center;
              text-align: center;
              align-items: center;
            }
            &:hover {
              border: 1px solid @upd-navy;
              a {
                color: @upd-navy;
              }
            }
          }
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
      &--demo {
        cursor: pointer;
        .display-flex();
        align-items: stretch;
        justify-content: center;
      }
      @media screen and (max-width: 900px) {
        position: relative;
        transform: translateX(-55px);
      }
      @media @screen550 {
        transform: translateX(-5px);
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }
  &.nav-mobile {
    z-index: 9;
    transform: translateX(-100vw);
    transition: transform 0.3s, opacity 0.3s;
    width: 100%;
    position: fixed;
    top: @navbar-height - @aux-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top: 2px solid #ddd;
    opacity: 0;
    overflow: auto;
    &.is-on {
      transform: translateX(0);
      opacity: 1;
    }
    ul {
      list-style: none;
      padding: 0px 15px;
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      color: @upd-navy;
    }
    .caret {
      transform: scale(1.3);
      margin-left: 5px;
      transition: transform 0.2s;
      .caret-stroke {
        stroke: #979797;
      }
    }
    li {
      width: 100%;
      border-top: 1px solid #ddd;
      font-size: 20px;
      padding: 20px 0 0;
      .display-flex();
      flex-direction: column;
      color: #202020;
      font-weight: 200;
      & > a {
        color: inherit;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        transition: transform 0.2s;
      }
      &:first-of-type {
        border-top: none;
      }
    }
    .nested {
      flex-direction: column;
      .nested-btn.is-on .caret {
        transform: rotate(180deg) scale(1.3) translateY(4px);
        .caret-stroke {
          stroke: @upd-pink;
        }
      }
      div.nested-options {
        // display: none;
        max-height: 0;
        transition: max-height 0.2s;
        width: 100%;
        overflow: hidden;
        font-size: 15px;
        line-height: 1;
        margin-top: 15px;
        a {
          display: block;
          color: inherit;
          padding: 10px;
          margin-left: 5px;
          margin-right: 5px;
          box-sizing: border-box;
          &:last-of-type {
            margin-right: none;
            margin-bottom: 20px;
          }
        }
        &.is-on {
          // display: block;
          max-height: 800px;
          // overflow: visible;
        }
      }
    }
    .secondary {
      border-top: 3px solid #ddd;
      background: #f0f0f0;
      margin-top: 20px;
      box-sizing: border-box;
      padding: 15px;
      h6 {
        color: #999;
        font-weight: 400;
        margin: 0 0 10px 15px;
      }
      a:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }
}

.toast-notification {
  .display-flex();
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 90px;
  right: 10px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 200;
  color: #202020;
  max-width: 460px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
  transform: translateX(100px);
  transition: transform 0.3s, opacity 0.1s;
  .notice-icon {
    flex: 0 0 50px;
    width: 50px;
    align-self: stretch;
    .display-flex();
    justify-content: center;
    align-items: center;
    background: @upd-light-green;
    border-radius: 8px 0 0 8px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .notice-text {
    padding: 10px 15px;
  }
  .notice-cta {
    border: 0;
    border-radius: 3px;
    background: @upd-light-green;
    .display-flex();
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-right: 15px;
    transition: background 0.2s;
    &:hover {
      background: darken(@upd-light-green, 15%);
    }
    svg {
      width: 12px;
      height: 11px;
      margin-right: 10px;
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
