.contact-upg {
  .navbar-height-adjustment();
  h1,
  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    color: @upd-navy;
    margin-top: 30px;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    color: @upd-navy;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &--hero {
    border: 1px solid transparent;
    background: #ddd;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1546222071/website/2018-revamp-assets/photos/shutterstock_1112945939.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: -35px;
    h1,
    h4 {
      text-align: left;
      color: #fff;
      line-height: 1.2;
    }
  }
  &--body {
    padding-top: 60px;
    padding-bottom: 60px;
    .display-flex();
    justify-content: center;
    &-audience {
      margin-top: 20px;
      width: 30%;
      padding: 40px 20px;
      margin-right: 20px;
      text-align: center;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      .display-flex();
      flex-direction: column;
      align-items: center;
      &:last-of-type {
        margin-right: 0;
      }
      h2 {
        font-size: 22px;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 20px;
      }
      svg,
      img {
        border-radius: 50%;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
      }
      p {
        .merriweather();
        margin: 0 auto;
        line-height: 1.7;
        font-size: 15px;
        max-width: 250px;
        margin-bottom: 20px;
      }
      a {
        padding: 10px 20px;
        font-size: 15px;
        background: @upd-light-blue;
        border-radius: 40px;
        color: #fff;
        transition: background 0.2s;
        &:hover {
          background: @upd-blue;
        }
      }
      @media @screen992 {
        h2 {
          font-size: 20px;
        }
        a {
          font-size: 12px;
        }
      }
      @media @screen768 {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contact-content-block {
          width: 100%;
          .display-flex();
          justify-content: center;
          align-items: center;
        }
        .contact-txt-block {
          margin-left: 15px;
          h2 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 5px;
          }
          text-align: left;
        }
      }
      @media @screen550 {
        img {
          width: 70px;
        }
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
        }
        padding: 20px;
      }
    }
    @media @screen768 {
      flex-direction: column;
      align-items: center;
    }
  }
  &--addresses {
    padding-top: 50px;
    padding-bottom: 50px;
    background: lighten(@upd-navy, 65%);
    &-info {
      .display-flex();
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      @media @screen768 {
        flex-direction: column;
      }
    }
    .hq-office,
    .satellite-office {
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      background: #fff;
      border-radius: 13px;
    }
    .hq-office {
      flex-basis: 19%;
      @media @screen1024 {
        flex-basis: 32%;
        text-align: center;
      }
      @media @screen768 {
        margin-bottom: 25px;
      }
    }
    .satellite-office {
      flex-basis: 79%;
      .display-flex();
      justify-content: space-around;
      @media @screen1024 {
        flex-basis: 65%;
        flex-wrap: wrap;
        text-align: center;
        .contact-upg--addresses-info-block {
          flex-basis: 35%;
          margin: 20px 30px;
          &:nth-of-type(1),
          &:nth-of-type(3) {
            margin-right: 0;
          }
          &:nth-of-type(3),
          &:nth-of-type(4) {
            margin-top: 0;
          }
        }
      }
      @media @screen550 {
        .contact-upg--addresses-info-block {
          flex-basis: 65%;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4) {
            margin: 20px 0px;
          }
          & + .contact-upg--addresses-info-block {
            margin-top: 5px;
          }
        }
      }
    }
    &-info-block {
      .display-flex();
      flex-direction: column;
      margin: 20px 30px;
      & + & {
        margin-left: 0;
      }
      h3 {
        font-weight: 900;
        font-size: 15px;
        margin: 0;
        display: block;
        margin-bottom: 12px;
        color: @upd-navy;
        line-height: 1.4;
      }
      p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        .merriweather();
        a {
          display: inline-block;
          margin-top: 8px;
          .maquette-web();
          font-weight: 500;
          text-decoration: underline;
        }
        .map-pointer {
          width: 12px;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        svg,
        img {
          width: 20px;
          height: 20px;
        }
      }
      a {
        color: @upd-light-blue;
        svg,
        img {
          vertical-align: middle;
          opacity: 0.8;
        }
        &:hover {
          color: @upd-blue;
          svg,
          img {
            opacity: 1;
          }
        }
      }
    }
  }
}
