// When ready with the new nav bar
// TODO: Remove .revamp-2018-header references from JS.

.b2b-2020-header {
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: @navbar-height - @aux-nav-height;
  margin-bottom: -@aux-nav-height;
}

.b2b-2020--mobile-menu {
  .display-flex();
  justify-content: center;
  z-index: 9;
  transform: translateX(-100vw);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  position: fixed;
  top: @navbar-height - @aux-nav-height;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 2px solid #ddd;
  opacity: 0;
  overflow: auto;
  &.is-on {
    transform: translateX(0);
    opacity: 1;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    .display-flex();
    flex-direction: column;
    justify-content: stretch;
    color: @upd-navy;
  }
  li {
    width: 100%;
    flex: 3;
    .display-flex();
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    font-size: 18px;
    & > a {
      color: @upd-navy;
      .display-flex();
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
        color: @upd-light-blue;
      }
    }
    &:first-of-type {
      border-top: none;
    }
    &.b2b-mobile-nested {
      flex-direction: column;
      .b2b-mobile-nested-btn {
        flex: 3;
      }
      div.b2b-mobile-nested-options {
        display: none;
        width: 100%;
        transform: translateY(-20px);
        flex: 2;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        flex-wrap: wrap;
        a {
          background: @upd-light-blue;
          color: #fff;
          padding: 10px;
          border-radius: 15px;
          transition: transform 0.2s, background 0.2s;
          flex: 1 1 30%;
          margin-left: 5px;
          margin-right: 5px;
          box-sizing: border-box;
          &.d2c-items {
            flex: 1 1 40%;
            padding: 15px;
          }
          &:hover {
            transform: scale(1.05);
            background: @upd-navy;
          }
          &:last-of-type {
            margin-right: none;
          }
        }
        &.is-on {
          .display-flex();
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
  }
}

.b2b-2020-nav {
  &--wrapper {
    .display-flex();
    z-index: 10;
    height: @navbar-height - (@aux-nav-height + 1px);
    height: @navbar-height - @aux-nav-height;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    img#mobile-menu {
      display: none;
      width: 24px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        display: block;
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: space-between;
    }
  }
  &--logo {
    width: 141px;
    &-circle {
      display: none;
      width: 35px;
      height: 35px;
    }
    @media @screen550 {
      display: none;
      &-circle {
        display: block;
      }
    }
  }
  &--desktop {
    .display-flex();
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .nav-items {
      .display-flex();
      margin-left: 72px;
      font-size: 14px;
      line-height: 1.2142857143;
      & > li {
        padding: 23px 4px;
        position: relative;
        margin-right: 32px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        svg {
          margin-left: 5px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: inherit;
        }
        &.active,
        &:hover {
          color: @upd-pink;
          border-bottom: 5px solid @upd-pink;
        }
        &:hover {
          .caret-stroke {
            stroke: red;
          }
        }
        &:hover .nav-items-sub {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
      &-sub {
        z-index: 1;
        display: block;
        .display-flex();
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 130px;
        font-weight: 400;
        transition: opacity 0.2s, transform 0.2s;
        color: #333;
        border: 1px solid #ddd;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
        &.is-on {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        li {
          .display-flex();
          align-items: center;
          border-bottom: 1px solid #ddd;
          background: #fff;
          text-align: left;
          padding-left: 20px;
          // margin-bottom: 10px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
          a {
            color: @upd-blue;
            padding: 15px 0;
            .display-flex();
            justify-content: stretch;
            text-align: center;
            align-items: center;
          }
          &:hover {
            background: #eee;
            a {
              color: @upd-navy;
            }
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .top-ctas {
      .display-flex();
      position: absolute;
      right: 10px;
      height: 100%;
      align-items: center;
      font-size: 14px;
      line-height: 1.2142857143;
      &--login {
        z-index: 1;
        color: @upd-pink;
        color: #404041;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        padding: 14px 25px;
        margin-left: 32px;
        border: 1px solid transparent;
        color: @upd-pink;
        border-radius: 30px;
        // box-shadow: inset 0 0 1px @upd-pink;
        transition: transform 0.2s;
        a {
          color: inherit;
        }
        span {
          transition: color 0.2s;
        }
        &.is-on,
        &:hover {
          transform: scale(1.05);
          // border-color: @upd-navy;
          // background: @upd-navy;
          // color: @upd-navy;

          span {
            // color: #fff;
            color: @upd-pink;
          }
        }
        &-sub {
          z-index: 1;
          display: block;
          .display-flex();
          flex-direction: column;
          top: 0;
          left: 0;
          padding: 2px;
          right: 0;
          margin-top: 72px;
          position: absolute;
          width: 200px;
          font-weight: 400;
          transition: opacity 0.2s, transform 0.2s;
          color: #333;
          box-sizing: border-box;
          overflow: hidden;
          transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
          transform: translateY(-50px);
          opacity: 0;
          visibility: hidden;
          // background-color: #eee;
          &.is-on {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          li {
            .display-flex();
            align-items: center;
            background: #fff;
            text-align: center;
            border-radius: 30px;
            border: 1px solid @upd-light-blue;
            margin-bottom: 10px;
            justify-content: center;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            a {
              color: @upd-light-blue;
              padding: 15px 0;
              .display-flex();
              flex: 1;
              justify-content: center;
              text-align: center;
              align-items: center;
            }
            &:hover {
              border: 1px solid @upd-navy;
              a {
                color: @upd-navy;
              }
            }
          }
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
      &--demo {
        cursor: pointer;
        .display-flex();
        align-items: stretch;
        justify-content: center;
        a {
          transition: background 0.2s;
          padding: 14px 25px;
          margin-left: 22px;
          background: @upd-pink;
          color: #fff;
          border-radius: 30px;
          // margin: 0;
          // padding: 0;
          color: #fff;
          // display: block;
          width: 100%;
          height: 100%;
          &:hover {
            background: @upd-light-blue;
          }
        }
      }
      @media screen and (max-width: 900px) {
        position: relative;
        transform: translateX(-55px);
      }
      @media @screen550 {
        transform: translateX(-5px);
      }
    }
  }
}

.toast-notification {
  .display-flex();
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 90px;
  right: 10px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 200;
  color: #202020;
  max-width: 460px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
  transform: translateX(100px);
  transition: transform 0.3s, opacity 0.1s;
  .notice-icon {
    flex: 0 0 50px;
    width: 50px;
    align-self: stretch;
    .display-flex();
    justify-content: center;
    align-items: center;
    background: @upd-light-green;
    border-radius: 8px 0 0 8px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .notice-text {
    padding: 10px 15px;
  }
  .notice-cta {
    border: 0;
    border-radius: 3px;
    background: @upd-light-green;
    .display-flex();
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-right: 15px;
    transition: background 0.2s;
    &:hover {
      background: darken(@upd-light-green, 15%);
    }
    svg {
      width: 12px;
      height: 11px;
      margin-right: 10px;
    }
  }
  &.active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
