.b2b-2020.util {
  .navbar-height-adjustment();
  position: relative;
  box-sizing: border-box;
  .hero-area {
    background: @upd-light-blue;
    box-sizing: border-box;
  }
  .hero-content-wrapper {
    .display-flex();
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    .text-element {
      box-sizing: border-box;
      flex: 0 0 40%;
      font-size: 10px;
      h1,
      h2 {
        margin: 0;
        color: #fff;
      }
      h1 {
        font-weight: 800;
        font-size: 3.6em;
        line-height: 1.25;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 2em;
        font-weight: 200;
        line-height: 1.4;
        margin-bottom: 1.5em;
      }
      button {
        font-size: 1.4em;
        line-height: 1;
        padding: 1em 2em;
        color: @upd-light-blue;
        background: #fff;
        border-radius: 2em;
        border: none;
      }
    }
    .image-element {
      box-sizing: border-box;
      flex-basis: 60%;
      max-width: 670px;
      position: relative;
      img {
        margin-top: 30px;
        max-width: 100%;
      }
      .video-button {
        position: absolute;
        top: ~"calc(50% - 100px)";
        left: 50%;
        @media @screen550 {
          width: 150px;
          height: 150px;
          left: ~"calc(50% - 75px)";
        }
      }
    }

    @media @screen1024 {
      .text-element {
        font-size: 9px;
      }
    }
    @media @screen900 {
      flex-direction: column;

      .text-element,
      .image-element {
        flex: 1;
      }
      .text-element {
        max-width: 400px;
        text-align: center;
        margin-top: 40px;
      }
      .image-element {
        max-width: 550px;
      }
    }
    @media @screen550 {
      .text-element {
        font-size: 8px;
        h2 {
          font-size: 2.2em;
        }
        button {
          font-size: 1.8em;
        }
      }
    }
  }
  .lead-in-takeaway {
    box-sizing: border-box;
    background: @upd-blue;
    font-size: 27px;
    padding: 1.5em 15px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    text-align: center;
    @media @screen992 {
      font-size: 24px;
    }
    @media @screen900 {
      font-size: 20px;
    }
    @media @screen667 {
      font-size: 18px;
    }
    @media @screen550 {
      br {
        display: none;
      }
    }
  }
  .flexible-modules {
    padding: 30px 10px;
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 20px;
      font-weight: 800;
      &::after {
        content: "";
        width: 100px;
        height: 5px;
        display: block;
        margin: 25px auto;
        background: #eff7f9;
      }
      @media @screen550 {
        font-size: 20px;
      }
    }
    .module-filter {
      list-style: none;
      padding: 0;
      margin: 0 auto 30px;
      text-align: center;
      li {
        display: inline-block;
        font-size: 12px;
        font-weight: 200;
        color: #818181;
        border-radius: 20px;
        line-height: 1;
        padding: 8px 16px;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
        transition: border-color 0.4s, color 0.4s;
        &.active,
        &.mixitup-control-active {
          color: @upd-light-blue;
          border-color: @upd-light-blue;
        }
        @media screen and (max-width: 400px) {
          // display: block;
          font-size: 11px;
          padding: 5px 10px;
        }
      }
    }
    .cards-wrapper {
      max-width: 900px;
      margin: 0 auto;
      .display-flex();
      flex-wrap: wrap;
      justify-content: space-between;
      @media @screen667 {
        max-width: 400px;
      }
    }
    .module-card {
      flex-basis: 49%;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      position: relative;
      padding: 30px;
      .display-flex();
      .image-block {
        margin-right: 15px;
        width: 45px;
        height: 45px;
        flex-shrink: 0;
        flex-basis: 45px;
        .display-flex();
        justify-content: center;
        align-items: center;
      }
      .tags {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 11px;
        color: #fff;
        line-height: 1;
        font-weight: 800;
        span {
          border-radius: 20px;
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 10px;
        }
        .call {
          background: @upd-turquoise;
        }
        .digital {
          background: @upd-orange;
        }
      }
      h5 {
        margin: 0;
        font-size: 20px;
        font-weight: 200;
        color: #202020;
        line-height: 1.5;
        margin-bottom: 15px;
      }
      ul {
        .merriweather();
        font-size: 12px;
        line-height: 1.5;
        color: #4a4a4a;
        margin: 0;
        // list-style-position: outside;
        list-style: none;
        padding-left: 15px;
        li + li {
          margin-top: 3px;
        }
        li span {
          font-style: italic;
        }
        li::before {
          content: "•";
          margin-right: 10px;
          margin-left: -17px;
          color: @upd-pink;
          font-weight: 400;
        }
      }
      .we-pick-calls {
        width: 29px;
        height: 29px;
      }
      .you-transfer {
        width: 42px;
        height: 40px;
      }
      .ccui {
        width: 37px;
        height: 33px;
      }
      .api {
        width: 40px;
        height: 27px;
      }
      .moving-app {
        width: 22px;
        height: 37px;
      }
      .user-enroll {
        width: 37px;
        height: 35px;
      }
      @media @screen900 {
        h5 {
          font-size: 17px;
        }
        .tags {
          font-size: 10px;
        }
      }
      @media @screen667 {
        flex-basis: 100%;
      }
      @media @screen550 {
        h5 {
          font-size: 15px;
        }
      }
    }
  }
  .smarter-concierge,
  .unique-benefits {
    max-width: 630px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 15px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 30px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .concierge-card {
      box-sizing: border-box;
      flex-basis: 48%;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      padding: 20px 30px 30px;
      font-size: 10px;
      .image-block {
        .display-flex();
        height: 50px;
        align-items: center;
      }
      h5 {
        font-weight: 800;
        font-size: 1.8em;
        line-height: 1.3333333333;
        margin: 0 0 0.6em;
        color: @upd-light-blue;
        max-width: 180px;
      }
      p {
        .merriweather();
        font-size: 1.4em;
        line-height: 1.5;
        color: #4a4a4a;
        max-width: 200px;
        margin: 0;
      }
      img.scale {
        width: 26px;
        height: 26px;
      }
      img.increase {
        width: 33px;
        height: 23px;
      }
      img.app {
        width: 23px;
        height: 39px;
      }
      img.digital {
        width: 36px;
        height: 30px;
      }
      @media @screen550 {
        font-size: 9px;
        flex-basis: 100%;
        .display-flex();
        padding: 20px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
        flex-wrap: wrap;
        .image-block {
          width: 40px;
          justify-content: center;
          margin-right: 10px;
        }
        h5 {
          max-width: 100%;
          .display-flex();
          align-items: center;
          margin: 0;
        }
        p {
          max-width: 100%;
          flex-basis: 100%;
          margin: 5px 0 0 50px;
        }
      }
    }
  }
  .unique-benefits {
    max-width: 100%;
    background: #eff7f9;
    display: block;
    .cards-wrapper {
      .display-flex();
      max-width: 900px;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .concierge-card {
      .image-block {
        font-size: 36px;
        color: @upd-light-blue;
      }
      h5 {
        font-weight: 200;
        color: @upd-navy;
      }
      p {
        font-size: 12px;
      }
      flex-basis: 23.5%;
    }
    @media @screen768 {
      .concierge-card {
        flex-basis: 49%;
      }
    }
    @media @screen550 {
      .cards-wrapper {
        max-width: 400px;
      }
      .concierge-card {
        flex-basis: 100%;
      }
    }
  }
  .our-proven-record {
    background: #fff;
    box-sizing: border-box;
    padding: 50px 15px;

    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 30px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .record-card {
      max-width: 630px;
      overflow: hidden;
      margin: 0 auto;
      padding: 0 0 25px 0;
      background: #ffffff;
      box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      .display-flex();
      flex-wrap: wrap;
      &:first-of-type {
        margin-bottom: 25px;
      }
      h5 {
        margin: 0 0 20px;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        background: @upd-light-blue;
        color: #fff;
        font-weight: 800;
      }
      .record-entry {
        flex: 1;
        padding: 0 15px 0;
        text-align: center;
        h6 {
          font-weight: 200;
          text-transform: none;
          color: @upd-light-blue;
          font-size: 28px;
          margin: 0 0 0.3em;
          line-height: 1.3333333;
          &.smaller {
            font-size: 24px;
          }
        }
        p {
          .merriweather();
          font-size: 14px;
          line-height: 1.5;
          color: #4a4a4a;
          margin: 0;
        }
      }
      @media @screen550 {
        .record-entry {
          flex-basis: 100%;
          h6 {
            font-size: 24px;
            &.smaller {
              font-size: 20px;
            }
          }
          p {
            font-size: 12px;
          }
        }
        .record-entry + .record-entry {
          margin-top: 15px;
        }
      }
    }
  }
  .service-highlight {
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 15px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: @upd-navy;
      text-align: center;
      margin: 0 0 30px;
      font-weight: 800;
      @media @screen550 {
        font-size: 20px;
      }
    }
    .highlight-card {
      box-sizing: border-box;
      flex-basis: 32%;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      padding: 20px 30px 30px;
      font-size: 10px;
      .image-block {
        .display-flex();
        height: 80px;
        align-items: center;
      }
      h5 {
        font-weight: 800;
        font-size: 1.8em;
        line-height: 1.3333333333;
        margin: 0 0 1em;
        color: @upd-light-blue;
        max-width: 180px;
      }
      p {
        .merriweather();
        font-size: 1.4em;
        line-height: 1.5;
        color: #4a4a4a;
        max-width: 200px;
        margin: 0;
      }
      img.transfer {
        width: 50px;
        height: 34px;
      }
      img.digital-eng {
        width: 49px;
        height: 50px;
      }
      img.multiple {
        width: 51px;
        height: 45px;
      }
      img.variety {
        width: 55px;
        height: 55px;
      }
      img.web-app {
        width: 50px;
        height: 50px;
      }
      img.lifecycle {
        width: 57px;
        height: 55px;
      }
      @media @screen667 {
        flex-basis: 48%;
      }
      @media @screen550 {
        font-size: 9px;
        flex-basis: 100%;
        .display-flex();
        padding: 20px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
        flex-wrap: wrap;
        .image-block {
          width: 40px;
          justify-content: center;
          margin-right: 10px;
          height: 50px;
          img {
            transform: scale(0.6);
          }
        }
        h5 {
          max-width: 100%;
          .display-flex();
          align-items: center;
          margin: 0;
        }
        p {
          max-width: 100%;
          flex-basis: 100%;
          margin: 5px 0 0 50px;
        }
      }
    }
  }
  .utility-whitepaper {
    background: @upd-light-blue;
    padding-top: 20px;
    .whitepaper-wrapper {
      .display-flex();
      justify-content: space-between;
      align-items: center;
      .image-element {
        flex-basis: 40%;
        img {
          margin-top: 50px;
          max-width: 100%;
        }
      }

      .text-and-form {
        flex-basis: 55%;
        font-size: 10px;
        h4,
        h5,
        h6 {
          color: #fff;
          text-transform: none;
          margin: 0;
          max-width: 460px;
        }
        h6 {
          font-size: 1.6em;
          line-height: 1;
          margin-bottom: 1em;
          font-weight: 800;
        }
        h4 {
          font-weight: 200;
          font-size: 3.2em;
          line-height: 1.3;
          margin-bottom: 0.3em;
        }
        h5 {
          font-weight: 200;
          font-size: 2.4em;
          line-height: 1.3;
          &::after {
            content: "";
            width: 120px;
            height: 5px;
            background: rgba(255, 255, 255, 0.2);
            display: block;
            margin-top: 25px;
            margin-bottom: 25px;
          }
        }
        p {
          margin: 0;
          color: #fff;
          .merriweather();
          font-size: 1.5em;
          max-width: 450px;
          line-height: 1.6;
          margin-bottom: 1.5em;
        }
        a {
          background: @upd-navy;
          border-radius: 30px;
          color: #fff;
          border: none;
          font-weight: 200;
          font-size: 15px;
          padding: 12px 24px;
          transition: background 0.2s;
          &:hover {
            background: @upd-blue;
          }
        }
        .utility-whitepaper-form-postsubmission {
          display: none;
          background: rgba(255, 255, 255, 0.6);
          font-size: 15px;
          padding: 5px 20px;
          max-width: 350px;
          font-weight: 200;
        }
        #utility-whitepaper-form,
        .utility-whitepaper-form-embed {
          *,
          * > * {
            font-family: ars-maquette-web !important;
          }
          max-width: 400px;
          margin-right: auto;
          margin-left: 0;
          .display-flex();
          flex-wrap: wrap;
          .mktoClear {
            display: none;
          }
          .mktoFormRow:nth-of-type(2),
          .mktoFormRow:nth-of-type(3),
          .mktoFormRow:nth-of-type(4) {
            display: none;
          }
          div.mktoFormRow,
          div.mktoButtonRow,
          div.mktoFieldWrap {
            width: auto !important;
            height: auto !important;
            .display-flex();
            align-items: stretch;
            margin-bottom: 0 !important;
            .mktoFieldDescriptor.mktoFormCol,
            .mktoFieldWrap.mktoRequiredField {
              margin-bottom: 0 !important;
              flex: 1;
            }
          }
          div.mktoFormRow {
            flex: 1;
          }
          div.mktoButtonRow {
            margin-top: 0 !important;
            .mktoButtonWrap {
              .display-flex();
              align-items: stretch;
            }
          }
          input {
            flex: 1;
            border-radius: 6px 0 0 6px !important;
            padding: 10px 15px;
            font-size: 15px;
            font-weight: 200;
            border: none;
            color: #202020;
            &::placeholder {
              color: #999;
            }
          }
          button {
            background: @upd-navy!important;
            border-radius: 0 6px 6px 0 !important;
            color: #fff !important;
            border: none !important;
            font-weight: 200 !important;
            font-size: 15px !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
          }
          &::after {
            content: "We'll email it to you instantly.";
            color: #202020;
            display: block;
            width: 100%;
            font-weight: 200;
            font-size: 16px;
            margin: 5px 0 0 5px;
          }
        }
        @media @screen992 {
          h4 {
            font-size: 2.8em;
          }
          h5 {
            font-size: 2em;
          }
          p {
            max-width: 100%;
          }
        }
        @media @screen550 {
          h6 {
            font-size: 1.2em;
          }
          h4 {
            font-size: 2.2em;
          }
          h5 {
            font-size: 1.7em;
          }
        }
      }
      @media @screen900 {
        flex-direction: column;
        .image-element {
          order: 1;
          max-width: 300px;
          img {
            margin-top: 30px;
          }
        }
        .text-and-form {
          text-align: center;
          max-width: 500px;
          margin-top: 40px;
          h4,
          h5,
          h6,
          p,
          h5::after,
          #utility-whitepaper-form {
            margin-left: auto;
            margin-right: auto;
          }
          p {
            max-width: 350px;
          }
        }
      }
      @media @screen550 {
        .text-and-form {
          margin-top: 15px;
        }
      }
    }
  }
  .business-products--form-area {
    background: @upd-blue;
    h2,
    h6 {
      color: #fff;
    }
    form,
    form *,
    form > * {
      font-family: ars-maquette-web !important;
    }
    button.mktoButton {
      background: #fff !important;
      color: @upd-blue!important;
      transition: color 0.2s, background 0.2s;
      &:hover {
        background: @upd-light-blue!important;
        color: #fff !important;
      }
    }
  }
  .schedule-widget {
    position: fixed;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    right: 0;
    bottom: 30px;
    max-width: 260px;
    background: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 13px 0 0 13px;
    padding: 0 0 20px;
    transition: opacity 0.5s, visibility 0.5s, transform 0.15s,
      border-radius 0.15s;
    transform-origin: top right;
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    &.untriggered {
      opacity: 0;
      visibility: hidden;
    }
    &.collapsed {
      height: 300px;
      transform: rotate(-90deg) translateY(-35px);
      padding-bottom: 0;
      border-radius: 13px 13px 0 0;
      h5 {
        margin-bottom: 0;
        text-align: center;
        &::after {
          content: " \25b4";
        }
      }
    }
    h5,
    h6,
    p {
      margin: 0;
      padding: 0 30px;
    }
    h5 {
      cursor: pointer;
      width: 100%;
      padding: 10px 30px;
      font-weight: 800;
      font-size: 15px;
      line-height: 1;
      margin-bottom: 20px;
      background: @upd-navy;
      color: #fff;
      &::after {
        content: " \25be";
      }
    }
    h6,
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    h6 {
      text-transform: none;
      font-weight: 800;
      color: @upd-blue;
    }
    p {
      font-weight: 200;
      color: #202020;
    }
    p + h6 {
      margin-top: 10px;
    }
    button {
      margin-left: 30px;
      margin-top: 15px;
      border: 1px solid @upd-blue;
      border-radius: 30px;
      color: @upd-blue;
      background: #fff;
      padding: 0.4em 1em;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
