.b2b-2020.biz {
  overflow: hidden;
  .b2b-navbar-height-adjustment();

  .top-intro-wrapper {
    // height: 600px;
    // padding-top: 50px;
    // padding-bottom: 50px;
    position: relative;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1583773007/website/2020-b2b-relaunch/hero-images/shutterstock_702506281.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    @media @screen1200 {
      background-position: 15%;
    }
    @media @screen1024 {
      background-position: 20%;
    }
    @media screen and (max-width: 820px) {
      height: auto;
    }
  }
  .top-intro {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    .display-flex();
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    flex-direction: column;
    .text-elements {
      max-width: 600px;
      text-align: right;
      order: 1;
      .display-flex();
      flex-direction: column;
      justify-content: space-between;
      font-size: 20px;
      color: #fff;
      h1,
      h2 {
        margin: 0;
      }
      h1,
      h2 {
        font-weight: 800;
      }
      h1 {
        color: @upd-navy;
        font-size: 2.2em;
        line-height: 1.2;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 1em;
      }
      h5 {
        margin: 0;
        font-size: 1em;
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
      }
      p {
        .merriweather();
        font-size: 1.2em;
        line-height: 1.6;
        max-width: 450px;
        margin-left: auto;
        // text-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
        color: #202020;
        color: @upd-navy;
      }
      // span {
      //   font-size: 0.8em;
      //   font-weight: 200;
      //   line-height: 1.5;
      //   max-width: 540px;
      //   &::before {
      //     content: "*";
      //     color: @upd-yellow;
      //     font-weight: 800;
      //   }
      // }
      padding-left: 15px;
      padding-right: 15px;
      @media @screen992 {
        font-size: 18px;
        max-width: 550px;
      }
      @media screen and (max-width: 950px) {
        max-width: 520px;
        font-size: 16px;
      }
      @media screen and (max-width: 820px) {
        h1 {
          background: rgba(255, 255, 255, 0.8);
          padding: 0.5em;
        }
        p {
          background: rgba(255, 255, 255, 0.8);
          padding: 0.5em;
        }
      }
      @media @screen550 {
        font-size: 13px;
      }
    }
    .number-visualized {
      max-width: 400px;
      // margin-left: auto;
      // margin-right: auto;
      // border: 1px solid red;
      @duration: 10s;
      @circleSize: 180px;
      .circle-shell {
        margin: 20px auto;
        box-sizing: border-box;
        border: @circleSize / 25 solid #fff;
        width: @circleSize;
        height: @circleSize;
        background: #39b3ca;
        animation: circleColor @duration infinite;
        border-radius: @circleSize;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        // overflow: hidden;
        position: relative;
      }
      .timer-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: @circleSize;
        overflow: hidden;
      }

      .needle {
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform-origin: left center;
        width: @circleSize / 2;
        height: 1px;
        // background: #fff;
        border-radius: 30px 30px 0;
        z-index: 99;
        animation: needleRotate @duration linear infinite;

        &::before,
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(-3px) scale(5);
          border-radius: @circleSize;
          content: "";
          box-sizing: border-box;
          display: block;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          width: 6px;
          height: 6px;
          background: #39b3ca;
          border: 1px solid white;
        }
        &::before {
          left: 0;
          transform: translateX(0) scale(7);
          background: #f5333f;
          opacity: 0;
        }
      }

      @keyframes needleRotate {
        0% {
          transform: rotate(-90deg);
        }
        100% {
          transform: rotate(270deg);
        }
      }

      @keyframes circleColor {
        0% {
          background: #39b3ca;
        }
        33% {
          background: #44b19c;
        }
        66% {
          background: #81be6e;
        }
        100% {
          background: #39b3ca;
        }
      }

      .mover-helped {
        display: block;
        position: absolute;
        top: @circleSize / 5;
        left: 0;
        right: 0;
        font-size: @circleSize / 2.5;
        line-height: 1;
        color: #fff;
        font-weight: 400;
        text-align: center;
        &::after {
          opacity: 0.7;
          content: "households\Aused Updater\A since you arrived";
          white-space: pre;
          font-size: @circleSize / 17;
          line-height: 1.3;
          display: block;
          text-align: center;
        }
      }
      .timer {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 15px;
        padding-bottom: 25px;
        right: 0;
        text-align: center;
        font-size: 20px;
        line-height: 1;
        color: #000;
        opacity: 0.4;
        background: #fff;
      }
      @media @screen992 {
        .circle-shell {
          transform: scale(0.8);
        }
      }
    }
    .video-item {
      width: 350px;
      margin-left: 120px;
      position: absolute;
      transform: translateY(-20px);
      top: 0px;
      right: 30px;
      .video-wrapper {
        background: @upd-navy;
        border-radius: 24px;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.32);
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
        box-sizing: border-box;
        border: 3px solid #ddd;
        line-height: 0;
        video {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        .video-poster {
          display: block;
        }
        @media @screen900 {
          transform: translate3d(50px, 0, 0);
        }
      }
    }

    @media screen and (max-width: 820px) {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;

      .text-elements {
        max-width: 600px;
        // order: 0;
        text-align: center;
        p {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .video-item {
        display: none;
      }
    }
  }
  .b2b-questionnaire {
    .b2b-questions {
      padding-top: 50px;
      padding-bottom: 50px;
      h3 {
        font-size: 24px;
        margin: 0 0 15px 0;
        @media screen and (max-width: 820px) {
          text-align: center;
        }
      }
      .forms {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        input[type="radio"],
        input[type="checkbox"] {
          opacity: 0;
          position: fixed;
          width: 0;
          &:focus + label {
            border-color: #39b3ca;
          }
          &:checked + label {
            border-color: #39b3ca;
            background-color: #e1f4f7;
            .square,
            .circle {
              background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5.5 7L12 1' stroke='%23FFF' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
              background-size: 11px;
              background-position: center;
              background-repeat: no-repeat;
              background-color: #39b3ca;
              border-color: #39b3ca;
              overflow: visible;
            }
          }
        }
        label {
          text-transform: none;
          background-color: #fff;
          cursor: pointer;
          flex: 0 0 31.3%;
          box-sizing: border-box;
          font-size: 15px;
          line-height: 1.2;
          font-weight: 200;
          margin: 1%;
          padding: 10px;
          border: 1px solid #bbb;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 5px;
          color: #202020;
          .stylized {
            width: 100%;
            text-align: center;
            img {
              max-width: 60px;
              max-height: 60px;
              margin-bottom: 10px;
            }
          }
          &.longform {
            flex-basis: 98%;
            font-size: 1.2em;
            line-height: 1.5;
            padding: 30px;
            .square {
              margin-right: 20px;
            }
          }
          &.midform {
            flex-basis: 48%;
          }
          &:hover {
            background-color: #eee;
          }
          .square,
          .circle {
            background: #fff;
            width: 21px;
            height: 21px;
            flex: 0 0 21px;
            border-radius: 21px;
            margin-right: 7px;
            border: 1px solid #bbb;
          }
          .square {
            border-radius: 2px;
          }
          // &:nth-of-type(3n) {
          //   margin-right: 0;
          // }
          @media @screen667 {
            flex-basis: 48%;
          }
        }
      }
      @media @screen550 {
        padding-top: 30px;
      }
    }
    .b2b-q1-2,
    .b2b-q2 {
      display: none;
    }
    .b2b-q1,
    .b2b-q1-2,
    .b2b-q2 {
      // max-width: calc(~"100% - 385px");
      margin-bottom: 30px;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: none;
      transform: translateX(200px);
      transition: transform 0.2s;
      &.active {
        display: block;
        transform: translateX(0);
      }
      @media @screen900 {
        // max-width: calc(~"100% - 360px");
      }
      @media screen and (max-width: 820px) {
        max-width: 100%;
      }
    }

    .b2b-q2 {
      // border-top: 2px solid #eee;
      // padding-top: 30px;
      h3 span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        strong {
          font-weight: 800;
        }
      }
      form.forms label {
        flex-direction: row;
        align-items: center;
      }
    }
    .question-nav-container {
      .display-flex();
      justify-content: space-between;
      @media @screen550 {
        flex-wrap: wrap;
      }
    }
    .upd_is_not {
      font-weight: 200;
      padding: 10px;
      line-height: 1.5;
      display: block;
    }
    .question-nav,
    .final-btn {
      display: block;
      margin: 20px 0;
      // margin-left: auto;
      margin-right: 0;
      width: 48%;
      flex: 0 0 48%;
      font-family: ars-maquette-web, sans-serif;
      font-size: 14px;
      font-weight: 200;
      padding: 0.8em 1.6em;
      background: #39b3ca;
      color: #fff;
      border-radius: 30px;
      border: none;
      transition: transform 0.2s;
      &[disabled] {
        background: #ddd;
      }
      &:hover {
        transform: scale(1.02);
      }
      @media @screen550 {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 0;
      }
    }
    .question-nav {
      background: #fff;
      border: 1px solid @upd-light-blue;
      // width: auto;
      // margin-left: auto;
      // margin-right: 0;
      color: @upd-light-blue;
      &[disabled] {
        border-color: #ddd;
        color: #fff;
      }
      &.next {
        margin-left: auto;
      }
      &.marketing {
        display: none;
      }
      @media @screen550 {
        flex-basis: 100%;
        width: 100%;
      }
    }
    .b2b-answers {
      display: none;
      background: #e1f4f7;
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 19px;

      h3 {
        font-size: 1.5em;
        font-weight: 800;
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
        color: @upd-navy;
      }
      .card-container {
        .display-flex();
        flex-wrap: wrap;
        justify-content: center;
      }
      .b2b-card {
        width: 30%;
        margin: 1%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 30px 40px;
        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
          margin-bottom: 15px;
        }
        h4 {
          margin: 0;
          font-size: 1.2em;
          font-weight: 800;
          line-height: 1.5;
          margin-bottom: 1em;
          &::after {
            display: block;
            content: "";
            margin-top: 20px;
            width: 100px;
            height: 6px;
            opacity: 0.2;
            background-color: #333;
          }
        }
        p {
          .merriweather();
          line-height: 1.7;
          font-size: 0.9em;
          max-width: 240px;
        }
        button {
          background: #fff;
          margin-top: 0.5em;
          border: 1px solid #333;
          border-radius: 3em;
          font-size: 0.9em;
          color: #333;
          padding: 0.6em 1.2em;
          transition: transform 0.2s;
          &:hover {
            transform: scale(1.02);
          }
        }
        &[data-audience="pm"],
        &[data-audience="brokerage"],
        &[data-audience="mortgage"],
        &[data-audience="student"],
        &[data-audience="moving"] {
          h4 {
            color: @upd-turquoise;
            &::after {
              background-color: @upd-turquoise;
            }
          }
          button {
            color: @upd-turquoise;
            border-color: @upd-turquoise;
          }
          &[data-audience="moving"][data-topic="mhq"] {
            h4 {
              color: @upd-light-green;
              &::after {
                background-color: @upd-light-green;
              }
            }
            button {
              color: @upd-light-green;
              border-color: @upd-light-green;
            }
          }
          &[data-audience="moving"][data-topic="marketing"] {
            h4 {
              color: @upd-light-blue;
              &::after {
                background-color: @upd-light-blue;
              }
            }
            button {
              color: @upd-light-blue;
              border-color: @upd-light-blue;
            }
          }
        }
        &[data-audience="tv-utilities"],
        &[data-audience="tv-utilities"][data-topic="call-center"],
        &[data-audience="banking"] {
          h4 {
            color: @upd-light-green;
            &::after {
              background-color: @upd-light-green;
            }
          }
          button {
            color: @upd-light-green;
            border-color: @upd-light-green;
          }
          &[data-audience="tv-utilities"][data-topic="util-concierge"],
          &[data-topic="generic-concierge"] {
            h4 {
              color: @upd-turquoise;
              &::after {
                background-color: @upd-turquoise;
              }
            }
            button {
              color: @upd-turquoise;
              border-color: @upd-turquoise;
            }
          }
          &[data-audience="tv-utilities"][data-topic="marketing"],
          &[data-topic="marketing"] {
            h4 {
              color: @upd-light-blue;
              &::after {
                background-color: @upd-light-blue;
              }
            }
            button {
              color: @upd-light-blue;
              border-color: @upd-light-blue;
            }
          }
        }
        &[data-audience="marketing"],
        &[data-audience="home-services"],
        &[data-audience="grocery"],
        &[data-audience="retail"],
        &[data-audience="insurance"] {
          h4 {
            color: @upd-light-blue;
            &::after {
              background-color: @upd-light-blue;
            }
          }
          button {
            color: @upd-light-blue;
            border-color: @upd-light-blue;
          }
        }

        @media screen and (max-width: 820px) {
          width: 48%;
        }
        @media @screen550 {
          // width: 98%;
          padding: 20px;
          font-size: 14px;
          p {
            font-size: 0.85em;
          }
        }
      }
    }
  }
  .b2b-demo-form {
    background-color: @upd-blue;
    // background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,o_30/v1580826660/website/2020-b2b-relaunch/icons-and-patterns/b2b-icon-pattern-white.png");
    background-position: center;
    background-repeat: repeat;
    // background-size: 50%;
    h2 {
      font-weight: 900;
      margin-bottom: 10px;
      color: #fff;
    }
    h6 {
      margin: 0;
      color: #fff;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 900;
      font-size: 21px;
      line-height: 1.4;
      text-transform: none;
      text-align: center;
    }
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    border: 1px solid transparent;
  }
}
