.team-2020 {
  .navbar-height-adjustment();

  .member-hover-quote {
    cursor: pointer;
    &::after {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
      transform: translateY(-30px);
      .merriweather();
      pointer-events: none;
      line-height: 1.6;
      color: #fff;
      font-size: 14px;
      content: attr(data-quote);
      position: absolute;
      top: 60%;
      padding: 20px 30px;
      left: -20px;
      right: -20px;
      background: rgba(51, 77, 92, 0.95);
      z-index: 2;
      border-radius: 10px;
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
      @media @screen550 {
        top: 60px;
      }
    }
    &::before {
      border: solid transparent;
      border-bottom-color: rgba(51, 77, 92, 0.95);
      border-width: 6px;
      margin-left: -6px;
      content: " ";
      top: 53%;
      left: 50%;
      content: " ";
      height: 15px;
      width: 15px;
      position: absolute;
      z-index: 2;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
      transform: translateY(-30px);
    }
    &:hover::after,
    &:hover::before {
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      @media @screen550 {
        display: none;
      }
    }
  }

  .hero-area {
    height: 230px;
    background-color: #777;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/e_grayscale,f_auto,q_auto/v1546466040/website/2018-revamp-assets/photos/team-composite.jpg");
    background-size: cover;
    // background-position: center;
    background-repeat: repeat-x;
    box-sizing: border-box;
    padding-bottom: 30px;
    .display-flex();
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    animation: team-hero 600s infinite linear;
    & > div {
      width: 100%;
    }
    .sqs-block.code-block.sqs-block-code {
      padding-bottom: 0 !important;
    }
    h1 {
      font-weight: 900;
      font-size: 38px;
      line-height: 1.2;
      color: #fff;
      margin: 0;
      margin-bottom: 20px;
      transition: font-size 0.2s;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
      @media @screen768 {
        font-size: 32px;
      }
      @media @screen550 {
        font-size: 28px;
      }
      @media screen and (max-width: 420px) {
        font-size: 22px;
      }
    }
    a {
      border: 1px solid transparent;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      padding: 5px 20px;
      background: @upd-light-blue;
      color: #fff;
      border-radius: 30px;
      transition: background 0.2s, border 0.2s, color 0.2s;
      &:hover {
        background: #fff;
        color: @upd-light-blue;
        border: 1px solid @upd-light-blue;
      }
    }
  }
  &--members {
    .display-flex();
    flex-wrap: wrap;
    justify-content: center;
  }
  .upd-group-container {
    background: #fff;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    .display-flex();
    justify-content: space-between;
    // flex-wrap: wrap;
    .heading-top-line {
      flex: 0 0 300px;
    }
    .upd-group-info {
      padding: 10px 0 0 30px;
      border-left: 5px solid #eee;
      flex: 1;
      margin-left: 20px;
    }
    h2 {
      // text-align: center;
      margin: 0;
      margin-top: 10px;
      font-weight: 800;
      font-size: 28px;
      line-height: 1.5;
      color: @upd-navy;
      margin-bottom: 5px;
    }
    h6 {
      font-size: 18px;
      // text-align: center;
      color: #202020;
      text-transform: none;
      margin: 0;
      line-height: 1.5;
    }
    h4 {
      .merriweather();
      // text-align: center;
      color: @upd-light-blue;
      line-height: 1.6;
      flex: 1;
      font-size: 24px;
      margin: 0;
      // max-width: 600px;
      margin-bottom: 20px;
      // transform: translateY(-20px);
      span {
        display: block;
        .maquette-web();
        font-size: 12px;
        font-weight: 800;
        color: #777;
      }
      &.companies {
        .maquette-web();
        img {
          width: 120px;
          height: 40px;
          object-fit: contain;
          opacity: 0.5;
          filter: grayscale(100%);
          margin: 10px 20px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
    .members {
      .display-flex();
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      &::before {
        content: "Group Leadership";
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 800;
        color: #777;
      }
      .member {
        margin: 0 15px 20px;
        flex: 0 0 150px;
        position: relative;
        img {
          width: 150px;
          height: 150px;
          border-radius: 150px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
          margin-bottom: 4px;
          box-sizing: border-box;
        }
        p {
          text-align: center;
          margin: 0;
          font-size: 1em;
          line-height: 1.2;
          span {
            display: block;
            font-size: 0.8em;
          }
        }
        a {
          display: block;
          position: relative;
          &::before {
            content: "💬";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transition: transform 0.2s;
          }
          &:hover::before {
            transform: scale(1.6);
          }
        }
        &[data-quote] {
          .member-hover-quote();
        }
      }
    }
    @media screen and (max-width: 1110px) {
      .members .member {
        margin: 0 15px 20px;
        flex: 0 0 130px;
        img {
          width: 130px;
          height: 130px;
          border-radius: 130px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
          margin-bottom: 4px;
        }
      }
    }
    @media @screen1024 {
      .heading-top-line {
        flex: 0;
        text-align: center;
        margin-bottom: 20px;
      }
      .upd-group-info {
        // padding: 10px 0 0 30px;
        padding: 10px;
        border: none;
        // border-left: 5px solid #eee;
        // flex: 1;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      padding-top: 30px;
      flex-direction: column;
      h2 {
        margin-top: 0;
      }
      h4 {
        .display-flex();
        span {
          padding-top: 5px;
          flex: 0 0 130px;
        }
        &:nth-of-type(2) {
          align-items: center;
          margin-bottom: 40px;
          span {
            padding-top: 0;
          }
          img {
            margin-top: 0;
            margin-bottom: 20px;
          }
        }
      }
      .members .member {
        margin: 0 15px 20px;
        flex: 0 0 120px;
        img {
          width: 120px;
          height: 120px;
          border-radius: 120px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
          margin-bottom: 4px;
        }
        p {
          text-align: center;
          margin: 0;
          font-size: 1em;
          line-height: 1.2;
          span {
            display: block;
            font-size: 0.8em;
          }
        }
      }
      .members::before {
        // flex: 0 0 130px;
        flex-basis: 100%;
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 820px) {
      h4 {
        display: block;
      }
    }
    @media @screen768 {
      text-align: center;
      h2 {
        font-size: 27px;
      }
      h6 {
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
      }
      h4 {
        font-size: 22px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        span::after {
          content: "";
          width: 30px;
          height: 5px;
          display: block;
          background: #eee;
          margin: 10px auto 15px;
        }
        &::before {
          height: 5px;
        }
      }
      .members {
        justify-content: center;
      }
      .members .member {
        flex-basis: 130px;
        margin: 0 10px 20px;
        img {
          width: 130px;
          height: 130px;
          border-radius: 130px;
        }
      }
    }

    @media screen and (max-width: 560px) {
      padding-top: 30px;
      h6 {
        font-size: 14px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 30px;
        // max-width: 550px;
        &::before {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .members .member {
        // width: 43%;
        // flex-basis: 43%;
        margin: 0 10px 20px;
        justify-content: center;
        .display-flex();
        flex-direction: column;
        align-items: center;
        img {
          width: 130px;
          height: 130px;
          border-radius: 130px;
        }
      }
    }
  }
  .upd-team-container {
    background: lighten(@upd-navy, 69%);
    h2 {
      text-align: center;
      margin: 0;
      font-weight: 800;
      font-size: 32px;
      color: @upd-navy;
      margin-bottom: 35px;
      @media @screen768 {
        font-size: 30px;
      }
      @media @screen550 {
        font-size: 27px;
      }
    }
    .container-2018 {
      background: #fff;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      padding: 0;
      padding-bottom: 20px;
      border-radius: 0 0 15px 15px;
    }
    margin-top: 50px;
    padding: 0 15px;
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 60px;
    // margin-bottom: 60px;
    @media @screen1024 {
      margin-top: 30px;
    }
  }
  .tab-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 80;
    top: 74px;
    @media @screen900 {
      top: @b2b-navbar-height;
    }
    padding-bottom: 15px;
    // background: #fff;
    background: linear-gradient(#fff 70%, rgba(255, 255, 255, 0) 100%);

    .display-flex();
    li {
      font-size: 1.25em;
      font-weight: 200;
      color: #666;
      padding: 0;
      line-height: 1;
      cursor: pointer;
      .display-flex();
      box-sizing: border-box;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex: 1 1 33.333333333%;
      background: #f0f0f0;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      padding: 1em;
      &:first-of-type {
        border-left: none;
      }
      &:hover {
        color: #202020;
      }
      &.active {
        border-top: 5px solid @upd-light-blue;
        color: #202020;
        background: #fff;
      }
      @media @screen1024 {
        font-size: 1em;
      }
      @media @screen667 {
        font-size: 0.8em;
      }
    }
  }
  .team-intro {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    &.active {
      display: block;
    }
    h3,
    h4 {
      margin: 0;
    }
    h3 {
      color: @upd-light-blue;
      font-size: 2em;
      .merriweather();
      line-height: 1.5;
      margin-bottom: 0.25em;
      &::before {
        display: block;
        content: "Our Mission";
        .maquette-web();
        color: #404041;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      &::after {
        display: block;
        width: 30px;
        background: #eee;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 5px;
        content: "";
      }
    }
    .overview {
      margin-left: 170px;
      margin-bottom: 50px;
      span {
        font-weight: 200;
        font-size: 1em;
        strong {
          font-weight: 400;
          font-size: 0.9em;
          text-transform: uppercase;
        }
      }
    }
    @media @screen1024 {
      margin-top: 30px;

      h3 {
        text-align: center;
        font-size: 1.7em;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        &::after {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .overview {
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
        span {
          font-size: 0.8em;
        }
      }
    }
    @media @screen667 {
      h3 {
        font-size: 1.4em;
      }
    }
    .leadership,
    .department,
    .friends {
      .display-flex();
      justify-content: space-between;
      // align-items: flex-start;
      margin-bottom: 30px;
      h4 {
        box-sizing: border-box;
        flex: 1 0 150px;
        margin-right: 20px;
      }

      .members,
      .department-photos {
        width: 100%;
      }
      .group-photo {
        width: 100%;
        margin-bottom: 30px;
      }
      .members {
        .display-flex();
        flex-wrap: wrap;
        justify-content: flex-start;
        .member {
          margin: 0 10px 20px;
          flex: 0 0 150px;
          position: relative;
          img {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
            margin-bottom: 4px;
          }
          p {
            text-align: center;
            margin: 0;
            font-size: 1em;
            line-height: 1.2;
            span {
              display: block;
              font-size: 0.8em;
            }
          }
          a {
            display: block;
            position: relative;
            &::before {
              content: "💬";
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              transition: transform 0.2s;
            }
            &:hover::before {
              transform: scale(1.6);
            }
          }
          &[data-quote] {
            .member-hover-quote();
          }

          @media @screen550 {
            flex: 0 0 130px;
            img {
              width: 130px;
              height: 130px;
            }
          }
        }
        .member.non-human {
          margin: 0 10px 20px;
          flex: 0 0 120px;
          img {
            width: 120px;
            height: 120px;
            border-radius: 120px;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
            margin-bottom: 4px;
          }
          p {
            text-align: center;
            margin: 0;
            font-size: 0.875em;
            line-height: 1.2;
            span {
              display: block;
              font-size: 0.9em;
            }
          }
        }
      }
      .department-photos {
        .display-flex();
        flex-wrap: wrap;
        align-items: flex-start;
        .team-picture {
          width: 48%;
          position: relative;
          margin: 1%;
          img {
            width: 100%;
          }
          &-caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            font-size: 10px;
            font-weight: 800;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            padding: 0.25em 0.7em;
            &.turquoise {
              background: @upd-turquoise;
            }
            &.light-blue {
              background: @upd-light-blue;
            }
            &.blue {
              background: @upd-blue;
            }
            &.light-green {
              background: @upd-light-green;
            }
          }
          @media @screen550 {
            width: 100%;
            margin: 0 0 25px;
          }
        }
      }
      @media @screen1024 {
        flex-direction: column;
        h4 {
          flex-basis: 30px;
          .display-flex();
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-right: 0;
          background: lighten(@upd-light-blue, 45%);
          margin-bottom: 20px;
          font-size: 1em;
        }
        .members {
          justify-content: center;
        }
      }
      @media @screen667 {
        h4 {
          font-size: 0.8em;
          text-transform: uppercase;
        }
      }
    }
  }

  &--member {
    &.pup {
      background: transparent;
    }

    width: 163px;
    // background: #FFF;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    img {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
      width: 100%;
      border-radius: 50%;
      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
    a {
      color: inherit;
      & > img {
        border: 1px solid white;
        // border: 1px solid lighten(@upd-light-blue, 17%);
        animation: border-pulse 5s infinite;
      }
    }
    @media @screen768 {
      width: 150px;
    }
    @media @screen550 {
      width: 110px;
    }
  }
  &--name {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 200;
  }
  &--title {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.1666666666667;
    text-align: center;
    margin-top: 7px;
  }
  @media @screen768 {
    &--name {
      font-size: 14px;
    }
    &--title {
      font-size: 10px;
    }
  }
  &--quote::before {
    content: attr(data-quote);
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
  &--pupdater {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
    background: lighten(@upd-navy, 67%);
    h4 {
      font-weight: 900;
      font-size: 24px;
      line-height: 1.208333333333;
      color: @upd-navy;
      text-align: center;
    }
    h6 {
      text-align: center;
      text-transform: none;
      font-weight: 900;
      font-size: 18px;
      line-height: 1.222222222;
      color: @upd-blue;
    }
    .pupdater-flkty {
      margin: 0 auto;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      .flickity-styling-2018();
    }
  }
  &--blog {
    text-align: center;
  }
}

.tippy-tooltip {
  font-size: 16px;
  line-height: 1.6;
  width: 200px;
  .merriweather();
  padding: 20px;
  background: @upd-navy!important;
  text-align: left;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  @media @screen768 {
    font-size: 14px;
  }
  @media @screen550 {
    font-size: 12px;
  }
}

.tippy-backdrop {
  background: @upd-navy!important;
}

@keyframes border-pulse {
  0% {
    border: 1px solid white;
  }
  50% {
    border: 1px solid lighten(@upd-light-blue, 30%);
  }
}

@keyframes team-hero {
  0% {
    background-position: 1000vw center;
  }

  100% {
    background-position: -1000vw center;
  }
}

.preloader-2018 {
  width: 100%;
  min-height: 500px;
  .display-flex();
  justify-content: center;
  align-items: center;
  // background: red;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
