.moving-tips-multifeed .category-title {
  background-color: #75c79b;
  position: relative;
  z-index: 5;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.moving-tips-multifeed .category-title:hover {
  background-color: @upd-salmon;
}

.moving-tips-multifeed .category-title div {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}

.moving-tips-multifeed .category-title .packing {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1493754942/blog/photos/Packing_Supplies2.jpg");
}

.moving-tips-multifeed .category-title .hiringmover {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1493754940/blog/photos/HireAMover2.jpg");
}

.moving-tips-multifeed .category-title .savingmoney {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale, q_70,w_1200/v1493754937/blog/photos/SavingMoney.jpg");
}

.moving-tips-multifeed .category-title .cable {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1493754940/blog/photos/cable_Internet_Utilities.jpg");
}
.moving-tips-multifeed .category-title .lol {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1493754944/blog/photos/LOL.jpg");
}
.moving-tips-multifeed .category-title .checklists {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/c_scale,q_70,w_1200/v1493754940/blog/photos/checklist.jpg");
}
.moving-tips-multifeed {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.moving-tips-multifeed .category-title span {
  width: 100%;
  color: #fff;
  font-size: 150%;
}
.moving-tips-multifeed .feed .title {
  line-height: 1.6;
  text-transform: initial;
}
//.moving-tips-multifeed .feed {padding-top: 20px; padding-bottom: 10px;}
.moving-tips-multifeed .feed {
  padding-top: 20px;
}
.moving-tips-multifeed .feed .row {
  margin-bottom: 15px;
  padding-bottom: 10px;
  background-color: #fff;
  padding-top: 15px;
}
.moving-tips-multifeed .feed .row a img {
  transition: all 0.3s ease;
}
.moving-tips-multifeed .feed .row a img:hover {
  opacity: 0.7;
}
.moving-tips-multifeed .read-more a {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
  display: block;
}
@media (max-width: 550px) {
  .moving-tips-multifeed .category-title {
    height: 135px;
  }
  .moving-tips-multifeed .read-more a {
    background: none;
    font-size: 14px;
    padding: 0px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .moving-tips-multifeed .feed .row {
    display: flex;
    align-items: center;
  }
  .moving-tips-multifeed .feed .row .col-xs-4 {
    width: 25%;
  }
  .moving-tips-multifeed .feed .row .col-xs-8 {
    width: 75%;
  }
  .moving-tips-multifeed .feed .row h6 {
    font-size: 120%;
  }
}
