// GET INVITED WITH MOVING
.hero-video-container {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.hero-video-container video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.35;
}

.hero-video-container .overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#getinvited-form form {
  margin: auto;
  display: inline-block;
}

#getinvited-form .form-wrapper .field-list .field .field-element {
  font-size: 16px;
  padding: 15px 12px;
  margin: 0px;
  font-family: inherit;
  min-width: 230px;
}

#getinvited-form .form-wrapper .field-list .field {
  float: left;
  margin-right: 15px;
}

#getinvited-form .form-wrapper .field-list .title {
  display: none;
}

#getinvited-form .form-wrapper .field-list {
  float: left;
  margin-right: 10px;
}

#getinvited-form .form-wrapper .form-button-wrapper--align-left {
  float: left;
}

#getinvited-form .field-element::-webkit-input-placeholder,
#getinvited-form .field-element:-moz-placeholder,
#getinvited-form .field-element::-moz-placeholder,
#getinvited-form .field-element:-ms-input-placeholder {
  text-align: center;
}

#getinvited-form i.link-tooltip {
  color: #75c79b;
}

#getinvited-form .tooltip {
  text-transform: initial;
}

@media (max-width: 900px) {
  #getinvited-form form {
    display: block;
    max-width: 600px;
    padding: 0px 20px;
  }
  #getinvited-form .form-wrapper .field-list,
  #getinvited-form .form-wrapper .field-list .field {
    float: none;
    margin-right: 0px;
  }
  #getinvited-form .form-wrapper .form-button-wrapper--align-left {
    float: none;
    text-align: center;
  }
}

.waiting-steps {
  text-transform: uppercase;
  background-color: #fff;
  color: @upd-salmon;
  margin: 10px;
  padding: 10px 20px 10px 10px;
  font-weight: bold;
  display: inline-block;
  border-radius: 10px;
}

.waiting-steps span {
  font-family: "ars-maquette-web";
  font-weight: 800;
  background: #5590ad;
  padding: 12px 17px;
  margin-right: 10px;
  color: #fff;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -10px;
  border: 4px solid #fff;
}

.waiting-steps2 {
  display: flex;
  align-items: center;
}

.waiting-steps2 div a {
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  display: block;
}

.waiting-steps2 a:first-child {
  margin-bottom: 20px;
}

.waiting-steps2 div a:hover {
  background: #fff;
  color: #56b784 !important;
  border: 1px solid #56b784;
}

.waiting-steps2 div a span {
  margin: auto;
}

.waiting-steps2 div a span.small {
  display: block;
  text-transform: initial;
}

@media (max-width: 767px) {
  .waiting-steps2 {
    display: block;
    padding: 0 10px;
    margin-top: 0px;
  }
  #getinvited-findmoverform .pad-horizontal-large {
    padding: 0 10px;
  }
  #movingtipsmultifeedheadline .pad-vertical-large {
    padding: 10px 0;
  } //.waiting-steps2 div:first-child {margin-bottom: 20px;}
}

#find-mover {
  background: #2b7499;
  color: #fff;
  padding: 80px 20px 20px;
  border-radius: 20px;
  border: 1px solid #80acc2;
  margin-top: -60px;
}

//#find-mover {background: #2B7499; color: #fff; padding: 50px 20px 20px; border-radius: 20px;}
#find-mover .icon-tab {
  margin-top: 0px;
  position: absolute;
  margin-left: -70px;
  left: 50%;
  top: -50px;
  width: 140px;
}

#find-mover .icon-tab img {
  width: 100px;
}

#find-mover .search-icon {
  color: #5590ad;
  margin-left: 10px;
  z-index: 10;
  position: relative;
}

#find-mover input.search {
  padding: 10px 10px 10px 40px;
  width: 325px;
  margin-left: -30px;
  color: #404041;
  border: none;
  border-radius: 5px;
}

.search-movers-300 {
  width: 300px;
  margin: auto;
}

.search-movers-300 #find-mover h6 {
  line-height: 1.5;
  margin: 0px 10px 20px;
}

.search-movers-300 #find-mover input.search {
  width: auto;
}

@media (max-width: 550px) {
  #find-mover {
    padding: 80px 0px 20px;
  }
  #find-mover input.search {
    width: auto;
  }
  .modal-content.demo-form .modal-header,
  .modal-content.demo-form .modal-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .modal-content.demo-form .form-wrapper .field-list .section {
    font-size: 0.7em;
  }
  .modal-content.demo-form .field-element,
  .modal-content.demo-form .button {
    font-size: 12px !important;
  }
  .modal-content.demo-form .form-wrapper .field-list .field {
    margin-bottom: 10px;
  }
  .modal-content.demo-form p {
    margin-bottom: 5px;
  }
  #formModal.modal {
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #find-mover input.search {
    width: auto;
  }
}

@media (min-width: 768px) {
  #getinvited-findmoverform p {
    font-size: 110%;
  }
  #getinvited-findmoverform .row {
    display: flex;
    align-items: center;
  }
}
