// DEMO ALL
.demo-col-text h1,
.demo-col-form .visible-xs h1 {
  margin-bottom: 0px;
}

.demo-col-text h5 {
  font-weight: 200;
}

.demo-col-text h4.standout {
  font-weight: bold;
  color: #5590ad;
}

.demo-col-text h4.standout2 {
  font-weight: bold;
  color: #75c79b;
  margin-bottom: 0px;
}

.demo-col-text p.demo-friends-intro {
  font-weight: bold;
  padding-bottom: 10px;
}

#testimonial-carousel p.demo-friends {
  padding: 0px 55px;
}

#testimonial-carousel {
  padding-top: 20px;
  border: 3px solid #efefef;
  border-radius: 20px;
}

.demo-col-text p.demo-friends a {
  font-weight: normal;
}

.demo-col-text p.demo-friends span {
  font-weight: normal;
  color: #56b784;
}

.extension.line-thru span:before,
.extension.line-thru span:after {
  width: 300px;
}

.extension {
  margin-bottom: 20px !important;
}

.demo-col-form {
  padding: 50px;
}

.demo-form {
  background-color: #2b7499;
  padding: 5px 30px 30px;
  border-radius: 10px;
}

.modal-content.demo-form {
  padding: 0px 15px 10px;
  background: #f5f5f5;
}

.demo-form.uninvited {
  background-color: #56b784;
}

.demo-form.uninvited p,
.demo-form.uninvited h4 {
  color: #fff;
}

.modal-content.demo-form p {
  color: #666667;
}

.demo-form p {
  color: #d5e3eb;
}

.form-wrapper .field-list .section {
  margin-bottom: 12px !important;
}

.demo-form .title {
  color: #fff;
  text-align: center;
  line-height: 1.6em;
}

.modal-content.demo-form .title {
  color: #666667;
}

.demo-col-form .mktoButtonRow {
  display: block !important;
}

.demo-col-form .mktoButtonRow button {
  background-color: #80acc2 !important;
  display: block !important;
  font-weight: bold !important;
}

.demo-col-form .mktoButtonRow button:hover {
  opacity: 0.7;
}

.demo-form form label {
  display: none !important;
}

.demo-form .sqs-block {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.demo-form .form-wrapper .field-list .field {
  margin-bottom: 20px;
}

.demo-form form .field-element {
  margin: 0px !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  line-height: 1.8 !important;
  color: #404041 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  font-family: "ars-maquette-web", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}

.demo-form form .button {
  color: #fff !important;
  background-color: #80acc2 !important;
  text-transform: uppercase !important;
  letter-spacing: normal !important;
  margin-bottom: 0 !important;
  font-weight: 200 !important;
  text-align: center !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
  white-space: normal !important;
  display: inline-block !important;
  vertical-align: middle !important;
  zoom: 1 !important;
  border-radius: 3px !important;
  padding: 12px 24px !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  transition: all 0.3s ease !important;
}

.demo-form.uninvited form .button {
  background-color: #2b7499 !important;
}

.modal-content.demo-form .button {
  background-color: #2b7499 !important;
}

.demo-form form .button:hover {
  opacity: 0.7;
}

.demo-form form .field-error {
  display: none;
}

.demo-form form .field-list .form-item.error input,
.demo-form form .field-list .form-item.error textarea {
  background-color: #ffefad !important;
  color: #2b7499 !important;
  border: none;
}

@media (min-width: 768px) {
  .demo-col-text h4.standout2 {
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .demo-col-form {
    padding: 50px 0px 0px 20px;
  }
}

@media (max-width: 767px) {
  .demo-col-form {
    padding: 0px 10px 0px 10px;
  }
  .demo-col-form h1 {
    font-size: 2em;
  }
  .demo-col-form h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .demo-form {
    margin-top: 30px;
  }
  .demo-form.uninvited {
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
}
