//CLIENTS
.clients-hero-splash {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/e_saturation:-5,f_auto/v1459278704/heroes/splash-thumbsup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -70px;
}

#updater-clients {
  border-top: 2px solid #fff;
}

.portfolio-sorting {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
}

.portfolio-sorting li {
  padding-bottom: 20px;
}

.portfolio-sorting li a,
.portfolio-sorting li span {
  color: #2b7499;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li span:hover {
  opacity: 0.7;
}

.portfolio-sorting li a.active,
.portfolio-sorting li span.active {
  color: #56b784;
  border: 1px solid #56b784;
  border-radius: 5px;
}

#clients .portfolio-item {
  padding: 20px;
}

#clients .portfolio-item img,
#team-photos .member img {
  transition: all 0.3s ease;
}

#clients .portfolio-item img:hover {
  opacity: 0.8;
}

#clients p.quote {
  margin-top: 12px;
  font-size: 110%;
  font-weight: 200;
}

#clients p.quoter {
  color: #666667;
  text-transform: uppercase;
  font-weight: 200;
}

#portfoliolist div.portfolio {
  display: none;
  overflow: hidden;
}

#team-photos div.member {
  display: none;
}

#portfoliolist {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 605px) {
  #clients.portfolio .col-xs-6 {
    width: 100%;
  }
  #software-partners .marquee img {
    max-width: 150px;
  }
}

@media (max-width: 500px) {
  .ico-medium {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
  }
  #upd-scene-hero-1 h1 {
    font-size: 30px;
  }
  #upd-scene-hero-1 .btn-lg {
    font-size: 16px;
  }
  #brand-customize ul {
    margin-left: 0px;
    font-size: 14px;
  }
  .solutions-features p {
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .solutions-features .col-xs-6 {
    padding: 0px;
  }
  .portfolio-sorting {
    font-size: 12px;
  }
  .portfolio-sorting li {
    padding-bottom: 13px;
  }
  .portfolio-sorting li a,
  .portfolio-sorting li span {
    padding: 8px 10px;
  }
  #clients .portfolio-item {
    padding: 10px 0px;
  }
  #clients p.quote {
    font-size: 100%;
  }
}
