//
//
// NOTE:
// This for old legacy /about-us page layout.
// Once we build out the new version, we can eliminate these.
//
//

// About Stats
.stat-bubble {
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  border-radius: 50%;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

.greenbub {
  background: #56b784;
  color: #fff;
}

.redbub {
  background: #f97179;
  color: #fff;
}

.bluebub {
  background: #5590ad;
  color: #fff;
}

.yellowbub {
  background: #ffe98f;
  color: #2b7499;
}

#team-cycle {
  margin: auto;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
}

#who-updater-carousel img {
  height: 150px;
  width: auto;
}

#who-updater-carousel .stat {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.4em;
}

.webuilt {
  border: 1px solid #dedede;
  border-radius: 20px;
}

.about-us-founder {
  border: 1px solid #dedede;
}

.about-us-founder-box.photo {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1484700467/team%20photos/David_Greenberg-crop-md.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 350px;
}

.icon-slider {
  opacity: 0;
}

.icon-slider .slick-center {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  opacity: 1 !important;
}

.icon-slider .slick-slide {
  opacity: 0.7;
}

.icon-slider .slick-slide img {
  border: 1px solid #fcb8bc;
  border-radius: 50%;
}

.icon-slider .ico-small {
  padding: 30px;
  transition: all 0.3s ease;
}

.ipo .icon {
  width: 60px;
}

.ipo .presslogo {
  max-width: 150px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.ipo .presslogo:hover {
  opacity: 1;
} // QUOTES ROTATOR
.rotator-wrapper {
  width: 100%;
}

div#rotator {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div#rotator div.col {
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  display: block;
  height: 300px;
  width: 25%;
}

div#rotator div.col {
  background-color: #f97179;
}

div#rotator div.col span {
  margin: auto;
}

.rotator-image {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  color: #666667;
  padding: 20px;
  border: 1px solid #fff;
}

.rotator-image.img1 {
  background-color: #efefef;
  color: @upd-salmon;
  display: flex;
  align-items: center;
}

.rotator-image.img2 {
  background-color: #f97179;
  color: #fff;
  display: flex;
  align-items: center;
}

.rotator-image.img3 {
  background-color: #efefef;
  color: @upd-salmon;
  display: flex;
  align-items: center;
}

.rotator-image.img4 {
  background-color: @upd-salmon;
  color: #fff;
  display: flex;
  align-items: center;
}

.rotator-image.img5 {
  background-color: #f5f5f5;
  color: #666667;
  display: flex;
  align-items: center;
}

@media (min-width: 1400px) {
  div#rotator div.col {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .about-us-founder-box {
    height: auto !important;
  }
  div#rotator div.col {
    width: 50%;
    height: 250px;
    line-height: 1.4;
    font-size: 15px;
  }
}

@media (max-width: 479px) {
  .webuilt .pad-horizontal-large {
    padding: 0 15px;
  }
  .image-height-auto {
    height: auto !important;
  }
}

@media (max-width: 500px) {
  .icon-slider .ico-small {
    padding: 15px;
  }
  .about-us-founder-box {
    min-height: 250px !important;
  }
  .about-us-founder-box div {
    padding: 5px;
  }
}

@media (max-width: 374px) {
  div#rotator div.col {
    width: 100%;
    height: 150px;
  }
}
