// TODO:
// - This might not be currently in use.
// - Delete after confirming.
//
// NOTE:
// Removing from the bundle for now. Put back if needed.

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-green-darker {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon:after,
.ribbon-green-darker.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #56b784;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: white;
  background: #56b784;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-green-darker.full-ribbon span:before,
.ribbon-green-darker.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-green-darker.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #56b784;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-green-darker.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-green-darker.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: white;
  background: #56b784;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-green-darker.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-green-darker.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #56b784;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-green-darker.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-green-darker.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: white;
  background: #56b784;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-green-darker.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-gray-dark {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon:after,
.ribbon-gray-dark.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #8c8c8d;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: white;
  background: #8c8c8d;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.full-ribbon span:before,
.ribbon-gray-dark.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #8c8c8d;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: white;
  background: #8c8c8d;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #8c8c8d;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: white;
  background: #8c8c8d;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-gray-dark.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-green-lighter {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon:after,
.ribbon-green-lighter.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #e3f4eb;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: #e3f4eb;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.full-ribbon span:before,
.ribbon-green-lighter.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #e3f4eb;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: #e3f4eb;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #e3f4eb;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: #e3f4eb;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-green-lighter.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-blue-darker {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon:after,
.ribbon-blue-darker.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #2b7499;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: white;
  background: #2b7499;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.full-ribbon span:before,
.ribbon-blue-darker.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #2b7499;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: white;
  background: #2b7499;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #2b7499;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: white;
  background: #2b7499;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-blue-darker.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon:after,
.ribbon-blue-lighter.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #d5e3eb;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: #d5e3eb;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.full-ribbon span:before,
.ribbon-blue-lighter.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #d5e3eb;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: #d5e3eb;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #d5e3eb;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: #d5e3eb;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-blue-lighter.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-red-darker {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon:after,
.ribbon-red-darker.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid @upd-salmon;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: white;
  background: @upd-salmon;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-red-darker.full-ribbon span:before,
.ribbon-red-darker.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-red-darker.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid @upd-salmon;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-red-darker.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-red-darker.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: white;
  background: @upd-salmon;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-red-darker.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-red-darker.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid @upd-salmon;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-red-darker.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-red-darker.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: white;
  background: @upd-salmon;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-red-darker.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-red-lighter {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon:after,
.ribbon-red-lighter.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #fee8e9;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: #fee8e9;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.full-ribbon span:before,
.ribbon-red-lighter.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #fee8e9;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: #fee8e9;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #fee8e9;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: #fee8e9;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-red-lighter.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon:after,
.ribbon-yellow-darker.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #ffe98f;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: #ffe98f;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.full-ribbon span:before,
.ribbon-yellow-darker.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #ffe98f;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: #ffe98f;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #ffe98f;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: #ffe98f;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-yellow-darker.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon:after,
.ribbon-yellow-mid.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #fff7db;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: #fff7db;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.full-ribbon span:before,
.ribbon-yellow-mid.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid #fff7db;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: #fff7db;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid #fff7db;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: #fff7db;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-yellow-mid.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}

/* line 28, ../sass/components/_ribbons.scss */
.ribbon-white {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 32, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon:after,
.ribbon-white.full-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid white;
}
/* line 38, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon:after {
  border-right-color: transparent;
}
/* line 39, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon:before {
  border-left-color: transparent;
}
/* line 41, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em;
  color: #404041;
  background: white;
}
/* line 47, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon span:before {
  left: 0;
}
/* line 48, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon span:after {
  right: 0;
}
/* line 49, ../sass/components/_ribbons.scss */
.ribbon-white.full-ribbon span:before,
.ribbon-white.full-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
}
/* line 58, ../sass/components/_ribbons.scss */
.ribbon-white.right-ribbon:after {
  content: "";
  float: left;
  border: 1.5em solid white;
}
/* line 64, ../sass/components/_ribbons.scss */
.ribbon-white.right-ribbon:after {
  border-right-color: transparent;
}
/* line 66, ../sass/components/_ribbons.scss */
.ribbon-white.right-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 1em 0 2.5em;
  color: #404041;
  background: white;
}
/* line 72, ../sass/components/_ribbons.scss */
.ribbon-white.right-ribbon span:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
}
/* line 82, ../sass/components/_ribbons.scss */
.ribbon-white.left-ribbon:before {
  content: "";
  float: left;
  border: 1.5em solid white;
}
/* line 88, ../sass/components/_ribbons.scss */
.ribbon-white.left-ribbon:before {
  border-left-color: transparent;
}
/* line 90, ../sass/components/_ribbons.scss */
.ribbon-white.left-ribbon span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0 2.5em 0 1em;
  color: #404041;
  background: white;
}
/* line 96, ../sass/components/_ribbons.scss */
.ribbon-white.left-ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0;
}
