// TODO:
// - This might not be currently in use.
// - Delete after confirming.
//
// NOTE:
// Removing from the bundle for now. Put back if needed.

/* line 3, ../sass/globals/_stateface.scss */
.stateface:before {
  font-family: "StateFaceRegular";
}

/* line 7, ../sass/globals/_stateface.scss */
.stateface-replace {
  text-indent: -9999px;
  display: inline-block;
  position: relative;
}

/* line 13, ../sass/globals/_stateface.scss */
.stateface-replace:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
}

/* line 20, ../sass/globals/_stateface.scss */
.stateface-ak:before {
  content: "A";
}

/* line 24, ../sass/globals/_stateface.scss */
.stateface-al:before {
  content: "B";
}

/* line 28, ../sass/globals/_stateface.scss */
.stateface-ar:before {
  content: "C";
}

/* line 32, ../sass/globals/_stateface.scss */
.stateface-az:before {
  content: "D";
}

/* line 36, ../sass/globals/_stateface.scss */
.stateface-ca:before {
  content: "E";
}

/* line 40, ../sass/globals/_stateface.scss */
.stateface-co:before {
  content: "F";
}

/* line 44, ../sass/globals/_stateface.scss */
.stateface-ct:before {
  content: "G";
}

/* line 48, ../sass/globals/_stateface.scss */
.stateface-dc:before {
  content: "y";
}

/* line 52, ../sass/globals/_stateface.scss */
.stateface-de:before {
  content: "H";
}

/* line 56, ../sass/globals/_stateface.scss */
.stateface-fl:before {
  content: "I";
}

/* line 60, ../sass/globals/_stateface.scss */
.stateface-ga:before {
  content: "J";
}

/* line 64, ../sass/globals/_stateface.scss */
.stateface-hi:before {
  content: "K";
}

/* line 68, ../sass/globals/_stateface.scss */
.stateface-ia:before {
  content: "L";
}

/* line 72, ../sass/globals/_stateface.scss */
.stateface-id:before {
  content: "M";
}

/* line 76, ../sass/globals/_stateface.scss */
.stateface-il:before {
  content: "N";
}

/* line 80, ../sass/globals/_stateface.scss */
.stateface-in:before {
  content: "O";
}

/* line 84, ../sass/globals/_stateface.scss */
.stateface-ks:before {
  content: "P";
}

/* line 88, ../sass/globals/_stateface.scss */
.stateface-ky:before {
  content: "Q";
}

/* line 92, ../sass/globals/_stateface.scss */
.stateface-la:before {
  content: "R";
}

/* line 96, ../sass/globals/_stateface.scss */
.stateface-ma:before {
  content: "S";
}

/* line 100, ../sass/globals/_stateface.scss */
.stateface-md:before {
  content: "T";
}

/* line 104, ../sass/globals/_stateface.scss */
.stateface-me:before {
  content: "U";
}

/* line 108, ../sass/globals/_stateface.scss */
.stateface-mi:before {
  content: "V";
}

/* line 112, ../sass/globals/_stateface.scss */
.stateface-mn:before {
  content: "W";
}

/* line 116, ../sass/globals/_stateface.scss */
.stateface-mo:before {
  content: "X";
}

/* line 120, ../sass/globals/_stateface.scss */
.stateface-ms:before {
  content: "Y";
}

/* line 124, ../sass/globals/_stateface.scss */
.stateface-mt:before {
  content: "Z";
}

/* line 128, ../sass/globals/_stateface.scss */
.stateface-nc:before {
  content: "a";
}

/* line 132, ../sass/globals/_stateface.scss */
.stateface-nd:before {
  content: "b";
}

/* line 136, ../sass/globals/_stateface.scss */
.stateface-ne:before {
  content: "c";
}

/* line 140, ../sass/globals/_stateface.scss */
.stateface-nh:before {
  content: "d";
}

/* line 144, ../sass/globals/_stateface.scss */
.stateface-nj:before {
  content: "e";
}

/* line 148, ../sass/globals/_stateface.scss */
.stateface-nm:before {
  content: "f";
}

/* line 152, ../sass/globals/_stateface.scss */
.stateface-nv:before {
  content: "g";
}

/* line 156, ../sass/globals/_stateface.scss */
.stateface-ny:before {
  content: "h";
}

/* line 160, ../sass/globals/_stateface.scss */
.stateface-oh:before {
  content: "i";
}

/* line 164, ../sass/globals/_stateface.scss */
.stateface-ok:before {
  content: "j";
}

/* line 168, ../sass/globals/_stateface.scss */
.stateface-or:before {
  content: "k";
}

/* line 172, ../sass/globals/_stateface.scss */
.stateface-pa:before {
  content: "l";
}

/* line 176, ../sass/globals/_stateface.scss */
.stateface-pr:before {
  content: "3";
}

/* line 180, ../sass/globals/_stateface.scss */
.stateface-ri:before {
  content: "m";
}

/* line 184, ../sass/globals/_stateface.scss */
.stateface-sc:before {
  content: "n";
}

/* line 188, ../sass/globals/_stateface.scss */
.stateface-sd:before {
  content: "o";
}

/* line 192, ../sass/globals/_stateface.scss */
.stateface-tn:before {
  content: "p";
}

/* line 196, ../sass/globals/_stateface.scss */
.stateface-tx:before {
  content: "q";
}

/* line 200, ../sass/globals/_stateface.scss */
.stateface-us:before {
  content: "z";
}

/* line 204, ../sass/globals/_stateface.scss */
.stateface-ut:before {
  content: "r";
}

/* line 208, ../sass/globals/_stateface.scss */
.stateface-va:before {
  content: "s";
}

/* line 212, ../sass/globals/_stateface.scss */
.stateface-vt:before {
  content: "t";
}

/* line 216, ../sass/globals/_stateface.scss */
.stateface-wa:before {
  content: "u";
}

/* line 220, ../sass/globals/_stateface.scss */
.stateface-wi:before {
  content: "v";
}

/* line 224, ../sass/globals/_stateface.scss */
.stateface-wv:before {
  content: "w";
}

/* line 228, ../sass/globals/_stateface.scss */
.stateface-wy:before {
  content: "x";
}
