//
// NOTE:
//
// These are taken from CUSTOM CSS section of SquareSpace.
// Many of them are not actively being used. Check and purge.

// behind the scenes grid
#behindthescenes2.flex-images {
  overflow: hidden;
}

#behindthescenes2.flex-images .item {
  float: left;
  margin: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  border: 10px solid #fff;
}

#behindthescenes2.flex-images .item img {
  display: block;
  width: auto;
  height: 100%;
}

#behindthescenes {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 180px;
}

#behindthescenes img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#behindthescenes .white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

// Marketing Resource Library
.resource-box {
  border: 2px solid #efefef;
  margin-bottom: 35px;
}

.resource-banner {
  margin-bottom: 35px;
}

.resource-title {
  padding: 4px 5px 0px 20px;
  border-bottom: 3px solid #efefef;
}

.resource-title h6 {
  color: #f97179;
  font-weight: bold;
}

.resource-title img {
  height: 40px;
  padding-right: 4px;
}

.resource-links ul {
  padding: 0px;
  margin: 0px;
}

.resource-links li {
  border-bottom: 1px solid #efefef;
  list-style: none;
}

.resource-links li:before {
  content: "\003e";
  // font-family: 'FontAwesome';
  float: left;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 12px 0px 0px 25px;
  color: #92d7b2;
}

.resource-links li a {
  display: block;
  padding: 10px 20px 10px 50px;
}

.resource-links li:hover {
  background-color: #e3f4eb;
}

.resource-links li a:hover {
  color: #56b784;
}

.resource-links li:hover:before {
  color: #56b784;
}

// Consumer Facing
@media (min-width: 768px) {
  .flex-tiles .row {
    display: flex;
  }
  .flex-tiles.consumer .left {
    margin-right: 20px;
  }
  .flex-tiles.consumer .right {
    margin-left: 20px;
  }
}

.flex-tiles.consumer h4 {
  text-transform: uppercase;
  font-family: "ars-maquette-web";
  font-weight: 800;
}

.flex-tiles .blue {
  background: #2b7499;
}

.flex-tiles .red {
  background: @upd-salmon;
}

.flex-tiles .green {
  background: #56b784;
}

.flex-tiles.consumer .left {
  background: #5590ad;
}

.flex-tiles.consumer .right {
  background: #f97179;
}

.consumer #find-mover {
  background: none;
  padding: 0px;
  margin: 0;
  border: none;
}

// blog pulls
.solutions-landing div.sqs-block,
.blog-pull-box div.sqs-block {
  padding: 0px !important;
}

.solutions-landing
  .sqs-layout:not(.sqs-editing)
  > .sqs-row:first-child
  > [class*="sqs-col"]:first-child
  > .sqs-block:last-child,
.solutions-landing
  .sqs-layout:not(.sqs-editing)
  .sqs-block
  + .sqs-row
  .sqs-block:not(.float):last-child {
  padding-bottom: 0px !important;
}

.blog-pull-box .summary-content {
  border-bottom: 1px solid #efefef;
  padding-bottom: 28px;
}

.blog-pull-box .summary-title {
  font-size: 16px !important;
}

.blog-pull-box {
  background-color: #fff;
  padding: 10px 30px;
  border-bottom: 1px solid #e4e4e5;
}

@media only screen and (max-width: 992px) {
  .blog-pull-box {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.blog-pull-box h5 {
  color: #f97179;
  border-bottom: 3px solid #efefef;
  padding-bottom: 6px;
  margin-bottom: 28px;
}

.blog-pull-box h5 a {
  color: #f97179;
}

.blog-pull-sum {
  border-bottom: 1px solid #efefef;
}

// read more overlay
.row.related a .text-overlay,
.blog-box a .text-overlay {
  opacity: 0;
  height: 100%;
  text-decoration: none;
  width: 100%;
  z-index: 100;
  padding: 20px;
  background: #f97179;
  background: rgba(249, 113, 121, 0.8);
  transition: all 0.4s;
}

.row.related a:hover .text-overlay,
.blog-box a:hover .text-overlay {
  opacity: 1;
}

.row.related a .text-overlay .read-more,
.blog-box a .text-overlay .read-more {
  text-align: center;
  top: 50%;
  width: 100%;
  left: 0;
  position: relative;
  margin-top: -11px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}
