@keyframes icon-r {
  0% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085521/website/2018-revamp-assets/icons/app-features/icon-app-feature-utilities-circle-outline_ko.svg");
    transform: rotateY(0deg);
  }
  10% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085519/website/2018-revamp-assets/icons/app-features/icon-app-feature-tv-internet-circle-outline_ko.svg");
    transform: rotateY(180deg);
  }
  20% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085518/website/2018-revamp-assets/icons/app-features/icon-app-feature-reserve-a-mover-circle-outline_ko.svg");
    transform: rotateY(0deg);
  }
  30% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085517/website/2018-revamp-assets/icons/app-features/icon-app-feature-moving-announcement-circle-outline_ko.svg");
    transform: rotateY(180deg);
  }
  40% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085516/website/2018-revamp-assets/icons/app-features/icon-app-feature-mailforwarding-circle-outline_ko.svg");
    transform: rotateY(10deg);
  }
  50% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085515/website/2018-revamp-assets/icons/app-features/icon-app-feature-local-services-circle-outline_ko.svg");
    transform: rotateY(180deg);
  }
  60% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085514/website/2018-revamp-assets/icons/app-features/icon-app-feature-local-deals-circle-outline_ko.svg");
    transform: rotateY(0deg);
  }
  70% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085512/website/2018-revamp-assets/icons/app-features/icon-app-feature-insurance-circle-outline_ko.svg");
    transform: rotateY(180deg);
  }
  80% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085511/website/2018-revamp-assets/icons/app-features/icon-app-feature-diy-moving-circle-outline_ko.svg");
    transform: rotateY(0deg);
  }
  90% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085510/website/2018-revamp-assets/icons/app-features/icon-app-feature-account-update-circle-outline_ko.svg");
    transform: rotateY(180deg);
  }
  100% {
    background: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545085521/website/2018-revamp-assets/icons/app-features/icon-app-feature-utilities-circle-outline_ko.svg");
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes colorRotate {
  0% {
    color: #00a2d9;
  }
  33% {
    color: #ffffff;
  }
  66% {
    color: #7ab800;
  }
  100% {
    color: #00a2d9;
  }
}
@keyframes colorRotate {
  0% {
    color: #00a2d9;
  }
  33% {
    color: #ffffff;
  }
  66% {
    color: #7ab800;
  }
  100% {
    color: #00a2d9;
  }
}
