.gh-job-test {
  .navbar-height-adjustment();
  padding-top: 30px;
  h3 {
    margin: 0;
    font-size: 24px;
    color: @upd-light-blue;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .gh-job-list-content,
  .gh-office-list-content,
  .gh-department-list-content {
    margin-bottom: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    .display-flex();
    width: 100%;
    justify-content: space-between;
    h5 {
      position: absolute;
      box-sizing: border-box;
      padding: 5px 20px;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      line-height: 1;
      font-size: 12px;
      font-weight: 800;
      background: @upd-light-blue;
      color: #fff;
    }
    .job-item {
      border: 1px solid #ddd;
      padding: 30px 20px 0;
      position: relative;
      &-div {
        padding: 5px 0;
      }
      // flex: 1 1 45%;
      width: 49%;
      &-label {
        .maquette-web();
      }
      &-data {
        font-family: Courier, monospace;
        font-size: 0.8em;
        background: #eee;
        padding: 0.2em 1em;
        border-radius: 0.5em;
      }
    }
  }
  .gh-office-list-content {
    // flex-direction: column;
    .office-item {
      box-sizing: border-box;
      border: 1px solid #ddd;
      position: relative;
      padding: 30px 20px 0;

      // .display-flex();
      // flex: 1 1 49%;
      width: 49%;
      margin-bottom: 20px;

      &-div {
        padding: 5px;
      }
      // flex: 1 1 45%;

      &-label {
        .maquette-web();
      }
      &-data {
        font-family: Courier, monospace;
        font-size: 0.8em;
        background: #eee;
        padding: 0.2em 1em;
        border-radius: 0.5em;
      }
    }
  }
  .gh-department-list-content {
    // flex-direction: column;
    .department-item {
      position: relative;
      box-sizing: border-box;
      border: 1px solid #ddd;

      // .display-flex();
      // flex: 1 1 49%;
      width: 49%;
      margin-bottom: 20px;
      padding: 30px 20px 0;
      &-div {
        padding: 5px;
      }
      // flex: 1 1 45%;

      &-label {
        .maquette-web();
      }
      &-data {
        font-family: Courier, monospace;
        font-size: 0.8em;
        background: #eee;
        padding: 0.2em 1em;
        border-radius: 0.5em;
      }
    }
  }
}

.xx-test {
  min-height: 100vh;
  &.preloader {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    color: #fff;
    border-radius: 200px;
    animation: blink 1s infinite;
  }
  &.content {
    padding-top: 30px;
    padding-bottom: 50px;
    .introduction {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    a {
      color: @upd-blue;
      &:hover {
        color: @upd-navy;
        text-decoration: underline;
      }
    }
    h1 {
      margin: 0 0 10px;
      font-size: 32px;
      font-weight: 800;
    }
    ul {
      max-width: 500px;
      font-size: 14px;
      box-sizing: border-box;
      font-weight: 200;
      line-height: 1.4;
      padding: 20px;
      background: lighten(@upd-light-blue, 40%);
    }
    li {
      margin-left: 20px;
    }
    li + li {
      margin-top: 5px;
    }
    .content-items {
      width: 100%;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 200;
    }
    .mobile-hidden {
      pointer-events: none;
      @media @screen550 {
        display: none;
      }
    }
    th {
      background: @upd-light-blue;
      font-weight: 400;
      color: #fff;
      padding: 0.5em 1em;
      text-transform: capitalize;
      &.sort {
        cursor: pointer;
        &.active::after {
          content: attr(data-arrow);
        }
      }
    }
    tfoot tr {
      font-size: 6px;
      padding: 0;
      height: 10px;
      background: @upd-light-blue;
    }
    tbody {
      tr {
        background: #f0f0f0;
        &:nth-of-type(2n) {
          background: #e0e0e0;
        }
      }
      td {
        padding: 1em;
      }
    }
    .min::after {
      content: "mins";
      margin-left: 3px;
    }
  }
  @keyframes blink {
    0% {
      background: #333;
      transform: scale(1.2);
    }
    50% {
      background: #202020;
      transform: scale(1);
    }
    100% {
      background: #333;
      transform: scale(1.2);
    }
  }
}

.scroll-indicator--wrapper {
  position: fixed;
  top: @b2b-navbar-height;
  left: 0;
  right: 0;
  .scroll-indicator {
    width: 0;
    height: 8px;
    background: @upd-light-blue;
  }
}
