.order-to-chaos {
  background: lighten(@upd-navy, 65%);
  .section_padding_top();
  .sqs-block.code-block.sqs-block-code {
    padding-bottom: 0 !important;
  }
  position: relative;
  h2 {
    .section_h1();
  }
  h3 {
    .section_h3();
  }
  p {
    .merriweather();
    max-width: 750px;
    font-size: 15px;
    line-height: 1.7;
    margin: 0 auto 15px;
    text-align: center;
    @media @screen768 {
      font-size: 13px;
    }
  }
  a[href="http://juxtapose.knightlab.com"] {
    display: none;
  }
  #chaos-slider {
    width: 100%;
    margin: 0 auto;
    max-width: 979px;
  }
  div.jx-slider {
    color: @upd-pink;
    overflow: visible;
  }
  .vertical div.jx-control {
    height: 5px;
  }
  .vertical div.jx-arrow.jx-left {
    left: 0px;
    top: -15px;
    border-width: 0px 15px 23px 15px;
    border-color: transparent transparent #ffffff transparent;
  }
  .vertical div.jx-handle:hover div.jx-arrow.jx-left,
  .vertical div.jx-handle:active div.jx-arrow.jx-left {
    top: -12px;
  }
  .vertical div.jx-arrow.jx-right {
    right: 0px;
    top: auto;
    bottom: -15px;
    border-width: 23px 15px 0 15px;
    border-color: currentColor transparent transparent transparent;

    &::after {
      content: "Drag to compare";
      display: block;
      .maquette-web();
      font-weight: 900;
      font-size: 15px;
      width: 160px;
      position: relative;
      padding: 4px 10px;
      margin-left: -180px;
      margin-top: -25px;
      background: rgba(255, 255, 255, 0.7);
      -webkit-animation: pulse-text 1s infinite;
      -moz-animation: pulse-text 1s infinite;
      -o-animation: pulse-text 1s infinite;
      animation: pulse-text 1s infinite;
    }
    @-webkit-keyframes pulse-text {
      0% {
        font-size: 15px;
      }
      50% {
        font-size: 15.5px;
      }
      100% {
        font-size: 15px;
      }
    }
    @-moz-keyframes pulse-text {
      0% {
        font-size: 15px;
      }
      50% {
        font-size: 15.5px;
      }
      100% {
        font-size: 15px;
      }
    }
    @-o-keyframes pulse-text {
      0% {
        font-size: 15px;
      }
      50% {
        font-size: 15.5px;
      }
      100% {
        font-size: 15px;
      }
    }
    @keyframes pulse-text {
      0% {
        font-size: 15px;
      }
      50% {
        font-size: 15.5px;
      }
      100% {
        font-size: 15px;
      }
    }
  }
  .vertical div.jx-handle:hover div.jx-arrow.jx-right,
  .vertical div.jx-handle:active div.jx-arrow.jx-right {
    bottom: -12px;
  }
}
