.highlights-bottom {
  border-top: 5px solid #eee;
}

.highlights-bottom p {
  padding-left: 40px;
  padding-right: 40px;
}

.highlights-timeline .col-sm-4 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

// press
@media (max-width: 768px) {
  #press-feed .col-sm-3,
  #press-feed .col-sm-9,
  #press-feed h4 {
    text-align: center !important;
  }
  #press-feed h4 {
    margin-top: 6px;
  }
}

.outline-box-press {
  background-color: #ffffff;
  border: 2px solid #efefe5;
  margin: 10px 5px 10px;
  padding: 25px 25px 35px;
}

.outline-box-press#stay-in-touch {
  margin-top: 30px;
  margin-bottom: 30px;
}

.press-reverse-logos {
  width: 50%;
  float: left;
  padding: 5px;
}

.press-reverse-logos img {
  width: 75%;
}

.inline-center-block {
  display: inline-block;
  margin: auto;
}

#stay-in-touch .ico-social-footer {
  height: 45px;
  width: 45px;
}

#stay-in-touch .ico-social-footer:before {
  font-size: 22px;
}

.outline-box-press a img {
  transition: all 0.2s ease;
}

.outline-box-press a img:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  #stay-in-touch .ico-social-footer {
    margin: 0px 2px;
  }
}

@media (max-width: 767px) {
  .outline-box-press#updater-blog {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .press-reverse-logos {
    width: 100%;
  }
  .outline-box-press img:not(.headshot) {
    width: 100%;
  }
  #stay-in-touch .ico-social-footer:before {
    font-size: 18px;
  }
  #stay-in-touch .ico-social-footer {
    height: 37px;
    width: 37px;
  }
}

// Milestones
.milestones .year {
  font-weight: bold;
  font-size: 46px;
  color: #d5e3eb;
}

.milestones .borderline {
  border-right: 5px solid #efefef;
}

.milestones .title {
  font-weight: bold;
  font-size: 18px;
  color: #2b7499;
  padding-bottom: 10px;
}

.milestones .date {
  color: @upd-salmon;
}

.milestones .blurb {
  padding-left: 30px;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
}

.milestones .content-box {
  padding: 50px 0px;
  display: table;
  table-layout: fixed;
}

.milestones .img-border {
  border-color: #5590ad;
}

@media (min-width: 992px) {
  .milestones .img-circle {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .milestones .img-circle {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .milestones .img-circle {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .milestones .title {
    font-size: 16px;
  }
  .milestones .blurb {
    padding: 0px;
  }
}

// Insurance - Landing and SF Form
#team-photos.insurance p.small span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#team-photos.insurance img {
  margin-top: 15px;
}

.form-box.sf input[type="text"],
.form-box.sf select,
.form-box.sf input[type="textarea"] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

// Moving Award
.award-box {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 400px;
  position: relative;
}

.award-box2 {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  position: relative;
}

.award-icon {
  position: absolute;
  right: -10px;
  top: -20px;
}

.award-icon img {
  width: 50px !important;
}

.award-inner-box {
  padding: 20px;
  color: #8c8c8d;
}

@media (max-width: 768px) {
  .award-box,
  .award-box2 {
    margin: auto;
    border: 1px solid #efefef;
  }
}

// Thank You
@media (min-width: 1200px) {
  .signup-form-md {
    padding: 0px 100px;
  }
}

.box-white {
  background-color: #fff;
}

.signup-form-md .mktoButtonRow {
  display: block !important;
  text-align: center;
}

// BUSINESS PORTAL LANDING
.business-portal-landing-splash-top {
  background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,o_20,c_scale,w_2000/v1513118607/heroes/shutterstock_410339746.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.business-portal-landing-splash-top h3 {
  font-size: 22px;
}

#connecting-stats div.col-sm-4 {
  padding-right: 25px;
  padding-left: 25px;
}

#connecting-stats img {
  width: 100px;
}

#connecting-stats h3 {
  color: #5590ad;
  font-weight: bold;
  font-size: 200%;
  line-height: 1.3;
  margin-top: 10px;
}

#connecting-stats p.source {
  font-size: 11px;
  color: #8c8c8d;
  line-height: 1.3;
}

#connecting-guidelines .fa-check-circle,
#connecting-guidelines .fa-check,
#connecting-intro .fa-check {
  color: #75c79b;
}

#connecting-guidelines .fa-exclamation-circle,
#connecting-guidelines .fa-exclamation {
  color: #f97179;
}

#connecting-guidelines ul,
#connecting-intro ul {
  display: inline-block;
  margin: auto;
}

#connecting-guidelines li,
#connecting-intro li {
  margin-bottom: 5px;
  text-align: left;
}

#connecting-guidelines .fa-question-circle {
  color: #d9d9d9;
  cursor: pointer;
}

#connecting-guidelines .tooltip {
  width: 150px;
}

#connecting-form form .mktoButtonRow {
  width: 100%;
}

#connecting-form form .mktoButton {
  padding: 15px 25px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  display: inline-block !important;
  transition: all 0.4s !important;
  border-radius: 0px !important;
  font-size: initial !important;
  width: 100%;
  background: #5590ad !important;
  border: 1px solid #5590ad !important;
}

#connecting-form form .mktoButton:hover {
  background: #fff !important;
  border: 1px solid #5590ad !important;
  color: #5590ad !important;
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 479px) {
  #connecting-guidelines li {
    text-align: left;
  }
  .business-portal-landing-splash-top h1 {
    font-size: 26px;
  }
  .business-portal-landing-splash-top h3 {
    font-size: 18px;
  }
}

// TITLE LANDING
@media (min-width: 992px) {
  .title-hero-overhang-large {
    margin-bottom: -440px;
  }
  .title-hero-overhang-large-form {
    background-color: #ffffff;
    border: 5px solid #5590ad;
    margin-top: -50px;
  }
  .title-overhang-space-large {
    padding-top: 360px;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .title-hero-overhang-large {
    margin-bottom: -540px;
  }
  .title-hero-overhang-large-form {
    background-color: #ffffff;
    border: 5px solid #5590ad;
    margin-top: -50px;
  }
  .title-overhang-space-large {
    padding-top: 420px;
  }
}

@media (max-width: 767px) {
  .solutions-title-splash {
    .title-hero-overhang-large {
      margin-bottom: 0px;
    }
    .title-hero-overhang-large-form {
      margin-top: 20px;
      border: 5px solid #5590ad;
    }
    .title-overhang-space-large {
      padding-top: 0px;
    }
    .font-invert h1,
    .font-invert h3 {
      color: #2b7499 !important;
    }
    .font-invert li,
    .font-invert h3.ltblue {
      color: #404041 !important;
    }
    .title-bullets-divider {
      border-bottom: 1px solid #e4e4e5;
      margin-left: -30px !important;
      margin-right: -30px !important;
    }
  }
}

.title-hero-overhang-small {
  margin-bottom: -50px;
}

.title-hero-bullets {
  font-size: 20px;
}

.title-testimonials {
  font-size: 20px;
}

#solutions-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 10px;
  text-align: left;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#solutions-list li {
  padding: 5px 0px 5px 70px;
  margin-bottom: 15px;
  font-size: 22px;
  background-size: 50px;
}

.list-mail {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/icons/ico-mail-large.svg);
  background-repeat: no-repeat;
}

.list-accounts {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/icons/ico-accounts-large.svg);
  background-repeat: no-repeat;
}

.list-utilities {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/icons/ico-utilities-large.svg);
  background-repeat: no-repeat;
}

.list-share {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/icons/ico-share-large.svg);
  background-repeat: no-repeat;
}

.list-deals {
  background-image: url(https://res.cloudinary.com/updater-marketing/image/upload/icons/ico-deals-large.svg);
  background-repeat: no-repeat;
}

// TESTIMONIALS - CASE STUDIES
.testimonial-feature-text {
  font-size: 24px;
}

.testimonial-feature-credit {
  font-size: 20px;
  color: #5590ad;
}

.testimonial-list {
  border-bottom: 1px solid #aac7d6;
}

.testimonial-list-text {
  font-size: 120%;
}

.testimonial-list-credit {
  font-size: 120%;
  color: #5590ad;
}

// Investors
#investor-carousel {
  margin-top: 20px;
}

.investor-slider-info {
  background-color: #5590ad;
  padding: 25px 25px 17px;
  text-align: center;
}

.investor-news-list {
  padding-left: 15px;
  padding-right: 15px;
}

.investor-news-list .date {
  color: #75c79b;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: 2px;
}

.investor-news-list .row {
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
}

.menu-light-sm .dropdown-menu {
  background-color: #fff;
  border: 1px solid #e3f4eb;
}

.menu-light-sm .dropdown-menu > li {
  border-bottom: 1px solid #e3f4eb;
}

.menu-light-sm .dropdown-menu > li > a {
  font-size: 13px !important;
  color: #8c8c8d !important;
}

.menu-light-sm .dropdown-menu > li > a:hover,
.dropdownMenu-light-sm .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
  font-size: 13px !important;
  color: #56b784 !important;
}

#dropdownManu-asx a {
  padding: initial !important;
  margin: initial !important;
  border: initial !important;
}

.asx-list {
  background-color: #fcfcfc;
  margin-bottom: 6px;
}

.asx-list .date {
  color: #75c79b;
}

@media (min-width: 768px) {
  .pad-all-large-desktop {
    padding: 40px;
  }
}
