.wo_cloudinary__blog-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.wo_cloudinary__press-thumb {
  width: 355px;
  height: 220px;
  object-fit: cover;
}

.wo_cloudinary__blog-hero {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &-wrapper {
    position: relative;
    margin-bottom: 20px;
    &::after {
      display: block;
      content: "";
      padding-bottom: 56.25%;
    }
  }
}

.wo_cloudinary__blog-sidebar {
  object-fit: cover;
  width: 85px !important;
  height: 85px !important;
}

.wo_cloudinary__blog-footer,
.wo_cloudinary__blog-list {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  &-wrapper {
    position: relative;
    &::after {
      display: block;
      content: "";
      padding-bottom: 60%;
    }
  }
}

.wo_cloudinary__resources-thumb {
  width: 355px;
  height: 220px;
  object-fit: cover;
}
