.home-2018 {
  &--hero {
    position: relative;
    .display-flex();

    .container-2018 {
      width: 100%;
    }
    .home-intro-cta {
      color: #fff;
      background: @upd-pink;
      padding: 15px 30px;
      border-radius: 30px;
      font-size: 18px;
      &:hover {
        background: #8e1b26;
      }
    }
    &-split-container {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      .display-flex();
      height: 100%;
      align-items: stretch;
      background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546874807/website/2018-revamp-assets/diagrams/icon-bg-gradient-vector_extended_.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media @screen992 {
        background-position: 45% center;
      }
      @media @screen768 {
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546875026/website/2018-revamp-assets/diagrams/icon-bg-gradient-vector_extended-no-icon_.svg");
      }
    }
    .split-left {
      width: 50%;
      border: none;
      border-bottom: 2px solid @upd-navy;
      // background: #FFF;
      @media screen and (min-width: 1300px) {
        width: 60%;
      }
    }
    .split-right {
      width: 50%;
      // background: #FFF;
      @media screen and (min-width: 1300px) {
        width: 40%;
      }
    }
    .split-right {
      border: none;
      border-bottom: 2px solid @upd-navy;
    }
    .navbar-height-adjustment();
    min-height: 80vh;
    height: calc(80vh - @navbar-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .display-flex();
    flex-direction: column;
    justify-content: center;
    @media @screen768 {
      justify-content: flex-start;
      padding-top: @navbar-height;
    }
    align-items: center;
    color: @upd-navy;
    h1 {
      transition: font-size 0.2s;
      .maquette-web();
      font-weight: 900;
      // font-size: 80px;
      font-size: 4.5vw;
      line-height: 1;
      text-align: left;

      span {
        font-style: italic;
      }

      @media screen and (min-width: 1500px) {
        font-size: 60px;
      }

      @media @screen992 {
        font-size: 7vw;
      }

      @media @screen550 {
        font-size: calc(8.5vw + 2px);
      }
    }

    h2 {
      .hero_h2();
      text-align: left;

      #typed {
        background: #fff;
        color: @upd-pink;
        padding: 10px 20px;
        margin: 0 10px;
      }

      .typed-cursor {
        margin-left: -25px;
        margin-right: 20px;
        color: #999;
      }
    }
    p {
      margin-left: auto;
      transition: font-size 0.2s;
      text-align: left;
      // max-width: 480px;
      .merriweather();
      font-size: 36px;
      line-height: 1.6;
      margin-bottom: 40px;
      @media screen and (max-width: 1500px) {
        font-size: 32px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 30px;
      }
      @media @screen992 {
        font-size: 28px;
      }
      @media @screen768 {
        font-size: 24px;
      }
      @media @screen550 {
        font-size: 20px;
      }
    }
  }

  &--summary-block {
    &.one-liner {
      box-shadow: none;
      background: #333;
    }
    padding: 50px 0px;
    background: @upd-navy;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    h2 {
      .hero_h2();
      text-align: center;
      margin-top: 0;
      font-weight: 900;
      color: @upd-navy;
      &.typed-elem {
        margin-top: 50px !important;
      }
      #typed {
        box-sizing: border-box;
        background: #fff;
        font-weight: 200;
        color: @upd-pink;
        padding: 20px 40px;
        margin: 20px 10px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
      }

      .typed-cursor {
        margin-left: -25px;
        margin-right: 20px;
        color: #999;
      }
    }
    img {
      width: 70px;
    }

    &-content {
      padding-top: 4vw;
      padding-bottom: 4vw;
      text-align: center;

      img {
        transition: width 0.2s, margin 0.2s;
        margin: 0 10px;
      }

      h6 {
        .maquette-web();
        // font-size: 22px;
        font-size: 48px;
        line-height: 1.5;
        color: #fff;
        text-transform: none;
        margin: 0 auto;
        // max-width: 54vw;
        margin-bottom: 30px;
        transition: font-size 0.2s;
      }
      .message-wrapper {
        margin: 0 auto;
        max-width: 750px;
        padding: 50px 0;
        // border: 1px solid white;
        background: #e6e9ea;
        border-radius: 20px;
        box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
        @media @screen992 {
          margin-top: 50px;
        }
        @media @screen550 {
          margin-top: 20px;
          padding: 20px 0;
        }
      }
      @media screen and (max-width: 1300px) {
        h6 {
          font-size: 40px;
          // font-size: 33px;
          // max-width: 700px;
        }
      }

      @media @screen1200 {
        img {
          width: 60px;
        }
      }

      @media @screen992 {
        h6 {
          font-size: 32px;
          // max-width: 700px;
        }

        img {
          width: 50px;
        }
      }

      @media @screen768 {
        img {
          // margin: 0 4px;
          margin: 0 2px;
          width: 45px;
        }

        h6 {
          font-size: 24px;
          // max-width: 700px;
        }
      }

      @media @screen550 {
        img {
          margin: 0;
          width: 40px;
        }

        h6 {
          font-size: 18px;
        }
      }

      @media screen and (max-width: 500px) {
        img {
          display: none;
        }

        h6 {
          margin: 0;
        }
      }
    }
  }

  &--overview {
    background: @upd-navy;
    padding-top: 30px;
    // margin-bottom: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    &-container {
      .display-flex();
      @media @screen550 {
        flex-direction: column;
      }
    }
    &-msg,
    &-thumb {
      width: 50%;
      @media @screen550 {
        width: 100%;
        align-items: center !important;
      }
    }
    &-thumb {
      .display-flex();
      position: relative;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-right: 40px;
      .app-screen {
        width: 100%;
        max-width: 400px;
        height: auto;
      }
      .play-video-btn {
        width: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translateX(-50%), translateY(-50px);
        margin-left: -70px;
        margin-top: 10px;
        opacity: 0.35;
        transition: transform 0.2s, opacity 0.2s;
        &:hover {
          transform: scale(1.12);
          opacity: 0.75;
        }
      }
      @media @screen550 {
        order: 2;
        padding-right: 0;
        padding-top: 40px;
        .play-video-btn {
          margin-left: -50px;
        }
      }
    }

    &-msg {
      // padding-left: 20px;
      // padding-right: 20px;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #fff;
      h3 {
        font-weight: 700;
        margin: 0;
        font-size: 48px;
        line-height: 1.1666666666667;
      }
      h4 {
        font-weight: 200;
        margin: 0;
        font-size: 45px;
        line-height: 1.24444444444444;
        color: #fff;
      }
      .overview-video-btn {
        background: #fff;
        border-radius: 30px;
        padding: 15px 30px;
        line-height: 15px;
        font-size: 17px;
        color: @upd-light-blue;
        margin-top: 20px;
        transition: transform 0.2s, color 0.2s, background 0.2s;
        img {
          width: 12px;
          vertical-align: middle;
        }
        &:hover {
          background: @upd-blue;
          color: #fff;
        }
      }
      @media @screen768 {
        h3 {
          font-size: 36px;
        }
        h4 {
          font-size: 32px;
        }
      }
      @media @screen550 {
        h3,
        h4 {
          text-align: center;
        }
      }
    }
  }

  &--feature-highlights {
    .blue-btn-2018.dark-bg {
      background: @upd-navy;
    }
    text-align: center;
    background: rgba(51, 77, 92, 0.1);
    background: @upd-navy;
    overflow: hidden;
    &-light-bg {
      background: lighten(@upd-navy, 60%);
      background: #fff;
      h2 {
        color: @upd-navy!important;
      }
      .flickity-styling-2018();
      .flickity-page-dots .dot {
        background: #999 !important;
      }
    }
    .section_padding_top();
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      .section_h2();
      color: #fff;
    }

    .note {
      font-size: 12px;
      line-height: 1.16666667;
      color: #666;
      font-weight: 200;
      display: block;
      width: 100%;
      text-align: center;
    }

    .flickity-styling-2018();
    .flickity-page-dots .dot {
      background: #fff;
    }
    .blue-btn-2018:hover {
      background: @upd-pink;
    }
  }

  &--feature-carousel {
    margin: 30px auto;
    max-width: 888px;
    height: 393px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    @media @screen768 {
      max-width: 600px;
      height: 500px;
    }
  }

  &--carousel {
    position: absolute;
    width: 100%;
    height: 100%;

    &-inner {
      width: 100%;
      height: 393px;
      .display-flex();

      div {
        .display-flex();
        flex-direction: column;
        justify-content: center;
        img {
          width: 100%;
          margin: 0 auto;
        }
        &.left-side {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.04);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          &.mf {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546463919/website/2018-revamp-assets/diagrams/feature-forward-mail-2.png");
          }
          &.moving {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-moving.png");
          }
          &.internet {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545858442/website/2018-revamp-assets/diagrams/feature-tv-internet.png");
          }
          &.account {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-account.png");
          }
          &.utility {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1537558434/website/2018-revamp-assets/diagrams/feature-utilities.png");
          }
          &.insurance {
            background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1546464565/website/2018-revamp-assets/diagrams/feature-home-insurance.png");
          }
          @media @screen768 {
            height: 350px;
          }
          @media screen and (max-width: 450px) {
            height: 250px;
          }
        }
        &.right-side {
          width: 100%;

          .merriweather();
          box-sizing: border-box;
          font-style: italic;
          .testimonial-headshot {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            margin: 0;
            margin-right: 20px;
          }
          .testimonial-words {
            color: #4a4a4a;
            margin-left: 50px;
            margin-right: 50px;
            text-align: left;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1.555555555;
            &::before {
              content: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545437502/website/2018-revamp-assets/icons/quote-marks.svg");
              margin: 0 auto;
              display: block;
              width: 60px;
              margin-bottom: 20px;
            }
          }
          .testimonial-by {
            margin-left: 50px;
            margin-right: 50px;
            color: #666;
            .display-flex();
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
          }
          .testimonial-name {
            font-size: 18px;
          }
          .testimonial-location {
            font-size: 15px;
            line-height: 1.2;
          }
          @media @screen992 {
            .testimonial-headshot {
              width: 60px;
              height: 60px;
            }
            .testimonial-name {
              font-size: 15px;
              width: 100%;
            }
            .testimonial-words {
              font-size: 15px;
            }
            .testimonial-location {
              font-size: 12px;
            }
          }
          @media @screen768 {
            height: 150px;
            .testimonial-headshot {
              width: 60px;
              height: 60px;
              display: none;
            }
            .testimonial-by {
              margin-right: 50px;
              justify-content: center;
            }
            .testimonial-name {
              font-size: 15px;
              text-align: center;
              width: 100%;
              &::before {
                content: "\2014 ";
              }
            }
            .testimonial-words {
              font-size: 15px;
              margin-bottom: 0;
              &::before {
                content: "\201C";
                display: inline;
              }
              &::after {
                content: "\201D";
                display: inline;
              }
            }
            .testimonial-location {
              font-size: 12px;
              text-align: center;
            }
          }
          @media @screen550 {
            .testimonial-words {
              font-size: 12px;
              margin-bottom: 10px;
              margin-left: 20px;
              margin-right: 20px;
            }
            .testimonial-name {
              font-size: 12px;
            }
            .testimonial-location {
              font-size: 10px;
            }
            .testimonial-by {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
          @media screen and (max-width: 450px) {
            height: 250px;
          }
        }
      }

      @media @screen768 {
        flex-direction: column;
        height: 500px;
        div.right {
          height: 250px;
          border: 1px solid red;
        }
      }
    }
  }

  &--get-access {
    .section_padding_top();

    h2 {
      .section_h1();
    }
    h3 {
      .section_h3();
    }
  }
  &--cards-wrapper {
    .display-flex();
    margin: 30px 0;
    .section_padding_sides();
    justify-content: center;
    align-items: center;

    @media @screen550 {
      flex-direction: column;
    }
  }
  &--card {
    perspective: 1500px;
    &.hover .flipper {
      transform: rotateY(180deg);
    }
    .front,
    .back {
      width: 100%;
      height: 100%;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      .display-flex();
      flex-direction: column;
    }
    .card-icon {
      display: block;
      margin: 0 auto;
      @media @screen768 {
        display: none;
      }
      @media @screen550 {
        display: block;
      }
    }
    /* back, initially hidden pane */
    .back {
      z-index: 1;
      transform: rotateY(180deg);
      .display-flex();
      flex-direction: column;
      justify-content: center;
      // justify-content: flex-end;
      background: @upd-navy;
      border-radius: 20px;
      color: #fff;
      h4 {
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        span {
          padding: 0;
          margin: 0;
          display: inline;
          font-size: 15px;
          color: #fff;
        }
      }
      div.ul-wrapper {
        margin: 0 auto;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.07);
        padding: 10px;
        max-width: 300px;
        border-radius: 20px;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
      }
      ul.card-back {
        // transform: rotateY(180deg);
        padding: 10px 10px 10px 20px;
        margin: 0;
        // padding: 20px;
        position: relative;
        list-style-position: outside;

        li {
          // .display-flex();
          display: list-item;
          font-size: 13px;
          line-height: 1.5;
          list-style-type: circle !important;
          margin-bottom: 10px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width: 670px) {
          // padding: 10px;
        }
      }
      .card-close {
        .display-flex();
        justify-content: center;
        align-content: center;
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid white;
      }
      .amazon-giftcard {
        box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.15);
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .flipper {
      transition: transform 0.6s;
      transform-style: preserve-3d;
      position: relative;
      width: 100%;
      height: 100%;
      // padding: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      border-radius: 20px;
    }
    position: relative;
    flex: 1;
    background: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    .section_padding_top();
    max-width: 400px;
    margin: 20px 20px 20px 0;
    height: 530px;
    // padding: 20px;
    .display-flex();
    flex-direction: column;
    // transition: background .2s;
    // box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    padding-top: 0;
    padding-bottom: 0;
    &:last-of-type {
      margin-right: 0;
    }
    h4 {
      font-weight: 900;
      font-size: 25px;
      color: #888;
      margin: 0;
      margin-top: 10px;
      text-align: center;
      transition: font-size 0.2s;
    }
    hr {
      margin: 10px 0;
      width: 100%;
    }
    h6 {
      margin: 0;
      font-size: 16px;
      line-height: 1.2;
      text-transform: none;
      text-align: center;
      margin-bottom: 20px;
    }
    ul {
      // list-style: none;
      margin-top: 0;
      margin-bottom: 0;

      &.included li {
        color: #444;
        &::before {
          content: "";
          display: inline-block;
          margin-top: 5px;
          height: 14px;
          width: 14px;
          background-size: 14px;
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545171746/website/2018-revamp-assets/icons/yes.svg");
          margin-right: 10px;
        }
      }
      &.excluded li {
        color: #888;

        &::before {
          content: "";
          display: inline-block;
          margin-top: 5px;
          height: 14px;
          width: 14px;
          background-size: 14px;
          background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1545171746/website/2018-revamp-assets/icons/nah.svg");
          margin-right: 10px;
        }
      }
    }
    li {
      display: block;
      font-size: 15px;
      margin-bottom: 2px;
    }

    @media @screen768 {
      h4 {
        font-size: 20px;
      }
    }
    @media @screen550 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    a.card-cta {
      display: inline-block;
      bottom: 18px;
      padding: 5px 30px;
      font-size: 18px;
      border-radius: 30px;
      font-weight: 500;
      cursor: pointer;
    }

    &-lite {
      .back {
        padding-bottom: 60px;
      }
      a.card-cta {
        background: @upd-light-blue;
        color: #fff;
        &:hover {
          background: @upd-blue;
        }
      }
    }

    &-full {
      a.card-cta {
        border: 1px solid @upd-light-blue;
        color: @upd-light-blue;
        &:hover {
          color: @upd-blue;
        }
      }
      p {
        .merriweather();
        margin: 0;
        margin-top: 20px;
      }
    }

    &-cta {
      flex: 1;
      position: relative;
      .display-flex();
      justify-content: center;
      align-items: flex-end;
    }
    &-call-prompt {
      .maquette-web() !important;
      font-weight: 900;
      text-align: center;
      font-size: 12px;
      margin-top: 20px !important;
      margin-bottom: 5px !important;
      @media screen and (max-width: 670px) {
        display: none;
      }
      @media @screen550 {
        display: block;
      }
    }
    &-call-btn {
      background: @upd-light-blue;
      margin-top: 0;
      color: #fff;
      text-align: center;
      border-radius: 30px;
      font-size: 20px;
      padding: 5px;
      display: block;
      @media @screen768 {
        font-size: 15px;
      }
      @media screen and (max-width: 670px) {
        margin-top: 20px;
      }
      @media @screen550 {
        margin-top: 0px;
      }
    }
    &-your-area {
      font-size: 13px;
      color: #333;
      line-height: 1.4;
      text-align: center;
      position: absolute;
      padding: 8px 20px;
      right: 0;
      left: 0;
      bottom: 0;
      background: @upd-yellow;
      border-radius: 0 0 20px 20px;
      .area-users,
      .area-location {
        font-weight: 500;
      }
      @media @screen768 {
        font-size: 13px;
      }
    }
  }
}
