.u-move {
  position: relative;
  &--header {
    background: @upd-light-blue;
    img {
      margin-top: 10px;
    }
  }
  &--title-area {
    background: @upd-light-blue;
    height: 400px;
    img {
      width: 332px;
      margin-left: -50px;
      flex-shrink: 0;
      flex-basis: 332px;
    }
    .display-flex();
    align-items: center;
    &-text {
      margin-left: 40px;
      h1,
      h2,
      p {
        margin: 0;
        line-height: 1;
        color: #fff;
        transition: font-size 0.2s;
      }
      h1 {
        font-size: 120px;
        letter-spacing: 10px;
        font-weight: 900;
        margin-bottom: 5px;
      }
      h2 {
        font-size: 32px;
        line-height: 1;
        font-weight: 900;
        margin-bottom: 15px;
      }
      p {
        font-size: 24px;
        line-height: 1.333333333333333333;
        margin-bottom: 20px;
        max-width: 540px;
      }
      @media @screen992 {
        h1 {
          font-size: 85px;
        }
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 18px;
          max-width: 430px;
        }
      }
      @media @screen768 {
        margin-left: 10px;
        h1 {
          font-size: 65px;
        }
        h2 {
          font-size: 18px;
        }
      }
      @media screen and (max-width: 650px) {
        margin-left: 0;
        h1,
        h2,
        p {
          text-align: center;
        }
      }
      @media @screen550 {
        h1 {
          font-size: 40px;
        }
      }
    }
    @media screen and (max-width: 650px) {
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      img {
        width: 150px;
        height: 150px;
        margin-left: 0;
        flex-basis: 150px;
      }
    }
  }
  &--updater-app {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    border: 8px dashed #ddd;
    padding: 30px 50px 0;
    .display-flex();
    justify-content: center;
    // height: 100px;
    background: #fff;
    border-radius: 15px;
    // box-shadow: 0 1px 10px rgba(0,0,0,.2);
    img {
      max-width: 300px;
      height: auto;
      align-self: flex-end;
      margin-right: 30px;
    }
    &-content {
      max-width: 400px;
      .display-flex();
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h5,
      p,
      a {
        margin: 0;
      }
      h5 {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 18px;
      }
      p {
        .merriweather();
        color: #777;
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 18px;
      }
      a {
        display: inline-block;
        border-radius: 25px;
        padding: 15px 30px;
        background: @upd-light-blue;
        color: #fff;
        font-size: 17px;
        line-height: 1;
        font-weight: 500;
        transition: background 0.2s;
        &:hover {
          background: @upd-navy;
        }
      }
      @media @screen550 {
        h5 {
          font-size: 24px;
        }
        p {
          font-size: 15px;
        }
        a {
          font-size: 15px;
        }
      }
    }
    @media @screen768 {
      flex-direction: column;

      img {
        order: 2;
        align-self: center;
        margin: 0;
      }
      &-content {
        align-self: center;
        margin-bottom: 30px;
        text-align: center;
        align-items: center;
      }
    }
  }
  &--grid {
    padding-top: 60px;
    padding-bottom: 60px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    .grid-item {
      width: 100%;
      padding: 50px 30px 30px;
      position: relative;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      h6 {
        font-size: 15px;
        font-weight: 900;
        color: #a0a0a0;
        line-height: 1.4;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 0px;
        text-transform: none;
      }
      ul {
        font-size: 14px;
        .merriweather();
        color: #777;
        margin-bottom: 15px;
      }
      li {
        line-height: 1.7;
        margin-top: 3px;
      }
      p,
      a {
        font-size: 14px;
        margin: 0;
        line-height: 1.7;
        color: #777;
        .merriweather();
      }
      a {
        color: @upd-light-blue;
        .maquette-web();
      }
      .promo-highlight {
        margin: 0 3px;
        padding: 3px 10px;
        border-radius: 10px;
        background: #ffce00;
        .maquette-web();
        font-weight: 900;
        color: @upd-pink;
        text-transform: uppercase;
      }
    }
    .service-area {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      line-height: 1;
      padding: 5px 10px;
      color: #fff;
      font-weight: 900;
      &.local {
        background: @upd-light-green;
      }
      &.national {
        background: @upd-light-blue;
      }
      @media @screen992 {
        font-size: 14px;
      }
    }
    .perk-highlight {
      border: 4px dashed #eee;
      border-bottom: none;
      text-align: center;
      padding: 30px 0;
      position: relative;
      h5 {
        font-size: 52px;
        margin: 0;
        line-height: 1;
        color: #9f9f9f;
        font-weight: 900;
        &.smaller-h5 {
          transform: scale(0.8);
        }
      }
      h6 {
        font-size: 19px;
        color: #9f9f9f;
        font-weight: 900;
        margin: 0 auto;
        margin-top: 5px;
        line-height: 1.2;
        max-width: 320px;
        span {
          font-weight: 200;
        }
      }
      @media @screen992 {
        h5 {
          font-size: 42px;
        }
        h6 {
          font-size: 16px;
        }
      }
      @media @screen768 {
        h5 {
          font-size: 36px;
        }
        h6 {
          font-size: 15px;
        }
      }
    }
    .perk-partner {
      display: block;
      background: #eee;
      text-align: center;
      padding: 30px 0;
      margin-bottom: 20px;
    }
  }
  &--grid-1-up {
    width: 48.5%;
    margin-bottom: 50px;
    @media @screen550 {
      width: 100%;
    }
  }
  &--grid-2-up {
    width: 100%;
    margin-bottom: 50px;
    .display-flex();
    flex-wrap: wrap;
    justify-content: space-between;
    .grid-item {
      width: 48.5%;
      @media @screen550 {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
  &--grid-heading {
    line-height: 1;
    width: 100%;
    padding: 10px 30px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 20px;
    @media @screen768 {
      font-size: 18px;
    }
    &.moving-company {
      background: @upd-navy;
    }
    &.truck-rental {
      background: @upd-blue;
    }
    &.moving-labor {
      background: @upd-blue;
    }
    &.moving-supplies {
      background: @upd-yellow;
    }
    &.self-storage {
      background: @upd-orange;
    }
    &.grocery-delivery {
      background: @upd-light-green;
    }
  }
  &--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: @upd-pink;
  }
}
