<section class="investors-2018">
  <section class="investors-2018--hero">
    <section class="investors-2018--hero-wrapper container-2018">

      <h1>Investor Resources</h1>
      <h4>Updater is laser-focused on growth and innovation</h4>
      <button class="email-alert-signup">Sign up for Investor Alerts<span>Stay up-to-date on the latest investor
          news</span></button>

      <section class="investor-sign-up-mkto">
        <div class="investor-sign-up-mkto-container">
          <button class="sign-up-modal-close">
            <svg width="27px" height="27px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="close-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Get-Started-Copy-3" transform="translate(-1051.000000, -114.000000)" fill-rule="nonzero"
                  stroke="#000000">
                  <g id="Group" transform="translate(0.000000, 60.000000)">
                    <g id="close-x" transform="translate(1052.000000, 55.000000)">
                      <circle id="Oval-Copy-6" cx="12.5" cy="12.5" r="12.5"></circle>
                      <path d="M7.66129032,7.27096774 L17.3387097,16.9483871" id="Line-2-Copy-4" stroke-linecap="round">
                      </path>
                      <path d="M8.0516129,7.66129032 L17.7290323,17.3387097" id="Line-2-Copy-5" stroke-linecap="round"
                        transform="translate(12.890323, 12.500000) rotate(-270.000000) translate(-12.890323, -12.500000) ">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>

            <span>Close</span></button>
          <h5>Sign up for Investor Alerts</h5>
          <p>Stay up-to-date on the latest investor news via email alerts</p>
          <form id="mktoForm_1932"></form>
          <div id="submission_msg" style="display:none;">
            You've successfully subscribed.<br>Thank you!<br>
            <span>Click to close</span>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="revamp-2018--sticky-wrapper">
    <nav class="container-2018 revamp-2018--sticky">
      <ul>
        <li><a href="#pda">Post-Delisting Announcements</a></li>
        <li><a href="#asxd">ASX Documents</a></li>
        <li><a href="#asxa">ASX Announcements</a></li>
      </ul>
    </nav>
  </section>
  <section class="investors-2018--pda-list first-subsection" id="pda">
    <h2>Post-Delisting Announcements</h2>
    <squarespace:block-field id="investors-2018--pda-tag-wrapper">
      <section class="investors-2018--item-wrapper">
        <div class="preloader-2018">
          <div class="lds-dual-ring"></div>
        </div>
      </section>
  </section>
  <section class="investors-2018--asxd-list" id="asxd">
    <h2>ASX Documents</h2>
    <squarespace:block-field id="investors-2018--asxd-tag-wrapper">
      <section class="investors-2018--item-wrapper">
        <div class="preloader-2018">
          <div class="lds-dual-ring"></div>
        </div>
      </section>

  </section>
  <section class="investors-2018--asxa-list" id="asxa">
    <h2>ASX Announcements</h2>
    <squarespace:block-field id="investors-2018--asxa-tag-wrapper">
      <section class="investors-2018--item-wrapper">
        <div class="preloader-2018">
          <div class="lds-dual-ring"></div>
        </div>
      </section>

  </section>

</section>

<script src="/scripts/upd-b-2019-sep.min.js?v20200224"></script>
<script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
<script>
  MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1932);
</script>
<script>
  MktoForms2.whenReady(function (form) {
    //Add an onSuccess handler
    form.onSuccess(function (values, followUpUrl) {
      //get the form's jQuery element and hide it
      form.getFormElem().hide();
      document.getElementById('submission_msg').style.display = 'block';
      //return false to prevent the submission handler from taking the lead to the follow up url.
      return false;
    });
  });
</script>


<script>
  function signUpModalInit() {

    function toggleModal() {
      var modalView = document.querySelector('.investor-sign-up-mkto');
      modalView.classList.contains('is-on') ? modalView.classList.remove('is-on') : modalView.classList.add('is-on');
    };

    var signUpBtn = document.querySelector('.email-alert-signup');
    var modalCloseBtn = document.querySelector('.sign-up-modal-close');
    var successBtn = document.querySelector('#submission_msg');
    signUpBtn.addEventListener('click', toggleModal);
    modalCloseBtn.addEventListener('click', toggleModal);
    successBtn.addEventListener('click', toggleModal);
  }

  function getInvestorTags(arr) {
    var tag = "";
    arr.forEach(function (item) {
      var tmpTag = '<article class="investors-2018--item"><span class="investor-article-date"><time datetime="' +
        item.date + '">' + item.date + '</time></span><span class="investor-article-title"><a href="' + item.link +
        '">' + item.title + '</a></span></article>';
      tag += tmpTag;
    });

    return tag;

  }

  function investorsInit() {
    var pdaSection = document.querySelector('.investors-2018--pda-list');
    var asxdSection = document.querySelector('.investors-2018--asxd-list');
    var asxaSection = document.querySelector('.investors-2018--asxa-list');
    var pdaTags = getInvestorTags(pdaItems);
    var asxdTags = getInvestorTags(asxdItems);
    var asxaTags = getInvestorTags(asxaItems);
    pdaSection.querySelector('.investors-2018--item-wrapper').innerHTML = pdaTags;
    asxdSection.querySelector('.investors-2018--item-wrapper').innerHTML = asxdTags;
    asxaSection.querySelector('.investors-2018--item-wrapper').innerHTML = asxaTags;
  }

  function init() {
    initNav('d2c'); // Initialize mobile menu on smaller viewport
    signUpModalInit();
  }
  window.onload = function () {
    init();
    stickySubnav();
    investorsInit();
  }
</script>