<section class="resources-2018">
    <div class="breadcrumb-2018">
      <nav class="container-2018">
        <ul>
          <li><a href="/resources/">Resources</a></li>
        </ul>
      </nav>
    </div>
    <section class="resources-2018--hero">
      <section class="resources-2018--hero-wrapper container-2018">

        <h1>Resources</h1>
        <h4>Research, advice, tips, tricks, and more</h4>
      </section>
    </section>
    <section class="revamp-2018--sticky-wrapper">
      <nav class="container-2018 revamp-2018--sticky">
        <ul>
          <li><a href="#ii">Industry Insights</a></li>
          <li><a href="#mt">Moving Tips</a></li>
          <li><a href="#nt">Moving Trends</a></li>
          <li><a href="#ew">eBooks & Webinars</a></li>
        </ul>
      </nav>
    </section>
    <section class="resources-2018--industry-insights first-subsection" id="ii">
      <h2>Industry Insights</h2>
      <h4>The ideas that shape the future of our industry</h4>

      <section class="blog-list--article-list container-2018">
        <squarespace:query collection="blog" limit="6">
          {.repeated section items}
          <article id="post-{id}" class="{@|item-classes} blog-list--item">
            {.main-image?}
            <a href="{fullUrl}">
              <img src=" https://res.cloudinary.com/updater-marketing/image/fetch/w_355,h_220,c_fill,f_auto/{assetUrl}" />
            </a>
            {.end}
            <span class="blog-list--item-date">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h3 class="blog-list-title">
              {.passthrough?}
              <a href="{sourceUrl}">{title}</a>
              {.or}
              <a href=" {fullUrl}">{title}</a>
              {.end}
            </h3>
            <span class="blog-list--read-more">
              <a href="{fullUrl}">Read more ></a>
            </span>
            {postItemInjectCode}
          </article>

          {.end}
        </squarespace:query>
        <div class="resources-2018--cta">
          <a href="/blog/">
            <span>Browse more articles</span>
          </a>
        </div>
      </section>
    </section>
    <section class="resources-2018--moving-tips" id="mt">
      <h2>Moving Tips</h2>
      <h4>Practical moving tips, tricks, and advice</h4>

      <section class="blog-list--article-list container-2018">
        <squarespace:query collection="moving-tips" limit="6">
          {.repeated section items}
          <article id="post-{id}" class="{@|item-classes} blog-list--item">
            {.main-image?}
            <a href="{fullUrl}">
              <img src=" https://res.cloudinary.com/updater-marketing/image/fetch/w_355,h_220,c_fill,f_auto/{assetUrl}" />
            </a>
            {.end}
            <span class="blog-list--item-date">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h3 class="blog-list-title">
              {.passthrough?}
              <a href="{sourceUrl}">{title}</a>
                {.or}
              <a href="{fullUrl}">{title}</a>
              {.end}
            </h3>
            <span class="blog-list--read-more">
              <a href="{fullUrl}">Read more ></a>
            </span>
            {postItemInjectCode}
          </article>

          {.end}
        </squarespace:query>
        <div class="resources-2018--cta">
          <a href="/moving-tips/">
            <span>Browse more moving tips</span>
          </a>
        </div>
      </section>
    </section>
    <section class="resources-2018--trends" id="nt">
      <h2>Moving Trends</h2>
      <h4>The latest national relocation trends</h4>

      <section class="blog-list--article-list container-2018">
        <squarespace:query collection="trends" limit="6">
          {.repeated section items}
          <article id="post-{id}" class="{@|item-classes} blog-list--item">
            {.main-image?}
            <a href="{fullUrl}">
              <img src=" https://res.cloudinary.com/updater-marketing/image/fetch/w_355,h_220,c_fill,f_auto/{assetUrl}" />
            </a>
            {.end}
            <span class="blog-list--item-date">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h3 class="blog-list-title">
              {.passthrough?}
              <a href="{sourceUrl}">{title}</a>
                {.or}
              <a href=" {fullUrl}">{title}</a>
              {.end}
            </h3>
            <span class="blog-list--read-more">
              <a href="{fullUrl}">Read more ></a>
            </span>
            {postItemInjectCode}
          </article>

          {.end}
        </squarespace:query>
        <div class="resources-2018--cta">
          <a href="/trends/">
            <span>Browse more trends</span>
          </a>
        </div>
      </section>
    </section>
    <section class="resources-2018--ebooks-webinars" id="ew">
      <h2>eBooks and Webinars</h2>
      <h4>Knowledge and insights from industry experts</h4>

      <section class="blog-list--article-list container-2018">
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
            <a href="http://get.updater.com/out-of-state-moves-everything-you-need-to-account-for.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545509015/website/2018-revamp-assets/photos/shutterstock_757396009.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/out-of-state-moves-everything-you-need-to-account-for.html">Everything You Need to Know About Out of State Moves</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/out-of-state-moves-everything-you-need-to-account-for.html">View the Webinar ></a>
            </span>
        </article>
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
            <a href="http://get.updater.com/the-low-down-on-moving-niche-items-webinar.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545509015/website/2018-revamp-assets/photos/shutterstock_344651279.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/the-low-down-on-moving-niche-items-webinar.html">Tips and Tricks for Moving Niche Items</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/the-low-down-on-moving-niche-items-webinar.html">View the Webinar ></a>
            </span>
        </article>
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
            <a href="http://get.updater.com/everything-agents-should-know-about-moving-scams-webinar.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545461569/website/2018-revamp-assets/photos/shutterstock_1183025509.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/everything-agents-should-know-about-moving-scams-webinar.html">Everything You Should Know About Moving Scams</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/everything-agents-should-know-about-moving-scams-webinar.html">View the Webinar ></a>
            </span>
        </article>
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
            <a href="http://get.updater.com/the-15-best-moving-hacks-of-all-time-webinar.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545509015/website/2018-revamp-assets/photos/shutterstock_40218529.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/the-15-best-moving-hacks-of-all-time-webinar.html">Learn the Top 15 Moving Hacks of All Time</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/the-15-best-moving-hacks-of-all-time-webinar.html">View the Webinar ></a>
            </span>
        </article>
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label">eBook</span>
            <a href="http://get.updater.com/how-to-effectively-manage-your-propertys-online-reputation.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545461573/website/2018-revamp-assets/photos/shutterstock_1094965409.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/how-to-effectively-manage-your-propertys-online-reputation.html">How to Effectively Manage Your Property's Online Reputation</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/how-to-effectively-manage-your-propertys-online-reputation.html">Get the eBook ></a>
            </span>
        </article>
        <article class="blog-list--item">
          <span class="resources-2018--thumbnail-label">eBook</span>
            <a href="http://get.updater.com/step-by-step-guide-to-amazing-resident-move-in.html">
              <img src=" https://res.cloudinary.com/updater-marketing/image/upload/w_355,h_220,c_fill,f_auto/v1545461574/website/2018-revamp-assets/photos/shutterstock_1125902990.jpg" />
            </a>
            <h3 class="blog-list-title">
              <a href="http://get.updater.com/step-by-step-guide-to-amazing-resident-move-in.html">Step-by-Step Guide to Amazing Move-Ins</a>
            </h3>
            <span class="blog-list--read-more">
              <a href="http://get.updater.com/step-by-step-guide-to-amazing-resident-move-in.html">Get the eBook ></a>
            </span>
        </article>
      </section>
    </section>

  </section>
  
  <script src="/scripts/upd-b-2018.js"></script>
  <script>
    
    function init() {
      currentNav('Resources'); // Set current item in top nav
      initNav(); // Initialize mobile menu on smaller viewport
      // blogListHandler(); // Blog list-specific DOM adjustments
    }
    window.onload = function() {
      init();
      stickySubnav();
    }
  </script>
  