<!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script> -->

<main class="home-2018">
  <section class="home-2018--hero">
    <div class="home-2018--hero-split-container">
      <div class="split-left">

      </div>
      <div class="split-right">
      </div>
    </div>
    <div class="container-2018 ">
      <h1>
        You&#146;re moving.<br>Don&#146;t freak out.
      </h1>
      <!-- <p>A moving app designed for<br>everything you didn't think of.</p> -->
      <p>A moving app to help you<br>tackle everything in minutes.</p>
      <a class="home-intro-cta" href="#">Get started</a>

    </div>

    </div>
  </section>
  <!-- 
  <section class="home-2018--summary-block"> 
    <div class="container-2018 home-2018--summary-block-content">
      <div class="message-wrapper">
        <h2>Updater helps millions of Americans</h2>
        <h2 class="typed-elem">
          <span id="typed"></span>
        </h2>
      </div>
    </div>
  </section>
  <section class="home-2018--overview-video-wrapper">
    <div class="home-2018--overview-video">
      <a href="#">
        <img class="video-btn" src="https://res.cloudinary.com/updater-marketing/image/upload/v1535407909/website/2018-revamp-assets/icons/video-blue.svg">
      </a>
    </div>
  </section>
   -->
  <section class="home-2018--feature-highlights">
    <div class="container-2018">
      <h2>Updater helps millions of Americans…</h2>
      <!-- <span class="note">*Simplified visuals for demonstration purposes only.</span> -->
      <div class="home-2018--feature-carousel">
        <div class="home-2018--carousel" data-flickity='{ "wrapAround": true }'>
          <div class="home-2018--carousel-inner">
            <div class="left-side moving"></div>
            <div class="right-side">
              <span class="testimonial-words">First move without back pain. Updater made it so simple to choose a
                trustworthy moving company and lock in a great rate that I couldn’t resist.</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1545877801/website/2018-revamp-assets/photos/people/josh.jpg">
                <div>
                  <span class="testimonial-name">Josh D.</span>
                  <span class="testimonial-location">Brooklyn to Cambridge</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-2018--carousel-inner">
            <div class="left-side internet"></div>
            <div class="right-side">
              <span class="testimonial-words">I work from home so not having Wi-Fi for a week was not an option. I
                booked my service through Updater and had it installed by move-in day at a BIG discount. You guys
                rock!</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1545877801/website/2018-revamp-assets/photos/people/bryan.jpg">
                <div>
                  <span class="testimonial-name">Bryan J.</span>
                  <span class="testimonial-location">Boston to Cambridge</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-2018--carousel-inner">
            <div class="left-side account"></div>
            <div class="right-side">
              <span class="testimonial-words">As a busy mom I don't have time to spend hours on the phone updating all
                my accounts. Updater made the whole process easy and fast!</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1545877801/website/2018-revamp-assets/photos/people/allison.jpg">
                <div>
                  <span class="testimonial-name">Allison J.</span>
                  <span class="testimonial-location">Orlando to Orlando</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-2018--carousel-inner">
            <div class="left-side mf"></div>
            <div class="right-side">
              <span class="testimonial-words">Just forwarded my mail in 30 seconds flat, for free. Plus, Updater's
                support team was incredibly helpful and efficient in answering all of my questions.</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1545877801/website/2018-revamp-assets/photos/people/melissa.jpg">
                <div>
                  <span class="testimonial-name">Melissa T.</span>
                  <span class="testimonial-location">Brooklyn to Queens</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-2018--carousel-inner">
            <div class="left-side utility"></div>
            <div class="right-side">
              <span class="testimonial-words">It streamlined all the annoying logistics of moving, like hooking up my
                utilities online.</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1545877801/website/2018-revamp-assets/photos/people/jessica.jpg">
                <div>
                  <span class="testimonial-name">Jessica S.</span>
                  <span class="testimonial-location">Pasadena to Los Angeles</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-2018--carousel-inner">
            <div class="left-side insurance"></div>
            <div class="right-side">
              <span class="testimonial-words">I've moved dozens of times and purchasing home insurance has never been
                this painless. Spoke to a great agent who got me the coverage I needed within my budget without any
                hassle.</span>
              <div class="testimonial-by">
                <img class="testimonial-headshot"
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1546464777/website/2018-revamp-assets/photos/people/dan.jpg">
                <div>
                  <span class="testimonial-name">Dan P.</span>
                  <span class="testimonial-location">Charlotte to Charlotte</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/moving-app/" class="blue-btn-2018">Learn more</a>
    </div>
  </section>
  <section class="home-2018--get-access" id="get-access">
    <div class="container-2018">

      <h2>Start Using Updater Today, for Free</h2>
      <h3>Two ways to access</h3>
      <div class="home-2018--cards-wrapper">
        <div class="home-2018--card upd-lite">
          <div class="flipper home-2018--card-lite">
            <div class="front">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_100,w_100/v1546278642/website/2018-revamp-assets/icons/for-everyone.svg"
                alt="Open" style="width: 70px;" class="card-icon">
              <h4>For Everyone</h4>
              <hr />
              <h6>Free to use and open to anyone, anytime.</h6>
              <ul class="included">
                <li>Connect TV and internet</li>
                <li>Get home security</li>
              </ul>
              <ul class="excluded">
                <li>Secure insurance </li>
                <li>Reserve a moving company</li>
                <li>Connect utilities</li>
                <li>Forward mail </li>
                <li>Update accounts</li>
                <li>Claim exclusive deals</li>
              </ul>
              <div class="home-2018--card-cta">
                <a href="#" class="card-cta upd-lite" id="uninvited-flipstart-homepage">Get started</a>
              </div>
            </div>
            <div class="back">
              <span class="card-close upd-lite">X</span>

              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_100,w_100/v1546278642/website/2018-revamp-assets/icons/for-everyone.svg"
                alt="Open" style="width: 50px;" class="card-icon">
              <h4>Get your home set up now, starting with your TV and internet.</h4>
              <div class="ul-wrapper">
                <ul class="card-back">
                  <li>Speak to our unbiased specialists, not the cable company</li>
                  <li>No wait time, ever</li>
                  <li>Compare all providers and packages in your area</li>
                  <li>Receive the best price, guaranteed</li>
                  <!-- <li>All packages include a $25 Amazon gift card <img src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_30/v1546276996/website/2018-revamp-assets/icons/amazon-gift-card.png" class="amazon-giftcard" alt=""> from Updater</li> -->

                </ul>
              </div>
              <p class="home-2018--card-call-prompt">To speak to an Updater TV & internet specialist</p>
              <a class="home-2018--card-call-btn" href="tel:8332001226" id="unintived-click-to-call-homepage">Call (833)
                200-1226</a>
              <div class="home-2018--card-your-area">
                <span class="area-users">23</span> people in <span class="area-location">your area</span><br>reserved
                their packages with Updater today.
              </div>
            </div>
          </div>
        </div>
        <div class="home-2018--card upd-full">
          <div class="flipper home-2018--card-full">
            <div class="front">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1545675711/website/2018-revamp-assets/icons/invite-only.svg"
                style="width: 60px; margin-bottom: -5px;" alt="Invite Only" class="card-icon">
              <h4>Invite Only</h4>
              <hr />
              <h6>Invite-only access to all premium features.</h6>
              <ul class="included">
                <li>Connect TV and internet</li>
                <li>Get home security</li>
                <li>Secure insurance </li>
                <li>Reserve a moving company</li>
                <li>Connect utilities</li>
                <li>Forward mail </li>
                <li>Update accounts</li>
                <li>Claim exclusive deals</li>
                <li>And more custom features</li>
              </ul>
              <div class="home-2018--card-cta">
                <a href="#" class="card-cta upd-full" id="invite-only-flipstart-homepage">Learn more</a>
              </div>
            </div>
            <div class="back">
              <span class="card-close upd-full">X</span>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1545675711/website/2018-revamp-assets/icons/invite-only.svg"
                style="width: 40px;" alt="Invite Only" class="card-icon">
              <h4>Move Smart: Tackle everything you need in one place.</h4>
              <p>To access the platform, one of our real estate partners must send you a personalized invite.</p>
              <p>Get invited by your:</p>
              <div class="ul-wrapper">
                <ul class="card-back">
                  <li>Real estate agent or brokerage</li>
                  <li>Apartment community</li>
                  <li>Mortgage or title rep</li>
                  <li>Moving company</li>
                  <li>University</li>
                </ul>
              </div>
              <a class="home-2018--card-call-btn" id="request-invite-homepage" style="margin-top: 20px;"
                href="mailto:?subject=Do%20you%20use%20Updater%3F&body=Hi%0ADo%20you%20use%20Updater%3F?%20I%20hear%20it%20is%20an%20awesome%20app%20to%20help%20me%20move%20but%20invite%20only.%20Can%20you%20help%3F%20Thanks">Ask
                for an invite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-preview-items">
    <div class="container-2018" style="text-align: center;">
      <h2>Moving Tips, Tricks, and Advice</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <squarespace:query collection="moving-tips" limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <a href="{fullUrl}">
              <h4 class="title">
                {title}
              </h4>
            </a>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/moving-tips">More moving tips</a>
    </div>
  </section>
  <section class="in-the-news-2018">
    <div class="container-2018" style="text-align: center;">
      <h2>In the News</h2>
      <div class="press-icons">
        <div>
          <a href="https://www.wsj.com/articles/moving-into-a-new-apartment-theres-an-app-for-that-1521028920"
            target="_blank" rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/wsj.png"></a>
          <a href="https://www.washingtonpost.com/news/where-we-live/wp/2018/01/11/when-it-comes-to-popular-destinations-for-moving-these-15-cities-are-tops/"
            target="_blank" rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/wp.png"></a>
          <a href="https://cheddar.com/videos/the-software-company-thats-probably-helping-you-move-and-you-dont-even-know-it"
            target="_blank" rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/cheddar.png"></a>
        </div>
        <div>
          <a href="https://www.entrepreneur.com/article/297934" target="_blank" rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/entrepreneuer.png"></a>
          <a href="https://www.forbes.com/sites/theyec/2017/03/29/what-it-means-to-be-a-goal-manager/#7846a1485e54"
            target="_blank" rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/forbes.png"></a>
          <a href="https://www.inman.com/2018/03/07/how-to-stay-top-of-mind-after-the-deal-closes/" target="_blank"
            rel="noreferrer noopener"><img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1537290827/website/2018-revamp-assets/icons/inman.png"></a>
        </div>
      </div>
      <a class="blue-btn-outline-2018" href="/press/">View press archive</a>

    </div>
  </section>
</main>

<script src="/scripts/flickity.pkgd.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  // Typing in effect in hero area
  function typedMessage() {
    var typed = new Typed('#typed', {
      typeSpeed: 30,
      backSpeed: 20,
      backDelay: 2000,
      loop: true,
      loopCount: Infinity,
      strings: [
        "connect ^80TV ^200and internet",
        "secure ^200insurance",
        "reserve a ^80moving ^200company",
        "forward ^100mail",
        "update ^300accounts",
        "hook up ^100utilities",
        "book a ^300truck ^100and labor",
        "save ^200money"
      ]
    });
  }

  function jumpToCardInit() {
    function jumpToCards(e) {
      e.preventDefault();
      // console.log(e, e.target, e.target.hash);
      $('html, body').
      animate({
        'scrollTop': $('#get-access').offset().top - 70
      }, 600); // scroll to position in 0.6 sec
    };
    document.querySelector('.home-intro-cta').addEventListener('click', jumpToCards);
  }

  function init() {
    initNav();
    jumpToCardInit();
    // typedMessage();
    findUsers();
    cardFlip();
  }
  window.onload = function () {
    init();
  }
</script>