<section class="business-re">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li>How it works</li>
        <li><a href="/businesses/">For Businesses</a></li>
        <li><a href="/solutions/moving/">Moving Companies</a></li>
      </ul>
    </nav>
  </div>
  <section class="business-re--hero business-re--hero-moving">
    <div class="container-2018">
      <h1 class="moving-2018">Introducing MoveHQ: A Single Solution<br>to Run Your Entire Moving Company.</h1>
      <a href="https://www.youtube.com/embed/Rj86fe7Kw6A?rel=0&amp;autoplay=1" data-featherlight="iframe"
        data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
        data-featherlight-iframe-allowfullscreen="true"
        data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">Video overview</a>
    </div>
  </section>
  <section class="business-re--how moving-intro container-2018">
    <h2 class="moving-intro">Combined Strengths</h2>
    <div class="m-intro-block">

      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/v1545339057/website/2018-revamp-assets/logos/aci-igc-mhq.svg">
      <div>
        <p class="moving-intro">
          A division of Updater, MoveHQ was formed in 2017 by combining the operational expertise of IGC Software and
          Asset Controls Inc. with the customer experience and marketing capabilities of Updater.
        </p>
        <p class="moving-intro">
          As the moving industry’s first digital, end-to-end solution to run your entire business, MoveHQ provides
          moving companies with one integrated system to handle all of your needs.
        </p>
      </div>
    </div>
  </section>

  <section class="business-re--features">
    <h2 class="moving-intro">Features</h2>
    <section class="business-re--features-list container-2018 moving-2018">
      <section class="business-re--features-content b2b active">
        <div class="business-re--features-content-item">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1529343673/MoveHQ/Icons/product-icons/sales-circle.svg">
          <h6 style="color:#75C79B;">Sales</h6>
          Convert more leads
          <span class="feature-details">
            Manage a prospect's journey from start to finish using the most comprehensive CRM in the moving industry.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1529343673/MoveHQ/Icons/product-icons/engagement-circle.svg">
          <h6 style="color:#F97179;">Engagement</h6>
          Attract more customers
          <span class="feature-details">
            HQ Engagement makes reserving a moving company easy, painless, and affordable for potential customers.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1529343673/MoveHQ/Icons/product-icons/driver-circle.svg">
          <h6 style="color:#5590AD;">Driver</h6>
          Stay connected on the road
          <span class="feature-details">
            HQ Driver is the industry-leading mobile driver app that delivers a completely digital, cloud-based driver
            experience.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1529343673/MoveHQ/Icons/product-icons/warehouse-circle.svg">
          <h6 style="color:#F79E5C;">Warehouse</h6>
          Manage inventory from anywhere
          <span class="feature-details">
            Manage packing material and moving equipment both in the warehouse and on-site for projects seamlessly with
            HQ Warehouse management software.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1529343673/MoveHQ/Icons/product-icons/management-circle.svg">
          <h6 style="color:#8273AB;">Management</h6>
          Organize information effortlessly
          <span class="feature-details">
            Make smarter, faster decisions for your moving company with the most complete move management solution in
            the industry.
          </span>
        </div>
      </section>
      <div class="cta-moving-wrapper">
        <a href="https://www.movehq.com/?utm_source=updater&utm_medium=referral&utm_campaign=moving_companies_lp"
          target="_blank" rel="noreferrer noopener" class="cta-moving">Get MoveHQ</a>
      </div>
    </section>
  </section>
</section>
<script src="/scripts/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/flickity.pkgd.min.js"></script>
<script src="/scripts/upd-b-2019-jul.min.js?v=0701"></script>
<script>
  function init() {
    currentNav('How it works', 'd2c'); // Set current item in top nav
    initNav('d2c'); // Initialize mobile menu on smaller viewport
  }
  window.onload = function () {
    init();
  }
</script>