<section class="clients-2018">
  <section class="clients-2018--hero">
    <div class="container-2018">
      <squarespace:block-field id="clients-2018--hero-block-field" />
    </div>
  </section>
  <section class="clients-2018--client-grid container-2018">
    <section class="mixitup-filters">
      <ul>
        <li><span class="filter mixitup-control-active" data-filter="all">All</span></li>
        <li><span class="filter" data-filter=".pm">Property&nbsp;Management</span></li>
        <li><span class="filter" data-filter=".brokerage">Brokerage</span></li>
        <li><span class="filter" data-filter=".mortgage">Mortgage/Title</span></li>
        <li><span class="filter" data-filter=".moving">Moving</span></li>
      </ul>
    </section>
    {squarespace.main-content}
    <section class="clients-2018--items container-2018">
      <div class="preloader-2018">
        <div class="lds-dual-ring"></div>
      </div>
    </section>

  </section>
      
</section>
  
  <script type="text/javascript" src="/scripts/mixitup.min.js"></script>
  <script src="/scripts/upd-b-2018.js"></script>
  <script>
    function articleTag(client) {
      var tag = 
      '<article class="clients-2018--item ' + client.type + '">' +
        '<a href="' + client.link + '">' +
      '<img src="' + client.image + '" alt="' + client.name + ' Case Thumbnail">' +
      '<p class="clients-2018--quote">' +
      client.quote + '</p>' +
      '<p class="clients-2018--quote-by">' +
      client.name + '</p><p class="clients-2018--quote-read">Read more ></p></a></article>';
      return tag;
    }
    function addTags() {
      var str = "";
      clientItems.forEach(function(item) {
        str += articleTag(item)
      });
      document.querySelector('.clients-2018--items').innerHTML = str;
    }
    function init() {
      initNav(); // Initialize mobile menu on smaller viewport
      addTags();
      
        var mixer = mixitup('.clients-2018--items', {
          selectors: {
            target: '.clients-2018--item',
          },
          animation: {
            effects: 'fade scale translateZ(-100px)',
            duration: 600,
            clampHeight: false
          }
        });
    }
    window.onload = function() {
      init();
    }
  
  
  
  </script>