<section class="business-re">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li>How it works</li>
        <li><a href="/businesses/">For Businesses</a></li>
        <li><a href="/solutions/real-estate/">Brokerage, Mortgage, and Title</a></li>
      </ul>
    </nav>
  </div>
  <section class="business-re--hero business-re--hero-bmt">
    <div class="container-2018">
      <h1 style="max-width:600px;">Offer a Stress-Free Move with the Ultimate Moving Tool<br>
      </h1>
      <a class="bmt-demo-expand-btn" href="#">5-min demo</a>
      <a class="bmt-demo-brokerage" href="http://get.updater.com/video-demo-brokerage.html">For Brokerage</a>
      <a class="bmt-demo-mortgage" href="http://get.updater.com/video-demo-mortgage.html">For Mortgage/Title</a>
    </div>
  </section>
  <section class="business-re--intro container-2018">
    <h2>Updater for Real Estate Brokerages, Mortgage Lenders, and Title&nbsp;Insurance&nbsp;Companies</h2>
    <p>Help your clients complete all of their moving-related tasks while providing a unique way to engage with clients
      and differentiate your business.
    </p>
  </section>
  <section class="revamp-2018--sticky-wrapper">
    <nav class="container-2018 revamp-2018--sticky">
      <ul>
        <li><a href="#re-features">Features</a></li>
        <li><a href="#re-how">How It Works</a></li>
        <li><a href="#re-clients">Clients</a></li>
        <li><a href="#re-request">Request a Demo</a></li>
      </ul>
    </nav>
  </section>
  <section class="business-re--features first-subsection" id="re-features">
    {@|apply app-features-svg-icon-defs.block}
    <h2>Features & Benefits</h2>
    <section class="business-re--features-list container-2018">
      <ul>
        <li id="b2c" class="active">
          For Clients
        </li>
        <li id="b2b">
          For Corporate
        </li>
      </ul>
      <section class="business-re--features-content b2c active">
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-tv-internet-icon"></use>
          </svg>
          Connect TV<br>and internet
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-moving-company-icon"></use>
          </svg>
          Find and reserve<br>a moving company
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-home-security-icon"></use>
          </svg>
          Set up home<br>security
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-account-update-icon"></use>
          </svg>
          Update<br>accounts
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-mail-forwarding-icon"></use>
          </svg>
          Forward<br>mail
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-utility-icon"></use>
          </svg>
          Hook up<br>utilities
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-moving-announcement-icon"></use>
          </svg>
          Send moving<br>announcements
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-driver-license-icon"></use>
          </svg>
          Update<br>driver's license
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-exclusive-deals-icon"></use>
          </svg>
          Claim exclusive<br>discounts
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-local-guide-icon"></use>
          </svg>
          Explore<br>local guide
        </div>
      </section>
      <section class="business-re--features-content b2b">
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-solutions-icon"></use>
          </svg>
          Eliminate<br>moving headaches
          <span class="feature-details">
            Provide clients with the tools and information needed to make their move easy.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-customization-icon"></use>
          </svg>
          Offer a customized<br>moving concierge for clients
          <span class="feature-details">
            Customize your Local Guide, branding settings, Updater invitations, and more so clients enjoy an experience
            that's tailored to their exact move.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-custom-branding-icon"></use>
          </svg>
          Enjoy company (and personal)<br>branding throughout
          <span class="feature-details">
            Not only do we personalize every client's workflow, but we also allow agents and loan officers to add
            headshots and personal branding alongside their company's brand.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-metrics-icon"></use>
          </svg>
          View<br>engagement metrics
          <span class="feature-details">
            See live data and engagement metrics to understand how clients interact with Updater.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-success-team-icon"></use>
          </svg>
          Dedicated<br>Success Team
          <span class="feature-details">
            Our Client Success Team understands the needs of your business and provides strategic guidance in order to
            drive the maximum value of each and every partnership.
          </span>
        </div>
        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-support-team-icon"></use>
          </svg>
          Expert<br>Moving Support Team
          <span class="feature-details">
            Our experienced Moving Support Team is available to help your clients with any questions they have related
            to their move. We field the questions so you don't have to!

          </span>
        </div>

        <div class="business-re--features-content-item">
          <svg>
            <use xlink:href="#feature-marketing-icon"></use>
          </svg>
          Marketing<br>resources
          <span class="feature-details">
            Access our Resource Center for helpful training and marketing materials to share with agents, loan officers,
            and clients.
          </span>
        </div>
      </section>
    </section>


  </section>
  <section class="business-re--how" id="re-how">
    <h2>How It Works</h2>
    <h6>Easy implementations &mdash; <a href="https://www.youtube.com/embed/M18BjJKgotw?rel=0&amp;autoplay=1"
        data-featherlight="iframe" data-featherlight-iframe-frameborder="0"
        data-featherlight-iframe-allow="autoplay; encrypted-media" data-featherlight-iframe-allowfullscreen="true"
        data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1546220914/website/2018-revamp-assets/icons/video.svg"
          style="width: 30px;"> hear from those who've done it</a></h6>
    <section class="business-re--how-steps container-2018">
      <section class="business-re--how-card">
        <h3>1. Integrate</h3>
        <p>Sync your core software to Updater.</p>
        <div class="business-re--how-card-images logos">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_limit,h_86,w_215/v1459283368/partners/logos/logo_backagent.png"
            alt="backagent" style="width: 120px; height: auto;">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_limit,h_86,w_215/v1459283368/partners/logos/logo_ziplogix.png"
            alt="ZipLogix" style="width: 100px;">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_limit,h_86,w_215/v1459283368/partners/logos/logo_skyslope.png"
            style="width: 120px; height: auto;" alt="SkySlope">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_limit,h_86,w_215/v1493912380/partners/logo_account_tech.png"
            style="width: 120px;" alt="AccountTech">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_lpad,h_86,w_215/v1494337285/partners/logo_ProfitPower.png"
            style="width: 120px;" alt="Profit Power">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_lpad,h_86,w_215/v1534342759/partners/logos/DocuSign_logo.png"
            style="width: 90px;" alt="DocuSign">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_lpad,h_86,w_215/v1546285918/website/2018-revamp-assets/logos/partner-logos/brokermint-logo-bm2.png"
            style="width: 110px;" alt="BrokerMint">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_lpad,h_86,w_215/v1546285963/website/2018-revamp-assets/logos/partner-logos/paperless-pipeline.png"
            style="width: 130px;" alt="Paperless Pipeline">
        </div>
      </section>
      <section class="business-re--how-card">
        <h3>2. Customize</h3>
        <p>Customize your Local Guide, individual agent or loan officer branding settings, Updater invitations, and much
          more.</p>
        <div class="business-re--how-card-images customize">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545080336/website/2018-revamp-assets/icons/customize.svg"
            alt="Customize">
        </div>
      </section>
      <section class="business-re--how-card">
        <h3>3. Invite</h3>
        <p>Your clients receive an Updater invitation that's branded for you and sent to them at the perfect time.
        </p>
        <div class="business-re--how-card-images invite">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545080806/website/2018-revamp-assets/photos/invite-iphone.png"
            alt="invite">
        </div>
      </section>
    </section>
  </section>
  <section class="business-re--clients" id="re-clients">
    <section class="home-2018--feature-highlights" style="background: none; padding-top: 0;">
      <div class="container-2018">
        <h2>Client Stories</h2>
        <div class="home-2018--feature-carousel">
          <div class="home-2018--carousel" data-flickity='{ "wrapAround": true }'>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1546274421/website/2018-revamp-assets/logos/partner-logos/chLogox1.jpg"
                  alt="Citi Habitats">
                <div class="read-client-story">
                  <a href="/blog/updater-announces-partnership-with-citi-habitats" target="_blank"
                    rel="noreferrer noopener">Read the full
                    story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words">It took about three seconds after seeing Updater to realize this app
                  could handle all the tasks involved in a person's move with unprecedented effciency.</span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546145629/website/2018-revamp-assets/photos/clients-headshot/gary-malin.jpg">
                  <div>
                    <span class="testimonial-name">Gary Malin</span>
                    <span class="testimonial-location">President, Citi Habitats</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1546274804/website/2018-revamp-assets/logos/partner-logos/RealtyExecutives_Logo-1750X822-300dpi.png"
                  alt="Realty Executives">
                <div class="read-client-story">
                  <a href="/blog/video-rei-alleviates-stress-for-agents-and-clients-with-updater" target="_blank"
                    rel="noreferrer noopener">Read
                    the full story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words">The partnership we have with Updater enables us to deliver an
                  innovative, white-glove service to all of our clients and a no-brainer client engagement tool to our
                  brokers and agents.</span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546145629/website/2018-revamp-assets/photos/clients-headshot/alysia-heun.jpg">
                  <div>
                    <span class="testimonial-name">Alysia Heun</span>
                    <span class="testimonial-location">VP of Franchise Services, Realty Executives International</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1546457070/website/2018-revamp-assets/logos/partner-logos/coldwell-banker-residential.jpg"
                  alt="Coldwell Banker Residential Brokerage">
                <div class="read-client-story">
                  <a href="/case-studies/coldwell-banker-residential-brokerage" target="_blank"
                    rel="noreferrer noopener">Read the full story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words" style="line-height: 1.4;">Moving can be an incredibly exciting, yet
                  stressful process. Our partnership with Updater aims to simplify the experience for our clients,
                  reinforcing the company’s commitment to delivering excellent service by going above and beyond.
                </span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546457377/website/2018-revamp-assets/photos/clients-headshot/hal.jpg">
                  <div>
                    <span class="testimonial-name">Hal Maxwell</span>
                    <span class="testimonial-location">President, NJ & Rockland County, Coldwell Banker Residential
                      Brokerage</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/v1546457615/website/2018-revamp-assets/logos/partner-logos/McEnearney-Associates_3ee0a831-5056-a36a-0673102b8c11dd06.jpg"
                  alt="McEnearney Associates">
                <div class="read-client-story">
                  <a href="/blog/video-mcenearney-associates-streamlines-client-experience-with-updater" target="_blank"
                    rel="noreferrer noopener">Read the full story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words">The rollout that we've had with Updater has been the most successful
                  vendor rollout we've ever had. Clients love it, the agents love it, and Updater's made it absolutely
                  seamless for us as well.</span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546457560/website/2018-revamp-assets/photos/clients-headshot/david-howell.jpg">
                  <div>
                    <span class="testimonial-name">David Howell</span>
                    <span class="testimonial-location">EVP & CIO, McEnearney Associates</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1546458391/website/2018-revamp-assets/logos/partner-logos/Stacked_primary_small-1.webp"
                  alt="RE/MAX Results">
                <div class="read-client-story">
                  <a href="/blog/remax-results-uses-updater-to-become-moving-experts" target="_blank"
                    rel="noreferrer noopener">Read the full
                    story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words">Updater is one of the core resources in many of our Sales Executives'
                  businesses. We continually hear rave reviews from agents and their clients.</span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546458281/website/2018-revamp-assets/logos/partner-logos/brenda.jpg">
                  <div>
                    <span class="testimonial-name">Brenda Tushaus</span>
                    <span class="testimonial-location">CEO, RE/MAX Results</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-2018--carousel-inner">
              <div class="left-side">
                <img
                  src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_700/v1546274732/website/2018-revamp-assets/logos/partner-logos/west.png"
                  alt="West">
                <div class="read-client-story">
                  <a href="/blog/transforming-title-insurance-with-wfg-new-technology-happy-clients" target="_blank"
                    rel="noreferrer noopener">Read the full story</a>
                </div>
              </div>
              <div class="right-side">
                <span class="testimonial-words">Integrating Updater directly into our workflow added a level of service
                  for the consumer that other title insurance companies didn't provide. Most still don't!</span>
                <div class="testimonial-by">
                  <img class="testimonial-headshot"
                    src="https://res.cloudinary.com/updater-marketing/image/upload/v1546145629/website/2018-revamp-assets/photos/clients-headshot/jeff-bernheisel.jpg">
                  <div>
                    <span class="testimonial-name">Jeff Bernheisel</span>
                    <span class="testimonial-location">VP of Project Development, West (a WFG company)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="/clients/" class="blue-btn-outline-2018">View more client stories</a>
      </div>
    </section>


    <!-- agent options -->
    <section class="business-re--get-started  container-2018">
      <h2>Agents, get started without your brokerage.</h2>
      <div class="options-container">
        <div class="options" style="margin-left: 0px;">
          <h5><i class="fa fa-play-circle-o fa-lg"></i> See a Demo</h5>
          <p>Hop on a 5-minute, on-demand demo to see how Updater works.</p>
          <a class="blue-btn-2018" href="http://get.updater.com/Updater-for-Real-Estate-Agents-Webinar.html"
            target="_blank" rel="noreferrer noopener">See a Demo</a>
        </div>
        <div class="options" style="margin-right: 0px;">
          <h5><i class="fa fa-check-circle-o fa-lg"></i> I'm Ready, Sign Me Up</h5>
          <p>Give your clients a smooth (and impressive) moving experience, once-and-for-all.</p>
          <a class="blue-btn-2018" href="https://app.updater.com/professionals/welcome" target="_blank"
            rel="noreferrer noopener">Get Started</a>
        </div>
      </div>
    </section>


  </section>
  <section class="business-re--form container-2018" id="re-request">
    <h2>Request a demo</h2>
    <h6>We'll get back to you within one day.</h6>
    <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_1927"></form>
    <script>
      MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1927);
    </script>
  </section>
  <section class="blog-preview-items">
    <div class="container-2018" style="text-align: center;">
      <h2>Industry Insights</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <squarespace:query collection="blog" tag="real+estate,brokerage,real+estate+agents,title+insurance,mortage"
          limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <span class="blog-list--item-date" style="text-align: left; margin-left: 20px;">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <a href="{fullUrl}">
              <h4 class="title" style="padding-top: 0;">
                {title}
              </h4>
            </a>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/blog/">Read our blog</a>
    </div>
  </section>
  <!-- 
  <section class="blog-preview-items" style="background:#FFF;">
    <div class="container-2018" style="text-align: center;">
      <h2>Free E-Books and Webinars</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <div class="blog-preview-item-2018">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
          <a href="http://get.updater.com/out-of-state-moves-everything-you-need-to-account-for.html" class="thumb" style="background: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545509015/website/2018-revamp-assets/photos/shutterstock_757396009.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 200px; display: block;">&nbsp;
          </a>
          <h4 class="title webinar">
            <a href="http://get.updater.com/out-of-state-moves-everything-you-need-to-account-for.html">Everything You Need to Know About Out of State Moves</a>
          </h4>
        </div>
        <div class="blog-preview-item-2018">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
          <a href="http://get.updater.com/the-low-down-on-moving-niche-items-webinar.html" class="thumb" style="background: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545509015/website/2018-revamp-assets/photos/shutterstock_344651279.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 200px; display: block;">&nbsp;
          </a>
          <h4 class="title webinar">
            <a href="http://get.updater.com/the-low-down-on-moving-niche-items-webinar.html">Tips and Tricks for Moving Niche Items</a>
          </h4>
        </div>
        <div class="blog-preview-item-2018">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
          <a href="http://get.updater.com/everything-agents-should-know-about-moving-scams-webinar.html" class="thumb" style="background: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545461569/website/2018-revamp-assets/photos/shutterstock_1183025509.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 200px; display: block;">&nbsp;
          </a>
          <h4 class="title webinar">
            <a href="http://get.updater.com/everything-agents-should-know-about-moving-scams-webinar.html">Everything You Should Know About Moving Scams</a>
          </h4>
        </div>
        <div class="blog-preview-item-2018">
          <span class="resources-2018--thumbnail-label tips">Webinar</span>
          <a href="http://get.updater.com/how-to-effectively-manage-your-propertys-online-reputation.html" class="thumb" style="background: url('https://res.cloudinary.com/updater-marketing/image/upload/v1545509015/website/2018-revamp-assets/photos/shutterstock_40218529.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 200px; display: block;">&nbsp;
          </a>
          <h4 class="title webinar">
            <a href="http://get.updater.com/how-to-effectively-manage-your-propertys-online-reputation.html">Learn the Top 15 Moving Hacks of All Time</a>
          </h4>
        </div>
        
      </div>
    </div>
  </section>
 -->
  <section class="business-re--partners" style="margin-top: 0;">
    <h5>Proud supporters of</h5>
    <div class="business-re--partners-logo container-2018">
      <a href="https://www.leadingre.com/" target="_blank" rel="noreferrer noopener"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1545334012/website/2018-revamp-assets/logos/partner-logos/SG_Participant_LeadingRE_Horizontal_Reverse.png"
          style="width: 160px; opacity: .7;"></a>
      <a href="https://www.realtyexecutives.com/" target="_blank" rel="noreferrer noopener"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1545333995/website/2018-revamp-assets/logos/partner-logos/RealtyExecutives_Logo.png"
          style="width: 150px; opacity: .7;"></a>
      <a href="https://www.nar.realtor/" target="_blank" rel="noreferrer noopener"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1545333988/website/2018-revamp-assets/logos/partner-logos/NAR_Logo-ko-520x245.png"
          style="width: 190px; opacity: .7;"></a>
      <a href="https://www.remax.com/" target="_blank" rel="noreferrer noopener"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1545333984/website/2018-revamp-assets/logos/partner-logos/2017_AppSup_wTag_logotype_ko_no-disclaimer.png"
          style="width: 180px; opacity: .7;"></a>
      <a href="https://www.berkshirehathawayhs.com/" target="_blank" rel="noreferrer noopener"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1545333980/website/2018-revamp-assets/logos/partner-logos/bhhs-Preferred-Supplier-Logo_Diamond.png"
          style="width: 140px; opacity: .7;"></a>
    </div>
  </section>

</section>
<script src="/scripts/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/flickity.pkgd.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  function expandBMTdemo(e) {
    e.preventDefault();
    document.querySelector('.bmt-demo-brokerage').classList.toggle('active');
    document.querySelector('.bmt-demo-mortgage').classList.toggle('active');
  }

  function init() {
    currentNav('How it works'); // Set current item in top nav
    initNav(); // Initialize mobile menu on smaller viewport
    stickySubnav();
    toggleReFeatures();
    document.querySelector('.bmt-demo-expand-btn').addEventListener('click', expandBMTdemo);
  }
  window.onload = function () {
    init();
  }
</script>