<section class="team-2018">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/team/">Team</a></li>
      </ul>
    </nav>
  </div>

  <section class="team-2018--hero">
    <div class="container-2018">
      <h1>Meet The Team That's Changing<br>the Way Americans Move</h1>
      <a href="/jobs/">Join our team</a>
    </div>
  </section>
  <section class="team-2018--grid container-2018">
    <section class="mixitup-filters">
      <ul>
        <li><span class="filter mixitup-control-active" data-filter=".leadership">Leadership</span></li>
        <li><span class="filter" data-filter=".bizdev">Business Development</span></li>
        <li><span class="filter" data-filter=".success">Client Success</span></li>
        <li><span class="filter" data-filter=".eng">Product/Engineering</span></li>
        <li><span class="filter" data-filter=".op">Operations</span></li>
      </ul>
    </section>
    {squarespace.main-content}
    <section class="team-2018--members container-2018">
      <div class="preloader-2018">
        <div class="lds-dual-ring"></div>
      </div>
    </section>

  </section>
  <section class="team-2018--pupdater">
    <section class="team-2018--pupdater-slider container-2018">

      <squarespace:block-field id="team-2018--pupdater-tag-wrapper" />
    </section>
  </section>
  <section class="team-2018--blog">
    <section class="blog-preview-items container-2018" style="background: #FFF;">
      <h2>Updater Life</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <squarespace:query collection="updater-life" limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <span class="blog-list--item-date" style="text-align: left; margin-left: 20px;">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h4 class="title" style="padding-top: 0;">
              <a href="{fullUrl}">{title}</a>
            </h4>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/blog/">Browse more on company blog</a>
    </section>
  </section>
</section>
<script src="/scripts/flickity.pkgd.min.js"></script>

<script type="text/javascript" src="/scripts/tippy.all.min.js"></script>
<script type="text/javascript" src="/scripts/mixitup.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  var pupdaters = [{
      name: "Rory",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1454445615/pupdater_headshots_rory_x5zekt.jpg",
      quote: "I didn't get dinner yet... I promise!"
    },
    {
      name: "Dunkin",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1454445615/pupdater_headshots_dunkin_r95ezn.jpg",
      quote: "Don't leave me near the dog biscuits."
    },
    {
      name: "Ollie",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1454445615/pupdater_headshots_ollie_hq4qff.jpg",
      quote: "I chew on everything."
    },
    {
      name: "Flora",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1492199470/team%20photos/Headshots/Flora_square1.jpg",
      quote: "Rub my belly for good luck."
    },
    {
      name: "Juni",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1543591301/team%20photos/pupdater/teamphotos-lr-2-juni.jpg",
      quote: "No autographs, please."
    },
    {
      name: "Kito",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1454449053/pupdater_headshots_kito_kevqwl.jpg",
      quote: "So you're saying you moved and didn't use Updater?"
    },
    {
      name: "Jerry",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1454445615/pupdater_headshots_jerry_qf7dkp.jpg",
      quote: "I like to sleep under Greg's bed... What's the big deal?"
    },
    {
      name: "Rudy",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1502910917/team%20photos/pupdater/Rudy1.jpg",
      quote: "I'll stop barking when you pet me."
    },
    {
      name: "Rocky",
      headshot: "https://res.cloudinary.com/updater-marketing/image/upload/v1528494405/team%20photos/pupdater/rocky.png",
      quote: "People tell me that my celebrity look-a-like is Bradley Cooper, but I just don't see it."
    }
  ];

  function teamTag(member) {
    var nameToJoin = member.name.split(' ');

    var name = nameToJoin[0] + " " + nameToJoin[1][0] + ".";
    if (member.link !== "" && member.link !== undefined) {
      var linkOpen = "<a href='" + member.link + "'>";
      var linkClose = "</a>";
    } else {
      var linkOpen = "";
      var linkClose = "";
    }
    var tag =
      '<article class="team-2018--member ' + member.department + '">' + linkOpen +
      '<img class="tippy" src="https://res.cloudinary.com/updater-marketing/image/fetch/c_fill,f_auto,w_163,h_163/' +
      member.headshot + '" data-tippy-content="' + member.quote + '" alt="' + member.name + '">' +
      '<p class="team-2018--name">' + name + "</p>" +
      '<p class="team-2018--title">' + member.title + "</p>" + linkClose + "</article>"
    return tag;
  }

  function pupTag(pup) {
    var name = pup.name.split(' ').join('<br>');
    var tag =
      '<div class="team-2018--member pup"><img class="tippy" src="https://res.cloudinary.com/updater-marketing/image/fetch/c_fill,f_auto,w_163,h_163/' +
      pup.headshot + '" data-tippy-content="' + pup.quote + '" alt="' + pup.name + '">' +
      '<p class="team-2018--name">' + name + "</p></div>"
    return tag;
  }

  function addTags() {
    var memberStr = "";
    var pupStr = "";
    teamMembers.forEach(function (member) {
      memberStr += teamTag(member)
    });

    // pupdaters.forEach(function(pup) {
    //   pupStr += pupTag(pup);
    //   // var currentTag = document.createDocumentFragment
    // })

    document.querySelector('.team-2018--members').innerHTML = memberStr;
    // document.querySelector('.pupdater-flkty').innerHTML = pupStr;
  }

  function init() {
    initNav(); // Initialize mobile menu on smaller viewport
    addTags();

    var mixer = mixitup('.team-2018--members', {
      selectors: {
        target: '.team-2018--member',
      },
      load: {
        filter: '.leadership'
      },
      animation: {
        effects: 'fade scale translateZ(-100px)',
        duration: 600,
        clampHeight: false
      }
    });

    tippy(document.querySelectorAll(('.tippy')), {
      arrow: true,
    });
  }
  window.onload = function () {
    init();
  }
</script>