<section class="jobs-2018">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/jobs/technology">Engineering</a></li>
      </ul>
    </nav>
  </div>
  <section class="jobs-2018--intro container-2018">
    <section class="jobs-2018--intro-video">
      <a href="https://www.youtube.com/embed/43qGSqf-I1I?rel=0&amp;autoplay=1" data-featherlight="iframe"
        data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
        data-featherlight-iframe-allowfullscreen="true"
        data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1546408109/website/2018-revamp-assets/thumbnails/technology-at-updater.jpg"
          alt="Product and Engineering Team Video" class="jobs-video-thumb">
      </a>
    </section>
    <section class="jobs-2018--intro-copy">
      <h1>Engineering at Updater</h1>
      <h6>We build solutions to the real-world headaches inherent in moving that affect 45 million people each year.
      </h6>
      <a href="/jobs/openings/">View openings</a>
    </section>
  </section>
  <section class="jobs-2018--elements">
    <h2>Our Elements</h2>
    <section class="jobs-2018--elements-grid container-2018">
      <section class="flipcard-item" id="element01">
        <div class="flipcard-flipper">
          <div class="flipcard-front flip-trigger element01">
            <h6>Pr</h6>
            <h3>Pragmatism</h3>
            <p>We are business and product-minded engineers.</p>
            <span class="blog-list--read-more">
              See our day to day >
            </span>
          </div>
          <div class="flipcard-back flip-trigger element01">
            <h3>Pragmatism</h3>
            <p>"The end user and business problem is our constant guide to making decisions."<span
                class="who-said-it">Brian,
                API</span></p>
            <p>"There is an awesome balance between writing <em>perfect code</em> and building an actual product that
              solves a problem for people."<span class="who-said-it">Justin, API</span></p>
          </div>
        </div>
      </section>
      <section class="flipcard-item" id="element02">
        <div class="flipcard-flipper">
          <div class="flipcard-front flip-trigger element02">
            <h6>Ic</h6>
            <h3>Intellectual Curiosity</h3>
            <p>We ask the right questions to understand the landscape.</p>
            <span class="blog-list--read-more">
              See our day to day >
            </span>
          </div>
          <div class="flipcard-back flip-trigger element02">
            <h3>Intellectual<br>Curiosity</h3>
            <p>"We are keeping track of all the experimental flags we're using for Docker."<span
                class="who-said-it">Blue,
                Services</span></p>
            <p>"We evaluated Angular when it was still in beta."<span class="who-said-it">Steve, Frontend</span></p>
          </div>
        </div>
      </section>
      <section class="flipcard-item" id="element03">
        <div class="flipcard-flipper">
          <div class="flipcard-front flip-trigger element03">
            <h6>Nd</h6>
            <h3>No Dogmatism*</h3>
            <p>We use the right tools for the job. (<em>*But yes to dogs!</em>)</p>
            <span class="blog-list--read-more">
              See our day to day >
            </span>
          </div>
          <div class="flipcard-back flip-trigger element03">
            <h3>No Dogmatism</h3>
            <p>"We choose the best technology to solve the problem at hand, which means constantly staying open to new
              ones and remaining objective on old ones."<span class="who-said-it">John, Platform</span></p>
            <p>"One way to succeed here is to keep an open mind and a willingness to learn more than one language or
              tool."<span class="who-said-it">Jason, Platform</span></p>
          </div>
        </div>
      </section>
      <section class="flipcard-item" id="element04">
        <div class="flipcard-flipper">
          <div class="flipcard-front flip-trigger element04">
            <h6>Hc</h6>
            <h3>Hyper-Collaboration</h3>
            <p>We talk everything out.</p>
            <span class="blog-list--read-more">
              See our day to day >
            </span>
          </div>
          <div class="flipcard-back flip-trigger element04">
            <h3>Hyper<br>Collaboration</h3>
            <p>"If you're the type of developer who spends the whole day isolated with your headphones on, this is not
              the place for you."<span class="who-said-it">Leon, API</span></p>
            <p>"For the first version of our integration platform, we spent four weeks designing it, and less than four
              weeks building it."<span class="who-said-it">Ankit, API</span></p>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="jobs-2018--built-in-nyc container-2018">
    <div class="f-heading">
      <a href="https://www.builtinnyc.com/2018/06/29/spotlight-working-at-updater" target="_blank"
        rel="noreferrer noopener">Featured in <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1530909993/website/graphics/builtin_nyc.svg"
          alt="Built in NYC"></a>
    </div>
    <div class="f-l-col">
      <div class="f-quart f-01-img">
        &nbsp;
      </div>
      <div class="f-quart f-02-img">
        &nbsp;
      </div>
      <div class="f-half-cta">
        <span>We're reinventing the engineering interview.</span>
        <a href="https://www.builtinnyc.com/2018/06/29/spotlight-working-at-updater" target="_blank"
          rel="noreferrer noopener">Read about our
          unique approach to hiring!</a>
      </div>
    </div>
    <div class="f-r-col">
      &nbsp;
    </div>
  </section>

  <section class="jobs-2018--we-build">
    <h2>What We Build</h2>
    <section class="jobs-2018--we-build-grid container-2018">
      <section class="grid-item">
        <h3>Microservices<br>Platform</h3>
        <p>A robust, fault-tolerant, and infinitely scalable microservices platform.</p>
      </section>
      <section class="grid-item">
        <h3>User<br>Experience</h3>
        <p>Beautiful, performant web apps tailored for personalized and seamless user experience.</p>
      </section>
      <section class="grid-item">
        <h3>Data<br>Platform</h3>
        <p>A flexible and configurable data platform that can integrate with dozens of software systems.</p>
      </section>
    </section>
  </section>
  <section class="jobs-2018--tech-stack container-2018">
    <h2>Our Technology Stack</h2>
    <section class="tech-logos">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,h_50,w_50/v1546241458/website/2018-revamp-assets/icons/tech-stack/Amazon_Web_Services_Logo.svg"
        style="width: 80px;" alt="AWS">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_120,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/aws-ec2.svg"
        style="width: 40px;" alt="EC2">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/aws-lambda.svg"
        style="width: 40px;" alt="Lambda">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/aws-kinesis.svg"
        style="width: 40px;" alt="Kinesis">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241458/website/2018-revamp-assets/icons/tech-stack/Redis_Logo.svg"
        style="width: 140px;" alt="Redis">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/v1546241457/website/2018-revamp-assets/icons/tech-stack/Microservices.png"
        alt="Microservices">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241457/website/2018-revamp-assets/icons/tech-stack/webcomponents-ar21.svg"
        alt="Web Components">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1473195234/partners/logos/rails.png"
        alt="Rails">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_250/v1473195493/partners/logos/nodejs.png"
        alt="Node">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241647/website/2018-revamp-assets/icons/tech-stack/koa-logo-cropped.png"
        style="width: 50px;" alt="Koa">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241457/website/2018-revamp-assets/icons/tech-stack/python-3.svg"
        style="width: 120px;" alt="Python">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241457/website/2018-revamp-assets/icons/tech-stack/graphql-ar21_1.svg"
        alt="GraphQL">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_250/v1473195251/partners/logos/small_h-trans.png"
        alt="Docker">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241456/website/2018-revamp-assets/icons/tech-stack/terraform-logo.svg"
        style="width: 120px;" alt="Terraform">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241456/website/2018-revamp-assets/icons/tech-stack/MySQL_logo_logotype.png"
        style="width: 100px;" alt="MySQL">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/postgresql.jpg"
        alt="PostgreSQL">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/snowflake-768x183.png"
        alt="SnowFlake">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/airflow-logo.png"
        alt="Apache Airflow">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/c_pad,h_150,w_200/v1546241455/website/2018-revamp-assets/icons/tech-stack/kubernetes-horizontal-color.png"
        alt="Kubernetes">
    </section>
  </section>
  <section class="blog-preview-items jobs-2018--team-leads">
    <div class="container-2018" style="text-align: center;">
      <h2>Team Leads</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader01">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446588799/team%20photos/Headshots/Ankit-Shah.jpg"
                    alt="Ankit Shah" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Ankit<br>Shah</span>
                    <span class="leader-title">Director of API</span>
                  </div>
                </div>
                <p class="leader-bio">My team builds the backend systems that power Updater and the API that connects
                  us to our partners.
                </p>
                <span class="blog-list--read-more flip-trigger leader01">
                  More about Ankit >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader01">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446588799/team%20photos/Headshots/Ankit-Shah.jpg"
                    alt="Ankit Shah" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Ankit Shah</span>
                    <span class="leader-title-small">Director of API</span>
                  </div>
                </div>
                <h6>Tech I'm most excited about right now:</h6>
                <p>"I'm really excited about advances in backend-related tech&mdash;from data analytics to data
                  science, to API specifications that make easy-to-consume APIs to devops."</p>
              </div>
            </div>
          </section>
        </div>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader02">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446834123/team%20photos/Headshots/Steve-Ricciardelli.jpg"
                    alt="Steve Ricciardelli" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Steve<br>Ricciardelli</span>
                    <span class="leader-title">Director of Frontend</span>
                  </div>
                </div>
                <p class="leader-bio">My team is responsible for creating an intuitive UI using the latest frontend
                  technologies.
                </p>
                <span class="blog-list--read-more flip-trigger leader02">
                  More about Steve >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader02">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446834123/team%20photos/Headshots/Steve-Ricciardelli.jpg"
                    alt="Steve Ricciardelli" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Steve Ricciardelli</span>
                    <span class="leader-title-small">Director of Frontend</span>
                  </div>
                </div>
                <h6>Tech I'm most excited about right now:</h6>
                <p>"Everything! There is so much going on in so many domains. The frontend landscape is changing so
                  rapidly it’s hard to keep up, but that makes it so exciting. For instance, the <a
                    href="https://developers.google.com/web/updates/2016/05/houdini" target="_blank"
                    rel="noreferrer noopener">Houdini
                    project</a>, which is a joint task force of engineers from different
                  companies, is doing some really exciting things that will make a huge impact on the future of
                  frontend development."</p>
              </div>
            </div>
          </section>
        </div>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader03">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1491414146/team%20photos/Headshots/Blue_Thomas.jpg"
                    alt="Blue Thomas" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Blue<br>Thomas</span>
                    <span class="leader-title">Director of Services</span>
                  </div>
                </div>
                <p class="leader-bio">We're architecting a service-oriented platform that allows Updater's technology
                  to scale with the business while remaining flexible.
                </p>
                <span class="blog-list--read-more flip-trigger leader03">
                  More about Blue >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader03">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1491414146/team%20photos/Headshots/Blue_Thomas.jpg"
                    alt="Blue Thomas" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Blue Thomas</span>
                    <span class="leader-title-small">Director of Services</span>
                  </div>
                </div>
                <h6>Tech I'm most excited about right now:</h6>
                <p>"Languages that leverage new developments in functional programming paradigms are really exciting.
                  Commoditization of build and runtime dependencies in the form of containerization,
                  infrastructure-as-code, and PaaS’s (just to name a few) are changing everything about how we build
                  systems."</p>
              </div>
            </div>
          </section>
        </div>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader04">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1481906323/headshot/Jason.jpg"
                    alt="Jason Byck" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Jason<br>Byck</span>
                    <span class="leader-title">Director of Platform</span>
                  </div>
                </div>
                <p class="leader-bio">My team owns the platform that absorbs moving transaction data from Updaters
                  partners, including real estate brokerages, property management companies and mortgage lenders.
                </p>
                <span class="blog-list--read-more flip-trigger leader04">
                  More about Jason >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader04">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1481906323/headshot/Jason.jpg"
                    alt="Jason Byck" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Jason Byck</span>
                    <span class="leader-title-small">Director of Platform</span>
                  </div>
                </div>
                <h6>Tech I'm most excited about right now:</h6>
                <p>"Technologies that simplify and improve the process of building data applications and pipelines,
                  particularly streaming and real-time data. There are so many languages, frameworks, tools, and
                  platforms that are evolving every day."</p>
              </div>
            </div>
          </section>
        </div>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader05">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446833914/team%20photos/Headshots/Ryan-Hubbard.jpg"
                    alt="Ryan Hubbard" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Ryan<br>Hubbard</span>
                    <span class="leader-title">CTO/COO</span>
                  </div>
                </div>
                <p class="leader-bio">I love startups and Updater is my third, but favorite!
                </p>
                <span class="blog-list--read-more flip-trigger leader05">
                  More about Ryan >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader05">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1446833914/team%20photos/Headshots/Ryan-Hubbard.jpg"
                    alt="Ryan Hubbard" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Ryan Hubbard</span>
                    <span class="leader-title-small">CTO/COO</span>
                  </div>
                </div>
                <p style="margin-top: 20px;">Despite once telling Katie Holmes, "You look exactly like Katie Holmes,"
                  and driving away with the gas pump attached twice, my previous startups were successful. My first
                  startup, eVariant, raised $70M in funding led by Goldman Sachs. My second, Yellowhammer, earned $21M
                  in revenue in only our second year, was ranked #37 on Inc's 500 Fastest Growing Companies, and was
                  completely bootstrapped.</p>
              </div>
            </div>
          </section>
        </div>
        <div class="blog-preview-item-2018">
          <section class="flipcard-item" id="leader06">
            <div class="flipcard-flipper">
              <div class="flipcard-front">
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1531922959/team%20photos/Headshots/Todd_S.jpg"
                    alt="Todd Stephan" class="leader-headshot">
                  <div class="leader-txt-block">
                    <span class="leader-name">Todd<br>Stephan</span>
                    <span class="leader-title">VP of Engineering</span>
                  </div>
                </div>
                <p class="leader-bio">I know the pain when moving and I saw value in helping make moving easy. I lead
                  the technology teams that are making that a reality.
                </p>
                <span class="blog-list--read-more flip-trigger leader06">
                  More about Todd >
                </span>
              </div>
              <div class="flipcard-back">
                <span class="flipcard-close flip-trigger leader06">X</span>
                <div class="leader-info">
                  <img
                    src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,w_400/v1531922959/team%20photos/Headshots/Todd_S.jpg"
                    alt="Todd Stephan" class="leader-headshot-small">
                  <div class="leader-txt-block">
                    <span class="leader-name-small">Todd Stephan</span>
                    <span class="leader-title-small">VP of Engineering</span>
                  </div>
                </div>
                <p style="margin-top: 20px;">My core values are focusing on people and the three Cs&mdash;customer
                  obsession, continuous improvement, and communication. I'm also heavily focused on data-driven
                  priorities and design experiments. It's important to fail fast, smart, often, and cheaply. My team
                  has hundreds of amazing ideas but only time for a few. Finally, I'm looking to eliminate a terrible
                  source of misery in the world: the bad boss.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section class="jobs-2018--tech-photos container-2018">
    <h2>Tech Life at Updater</h2>

    <div id="behindthescenes2" class="flex-images">

      <!-- GALLERY PICS START HERE - EACH div WITH IMAGE IS ONE PHOTO - *data-w and data-h are the ORIGINAL height and width of each photo. Please do not change img "src". This now stays the same for all images. Instead now we change img "data-src". In "data-src", only change the url portion starting with "v#####". the rest should stay the same. These are important cloudinary transformations -->

      <div class="item" data-w="737" data-h="491"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/v1531229627/website/employee-photos/Engineering_Team_Pic_2.jpg">
      </div>

      <div class="item" data-w="737" data-h="491"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922510/jobs%20photos/Tech/Ping_Pong.jpg">
      </div>

      <div class="item" data-w="543" data-h="724"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922509/jobs%20photos/Tech/New_friends_-2.jpg">
      </div>

      <div class="item" data-w="843" data-h="562"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1506694230/jobs%20photos/beer.jpg">
      </div>

      <div class="item" data-w="767" data-h="610"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1475694060/jobs%20photos/michael.jpg">
      </div>

      <div class="item" data-w="764" data-h="511"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922512/jobs%20photos/Tech/Doug_Jason_Hesham.jpg">
      </div>

      <div class="item" data-w="1280" data-h="853"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1531229421/website/employee-photos/HBC24461_PRINT_1280.jpg">
      </div>

      <div class="item" data-w="608" data-h="724"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507924729/jobs%20photos/Tech/dog.png">
      </div>

      <div class="item" data-w="1280" data-h="853"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1531229421/website/employee-photos/HBC24536_PRINT_1280.jpg">
      </div>

      <div class="item" data-w="737" data-h="491"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922513/jobs%20photos/Tech/Ankit_Kirk.jpg">
      </div>

      <div class="item" data-w="737" data-h="491"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922513/jobs%20photos/Tech/Brian.jpg">
      </div>

      <div class="item" data-w="737" data-h="552"><img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1481074006/website/graphics/pixel.gif"
          data-src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,q_auto,w_800/v1507922509/jobs%20photos/Tech/NintendoGame-2.jpg">
      </div>

    </div>
    <br>

  </section>
</section>

<script src="/scripts/jquery.flex-images.js" type="text/javascript"></script>
<script>
  $('#behindthescenes2').flexImages({
    rowHeight: 400,
    truncate: 1
  });
</script>
<script src="/scripts/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/flickity.pkgd.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  function init() {
    currentNav('About'); // Set current item in top nav
    initNav(); // Initialize mobile menu on smaller viewport
    flipCardInit();
  }


  function flipCardInit() {
    var cards = document.querySelectorAll('.flip-trigger');

    var flippIt = function (e) {
      console.log(e.target.classList[2]);
      document.querySelector('#' + e.target.classList[2]).classList.toggle('hover');
    }
    cards.forEach(function (card) {
      card.addEventListener('click', flippIt);
      console.log('adding');
    });

  }

  window.onload = function () {
    init();
  }
</script>