<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
<main>
  <section class="about-2018">
    <section class="about-2018--hero">
      <div class="container-2018">
        <h5>
          Our Mission:
        </h5>
        <h1>
          To build technology so<br>
          powerful that people<br>
          won&#146;t move without it.
        </h1>
      </div>
    </section>
  </section>
  <section class="about-2018--origin-story">
    <div class="about-2018--origin-story-wrapper container-2018">

      <div class="about-2018--origin-story-headshot">&nbsp;
      </div>
      <div class="about-2018--origin-story-text">
        <h3>I knew there had to be a better way.</h3>
        <p>After my last move, I was frustrated. The amount of time I spent contacting the utility companies and
          updating my contacts was insane. I looked for a solution online. When I saw that none existed, I knew there
          was a huge opportunity to build something transformative from the ground up.

          <span>&mdash; David Greenberg, Founder&nbsp;&amp;&nbsp;CEO</span>
        </p>
      </div>
    </div>
  </section>

  <section class="about-2018--order-to-chaos">
    <div class="container-2018">
      <h2>Bringing Order to Chaos</h2>
      <h3>A single platform that eliminates dozens of calls and emails</h3>
      <div id="chaos-slider">
      </div>
    </div>

    <script>
      var jxslider = new juxtapose.JXSlider('#chaos-slider',
        [{
            src: 'https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1546281936/website/2018-revamp-assets/diagrams/before_r5.png'
          },
          {
            src: 'https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1537542482/website/2018-revamp-assets/diagrams/after_r4B.png'
          }
        ], {
          animate: true,
          showLabels: false,
          showCredits: false,
          startingPosition: "75%",
          makeResponsive: true,
          mode: 'vertical'
        }
      );
      var jxsliderContainer,
        jxsliderNode,
        juxtaposeRatio;
      window.onresize = function () {
        var temp = document.querySelector('.about-2018--order-to-chaos > .container-2018');
        var new_width = temp.offsetWidth,
          new_height = new_width * juxtaposeRatio;
        jxsliderNode.setAttribute('style', 'width:' + new_width)
        jxsliderNode.setAttribute('style', 'height:' + new_height)
      }
    </script>
  </section>
  <section class="about-2018--numbers">
    <h2 class="counter-trigger">Powering How Americans Move</h2>
    <section class="about-2018--numbers-grid container-2018">
      <div class="number-block">
        <h4><span id="count-2">3,010,094</span>+</h4>
        Moves eased per year
      </div>
      <div class="number-block">
        <h4><span id="count-1">2,017</span>+</h4>
        Real estate partners
      </div>
      <div class="number-block">
        <h4><span id="count-4">50</span></h4>
        States serviced
      </div>
      <div class="number-block">
        <h4><span id="count-5">72</span>+</h4>
        User NPS
      </div>

    </section>
  </section>
  <section class="about-2018--get-to-know-us">
    <div class="container-2018">
      <h2>Get to know us</h2>
      <div class="about-us-grid">
        <div class="about-us-grid-item">
          <div class="about-grid-thumb relo">
            <a href="/blog/user-love-updater-what-they-are-saying">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/blog/user-love-updater-what-they-are-saying">
            <div class="about-grid-text">
              <h6>Users Love Updater</h6>
              <p>Here's what people are saying.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb investment">
            <a href="https://www.entrepreneur.com/article/294123" target="_blank" rel="noreferrer noopener">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="https://www.entrepreneur.com/article/294123" target="_blank" rel="noreferrer noopener">
            <div class="about-grid-text">
              <h6>Our Investment Story</h6>
              <p>Because eliminating the chaos requires money and expertise.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb how">
            <a href="/businesses/">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/businesses/">
            <div class="about-grid-text">
              <h6>Partner with Us</h6>
              <p class="partnering">Partners are key to our sucess&mdash;reinvent relocation with us.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb team">
            <a href="/team/">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/team/">
            <div class="about-grid-text">
              <h6>Meet Our Team</h6>
              <p>Building great things and making bold moves.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb press">
            <a href="/press/">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/press">
            <div class="about-grid-text">
              <h6>In the News</h6>
              <p class="news">Updater as featured in some incredible stories.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb clients">
            <a href="/clients/">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/clients/">
            <div class="about-grid-text">
              <h6>Client Stories</h6>
              <p class="client-stories">Hear what our clients say about Updater.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb updater-life">
            <a href="/updater-life">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/updater-life">
            <div class="about-grid-text">
              <h6>Updater Life</h6>
              <p class="company-blog">All things Updater on our company blog.</p>
            </div>
          </a>
        </div>
        <div class="about-us-grid-item">
          <div class="about-grid-thumb jobs">
            <a href="/jobs/">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1537392285/website/2018-revamp-assets/photos/blank.gif">
            </a>
          </div>
          <a href="/jobs">
            <div class="about-grid-text">
              <h6>Jobs</h6>
              <p class="job-board">We're looking for passionate people to join our team.
              </p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </section>
  <section class="about-2018--cta-area container-2018">
    <h2>Contact us</h2>
    {@|apply contact-svg-icon-defs.block}
    <div class="about-2018--cta-buttons">
      <a href="https://www.updater.com/businesses#business-products-form">
        <svg>
          <use xlink:href="#contact-new-business-icon"></use>
        </svg>
        <span>
          <h5>New Partnerships</h5>
          For new business inquiries and partnership opportunities.
        </span>
      </a>
      <a href="https://help.updater.com/">
        <svg>
          <use xlink:href="#contact-mover-icon"></use>
        </svg>
        <span>
          <h5>User Support</h5>
          For questions about your move and your Updater account.
        </span>
      </a>
      <a href="https://updatersuccess.zendesk.com/hc/en-us/requests/new">
        <svg>
          <use xlink:href="#contact-existing-client-icon"></use>
        </svg>
        <span>
          <h5>Partner Support</h5>
          For existing partners and clients.
        </span>
      </a>
    </div>
  </section>
</main>
<script src="/scripts/countUp.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  function init() {
    var counters = [{
      id: 'count-1',
      number: 2017,
      duration: 1
    }, {
      id: 'count-2',
      number: 3010094,
      duration: 2
    }, {
      id: 'count-4',
      number: 50,
      duration: 5
    }, {
      id: 'count-5',
      number: 72,
      duration: 5
    }];

    currentNav('About'); // Set current item in top nav
    initNav(); // Initialize mobile menu on smaller viewport
    jxsliderContainer = document.querySelector("#chaos-slider");
    jxsliderNode = document.querySelector('.juxtapose');
    juxtaposeRatio = jxsliderNode.offsetHeight / jxsliderNode.offsetWidth;
    triggerCounting(counters);
  }

  function triggerCounting(counters) {
    $(window).scroll(function () {
      var hT = $('.counter-trigger').offset().top,
        hH = $('.counter-trigger').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH) && (hT > wS) && (wS + wH > hT + hH)) {
        countUp(counters);
      }
    });
  }

  function countUp(counters) {
    var options = {
      useEasing: true,
      useGrouping: true,
      separator: ',',
      decimal: '.',
    };

    counters.forEach(function (counter) {
      var counting = new CountUp(counter.id, 0, counter.number, 0, counter.duration, options)
      if (!counting.error) {
        counting.start();
      } else {
        console.error(counting.error);
      }
    });
    $(window).unbind('scroll'); // trigger only once.
  }
  window.onload = function () {
    init();
  }
</script>