<section class="jobs-2018">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/jobs/">Jobs</a></li>
      </ul>
    </nav>
  </div>
  <section class="jobs-2018--intro container-2018">

    <section class="jobs-2018--intro-video">
      <a href="https://www.youtube.com/embed/VUZ9VCErGkw?rel=0&amp;autoplay=1" data-featherlight="iframe"
        data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
        data-featherlight-iframe-allowfullscreen="true"
        data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1546407959/website/2018-revamp-assets/thumbnails/this-is-updater.jpg"
          alt="This is Updater Video" class="jobs-video-thumb">
      </a>
      <a href="https://www.youtube.com/embed/rJp1V-zrxLs?rel=0&amp;autoplay=1" data-featherlight="iframe"
        data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
        data-featherlight-iframe-allowfullscreen="true"
        data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
        Watch bloopers
      </a>
    </section>
    <section class="jobs-2018--intro-copy">
      <h1>Join our team.</h1>
      <h6>Join us and change how Americans move. If you're bright, ambitious, and awesome at what you do, you'll fit
        right in.</h6>
      <a href="/jobs/openings/">View openings</a>
    </section>
  </section>
  <section class="jobs-2018--recognition">
    <h6>Recognized for outstanding work culture by:</h6>
    <section class="jobs-2018--recognition-logos container-2018">
      <a href="https://www.crainsnewyork.com/html-page/672466" target="_blank" rel="noreferrer noopener">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1538169909/website/crains-2018.svg"
          alt="Crains 2018 Best Places to Work in NYC Logo">
      </a>
      <a href="https://www.crainsnewyork.com/article/20160928/SMALLBIZ/160929892/crain-s-unveils-the-100-best-places-to-work-in-new-york-city-in-2016"
        target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1475720282/jobs/logos/crains_badge_2016.png"
          alt="Crains 2016 Best Places to Work in NYC Logo">
      </a>
      <a href="http://techinmotionevents.com/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1545619216/website/2018-revamp-assets/logos/Timmy-Awards-Logo-e1504720897590-850x396.png"
          alt="Timmy">
      </a>
      <a href="https://www.glassdoor.com/Overview/Working-at-Updater-EI_IE837739.11,18.htm" target="_blank"
        rel="noreferrer noopener">
        <img src="https://www.glassdoor.com/api/widget/verticalStarRating.htm?e=837739" alt="Glassdoor">
      </a>
      <a href="https://www.crunchbase.com/organization/updater" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1475721447/jobs/logos/CrunchBase2.png"
          alt="CrunchBase">
      </a>
      <a href="https://www.linkedin.com/company/updater" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto,w_100/v1461706339/jobs/logos/LinkedIn_Logo.png"
          alt="LinkedIn">
      </a>
      <a href="https://www.builtinnyc.com/company/updater" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,w_108/v1548196521/partners/logos/BestPlacesToWork2019_MidsizeCo_Vertical_NYC.svg"
          alt="Built in NYC 2019 Best Places to Work in NYC Logo" style="max-height: 90px;">
      </a>
      <a href="https://www.themuse.com/profiles/updater" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/c_scale,f_auto,w_105/v1507071396/partners/logos/The-Muse-Logo.png"
          alt="The Muse">
      </a>
    </section>
  </section>
  <section class="jobs-2018--featured">
    <h2>Featured Departments</h2>
    <section class="jobs-2018--featured-cards">
      <section class="feature-card">
        <a href="/jobs/technology/">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_fill,f_auto,q_auto,w_800,h_500/v1530910348/website/employee-photos/HBC24148_WEB.jpg"
            class="feature-image">
        </a>
        <div>
          <a href="/jobs/technology/">
            <h4>Technology Department</h4>
            <p>Our engineering department is comprised of the best and brightest minds in NY tech. They believe in
              pragmatism, curiosity, and collaboration.</p>
            <span class="blog-list--read-more">
              Learn more >
            </span>
          </a>
          <div>
      </section>
      <section class="feature-card">
        <a href="/jobs/internships/">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/c_fill,f_auto,q_auto,w_800,h_500/v1497549874/jobs%20photos/internships/Boatcruise3.jpg"
            class="feature-image">
        </a>
        <div>
          <a href="/jobs/internships/">
            <h4>Internship Program</h4>
            <p>No coffee runs here. After an internship at Updater, you'll walk away with a solid set of professional
              skills to take to your next internship or job!</p>
            <span class="blog-list--read-more">
              Learn more >
            </span>
          </a>
        </div>
      </section>
    </section>
  </section>
  <section class="jobs-2018--perks">
    {@|apply perks-svg-icon-defs.block}
    <h2>Some of the Perks</h2>
    <section class="jobs-2018--perks-grid">
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/VKYV8P0AfOE?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-ownership-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/VKYV8P0AfOE?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Ownership in the company</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/Kt0cxJ6Dbcs?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-medical-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/Kt0cxJ6Dbcs?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Medical coverage</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/yGNv2-MuZWk?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-commuter-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/yGNv2-MuZWk?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Commuter benefits</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/DdAc8FyrMCU?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-pto-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/DdAc8FyrMCU?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Unlimited PTO</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/MhlyQru0Wxg?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-meal-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/MhlyQru0Wxg?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Catered meals</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/jN7ovYmk_48?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-culture-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/jN7ovYmk_48?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Incredible culture</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/qjknDCBw37o?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-wellness-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/qjknDCBw37o?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Wellness perks</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/5BEhBweFDP0?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-offsite-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/5BEhBweFDP0?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Company offsites</h6>
        </a>
      </div>
      <div class="grid-item">
        <a href="https://www.youtube.com/embed/HKsQ9nx7izw?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <svg>
            <use xlink:href="#perk-charity-icon"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/embed/HKsQ9nx7izw?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
          <h6>Giving back</h6>
        </a>
      </div>
    </section>
  </section>
  <section class="blog-preview-items">
    <div class="container-2018" style="text-align: center;">
      <h2>Updater Life</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <squarespace:query collection="updater-life" limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <span class="blog-list--item-date" style="text-align: left; margin-left: 20px;">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h4 class="title" style="padding-top: 0;">
              <a href="{fullUrl}">{title}</a>
            </h4>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/updater-life/">Browse more on company blog</a>
    </div>
  </section>
  <section class="jobs-2018--recognition">
    <h2>Our Thoughts On Company Culture</h2>
    <section class="featured-in-media container-2018">
      <div class="media-card">
        <a href="https://www.forbes.com/sites/theyec/2017/03/29/what-it-means-to-be-a-goal-manager/" target="_blank"
          rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545629113/website/2018-revamp-assets/logos/Forbes_logo.svg"
            style="height: 25px; margin-top: 23px;" alt="Forbes">
          <h5>Why it matters to be a goal manager.</h5>
          <span class="blog-list--read-more">
            Read more >
          </span>
        </a>
      </div>
      <div class="media-card">
        <a href="http://www.businessnewsdaily.com/9780-david-greenberg-updater-office-space.html" target="_blank"
          rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545629113/website/2018-revamp-assets/logos/business-news-daily-logo-01.svg"
            style="height: 45px;" alt="Business News Daily">
          <h5>Why our company invested in an awesome office space.</h5>
          <span class="blog-list--read-more">
            Read more >
          </span>
        </a>
      </div>
      <div class="media-card">
        <a href="https://www.forbes.com/sites/carolinebeaton/2017/01/06/top-employers-say-millennials-need-these-4-skills-in-2017/#46f04a787fe4"
          target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545629113/website/2018-revamp-assets/logos/Forbes_logo.svg"
            style="height: 25px; margin-top: 23px;" alt="Forbes">
          <h5>Top employers say millenials need these four skills.</h5>
          <span class="blog-list--read-more">
            Read more >
          </span>
        </a>
      </div>
      <div class="media-card">
        <a href="https://www.fastcompany.com/3068325/work-smart/exactly-what-to-do-while-you-wait-to-hear-back-about-a-job"
          target="_blank" rel="noreferrer noopener">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1545629113/website/2018-revamp-assets/logos/Fast_Company_logo.svg"
            style="height: 25px; margin-top: 23px;" alt="FastCompany">
          <h5>Exactly what to do while you wait to hear about a job.</h5>
          <span class="blog-list--read-more">
            Read more >
          </span>
        </a>
      </div>
    </section>
  </section>
  <section class="jobs-2018--culture-videos container-2018">
    <a href="https://player.vimeo.com/video/228293588?autoplay=1" data-featherlight="iframe"
      data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
      data-featherlight-iframe-allowfullscreen="true"
      data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/v1545658944/website/2018-revamp-assets/thumbnails/video-thumb_interview_tip-2.jpg"
        alt="Interview Tip">
    </a>
    <a href="https://player.vimeo.com/video/228293407?autoplay=1" data-featherlight="iframe"
      data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
      data-featherlight-iframe-allowfullscreen="true"
      data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/v1545658944/website/2018-revamp-assets/thumbnails/video-thumb_culture.jpg"
        alt="Words on Culture">
    </a>
  </section>
  <section class="jobs-2018--instagram-feed">
    <h2>Life at Updater</h2>
    <p>Follow us on Instagram <a href="#">@UpdaterHQ</a></p>
    <section class="jobs-2018--instagram-feed-grid container-2018">
      <squarespace:block-field id="jobs-instafeed" columns="12" />
    </section>
  </section>
</section>

<script src="/scripts/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/flickity.pkgd.min.js"></script>
<script src="/scripts/upd-b-2018.js"></script>
<script>
  function init() {
    currentNav('About'); // Set current item in top nav
    initNav(); // Initialize mobile menu on smaller viewport
  }
  window.onload = function () {
    init();
  }
</script>