<section class="crm-match">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li>How it works</li>
        <li><a href="/businesses/">For Businesses</a></li>
        <li><a href="/business-marketing/">Business Marketing</a></li>
        <li><a href="/crm-match/">Customer Match</a></li>
      </ul>
    </nav>
  </div>
  <section class="crm-match--hero">
    <div class="crm-match--hero-container container-2018">
      <section class="crm-match--hero-diagram">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1564602901/website/2019-b2b-expansion/graphics/funnel-graphic_2.png"
          alt="How the matching works">
      </section>
      <section class="crm-match--hero-text">
        <h1>Customer Match</h1>
        <h2>Your customers are moving. Match your customer database with Updater movers to figure out <em>who, when, and
            where.</em></h2>
        <a href="#crm-match--form" class="crm-match--partner-cta">Partner with us</a>
        <a class="crm-match--video-cta" href="https://www.youtube.com/embed/WvYFMrxZAt0?rel=0&amp;autoplay=1"
          data-featherlight="iframe" data-featherlight-iframe-frameborder="0"
          data-featherlight-iframe-allow="autoplay; encrypted-media" data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;">Watch video</a>
      </section>
    </div>
  </section>
  <section class="crm-match--timing container-2018">
    <section class="crm-match--timing-text">
      <div class="crm-match--timing-headings">
        <h3>Know who's moving (and when)</h3>
        <h4>Access our unique, real-time mover data</h4>
      </div>
      <div class="crm-match--timing-body">
        <p>
          Updater receives invitation requests to our platform, on average, 65 days before a move date. This results in
          the most timely and accurate mover database in the nation. Our CRM Match solution can identify when your
          customers are about to move, far in advance of any other source.
        </p>
      </div>
    </section>
    <section class="crm-match--timing-chart">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1564513435/website/2019-b2b-expansion/graphics/timing-chart_2.png"
        alt="Mover data timeline">
    </section>
  </section>
  <section class="crm-match--benefits container-2018">
    <section class="crm-match--benefits-text">
      <h3>Tap into data-driven mover marketing</h3>
      <ul>
        <li>
          <h5>New customer acquisition</h5>
          <p>Target people at a time when they show a higher-than-normal prospensity to spend.</p>
        </li>
        <li>
          <h5>Customer retention</h5>
          <p>Reduce churn and increase retention by encouraging customers to remain loyal during the move.</p>
        </li>
        <li>
          <h5>Cross-selling and upselling</h5>
          <p>Drive revenue during the move with more targeted, mover-related cross or upsell campaigns.</p>
        </li>
        <li>
          <h5>Reactivate lapsed customers</h5>
          <p>Recover disengaged customers at the time when they need you more &mdash; retention is cheaper than
            acquisition!</p>
        </li>
        <li>
          <h5>Improve data quality and reduce data decay</h5>
          <p>Learn, segment and message smarter with real-time updates on your customers as they move.</p>
        </li>
      </ul>
    </section>
    <section class="crm-match--benefits-img">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1564513673/website/2019-b2b-expansion/graphics/data-driven-marketing.png"
        alt="Data driven mover marketing">
    </section>
  </section>
  <section class="crm-match--data container-2018">
    <section class="crm-match--data-img">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1564513673/website/2019-b2b-expansion/graphics/user-profile.png"
        alt="User Profile">
    </section>
    <section class="crm-match--data-text">
      <h3>What's included in a record</h3>
      <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Phone number</li>
        <li>Move date</li>
        <li>Physical address (new and old)</li>
        <li>Homeownership (renter or owner)</li>
        <li>... and more!</li>
      </ul>
    </section>
  </section>
  <section class="crm-match--studies">
    <div class="crm-match--studies-carousel-container" data-flickity='{ "wrapAround": true, "autoPlay": 5000 }'>
      <div class="crm-match--studies-carousel-inner">
        <section class="study-title">
          Case Study: <span>NRF Top 40 Retailer &mdash; $13B in Retail Sales, 2019</span>
        </section>
        <section class="study-content">
          <div class="study-content-label">
            Challenge
          </div>
          <div class="study-content-detail">
            <h5>
              Identify more movers, sooner
            </h5>
          </div>
        </section>
        <section class="study-content">
          <div class="study-content-label">
            Results
          </div>
          <div class="study-content-detail">
            <div class="bb-chart-container">
              <div class="bb-chart">
                <div class="bb-number">83%</div>
                <div class="donut-chart chart1">
                  <div class="slice one"></div>
                  <div class="slice two"></div>
                  <div class="chart-center">
                    <span></span>
                  </div>
                </div>
                <div class="chart-description">
                  <p>matched mover records provided earlier than current source</p>
                </div>
              </div>
              <div class="bb-chart">
                <div class="bb-number">62%</div>

                <div class="donut-chart chart2">
                  <div class="slice one"></div>
                  <div class="slice two"></div>
                  <div class="chart-center">
                    <span></span>
                  </div>
                </div>
                <div class="chart-description">
                  <p>new mover records identified by Updater</p>
                </div>
              </div>
              <div class="bb-chart">
                <div class="bb-number">61<span>days earlier</span></div>

                <div class="donut-chart chart3">
                  <div class="slice one"></div>
                  <div class="slice two"></div>
                  <div class="chart-center">
                    <span></span>
                  </div>
                </div>
                <div class="chart-description">
                  <p>average confirmed timing compared to current source</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div style="text-align: center;">
          <a href="#crm-match--form" class="study-request">Request full case study</a>
        </div>
      </div>
      <div class="crm-match--studies-carousel-inner">
        <section class="study-title">
          Case Study: <span>NRF Top 10 Retailer &mdash; $90B+ in Retail Sales, 2019</span>
        </section>
        <section class="study-content">
          <div class="study-content-label">
            Challenge
          </div>
          <div class="study-content-detail">
            <h5>
              Verify mover freshness
            </h5>
          </div>
        </section>
        <section class="study-content">
          <div class="study-content-label">
            Results
          </div>
          <div class="study-content-detail">
            <div class="thd-chart-container">
              <div class="thd-chart chart1">
                <div class="thd-chart-label">
                  Updater
                </div>
                <div class="thd-chart-bars">
                  <span class="bar1">
                    74%
                  </span>
                  <span class="bar2">
                    26%
                  </span>
                </div>
              </div>
              <div class="thd-chart chart2">
                <div class="thd-chart-label">
                  NCOA
                </div>
                <div class="thd-chart-bars">
                  <span class="bar1">
                    15%
                  </span>
                  <span class="bar2">
                    52%
                  </span>
                  <span class="bar3">
                    33%
                  </span>
                </div>
              </div>
              <div class="thd-chart-legend">
                <div class="legend-item">
                  <div class="legend-item-color navy">
                  </div>
                  <div class="legend-item-desc">
                    <span class="navy">Before</span> the <br>month of move
                  </div>
                </div>
                <div class="legend-item">
                  <div class="legend-item-color blue">
                  </div>
                  <div class="legend-item-desc">
                    <span class="blue">During</span> the <br>month of move
                  </div>
                </div>
                <div class="legend-item">
                  <div class="legend-item-color gray">
                  </div>
                  <div class="legend-item-desc">
                    <span class="gray">After</span> the <br>month of move
                  </div>
                </div>
              </div>
            </div>
            <div class="thd-chart-summary">
              Updater matched <span>92% more</span> mover signals, and <span>100% sooner</span> than provided by NCOA
              database.
            </div>
          </div>
        </section>
        <div style="text-align: center;">
          <a href="#crm-match--form" class="study-request">Request full case study</a>
        </div>
      </div>

    </div>

  </section>
  <section class="crm-match--app-shot container-2018">
    <img
      src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1552582628/website/2018-revamp-assets/thumbnails/updater-app-sliding.gif"
      alt="" class="crm-match--app-shot-img">
    <section class="crm-match--app-shot-text">
      <h4>America's #1 <br>Moving App</h4>
      <h5>Millions use Updater to make <br>moving-related decisions. <br>Connect with them at the right time.</h5>
    </section>
  </section>
  <section class="crm-match--form-area" id="crm-match--form">
    <h2>Partner with us</h2>
    <h6>We'll get back to you within one day.</h6>
    <script src="https://app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>

    <form id="mktoForm_1871"></form>
    <script>
      MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1871);
    </script>
  </section>
</section>

<script src="/scripts/featherlight.min.js"></script>
<script src="/scripts/flickity.pkgd.min.js"></script>

<script src="/scripts/upd-b-2019-aug.min.js"></script>
<script>
  function handleJump(e) {
    e.preventDefault();
    // console.log(e, e.target, e.target.hash);
    $('html, body').
    animate({
      'scrollTop': $(e.target.hash).offset().top - 120
    }, 600); // scroll to position in 0.6 sec
  }

  function init() {
    document.querySelectorAll('a.crm-match--partner-cta').forEach(function () {
      addEventListener('click', handleJump)
    });

    currentNav('How it works', 'd2c'); // Set current item in top nav
    initNav('d2c'); // Initialize mobile menu on smaller viewport

  }
  window.onload = function () {
    init();
  }
</script>