{@|apply free-tool-svg-icon-defs.block}

<main class="claim-updater">
  <section class="claim-updater--form-section container-2018">
    <section class="claim-updater--form-area">
      <h1>
        Let's get you moving!
      </h1>
      <h3>Enter your information below to access your Updater account and start crossing items off your moving
        checklist.</h3>
      <div class="claim-updater--form-area-ss-form">
        <squarespace:block-field id="claim-updater--form-block-field" />
      </div>
      <span class="claim-updater--form-area-clarification">
        No downloads. No fees. 100% free of charge.
      </span>
    </section>
    <section class="claim-updater--app-screen">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1552582628/website/2018-revamp-assets/thumbnails/updater-app-sliding.gif"
        alt="Updater Web App">
    </section>
  </section>
  <section class="claim-updater--success-message claim-updater--post-submission">
    <h2>Thank You!</h2>
    <h4>If you previously received an invitation from an Updater partner, we'll resend it so you can claim your account.
      Your invite will land in your inbox within the next 12 hours. Keep an eye out.</h4>
  </section>
  <section class="claim-updater--next-steps claim-updater--post-submission">
    <h2>Next Steps for Your Move</h2>
    <section class="claim-updater--next-steps-grid container-2018">
      <section class="claim-updater--next-steps-grid-item m-checklist">
        <svg>
          <use xlink:href="#free-tools-moving-checklist"></use>
        </svg>
        <h4>
          The Ultimate<br>Moving Checklist
        </h4>
        <a href="/moving-tips/the-most-epic-moving-checklist-in-the-history-of-moving-checklists" class="tool-cta">View
          the list</a>
      </section>
      <section class="claim-updater--next-steps-grid-item m-boxguide">
        <svg>
          <use xlink:href="#free-tools-moving-boxes"></use>
        </svg>
        <h4>
          Moving Box<br>Guide
        </h4>
        <a href="/moving-tips/how-many-boxes-do-i-need-to-move" class="tool-cta">View the list</a>
      </section>
      <section class="claim-updater--next-steps-grid-item m-license">
        <svg>
          <use xlink:href="#free-tools-license"></use>
        </svg>
        <h4>
          Update Your<br>Driver's License
        </h4>
        <select id="tools-select-state">
          <option value="">Select your state</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <button class="select-state-btn">GO</button>
      </section>
    </section>
  </section>
  <section class="blog-preview-items claim-updater--post-submission">
    <div class="container-2018" style="text-align: center;">
      <h2>More Moving Tips, Tricks, and Advice</h2>
      <div class="blog-preview-2018">
        <squarespace:query collection="moving-tips" limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <a href="{fullUrl}">
              <h4 class="title">
                {title}
              </h4>
            </a>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/moving-tips">More moving tips</a>
    </div>
  </section>
</main>

<script src="/scripts/flickity.pkgd.min.js"></script>

<script>
  var blogFlkty;

  function stateSelectorInit() {
    var linkPerState = {
      AL: "/alabama-dmv-change-of-address",
      AK: "/alaska-dmv-change-of-address",
      AZ: "/arizona-dmv-change-of-address",
      AR: "/arkansas-dmv-change-of-address",
      CA: "/california-dmv-change-of-address",
      CO: "/colorado-dmv-change-of-address",
      CT: "/connecticut-dmv-change-of-address",
      DE: "/delaware-dmv-change-of-address",
      FL: "/florida-dmv-change-of-address",
      GA: "/georgia-dmv-change-of-address",
      HI: "/hawaii-dmv-change-of-address",
      ID: "/idaho-dmv-change-of-address",
      IL: "/illinois-dmv-change-of-address",
      IN: "/indiana-dmv-change-of-address",
      IA: "/iowa-dmv-change-of-address",
      KS: "/kansas-dmv-change-of-address-1",
      KY: "/kentucky-dmv-change-of-address",
      LA: "/louisiana-dmv-change-of-address",
      ME: "/maine-dmv-change-of-address",
      MD: "/maryland-dmv-change-of-address",
      MA: "/massachusetts-dmv-change-of-address",
      MI: "/michigan-dmv-change-of-address",
      MN: "/minnesota-dmv-change-of-address",
      MS: "/mississippi-dmv-change-of-address",
      MO: "/missouri-dmv-change-of-address",
      MT: "/montana-dmv-change-of-address",
      NE: "/nebraska-dmv-change-of-address",
      NV: "/nevada-dmv-change-of-address",
      NH: "/new-hampshire-dmv-change-of-address",
      NJ: "/newjersey-dmv-change-of-address",
      NM: "/newmexico-dmv-change-of-address",
      NY: "/new-york-dmv-change-of-address",
      NC: "/north-carolina-dmv-change-of-address",
      ND: "/north-dakota-dmv-change-of-address",
      OH: "/ohio-dmv-change-of-address",
      OK: "/oklahoma-dmv-change-of-address",
      OR: "/oregon-dmv-change-of-address",
      PA: "/pennsylvania-dmv-change-of-address",
      RI: "/rhode-island-dmv-change-of-address",
      SC: "/south-carolina-dmv-change-of-address",
      SD: "/south-dakota-dmv-change-of-address",
      TN: "/tennessee-dmv-change-of-address",
      TX: "/texas-dmv-change-of-address",
      UT: "/utah-dmv-change-of-address",
      VT: "/vermont-dmv-change-of-address",
      VA: "/virginia-dmv-change-of-address",
      WA: "/washington-dmv-change-of-address",
      DC: "/washington-dc-dmv-change-of-address",
      WV: "/westvirginia-dmv-change-of-address",
      WI: "/wisconsin-dmv-change-of-address",
      WY: "/wyoming-dmv-change-of-address"
    };

    function checkState() {
      var stateVal = selectedState.options[selectedState.options.selectedIndex].value;
      if (stateVal === "") {
        selectedState.style.boxShadow = "0 1px 20px rgba(255,0,0,.8)";
        selectedState.style.border = "2px solid red";
      } else {
        window.location = linkPerState[stateVal];
      }
    }

    function cleanStyle() {
      selectedState.style.boxShadow = "none";
      selectedState.style.border = "none";
    }

    var selectedState = document.querySelector('#tools-select-state');
    var stateBtn = document.querySelector('.select-state-btn');
    stateBtn.addEventListener('click', checkState);
    selectedState.onchange = cleanStyle;

  }

  function formSuccessInit() {
    var postMsgHtml = document.querySelector('.form-submission-html');
    var observerConfig = {
      attributes: true
    };
    var callback = function (mutations, observer) {
      mutations.forEach(function (mut) {
        if (mut.attributeName === 'class') {
          blogFlkty.resize();
          console.log('heyhey, class changed');
          document.querySelector('.claim-updater--form-section').style.display = "none";
          document.querySelectorAll('.claim-updater--post-submission').forEach(function (section) {
            section.classList.remove("claim-updater--post-submission");
          });
          blogFlkty.resize();


        }
      })
    }

    var observer = new MutationObserver(callback);
    observer.observe(postMsgHtml, observerConfig);
  }

  var init = function () {
    var blogPreview = document.querySelector('.blog-preview-2018');
    blogFlkty = new Flickity(blogPreview, {
      wrapAround: true

    })
    stateSelectorInit();
    formSuccessInit();
  }
  window.onload = function () {
    init();
  }
</script>