<section class="dmv-redux">
  <section class="dmv-redux--dmv-wrapper container-2018">
    <section class="dmv-redux--hero">
      <div class="dmv-redux--header">
        <div class="dmv-redux--header-text">
          <h2>Change of Address</h2>
          <h1>Florida <span>DMV</span></h1>
        </div>
      </div>
      <div class="dmv-redux--hero-state-select">
        <select id="dmv-redux--hero-state-select-ui">
          <option value>Check another state...</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <a id="dmv-redux--hero-state-select-btn">
          <div>Go</div>
        </a>
      </div>
    </section>

    <section class="dmv-redux--desktop-intro">
      <div class="dmv-redux--desktop-intro-text">
        <h3>Moving somewhere in Florida?</h3>
        <p>
          Before you cruise around the new neighborhood, add updating the Department of Motor Vehicles to your moving
          to-do list. In some states, you have less than 30 days to update your driving records and/or vehicle
          registration, so now's the time to act!
        </p>
        <p>
          But don't worry &mdash; we've got your back. We've compiled everything you need to know about updating your
          driving records with your new residential or mailing address. You'll be able to head out with the car keys
          from the day you officially call Florida home.
        </p>
      </div>

      <div class="dmv-redux--desktop-intro-contact">
        <h5>Website</h5>
        <span><a href="https://www.flhsmv.gov/" target="_blank" rel="noreferrer noopener">Florida Department of Highway
            Safety and Motor
            Vehicles</a></span>
        <h5>Phone</h5>
        <span>1 (850) 617-2000</span>
        <h5>Mail</h5>
        <span>Bureau of Issuance Oversight
          <br>P.O. Box 5775
          <br>Tallahassee, FL 32314-5775</span>
      </div>
    </section>

    <section class="dmv-redux--main">
      <nav class="dmv-redux--main-tabs">
        <h3>Are you coming, going, or staying?</h3>
        <ul>
          <li>
            <button type="button" id="dmv-redux--default-tab" class="dmv-redux--tab active-tab"
              data-tab="sect-moving-within">Moving within State</button>
          </li>
          <li>
            <button class="dmv-redux--tab" data-tab="sect-entering-state">Entering
              State</button>
          </li>
          <li>
            <button class="dmv-redux--tab" data-tab="sect-leaving-state">Leaving State</button>
          </li>
        </ul>



      </nav>
      <section class="dmv-redux--main-frame">
        <section class="dmv-redux--main-content is-on" id="sect-moving-within">
          <p class="dmv-redux--main-content-intro">
            <span class="intro--moving-direction">If you're moving <em>within</em> the state,</span> <span
              class="intro--text">you'll have plenty of
              options to change
              your address. The process for changing addresses on both your license and your
              vehicle registration are one and the same.</span>
          </p>

          <button class="dmv-redux--mobile-contact-btn">DMV Contact Information</button>
          <div class="dmv-redux--mobile-contact-content">
            <div>
              <h5>Website</h5>
              <span><a href="https://www.flhsmv.gov/" target="_blank" rel="noreferrer noopener">Florida Department of
                  Highway Safety and Motor
                  Vehicles</a></span>
              <h5>Phone</h5>
              <span>1 (850) 617-2000</span>
              <h5>Mail</h5>
              <span>Bureau of Issuance Oversight
                <br>P.O. Box 5775
                <br>Tallahassee, FL 32314-5775</span>
            </div>
          </div>

          <section class="faq-area info-drivers-license">

            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/license_dmv-change-of-address.svg">
              Florida Driver's License Change of Address
            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to notify the state?</button>
              <div class="answer">
                <div>
                  <p>Yes.</p>
                </div>
              </div>
              <button class="question">Will filling out an official USPS Change of Address Form update it?</button>
              <div class="answer">
                <div>
                  <p>No.</p>
                </div>
              </div>
              <button class="question">Will the state issue me a new driver's license or ID?</button>
              <div class="answer">
                <div>
                  <p>Yes.</p>
                </div>
              </div>
              <button class="question">Where can I complete my driver's license change of address?</button>
              <div class="answer">
                <div>
                  <p>You're in luck! You can easily complete your change of address online through Florida's
                    <a href="https://services.flhsmv.gov/VirtualOffice/?AspxAutoDetectCookieSupport=1" target="_blank"
                      rel="noreferrer noopener">Virtual Office</a>. You can also complete your change of address in
                    person at
                    the
                    <a href="https://www.flhsmv.gov/locations" target="_blank" rel="noreferrer noopener">Florida
                      Department of Highway Safety
                      and Motor Vehicles</a>.</p>
                  <p>A fan of snail mail? You can also complete your change of address by mail here:</p>
                  <p class="special-info">Bureau of Issuance Oversight
                    <br>P.O. Box 5775
                    <br>Tallahassee, FL 32314-5775
                  </p>
                </div>
              </div>
              <button class="question">What will I need when I notify the DMV?</button>
              <div class="answer">
                <div>
                  <ul>
                    <li>Your <a>Notice of Change of Address Form</a></li>
                    <li>A check or money order for $25, payable to the Division of Driver's Licenses</li>
                    <li>Your Social Security Number</li>
                    <li>Your driver's license number</li>
                    <li>Your new mailing and residence address</li>
                  </ul>
                </div>
              </div>
              <button class="question">When do I need to complete my driver's license change of address?</button>
              <div class="answer">
                <div>
                  <p>Act fast &mdash; you'll need to report your change of address within 10 days of your move.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="faq-area info-vehicle-registration">
            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/vehicle-registration_dmv-change-of-address.svg">
              Florida Vehicle Registration Change of Address
            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to notify the state?</button>
              <div class="answer">
                <div>
                  <p>Yes.</p>
                </div>
              </div>
              <button class="question">Will filling out an official USPS Change of Address Form update it?</button>
              <div class="answer">
                <div>
                  <p>No.</p>
                </div>
              </div>
              <button class="question">Where can I complete my vehicle registration change of address?</button>
              <div class="answer">
                <div>
                  <p>You'll be happy about this one: You can easily complete your change of address
                    online through Florida's <a
                      href="https://services.flhsmv.gov/VirtualOffice/?AspxAutoDetectCookieSupport=1" target="_blank"
                      rel="noreferrer noopener">Virtual Office</a>.</p>
                  <p>Or, you can complete your change of address in person at the
                    <a href="https://www.flhsmv.gov/locations" target="_blank" rel="noreferrer noopener">Florida
                      Department of Highway Safety
                      and Motor Vehicles</a>.</p>
                  <p>A fan of snail mail? You can also complete your change of address by mail here:</p>
                  <p class="special-info">Bureau of Issuance Oversight
                    <br>P.O. Box 5775
                    <br>Tallahassee, FL 32314-5775
                  </p>
                </div>
              </div>
              <button class="question">What will I need when I notify the DMV?</button>
              <div class="answer">
                <div>
                  <ul>
                    <li>Your <a>Notice of Change of Address Form</a></li>
                    <li>A check or money order for $25, payable to the Division of Driver's Licenses</li>
                    <li>Your Social Security Number</li>
                    <li>Your new mailing and residence address</li>
                    <li>Your driver's license number</li>
                  </ul>
                </div>
              </div>
              <button class="question">When do I need to complete my vehicle registration change of address?</button>
              <div class="answer">
                <div>
                  <p>Act fast &mdash; you'll need to report your change of address within 10 days of your move.</p>
                </div>
              </div>

            </div>
          </section>
        </section>
        <section class="dmv-redux--main-content" id="sect-entering-state">
          <p class="dmv-redux--main-content-intro">
            <span class="intro--moving-direction">If you're moving <em>to Florida</em> from another state,</span> <span
              class="intro--text">you'll
              have to
              take care of your
              change of address in person. Make sure you have all your documents in order so you can get
              on it as soon as you move in!
            </span>
          </p>

          <button class="dmv-redux--mobile-contact-btn">DMV Contact Information</button>
          <div class="dmv-redux--mobile-contact-content">
            <div>
              <h5>Website</h5>
              <span><a href="https://www.flhsmv.gov/" target="_blank" rel="noreferrer noopener">Florida Department of
                  Highway Safety and Motor
                  Vehicles</a></span>
              <h5>Phone</h5>
              <span>1 (850) 617-2000</span>
              <h5>Mail</h5>
              <span>Bureau of Issuance Oversight
                <br>P.O. Box 5775
                <br>Tallahassee, FL 32314-5775</span>
            </div>
          </div>

          <section class="faq-area info-drivers-license">
            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/license_dmv-change-of-address.svg">
              Florida Driver's License Change of Address

            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to notify the state?</button>
              <div class="answer">
                <div>
                  <p>Yes.</p>
                </div>
              </div>
              <button class="question">Where can I get a new driver's license?</button>
              <div class="answer">
                <div>
                  <p>We hate to say it, but you'll need to visit the <a href="https://www.flhsmv.gov/locations/"
                      target="_blank" rel="noreferrer noopener">Florida Department of Highway Safety and Motor
                      Vehicles</a>. Services are not
                    available online.</p>
                </div>
              </div>
              <button class="question">What will I need?</button>
              <div class="answer">
                <div>
                  <ul>
                    <li>Proof of identity. (Examples: U.S. birth certificate, valid U.S. passport, Certificate of
                      Naturalization)</li>
                    <li>Your Social Security card</li>
                    <li>Proof of residence. (Examples: Deed, mortgage, or utility bill)</li>
                    <li>Your current driver's license</li>
                  </ul>
                  <p>Check out Florida's <a href="http://www.gathergoget.com/" target="_blank"
                      rel="noreferrer noopener">GatherGoGet</a> website
                    for a complete listing of documents needed.</p>
                </div>
              </div>
              <button class="question">When do I need to get a new driver's license?</button>
              <div class="answer">
                <div>
                  <p>Act fast &mdash; you'll need to visit the Florida Department of Highway Safety and Motor Vehicles
                    office within 10 days of your move.</p>
                </div>
              </div>
              <button class="question">Do I need to take a driving test?</button>
              <div class="answer">
                <div>
                  <p>Nope. Save your real driving skills for the road. You will, however, have to pass a vision and
                    hearing test.</p>
                </div>
              </div>
              <button class="question">Is there a fee?</button>
              <div class="answer">
                <div>
                  <p>Ah, the age-old question. There is a $48 fee to obtain a Florida driver's license. Visit the
                    <a>fees page</a> for more information.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="faq-area info-vehicle-registration">
            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/vehicle-registration_dmv-change-of-address.svg">
              Florida Vehicle Registration Change of Address

            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to register my vehicle?</button>
              <div class="answer">
                <div>
                  <p>Yes.</p>
                </div>
              </div>
              <button class="question">Where can I register my vehicle?</button>
              <div class="answer">
                <div>
                  <p>You'll need to visit the <a href="https://www.flhsmv.gov/locations" target="_blank"
                      rel="noreferrer noopener">Florida
                      Department of Highway Safety and Motor Vehicles</a> in person.
                    Sorry to say, but services are not available online.
                    Avoid the lines, and <a href="https://services.flhsmv.gov/oasis/OnlineAppointments.aspx"
                      target="_blank" rel="noreferrer noopener">schedule an appointment</a> online.</p>
                </div>
              </div>
              <button class="question">What will I need?</button>
              <div class="answer">
                <div>
                  <ul>
                    <li>Your proof of identity. (Examples: U.S. birth certificate, valid U.S. passport, Certificate of
                      Naturalization)</li>
                    <li>Your original out-of-state title</li>
                    <li>Verification of physical inspection of the motor vehicle's Vehicle Identification Number
                      (VIN), completed on
                      <a href="https://www.flhsmv.gov/dmv/forms/btr/82040.pdf" target="_blank"
                        rel="noreferrer noopener">form HSMV 82040,
                        Application for Certificate of Title With/Without Registration</a></li>
                  </ul>
                </div>
              </div>
              <button class="question">When do I need to register my vehicle?</button>
              <div class="answer">
                <div>
                  <p>Don't sit on it &mdash; you'll need to register your v ehicle within 10 days of your move.</p>
                </div>
              </div>
              <button class="question">Is there a fee?</button>
              <div class="answer">
                <div>
                  <p>We don't fault you for asking. Costs vary. Visit the <a href="https://www.flhsmv.gov/fees/"
                      target="_blank" rel="noreferrer noopener">fees page</a> for more information.</p>
                </div>
              </div>
              <button class="question">Is an emission test required?</button>
              <div class="answer">
                <div>
                  <p>No.</p>
                </div>
              </div>
              <button class="question">Is proof of liability insurance required?</button>
              <div class="answer">
                <div>
                  <p>Yes. Visit Florida's <a href="https://www.flhsmv.gov/ddl/frfaqgen.html" target="_blank"
                      rel="noreferrer noopener">Vehicle
                      Insurance page</a> to learn more.</p>
                </div>
              </div>
            </div>
          </section>
        </section>
        <section class="dmv-redux--main-content" id="sect-leaving-state">
          <p class="dmv-redux--main-content-intro"><span class="intro--moving-direction">
              If you're moving <em>from Florida</em> to another state,</span> <span class="intro--text">you'll
              need
              to notify the
              state of Florida of your move. Make sure you check in with the state you're moving to, as well.
            </span>
          </p>

          <button class="dmv-redux--mobile-contact-btn">DMV Contact Information</button>
          <div class="dmv-redux--mobile-contact-content">
            <div>
              <h5>Website</h5>
              <span><a href="#">Florida Department of Highway Safety and Motor Vehicles</a></span>
              <h5>Phone</h5>
              <span>1 (850) 617-2000</span>
              <h5>Mail</h5>
              <span>Bureau of Issuance Oversight
                <br>P.O. Box 5775
                <br>Tallahassee, FL 32314-5775</span>
            </div>
          </div>

          <section class="faq-area info-drivers-license">
            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/license_dmv-change-of-address.svg">
              Florida Driver's License Change of Address
            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to notify the state?</button>
              <div class="answer">
                <div>
                  <p>No. When you receive a license from your new state, Florida will automatically cancel your driver
                    license.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="faq-area info-vehicle-registration">
            <h2>
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/v1564081075/icons/vehicle-registration_dmv-change-of-address.svg">
              Florida Vehicle Registration Change of Address
            </h2>

            <div class="dmv-redux--main-faq">
              <button class="question">Do I need to notify the state?</button>
              <div class="answer">
                <div>
                  <p>No.</p>
                </div>
              </div>
              <button class="question">Will filling out an official USPS Change of Address Form update it?</button>
              <div class="answer">
                <div>
                  <p>Nope.</p>
                </div>
              </div>
              <button class="question">Where can I complete my vehicle registration change of address?</button>
              <div class="answer">
                <div>
                  <p>Alas, services are not available online. You can mail your license plates and registration to:
                  </p>
                  <p class="special-info">Bureau of Records
                    <br>P.O. Box 5775
                    <br>Tallahassee, FL 32314-5775
                  </p>
                </div>
              </div>
              <button class="question">What will I need?</button>
              <div class="answer">
                <div>
                  <ul>
                    <li>Your license plates</li>
                    <li>Your registration</li>
                  </ul>
                </div>

              </div>
              <button class="question">Do I need to return my license plates?</button>
              <div class="answer">
                <div>
                  <p>Yes. Unfortunately, you won't be able to save them for the grandkids.</p>
                </div>
              </div>
            </div>
          </section>
        </section>
      </section>
    </section>
  </section>
  <section class="dmv-redux--next-steps-wrapper">
    <section class="dmv-redux--next-steps container-2018">
      <div class="dmv-redux--next-steps-text">
        <h2>What to Tackle&nbsp;Next</h2>
        <p>Still have more to do? Explore our money-saving tools and calculators.</p>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.39 182.39">
          <defs>
            <style>
              .check1 {
                fill: #39b3ca;
              }
            </style>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path class="check1"
                d="M117.64,22H97.39V20.31A5.31,5.31,0,0,0,92.08,15h-15a12.54,12.54,0,0,0,.34-2.8A12.2,12.2,0,1,0,53,12.2a12.54,12.54,0,0,0,.34,2.8h-16A5.31,5.31,0,0,0,32,20.31V22H11.75A11.76,11.76,0,0,0,0,33.75V170.64a11.76,11.76,0,0,0,11.75,11.75H117.64a11.76,11.76,0,0,0,11.75-11.75V33.75A11.76,11.76,0,0,0,117.64,22ZM58.72,12.67a6.48,6.48,0,0,1,13,0A6.39,6.39,0,0,1,71.23,15H59.16A6.6,6.6,0,0,1,58.72,12.67ZM38.2,22a.81.81,0,0,1,.86-.75H90.34a.82.82,0,0,1,.86.75V38.2h-53ZM93.42,44.39a4,4,0,0,0,4-4v-4H115V168H14.39V36.39H32v4a4,4,0,0,0,4,4Z" />
              <path class="check1"
                d="M86.35,78.88l-30.95,31L45,99.47a9.17,9.17,0,0,0-13,13l12.87,12.86a14.81,14.81,0,0,0,20.93,0L99.32,91.86a9.17,9.17,0,0,0-13-13Z" />
            </g>
          </g>
        </svg>
      </div>

      <div class="dmv-redux--next-steps-list">
        <div class="dmv-redux--next-steps-tile">
          <div class="dmv-redux--next-steps-tile-text">
            <h3>Set Up TV and Internet</h3>
            <span>We can help you make the best choice and schedule installation.</span>
          </div>
          <a href="https://www.updater.com/compare-internet-providers" target="_blank" rel="noreferrer noopener">
            <div>Explore packages</div>
          </a>
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1564519869/website/2019-d2c-direction/dmv-redux/dmv-redux_tv-internet.svg">
        </div>

        <div class="dmv-redux--next-steps-tile">
          <div class="dmv-redux--next-steps-tile-text">
            <h3>Find a Moving Company</h3>
            <span>Get quotes from Updater-Certified moving companies.</span>
          </div>
          <a href="https://www.updater.com/find-a-moving-company" target="_blank" rel="noreferrer noopener">
            <div>Get a quote</div>
          </a>
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1564519869/website/2019-d2c-direction/dmv-redux/dmv-redux_moving-boxes.svg">
        </div>

        <div class="dmv-redux--next-steps-tile">
          <div class="dmv-redux--next-steps-tile-text">
            <h3>Rent a Moving&nbsp;Truck</h3>
            <span>Want to go DIY? Save 10% on any Penske truck rental.</span>
          </div>
          <a href="https://www.pensketruckrental.com/rental_entry.html" target="_blank" rel="noreferrer noopener">
            <div>Get started</div>
          </a>
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1564519869/website/2019-d2c-direction/dmv-redux/dmv-redux_moving-truck.svg">
        </div>

        <div class="dmv-redux--next-steps-tile">
          <div class="dmv-redux--next-steps-tile-text">
            <h3>Estimate Your Moving&nbsp;Costs</h3>
            <span>Fine-tune your moving budget with our handy calculator.</span>
          </div>
          <a href="https://www.updater.com/moving-tips/moving-cost-calculator" target="_blank"
            rel="noreferrer noopener">
            <div>Get started</div>
          </a>
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1564519869/website/2019-d2c-direction/dmv-redux/dmv-redux_calculate.svg">
        </div>

      </div>

    </section>
  </section>

  <section class="dmv-redux--learn-more">
    <div>
      <h5>Moving? We can help! <a href="/claim" target="_blank" rel="noreferrer noopener">Learn more about
          Updater.</a>
      </h5>
    </div>
  </section>
</section>

<script src="/scripts/upd-b-2019-aug.min.js"></script>


<script>
  function tabHandler(e) {
    var allContents = document.querySelectorAll('.dmv-redux--main-content');
    var currentContent = document.getElementById(e.target.dataset.tab);
    var allTabs = document.querySelectorAll('.dmv-redux--tab');
    var currentTab = e.target;

    allContents.forEach(function (contentArea) {
      if (contentArea === currentContent) {
        contentArea.classList.add('is-on');
      } else {
        contentArea.classList.remove('is-on');
      }
    });

    allTabs.forEach(function (tab) {
      tab.classList.remove('active-tab');
      if (tab === currentTab) {
        tab.classList.add('active-tab');
      }
    })
    var stickPos = document.querySelector('.dmv-redux--main').offsetTop;
    window.scrollTo({
      top: stickPos,
      behavior: 'smooth'
    });
  }

  function initTabNavs() {
    var tabs = document.querySelectorAll('.dmv-redux--tab');
    tabs.forEach(function (tab) {
      tab.addEventListener('click', tabHandler);
    });
  }

  function collapseToggle(items) {
    function decideToggle(e) {
      var question = e.target;
      if (window.innerWidth >= 768) {
        return;
      }
      question.classList.toggle('active');
      var answer = question.nextElementSibling;
      if (answer.style.maxHeight) {
        answer.style.maxHeight = null;
      } else {
        answer.style.maxHeight = answer.scrollHeight + "px";
      }
    }

    function bindListeners(item) {
      item.addEventListener('click', decideToggle)
    };

    items.forEach(bindListeners);
  }

  function initAccordion() {
    collapseToggle(document.querySelectorAll('.dmv-redux--mobile-contact-btn'));
    collapseToggle(document.querySelectorAll('.question'));
  }

  function selectedVal(pulldown) {
    return pulldown.options[pulldown.options.selectedIndex].value;
  }

  function highlightForm(pulldown) {
    pulldown.style.boxShadow = "0 1px 3px rgba(255,0,0,.8)";
    pulldown.style.border = "1px solid red";
  }

  function cleanFormStyle(e) {
    var pulldown = e.target;
    pulldown.style.boxShadow = "none";
    pulldown.style.border = "1px solid #DDD";
  }

  function stateSelectorInit() {
    var linkPerState = {
      AL: "/alabama-dmv-change-of-address",
      AK: "/alaska-dmv-change-of-address",
      AZ: "/arizona-dmv-change-of-address",
      AR: "/arkansas-dmv-change-of-address",
      CA: "/california-dmv-change-of-address",
      CO: "/colorado-dmv-change-of-address",
      CT: "/connecticut-dmv-change-of-address",
      DE: "/delaware-dmv-change-of-address",
      FL: "/florida-dmv-change-of-address",
      GA: "/georgia-dmv-change-of-address",
      HI: "/hawaii-dmv-change-of-address",
      ID: "/idaho-dmv-change-of-address",
      IL: "/illinois-dmv-change-of-address",
      IN: "/indiana-dmv-change-of-address",
      IA: "/iowa-dmv-change-of-address",
      KS: "/kansas-dmv-change-of-address-1",
      KY: "/kentucky-dmv-change-of-address",
      LA: "/louisiana-dmv-change-of-address",
      ME: "/maine-dmv-change-of-address",
      MD: "/maryland-dmv-change-of-address",
      MA: "/massachusetts-dmv-change-of-address",
      MI: "/michigan-dmv-change-of-address",
      MN: "/minnesota-dmv-change-of-address",
      MS: "/mississippi-dmv-change-of-address",
      MO: "/missouri-dmv-change-of-address",
      MT: "/montana-dmv-change-of-address",
      NE: "/nebraska-dmv-change-of-address",
      NV: "/nevada-dmv-change-of-address",
      NH: "/new-hampshire-dmv-change-of-address",
      NJ: "/newjersey-dmv-change-of-address",
      NM: "/newmexico-dmv-change-of-address",
      NY: "/new-york-dmv-change-of-address",
      NC: "/north-carolina-dmv-change-of-address",
      ND: "/north-dakota-dmv-change-of-address",
      OH: "/ohio-dmv-change-of-address",
      OK: "/oklahoma-dmv-change-of-address",
      OR: "/oregon-dmv-change-of-address",
      PA: "/pennsylvania-dmv-change-of-address",
      RI: "/rhode-island-dmv-change-of-address",
      SC: "/south-carolina-dmv-change-of-address",
      SD: "/south-dakota-dmv-change-of-address",
      TN: "/tennessee-dmv-change-of-address",
      TX: "/texas-dmv-change-of-address",
      UT: "/utah-dmv-change-of-address",
      VT: "/vermont-dmv-change-of-address",
      VA: "/virginia-dmv-change-of-address",
      WA: "/washington-dmv-change-of-address",
      DC: "/washington-dc-dmv-change-of-address",
      WV: "/westvirginia-dmv-change-of-address",
      WI: "/wisconsin-dmv-change-of-address",
      WY: "/wyoming-dmv-change-of-address"
    };

    function checkState() {
      if (selectedVal(stateOptions) === "") {
        highlightForm(stateOptions);
        return;
      } else {
        var toOpen = "https://www.updater.com".concat(linkPerState[selectedVal(stateOptions)]);
        window.open(toOpen, '_self');
      }
    }

    var stateOptions = document.querySelector('#dmv-redux--hero-state-select-ui');
    var stateBtn = document.querySelector('#dmv-redux--hero-state-select-btn');
    stateBtn.addEventListener('click', checkState);
    stateOptions.addEventListener('change', cleanFormStyle);

  }

  function init() {
    initNav('d2c'); // Initialize mobile menu on smaller viewport

    initTabNavs();
    initAccordion();
    stateSelectorInit();
  }

  window.onload = function () {
    init();
  }
</script>