    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater
        </span>
        <span class="u-location">
          New York, NY
        </span>
        <h6 class="u-title">Senior Backend Engineer</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Technology
        </span>
        <span class="u-department">
          Engineering
        </span>
      </div>
    </article>
    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater
        </span>
        <span class="u-location">
          New York, NY
        </span>
        <h6 class="u-title">Customer Success Operations Manager</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Client Management
        </span>
        <span class="u-department">
          Client Success
        </span>
      </div>
    </article>
    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater
        </span>
        <span class="u-location">
          Oakland, CA or New York, NY
        </span>
        <h6 class="u-title">Lead Data Analyst</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Data
        </span>
        <span class="u-department">
          Analytics
        </span>
      </div>
    </article>
    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater Home Services
        </span>
        <span class="u-location">
          Atlanta, GA
        </span>
        <h6 class="u-title">Account Manager</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Client Management
        </span>
        <span class="u-department">
          Account Management
        </span>
      </div>
    </article>
    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater Home Services
        </span>
        <span class="u-location">
          Atlanta, GA
        </span>
        <h6 class="u-title">Business Analyst (API Experience Required)</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Operations
        </span>
        <span class="u-department">
          Business Ops
        </span>
      </div>
    </article>
    <article class="job-card">
      <div class="card-body">
        <span class="u-company">
          Updater Home Services
        </span>
        <span class="u-location">
          Atlanta, GA
        </span>
        <h6 class="u-title">Systems Analyst</h6>
      </div>
      <div class="department-pills">
        <span class="u-department">
          Operations
        </span>
        <span class="u-department">
          Business Ops
        </span>
      </div>
    </article>