.b2b-2020.home {
  .b2b-navbar-height-adjustment();
  .top-intro {
    min-height: calc(~"100vh - 355px");
    padding-top: 40px;
    padding-bottom: 40px;
    .display-flex();
    justify-content: center;
    align-items: center;
    .text-elements {
      .display-flex();
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      h1,
      h2,
      h3,
      p {
        margin: 0;
      }
      h1,
      h2,
      h3 {
        font-weight: 800;
      }
      h1 {
        font-size: 2.5em;
        line-height: 1.2;
        color: @upd-navy;
        margin-bottom: 0.2em;
      }
      h2 {
        font-size: 1.6em;
        line-height: 1.5;
        margin-bottom: 1em;
        color: @upd-blue;
      }
      padding-left: 15px;
      padding-right: 15px;
      .home-ctas {
        .display-flex();
        justify-content: space-between;
        max-width: 650px;
        .d2c,
        .b2b {
          color: #fff;
          font-size: 14px;
          line-height: 1.6;
          background: @upd-light-blue;
          padding: 30px;
          width: 48%;
          border-radius: 16px;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          h3 {
            font-size: 1.2em;
            margin-bottom: 0.75em;
          }
          p {
            .merriweather();
            margin-bottom: 1em;
          }
          button {
            font-size: 0.8em;
            border-radius: 3em;
            background: #ffffff;
            padding: 1.5em 2em;
            line-height: 1;
            color: @upd-light-blue;
            border: none;
            transition: transform 0.2s;
            &:hover {
              transform: translateY(-3px);
            }
          }
        }
        .d2c svg {
          width: 27px;
          height: 40px;
          display: block;
          margin-bottom: 15px;
        }
        .b2b svg {
          width: 40px;
          height: 40px;
          display: block;
          margin-bottom: 15px;
        }
      }
      @media @screen992 {
        font-size: 18px;
      }
      @media @screen900 {
        h1 br {
          display: none;
        }
        .home-ctas {
          flex-direction: column;
          .d2c,
          .b2b {
            width: 100%;
            svg {
              display: inline;
              margin: 0 15px 0 0;
              width: 27px;
              height: 27px;
            }
            h3 {
              .display-flex();
              align-items: center;
            }
          }
          .b2b {
            margin-top: 25px;
          }
        }
      }
      @media @screen550 {
        font-size: 15px;
        .home-ctas {
          .d2c,
          .b2b {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
    .video-item {
      flex: 0 0 350px;
      flex-basis: 350px;
      margin-left: 120px;
      .video-wrapper {
        background: @upd-navy;
        border-radius: 24px;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.32);
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;
        transform: translate3d(-30px, 0, 0);
        // max-width: 350px;
        box-sizing: border-box;
        border: 3px solid #ddd;
        line-height: 0;
        // transform: translateX(-20px);
        video {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        .video-poster {
          display: block;
        }
      }
      @media @screen1200 {
        margin-left: 90px;
      }
      @media @screen1024 {
        margin-left: 60px;
      }
    }

    @media screen and (max-width: 820px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      .text-elements {
        max-width: 600px;
        text-align: center;
        .home-ctas {
          flex-direction: row;
          align-items: stretch;
          p {
            display: none;
          }
          .d2c,
          .b2b {
            margin: 0;
            width: 48%;
            h3 {
              flex-direction: column;
            }
            svg {
              display: block;
              height: 40px;
              width: 40px;
              margin-bottom: 15px;
            }
          }
          .d2c svg {
            width: 27px;
          }
        }
      }
      .video-item {
        // flex-basis: 750px;
        margin-top: 60px;
        margin-left: 0;
        .video-wrapper {
          width: 350px;
          margin-left: auto;
          margin-right: auto;
          transform: translate3d(0, 0, 0);
        }
        padding-top: 60px;
        padding-bottom: 60px;
        width: 100%;
        background-color: @upd-blue;
        background-image: url("https://res.cloudinary.com/updater-marketing/image/upload/v1580765398/website/2020-b2b-relaunch/icons-and-patterns/b2b-icon-pattern.png");
        background-position: center;
        background-repeat: repeat;
        border: 1px solid @upd-blue;
      }
    }
    @media @screen550 {
      .video-item .video-wrapper {
        width: 320px;
      }
    }
  }
}
