<section class="team-2020">
  <div class="breadcrumb-2018">
    <nav class="container-2018">
      <ul>
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/team/">Team</a></li>
      </ul>
    </nav>
  </div>

  <section class="hero-area">
    <div class="container-2018">
      <squarespace:block-field id="team-2018--hero-block-field" />
    </div>
  </section>
  <section class="upd-team-container container-2018">
    <ul class="tab-nav">
      <li class="active" data-company="updater">Updater Inc</li>
      <li data-company="uhs">Updater Home Services</li>
      <li data-company="mhq">MoveHQ</li>
    </ul>
    <section class="team-intro active" data-company="updater">
      <section class="overview">
        <h3>We build the foundational software platform and SaaS integrations to reinvent the American moving
          experience.</h3>
        <span><strong>Offices:</strong> New York, NY &bull; Oakland, CA</span>
      </section>
      <section class="leadership">
        <h4>Leadership</h4>
        <div class="leadership-members">
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580827869/team%20photos/David_Greenberg_Headshot_2020.png"
              alt="David"
              data-quote="There are several sacred things in this world that you don't ever mess with—one of them happens to be another man's fries.">
            <p>
              David G
              <span>Founder and CEO</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1446833914/team%20photos/Headshots/Ryan-Hubbard.jpg"
              alt="Ryan" data-quote="I've driven off with the gas pump still attached to the car... twice.">
            <p>
              Ryan H
              <span>CTO and COO</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1572878779/team%20photos/Zack_S_2019.png"
              alt="Zack" data-quote="Promise Big. Deliver Big.">
            <p>
              Zack S
              <span>President</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/john-pumpelly.jpg"
              alt="John P" data-quote="quote here">
            <p>
              John P
              <span>CFO</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1479310116/team%20photos/Headshots/Lindsey-Dole.jpg"
              alt="Lindsey"
              data-quote="I really like heights. You know, the opposite of acrophobia. I looked it up though; there's no word for it! ... Acromania?">
            <p>
              Lindsey D
              <span>SVP, People</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1528385156/team%20photos/Headshots/Jarrett_S.jpg"
              alt="Jarrett"
              data-quote="Appreciation is a wonderful thing. It makes what is excellent in others belong to us as well.">
            <p>
              Jarrett S
              <span>GM, Real Estate</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1554484776/team%20photos/teamphotos-lr-2-Andries_d.jpg"
              alt="Andries"
              data-quote="By the time a man realizes that his father was right, he has a son who thinks he's wrong.">
            <p>
              Andries D.
              <span>SVP, Commercial Partnerships</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1446153630/team%20photos/Headshots/Jenna-Weinerman.jpg"
              alt="Jenna" data-quote="I've never pumped my own gas. Hey, I'm from NJ!">
            <p>
              Jenna W
              <span>VP, Marketing</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1446834123/team%20photos/Headshots/Steve-Ricciardelli.jpg"
              alt="Steve" data-quote="I'd rather be skydiving.">
            <p>
              Stephen R
              <span>VP, Engineering</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1511388684/team%20photos/Chris_B.jpg"
              alt="Chris" data-quote="I've never met a burrito I didn't love.">
            <p>
              Chris B
              <span>VP, Data</span>
            </p>
          </div>
        </div>
      </section>
      <section class="department">
        <h4>Departments</h4>
        <div class="department-photos">
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8721.jpg"
              alt="Business Development">
            <span class="team-picture-caption turquoise">Business Development</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8780-_1.jpg"
              alt="Product & Engineering">
            <span class="team-picture-caption light-blue">Product & Engineering</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8739.jpg"
              alt="Client Success">
            <span class="team-picture-caption light-green">Client Success</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8826.jpg"
              alt="Operations">
            <span class="team-picture-caption blue">Operations</span>
          </div>
        </div>
      </section>
    </section>
    <section class="team-intro" data-company="uhs">
      <section class="overview">
        <h3>We make everyone's life better by connecting brands and consumers and providing value to all paries
          involved. </h3>
        <span><strong>Offices:</strong> Atlanta, GA &bull; Denver, CO &bull; Miramar, FL</span>
      </section>
      <section class="leadership">
        <h4>Leadership</h4>
        <div class="leadership-members">
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/sean-barry.jpg"
              alt="Sean" data-quote="quote here">
            <p>
              Sean B
              <span>President</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/john-caplinger.jpg"
              alt="John C" data-quote="quote here">
            <p>
              John C
              <span>Chief Customer Officer</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/frank-grillo.jpg"
              alt="Frank" data-quote="quote here">
            <p>
              Frank G
              <span>CMO</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/travis-priest.jpg"
              alt="Travis" data-quote="Quote here">
            <p>
              Travis P
              <span>CTO</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580927783/website/2020-b2b-relaunch/company-leaders/j-r-froy.png"
              alt="JRF" data-quote="Quote here">
            <p>
              J.R. F
              <span>SVP, Enterprise Products and Services</span>
            </p>
          </div>
        </div>
      </section>
      <section class="department">
        <h4>Departments</h4>
        <div class="department-photos">
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8721.jpg"
              alt="Business Development">
            <span class="team-picture-caption turquoise">Business Development</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8780-_1.jpg"
              alt="Product & Engineering">
            <span class="team-picture-caption light-blue">Product & Engineering</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8739.jpg"
              alt="Client Success">
            <span class="team-picture-caption light-green">Client Success</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8826.jpg"
              alt="Operations">
            <span class="team-picture-caption blue">Operations</span>
          </div>
        </div>
      </section>
    </section>
    <section class="team-intro" data-company="mhq">
      <section class="overview">
        <h3>We revolutionize the moving industry through technology that defines the standard.</h3>
        <span><strong>Offices:</strong> Reynoldsburg, OH &bull; Bridgeton, MO</span>
      </section>
      <section class="leadership">
        <h4>Leadership</h4>
        <div class="leadership-members">
          <div class="person">
            <img
              src="https://res.cloudinary.com/movehq/image/upload/f_auto,c_fill,w_300,h_300/v1538576633/MoveHQ%20Team/Brian_Ferguson.jpg"
              alt="Brian" data-quote="Quote here">
            <p>
              Brian F
              <span>President</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/movehq/image/upload/f_auto,c_fill,w_300,h_300/v1538576634/MoveHQ%20Team/Tyson_McTear.jpg"
              alt="Tyson" data-quote="Quote here">
            <p>
              Tyson M
              <span>VP, Technical Operations & Development</span>
            </p>
          </div>
          <div class="person">
            <img
              src="https://res.cloudinary.com/movehq/image/upload/f_auto,c_fill,w_300,h_300/v1538576638/MoveHQ%20Team/Steve_Lassanske.jpg"
              alt="Steve" data-quote="Quote here">
            <p>
              Steve L
              <span>VP, Administration, Products & Projects</span>
            </p>
          </div>
        </div>
      </section>
      <section class="department">
        <h4>Departments</h4>
        <div class="department-photos">
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8721.jpg"
              alt="Business Development">
            <span class="team-picture-caption turquoise">Business Development</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8780-_1.jpg"
              alt="Product & Engineering">
            <span class="team-picture-caption light-blue">Product & Engineering</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8739.jpg"
              alt="Client Success">
            <span class="team-picture-caption light-green">Client Success</span>
          </div>
          <div class="team-picture">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1580925137/website/2020-b2b-relaunch/team-photos/DSC_8826.jpg"
              alt="Operations">
            <span class="team-picture-caption blue">Operations</span>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="team-2020--pupdater">
    <section class="team-2020--pupdater-slider container-2018">

      <squarespace:block-field id="team-2018--pupdater-tag-wrapper" />
    </section>
  </section>
  <section class="team-2020--blog">
    <section class="blog-preview-items container-2018" style="background: #FFF;">
      <h2>Updater Life</h2>
      <div class="blog-preview-2018" data-flickity='{ "wrapAround": true }'>
        <squarespace:query collection="updater-life" limit="6">
          {.repeated section items}
          <div class="blog-preview-item-2018">
            <a href="{fullUrl}" class="thumb">
              <img class="wo_cloudinary__blog-preview" src="{assetUrl}?format=500w" alt="{title}">
            </a>
            <span class="blog-list--item-date" style="text-align: left; margin-left: 20px;">
              <time datetime="{addedOn|date %F}">{addedOn|date %B %d, %Y}</time>
            </span>
            <h4 class="title" style="padding-top: 0;">
              <a href="{fullUrl}">{title}</a>
            </h4>
          </div>
          {.end}
        </squarespace:query>
      </div>
      <a class="blue-btn-outline-2018" href="/updater-life/">Browse more on company blog</a>
    </section>
  </section>
</section>
<script src="/scripts/flickity.pkgd.min.js"></script>

<script src="/scripts/upd-b-2020-01.js"></script>
<script>
  function initTabs() {
    var tabs = document.querySelectorAll('.tab-nav li');
    var contentAreas = document.querySelectorAll('section.team-intro');

    function toggleTab(clickedTab) {
      tabs.forEach(function (tab) {
        if (tab === clickedTab) {
          tab.classList.add('active');
        } else {
          tab.classList.remove('active');
        }
      });
    }

    function toggleContent(targetArea) {
      contentAreas.forEach(function (area) {
        if (area.dataset.company === targetArea) {
          area.classList.add('active');
        } else {
          area.classList.remove('active');
        }
      });
    }

    function handleTabs(e) {
      var clickedTab = e.target;
      var targetArea = e.target.dataset.company;
      console.log(clickedTab, targetArea);
      toggleTab(clickedTab);
      toggleContent(targetArea);
    }
    tabs.forEach(function (tab) {
      tab.addEventListener('click', handleTabs);
    });
    console.log('initiating tabs');
  }

  function init() {
    initNav('d2c');
    initTabs();
  }
  window.onload = function () {
    init();
  };
</script>