<section class="b2b-2020 biz">
  <section class="top-intro-wrapper">
    <section class="top-intro container-2018">
      <section class="text-elements">
        <h1>Partner with us.</h1>
        <h2>Every minute, 14 households use our technology for their move.</h2>
        <p>If you want to help your customers move or find new customers during a move, you’re in the right place. Tap
          into the nation’s most extensive suite of moving technology and add business value where it matters most.</p>
      </section>
      <section class="video-item">
        <div class="video-wrapper">
          <video autoplay loop playsinline muted
            poster="https://res.cloudinary.com/updater-marketing/image/upload/v1580826491/website/2020-b2b-relaunch/video-assets/concept-app-business-context-poster.jpg"
            class="video-poster">
            <source
              src="https://res.cloudinary.com/updater-marketing/video/upload/f_auto/v1580743484/website/2020-b2b-relaunch/video-assets/concept-app-business-context.mp4">
          </video>
        </div>
      </section>
    </section>
  </section>
  <section class="b2b-questionnaire">
    <section class="b2b-questions container-2018">
      <section class="b2b-q1">
        <h3>Let's point you to a right direction. What's's your industry?</h3>

        <form action="" class="forms">
          <input type="radio" id="q1-re" name="q1-radio" value="Real Estate">
          <label for="q1-re">
            <span class="circle"></span>
            Real Estate
          </label>

          <input type="radio" id="q1-moving" name="q1-radio" value="Moving & Storage">
          <label for="q1-moving">
            <span class="circle"></span>
            Moving & Storage
          </label>

          <input type="radio" id="q1-util" name="q1-radio" value="Utilities">
          <label for="q1-util">
            <span class="circle"></span>
            Utilities
          </label>

          <input type="radio" id="q1-grocery" name="q1-radio" value="Food & Grocery">
          <label for="q1-grocery">
            <span class="circle"></span>
            Food & Grocery
          </label>

          <input type="radio" id="q1-banking" name="q1-radio" value="Banking & Finance">
          <label for="q1-banking">
            <span class="circle"></span>
            Banking & Finance
          </label>

          <input type="radio" id="q1-internet" name="q1-radio" value="Internet & TV">
          <label for="q1-internet">
            <span class="circle"></span>
            Internet & TV
          </label>

          <input type="radio" id="q1-insurance" name="q1-radio" value="Insurance">
          <label for="q1-insurance">
            <span class="circle"></span>
            Insurance
          </label>

          <input type="radio" id="q1-home" name="q1-radio" value="Home-Related Services">
          <label for="q1-home">
            <span class="circle"></span>
            Home-Related Services
          </label>

          <input type="radio" id="q1-health" name="q1-radio" value="Health & Personal">
          <label for="q1-health">
            <span class="circle"></span>
            Health & Personal
          </label>

          <input type="radio" id="q1-retail" name="q1-radio" value="Retail">
          <label for="q1-retail">
            <span class="circle"></span>
            Retail
          </label>

          <input type="radio" id="q1-other" name="q1-radio" value="Other">
          <label for="q1-other">
            <span class="circle"></span>
            Other
          </label>

        </form>
      </section>
      <section class="b2b-q1-2">
        <h3>In which sector?</h3>

        <form action="" class="forms">
          <input type="radio" id="q1-2-pm" name="q1-2-radio" value="Property Management">
          <label for="q1-2-pm">
            <span class="circle"></span>
            Property Management
          </label>

          <input type="radio" id="q1-2-broker" name="q1-2-radio" value="Brokerage">
          <label for="q1-2-broker">
            <span class="circle"></span>
            Brokerage
          </label>

          <input type="radio" id="q1-2-mortgage" name="q1-2-radio" value="Mortgage & Title">
          <label for="q1-2-mortgage">
            <span class="circle"></span>
            Mortgage & Title
          </label>


        </form>

      </section>
      <section class="b2b-q2">
        <h3>What are your challenges?</h3>

        <form action="" class="forms">
          <input type="checkbox" id="q2-01" data-topic="re" data-audience="pm" name="q2-checkbox" value="q2-01">
          <label for="q2-01" data-audience="pm" data-topic="re" class="longform">
            <span class="square"></span>
            Provide seamless, painless moving experience for your residents.
          </label>

          <input type="checkbox" id="q2-02" data-topic="re" data-audience="brokerage mortgage" name="q2-checkbox"
            value="q2-02">
          <label for="q2-02" data-audience="brokerage mortgage" data-topic="re" class="longform">
            <span class="square"></span>
            Provide seamless, painless moving experience for your clients.
          </label>

          <input type="checkbox" id="q2-03" data-topic="re" data-audience="brokerage mortgage" name="q2-checkbox"
            value="q2-03">
          <label for="q2-03" data-audience="pm" data-topic="re" class="longform">
            <span class="square"></span>
            Establish a continuous communication channel with your residents.
          </label>

          <input type="checkbox" id="q2-04" data-topic="re" data-audience="brokerage mortgage" name="q2-checkbox"
            value="q2-04">
          <label for="q2-04" data-audience="brokerage mortgage" data-topic="re" class="longform">
            <span class="square"></span>
            Establish a continuous communication channel with your clients.
          </label>

          <input type="checkbox" id="q2-05" data-topic="re" data-audience="pm brokerage mortgage moving"
            name="q2-checkbox" value="q2-05">
          <label for="q2-05" data-audience="pm brokerage mortgage moving" data-topic="re" class="longform">
            <span class="square"></span>
            Automate repetitive communication tasks for your transaction.
          </label>

          <input type="checkbox" id="q2-06" data-topic="ops" data-audience="moving" name="q2-checkbox" value="q2-06">
          <label for="q2-06" data-audience="moving" data-topic="ops" class="longform">
            <span class="square"></span>
            Centralized end-to-end software to run the entire business.
          </label>

          <input type="checkbox" id="q2-07" data-topic="re" data-audience="moving" name="q2-checkbox" value="q2-07">
          <label for="q2-07" data-audience="moving" data-topic="re" class="longform">
            <span class="square"></span>
            Provide an all-in-one moving concierge service to clients as an added value.
          </label>

          <input type="checkbox" id="q2-08" data-topic="commerce" data-audience="marketing commerce" name="q2-checkbox"
            value="q2-08">
          <label for="q2-08" data-audience="marketing commerce" data-topic="commerce" class="longform">
            <span class="square"></span>
            Retain existing customers who are about to move.
          </label>

          <input type="checkbox" id="q2-09" data-topic="commerce" data-audience="marketing commerce" name="q2-checkbox"
            value="q2-09">
          <label for="q2-09" data-audience="marketing commerce" data-topic="commerce" class="longform">
            <span class="square"></span>
            Reach new customers who are moving to your service area.
          </label>

          <input type="checkbox" id="q2-10" data-audience="marketing commerce" data-topic="commerce" name="q2-checkbox"
            value="q2-08">
          <label for="q2-10" data-audience="marketing" data-topic="commerce" class="longform">
            <span class="square"></span>
            Efficient commerce call-center capabilities to automate and promote sales.
          </label>

          <input type="checkbox" id="q2-11" data-audience="marketing" data-topic="marketing" name="q2-checkbox"
            value="q2-11">
          <label for="q2-11" data-audience="marketing" data-topic="marketing" class="longform">
            <span class="square"></span>
            Build a backyard barbecue area that smells good.
          </label>

          <input type="checkbox" id="q2-12" data-topic="marketing" data-audience="marketing" name="q2-checkbox"
            value="q2-12">
          <label for="q2-12" data-audience="marketing" data-topic="marketing" class="longform">
            <span class="square"></span>
            Learn how to build a spaceship to go on a space vacation.
          </label>

          <input type="checkbox" id="q2-13" data-audience="marketing" data-topic="marketing" name="q2-checkbox"
            value="q2-13">
          <label for="q2-13" data-audience="marketing" data-topic="marketing" class="longform">
            <span class="square"></span>
            Practice sword fight.
          </label>

          <input type="checkbox" id="q2-14" data-audience="marketing" data-topic="marketing" name="q2-checkbox"
            value="q2-14">
          <label for="q2-14" data-audience="marketing" data-topic="marketing" class="longform">
            <span class="square"></span>
            Bake a huge cupcake that can feed an entire infantry division.
          </label>

          <input type="checkbox" id="q2-15" data-audience="marketing" data-topic="marketing" name="q2-checkbox"
            value="q2-15">
          <label for="q2-15" data-audience="marketing" data-topic="marketing" class="longform">
            <span class="square"></span>
            Ponder upon the meaning of your life, or the lack thereof.
          </label>

        </form>
        <button disabled class="final-btn">View solutions</button>
      </section>
    </section>
    <section class="b2b-answers">
      <h3>
        Recommended solutions for you
      </h3>
      <div class="card-container container-2018">
        <div class="b2b-card" data-topic="marketing" data-audience="marketing">
          <h4>
            Marketing Solutions
          </h4>
          <p>
            Showcase your brand in front of millions of moving Americans. Offer products and services exactly when they
            need them.
          </p>
          <a href="#"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="ops" data-audience="moving">
          <h4>
            Moving & Storage Operation Solutions
          </h4>
          <p>
            Power your moving & storage business with industry-leading platform solution built by MoveHQ
          </p>
          <a href="https://www.movehq.com" target="_blank" rel="noreferrer noopener"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re" data-audience="moving">
          <h4>
            Concierge Solutions for Moving & Storage
          </h4>
          <p>
            Provide a unique value-add to your customers by offering a all-in-one digital moving concierge app.
          </p>
          <a href="/solutions/moving"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="commerce" data-audience="commerce">
          <h4>
            Commerce Solutions
          </h4>
          <p>
            Trust our call center operations to take over your sales efforts to reach new movers. Whatever your product
            or service is, our trained experts can consult, recommend, and sell it to confirmed movers.
          </p>
          <a href="#"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re" data-audience="pm">
          <h4>
            Moving Concierge for Property Management
          </h4>
          <p>
            Provide a delightful moving experience for your residents, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/multifamily"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re" data-audience="brokerage">
          <h4>
            Moving Concierge for Real Estate Brokerage
          </h4>
          <p>
            Provide a delightful moving experience for your clients, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/real-estate"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re" data-audience="mortgage">
          <h4>
            Moving Concierge for Mortgage & Title
          </h4>
          <p>
            Provide a delightful moving experience for your clients, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/real-estate"><button>Learn more</button></a>
        </div>
      </div>
    </section>
  </section>
  <section class="b2b-demo-form" id="business-products-form">
    <div class="container-2018">
      <h2>Request a Demo</h2>
      <h6>We'll get back to you within one day.</h6>
      <script src="https://app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1871"></form>
      <script>
        MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1871);
      </script>
    </div>
  </section>
</section>

<script src="/scripts/upd-b-2020-01.js"></script>

<script>
  var initQuestionnaire = function () {
    var q1Form = document.querySelector('.b2b-q1 > form');
    var q1_2Section = document.querySelector('.b2b-q1-2');
    var q2Section = document.querySelector('.b2b-q2');
    var q1_2Form = document.querySelector('.b2b-q1-2 > form');
    var q2Form = document.querySelector('.b2b-q2 > form');
    var submitButton = document.querySelector('.final-btn');
    var answerSection = document.querySelector('.b2b-answers');
    var solutionCards = answerSection.querySelectorAll('.b2b-card');
    var q1Answer;
    var q1_2Answer;
    var q2Topics;

    function q1Change(e) {
      resetForms(q2Form);
      hideAnswer();
      q1Answer = e.target.value;
      if (q1Answer === 'Real Estate') {
        toggleSection(q1_2Section, "block");
        toggleSection(q2Section, "none");
        uncheckInputs(q1_2Form)
        uncheckInputs(q2Form);
      } else {
        toggleSection(q1_2Section, "none");
        toggleSection(q2Section, "block");
        uncheckInputs(q2Form);
        switch (q1Answer) {
          case 'Moving & Storage':
            q2Topics = 'moving';
            break;
          case 'Utilities':
            q2Topics = 'commerce';
            break;
          case 'Internet & TV':
            q2Topics = 'commerce';
            break;
          case 'Insurance':
            q2Topics = 'commerce';
            break;
          case 'Home-Related Services':
            q2Topics = 'commerce';
            break;
          default:
            q2Topics = 'marketing';
            break;
        }
        hideIrrelevantQuestions(q2Topics);
      }
    }

    function q1_2Change(e) {
      q1_2Answer = e.target.value;
      hideAnswer();
      switch (q1_2Answer) {
        case 'Property Management':
          q2Topics = 'pm';
          break;
        case 'Brokerage':
          q2Topics = 'brokerage';
          break;
        case 'Mortgage & Title':
          q2Topics = 'mortgage';
          break;
        default:
          break;
      }
      toggleSection(q2Section, "block");
      uncheckInputs(q2Form);
      hideIrrelevantQuestions(q2Topics);
    }

    function hideIrrelevantQuestions(audience) {
      var items = q2Form.querySelectorAll('input, label');
      items.forEach(function (item) {
        var itemData = item.dataset.audience.split(' ');
        if (itemData.indexOf(audience) === -1) {
          item.style.display = 'none';
        } else {
          item.style.display = 'flex';
        }
      })
    }

    function toggleSection(section, type) {
      section.style.display = type;
    }

    function uncheckInputs(form) {
      form.querySelectorAll('input').forEach(function (item) {
        return item.checked = false;
      });
    }

    function q2_change() {
      var items = q2Form.querySelectorAll('input');
      var checkedItems = 0;
      hideAnswer();
      items.forEach(function (item) {
        return item.checked ? checkedItems += 1 : checkedItems += 0
      });
      if (checkedItems === 0) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }

    function resetForms(formElem) {
      q2Topics = '';
      formElem.querySelectorAll('input').forEach(function (item) {
        return item.checked = false;
      });
      if (formElem === q2Form) {
        submitButton.disabled = true;
      }
    }

    function resetAllForms() {
      resetForms(q1Form);
      resetForms(q1_2Form);
      resetForms(q2Form);
    }

    function hideAnswer() {
      answerSection.style.display = "none";
      document.querySelector('.final-btn').disabled = true;
    }

    function revealAnswer() {
      function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
      }

      function decideWhatToShow(industry, topic) {
        console.log(industry, topic);
        answerSection.style.display = 'block';
        solutionCards.forEach(function (card) {
          // card.style.display = card.dataset.audience === q2Topics ? 'block' : 'none';
          card.style.display = card.dataset.audience === q2Topics ? 'block' : 'none';

          if (q2Topics === 'commerce' && card.dataset.audience === 'marketing') {
            card.style.display = 'block';
          }
        })
      }
      var q2Answers = document.querySelectorAll('.b2b-q2 input[type=checkbox]:checked');
      var q2AnswersArray = Array.prototype.slice.call(q2Answers);
      var q2SelectedTopics = q2AnswersArray.map(function (answer) {
        return answer.dataset.topic;
      }).filter(onlyUnique);

      decideWhatToShow(q1Answer, q2SelectedTopics);
    }
    q1Form.addEventListener('change', q1Change);
    q1_2Form.addEventListener('change', q1_2Change);
    q2Form.addEventListener('change', q2_change);
    submitButton.addEventListener('click', revealAnswer);
    resetAllForms();
  }
  var init = function () {
    initNav('d2c');
    currentNav('business', 'b2b');
    initQuestionnaire();
  }
  window.onload = function () {
    init();
  }
</script>