<section class="b2b-2020 home">
  <section class="top-intro">
    <section class="text-elements">
      <h1>We reinvent how <br>Americans move</h1>
      <h2>and how businesses help them</h2>
      <div class="home-ctas">
        <div class="d2c">
          <h3>
            <svg>
              <use xlink:href="/assets/b2b-relaunch-icons.svg#d2c-app-icon"></use>
            </svg>
            Personal Moving App</h3>
          <p>Set up a personalized checklist, and remember and complete every task &mdash; saving time and money.</p>
          <a href="/">
            <button>Learn more</button>
          </a>
        </div>
        <div class="b2b">
          <h3>
            <svg>
              <use xlink:href="/assets/b2b-relaunch-icons.svg#b2b-solution-icon"></use>
            </svg>
            Business Solutions</h3>
          <p>Set up a personalized checklist, and remember and complete every task &mdash; saving time and money.</p>
          <a href="/businesses-new">
            <button>Learn more</button>
          </a>
        </div>
      </div>
    </section>
    <section class="video-item">
      <div class="video-wrapper">
        <video autoplay loop playsinline muted
          poster="https://res.cloudinary.com/updater-marketing/image/upload/v1580750711/website/2020-b2b-relaunch/video-assets/concept-app-consumer-needs-poster.jpg"
          class="video-poster">
          <source
            src="https://res.cloudinary.com/updater-marketing/video/upload/f_auto/v1580742746/website/2020-b2b-relaunch/video-assets/concept-app-consumer-needs.mp4">
        </video>
      </div>
    </section>
  </section>
</section>

<script src="/scripts/upd-b-2020-01.js"></script>

<script>
  var init = function () {
    initNav('d2c'); // Initialize mobile menu on smaller viewport
  }
  window.onload = function () {
    init();
  }
</script>