<section class="b2b-2020 util">
  <section class="hero-area">
    <section class="hero-content-wrapper container-2018">
      <section class="text-element">
        <h1>
          Consumers expect more from all brands &mdash; including utilities
        </h1>
        <h2>
          The utility industry is shifting rapidly, and consumers expect a
          seamless digital experience to manage their home.
        </h2>
        <button>Partner with us</button>
      </section>
      <section class="image-element">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1583863327/website/2020-b2b-relaunch/hero-images/shutterstock_76073197_r3.png"
          alt="Future of utilities" />
      </section>
    </section>
  </section>
  <section class="lead-in-takeaway">
    We provide an integrated, multi-channel concierge — <br />built for
    utilities, designed for customers, and <br />trusted by marketers.
  </section>
  <section class="smarter-concierge">
    <h3>
      A smarter concierge program
    </h3>
    <div class="concierge-card">
      <h5>
        <span class="image-block">
          <img class="scale"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/scale.svg"
            alt="" />
        </span>
        Create, enhance, and scale
      </h5>
      <p>your concierge program, both digitally and over the phone.</p>
    </div>
    <div class="concierge-card">
      <h5>
        <span class="image-block">
          <img class="increase"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/increase.svg"
            alt="" />
        </span>
        Launch new sales channels
      </h5>
      <p>
        to grow your ancillary revenue and reach customers before and after they call you.
      </p>
    </div>
    <div class="concierge-card">
      <h5>
        <span class="image-block">
          <img class="app"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/app.svg"
            alt="" />
        </span>
        Integrate our moving app
      </h5>
      <p>as a critical upgrade and value-add for customers.</p>
    </div>
    <div class="concierge-card">
      <h5>
        <span class="image-block">
          <img class="digital"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/digital.svg"
            alt="" />
        </span>
        Enroll customers & prospects digitally
      </h5>
      <p>in the products and services that you care about most.</p>
    </div>
  </section>
  <section class="our-proven-record">
    <h3>Our proven track record</h3>
    <div class="record-card">
      <h5>Trusted by the industry leaders</h5>
      <div class="record-entry">
        <h6>
          2 of the top 5
        </h6>
        <p>
          Fortune 500 utility companies
        </p>
      </div>
      <div class="record-entry">
        <h6>
          All top 20
        </h6>
        <p>
          nationwide media companies
        </p>
      </div>
    </div>
    <div class="record-card">
      <h5>Powering businesses worldwide</h5>
      <div class="record-entry">
        <h6 class="smaller">
          World leader in internet&nbsp;subscriptions
        </h6>
        <p>
          We sell more broadband subscriptions than any other company in the
          world
        </p>
      </div>
      <div class="record-entry">
        <h6 class="smaller">
          50,000+ call center&nbsp;agents
        </h6>
        <p>
          Our technology enables more than 50,000 call center agents worldwide
        </p>
      </div>
    </div>
  </section>
  <section class="service-highlight">
    <h3>
      Highlight of our services
    </h3>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="transfer"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/transfer.svg"
            alt="" />
        </span>
        Call transfer
      </h5>
      <p>
        The call is a catalyst, not a terminal event. We'll market your own
        products and cross-market additional moving-related products and
        services.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="digital-eng"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/digital-engagement.svg"
            alt="" />
        </span>
        Digital engagement
      </h5>
      <p>
        Reach more customers, including those who don't call or exist in a
        competitor's footprint.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="multiple"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/multiple.svg"
            alt="" />
        </span>
        Multi-channel platform
      </h5>
      <p>
        Give customers a choice of where and when to engage with you&mdash;over
        the phone, on the website, or on Updater.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="variety"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/variety.svg"
            alt="" />
        </span>
        Varied product catalog
      </h5>
      <p>
        Gain access to Updater's exclusive partnerships, products, and services
        to give your customers more choices when it matters most.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="web-app"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/web-app.svg"
            alt="" />
        </span>
        Moving app
      </h5>
      <p>
        Offer access to Updater's invite-only moving app as a value-add for
        those customers on the move.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="lifecycle"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/lifecycle.svg"
            alt="" />
        </span>
        Lifecycle marketing
      </h5>
      <p>
        Knowing what to say to customers and when is tricky&mdash;stay in touch
        intelligently with our lifecycle and life-stage marketing expertise.
      </p>
    </div>
  </section>
  <section class="utility-whitepaper">
    <section class="whitepaper-wrapper container-2018">
      <section class="image-element">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1583853289/website/2020-b2b-relaunch/ebook-images/Utility-Hardcover-Book-Hand.jpg"
          alt="whitepaper" />
      </section>
      <section class="text-and-form">
        <h6>Utility Insights Whitepaper</h6>
        <h4>The Utility's Guide to <br />Selecting a Moving Concierge</h4>
        <h5>10 Questions to Get the Info You Need</h5>
        <p>
          Evaluate concierge service providers with Updater's recommended
          questions (and, of course, our answers to each).
        </p>
        <form id="utility-whitepaper-form">
          <input type="text" placeholder="Email address" />
          <button>Get the guide</button>
        </form>
      </section>
    </section>
    <section class="business-products--form-area" id="business-products-form">
      <div class="container-2018">
        <h2>Partner with us</h2>
        <h6>We'll get back to you within one day.</h6>
        <script src="https://app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1871"></form>
        <script>
          MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1871);
        </script>
      </div>
    </section>
  </section>
  <div class="schedule-widget untriggered">
    <h5>Join us on the road</h5>
    <squarespace:block-field id="utility-event-schedule" />
    <h6>Utility Analytics Summit</h6>
    <p>
      April 15-17, 2020<br>
      San Francisco, CA
    </p>
    <h6>CS Week</h6>
    <p>
      May 18-22, 2020<br>
      Fort Worth, TX
    </p>
    <h6>EMACS</h6>
    <p>
      October 5-8, 2020<br>
      Orlando, FL
    </p>
    <button>Set up a time to chat</button>
  </div>
</section>

<script src="/scripts/upd-b-2020-01.js"></script>

<script>
  var init = function () {

    function initEmailform() {
      function emailFormSubmit(e) {
        e.preventDefault();
      }
      document.querySelector('#utility-whitepaper-form > button').addEventListener('click', emailFormSubmit);
    }

    function initScheduler() {
      function checkPosition(e) {
        if (window.scrollY <= 150) {
          scheduleWidget.classList.add('untriggered');
        } else {
          scheduleWidget.classList.remove('untriggered');
        }
        if (window.scrollY > document.body.clientHeight - (footerElem.clientHeight * 3 + formArea.clientHeight)) {
          scheduleWidget.classList.add('untriggered');

        }
      }

      function checkWidth() {
        if (document.body.clientWidth <= 600) {
          scheduleWidget.classList.add('collapsed');
        }
      }

      function toggleWidget() {
        scheduleWidget.classList.toggle('collapsed');
      }

      function jumpToForm() {
        checkPosition();
        window.scrollTo({
          top: formArea.offsetTop,
          behavior: 'smooth',
        })
      }

      var scheduleWidget = document.querySelector('.schedule-widget');
      var schedulerBtn = scheduleWidget.querySelector('button');
      var heroAreaBtn = document.querySelector('.hero-area button');
      var widgetHead = scheduleWidget.querySelector('h5');
      var openPrompt = scheduleWidget.querySelector('.open-prompt');
      var footerElem = document.querySelector('footer.revamp-2018-footer');
      var formArea = document.querySelector('#business-products-form');

      document.addEventListener('scroll', checkPosition);
      window.addEventListener('resize', checkWidth);
      widgetHead.addEventListener('click', toggleWidget);
      schedulerBtn.addEventListener('click', jumpToForm);
      heroAreaBtn.addEventListener('click', jumpToForm);

      function initiallSetup() {
        if (window.innerWidth <= 600) {
          scheduleWidget.classList.add('collapsed');
        }
        checkPosition();

      }
      initiallSetup();
    }

    initNav("d2c");
    currentNav("business", "b2b");
    initEmailform()
    initScheduler()
  };
  window.onload = function () {
    init();
  };
</script>