<section class="b2b-2020 util">
  <section class="hero-area">
    <squarespace:block-field id="b2b-util--header-area" />
    <section class="hero-content-wrapper container-2018">
      <section class="text-element">
        <h1>
          Consumers expect more from all brands &mdash; including utilities
        </h1>
        <h2>
          The utility industry is shifting rapidly, and consumers expect a
          seamless digital experience to manage their home.
        </h2>
        <button>Partner with us</button>
      </section>
      <style>
        .featherlight.featherlight-iframe .featherlight-content {
          height: 0;
          padding-top: 56.25%;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      </style>
      <section class="image-element">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1583863327/website/2020-b2b-relaunch/hero-images/shutterstock_76073197_r4B.png"
          alt="Future of utilities" />
        <a href="https://www.youtube.com/embed/USBfNllQX-U?rel=0&amp;autoplay=1" data-featherlight="iframe"
          data-featherlight-iframe-frameborder="0" data-featherlight-iframe-allow="autoplay; encrypted-media"
          data-featherlight-iframe-allowfullscreen="true"
          data-featherlight-iframe-style="position:absolute;top:0;left:0;width:100vw;height:100%;">
          <img class="video-button"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583875173/website/2020-b2b-relaunch/icons-and-patterns/video-prompt.png"
            alt="" />
        </a>
      </section>
    </section>
  </section>
  <section class="lead-in-takeaway">
    We provide an integrated, multi-channel moving concierge — <br />built for
    utilities, designed for customers, and <br />trusted by marketers.
  </section>
  <squarespace:block-field id="b2b-util--body-content" />
  <section class="smarter-concierge">
    <h3>
      A smarter concierge program
    </h3>
    <div class="concierge-card card-1">
      <h5>
        <span class="image-block">
          <img class="scale"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/scale.svg"
            alt="" />
        </span>
        <span class="text-content">
          Create, enhance, and scale
        </span>
      </h5>
      <p>your concierge program, both digitally and over the phone.</p>
    </div>
    <div class="concierge-card card-2">
      <h5>
        <span class="image-block">
          <img class="increase"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/increase.svg"
            alt="" />
        </span>
        <span class="text-content">
          Launch new sales channels
        </span>
      </h5>
      <p>
        to grow your ancillary revenue and reach customers before and after they
        call you.
      </p>
    </div>
    <div class="concierge-card card-3">
      <h5>
        <span class="image-block">
          <img class="app"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/app.svg"
            alt="" />
        </span>
        <span class="text-content">
          Integrate our moving app
        </span>
      </h5>
      <p>as a critical upgrade and value-add for customers.</p>
    </div>
    <div class="concierge-card card-4">
      <h5>
        <span class="image-block">
          <img class="digital"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583429394/website/2020-b2b-relaunch/icons-and-patterns/digital.svg"
            alt="" />
        </span>
        <span class="text-content">
          Enroll customers & prospects digitally
        </span>
      </h5>
      <p>in the products and services that you care about most.</p>
    </div>
  </section>
  <section class="our-proven-record">
    <h3>Our proven track record</h3>
    <div class="record-card">
      <h5>Trusted by the industry leaders</h5>
      <div class="record-entry">
        <h6>
          3 of the top 5 utilities
        </h6>
        <p>
          by number of customers
        </p>
      </div>
      <div class="record-entry">
        <h6>
          All top 20
        </h6>
        <p>
          nationwide media companies
        </p>
      </div>
    </div>
    <div class="record-card">
      <h5>Powering businesses worldwide</h5>
      <div class="record-entry">
        <h6 class="smaller">
          World leader in internet&nbsp;subscriptions
        </h6>
        <p>
          We sell more broadband subscriptions than any other company in the
          world
        </p>
      </div>
      <div class="record-entry">
        <h6 class="smaller">
          50,000+ call center&nbsp;agents
        </h6>
        <p>
          Our technology enables more than 50,000 call center agents worldwide
        </p>
      </div>
    </div>
  </section>
  <section class="service-highlight">
    <h3>
      Highlight of our services
    </h3>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="transfer"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/transfer.svg"
            alt="" />
        </span>
        <span class="text-content">
          Call pickup & transfer
        </span>
      </h5>
      <p>
        The call is a catalyst, not a terminal event. We'll market your own
        products and cross-market additional moving-related products and
        services.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="digital-eng"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/digital-engagement.svg"
            alt="" />
        </span>
        <span class="text-content">
          Digital engagement
        </span>
      </h5>
      <p>
        Reach more customers, including those who don't call or exist in a
        competitor's footprint.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="multiple"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/multiple.svg"
            alt="" />
        </span>
        <span class="text-content">
          Multi-channel platform
        </span>
      </h5>
      <p>
        Give customers a choice of where and when to engage with you&mdash;over
        the phone, on the website, or on Updater.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="variety"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/variety.svg"
            alt="" />
        </span>
        <span class="text-content">
          Varied product catalog
        </span>
      </h5>
      <p>
        Gain access to Updater's exclusive partnerships, products, and services
        to give your customers more choices when it matters most.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="web-app"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/web-app.svg"
            alt="" />
        </span>
        <span class="text-content">
          Moving app
        </span>
      </h5>
      <p>
        Offer access to Updater's invite-only moving app as a value-add for
        those customers on the move.
      </p>
    </div>
    <div class="highlight-card">
      <h5>
        <span class="image-block">
          <img class="lifecycle"
            src="https://res.cloudinary.com/updater-marketing/image/upload/v1583434697/website/2020-b2b-relaunch/icons-and-patterns/lifecycle.svg"
            alt="" />
        </span>
        <span class="text-content">
          Lifecycle marketing
        </span>
      </h5>
      <p>
        Knowing what to say to customers and when is tricky&mdash;stay in touch
        intelligently with our lifecycle and life-stage marketing expertise.
      </p>
    </div>
  </section>
  <section class="utility-whitepaper">
    <section class="whitepaper-wrapper container-2018">
      <section class="image-element">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1587493571/website/2020-b2b-relaunch/ebook-images/Utility-Hardcover-Book-Hand_r2.png"
          alt="whitepaper" />
      </section>
      <section class="text-and-form" id="utilities-ebook-2020">
        <h6>Utility Insights Whitepaper</h6>
        <h4>The Utility's Guide to <br />Selecting a Moving Concierge</h4>
        <h5>9 Questions to Get the Info You Need</h5>
        <p>
          Evaluate concierge service providers with Updater's recommended
          questions (and, of course, our answers to each).
        </p>
        <form data-formid="2002" class="utility-whitepaper-form-embed" id="mktoForm_2002"></form>
        <div class="utility-whitepaper-form-postsubmission">
          Thanks for downloading – we'll email the eBook in just a minute.
        </div>
      </section>
    </section>
    <section class="business-products--form-area" id="business-products-form">
      <div class="container-2018">
        <h2>Partner with us</h2>
        <h6>We'll get back to you within one day.</h6>
        <form data-formid="1871" id="mktoForm_1871"></form>
      </div>
    </section>
  </section>
  <div class="schedule-widget untriggered" style="display: none;">
    <h5>Join us on the road</h5>
    <squarespace:block-field id="utility-event-schedule" />
    <button>Set up a time to chat</button>
  </div>
</section>

<script src="https://app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
<script src="/scripts/featherlight.min.js"></script>
<script src="/scripts/upd-b-2020-07.min.js"></script>

<script>
  var init = function () {
    function pullContent() {
      var heroHeadingBlock = document.querySelector(
        ".hero-area .text-element h1"
      );
      var heroDescriptionBlock = document.querySelector(
        ".hero-area .text-element h2"
      );
      var heroCtaBlock = document.querySelector(
        ".hero-area .text-element button"
      );
      heroHeadingBlock.innerHTML = heroText.heading;
      heroDescriptionBlock.innerHTML = heroText.description;
      heroCtaBlock.innerHTML = heroText.buttonText;

      var leadInCopyBlock = document.querySelector(".lead-in-takeaway");
      leadInCopyBlock.innerHTML = leadInCopy;

      var conciergeSectionHeading = document.querySelector(
        ".smarter-concierge h3"
      );
      var conciergeCard1_heading = document.querySelector(
        ".concierge-card.card-1 h5 .text-content"
      );
      var conciergeCard1_body = document.querySelector(
        ".concierge-card.card-1 p"
      );
      var conciergeCard2_heading = document.querySelector(
        ".concierge-card.card-2 h5 .text-content"
      );
      var conciergeCard2_body = document.querySelector(
        ".concierge-card.card-2 p"
      );
      var conciergeCard3_heading = document.querySelector(
        ".concierge-card.card-3 h5 .text-content"
      );
      var conciergeCard3_body = document.querySelector(
        ".concierge-card.card-3 p"
      );
      var conciergeCard4_heading = document.querySelector(
        ".concierge-card.card-4 h5 .text-content"
      );
      var conciergeCard4_body = document.querySelector(
        ".concierge-card.card-4 p"
      );

      conciergeSectionHeading.innerHTML = conciergeSection.title;
      conciergeCard1_heading.innerHTML = conciergeSection.card_1.heading;
      conciergeCard1_body.innerHTML = conciergeSection.card_1.description;
      conciergeCard2_heading.innerHTML = conciergeSection.card_2.heading;
      conciergeCard2_body.innerHTML = conciergeSection.card_2.description;
      conciergeCard3_heading.innerHTML = conciergeSection.card_3.heading;
      conciergeCard3_body.innerHTML = conciergeSection.card_3.description;
      conciergeCard4_heading.innerHTML = conciergeSection.card_4.heading;
      conciergeCard4_body.innerHTML = conciergeSection.card_4.description;

      var trackRecordHeading = document.querySelector(".our-proven-record h3");
      var trackCard1Heading = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(1) h5"
      );
      var trackCard1_entry1_big = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(1) .record-entry:nth-of-type(1) h6"
      );
      var trackCard1_entry1_small = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(1) .record-entry:nth-of-type(1) p"
      );
      var trackCard1_entry2_big = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(1) .record-entry:nth-of-type(2) h6"
      );
      var trackCard1_entry2_small = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(1) .record-entry:nth-of-type(2) p"
      );
      var trackCard2Heading = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(2) h5"
      );
      var trackCard2_entry1_big = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(2) .record-entry:nth-of-type(1) h6"
      );
      var trackCard2_entry1_small = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(2) .record-entry:nth-of-type(1) p"
      );
      var trackCard2_entry2_big = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(2) .record-entry:nth-of-type(2) h6"
      );
      var trackCard2_entry2_small = document.querySelector(
        ".our-proven-record .record-card:nth-of-type(2) .record-entry:nth-of-type(2) p"
      );

      trackRecordHeading.innerHTML = trackRecordSection.title;
      trackCard1Heading.innerHTML = trackRecordSection.card_1.title;
      trackCard1_entry1_big.innerHTML = trackRecordSection.card_1.bigText_1;
      trackCard1_entry1_small.innerHTML = trackRecordSection.card_1.smallText_1;
      trackCard1_entry2_big.innerHTML = trackRecordSection.card_1.bigText_2;
      trackCard1_entry2_small.innerHTML = trackRecordSection.card_1.smallText_2;
      trackCard2Heading.innerHTML = trackRecordSection.card_2.title;
      trackCard2_entry1_big.innerHTML = trackRecordSection.card_2.bigText_1;
      trackCard2_entry1_small.innerHTML = trackRecordSection.card_2.smallText_1;
      trackCard2_entry2_big.innerHTML = trackRecordSection.card_2.bigText_2;
      trackCard2_entry2_small.innerHTML = trackRecordSection.card_2.smallText_2;

      var servicesHeading = document.querySelector(".service-highlight h3");
      var serviceCard1Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(1) h5 .text-content"
      );
      var serviceCard1Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(1) p"
      );
      var serviceCard2Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(2) h5 .text-content"
      );
      var serviceCard2Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(2) p"
      );
      var serviceCard3Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(3) h5 .text-content"
      );
      var serviceCard3Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(3) p"
      );
      var serviceCard4Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(4) h5 .text-content"
      );
      var serviceCard4Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(4) p"
      );
      var serviceCard5Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(5) h5 .text-content"
      );
      var serviceCard5Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(5) p"
      );
      var serviceCard6Heading = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(6) h5 .text-content"
      );
      var serviceCard6Body = document.querySelector(
        ".service-highlight .highlight-card:nth-of-type(6) p"
      );

      servicesHeading.innerHTML = serviceHighlightSection.title;
      serviceCard1Heading.innerHTML = serviceHighlightSection.card_1.title;
      serviceCard1Body.innerHTML = serviceHighlightSection.card_1.body;
      serviceCard2Heading.innerHTML = serviceHighlightSection.card_2.title;
      serviceCard2Body.innerHTML = serviceHighlightSection.card_2.body;
      serviceCard3Heading.innerHTML = serviceHighlightSection.card_3.title;
      serviceCard3Body.innerHTML = serviceHighlightSection.card_3.body;
      serviceCard4Heading.innerHTML = serviceHighlightSection.card_4.title;
      serviceCard4Body.innerHTML = serviceHighlightSection.card_4.body;
      serviceCard5Heading.innerHTML = serviceHighlightSection.card_5.title;
      serviceCard5Body.innerHTML = serviceHighlightSection.card_5.body;
      serviceCard6Heading.innerHTML = serviceHighlightSection.card_6.title;
      serviceCard6Body.innerHTML = serviceHighlightSection.card_6.body;

      var ebookSectionHeading = document.querySelector(
        ".utility-whitepaper .text-and-form h6"
      );
      var ebookTitle = document.querySelector(
        ".utility-whitepaper .text-and-form h4"
      );
      var ebookSubheading = document.querySelector(
        ".utility-whitepaper .text-and-form h5"
      );
      var ebookSummary = document.querySelector(
        ".utility-whitepaper .text-and-form p"
      );

      ebookSectionHeading.innerHTML = ebookSection.sectionTitle;
      ebookTitle.innerHTML = ebookSection.ebookTitle;
      ebookSubheading.innerHTML = ebookSection.ebookSubheading;
      ebookSummary.innerHTML = ebookSection.ebookSummary;
    }

    function mktoFormInit() {
      var utilFormsConfig = {
        podId: "//app-ab03.marketo.com",
        munchkinId: "609-SUY-969",
        formIds: [1871, 2002],
      };
      mktoFormChain(utilFormsConfig);

      MktoForms2.whenReady(function (form) {
        //Add an onSuccess handler
        form.onSuccess(function (values, followUpUrl) {
          var submittedForm = values.formid;
          if (submittedForm === "2002") {
            document.querySelector(
              ".utility-whitepaper-form-embed"
            ).style.display = "none";
            document.querySelector(
              ".utility-whitepaper-form-postsubmission"
            ).style.display = "inline-block";
            return false;
          }
        });
      });
    }

    function initScheduler() {
      function checkPosition(e) {
        if (window.scrollY <= 150) {
          scheduleWidget.classList.add("untriggered");
        } else {
          scheduleWidget.classList.remove("untriggered");
        }
        if (
          window.scrollY >
          document.body.clientHeight -
          (footerElem.clientHeight * 3 + formArea.clientHeight)
        ) {
          scheduleWidget.classList.add("untriggered");
        }
      }

      function checkWidth() {
        if (document.body.clientWidth <= 600) {
          scheduleWidget.classList.add("collapsed");
        }
      }

      function toggleWidget() {
        scheduleWidget.classList.toggle("collapsed");
      }

      function jumpToForm() {
        checkPosition();
        window.scrollTo({
          top: formArea.offsetTop,
          behavior: "smooth",
        });
      }

      var scheduleWidget = document.querySelector(".schedule-widget");
      var schedulerBtn = scheduleWidget.querySelector("button");
      var heroAreaBtn = document.querySelector(".hero-area button");
      var widgetHead = scheduleWidget.querySelector("h5");
      var openPrompt = scheduleWidget.querySelector(".open-prompt");
      var footerElem = document.querySelector("footer.revamp-2018-footer");
      var formArea = document.querySelector("#business-products-form");

      document.addEventListener("scroll", checkPosition);
      window.addEventListener("resize", checkWidth);
      widgetHead.addEventListener("click", toggleWidget);
      schedulerBtn.addEventListener("click", jumpToForm);
      heroAreaBtn.addEventListener("click", jumpToForm);

      function initiallSetup() {
        if (window.innerWidth <= 600) {
          scheduleWidget.classList.add("collapsed");
        }
        checkPosition();
      }
      initiallSetup();
    }

    initNav("b2b");
    currentNav("I'm a business", "b2b");
    pullContent();
    initScheduler();
    mktoFormInit();
  };
  window.onload = function () {
    init();
  };
</script>