<section class="b2b-2020 biz">
  <section class="top-intro-wrapper">

    <section class="top-intro container-2018">
      <section class="text-elements">
        <h1>Every minute, 14&nbsp;households use our&nbsp;technology for their&nbsp;move.</h1>
        <p>Tap into <strong>the nation’s most extensive suite of moving technology</strong> and add business value
          where
          it matters most.</p>
      </section>
      <section class="number-visualized">
        <div class="circle-shell">
          <span class="mover-helped">0</span>

          <div class="needle">
          </div>
          <!-- <div class="timer-container">
            <span class="timer">00:00</span>
          </div> -->
        </div>
      </section>
    </section>
    <!-- <video autoplay playsinline muted loop>
      <source
        src="https://res.cloudinary.com/updater-marketing/video/upload/v1583250416/website/2020-b2b-relaunch/video-assets/1012824980-hd.mp4"
        type="video/mp4">
      <source
        src="https://res.cloudinary.com/updater-marketing/video/upload/v1583250416/website/2020-b2b-relaunch/video-assets/1012824980-hd.webm"
        type="video/webm">
    </video> -->
  </section>
  <section class="b2b-questionnaire">
    <section class="b2b-questions container-2018">
      <section class="b2b-q1 active">
        <h3>Let's point you in the right direction. What's your business?</h3>

        <form action="" class="forms">
          <input type="radio" id="q1-re" name="q1-radio" value="Real Estate">
          <label for="q1-re">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583257750/website/2020-b2b-relaunch/icons-and-patterns/real-estate.svg"
                alt=""><br />
              Real Estate
            </span>
          </label>

          <input type="radio" id="q1-moving" name="q1-radio" value="Moving & Storage">
          <label for="q1-moving">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152808/chrysalis-assets/icons/app-features/SVG/icon-app-feature-reserve-a-mover.svg"
                alt=""><br />
              Moving & Storage
            </span>
          </label>

          <input type="radio" id="q1-util" name="q1-radio" value="TV, Internet, & Utilities">
          <label for="q1-util">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152878/chrysalis-assets/icons/business-verticals/SVG/verticals-tv-internet.svg"
                alt=""><br />
              TV, Internet, & Utilities
            </span>
          </label>

          <input type="radio" id="q1-banking" name="q1-radio" value="Banking & Finance">
          <label for="q1-banking">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152869/chrysalis-assets/icons/business-verticals/SVG/verticals-banks.svg"
                alt=""><br />
              Banking & Finance
            </span>
          </label>

          <input type="radio" id="q1-insurance" name="q1-radio" value="Insurance">
          <label for="q1-insurance">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583776210/website/2020-b2b-relaunch/icons-and-patterns/insurance.svg"
                alt=""><br />
              Insurance
            </span>
          </label>

          <input type="radio" id="q1-home" name="q1-radio" value="Home-Related Services">
          <label for="q1-home">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152874/chrysalis-assets/icons/business-verticals/SVG/verticals-home-service.svg"
                alt=""><br />
              Home-Related Services
            </span>
          </label>

          <input type="radio" id="q1-grocery" name="q1-radio" value="Food & Grocery">
          <label for="q1-grocery">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152872/chrysalis-assets/icons/business-verticals/SVG/verticals-grocery.svg"
                alt=""><br />
              Food & Grocery
            </span>
          </label>

          <input type="radio" id="q1-retail" name="q1-radio" value="Retail">
          <label for="q1-retail">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1582152878/chrysalis-assets/icons/business-verticals/SVG/verticals-retail.svg"
                alt=""><br />
              Retail
            </span>
          </label>

          <input type="radio" id="q1-other" name="q1-radio" value="Other">
          <label for="q1-other">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583258624/website/2020-b2b-relaunch/icons-and-patterns/other-fixed.svg"
                alt=""><br />
              Other
            </span>
          </label>

        </form>
        <button disabled class="question-nav next"><em>Next:</em> What can we help you do?</button>
      </section>
      <section class="b2b-q1-2">
        <h3>Nice, what part of the real estate industry?</h3>

        <form action="" class="forms">
          <input type="radio" id="q1-2-pm" name="q1-2-radio" value="Property Management">
          <label for="q1-2-pm" class="midform">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583258174/website/2020-b2b-relaunch/icons-and-patterns/pm.svg"
                alt=""><br />
              Property Management
            </span>
          </label>

          <input type="radio" id="q1-2-broker" name="q1-2-radio" value="Brokerage or Agent">
          <label for="q1-2-broker" class="midform">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583258174/website/2020-b2b-relaunch/icons-and-patterns/brokerage.svg"
                alt=""><br />
              Brokerage or Agent
            </span>
          </label>

          <input type="radio" id="q1-2-mortgage" name="q1-2-radio" value="Mortgage & Title Insurance">
          <label for="q1-2-mortgage" class="midform">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583258174/website/2020-b2b-relaunch/icons-and-patterns/mortgage.svg"
                alt=""><br />
              Mortgage & Title Insurance
            </span>
          </label>

          <input type="radio" id="q1-2-student" name="q1-2-radio" value="Student Housing">
          <label for="q1-2-student" class="midform">
            <span class="circle"></span>
            <span class="stylized">
              <img
                src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_300,h_300,c_pad/v1583258174/website/2020-b2b-relaunch/icons-and-patterns/student.svg"
                alt=""><br />
              Student Housing
            </span>
          </label>

        </form>
        <button disabled class="question-nav next real-estate">View Solutions</button>

      </section>
      <section class="b2b-q2">
        <h3><span></span>Great, and what can we help you do?</h3>

        <form action="" class="forms">
          <input type="checkbox" id="q2-01" data-topic="re-concierge" data-audience="pm" name="q2-checkbox"
            value="q2-01">
          <label for="q2-01" data-audience="pm" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Provide seamless, painless moving experience for your residents.
          </label>

          <input type="checkbox" id="q2-01-1" data-topic="re-concierge" data-audience="student" name="q2-checkbox"
            value="q2-01-1">
          <label for="q2-01-1" data-audience="student" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Provide seamless, painless moving experience for the students.
          </label>

          <input type="checkbox" id="q2-02" data-topic="re-concierge" data-audience="brokerage mortgage"
            name="q2-checkbox" value="q2-02">
          <label for="q2-02" data-audience="brokerage mortgage" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Provide seamless, painless moving experience for your clients.
          </label>

          <input type="checkbox" id="q2-03" data-topic="re-concierge" data-audience="pm" name="q2-checkbox"
            value="q2-03">
          <label for="q2-03" data-audience="pm" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Establish a continuous communication channel with your residents.
          </label>

          <input type="checkbox" id="q2-03-1" data-topic="re-concierge" data-audience="student" name="q2-checkbox"
            value="q2-03-1">
          <label for="q2-03-1" data-audience="student" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Establish a continuous communication channel with the students.
          </label>

          <input type="checkbox" id="q2-04" data-topic="re-concierge" data-audience="brokerage mortgage"
            name="q2-checkbox" value="q2-04">
          <label for="q2-04" data-audience="brokerage mortgage" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Establish a continuous communication channel with your clients.
          </label>

          <input type="checkbox" id="q2-05" data-topic="re-concierge" data-audience="student pm brokerage mortgage"
            name="q2-checkbox" value="q2-05">
          <label for="q2-05" data-audience="student pm brokerage mortgage" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Automate repetitive communication tasks for your transaction.
          </label>

          <input type="checkbox" id="q2-06-1" data-topic="moving-concierge" data-audience="moving" name="q2-checkbox"
            value="q2-06-1">
          <label for="q2-06-1" data-audience="moving" data-topic="ops" class="longform">
            <span class="square"></span>
            Provide an all-in-one moving concierge to my customers.
          </label>

          <input type="checkbox" id="q2-07" data-topic="re-concierge" data-audience="moving" name="q2-checkbox"
            value="q2-07">
          <label for="q2-07" data-audience="moving" data-topic="re-concierge" class="longform">
            <span class="square"></span>
            Market to potential customers who are looking for my product/service.
          </label>

          <input type="checkbox" id="q2-06" data-topic="mhq" data-audience="moving" name="q2-checkbox" value="q2-06">
          <label for="q2-06" data-audience="moving" data-topic="mhq" class="longform">
            <span class="square"></span>
            Discover new software to run my business.
          </label>

          <input type="checkbox" id="q2-08" data-topic="util-concierge" data-audience="tv-utilities" name="q2-checkbox"
            value="q2-08">
          <label for="q2-08" data-topic="util-concierge" data-audience="tv-utilities" class="longform">
            <span class="square"></span>
            Provide an all-in-one moving concierge to my customers.
          </label>

          <input type="checkbox" id="q2-09" data-topic="util-commerce" data-audience="tv-utilities" name="q2-checkbox"
            value="q2-09">
          <label for="q2-09" data-topic="util-commerce" data-audience="tv-utilities" class="longform">
            <span class="square"></span>
            Increase sales over the phone and/or digitally.
          </label>

          <input type="checkbox" id="q2-08-1" data-topic="generic-concierge" data-audience="marketing"
            name="q2-checkbox" value="q2-08-1">
          <label for="q2-08-1" data-topic="generic-concierge" data-audience="marketing" class="longform">
            <span class="square"></span>
            Provide an all-in-one moving concierge to my customers.
          </label>

          <input type="checkbox" id="q2-11" data-topic="uhs" data-audience="marketing" name="q2-checkbox" value="q2-11">
          <label for="q2-11" data-audience="marketing" data-topic="uhs" class="longform">
            <span class="square"></span>
            Discover new software to run my business.
          </label>



        </form>
        <div class="question-nav-container">
          <button class="question-nav prev"><em>Prev:</em> What's your business?</button>
          <button disabled class="final-btn">View solutions</button>
        </div>
      </section>
    </section>
    <section class="b2b-answers">
      <h3>
        Recommended solutions for you
      </h3>
      <div class="card-container container-2018">
        <div class="b2b-card" data-topic="marketing" data-audience="marketing">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/marketing.svg"
            alt="">
          <h4>
            Marketing Solutions
          </h4>
          <p>
            Showcase your brand in front of millions of moving Americans. Offer products and services exactly when they
            need them.
          </p>
          <a href="/business-marketing"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="marketing" data-audience="tv-utilities">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/marketing.svg"
            alt="">
          <h4>
            Marketing Solutions
          </h4>
          <p>
            Showcase your brand in front of millions of moving Americans. Offer products and services exactly when they
            need them.
          </p>
          <a href="/business-marketing"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="mhq" data-audience="moving">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/software.svg"
            alt="">
          <h4>
            Moving & Storage Operational Solutions
          </h4>
          <p>
            Power and scale your moving company with industry-leading software, built by 3-time AMSA Summit Award
            winner, MoveHQ.
          </p>
          <a href="https://www.movehq.com" target="_blank" rel="noreferrer noopener"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="moving-concierge" data-audience="moving">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Concierge Solutions for Moving & Storage
          </h4>
          <p>
            Provide your customers an all-in-one digital moving concierge, to help with the many extras that your
            company doesn't – utilities, digital setup, address change, and more.
          </p>
          <a href="/solutions/moving"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="marketing" data-audience="moving">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/marketing.svg"
            alt="">
          <h4>
            Moving & Storage Marketing/Sales Solutions
          </h4>
          <p>
            Showcase your company in front of millions movers and allow them to reserve and book your service in real
            time.
          </p>
          <a href="/solutions/moving"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="util-concierge" data-audience="tv-utilities">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Moving Concierge Solutions
          </h4>
          <p>
            Provide a unique value-add to your customers by offering a all-in-one digital moving concierge app.
          </p>
          <a href="/solutions/moving"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="util-commerce" data-audience="tv-utilities">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_100,h_100,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/commerce.svg"
            alt="">
          <h4>
            Commerce Solutions
          </h4>
          <p>
            Trust our call center operations to take over your sales efforts. With an extensive domain knowledge of your
            industry, our trained experts can consult, recommend, and sell any of your products and services.
          </p>
          <a href="#"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re-concierge" data-audience="pm">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Moving Concierge for Property Management
          </h4>
          <p>
            Provide a delightful moving experience for your residents, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/multifamily"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="student-concierge" data-audience="student">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Moving Concierge for Student Housing
          </h4>
          <p>
            Provide a delightful moving experience for the students, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/multifamily"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re-concierge" data-audience="brokerage">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Moving Concierge for Real Estate Brokerage
          </h4>
          <p>
            Provide a delightful moving experience for your clients, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/real-estate"><button>Learn more</button></a>
        </div>
        <div class="b2b-card" data-topic="re-concierge" data-audience="mortgage">
          <img
            src="https://res.cloudinary.com/updater-marketing/image/upload/f_png,w_80,h_80,c_pad/v1583786058/website/2020-b2b-relaunch/icons-and-patterns/concierge.svg"
            alt="">
          <h4>
            Moving Concierge for Mortgage & Title
          </h4>
          <p>
            Provide a delightful moving experience for your clients, automate the tedious, repetitive tasks, and
            communicate your preferred service providers in one system.
          </p>
          <a href="/solutions/real-estate"><button>Learn more</button></a>
        </div>
      </div>
    </section>
  </section>
  <section class="b2b-demo-form" id="business-products-form">
    <div class="container`-2018">
      <h2>Partner with Us</h2>
      <h6>We'll get back to you within one day.</h6>
      <script src="https://app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1871"></form>
      <script>
        MktoForms2.loadForm("//app-ab03.marketo.com", "609-SUY-969", 1871);
      </script>
    </div>
  </section>
</section>

<script src="/scripts/upd-b-2020-01.js"></script>

<script>
  var initQuestionnaire = function () {
    var q1Form = document.querySelector('.b2b-q1 > form');
    var q1Section = document.querySelector('.b2b-q1');
    var q1_2Section = document.querySelector('.b2b-q1-2');
    var q2Section = document.querySelector('.b2b-q2');
    var q1_2Form = document.querySelector('.b2b-q1-2 > form');
    var q2Form = document.querySelector('.b2b-q2 > form');
    var btn_next_q = document.querySelector('.question-nav.next');
    var btn_next_q_re = document.querySelector('.question-nav.next.real-estate');
    var btn_prev_q = document.querySelector('.question-nav.prev');
    var submitButton = document.querySelector('.final-btn');
    var questionSection = document.querySelector('.b2b-questions');
    var answerSection = document.querySelector('.b2b-answers');
    var solutionCards = answerSection.querySelectorAll('.b2b-card');
    var q1Answer;
    var q1_2Answer;
    var q2Audience;

    function q1Change(e) {
      resetForms(q2Form);
      hideAnswer();
      if (q1Answer === 'Real Estate') {
        activateSection(q1_2Section);
        uncheckInputs(q1_2Form)
        uncheckInputs(q2Form);
      } else {
        activateSection(q2Section);
        // scrollToSections(q2Section);
        uncheckInputs(q2Form);
        switch (q1Answer) {
          case 'Moving & Storage':
            q2Audience = 'moving';
            break;
          case 'TV, Internet, & Utilities':
            q2Audience = 'tv-utilities';
            break;
          case 'Insurance':
            q2Audience = 'marketing';
            break;
          case 'Home-Related Services':
            q2Audience = 'marketing';
            break;
          default:
            q2Audience = 'marketing';
            break;
        }
        hideIrrelevantQuestions(q2Audience);
      }
    }

    function linkToReSolutions(target) {
      window.location.assign(target);
    }

    function q1_2Change(e) {
      // q1_2Answer = e.target.value;
      var targetLink = '';
      hideAnswer();
      switch (q1_2Answer) {
        case 'Property Management':
          q2Audience = 'pm';
          targetLink = '/solutions/multifamily';
          break;
        case 'Brokerage or Agent':
          q2Audience = 'brokerage';
          targetLink = '/solutions/real-estate';
          break;
        case 'Mortgage & Title Insurance':
          q2Audience = 'mortgage';
          targetLink = '/solutions/real-estate';
          break;
        case 'Student Housing':
          q2Audience = 'student';
          targetLink = '/solutions/multifamily';
          break;
        default:
          break;
      }
      // activateSection(q2Section);

      linkToReSolutions(targetLink);
      uncheckInputs(q2Form);
      hideIrrelevantQuestions(q2Audience);
    }

    function hideIrrelevantQuestions(audience) {
      var items = q2Form.querySelectorAll('input, label');
      items.forEach(function (item) {
        var itemData = item.dataset.audience.split(' ');
        if (itemData.indexOf(audience) === -1) {
          item.style.display = 'none';
        } else {
          item.style.display = 'flex';
        }
      })
    }

    function activateSection(section, scrolling) {
      [q1Section, q1_2Section, q2Section].forEach(function (section) {
        section.classList.remove('active');
      })
      section.classList.add('active');
      if (section === q1_2Section) {
        q1Section.classList.add('active');
        scrollToSections(q1_2Section);

      } else if (section === q1Section && !scrolling) {
        // do nothing here.
      } else {
        scrollToSections(questionSection);
      }
      if (section === q2Section) {
        var re_subcat = q1Answer === 'Real Estate' ? ' (<em>' + q1_2Answer + '</em>)' : '';
        q2Section.querySelector('h3 > span').innerHTML = 'Industry: <strong>' + q1Answer + '</strong>' + re_subcat;
      }
    }

    function uncheckInputs(form) {
      form.querySelectorAll('input').forEach(function (item) {
        return item.checked = false;
      });
    }

    function q2_change() {
      var items = q2Form.querySelectorAll('input');
      var checkedItems = 0;
      hideAnswer();
      items.forEach(function (item) {
        return item.checked ? checkedItems += 1 : checkedItems += 0
      });
      if (checkedItems === 0) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }

    function resetForms(formElem) {
      q2Audience = '';
      formElem.querySelectorAll('input').forEach(function (item) {
        return item.checked = false;
      });
      if (formElem === q2Form) {
        submitButton.disabled = true;
      }
    }

    function resetAllForms(scrolling) {
      resetForms(q1Form);
      resetForms(q1_2Form);
      resetForms(q2Form);
      activateSection(q1Section, scrolling);
      btn_next_q.style.display = "block";
      btn_next_q_re.style.display = "block";
      btn_next_q.disabled = true;
      btn_next_q_re.disabled = true;
      hideAnswer();
      if (scrolling) {
        scrollToSections(questionSection);
      }
      q1_2Answer = '';
    }

    function hideAnswer() {
      answerSection.style.display = "none";
      document.querySelector('.final-btn').disabled = true;
    }

    function scrollToSections(section) {
      var scrollPoint = section === q1_2Section ? questionSection.offsetTop + q1_2Section.offsetTop - 170 : section
        .offsetTop - 70;
      if (section === btn_next_q) {
        scrollPoint += 400;
      }
      console.log(section);
      window.scrollTo({
        top: scrollPoint,
        behavior: 'smooth'
      })
    }

    function revealAnswer() {
      function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
      }

      function decideWhatToShow(industry, topic) {
        console.log(industry, topic);
        answerSection.style.display = 'block';
        scrollToSections(answerSection);
        console.log(topic);

        solutionCards.forEach(function (card) {
          card.style.display = card.dataset.audience === q2Audience ? 'block' : 'none';

          if (q2Audience === 'commerce' && card.dataset.audience === 'marketing') {
            card.style.display = 'block';
          }

        });

      }
      var q2Answers = document.querySelectorAll('.b2b-q2 input[type=checkbox]:checked');
      var q2AnswersArray = Array.prototype.slice.call(q2Answers);
      var q2SelectedTopics = q2AnswersArray.map(function (answer) {
        return answer.dataset.topic;
      }).filter(onlyUnique);

      decideWhatToShow(q1Answer, q2SelectedTopics);
    }

    function q1ButtonActivate(e) {
      q1Answer = e.target.value;
      resetForms(q1_2Form);
      if (q1Answer === 'Real Estate') {
        activateSection(q1_2Section);
        btn_next_q.style.display = 'none';
        btn_next_q_re.style.display = 'block';
      } else {
        q1_2Section.classList.remove('active');
        btn_next_q.style.display = 'block';
        btn_next_q_re.style.display = 'none';
        scrollToSections(btn_next_q);
      }
      btn_next_q.disabled = false;
    }

    function q2ButtonActivate(e) {
      q1_2Answer = e.target.value;
      btn_next_q_re.disabled = false;
    }

    q1Form.addEventListener('change', q1ButtonActivate);
    q1_2Form.addEventListener('change', q2ButtonActivate);
    q2Form.addEventListener('change', q2_change);
    submitButton.addEventListener('click', revealAnswer);
    resetAllForms(false);
    btn_next_q.addEventListener('click', q1Change);
    btn_next_q_re.addEventListener('click', q1_2Change);
    btn_prev_q.addEventListener('click', resetAllForms);
  }

  function initMoveCounter() {
    // function formatTime(time) {
    //   var minutes = Math.floor(time / 60);
    //   var seconds = time % 60;
    //   if (seconds < 10) {
    //     seconds = '0' + seconds
    //   };
    //   if (minutes < 10) {
    //     minutes = '0' + minutes
    //   };
    //   return minutes + ':' + seconds;
    // }

    function startTimer() {
      setInterval(function () {
        // timePassed += 1;
        moversHelped += .25;
        // timerSpan.innerHTML = formatTime(timePassed);
        moverSpan.innerHTML = Math.floor(moversHelped);
      }, 1000)
    }


    // var timerSpan = document.querySelector('.timer');
    var moverSpan = document.querySelector('.mover-helped');

    // var TIME_LIMIT = 60;
    // var timePassed = 0;
    var moversHelped = 0;
    // var timeLeft = TIME_LIMIT;
    var timerInterval = null;
    startTimer();
  }
  var init = function () {
    initNav('d2c');
    currentNav('business', 'b2b');
    initQuestionnaire();
    initMoveCounter();
  }
  window.onload = function () {
    init();
  }
</script>