<section class="fundraising-swag">
  <section class="swag-hero">
    <h1>Updater Swag to Fight Hunger</h1>
    <h3>Limited edition Updater swag for you and your loved ones. </h3>
    <h6>All proceeds from the sales will be donated to Move For Hunger as part of our fundraising efforts around the
      Tunnel 2
      Towers race</h6>
  </section>
  <section class="proceed-msg">
    &nbsp;
  </section>
  <section id="swag-how" class="container">
    <h1>How to Order</h1>
    <section class="swag-steps">
      <span class="swag-big-no">1</span>
      <h2>Choose designs</h2>
      <p>Pick your favorite designs. Don't forget gift ideas for holiday season!</p>
    </section>
    <section class="swag-steps">
      <span class="swag-big-no">2</span>
      <h2>Place order</h2>
      <p>Once you choose the style, color, and size, order directly at Bonfire.</p>
    </section>
    <section class="swag-steps">
      <span class="swag-big-no">3</span>
      <h2>Refund shipping fees</h2>
      <p>Unfortunately, Bonfire doesn't offer the ability to buy multiple designs. If placing and order for more than
        one design,
        email
        <a href="mailto:support@bonfire.com">support@bonfire.com</a> for a shipping refund. You will only pay shipping
        fee once</p>
    </section>
  </section>
  <section id="swag-pick" class="container">
    <h1>Choose Designs</h1>
    <h4>All designs are available in multiple shirt styles, colors, and sizes. Click each design to view more options.
    </h4>
    <span class="bonfire-shirt-types">
      Shirt types:
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/unisex.png"
        alt="Unisex T Shirt">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/long-sleeve.png"
        alt="Long Sleeve / Crewneck">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/tank.png"
        alt="Slouchy Tank">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/baseball.png"
        alt="Basebal Shirt">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/hoodie.png"
        alt="Pull-up Hoodie">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533701925/website/fundraising-swag/bonfire-shirt-type/football.png"
        alt="Football Jersey Shirt">
    </span>

    <div>
      <a href="https://bonfire.com/updater-cats" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699710/website/fundraising-swag/cat.jpg"
          alt="All Cats Are Beautiful">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-love/" target="_blank" rel="noreferrer noopener">
        <img
          src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/love.jpg"
          alt="I Love Updater">
      </a>
    </div>
    <div>
      <a href="https://bonfire.com/updater-watermelons" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/watermelon.jpg"
          alt="Bloody Watermelons">
      </a>
    </div>
    <div>
      <a href="https://bonfire.com/updater-vintagew" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699710/website/fundraising-swag/vintage.jpg"
          alt="Updater Vintage">
      </a>
    </div>
    <div>
      <a href="https://bonfire.com/updater-vintager" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/vintage-r.jpg"
          alt="Updater Vintage">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-wordsearch/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699710/website/fundraising-swag/upd-grid.jpg"
          alt="Updater Word Search">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-mfh/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699710/website/fundraising-swag/mfh.jpg"
          alt="Fight Hunger">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-kid/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/kid.jpg"
          alt="Kids: My First Updater Shirt">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-logo/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/updater.jpg"
          alt="Updater Classic">
      </a>
    </div>
    <div>
      <a href="https://www.bonfire.com/updater-bold/" target="_blank" rel="noreferrer noopener">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1533699708/website/fundraising-swag/mbm.jpg"
          alt="Make Bold Moves">
      </a>
    </div>
  </section>
  <section class="red-strip-foot">
  </section>
</section>
<script>
  $(document).ready(function () {
    var jumpNav = function () {
      $('.jump-link').on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({
          'scrollTop': $(e.target.hash).offset().top - 65
        }, 400);
      });
      $('.summit-logo').on('click', function (e) {
        $('html, body').animate({
          'scrollTop': 0
        }, 400);
      });
    };
    jumpNav();
  });
</script>