

  <section class="summit-hero">
    <div class="container">

      <h1>Updater Investor Summit 2018</h1>
      <h2>
        September 13&ndash;14, 2018
        <br> The Dominick Hotel
        <br> New York City
      </h2>
    </div>
  </section>
  <span class="rsvp-reminder">
    Please RSVP by August 3
  </span>
  <section class="summit-intro">
    <h1>Scaling to win the industry &mdash;
      <em>and beyond</em>.</h1>
    <p>Peel back the layers and dive deep into Updater's strategy to win the relocation industry. Join Updater leadership for
      a two-day, single-track conference in New York City covering financial performance, goals, and strategic direction.</p>
    <span>
      <a href="#rsvp" class="summit-rsvp-main jump-link">RSVP Now</a>
    </span>
  </section>
  <section class="summit-speakers container" id="speakers">
    <section class="summit-headings">Speakers</section>
    <section class="summit-info headshots">
      <span class="summit-speaker-subheading">
        Updater Speakers
      </span>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/david.jpg" alt="David Greenberg">
        <h3>David Greenberg</h3>
        <h4>Founder &amp; CEO, Updater</h4>
      </div>
      <span class="summit-speaker-subheading">
        Guest Speakers
      </span>
      <div class="summit-speaker">
        <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/alastair.jpg"
          alt="Alastair Walton">
        <h3>Alastair Walton</h3>
        <h4>Consul-General, Australian
          <br>Consulate-General New York</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/jesse.jpg" alt="Jesse Beyroutey">
        <h3>Jesse Beyroutey</h3>
        <h4>Partner, IA Ventures</h4>
      </div>
      <div class="summit-speaker">
        <img src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531166652/investor-summit/2018/jeffraider.jpg"
          alt="Jeff Raider">
        <h3>Jeff Raider</h3>
        <h4>Co-Founder, Harry's Havce Club</h4>
      </div>
    </section>
  </section>
  <section class="summit-agenda container" id="agenda">
    <section class="summit-headings">Agenda</section>
    <section class="summit-info agenda-table">
      <div class="summit-table-heading">
        Thursday 9/13
      </div>
      <div class="summit-table-element">
        <div class="summit-table-row">
          <div class="summit-schedule">
            5:30pm-7:30pm
          </div>
          <div class="summit-agenda">
            Welcome Reception
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            8:00pm
          </div>
          <div class="summit-agenda">
            Private Dinner for Attendees
          </div>
        </div>
      </div>
      <div class="flex-spacer"></div>
      <div class="summit-table-heading">
        Friday 9/14
      </div>
      <div class="summit-table-element">
        <div class="summit-table-row">
          <div class="summit-schedule">
            9:00am-11:00am
          </div>
          <div class="summit-agenda">
            Updater Team Meet &amp; Greet
            <span class="agenda-note">
              at Updater Headquarters
              <br>(transportation provided)
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            11:30am-12:00pm
          </div>
          <div class="summit-agenda">
            What's Going on at Updater
            <span class="agenda-note">
              &mdash; David Greenberg, Updater
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            12:00pm-12:30pm
          </div>
          <div class="summit-agenda">
            Topic Presentation
            <span class="agenda-note">
              &mdash; TBA
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            12:30pm-1:30pm
          </div>
          <div class="summit-agenda">
            Lunch
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            1:30pm-2:00pm
          </div>
          <div class="summit-agenda">
            Topic Presentation
            <span class="agenda-note">
              &mdash; TBA
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            2:00pm-2:30pm
          </div>
          <div class="summit-agenda">
            Updater's Investment Thesis
            <span class="agenda-note">
              &mdash; Jesse Beyroutey, IA Ventures
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            2:30pm-3:15pm
          </div>
          <div class="summit-agenda">
            The Entrepreneurial Journey
            <span class="agenda-note">
              &mdash; Jeff Raider, Harry's Shave Club
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            3:15pm-3:45pm
          </div>
          <div class="summit-agenda">
            Technology Across Borders
            <span class="agenda-note">
              &mdash; Alastair Walton, Australian General Consul
            </span>
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            3:45pm-4:00pm
          </div>
          <div class="summit-agenda">
            Closing Remarks
          </div>
        </div>
        <div class="summit-table-row">
          <div class="summit-schedule">
            5:30pm-7:30pm
          </div>
          <div class="summit-agenda">
            Closing Happy Hour
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="summit-hotels container" id="hotels">
    <section class="summit-headings">Hotels</section>
    <section class="summit-info hotels">
      <h2>
        Updater is pleased to host you while you're in New York City and will provide accommodation for Thursday and Friday nights.
        Our chosen hotels are:
      </h2>
      <div class="hotel-details">
        <div class="carousel dominick" data-flickity='{ "wrapAround": true, "fullscreen": true}'>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick6.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick1.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick2.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick3.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick4.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick5.jpg"
              alt="Dominick Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/dominick7.jpg"
              alt="Dominick Hotel">
          </div>
        </div>
        <h3>The Dominick Hotel</h3>
        <p>246 Spring Street, New York, NY</p>
        <p>T : 212-842-5500</p>
        <p class="room-block">Room Block:
          <span>Updater Investor Summit</span>
        </p>
        <a href="#">Reserve</a>
      </div>
      <div class="hotel-details">
        <div class="sold-out">&nbsp;</div>
        <div class="carousel edition-hotel" data-flickity='{ "wrapAround": true, "fullscreen": true}'>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/edition4.jpg"
              alt="Edition Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/edition1.jpg"
              alt="Edition Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/edition2.jpg"
              alt="Edition Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/edition3.jpg"
              alt="Edition Hotel">
          </div>
          <div class="carousel-cell">
            <img src="http://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1531173785/investor-summit/2018/edition5.jpg"
              alt="Edition Hotel">
          </div>
        </div>
        <h3>The Edition</h3>
        <p>4 Madison Avenue, New York, NY</p>
        <p>T : 212-413-4200</p>
        <p class="room-block">Room Block:
          <span>Updater Investor Summit</span>
        </p>
        <a href="#">Reserve</a>
      </div>
    </section>
  </section>
  <section class="summit-rsvp-form" id="rsvp">

  </section>

<script>
  $(document).ready(function() {
    var jumpNav = function() {
      $('.jump-link').on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({
          'scrollTop': $(e.target.hash).offset().top - 100
        }, 400);
      });
      $('.summit-logo').on('click', function(e) {
        $('html, body').animate({
          'scrollTop': 0
        }, 400);
      });
    };
    
    var flickityFS = function() {

      
      var cb = function(mutations) {
        var classes = mutations[0].target.classList;
        classes.forEach(function(cl) {
          if (cl === 'is-fullscreen') {
            console.log('fs');
            $('.sold-out, .summit-2018-header').hide();


          } else {
            $('.sold-out, .summit-2018-header').show();
          }
        })
      }
      var mut = new MutationObserver(cb);
      mut.observe(document.querySelector('.carousel.dominick'), { 'attributes': true});
      mut.observe(document.querySelector('.carousel.edition-hotel'), { 'attributes': true});
    }




    jumpNav();
    flickityFS();
  });
</script>

</body>
</html>