<div class="ii--lead-capture">
  <div class="ii--lead-capture-cta">
    <span>
      Want to learn more about Updater? Request a demo today.
    </span>
  </div>
  <div class="ii--lead-capture-form">
    <button class="ii--lead-capture-form-close">X</button>
    <h6>
      Want to learn more about Updater?<br>Request a demo today.
    </h6>
    <form class="mktoForm" data-formId="1944"></form>
    <div id="confirmform_footer" class="confirm_msg">
      <h6>
        Thank you!
      </h6>
      A member of our team will get back to you within one day.
    </div>
  </div>
</div>

<script>
  var II_mktoFormConfig = {
    podId: "//app-ab03.marketo.com",
    munchkinId: "609-SUY-969",
    formIds: [1944]
  };

  function mktoFormInit() {
    mktoFormChain(II_mktoFormConfig);
    MktoForms2.whenReady(function (form) {
      $("input.mktoEmailField").keyup(function () {
        if ($(this).val()) {
          $("#flexform").removeClass().addClass("notempty");
        } else {
          $("#flexform").removeClass().addClass("empty");
        }
      }).keyup();

      function hideForms() {
        var mktoForms = document.querySelectorAll('.mktoForm');
        mktoForms.forEach(function (formEl) {
          formEl.parentNode.removeChild(formEl);
        });
      }

      //Add an onSuccess handler
      form.onSuccess(function (values, followUpUrl) {
        //get the form's jQuery element and hide it
        form.getFormElem().hide();
        hideForms();
        document.getElementById('confirmform').style.display = 'block';
        document.getElementById('confirmform_footer').style.display = 'block';
        //return false to prevent the submission handler from taking the lead to the follow up url.
        return false;
      });
    });
  }
</script>