<svg style="display: none" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <symbol id="cal">
      <g fill="#FFF" fill-rule="nonzero">
        <path
          d="M12.5 14.6h-2.1c-.5 0-.8.4-.8.8v1.3c0 .4.3.8.8.8h2.1c.4 0 .8-.4.8-.8v-1.3c0-.4-.4-.8-.8-.8zM7 14.6H4.8c-.4 0-.8.4-.8.8v1.3c0 .4.3.8.8.8H7c.4 0 .7-.4.7-.8v-1.3c0-.4-.3-.8-.7-.8zM12.5 9.9h-2.1c-.5 0-.8.3-.8.7V12c0 .4.3.8.8.8h2.1c.4 0 .8-.3.8-.8v-1.3c0-.4-.4-.7-.8-.7zM7 9.9H4.8c-.4 0-.8.3-.8.7V12c0 .4.3.8.8.8H7c.4 0 .7-.3.7-.8v-1.3c0-.4-.3-.7-.7-.7zM18.1 9.9h-2.2c-.4 0-.7.3-.7.7V12c0 .4.3.8.7.8h2.2c.4 0 .8-.3.8-.8v-1.3c0-.4-.4-.7-.8-.7z" />
        <path
          d="M22.8 14.9V4.7c0-.6-.3-1.2-.7-1.7-.5-.5-1.2-.9-2-.9h-2V1c0-.5-.4-.9-.9-.9H16c-.5 0-.9.4-.9.9V2H7.8V1C7.8.5 7.4 0 7 0H5.6c-.5 0-.9.4-.9.9V2h-2c-.7 0-1.4.4-1.9.9-.4.5-.7 1-.7 1.7v14c0 1.4 1.2 2.5 2.7 2.5h12.5a5.1 5.1 0 004.5 2.7 5 5 0 005-5 5 5 0 00-2-4zm-8.1 4v.6h-12a.9.9 0 01-.8-.9V8h19v6l-1.1-.1a5 5 0 00-5.1 5zm7.2-.5l-2.1 2.2-.5.2c-.2 0-.4 0-.5-.2l-1.3-1.3c-.2-.3-.2-.7 0-1 .3-.2.7-.2 1 0l.8.9 1.6-1.7c.2-.3.7-.3 1 0 .2.2.2.6 0 .9z" />
      </g>
    </symbol>
    <symbol id="circle" viewBox="0 0 152 152">
      <g fill="none" fill-rule="evenodd">
        <circle stroke="#39B3CA" stroke-width="10" cx="76" cy="76" r="71" /><text
          font-family="ars-maquette-web, sans-serif" font-size="45" font-weight="800" fill="#39B3CA">
          <tspan x="28" y="93">45M</tspan>
        </text></g>
    </symbol>
    <symbol id="arc" viewBox="0 0 152 152">
      <g fill="none" fill-rule="evenodd">
        <g>
          <ellipse stroke="#39B3CA" stroke-width="10" cx="76" cy="76" rx="71" ry="70.8" />
          <path d="M76 0v76L52 4c-2-3 7-4 24-4z" fill="#E9F7FF" />
        </g>
        <text font-family="ars-maquette-web, sans-serif" font-size="45" font-weight="800" fill="#39B3CA">
          <tspan x="32.1" y="93">94%</tspan>
        </text>
      </g>
    </symbol>
    <symbol id="transfer" viewBox="0 0 50 50">
      <g fill="none" fill-rule="evenodd">
        <circle fill="#45B19C" cx="25" cy="25" r="25" />
        <g fill="#FFF" fill-rule="nonzero">
          <path d="M20 24l-8 6 8 5v-3h18v-4H20zM30 26l8-6-8-5v3H12v4h18z" />
        </g>
      </g>
    </symbol>
    <symbol id="close" viewBox="0 0 96 96">
      <path d="M61 32L48 45 35 32l-3 3 13 13-13 13 3 3 13-13 13 13 3-3-13-13 13-13z" />
      <path d="M48 8a40 40 0 100 80 40 40 0 000-80zm0 75a35 35 0 110-70 35 35 0 010 70z" />
    </symbol>
  </defs>
</svg>

<section class="utt hero">
  <span class="presented-by">
    Presented by
    <img src="https://res.cloudinary.com/updater-marketing/image/upload/v1477415298/logos/updater_logo_dev_fixed1.png"
      class="upd-logo" alt="Updater">
  </span>
  <h1>Rethink <svg>
      <use xlink:href="#transfer"></use>
    </svg> Transfer</h1>
  <h2>A roundtable discussion for utility leaders</h2>
  <p>
    We invite you to help us redefine the move of the future. Join Updater for an intimate roundtable discussion on best
    practices for starting, stopping, and moving utility service during a move.
  </p>
  <div class="schedule"><span>August 18 (Tues), 2020</span> <span style="opacity: .3;">&bull;</span> <span>2:00–3:00
      EST</span></div>
  <button class="big-cta">
    <svg>
      <use xlink:href="#cal"></use>
    </svg>
    RSVP
  </button>
  <img class="hero-img"
    src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto,q_auto/v1594155406/utility-initiatives/hero-images/hero-landscape_cropped.png"
    alt="Movers start, stop, and move their utility services">
</section>
<section class="utt content">
  <section class="text-elem">
    <h3>Challenge</h3>
    <p><span class="highlight">45 million Americans</span> move every year and need to start, stop, or move their
      utility service from one home to another. In a 2019 study of Updater movers, <span class="highlight">94% of
        respondents</span> indicated
      that internet and utility setup are the two most important items to handle during the move. However, long-distance
      moves, choice states, and the need to contact multiple companies muddle the process and confuse customers.</p>
  </section>
  <section class="image-elem">
    <div class="charts">
      <svg>
        <use xlink:href="#circle"></use>
      </svg>
      <svg>
        <use xlink:href="#arc"></use>
      </svg>
      <p>94% of movers say that internet and utility setup are the two most critical items to handle during a move.</p>
    </div>
  </section>
</section>
<section class="utt content">
  <section class="image-elem">
    <div class="app-concept">
      <img
        src="https://res.cloudinary.com/updater-marketing/image/upload/v1594159764/utility-initiatives/app-concept/concept_updated_r3_scenario1.gif"
        alt="">
    </div>
  </section>
  <section class="text-elem">
    <h3>Discussion Theme</h3>
    <p>
      Join Updater for a roundtable discussion on <span class="highlight">how to build a more smooth move for customers
        and the transfer of the
        future</span>. Updater is an app to help people move everything for their move&mdash;<em>internet, belongings,
        insurance, mail,
        and more.</em> Electric, gas, and water should be no different.</p>
    <p> Our goal is to <span class="highlight">enable movers to move services of all kinds</span>&mdash;<em>quickly and
        efficiently</em>&mdash;from one home to another, anywhere in the country. Unprecedented and challenging as it
      is, we’re confident that we can build the right technology. But, that begins with the right partnerships. Let’s
      share best practices in mover customer care.
    </p>
    <button class="small-cta toggle-overlay">View Concept Prototype</button>
    <h3>Space is Limited</h3>
    <p>
      On August 18, join 20 of your peers for our first invite-only roundtable discussion via Zoom. <span
        class="highlight">The event is capped
        at 20</span> to ensure we can moderate and guide a discussion that is valuable for all participants.
    </p>
    <button class="big-cta">
      <svg>
        <use xlink:href="#cal"></use>
      </svg>
      RSVP
    </button>
  </section>
</section>
<section class="utt supplementary">
  <section class="presenter">
    <div class="wrapper">
      <h4>Presenter/Moderator</h4>
      <div class="title">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/f_auto/v1583164421/website/2020-b2b-relaunch/company-leaders/sean-barry_white-bg.png"
          alt="Sean Barry">
        <div class="byline">
          <h5>Sean Barry</h5>
          <h6>President, <br />Updater Home Services</h6>
        </div>
      </div>
      <p>The former CEO of Bridgevine, a leading e-commerce solution provider offering a wide array of subscription home
        services, Sean is a transformational leader with an excellent track record for bringing new offerings to market
        for utility, cable, telco, satellite, and retail companies. Prior to joining Bridgevine, Sean served as the
        President of Utility Services and EVP of Business Development at Allconnect.</p>
    </div>
  </section>
  <section class="resources">
    <h4>Insights on Utility and Movers</h4>
    <div class="grid-wrap">
      <div class="grid-item">
        <div class="image">
          <span class="tag article">
            Article
          </span>
          <a href="https://energycentral.com/c/cc/what-utilities-can-learn-mover-behavior" target="_blank"
            rel="noreferrer noopener">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1594179582/utility-initiatives/thumbnails/ec-article.png"
              alt="">
          </a>
        </div>
        <a class="text-link" href="https://energycentral.com/c/cc/what-utilities-can-learn-mover-behavior"
          target="_blank" rel="noreferrer noopener">
          What utilities can learn from mover behavior &bull; <em>Energy Central</em>
        </a>
      </div>
      <div class="grid-item">
        <div class="image">
          <span class="tag webinar">
            Webinar &bull; Video
          </span>
          <a href="https://www.youtube.com/embed/AFSK5x22xPE?autoplay=true" class="lightboxVideo">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1594179582/utility-initiatives/thumbnails/webinar-thumb.png"
              alt="">
          </a>
        </div>
        <a class="text-link" href="https://www.youtube.com/embed/AFSK5x22xPE?autoplay=true">
          Moving Movers to Digital &bull; <em>CS Week 2020</em>
        </a>
      </div>
      <div class="grid-item">
        <div class="image">
          <span class="tag ebook">
            Ebook
          </span>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1593615529/downloads/utility/utility_guide_to_selecting_moving_concierge.pdf"
            target="_blank" rel="noreferrer noopener">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1594179582/utility-initiatives/thumbnails/mc-guide.png"
              alt="">
          </a>
        </div>
        <a class="text-link"
          href="https://res.cloudinary.com/updater-marketing/image/upload/v1593615529/downloads/utility/utility_guide_to_selecting_moving_concierge.pdf"
          target="_blank" rel="noreferrer noopener">
          The utility's guide to selecting a moving concierge
        </a>
      </div>
      <div class="grid-item">
        <div class="image">
          <span class="tag article">
            Article
          </span>
          <a href="/insights/what-do-movers-want-from-their-utility-company" target="_blank" rel="noreferrer noopener">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/v1594179582/utility-initiatives/thumbnails/movers-want.png"
              alt="">
          </a>
        </div>
        <a class="text-link" href="/insights/what-do-movers-want-from-their-utility-company" target="_blank"
          rel="noreferrer noopener">
          What do movers want from their utility companies?
        </a>
      </div>
    </div>
  </section>
  <section class="form">
    <h3>RSVP</h3>
    <h6>Reserve your seat at the virtual table</h6>
    <div class="form-container">
      <div class="basic-info">
        <div class="date-time">
          <span class="form-label">
            Date & Time
          </span>
          <span class="details">
            August 18 (Tues), 2020<br />
            2:00&ndash;3:00 EST
          </span>
        </div>
        <div class="price">
          <span class="form-label">
            Price
          </span>
          <span class="details">
            FREE
          </span>
        </div>
      </div>
      <squarespace:block-field id="utility-think-tank-rsvp" />
    </div>
  </section>
</section>

<section class="utt ux-mockup-overlay">
  <div class="prototypes container-2018">
    <button class="close-modal">
      <svg>
        <use xlink:href="#close"></use>
      </svg>
    </button>
    <h2>Utility Digital Turn-On Concepts</h2>
    <p>Shown below are some initial concepts we've been exploring.</p>
    <ul>
      <li class="active" data-target="s01">
        <h6>Scenario 1</h6>
        <p>Moving within an area <br />with a single provider</p>
      </li>
      <li data-target="s02">
        <h6>Scenario 2</h6>
        <p>Moving between areas <br />with a single provider each</p>
      </li>
      <li data-target="s03">
        <h6>Scenario 3</h6>
        <p>Moving to an area <br />with multiple providers</p>
      </li>
    </ul>
    <section class="s01 active">
      <div class="anim">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1594159764/utility-initiatives/app-concept/concept_updated_r3_scenario1.gif"
          alt="">
      </div>
      <div class="context">
        <h5>Scenario 1</h5>
        <p>Moving within an area with a single provider</p>
        <div class="thumbs">
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235661/utility-initiatives/app-concept/static/case1-utilities-home.png"
            title="Landing screen with a recommended step
          ">
            <img
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235661/utility-initiatives/app-concept/static/case1-utilities-home.png"
              alt="">
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235661/utility-initiatives/app-concept/static/case1-utilities-transfer.png"
            title="Confirming user account details">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235661/utility-initiatives/app-concept/static/case1-utilities-transfer.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235661/utility-initiatives/app-concept/static/case1-utilities-transfer-confirm.png"
            title="Confirmation screen with order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235661/utility-initiatives/app-concept/static/case1-utilities-transfer-confirm.png"
              alt="" />
          </a>
        </div>
      </div>
    </section>
    <section class="s02">
      <div class="anim">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1594238976/utility-initiatives/app-concept/concept_updated_r4_scenario2.gif"
          alt="">
      </div>
      <div class="context">
        <h5>Scenario 2</h5>
        <p>Moving between areas with a single provider each</p>
        <div class="thumbs">
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235662/utility-initiatives/app-concept/static/case2-utilities-home.png"
            title="Landing screen with recommended steps. 'Transfer' option is unavailable, thus not showing ">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235662/utility-initiatives/app-concept/static/case2-utilities-home.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235662/utility-initiatives/app-concept/static/case2-utilities-stop.png"
            title="Confirming user account details">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235662/utility-initiatives/app-concept/static/case2-utilities-stop.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235661/utility-initiatives/app-concept/static/case2-utilities-stop-confirm.png"
            title="Confirmation screen with order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235661/utility-initiatives/app-concept/static/case2-utilities-stop-confirm.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235661/utility-initiatives/app-concept/static/case2-utilities-home-pending.png"
            title="Showing that start application is pending, with the order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235661/utility-initiatives/app-concept/static/case2-utilities-home-pending.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594238563/utility-initiatives/app-concept/static/case2-utilities-start_r2B.png"
            title="Confirming user account details">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594238563/utility-initiatives/app-concept/static/case2-utilities-start_r2B.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594238020/utility-initiatives/app-concept/static/case2-utilities-start-confirm_r2.png"
            title="Confirmation screen with order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594238020/utility-initiatives/app-concept/static/case2-utilities-start-confirm_r2.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235663/utility-initiatives/app-concept/static/case2-utilities-home-all-pending.png"
            title="When all actions completed — showing each order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235663/utility-initiatives/app-concept/static/case2-utilities-home-all-pending.png"
              alt="" />
          </a>
        </div>
      </div>
    </section>
    <section class="s03">
      <div class="anim">
        <img
          src="https://res.cloudinary.com/updater-marketing/image/upload/v1594240731/utility-initiatives/app-concept/concept_updated_r4_scenario3.gif"
          alt="">
      </div>
      <div class="context">
        <h5>Scenario 3</h5>
        <p>Moving to an area with multiple providers</p>
        <div class="thumbs">
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235662/utility-initiatives/app-concept/static/case3-utilities-home.png"
            title="Landing screen with recommended steps. 'Transfer' option is unavailable, thus not showing ">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235662/utility-initiatives/app-concept/static/case3-utilities-home.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235663/utility-initiatives/app-concept/static/case3-utilities-stop.png"
            title="Confirming user account details">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235663/utility-initiatives/app-concept/static/case3-utilities-stop.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235663/utility-initiatives/app-concept/static/case3-utilities-stop-confirm.png"
            title="Confirmation screen with order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235663/utility-initiatives/app-concept/static/case3-utilities-stop-confirm.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235662/utility-initiatives/app-concept/static/case3-utilities-home-pending.png"
            title="Showing that start application is pending, with the order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235662/utility-initiatives/app-concept/static/case3-utilities-home-pending.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-pick-provider_r4.png"
            title="Start by picking a provider">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-pick-provider_r4.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-pick-plan_r4.png"
            title="Then select a plan">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-pick-plan_r4.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-review-details_r4.png"
            title="Review plan details before confirming">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-review-details_r4.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-confirmation_r4.png"
            title="Confirmation screen with order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594240826/utility-initiatives/app-concept/static/case3-utilities-start-confirmation_r4.png"
              alt="" />
          </a>
          <a href="https://res.cloudinary.com/updater-marketing/image/upload/v1594235663/utility-initiatives/app-concept/static/case2-utilities-home-all-pending.png"
            title="When all actions completed — showing each order number">
            <img class="thumb"
              src="https://res.cloudinary.com/updater-marketing/image/upload/w_150,c_scale/v1594235663/utility-initiatives/app-concept/static/case2-utilities-home-all-pending.png"
              alt="" />
          </a>
        </div>
      </div>
    </section>
  </div>
</section>

<link rel="stylesheet" href="/assets/simpleLightbox.min.css" />
<squarespace:script src="simpleLightbox.min.js" combo="true" />
<script>
  window.addEventListener('load', function () {

    new SimpleLightbox({
      elements: "a.lightboxVideo"
    })

    new SimpleLightbox({
      elements: ".s01 a"
    })
    new SimpleLightbox({
      elements: ".s02 a"
    })
    new SimpleLightbox({
      elements: ".s03 a"
    })

    function jump() {
      window.scrollTo({
        top: document.querySelector('.form').offsetTop,
        behavior: 'smooth'
      })
    }

    function toggleOverlay() {
      document.querySelector('.ux-mockup-overlay').classList.toggle('active');
    }

    function toggleUXSection(e) {
      var targetSection = e.currentTarget.dataset.target;

      document.querySelectorAll('.ux-mockup-overlay li').forEach(function (li) {
        if (li.dataset.target === targetSection) {
          li.classList.add('active');
        } else {
          li.classList.remove('active');
        }
      })

      document.querySelectorAll('.ux-mockup-overlay section').forEach(function (section) {
        if (section.classList.contains(targetSection)) {
          section.classList.add('active');
        } else {
          section.classList.remove('active');
        }
      })
    }

    document.querySelector('.app-concept img').addEventListener('click', toggleOverlay);
    document.querySelectorAll('.ux-mockup-overlay li').forEach(function (li) {
      li.addEventListener('click', toggleUXSection);
    })
    document.querySelector('.toggle-overlay').addEventListener('click', toggleOverlay);
    document.querySelector('.close-modal').addEventListener('click', toggleOverlay);
    document.querySelectorAll('.big-cta').forEach(function (btn) {
      btn.addEventListener('click', jump);
    })

  });
</script>